Repository BitGo/BitGoJS: changes, and which Codecov flags are due for each by the changed paths.
All: bitgo, account-lib, statics, express

fix(sdk-coin-avaxp): fix parseTransaction throwing error for pending approval Ticket: BG-63957
  modules/sdk-coin-avaxp/src/avaxp.ts
  modules/sdk-core/src/bitgo/baseCoin/baseCoin.ts
Due: none

fix(sdk-core): fix generate wallets isCold param
  modules/bitgo/test/v2/unit/wallets.ts
  modules/sdk-core/src/bitgo/wallet/wallets.ts
Due: none

fix(sdk-coin-sui): add allowAccountConsolidations
  modules/sdk-coin-sui/src/sui.ts
Due: none

chore(statics): add filecoin erc20 contract
  modules/statics/src/coins.ts
Due: statics

chore: add allowsAccountConsolidation support to sui coin
  modules/sdk-coin-sui/src/sui.ts
Due: none

feat(sdk-coin-avaxp): add cros chain data to tx json
  modules/sdk-coin-avaxp/src/lib/iface.ts
  modules/sdk-coin-avaxp/src/lib/transaction.ts
  modules/sdk-coin-avaxp/test/unit/lib/transactionBuilderFactory.ts
Due: none

chore(account-lib): add unit tests for ecdsa bip32
  modules/account-lib/test/unit/mpc/tss/ecdsa/ecdsa.ts
Due: account-lib

refactor(sdk-coin-eth): refactor helper methods and add docs
  modules/sdk-coin-eth/src/eth.ts
Due: none

feat(core): add register to base interface
  modules/sdk-coin-btc/src/index.ts
  modules/sdk-coin-btc/src/register.ts
  modules/sdk-core/src/bitgo/bitgoBase.ts
  modules/sdk-core/src/bitgo/coinFactory.ts
Due: none

feat(web-demo): add dynamic coin page
  modules/web-demo/package.json
  modules/web-demo/src/App.tsx
  modules/web-demo/src/components/BitGoAPI/index.tsx
  modules/web-demo/src/components/Coins/coinFactory.ts
  modules/web-demo/src/components/Coins/index.tsx
  modules/web-demo/src/components/Navbar/index.tsx
  modules/web-demo/tsconfig.json
  yarn.lock
Due: none

fix(sdk-coin-sui): remove amount from payAll serialized txn
  modules/sdk-coin-sui/src/lib/bcs.ts
  modules/sdk-coin-sui/src/lib/iface.ts
  modules/sdk-coin-sui/src/lib/transaction.ts
  modules/sdk-coin-sui/src/lib/transactionBuilder.ts
  modules/sdk-coin-sui/test/resources/sui.ts
  modules/sdk-coin-sui/test/unit/transactionBuilder/transactionBuilder.ts
Due: none

feat(utxo-lib): function for bitgo psbt parsing
  modules/utxo-lib/src/bitgo/UtxoPsbt.ts
  modules/utxo-lib/src/bitgo/parseInput.ts
  modules/utxo-lib/src/bitgo/wallet/Psbt.ts
  modules/utxo-lib/test/bitgo/psbt/Psbt.ts
  modules/utxo-lib/test/bitgo/psbt/psbtUtil.ts
  modules/utxo-lib/test/bitgo/wallet/util.ts
Due: none

feat(utxo-lib): new psbt parser is used for p2tr pub key
  modules/utxo-lib/src/bitgo/UtxoPsbt.ts
  modules/utxo-lib/src/bitgo/outputScripts.ts
  modules/utxo-lib/src/bitgo/wallet/Psbt.ts
Due: none

chore: onboard new batch of tokens
  modules/statics/src/base.ts
  modules/statics/src/coins.ts
Due: statics

fix(statics): remove fil ofc with no erc backing
  modules/statics/src/base.ts
  modules/statics/src/coins.ts
Due: statics

fix(statics): add missing backing erc20 for fil
  modules/statics/src/coins.ts
Due: statics

feat(utxo-lib): adding psbt parser to index
  modules/utxo-lib/src/bitgo/wallet/index.ts
Due: none

chore(sdk-coin-eth): tweak return type
  modules/sdk-coin-eth/src/eth.ts
Due: none

chore(sdk-coin-algo): lock algosdk version
  modules/sdk-coin-algo/package.json
  yarn.lock
Due: none

fix(sdk-coin-sui): fix explainTransaction when amounts is empty Ticket: BG-64130
  modules/sdk-coin-sui/src/lib/transaction.ts
  modules/sdk-coin-sui/test/unit/transaction.ts
Due: none

feat(sdk-coin-trx): add tron tokens in verifyTransaction method
  modules/sdk-coin-trx/src/trx.ts
Due: none

feat: added eip712 sign typed data
  modules/bitgo/test/v2/unit/wallet.ts
  modules/sdk-coin-eth/package.json
  modules/sdk-coin-eth/src/eth.ts
  modules/sdk-core/src/bitgo/baseCoin/baseCoin.ts
  modules/sdk-core/src/bitgo/baseCoin/iBaseCoin.ts
  modules/sdk-core/src/bitgo/utils/tss/baseTSSUtils.ts
  modules/sdk-core/src/bitgo/utils/tss/baseTypes.ts
  modules/sdk-core/src/bitgo/wallet/iWallet.ts
  modules/sdk-core/src/bitgo/wallet/wallet.ts
  webpack/bitgojs.config.js
  yarn.lock
Due: none

refactor(sdk-coin-polygon): add tss recover flow to polygon
  modules/sdk-coin-eth/src/eth.ts
  modules/sdk-coin-polygon/src/polygon.ts
  modules/sdk-coin-polygon/test/fixtures/polygon.ts
  modules/sdk-coin-polygon/test/unit/polygon.ts
Due: none

chore(sdk-coin-polygon): fix package.json
  modules/sdk-coin-polygon/package.json
Due: none

fix(blockapis): upgrade @types/superagent from 4.1.15 to 4.1.16
  modules/blockapis/package.json
Due: none

feat(sdk-coin-trx): export trx token transaction builder
  modules/sdk-coin-trx/src/lib/index.ts
Due: none

feat(sdk-core): derive unhardened method for ecdsa
  modules/account-lib/test/unit/mpc/tss/ecdsa/ecdsa.ts
  modules/sdk-core/src/account-lib/mpc/tss/ecdsa/ecdsa.ts
Due: account-lib

fix(sdk-coin-dot): update DOT sweep keepAlive conditional
  modules/sdk-coin-dot/src/lib/nativeTransferBuilder.ts
Due: none

chore(statics): remove erc20 fil token
  modules/statics/src/base.ts
  modules/statics/src/coins.ts
Due: statics

feat(utxo-lib): support for unsigned tx with pub scripts
  modules/utxo-lib/src/bitgo/wallet/Psbt.ts
Due: none

chore(sdk-coin-eth): rename recoverEthLike
  modules/sdk-coin-eth/src/eth.ts
  modules/sdk-coin-polygon/src/polygon.ts
Due: none

feat(sdk-coin-trx): support signing trx consolidations
  modules/sdk-coin-trx/src/trx.ts
Due: none

fix: remove final sig construction for message signing
  modules/sdk-coin-eth/src/eth.ts
  modules/sdk-core/src/bitgo/features/constructFinalSignedMessageHash.ts
  modules/sdk-core/src/bitgo/wallet/wallet.ts
Due: none

feat(sdk-coin-trx): export TronErc20Coin class
  modules/statics/src/index.ts
Due: statics

feat(statics): update unit tests to catch OfcCoin & ETH issues
  modules/statics/src/coins.ts
  modules/statics/test/unit/coins.ts
Due: statics

chore: update dockerfile
  Dockerfile
Due: none

feat(sdk-core): support fund forwader
  examples/ts/eth/fund-forwarder.ts
  modules/sdk-core/src/bitgo/wallet/iWallet.ts
  modules/sdk-core/src/bitgo/wallet/wallet.ts
Due: none

feat: refactor express
  modules/express/.mocharc.js
  modules/express/nodemon.json
  modules/express/package.json
  modules/express/src/clientRoutes.ts
  modules/express/src/expressApp.ts
  modules/express/src/global.d.ts
  modules/express/src/routes/api/index.ts
  modules/express/src/routes/api/v1/index.ts
  modules/express/src/routes/api/v1/keychain.ts
  modules/express/src/routes/api/v1/pending-approvals.ts
  modules/express/src/routes/api/v1/wallets.ts
  modules/express/src/routes/api/v12.ts
  modules/express/src/routes/api/v2/addresses.ts
  modules/express/src/routes/api/v2/index.ts
  modules/express/src/routes/api/v2/keychain.ts
  modules/express/src/routes/api/v2/pending-approvals.ts
  modules/express/src/routes/api/v2/tokens.ts
  modules/express/src/routes/api/v2/transactions.ts
  modules/express/src/routes/api/v2/wallets.ts
  modules/express/src/routes/index.ts
  modules/express/src/services/v12/address.ts
  modules/express/src/services/v12/misc.ts
  modules/express/src/services/v12/transaction.ts
  modules/express/src/services/v2/address.ts
  modules/express/src/services/v2/token.ts
  modules/express/src/services/v2/transaction.ts
  modules/express/src/services/v2/wallet.ts
  modules/express/src/swagger-output.json
  modules/express/src/utils/index.ts
  modules/express/src/utils/middleware.ts
  modules/express/src/utils/types.ts
  modules/express/src/utils/utils.ts
  modules/express/swagger.ts
  modules/express/tsconfig.json
Due: express

Path conditions:
  bitgo: any of: modules/core
  account-lib: any of: modules/account-lib
  statics: any of: modules/statics
  express: any of: modules/express
