Repository BitGo/BitGoJS: changes, and which Codecov flags are due for each by the changed paths.
All: bitgo, account-lib, statics, express

.codecov.yml:

coverage:
  status:
    project: off
    patch: off
comment:
  layout: 'diff, flags, files'
  require_changes: true
flags:
  bitgo:
    paths:
      - modules/bitgo
  account-lib:
    paths:
      - modules/account-lib
  statics:
    paths:
      - modules/statics
  express:
    paths:
      - modules/express

feat(sdk-core): add ECDSA prod nitro key for mpcv2
  modules/sdk-core/src/bitgo/tss/bitgoPubKeys.ts
Due: none

feat(statics): update hoodeth mainnet configuration
  modules/sdk-core/src/bitgo/environments.ts
  modules/statics/src/map.ts
  modules/statics/src/networks.ts
Due: statics

fix(deps): upgrade axios to 1.15.2 to patch CVE vulnerabilities
  package.json
Due: none

fix(deps): upgrade axios to 1.15.2 to patch security vulnerabilities
  modules/sdk-coin-atom/package.json
  modules/sdk-coin-sui/package.json
  modules/utxo-lib/package.json
  package.json
  yarn.lock
Due: none

fix(deps): update yarn.lock for axios 1.15.2 upgrade
  yarn.lock
Due: none

feat: onboard GoQXMP stablecoin token
  modules/statics/src/base.ts
  modules/statics/src/coins/erc20Coins.ts
  modules/statics/src/coins/ofcErc20Coins.ts
  modules/statics/test/unit/tokenNamingConvention.ts
Due: statics

feat: add EVM_KEYRING_UNSUPPORTED coin feature flag
  modules/statics/src/base.ts
  modules/statics/src/coinFeatures.ts
Due: statics

feat(statics): add BULK_STAKING_TRANSACTION feature to eth and hteth
  modules/statics/src/allCoinsAndTokens.ts
  modules/statics/src/coinFeatures.ts
  modules/statics/test/unit/coins.ts
Due: statics

feat(statics): update BULK_STAKING_TRANSACTION for eth and apt
  modules/statics/src/allCoinsAndTokens.ts
  modules/statics/src/coinFeatures.ts
  modules/statics/test/unit/coins.ts
Due: statics

Revert "feat(statics): add BULK_STAKING_TRANSACTION feature to eth and hteth"
  modules/statics/src/allCoinsAndTokens.ts
  modules/statics/test/unit/coins.ts
Due: statics

fix(statics): disallow BULK_STAKING_TRANSACTION feature for OFC coins
  modules/statics/src/ofc.ts
Due: statics

fix(express): fix pipeline issues for encrypt/decrypt routes
  modules/express/openapi-generator.rc.js
  modules/express/src/typedRoutes/api/common/decrypt.ts
  modules/express/src/typedRoutes/api/common/encrypt.ts
Due: express

feat(sdk-core): add registerPasskey function
  modules/passkey-crypto/package.json
  modules/passkey-crypto/src/index.ts
  modules/passkey-crypto/src/registerPasskey.ts
  modules/passkey-crypto/test/unit/registerPasskey.test.ts
Due: none

fix(express): fix t.Int crash by using local IntegerC alias
  modules/express/openapi-generator.rc.js
  modules/express/src/typedRoutes/api/v2/generateWallet.ts
  modules/express/src/typedRoutes/schemas/primitives.ts
Due: express

chore(statics): add staking and custody feature to lightning
  modules/statics/src/lightning.ts
  modules/statics/test/unit/coins.ts
Due: statics

feat: add lightning keycard generation to @bitgo/key-card
  commitlint.config.js
  modules/key-card/src/faq.ts
  modules/key-card/src/generateQrData.ts
  modules/key-card/src/index.ts
  modules/key-card/src/types.ts
  modules/key-card/test/unit/faq.ts
  modules/key-card/test/unit/generateQrData.ts
Due: none

docs(express): split pingExpress into v1 and v2
  modules/express/src/clientRoutes.ts
  modules/express/src/typedRoutes/api/common/pingExpress.ts
  modules/express/src/typedRoutes/api/index.ts
  modules/express/src/typedRoutes/api/v1/pingExpress.ts
  modules/express/src/typedRoutes/api/v2/pingExpress.ts
  modules/express/test/unit/typedRoutes/pingExpress.ts
Due: express

fix(passkey-crypto): pin sdk-core to 36.44.0
  modules/passkey-crypto/package.json
Due: none

feat(passkey-crypto): add attachPasskeyToWallet function
  modules/passkey-crypto/package.json
  modules/passkey-crypto/src/attachPasskeyToWallet.ts
  modules/passkey-crypto/src/deriveEnterpriseSalt.ts
  modules/passkey-crypto/test/unit/attachPasskeyToWallet.test.ts
  modules/passkey-crypto/test/unit/deriveEnterpriseSalt.test.ts
Due: none

feat(sdk-core): add explicit recipient mode typing for TSS signTxRequest
  modules/bitgo/test/v2/unit/internal/tssUtils/ecdsaMPCv2/signTxRequest.ts
  modules/sdk-core/src/bitgo/utils/tss/baseTSSUtils.ts
  modules/sdk-core/src/bitgo/utils/tss/baseTypes.ts
  modules/sdk-core/src/bitgo/utils/tss/ecdsa/ecdsa.ts
  modules/sdk-core/src/bitgo/utils/tss/ecdsa/ecdsaMPCv2.ts
  modules/sdk-core/src/bitgo/utils/tss/eddsa/eddsa.ts
Due: bitgo

refactor(express): split login endpoint into V1 and V2
  modules/express/src/clientRoutes.ts
  modules/express/src/typedRoutes/api/index.ts
  modules/express/src/typedRoutes/api/v1/login.ts
  modules/express/src/typedRoutes/api/v2/login.ts
  modules/express/test/unit/typedRoutes/decode.ts
  modules/express/test/unit/typedRoutes/userLogin.ts
Due: express

feat(passkey-crypto): add removePasskeyFromWallet function
  modules/passkey-crypto/src/index.ts
  modules/passkey-crypto/src/removePasskeyFromWallet.ts
  modules/passkey-crypto/test/unit/removePasskeyFromWallet.test.ts
Due: none

feat(sdk-core): add derivePasskeyPrfKey function
  modules/passkey-crypto/src/derivePasskeyPrfKey.ts
  modules/passkey-crypto/test/unit/derivePasskeyPrfKey.test.ts
Due: none

feat(sdk-core): added OFC BitGo signing on trading accounts object
  modules/sdk-core/src/bitgo/trading/iTradingAccount.ts
  modules/sdk-core/src/bitgo/trading/tradingAccount.ts
  modules/sdk-core/src/bitgo/wallet/iWallet.ts
  modules/sdk-core/test/unit/bitgo/trading/tradingAccount.ts
  modules/sdk-core/test/unit/bitgo/wallet/ofcWalletSignTransaction.ts
Due: none

feat(sdk-core): make wallet passphrase optioanl for prepareAllocation
  modules/sdk-core/src/bitgo/trading/network/network.ts
  modules/sdk-core/src/bitgo/trading/network/types.ts
Due: none

feat(express): support optional passphrase in handleV2OFCSignPayload
  modules/express/src/clientRoutes.ts
  modules/express/test/unit/typedRoutes/ofcSignPayload.ts
Due: express

fix(passkey-crypto): change deriveEnterpriseSalt output encoding from base64 to base64url
  modules/passkey-crypto/package.json
  modules/passkey-crypto/src/attachPasskeyToWallet.ts
  modules/passkey-crypto/src/deriveEnterpriseSalt.ts
  modules/passkey-crypto/test/unit/deriveEnterpriseSalt.test.ts
Due: none

feat: add lightning provider to generateWallet
  modules/sdk-core/src/bitgo/wallet/iWallets.ts
Due: none

fix(sdk-coin-xdc): add tokenApproval and consolidate to verifyTssTransaction bypass list
  modules/sdk-coin-xdc/src/xdc.ts
  modules/sdk-coin-xdc/src/xdcToken.ts
  modules/sdk-coin-xdc/test/unit/xdcToken.ts
Due: none

fix(bitgo): format mpcv2 signTxRequest recipientSource test
  modules/bitgo/test/v2/unit/internal/tssUtils/ecdsaMPCv2/signTxRequest.ts
Due: bitgo

feat(sdk-coin-hbar): add AccountUpdate support to explainTransaction in BitGoJS
  modules/sdk-coin-hbar/src/hbar.ts
  modules/sdk-coin-hbar/test/unit/hbar.ts
Due: none

fix: exclude GHSA-rpmf-866q-6p89 from yarn audit to unblock publish
  .iyarc
Due: none

fix(deps): bump basic-ftp to 5.3.1 to resolve GHSA-rpmf-866q-6p89
  package.json
  yarn.lock
Due: none

feat(sdk-core): add bulk TRX resource delegation SDK methods
  CODEOWNERS
  modules/express/src/clientRoutes.ts
  modules/express/src/typedRoutes/api/index.ts
  modules/express/src/typedRoutes/api/v2/delegateResources.ts
  modules/express/src/typedRoutes/api/v2/undelegateResources.ts
  modules/express/test/unit/clientRoutes/bulkResourceManagement.ts
  modules/sdk-coin-trx/src/trx.ts
  modules/sdk-core/src/bitgo/baseCoin/baseCoin.ts
  modules/sdk-core/src/bitgo/baseCoin/iBaseCoin.ts
  modules/sdk-core/src/bitgo/wallet/iWallet.ts
  modules/sdk-core/src/bitgo/wallet/wallet.ts
  modules/sdk-core/test/unit/bitgo/wallet/resourceManagement.ts
Due: express

chore: deprecation of sonic testnet
  modules/statics/src/networks.ts
Due: statics

feat: remove staking feature for lightning
  modules/statics/src/lightning.ts
Due: statics

feat(sdk-core): add EdDSA MPCv2 DSG helpers and DKG key-share util
  modules/sdk-core/src/bitgo/tss/common.ts
  modules/sdk-core/src/bitgo/tss/eddsa/eddsaMPCv2.ts
  modules/sdk-core/src/index.ts
  modules/sdk-core/test/unit/bitgo/utils/tss/eddsa/eddsaMPCv2.ts
  modules/sdk-lib-mpc/src/tss/eddsa-mps/util.ts
  modules/sdk-lib-mpc/test/unit/tss/eddsa/dkg.ts
  modules/sdk-lib-mpc/test/unit/tss/eddsa/eddsa-utils.ts
  modules/sdk-lib-mpc/test/unit/tss/eddsa/util.ts
Due: none
