Repository BitGo/BitGoJS: changes, and which Codecov flags are due for each by the changed paths.
All: bitgo, account-lib, statics, express

.codecov.yml:

coverage:
  status:
    project: off
    patch: off
comment:
  layout: "diff, flags, files"
  require_changes: true
flags:
  bitgo:
    paths:
      - modules/core
  account-lib:
    paths:
      - modules/account-lib
  statics:
    paths:
      - modules/statics
  express:
    paths:
      - modules/express

chore(express): fix types
  modules/express/package-lock.json
  modules/express/package.json
  modules/express/tsconfig.json
  yarn.lock
Due: express

chore(release): publish modules
  modules/account-lib/CHANGELOG.md
  modules/account-lib/package.json
  modules/bitgo/CHANGELOG.md
  modules/bitgo/package.json
  modules/statics/CHANGELOG.md
  modules/statics/package.json
  modules/utxo-bin/CHANGELOG.md
  modules/utxo-bin/package.json
Due: account-lib, statics

chore(release): publish modules
  modules/blockapis/package.json
  modules/bls-dkg/package.json
  modules/express/package-lock.json
  modules/express/package.json
  modules/sdk-api/package.json
  modules/sdk-core/package.json
  modules/sjcl/package.json
  modules/unspents/package.json
  modules/utxo-lib/package.json
Due: express

chore(utxo-lib): add prettierignore, apply prettier
  modules/utxo-lib/.mocharc.js
  modules/utxo-lib/.prettierignore
Due: none

fix(utxo-lib): update zcash NU5_BRANCH_ID
  modules/utxo-lib/src/bitgo/zcash/ZcashTransaction.ts
  modules/utxo-lib/test/integration_local_rpc/fixtures/zcashTest/v400/deposit_p2pkh.json
  modules/utxo-lib/test/integration_local_rpc/fixtures/zcashTest/v400/deposit_p2sh.json
  modules/utxo-lib/test/integration_local_rpc/fixtures/zcashTest/v400/spend_p2sh.json
  modules/utxo-lib/test/integration_local_rpc/fixtures/zcashTest/v450/deposit_p2pkh.json
  modules/utxo-lib/test/integration_local_rpc/fixtures/zcashTest/v450/deposit_p2sh.json
  modules/utxo-lib/test/integration_local_rpc/fixtures/zcashTest/v450/spend_p2sh.json
  modules/utxo-lib/test/integration_local_rpc/generate/RpcClient.ts
  modules/utxo-lib/test/integration_local_rpc/generate/fixtures.ts
  modules/utxo-lib/test/integration_local_rpc/generate/regtestNode.ts
  modules/utxo-lib/test/integration_local_rpc/parse.ts
Due: none

test(bitgo): disable flaky test
  modules/bitgo/test/v2/unit/coins/eth2.ts
Due: none

fix(bitgo): defer instantiation of coin constructors
  modules/bitgo/src/v2/coinFactory.ts
Due: none

test(bitgo): update tzec test fixtures
  modules/bitgo/test/v2/unit/coins/utxo/fixtures/tzec/recovery/backupKeyRecovery-p2sh-fullSignedRecovery-customUserKeyPath.json
  modules/bitgo/test/v2/unit/coins/utxo/fixtures/tzec/recovery/backupKeyRecovery-p2sh-fullSignedRecovery.json
  modules/bitgo/test/v2/unit/coins/utxo/fixtures/tzec/recovery/backupKeyRecovery-p2sh-keyRecoveryService.json
  modules/bitgo/test/v2/unit/coins/utxo/fixtures/tzec/transactions-p2sh-p2sh.json
Due: none

chore(release): publish modules
  modules/account-lib/package.json
  modules/bitgo/package.json
  modules/blockapis/package.json
  modules/sdk-api/package.json
  modules/statics/package.json
  modules/unspents/package.json
  modules/utxo-bin/package.json
  modules/utxo-lib/package.json
Due: account-lib, statics

feat(bitgo): added sdk version to constants call
  modules/sdk-api/src/bitgoAPI.ts
Due: none

chore(bitgo): remove rc tags
  modules/account-lib/package.json
  modules/bitgo/package.json
  modules/sdk-api/package.json
  modules/statics/CHANGELOG.md
  modules/statics/package.json
  modules/utxo-bin/package.json
Due: account-lib, statics

feat(account-lib): added missing exports for Near staking related builders BG-39200
  modules/account-lib/src/coin/near/index.ts
Due: account-lib

feat(account-lib): added missing exports for Near staking related builders Ticket: STLX-15019
  modules/account-lib/src/coin/near/index.ts
Due: account-lib

docs(utxo-lib): fix link to btg examples
  modules/utxo-lib/EXAMPLES.md
Due: none

feat(bls-dkg): bLS-DKG HD support library implementation
  modules/bls-dkg/index.js
  modules/bls-dkg/test/bls-dkg.js
Due: none

chore(web-demo): project init
  modules/account-lib/package.json
  modules/bitgo/.lintstagedrc.yml
  modules/bitgo/package.json
  modules/express/.lintstagedrc.yml
  modules/express/package.json
  modules/sdk-api/package.json
  modules/sdk-core/package.json
  modules/statics/package.json
  modules/web-demo/.browserslistrc
  modules/web-demo/.eslintrc.json
  modules/web-demo/.gitignore
  modules/web-demo/.prettierrc
  modules/web-demo/package.json
  modules/web-demo/src/App.tsx
  modules/web-demo/src/assets/fonts/.gitkeep
  modules/web-demo/src/assets/images/.gitkeep
  modules/web-demo/src/assets/stylesheets/.gitkeep
  modules/web-demo/src/assets/stylesheets/app.scss
  modules/web-demo/src/assets/vendor/.gitkeep
  modules/web-demo/src/components/BitGoAPI/index.tsx
  modules/web-demo/src/components/BitGoJS/index.tsx
  modules/web-demo/src/components/Home/index.tsx
  modules/web-demo/src/components/Home/styles.tsx
  modules/web-demo/src/components/Layout/index.tsx
  modules/web-demo/src/components/Layout/styles.tsx
  modules/web-demo/src/components/Navbar/index.tsx
  modules/web-demo/src/components/Navbar/styles.tsx
  modules/web-demo/src/index.html
  modules/web-demo/src/index.tsx
  modules/web-demo/tsconfig.json
  modules/web-demo/webpack/base.config.js
  modules/web-demo/webpack/bitgojs.config.js
  modules/web-demo/webpack/dev.config.js
  modules/web-demo/webpack/prod.config.js
  package.json
  tsconfig.packages.json
  yarn.lock
Due: account-lib, statics, express

chore(web-demo): add cypress component tests
  modules/web-demo/.eslintrc.json
  modules/web-demo/.gitignore
  modules/web-demo/cypress.json
  modules/web-demo/cypress/plugins/index.js
  modules/web-demo/cypress/support/commands.js
  modules/web-demo/cypress/support/index.js
  modules/web-demo/package.json
  modules/web-demo/src/components/BitGoAPI/bitgo-api.spec.tsx
  modules/web-demo/src/components/BitGoJS/bitgojs.spec.tsx
  modules/web-demo/src/components/BitGoJS/index.tsx
  modules/web-demo/tsconfig.json
  package.json
  yarn.lock
Due: none

feat(statics): cFX token deletion from bitgo wallet
  modules/statics/src/base.ts
  modules/statics/src/coins.ts
Due: statics

feat(statics): create statics for dogecoin
  modules/statics/src/base.ts
  modules/statics/src/coins.ts
  modules/statics/src/networks.ts
Due: statics

feat(statics): create statics for dogecoin
  modules/bitgo/test/v2/unit/keychains.ts
  modules/statics/src/base.ts
  modules/statics/src/coins.ts
  modules/statics/src/networks.ts
Due: statics

chore(account-lib): fix incorrect test assertions
  modules/account-lib/test/unit/coin/algo/utils.ts
  modules/account-lib/test/unit/coin/celo/transactionBuilder/walletInitialization.ts
  modules/account-lib/test/unit/coin/cspr/transactionBuilder/delegateBuilder.ts
  modules/account-lib/test/unit/coin/cspr/transactionBuilder/undelegateBuilder.ts
  modules/account-lib/test/unit/coin/cspr/transactionBuilder/walletInitialization.ts
  modules/account-lib/test/unit/coin/dot/keypair.ts
  modules/account-lib/test/unit/coin/eth/transactionBuilder/send.ts
  modules/account-lib/test/unit/coin/eth/transactionBuilder/walletInitialization.ts
  modules/account-lib/test/unit/coin/hbar/transactionBuilder/walletInitialization.ts
  modules/account-lib/test/unit/coin/hbar/utils.ts
  modules/account-lib/test/unit/coin/near/keyPair.ts
  modules/account-lib/test/unit/coin/near/transactionBuilder/transactionBuilder.ts
Due: account-lib

chore(release): publish modules
  modules/account-lib/CHANGELOG.md
  modules/account-lib/package.json
  modules/bitgo/CHANGELOG.md
  modules/bitgo/package.json
  modules/blockapis/CHANGELOG.md
  modules/blockapis/package.json
  modules/bls-dkg/CHANGELOG.md
  modules/bls-dkg/package.json
  modules/express/CHANGELOG.md
  modules/express/package-lock.json
  modules/express/package.json
  modules/sdk-api/CHANGELOG.md
  modules/sdk-api/package.json
  modules/statics/CHANGELOG.md
  modules/statics/package.json
  modules/unspents/CHANGELOG.md
  modules/unspents/package.json
  modules/utxo-bin/CHANGELOG.md
  modules/utxo-bin/package.json
  modules/utxo-lib/CHANGELOG.md
  modules/utxo-lib/package.json
Due: account-lib, statics, express

feat(bitgo): add parse transaction in core
  modules/bitgo/src/v2/coins/near.ts
  modules/bitgo/test/v2/unit/coins/near.ts
Due: none

chore(account-lib): move baseCoin to sdk-core
  modules/sdk-core/src/account-lib/baseCoin/baseKeyPair.ts
  modules/sdk-core/src/account-lib/baseCoin/baseTransaction.ts
  modules/sdk-core/src/account-lib/baseCoin/baseTransactionBuilder.ts
  modules/sdk-core/src/account-lib/baseCoin/baseTransactionBuilderFactory.ts
  modules/sdk-core/src/account-lib/baseCoin/baseUtils.ts
  modules/sdk-core/src/account-lib/baseCoin/blsKeyPair.ts
  modules/sdk-core/src/account-lib/baseCoin/ed25519KeyPair.ts
  modules/sdk-core/src/account-lib/baseCoin/enum.ts
  modules/sdk-core/src/account-lib/baseCoin/errors.ts
  modules/sdk-core/src/account-lib/baseCoin/iface.ts
  modules/sdk-core/src/account-lib/baseCoin/index.ts
  modules/sdk-core/src/account-lib/baseCoin/secp256k1ExtendedKeyPair.ts
  modules/sdk-core/src/account-lib/util/crypto.ts
  modules/sdk-core/src/account-lib/util/ed25519KeyDeriver.ts
Due: none

chore(account-lib): code changes post move
  modules/account-lib/src/coin/hbar/utils.ts
  modules/sdk-core/package.json
  modules/sdk-core/src/account-lib/baseCoin/baseTransactionBuilderFactory.ts
  modules/sdk-core/src/account-lib/baseCoin/blsKeyPair.ts
  modules/sdk-core/src/account-lib/baseCoin/ed25519KeyPair.ts
  modules/sdk-core/src/account-lib/baseCoin/index.ts
  modules/sdk-core/src/account-lib/baseCoin/secp256k1ExtendedKeyPair.ts
  modules/sdk-core/src/account-lib/index.ts
  modules/sdk-core/src/account-lib/util/crypto.ts
  modules/sdk-core/src/index.ts
  modules/sdk-core/tsconfig.json
Due: account-lib

chore(bitgo): refactor baseCoin references
  modules/bitgo/src/v2/baseCoin.ts
  modules/bitgo/src/v2/coins/algo.ts
  modules/bitgo/src/v2/coins/cspr.ts
  modules/bitgo/src/v2/coins/near.ts
  modules/bitgo/src/v2/coins/sol.ts
  modules/bitgo/src/v2/coins/stx.ts
  modules/bitgo/src/v2/coins/xtz.ts
  modules/bitgo/src/v2/internal/blsUtils.ts
Due: none

chore(bitgo): update basecoin imports
  modules/bitgo/test/v2/unit/coins/abstractEthCoin.ts
  modules/bitgo/test/v2/unit/coins/avaxc.ts
  modules/bitgo/test/v2/unit/coins/cspr.ts
Due: none

chore(account-lib): include tron protobuf
  modules/account-lib/.gitignore
  modules/account-lib/package.json
  modules/account-lib/resources/README.md
  modules/account-lib/resources/trx/protobuf/tron.d.ts
  modules/account-lib/resources/trx/protobuf/tron.js
Due: account-lib

chore(sdk-core): update dependencies
  modules/sdk-core/package.json
  yarn.lock
Due: none

feat(statics): add fiatusd and tfiatusd coins
  modules/bitgo/src/v2/coinFactory.ts
  modules/bitgo/src/v2/coins/fiatusd.ts
  modules/bitgo/src/v2/coins/index.ts
  modules/bitgo/src/v2/coins/tfiatusd.ts
  modules/bitgo/test/v2/unit/coins/fiat.ts
  modules/statics/src/account.ts
  modules/statics/src/coins.ts
  modules/statics/src/networks.ts
  modules/statics/test/unit/coins.ts
Due: statics

chore(release): publish modules
  modules/account-lib/CHANGELOG.md
  modules/account-lib/package.json
  modules/bitgo/CHANGELOG.md
  modules/bitgo/package.json
  modules/express/CHANGELOG.md
  modules/express/package-lock.json
  modules/express/package.json
  modules/sdk-api/CHANGELOG.md
  modules/sdk-api/package.json
  modules/statics/CHANGELOG.md
  modules/statics/package.json
  modules/utxo-bin/CHANGELOG.md
  modules/utxo-bin/package.json
Due: account-lib, statics, express

feat(sdk-core): select hsmpub key based on node env
  modules/sdk-core/src/v2/environments.ts
Due: none

chore: prep release notes
  modules/account-lib/RELEASE_NOTES.md
  modules/bitgo/RELEASE_NOTES.md
Due: account-lib
