Repository BitGo/BitGoJS: changes, and which Codecov flags are due for each by the changed paths.
All: bitgo, account-lib, statics, express

.codecov.yml:

coverage:
  status:
    project: off
    patch: off
comment:
  layout: 'diff, flags, files'
  require_changes: true
flags:
  bitgo:
    paths:
      - modules/bitgo
  account-lib:
    paths:
      - modules/account-lib
  statics:
    paths:
      - modules/statics
  express:
    paths:
      - modules/express

feat(statics): add kavacosmos and tkavacosmos networks
  modules/bitgo/test/v2/unit/keychains.ts
  modules/sdk-coin-cosmos/test/resources/kavacosmos.ts
  modules/statics/src/allCoinsAndTokens.ts
  modules/statics/src/base.ts
  modules/statics/src/networks.ts
  modules/statics/test/unit/fixtures/expectedColdFeatures.ts
Due: bitgo, statics

fix(statics): remove unnecessary Chiliz ERC20 token classes
  modules/statics/src/account.ts
  modules/statics/src/allCoinsAndTokens.ts
Due: statics

feat: add support for 12 tokens
  commitlint.config.js
  modules/statics/src/allCoinsAndTokens.ts
  modules/statics/src/base.ts
  modules/statics/src/coins/bscTokens.ts
  modules/statics/src/coins/erc20Coins.ts
  modules/statics/src/coins/ofcCoins.ts
  modules/statics/src/coins/ofcErc20Coins.ts
  modules/statics/src/coins/solTokens.ts
Due: statics

feat(sdk-coin-tempo): add memoId support for address validation
  modules/sdk-coin-tempo/src/tempo.ts
  modules/sdk-coin-tempo/test/unit/index.ts
Due: none

feat: handling token accept/reject in the parsing function Ticket: COIN-7521
  modules/sdk-coin-canton/src/lib/utils.ts
  modules/sdk-coin-canton/test/resources.ts
Due: none

feat(sdk-coin-ton): sc-5234 vest depo builder
  modules/sdk-coin-ton/src/lib/index.ts
  modules/sdk-coin-ton/src/lib/tonWhalesVestingDepositBuilder.ts
  modules/sdk-coin-ton/src/lib/transaction.ts
  modules/sdk-coin-ton/src/lib/transactionBuilderFactory.ts
  modules/sdk-coin-ton/test/resources/ton.ts
  modules/sdk-coin-ton/test/unit/tonWhalesVestingDepositBuilder.ts
  modules/sdk-core/src/account-lib/baseCoin/enum.ts
Due: none

feat(abstract-cosmos,sdk-coin-hash): support group proposals
  modules/abstract-cosmos/package.json
  modules/abstract-cosmos/resources/ProposalCompiled.d.ts
  modules/abstract-cosmos/resources/ProposalCompiled.js
  modules/abstract-cosmos/src/lib/ContractCallBuilder.ts
  modules/abstract-cosmos/src/lib/constants.ts
  modules/abstract-cosmos/src/lib/iface.ts
  modules/abstract-cosmos/src/lib/transaction.ts
  modules/abstract-cosmos/src/lib/transactionBuilder.ts
  modules/abstract-cosmos/src/lib/utils.ts
  modules/sdk-coin-hash/test/resources/hash.ts
  modules/sdk-coin-hash/test/unit/transactionBuilder/contractCallBuilder.ts
  modules/sdk-coin-hash/test/utils/groupProposalHelper.ts
Due: none

add bitgo auth utils for bitgo express
  AGENTS.md
  examples/js/self-custody-mcp-v2/bitgo-auth-utils.js
  examples/js/self-custody-mcp-v2/mpc-self-custody-online.js
  examples/js/self-custody-mcp-v2/mpc-self-custody-sign-online.js
Due: none

fix: mpc self-custody sign script
  .gitignore
  examples/js/self-custody-mcp-v2/mpc-self-custody-sign-online.js
Due: none

update readme
  README.md
Due: none

feat(examples): add BIP322 proof of address ownership example
  examples/ts/btc/bip322/README.md
  examples/ts/btc/bip322/messages.json
  examples/ts/btc/bip322/verifyProof.ts
Due: none

fix: brace-expansion vulnerability
  package.json
Due: none

update agent file
  CLAUDE.md
Due: none

chore: update code owners for hash
  CODEOWNERS
Due: none

feat(abstract-cosmos,sdk-coin-hash): add group proposal support
  modules/abstract-cosmos/resources/ProposalCompiled.d.ts
  modules/abstract-cosmos/resources/ProposalCompiled.js
  modules/abstract-cosmos/src/lib/ContractCallBuilder.ts
  modules/abstract-cosmos/src/lib/constants.ts
  modules/abstract-cosmos/src/lib/iface.ts
  modules/abstract-cosmos/src/lib/protobuf-init.ts
  modules/abstract-cosmos/src/lib/transaction.ts
  modules/abstract-cosmos/src/lib/transactionBuilder.ts
  modules/abstract-cosmos/src/lib/utils.ts
  modules/sdk-coin-hash/test/resources/hash.ts
  modules/sdk-coin-hash/test/unit/transactionBuilder/contractCallBuilder.ts
Due: none

chore: log error
  modules/sdk-coin-canton/src/lib/transaction/transaction.ts
Due: none

chore: log decoded data
  modules/sdk-coin-canton/src/lib/transaction/transaction.ts
Due: none

feat: added canton offer withdrawn builder Ticket: COIN-7486
  modules/sdk-coin-canton/src/canton.ts
  modules/sdk-coin-canton/src/lib/iface.ts
  modules/sdk-coin-canton/src/lib/index.ts
  modules/sdk-coin-canton/src/lib/transactionBuilderFactory.ts
  modules/sdk-coin-canton/src/lib/transferOfferWithdrawnBuilder.ts
  modules/sdk-coin-canton/src/lib/utils.ts
  modules/sdk-coin-canton/test/resources.ts
  modules/sdk-coin-canton/test/unit/builder/transferOfferWithdrawn/transferOfferWithdrawnBuilder.ts
  modules/sdk-core/src/account-lib/baseCoin/enum.ts
Due: none

feat: capture raw body bytes for v4 hmac calculation TICKET: CAAS-659
  modules/express/src/clientRoutes.ts
  modules/express/src/expressApp.ts
  modules/express/test/unit/clientRoutes/rawBodyBuffer.ts
  modules/express/types/express/index.d.ts
Due: express

feat(utxo-bin): add human-readable sighash type labels
  modules/utxo-bin/src/InputParser.ts
  modules/utxo-bin/test/fixtures/formatTransaction/p2shP2wsh_networkFullSigned_all_prevOuts.txt
  modules/utxo-bin/test/fixtures/formatTransaction/p2shP2wsh_psbtFullSigned_all.txt
  modules/utxo-bin/test/fixtures/formatTransaction/p2shP2wsh_psbtHalfSigned_all.txt
  modules/utxo-bin/test/fixtures/formatTransaction/p2sh_networkFullSigned_all_prevOuts.txt
  modules/utxo-bin/test/fixtures/formatTransaction/p2sh_psbtFullSigned_all.txt
  modules/utxo-bin/test/fixtures/formatTransaction/p2sh_psbtHalfSigned_all.txt
  modules/utxo-bin/test/fixtures/formatTransaction/p2wsh_networkFullSigned_all_prevOuts.txt
  modules/utxo-bin/test/fixtures/formatTransaction/p2wsh_psbtFullSigned_all.txt
  modules/utxo-bin/test/fixtures/formatTransaction/p2wsh_psbtHalfSigned_all.txt
  modules/utxo-bin/test/fixtures/psbt/5.sign.psbt.txt
Due: none

feat(root): add @bitgo/logger with sensitive data sanitization
  Dockerfile
  modules/blockapis/package.json
  modules/blockapis/src/BaseHttpClient.ts
  modules/express/package.json
  modules/express/src/clientRoutes.ts
  modules/express/src/fetchEncryptedPrivKeys.ts
  modules/logger/.eslintignore
  modules/logger/.gitignore
  modules/logger/.npmignore
  modules/logger/.prettierignore
  modules/logger/.prettierrc.yml
  modules/logger/CHANGELOG.md
  modules/logger/package.json
  modules/logger/src/index.ts
  modules/logger/src/logger.ts
  modules/logger/src/sanitizeLog.ts
  modules/logger/tsconfig.json
  modules/sdk-coin-apt/package.json
  modules/sdk-coin-apt/src/lib/transaction/transaction.ts
  modules/sdk-coin-apt/src/lib/transactionBuilder/digitalAssetTransferBuilder.ts
  modules/sdk-coin-apt/src/lib/transactionBuilder/fungibleAssetTransferBuilder.ts
  modules/sdk-coin-apt/src/lib/transactionBuilder/transactionBuilder.ts
  modules/sdk-coin-apt/src/lib/transactionBuilder/transferBuilder.ts
  modules/sdk-coin-sol/package.json
  modules/sdk-coin-sol/src/sol.ts
  modules/sdk-coin-vet/package.json
  modules/sdk-coin-vet/src/vet.ts
Due: express

feat(sdk-coin-sol): add dual ESM/CJS build for browser WASM support
  modules/sdk-coin-sol/package.json
  modules/sdk-coin-sol/tsconfig.esm.json
  modules/sdk-coin-sol/tsconfig.json
Due: none

feat(abstract-utxo): export UtxoCoinName types and type guards
  modules/abstract-utxo/src/index.ts
Due: none

feat(statics): revert gousd back to old contract in prod
  modules/statics/src/coins/erc20Coins.ts
Due: statics

fix(statics): add account explorer url for sui and ada
  modules/statics/src/networks.ts
  modules/statics/test/unit/networks.ts
Due: statics

feat(sdk-coin-dot): add wasm-dot package and comparison tests
  modules/sdk-coin-dot/bitgo-wasm-dot-0.0.1.tgz
  modules/sdk-coin-dot/package.json
  modules/sdk-coin-dot/test/unit/wasmComparison.ts
  yarn.lock
Due: none

chore(sdk-coin-dot): update wasm-dot package
  modules/sdk-coin-dot/bitgo-wasm-dot-0.0.1.tgz
  yarn.lock
Due: none

feat: override isValidAddress for hbarevm
  modules/sdk-coin-evm/package.json
  modules/sdk-coin-evm/src/evmCoin.ts
  modules/sdk-coin-evm/test/unit/evmCoin.ts
  yarn.lock
Due: none

fix(sdk-coin-dot): use same metadata for WASM and JS builders
  modules/sdk-coin-dot/test/unit/wasmComparison.ts
Due: none

chore(sdk-coin-dot): update wasm-dot with metadata field rename
  modules/sdk-coin-dot/bitgo-wasm-dot-0.0.1.tgz
  modules/sdk-coin-dot/test/unit/wasmComparison.ts
  yarn.lock
Due: none

test(abstract-utxo): add test for sighash type mismatch in BIP322
  modules/abstract-utxo/test/unit/bip322.ts
Due: none

feat(abstract-utxo): bump wasm-utxo to 1.34.0
  modules/abstract-utxo/package.json
  modules/utxo-bin/package.json
  modules/utxo-core/package.json
  modules/utxo-ord/package.json
  modules/utxo-staking/package.json
  yarn.lock
Due: none

fix(abstract-utxo): update BIP322 test to verify wasm-utxo respects sighashType
  modules/abstract-utxo/test/unit/bip322.ts
Due: none

refactor(sdk-coin-ada): ignore fee address outputs for consolidation tranactions
  modules/sdk-coin-ada/src/ada.ts
  modules/sdk-coin-ada/test/unit/ada.ts
Due: none

feat: added token in oneStepPreApproval builder Ticket: COIN-7533
  modules/sdk-coin-canton/src/lib/iface.ts
  modules/sdk-coin-canton/src/lib/oneStepPreApprovalBuilder.ts
  modules/sdk-coin-canton/src/lib/transaction/transaction.ts
  modules/sdk-coin-canton/src/lib/utils.ts
  modules/sdk-coin-canton/test/resources.ts
  modules/sdk-coin-canton/test/unit/builder/oneStepEnablement/oneStepEnablementBuilder.ts
Due: none

feat(statics): add ofc support for megaeth
  modules/statics/src/coins/ofcCoins.ts
Due: statics

feat: update scripts for go account creation
  examples/README.md
  examples/docs/go-account-creation.md
  examples/ts/create-go-account-advanced.ts
  examples/ts/create-go-account.ts
Due: none

feat: add go account address creation script
  examples/docs/go-account-creation.md
  examples/ts/go-account/create-go-account-address.ts
  examples/ts/go-account/create-go-account-advanced.ts
  examples/ts/go-account/create-go-account.ts
Due: none

feat(abstract-cosmos): add contract call decoding
  modules/abstract-cosmos/src/lib/ContractCallBuilder.ts
  modules/abstract-cosmos/src/lib/utils.ts
  modules/sdk-coin-hash/test/unit/transactionBuilder/contractCallBuilder.ts
  modules/sdk-coin-hash/test/unit/utils.ts
Due: none
