Repository BitGo/BitGoJS: changes, and which Codecov flags are due for each by the changed paths.
All: bitgo, account-lib, statics, express

.codecov.yml:

coverage:
  status:
    project: off
    patch: off
comment:
  layout: 'diff, flags, files'
  require_changes: true
flags:
  bitgo:
    paths:
      - modules/bitgo
  account-lib:
    paths:
      - modules/account-lib
  statics:
    paths:
      - modules/statics
  express:
    paths:
      - modules/express

feat: get wallet nft balances
  examples/ts/nft/get-wallet-nfts.ts
Due: none

refactor: use test env by default
  examples/ts/access-token.ts
Due: none

feat(examples): send NFTs
  examples/ts/nft/send-wallet-nfts.ts
Due: none

fix: fix currency code for txrp:xsgd
  modules/statics/src/coins.ts
Due: statics

feat: add isTssSupportGated method and gate arb and op
  modules/sdk-coin-arbeth/src/arbeth.ts
  modules/sdk-coin-opeth/src/opeth.ts
  modules/sdk-core/src/bitgo/baseCoin/baseCoin.ts
Due: none

feat: added new constants to map network family to features for token
  modules/statics/src/networkFeatureMapForTokens.ts
Due: statics

feat(sdk-coin-mon): add transaction builder
  CODEOWNERS
  Dockerfile
  modules/account-lib/package.json
  modules/account-lib/src/index.ts
  modules/account-lib/tsconfig.json
  modules/bitgo/package.json
  modules/bitgo/src/v2/coinFactory.ts
  modules/bitgo/src/v2/coins/index.ts
  modules/bitgo/test/v2/unit/keychains.ts
  modules/sdk-coin-mon/.eslintignore
  modules/sdk-coin-mon/.gitignore
  modules/sdk-coin-mon/.mocharc.yml
  modules/sdk-coin-mon/.npmignore
  modules/sdk-coin-mon/.prettierignore
  modules/sdk-coin-mon/.prettierrc.yml
  modules/sdk-coin-mon/CHANGELOG.md
  modules/sdk-coin-mon/README.md
  modules/sdk-coin-mon/package.json
  modules/sdk-coin-mon/src/index.ts
  modules/sdk-coin-mon/src/lib/index.ts
  modules/sdk-coin-mon/src/lib/resources.ts
  modules/sdk-coin-mon/src/lib/transactionBuilder.ts
  modules/sdk-coin-mon/src/lib/transferBuilder.ts
  modules/sdk-coin-mon/src/lib/utils.ts
  modules/sdk-coin-mon/src/mon.ts
  modules/sdk-coin-mon/src/register.ts
  modules/sdk-coin-mon/src/tmon.ts
  modules/sdk-coin-mon/test/unit/getBuilder.ts
  modules/sdk-coin-mon/test/unit/mon.ts
  modules/sdk-coin-mon/test/unit/transactionBuilder/send.ts
  modules/sdk-coin-mon/test/unit/utils.ts
  modules/sdk-coin-mon/tsconfig.json
  modules/sdk-core/src/bitgo/environments.ts
  modules/statics/src/coins.ts
  modules/statics/src/map.ts
  modules/statics/src/networks.ts
  modules/statics/test/unit/fixtures/expectedColdFeatures.ts
  tsconfig.packages.json
Due: bitgo, account-lib, statics

feat(statics): add tokens hteth:usd1 and tbsc:usd1
  commitlint.config.js
  modules/statics/src/base.ts
  modules/statics/src/coins/bscTokens.ts
  modules/statics/src/coins/erc20Coins.ts
  modules/statics/src/coins/ofcCoins.ts
  modules/statics/src/coins/ofcErc20Coins.ts
  modules/statics/src/ofc.ts
Due: statics

feat(statics): add coin feature TSS_SUPPORT_GATED and gate arb and op
  modules/sdk-coin-arbeth/src/arbeth.ts
  modules/sdk-coin-opeth/src/opeth.ts
  modules/sdk-core/src/bitgo/baseCoin/baseCoin.ts
  modules/statics/src/base.ts
  modules/statics/src/coinFeatures.ts
Due: statics

Adding freezeBuilder
  modules/sdk-coin-trx/src/lib/enum.ts
  modules/sdk-coin-trx/src/lib/freezeBuilder.ts
  modules/sdk-coin-trx/src/lib/utils.ts
  modules/sdk-coin-trx/src/lib/wrappedBuilder.ts
  modules/sdk-coin-trx/test/resources.ts
  modules/sdk-coin-trx/test/unit/freezeBuilder.ts
Due: none

fix(sdk-core): add validation for unsigned txHex
  modules/abstract-cosmos/src/cosmosCoin.ts
  modules/abstract-eth/src/abstractEthLikeNewCoins.ts
  modules/bitgo/test/v2/unit/internal/tssUtils/ecdsa.ts
  modules/sdk-core/src/bitgo/baseCoin/iBaseCoin.ts
  modules/sdk-core/src/bitgo/utils/tss/baseTypes.ts
  modules/sdk-core/src/bitgo/utils/tss/ecdsa/ecdsa.ts
  modules/sdk-core/src/bitgo/utils/tss/ecdsa/ecdsaMPCv2.ts
  modules/sdk-core/src/bitgo/wallet/wallet.ts
Due: bitgo

fix(utxo-staking): support BIP-322 for delegation signatures
  modules/utxo-staking/package.json
  modules/utxo-staking/src/babylon/delegationMessage.ts
  modules/utxo-staking/test/fixtures/babylon/msgCreateBTCDelegation.testnet.json
  modules/utxo-staking/test/fixtures/babylon/msgCreateBTCDelegation.testnetMock.json
  modules/utxo-staking/test/fixtures/babylon/txTree.testnet.json
  modules/utxo-staking/test/fixtures/babylon/txTree.testnetMock.json
  yarn.lock
Due: none

feat: send digital asset
  modules/abstract-eth/src/abstractEthLikeNewCoins.ts
  modules/sdk-core/src/bitgo/baseCoin/iBaseCoin.ts
  modules/sdk-core/src/bitgo/utils/tss/baseTypes.ts
  modules/sdk-core/src/bitgo/wallet/iWallet.ts
  modules/sdk-core/src/bitgo/wallet/wallet.ts
Due: none

feat(sdk-coin-icp): add transaction ID handling and related utilities
  modules/sdk-coin-icp/src/lib/iface.ts
  modules/sdk-coin-icp/src/lib/transaction.ts
  modules/sdk-coin-icp/src/lib/utils.ts
  modules/sdk-coin-icp/test/resources/icp.ts
  modules/sdk-coin-icp/test/unit/transactionBuilder/transactionBuilder.ts
Due: none

feat(sdk-coin-baby): add WithdrawReward transaction
  modules/sdk-coin-baby/src/lib/BabylonTransaction.ts
  modules/sdk-coin-baby/src/lib/constants.ts
  modules/sdk-coin-baby/src/lib/iface.ts
  modules/sdk-coin-baby/src/lib/utils.ts
  modules/sdk-coin-baby/test/resources/baby.ts
  modules/sdk-coin-baby/test/unit/transactionBuilder/CustomTransactionBuilder.ts
  modules/sdk-coin-baby/test/unit/transactionBuilder/transactionBuilder.ts
Due: none

prototype
  modules/statics/src/base.ts
Due: statics

feat: adding lnurl support for lightning stack
  modules/abstract-lightning/package.json
  modules/abstract-lightning/src/codecs/api/index.ts
  modules/abstract-lightning/src/codecs/api/lnurl.ts
  modules/abstract-lightning/src/codecs/api/payment.ts
  modules/abstract-lightning/src/lightning/index.ts
  modules/abstract-lightning/src/lightning/lnurl.ts
  modules/abstract-lightning/src/wallet/lightning.ts
Due: none

feat: add tss support for arb and op tokens
  modules/sdk-coin-arbeth/src/arbethToken.ts
  modules/sdk-coin-opeth/src/opethToken.ts
Due: none

fix(sdk-coin-icp): update cbor-x import to use index-no-eval
  modules/sdk-coin-icp/src/lib/utils.ts
  modules/sdk-coin-icp/test/unit/utils.ts
Due: none

chore: added explicit export in index file for networkFeatureMapForTokens
  modules/statics/src/index.ts
Due: statics

fix(sdk-coin-icp): update protobufjs dependency to version 7.5.0
  modules/sdk-coin-icp/package.json
Due: none

feat: get max spendable given unspent ids
  modules/sdk-core/src/bitgo/wallet/iWallet.ts
  modules/sdk-core/src/bitgo/wallet/wallet.ts
Due: none

chore: add eip1559 feature for base coin
  modules/statics/src/coins.ts
Due: statics

fix(sdk-coin-bera): mpc algo for the token Ticket: WIN-5264
  modules/sdk-coin-bera/src/beraToken.ts
Due: none

feat(statics): added world config
  modules/bitgo/test/v2/unit/keychains.ts
  modules/statics/src/base.ts
  modules/statics/src/coins.ts
  modules/statics/src/networks.ts
  modules/statics/test/unit/fixtures/expectedColdFeatures.ts
Due: bitgo, statics

feat(sdk-coin-icp): replace protoDefinition with staticProtoDefinition for protobuf parsing
  modules/sdk-coin-icp/src/lib/protoDefinition.ts
  modules/sdk-coin-icp/src/lib/staticProtoDefinition.json
  modules/sdk-coin-icp/src/lib/utils.ts
Due: none

chore: fix bls coderemoval build issue
  CODEOWNERS
  Dockerfile
  README.md
  modules/sdk-core/src/bitgo/baseCoin/baseCoin.ts
  modules/sdk-core/src/bitgo/wallet/wallet.ts
  modules/sdk-core/src/bitgo/wallet/wallets.ts
  scripts/tests/prepareRelease/fixtures/dist-tags.json
Due: none

feat(sdk-coin-apt): use entryFunctionAbi for all type of assets
  modules/sdk-coin-apt/src/lib/constants.ts
  modules/sdk-coin-apt/src/lib/transaction/digitalAssetTransfer.ts
  modules/sdk-coin-apt/src/lib/transaction/fungibleAssetTransfer.ts
  modules/sdk-coin-apt/src/lib/transaction/transferTransaction.ts
Due: none

feat: send digital asset
  examples/ts/nft/get-wallet-nfts.ts
  examples/ts/nft/send-wallet-nfts.ts
  modules/abstract-eth/src/abstractEthLikeNewCoins.ts
  modules/sdk-core/src/bitgo/baseCoin/iBaseCoin.ts
  modules/sdk-core/src/bitgo/utils/tss/baseTypes.ts
  modules/sdk-core/src/bitgo/wallet/iWallet.ts
  modules/sdk-core/src/bitgo/wallet/wallet.ts
Due: none

feat(sdk-coin-sol): add support for marinade staking
  modules/sdk-coin-sol/src/lib/iface.ts
  modules/sdk-coin-sol/src/lib/instructionParamsFactory.ts
  modules/sdk-coin-sol/src/lib/solInstructionFactory.ts
  modules/sdk-coin-sol/src/lib/stakingActivateBuilder.ts
  modules/sdk-coin-sol/test/resources/sol.ts
  modules/sdk-coin-sol/test/unit/instructionParamsFactory.staking.ts
  modules/sdk-coin-sol/test/unit/transactionBuilder/stakingActivateBuilder.ts
Due: none

feat(sdk-coin-icp): use proto compiles file
  modules/sdk-coin-icp/src/lib/compiled.js
  modules/sdk-coin-icp/src/lib/staticProtoDefinition.json
  modules/sdk-coin-icp/src/lib/utils.ts
Due: none

fix(utils): correct import path for compiledProto to include file extension
  modules/sdk-coin-icp/src/lib/utils.ts
Due: none

fix(tsconfig): ensure allowJs is set to true for JavaScript support
  modules/sdk-coin-icp/tsconfig.json
Due: none

feat: add protobuf definitions for message SendRequest
  modules/sdk-coin-icp/src/lib/resources/compiled.d.ts
  modules/sdk-coin-icp/src/lib/resources/compiled.js
  modules/sdk-coin-icp/src/lib/resources/message.proto
  modules/sdk-coin-icp/src/lib/utils.ts
  modules/sdk-coin-icp/tsconfig.json
Due: none

feat(sdk-coin-icp): add protobuf definitions for message SendRequest
  modules/sdk-coin-icp/package.json
  modules/sdk-coin-icp/resources/messageCompiled.d.ts
  modules/sdk-coin-icp/resources/messageCompiled.js
  modules/sdk-coin-icp/src/lib/utils.ts
  modules/sdk-coin-icp/tsconfig.json
Due: none

fix: fix the currency code for the xrp tokens if more than 3 characters
  modules/statics/src/coins.ts
Due: statics

feat(statics): introduce SHARED_EVM_SIGNING coin feature
  modules/statics/src/base.ts
Due: statics

feat(sdk-coin-icp): implement default memo handling in ICP transactions
  modules/sdk-coin-icp/src/icp.ts
  modules/sdk-coin-icp/src/lib/iface.ts
  modules/sdk-coin-icp/src/lib/staticProtoDefinition.json
  modules/sdk-coin-icp/src/lib/transaction.ts
  modules/sdk-coin-icp/src/lib/transactionBuilder.ts
  modules/sdk-coin-icp/src/lib/transferBuilder.ts
  modules/sdk-coin-icp/src/lib/unsignedTransactionBuilder.ts
  modules/sdk-coin-icp/src/lib/utils.ts
  modules/sdk-coin-icp/test/resources/icp.ts
  modules/sdk-coin-icp/test/unit/transactionBuilder/transactionBuilder.ts
  modules/sdk-coin-icp/test/unit/transactionBuilder/transactionRecover.ts
  modules/sdk-coin-icp/test/unit/utils.ts
Due: none
