Repository BitGo/BitGoJS: changes, and which Codecov flags are due for each by the changed paths.
All: bitgo, account-lib, statics, express

.codecov.yml:

coverage:
  status:
    project: off
    patch: off
comment:
  layout: "diff, flags, files"
  require_changes: true
flags:
  bitgo:
    paths:
      - modules/core
  account-lib:
    paths:
      - modules/account-lib
  statics:
    paths:
      - modules/statics
  express:
    paths:
      - modules/express

fix(statics): update deprecated explorer url
  modules/statics/src/networks.ts
Due: statics

refactor(unspents): convert Dimensions to standard Typescript
  modules/unspents/src/dimensions.ts
  modules/unspents/src/virtualSizes.ts
  modules/unspents/test/dimensions.ts
  modules/unspents/test/signedTx/txGen.ts
  modules/unspents/test/testutils.ts
  modules/unspents/test/virtualSizes.ts
  modules/unspents/tsconfig.json
Due: none

fix(unspents): add `readonly` modifier to Dimensions fields
  modules/unspents/src/dimensions.ts
Due: none

refactor(unspents): add, use Dimensions.SingleInputs
  modules/unspents/src/dimensions.ts
Due: none

fix(unspents): fix nInputs
  modules/unspents/src/dimensions.ts
  modules/unspents/test/dimensions.ts
Due: none

temp convert to using bignum
  modules/account-lib/src/mpc/tss.ts
  modules/core/package.json
  modules/core/src/mpc/curves.ts
  modules/core/src/mpc/shamir.ts
  modules/core/src/mpc/tss.ts
  modules/core/test/v2/unit/tss.ts
Due: bitgo, account-lib

back to copying over main branch
  modules/core/src/mpc/curves.ts
  modules/core/src/mpc/shamir.ts
  modules/core/src/mpc/tss.ts
  modules/core/test/v2/unit/tss.ts
Due: bitgo

update test
  modules/core/test/v2/unit/tss.ts
Due: bitgo

feat(account-lib): export Solana builders and transaction
  modules/account-lib/src/coin/sol/index.ts
Due: account-lib

fix tests
  modules/core/test/v2/unit/tss.ts
Due: bitgo

feat: add TSS key generation and signing functions
  modules/account-lib/package.json
  modules/account-lib/src/mpc/curves.ts
  modules/account-lib/src/mpc/shamir.ts
  modules/account-lib/src/mpc/tss.ts
  modules/account-lib/test/unit/mpc/tss.ts
Due: account-lib

feat(account-lib): add utils and tests continued
  modules/account-lib/src/coin/dot/utils.ts
  modules/account-lib/test/unit/coin/dot/utils.ts
Due: account-lib

feat(account-lib): implement validityWindow and sequenceId for Sol
  modules/account-lib/src/coin/baseCoin/iface.ts
  modules/account-lib/src/coin/dot/iface.ts
  modules/account-lib/src/coin/dot/transactionBuilder.ts
Due: account-lib

chore: fix statics README typescript typo
  modules/statics/README.md
Due: statics

chore(release): publish modules
  modules/account-lib/package.json
  modules/core/package.json
  modules/express/package-lock.json
  modules/express/package.json
  modules/statics/package.json
Due: bitgo, account-lib, statics, express

fix(account-lib): fix postcondition for send many builder
  modules/account-lib/src/coin/stx/sendmanyBuilder.ts
  modules/account-lib/test/resources/stx/stx.ts
  modules/account-lib/test/unit/coin/stx/transactionBuilder/sendmanyBuilder.ts
Due: account-lib

feat(account-lib): add interface SolanaSequenceId for sol
  modules/account-lib/src/coin/sol/iface.ts
Due: account-lib

feat(account-lib): solana - implement derive address function
  modules/account-lib/src/coin/baseCoin/ed25519KeyPair.ts
  modules/account-lib/test/unit/coin/sol/keyPair.ts
Due: account-lib

fix(statics): update deprecated bch explorer url Ticket: BG-40963
  modules/statics/src/networks.ts
Due: statics

fix(statics): update deprecated explorer url for BCH Ticket: BG-40963
  modules/statics/src/networks.ts
Due: statics

chore(release): publish modules
  modules/account-lib/package.json
  modules/blake2b-wasm/package.json
  modules/blake2b/package-lock.json
  modules/blake2b/package.json
  modules/core/package.json
  modules/express/package-lock.json
  modules/express/package.json
  modules/statics/package.json
  modules/unspents/package.json
  modules/utxo-lib/package.json
Due: bitgo, account-lib, statics, express

feat(account-lib): add key factory for coins
  modules/account-lib/src/keyPair/index.ts
  modules/account-lib/test/unit/keyPair/index.ts
Due: account-lib

feat(account lib): add validity windows validations and solana sequence id
  modules/account-lib/src/coin/baseCoin/baseTransactionBuilder.ts
  modules/account-lib/src/coin/sol/iface.ts
  modules/account-lib/test/unit/coin/baseCoin/transactionBuilder.ts
Due: account-lib

Add PuppyCoin
  modules/statics/src/base.ts
  modules/statics/src/coins.ts
Due: statics

feat(statics): change name to gHDO and gHCN
  modules/statics/src/coins.ts
Due: statics

refactor(core): tighten types in AbstractUtxoCoin
  modules/core/src/v2/coins/abstractUtxoCoin.ts
Due: bitgo

docs(core): improve documentation for crossChainRecovery
  modules/core/src/v2/coins/utxo/recovery/crossChainRecovery.ts
Due: bitgo

docs(core): improve TransactionInfo docs
  modules/core/src/v2/coins/abstractUtxoCoin.ts
Due: bitgo

test(utxo-lib): add helpers for displaying fullnode help
  modules/utxo-lib/test/integration_local_rpc/generate/RpcClient.ts
  modules/utxo-lib/test/integration_local_rpc/generate/main.ts
  modules/utxo-lib/test/integration_local_rpc/generate/regtestNode.ts
Due: none

feat(utxo-lib): add support for Zcash version 5 "NU5"
  modules/utxo-lib/src/bitgo/zcash/ZcashBufferutils.ts
  modules/utxo-lib/src/bitgo/zcash/ZcashTransaction.ts
  modules/utxo-lib/src/bitgo/zcash/hashZip0244.ts
  modules/utxo-lib/test/bitgo/zcash/fixtures/vectorsZip0244.json
  modules/utxo-lib/test/bitgo/zcash/hashZip0244.ts
  modules/utxo-lib/test/integration_local_rpc/fixtures/zcashTest/v5/deposit_p2pkh.json
  modules/utxo-lib/test/integration_local_rpc/fixtures/zcashTest/v5/deposit_p2sh.json
  modules/utxo-lib/test/integration_local_rpc/fixtures/zcashTest/v5/spend_p2sh.json
  modules/utxo-lib/test/integration_local_rpc/generate/fixtures.ts
  modules/utxo-lib/test/integration_local_rpc/generate/main.ts
  modules/utxo-lib/test/integration_local_rpc/generate/regtestNode.ts
  modules/utxo-lib/test/integration_local_rpc/parse.ts
Due: none

feat(statics): onboarding jan batch
  modules/statics/src/base.ts
  modules/statics/src/coins.ts
Due: statics

feat(account-lib): add anonymous proxy txn builder STLX-11137
  modules/account-lib/src/coin/baseCoin/enum.ts
  modules/account-lib/src/coin/dot/anonymousAddressInitializationBuilder.ts
  modules/account-lib/src/coin/dot/iface.ts
  modules/account-lib/src/coin/dot/index.ts
  modules/account-lib/src/coin/dot/transaction.ts
  modules/account-lib/src/coin/dot/txnSchema.ts
  modules/account-lib/test/unit/coin/dot/transactionBuilder/anonymousAddressInitializationBuilder.ts
Due: account-lib

chore(release): publish modules
  modules/account-lib/package.json
  modules/core/package.json
  modules/express/package-lock.json
  modules/express/package.json
  modules/statics/package.json
  modules/unspents/package.json
  modules/utxo-lib/package.json
Due: bitgo, account-lib, statics, express

fix(account-lib): add token sub tx types
  modules/account-lib/src/coin/algo/assetTransferBuilder.ts
  modules/account-lib/src/coin/algo/transaction.ts
  modules/account-lib/src/coin/algo/utils.ts
  modules/account-lib/src/coin/baseCoin/enum.ts
  modules/account-lib/test/unit/coin/algo/transaction.ts
  modules/account-lib/test/unit/coin/algo/transactionBuilder/assetTransferBuilder.ts
  modules/core/src/v2/coins/algo.ts
  modules/core/src/v2/types.ts
  modules/core/test/v2/unit/coins/algo.ts
Due: bitgo, account-lib

feat(core): add AvaxcToken coins in sdk
  modules/core/src/config.ts
  modules/core/src/v2/coinFactory.ts
  modules/core/src/v2/coins/avaxcToken.ts
  modules/core/src/v2/coins/index.ts
  modules/core/test/browser/browser.spec.ts
  modules/core/test/v2/unit/coins/avaxcToken.ts
Due: bitgo

chore(account-lib): refactor addProxy and anonymous txn builders STLX-11678
  modules/account-lib/src/coin/baseCoin/enum.ts
  modules/account-lib/src/coin/dot/addressInitializationBuilder.ts
  modules/account-lib/src/coin/dot/anonymousAddressInitializationBuilder.ts
  modules/account-lib/src/coin/dot/index.ts
  modules/account-lib/src/coin/dot/transaction.ts
  modules/account-lib/test/resources/dot/index.ts
  modules/account-lib/test/unit/coin/dot/transactionBuilder/addressInitializationBuilder.ts
  modules/account-lib/test/unit/coin/dot/transactionBuilder/anonymousAddressInitializationBuilder.ts
Due: account-lib

fix(statics): update avaxc tokens names to not use dot
  modules/account-lib/test/unit/coin/avaxc/transferBuilder.ts
  modules/statics/src/base.ts
  modules/statics/src/coins.ts
Due: account-lib, statics
