Repository BitGo/BitGoJS: changes, and which Codecov flags are due for each by the changed paths.
All: bitgo, account-lib, statics, express

.codecov.yml:

coverage:
  status:
    project: off
    patch: off
comment:
  layout: 'diff, flags, files'
  require_changes: true
flags:
  bitgo:
    paths:
      - modules/bitgo
  account-lib:
    paths:
      - modules/account-lib
  statics:
    paths:
      - modules/statics
  express:
    paths:
      - modules/express

feat(sdk-coin-kas): add .prettierignore and update dependencies in package.json
  modules/sdk-coin-kas/.prettierignore
  modules/sdk-coin-kas/package.json
Due: none

refactor(sdk-coin-kas): remove unused devDependencies and clean up tsconfig references
  modules/sdk-coin-kas/package.json
  modules/sdk-coin-kas/tsconfig.json
  modules/statics/src/networks.ts
Due: statics

feat(sdk-coin-kas): update KASCoin default features and add 'kas' to expectedColdFeatures
  modules/statics/src/kas.ts
  modules/statics/test/unit/fixtures/expectedColdFeatures.ts
Due: statics

feat: add new tokens usd1 and stgusd1 to tempo
  modules/sdk-coin-tempo/test/resources/tempo.ts
  modules/statics/src/allCoinsAndTokens.ts
  modules/statics/src/base.ts
  modules/statics/src/coins/ofcCoins.ts
Due: statics

feat(statics): exclude BitGo Singapore from eth:apxusd and ofceth:apxusd
  modules/statics/src/coins/erc20Coins.ts
Due: statics

fix: handle serializedTxHex format in TSS verifyTransaction
  modules/sdk-coin-trx/src/trx.ts
  modules/sdk-coin-trx/test/unit/verifyTransaction.ts
Due: none

docs(express): lightning state v2
  modules/express/src/typedRoutes/api/v2/lightningState.ts
Due: express

docs(express): lightning withdraw v2
  modules/express/src/typedRoutes/api/v2/lightningWithdraw.ts
Due: express

feat: add AmsNetworkConfig and enrich base chain coins with features from AMS networks map
  modules/statics/src/coins.ts
  modules/statics/src/tokenConfig.ts
Due: statics

docs(express): ofc extSignPayload v2
  modules/express/src/typedRoutes/api/v2/ofcExtSignPayload.ts
Due: express

chore: fix lodash vulnerability
  modules/abstract-cosmos/package.json
  modules/abstract-eth/package.json
  modules/abstract-substrate/package.json
  modules/abstract-utxo/package.json
  modules/bitgo/package.json
  modules/express/package.json
  modules/sdk-api/package.json
  modules/sdk-coin-ada/package.json
  modules/sdk-coin-algo/package.json
  modules/sdk-coin-apt/package.json
  modules/sdk-coin-avaxc/package.json
  modules/sdk-coin-avaxp/package.json
  modules/sdk-coin-cspr/package.json
  modules/sdk-coin-dot/package.json
  modules/sdk-coin-eos/package.json
  modules/sdk-coin-etc/package.json
  modules/sdk-coin-eth/package.json
  modules/sdk-coin-flr/package.json
  modules/sdk-coin-hbar/package.json
  modules/sdk-coin-iota/package.json
  modules/sdk-coin-near/package.json
  modules/sdk-coin-rune/package.json
  modules/sdk-coin-sol/package.json
  modules/sdk-coin-stx/package.json
  modules/sdk-coin-sui/package.json
  modules/sdk-coin-ton/package.json
  modules/sdk-coin-trx/package.json
  modules/sdk-coin-vet/package.json
  modules/sdk-coin-xlm/package.json
  modules/sdk-coin-xrp/package.json
  modules/sdk-coin-xtz/package.json
  modules/sdk-core/package.json
  modules/unspents/package.json
  modules/web-demo/package.json
  package.json
  yarn.lock
Due: bitgo, express

docs(sdk-lib-mpc): document that reducedEncryptedPrv contains private key material
  modules/sdk-core/src/bitgo/keychain/iKeychains.ts
  modules/sdk-core/src/bitgo/utils/tss/ecdsa/ecdsaMPCv2.ts
  modules/sdk-lib-mpc/src/tss/ecdsa-dkls/dkg.ts
  modules/sdk-lib-mpc/src/tss/ecdsa-dkls/types.ts
Due: none

feat(sdk-core): use camelCase fields in getAccountResources response
  modules/express/src/typedRoutes/api/v2/accountResources.ts
  modules/express/test/unit/clientRoutes/trxResourceDelegation.ts
  modules/sdk-core/src/bitgo/wallet/iWallet.ts
Due: express

fix(eth): block tx build when wallet contract not yet deployed
  modules/abstract-eth/src/abstractEthLikeNewCoins.ts
  modules/sdk-coin-avaxc/src/avaxc.ts
  modules/sdk-coin-eth/src/eth.ts
  modules/sdk-coin-eth/test/unit/eth.ts
  modules/sdk-coin-flr/src/flr.ts
  modules/sdk-core/src/bitgo/wallet/iWallet.ts
Due: none

feat: add Ink Ethereum and Testnet support with corresponding network configurations
  modules/sdk-core/src/bitgo/environments.ts
  modules/statics/src/allCoinsAndTokens.ts
  modules/statics/src/base.ts
  modules/statics/src/coins/ofcCoins.ts
  modules/statics/src/networks.ts
  modules/statics/test/unit/fixtures/expectedColdFeatures.ts
Due: statics

feat: add UNSPENT_MODEL feature for canton testnet
  modules/statics/src/allCoinsAndTokens.ts
Due: statics

feat(statics): add Boba Network (EVM) with ERC20 token support
  modules/bitgo/test/v2/unit/keychains.ts
  modules/sdk-core/src/bitgo/environments.ts
  modules/statics/src/allCoinsAndTokens.ts
  modules/statics/src/base.ts
  modules/statics/src/coins/ofcCoins.ts
  modules/statics/src/networks.ts
  modules/statics/test/unit/fixtures/expectedColdFeatures.ts
Due: bitgo, statics

feat(statics): add sofiusd token on solana
  modules/statics/src/base.ts
  modules/statics/src/coins/ofcCoins.ts
  modules/statics/src/coins/solTokens.ts
Due: statics

feat(statics): add mainnet and Hoodi testnet token configs
  modules/statics/src/allCoinsAndTokens.ts
  modules/statics/src/base.ts
  modules/statics/src/coins/bscTokens.ts
  modules/statics/src/coins/cantonTokens.ts
  modules/statics/src/coins/erc20Coins.ts
  modules/statics/src/coins/ofcCoins.ts
  modules/statics/src/coins/ofcErc20Coins.ts
  modules/statics/src/coins/solTokens.ts
  modules/statics/test/unit/tokenNamingConvention.ts
Due: statics

fix(sdk-lib-mpc, sdk-core): bind DSG session blobs to their round
  modules/sdk-core/src/bitgo/utils/tss/ecdsa/ecdsaMPCv2.ts
  modules/sdk-lib-mpc/src/tss/ecdsa-dkls/dsg.ts
  modules/sdk-lib-mpc/test/unit/tss/ecdsa/dklsDsg.ts
Due: none

feat(sdk-coin-flrp): implement MPC support and enhance transaction signing methods
  modules/sdk-coin-flr/src/flr.ts
  modules/sdk-coin-flr/test/unit/flr.ts
  modules/sdk-coin-flrp/src/flrp.ts
  modules/sdk-coin-flrp/src/lib/atomicTransactionBuilder.ts
  modules/sdk-coin-flrp/src/lib/transaction.ts
  modules/sdk-coin-flrp/src/lib/transactionBuilder.ts
  modules/sdk-coin-flrp/test/unit/flrp.ts
  modules/sdk-coin-flrp/test/unit/lib/exportInCTxBuilder.ts
  modules/sdk-coin-flrp/test/unit/lib/exportInPTxBuilder.ts
  modules/sdk-coin-flrp/test/unit/lib/importInCTxBuilder.ts
  modules/sdk-coin-flrp/test/unit/lib/importInPTxBuilder.ts
  modules/sdk-coin-flrp/test/unit/lib/transactionBuilderFactory.ts
Due: none

feat(sdk-core): removing mention of mitm attack from hmac error
  modules/bitgo/test/unit/bitgo.ts
  modules/bitgo/test/v2/unit/auth.ts
  modules/sdk-api/src/api.ts
Due: bitgo

fix(sdk-lib-mpc): handle WaitMsg4 object in _deserializeState()
  modules/sdk-lib-mpc/src/tss/ecdsa-dkls/dsg.ts
Due: none

feat(sdk-core): add claimSsvRewards flow for SSV P2P strategy
  modules/bitgo/test/v2/unit/staking/stakingWalletCommon.ts
  modules/sdk-core/src/bitgo/staking/iStakingWallet.ts
  modules/sdk-core/src/bitgo/staking/stakingWallet.ts
Due: bitgo

fix(sdk-lib-mpc): validate messageHash length in Dsg.init()
  modules/sdk-lib-mpc/src/tss/ecdsa-dkls/dsg.ts
  modules/sdk-lib-mpc/test/unit/tss/ecdsa/dklsDsg.ts
Due: none

feat(root): add wallet core india prefix to commitlint
  commitlint.config.js
Due: none

docs(express): ofc signPayload v2
  modules/express/src/typedRoutes/api/v2/ofcSignPayload.ts
Due: express

docs(express): pending approval v2
  modules/express/src/typedRoutes/api/v2/pendingApproval.ts
Due: express

docs(express): prebuild and sign trans v2
  modules/express/src/typedRoutes/api/v2/prebuildAndSignTransaction.ts
Due: express

docs(express): sendCoins v2
  modules/express/src/typedRoutes/api/v2/sendCoins.ts
Due: express

docs(express): sendMany v2
  modules/express/src/typedRoutes/api/v2/sendmany.ts
Due: express

feat(abstract-utxo): bump @bitgo/wasm-utxo to ^4.1.0
  modules/abstract-utxo/package.json
  modules/utxo-bin/package.json
  modules/utxo-core/package.json
  modules/utxo-ord/package.json
  modules/utxo-staking/package.json
  yarn.lock
Due: none

chore: support custom address derivation
  commitlint.config.js
  modules/abstract-eth/src/abstractEthLikeNewCoins.ts
  modules/sdk-core/src/bitgo/baseCoin/iBaseCoin.ts
  modules/sdk-core/src/bitgo/utils/tss/addressVerification.ts
  modules/sdk-core/src/bitgo/utils/tss/ecdsa/ecdsaMPCv2.ts
  modules/sdk-core/src/bitgo/wallet/iWallet.ts
  modules/sdk-core/src/bitgo/wallet/iWallets.ts
  modules/sdk-core/src/bitgo/wallet/wallets.ts
  modules/sdk-core/test/unit/bitgo/utils/tss/addressVerification.ts
  modules/sdk-core/test/unit/bitgo/utils/tss/ecdsa/ecdsaMPCv2DerivationPath.ts
  modules/sdk-core/test/unit/bitgo/wallet/walletsEvmKeyring.ts
Due: none

docs(express): share wallet v2
  modules/express/src/typedRoutes/api/v2/shareWallet.ts
Due: express

feat: updates sofid solant mint address
  modules/statics/src/coins/solTokens.ts
Due: statics
