Repository BitGo/BitGoJS: changes, and which Codecov flags are due for each by the changed paths.
All: bitgo, account-lib, statics, express

.codecov.yml:

coverage:
  status:
    project: off
    patch: off
comment:
  layout: 'diff, flags, files'
  require_changes: true
flags:
  bitgo:
    paths:
      - modules/bitgo
  account-lib:
    paths:
      - modules/account-lib
  statics:
    paths:
      - modules/statics
  express:
    paths:
      - modules/express

feat(utxo-lib): make getSigValidArray return ordered rootnodes
  modules/utxo-lib/src/bitgo/UtxoPsbt.ts
  modules/utxo-lib/src/bitgo/wallet/Psbt.ts
  modules/utxo-lib/src/bitgo/wallet/Unspent.ts
  modules/utxo-lib/src/bitgo/wallet/psbt/RootNodes.ts
Due: none

chore(root): release express
  Dockerfile
Due: none

chore(sdk-coin-stx): add @stacks/encryption
  modules/sdk-coin-stx/package.json
  yarn.lock
Due: none

feat: ignore additional external outputs
  modules/abstract-utxo/src/abstractUtxoCoin.ts
Due: none

feat: check for presence of external change address in the outputs
  modules/abstract-utxo/src/abstractUtxoCoin.ts
Due: none

feat(sdk-coin-ton): set expireAt for TON txs
  modules/sdk-coin-ton/src/lib/transaction.ts
  modules/sdk-coin-ton/test/unit/transferBuilder.ts
Due: none

feat: add example of a btc withdrawal with custom change address
  examples/ts/btc/changeAddress/config.ts
  examples/ts/btc/changeAddress/index.ts
Due: none

feat: support specifying unspents in Ada sendmany calls
  modules/bitgo/test/v2/unit/wallet.ts
  modules/sdk-core/src/bitgo/utils/mpcUtils.ts
  modules/sdk-core/src/bitgo/utils/tss/baseTypes.ts
  modules/sdk-core/src/bitgo/wallet/wallet.ts
Due: bitgo

feat(sdk-coin-xlm): recover root key support and refactor utils
  modules/bitgo/test/v2/unit/recovery.ts
  modules/sdk-coin-xlm/src/getStellarKeys.ts
  modules/sdk-coin-xlm/src/lib/utils.ts
  modules/sdk-coin-xlm/src/xlm.ts
  modules/sdk-coin-xlm/test/unit/utils.ts
  modules/sdk-coin-xlm/test/unit/xlm.ts
Due: bitgo

feat: put `changeAddress` in `expectedOutputs` if `allowExternalChangeAddress` during `verifyTransaction`
  modules/abstract-utxo/src/abstractUtxoCoin.ts
Due: none

fix(sdk-coin-ton): fix address validation
  modules/sdk-coin-ton/src/ton.ts
  modules/sdk-coin-ton/test/unit/ton.ts
Due: none

fix(sdk-coin-ton): fix isWalletAddress validation
  modules/sdk-coin-ton/src/ton.ts
  modules/sdk-coin-ton/test/unit/ton.ts
Due: none

fix(sdk-coin-xlm): rename test
  modules/bitgo/test/v2/unit/recovery.ts
Due: bitgo

fix(sdk-coin-xlm): deprecate instead of rename utils to avoid breaking change
  modules/sdk-coin-xlm/src/lib/utils.ts
Due: none

feat(sdk-coin-xlm): better error handling on keypair creation util
  modules/sdk-coin-xlm/src/lib/utils.ts
  modules/sdk-coin-xlm/test/unit/utils.ts
Due: none

docs: add example doc and script for sending non-ERC20 tokens
  examples/docs/multiple-recipients-transfer-for-non-erc20-tokens.md
  examples/ts/sol/utils/nonce-account-creation/multi-recipient-pay-transaction.ts
Due: none

fix: disable PSBT for zcash
  modules/abstract-utxo/src/abstractUtxoCoin.ts
Due: none

fix(key-card): broken keycard img scaling based on fixed size
  modules/key-card/src/drawKeycard.ts
Due: none

refactor(utxo-lib): require rootNodes to be passed into getSigValidArr
  modules/utxo-lib/src/bitgo/UtxoPsbt.ts
  modules/utxo-lib/test/bitgo/psbt/SignVerifyPsbtAndTx.ts
  modules/utxo-lib/test/bitgo/psbt/fromHalfSigned.ts
  modules/utxo-lib/test/bitgo/psbt/signingAndValidation.ts
Due: none

feat: sdk recreate keychain for mpc v1 to v2
  modules/sdk-core/src/bitgo/keychain/iKeychains.ts
  modules/sdk-core/src/bitgo/keychain/keychains.ts
  modules/sdk-core/src/bitgo/utils/tss/ecdsa/ecdsaMPCv2.ts
Due: none

chore(sdk-core): refactor getMpcV2RetrofitDataFromMpcV1Keys
  modules/sdk-core/src/bitgo/utils/tss/ecdsa/ecdsaMPCv2.ts
Due: none

test(bitgo): add createKeychains retrofit test
  modules/bitgo/test/v2/unit/internal/tssUtils/ecdsaMPCv2/createKeychains.ts
Due: bitgo

test(sdk-lib-mpc): reorder keygen message handling
  modules/sdk-lib-mpc/src/tss/ecdsa-dkls/util.ts
Due: none

test(bitgo): add tests for recreateMpc
  modules/bitgo/test/v2/unit/keychains.ts
  modules/sdk-core/src/bitgo/keychain/keychains.ts
  modules/sdk-core/src/bitgo/utils/tss/ecdsa/ecdsaMPCv2.ts
Due: bitgo

feat(statics): add ftx missing tokens
  modules/statics/src/base.ts
  modules/statics/src/coins.ts
Due: statics

feat: add deprecated feature to gteth
  modules/statics/src/coins.ts
Due: statics

Revert "feat: add deprecated feature to gteth"
  modules/statics/src/coins.ts
Due: statics

feat: add tooling to compile rust to wasm
  .github/workflows/ci.yml
  .github/workflows/test_package_updates.yml
  Dockerfile
Due: none

feat: add wasm-miniscript module
  modules/wasm-miniscript/.gitignore
  modules/wasm-miniscript/.mocharc.json
  modules/wasm-miniscript/.prettierignore
  modules/wasm-miniscript/Cargo.lock
  modules/wasm-miniscript/Cargo.toml
  modules/wasm-miniscript/js/index.ts
  modules/wasm-miniscript/package.json
  modules/wasm-miniscript/src/lib.rs
  modules/wasm-miniscript/test/descriptorFixtures.ts
  modules/wasm-miniscript/test/test.ts
  modules/wasm-miniscript/tsconfig.json
Due: none

feat(sdk-api): add adata param to encryption methods
  modules/sdk-api/src/encrypt.ts
  modules/sdk-api/test/unit/encrypt.ts
Due: none

feat(sdk-coin-sol): add sol close ATA recovery support along with token recovery
  modules/sdk-coin-sol/src/sol.ts
  modules/sdk-coin-sol/test/fixtures/sol.ts
  modules/sdk-coin-sol/test/unit/sol.ts
Due: none

feat(statics): onboard batch USMS tokens part-3-1
  modules/statics/src/base.ts
  modules/statics/src/coins.ts
Due: statics

feat(statics): uSMS Token batch part-3
  modules/statics/src/base.ts
  modules/statics/src/coins.ts
Due: statics

feat(sdk-core): add base utils for MPCv2 external signer
  modules/sdk-core/src/bitgo/utils/tss/baseTSSUtils.ts
  modules/sdk-core/src/bitgo/utils/tss/baseTypes.ts
  modules/sdk-core/src/bitgo/utils/tss/ecdsa/ecdsaMPCv2.ts
  modules/sdk-core/src/bitgo/wallet/iWallet.ts
  modules/sdk-core/src/bitgo/wallet/wallet.ts
  modules/sdk-core/src/index.ts
Due: none

feat(express): add external signer base code for MPCv2
  modules/express/src/clientRoutes.ts
Due: express

feat(sdk-core): implemented signing with external signer for MPCv2
  modules/bitgo/test/v2/unit/internal/tssUtils/ecdsa.ts
  modules/express/src/clientRoutes.ts
  modules/sdk-core/src/bitgo/utils/tss/baseTSSUtils.ts
  modules/sdk-core/src/bitgo/utils/tss/baseTypes.ts
  modules/sdk-core/src/bitgo/utils/tss/ecdsa/ecdsa.ts
  modules/sdk-core/src/bitgo/utils/tss/ecdsa/ecdsaMPCv2.ts
  modules/sdk-core/src/bitgo/utils/tss/eddsa/eddsa.ts
  modules/sdk-core/src/bitgo/wallet/iWallet.ts
  modules/sdk-core/src/bitgo/wallet/wallet.ts
Due: bitgo, express

test(express): add external signer test for MPCv2
  modules/express/package.json
  modules/express/test/unit/clientRoutes/externalSign.ts
  modules/express/test/unit/clientRoutes/mocks/gpgKeys.ts
  yarn.lock
Due: express

feat(statics): add holesky wrapped ether
  modules/statics/src/base.ts
  modules/statics/src/coins.ts
Due: statics
