Repository BitGo/BitGoJS: changes, and which Codecov flags are due for each by the changed paths.
All: bitgo, account-lib, statics, express

.codecov.yml:

coverage:
  status:
    project: off
    patch: off
comment:
  layout: "diff, flags, files"
  require_changes: true
flags:
  bitgo:
    paths:
      - modules/core
  account-lib:
    paths:
      - modules/account-lib
  statics:
    paths:
      - modules/statics
  express:
    paths:
      - modules/express

refactor(core): add recovery/initiate, getBip32Keys
  modules/core/src/v2/baseCoin.ts
  modules/core/src/v2/recovery/initiate.ts
Due: bitgo

refactor(core): use getBip32Keys() in xrp
  modules/core/src/v2/coins/xrp.ts
Due: bitgo

refactor(core): move EOS verifyKey to recovery/initiate
  modules/core/src/v2/coins/eos.ts
  modules/core/src/v2/recovery/initiate.ts
Due: bitgo

refactor(core): use recovery/initiate in EOS
  modules/core/src/v2/coins/eos.ts
  modules/core/src/v2/recovery/initiate.ts
Due: bitgo

refactor(core): add deprecation notice to initiateRecovery
  modules/core/src/v2/baseCoin.ts
Due: bitgo

refactor(core): deprecate initiateRecovery in utxo
  modules/core/src/v2/coins/abstractUtxoCoin.ts
  modules/core/src/v2/coins/utxo/recover.ts
Due: bitgo

refactor(core): deprecate initiateRecovery call in tx
  modules/core/src/v2/coins/trx.ts
Due: bitgo

refactor(core): deprecate initiateRecovery for EOS
  modules/core/src/v2/coins/eos.ts
Due: bitgo

refactor(core): deprecate initiateRecovery in xrp
  modules/core/src/v2/coins/xrp.ts
Due: bitgo

refactor(core): deprecate initiateRecovery in xlm (1 of 2)
  modules/core/src/v2/coins/xlm.ts
  modules/core/src/v2/recovery/initiate.ts
Due: bitgo

refactor(core): deprecate initiateRecovery in xlm (2 of 2)
  modules/core/src/v2/coins/xlm.ts
Due: bitgo

refactor(core): deprecate initiateRecovery in baseCoin
  modules/core/src/v2/baseCoin.ts
Due: bitgo

refactor(core): use bip32 in ecdh operations
  modules/core/src/bitgo.ts
  modules/core/src/ecdh.ts
  modules/core/src/travelRule.ts
  modules/core/src/v2/wallet.ts
  modules/core/src/v2/wallets.ts
  modules/core/src/wallet.ts
  modules/core/src/wallets.ts
  modules/core/test/ecdh.ts
  modules/core/test/integration/travelRule.ts
  modules/core/test/unit/bitgo.ts
Due: bitgo

fix(core): bring back getECDHSecret
  modules/core/src/bitgo.ts
  modules/core/test/unit/bitgo.ts
Due: bitgo

refactor(config): add type KrsProvider
  modules/core/src/config.ts
Due: bitgo

feat(core): add, use getKrsProvider
  modules/core/src/bitcoin.ts
  modules/core/src/v2/coins/eos.ts
  modules/core/src/v2/coins/erc20Token.ts
  modules/core/src/v2/coins/eth.ts
  modules/core/src/v2/coins/utxo/recover.ts
  modules/core/src/v2/coins/xlm.ts
  modules/core/src/v2/coins/xrp.ts
  modules/core/src/v2/recovery/initiate.ts
Due: bitgo

refactor(core): add checkKrsProvider
  modules/core/src/v2/coins/eos.ts
  modules/core/src/v2/coins/erc20Token.ts
  modules/core/src/v2/coins/eth.ts
  modules/core/src/v2/coins/xlm.ts
  modules/core/src/v2/coins/xrp.ts
  modules/core/src/v2/recovery/initiate.ts
Due: bitgo

refactor(core): move `AbstractUtxoCoin.deriveKey()`
  modules/core/src/v2/coins/abstractUtxoCoin.ts
  modules/core/src/v2/coins/utxo/recover.ts
Due: bitgo

refactor(core): use sanitizeLegacyPath in utxo/recover
  modules/core/src/bitcoin.ts
  modules/core/src/v2/coins/utxo/recover.ts
  modules/core/test/unit/hdnode.ts
Due: bitgo

refactor(core): use bip32 in AUC.isValidPub
  modules/core/src/v2/coins/abstractUtxoCoin.ts
Due: bitgo

refactor(core): move `AUC.signRecoveryTransaction` to utxo/recover/
  modules/core/src/v2/coins/abstractUtxoCoin.ts
  modules/core/src/v2/coins/utxo/recover.ts
Due: bitgo

feat(core): return bip32 in getBip32Keys
  modules/core/src/v2/coins/abstractUtxoCoin.ts
  modules/core/src/v2/coins/eos.ts
  modules/core/src/v2/coins/utxo/recover.ts
  modules/core/src/v2/coins/xrp.ts
  modules/core/src/v2/recovery/initiate.ts
Due: bitgo

feat(account-lib): avax key pair support
  modules/account-lib/src/coin/avaxc/keyPair.ts
  modules/account-lib/src/coin/avaxc/utils.ts
  modules/account-lib/test/resources/avaxc/avaxc.ts
  modules/account-lib/test/unit/coin/avaxc/keyPair.ts
  modules/account-lib/test/unit/coin/avaxc/util.ts
Due: account-lib

fix(core): fix prebuild transaction for tron contractCalls
  modules/core/src/v2/coins/trx.ts
  modules/core/test/v2/unit/coins/trx.ts
Due: bitgo

feat(account-lib): add avax c-chain support as eth like coin
  modules/account-lib/bitgo-account-lib-2.14.0.tgz
  modules/account-lib/package.json
  modules/account-lib/src/coin/avaxc/resources.ts
  modules/account-lib/src/coin/avaxc/transactionBuilder.ts
  modules/account-lib/src/coin/avaxc/transferBuilder.ts
  modules/account-lib/src/coin/avaxc/utils.ts
  modules/account-lib/test/resources/avaxc/avaxc.ts
  modules/account-lib/test/unit/coin/avaxc/transfer.ts
  modules/account-lib/test/unit/coin/avaxc/walletInitialization.ts
Due: account-lib

fix(eth): goerli coins now set to gteth in core/src/config.ts
  modules/core/src/config.ts
  modules/core/test/v2/unit/baseCoin.ts
Due: bitgo

fix(core): fix issue while signing eos transaction using OVC
  modules/core/src/v2/coins/eos.ts
  modules/core/test/v2/unit/coins/eos.ts
Due: bitgo

revert: return master branch package versions to non-rc versions
  modules/account-lib/package.json
  modules/core/package.json
  modules/statics/package.json
Due: bitgo, account-lib, statics

chore(release): publish modules
  modules/account-lib/package.json
  modules/core/package.json
  modules/express/package-lock.json
  modules/express/package.json
  modules/statics/package.json
Due: bitgo, account-lib, statics, express

chore(release): publish modules
  modules/account-lib/package.json
  modules/blake2b-wasm/package.json
  modules/blake2b/package-lock.json
  modules/blake2b/package.json
  modules/core/package.json
  modules/express/package-lock.json
  modules/express/package.json
  modules/statics/package.json
  modules/utxo-lib/package.json
Due: bitgo, account-lib, statics, express

chore(express): update sdk to bitgo@^12.0.0
  modules/express/package-lock.json
Due: express

refactor(utxo-lib): port src/bitgo to typescript
  modules/utxo-lib/src/bitgo/index.js
  modules/utxo-lib/src/bitgo/index.ts
  modules/utxo-lib/src/bitgo/keyutil.ts
Due: none

feat(utxo-lib): move outputScripts to bitgo subpackage
  modules/utxo-lib/src/bitgo/outputScripts.ts
  modules/utxo-lib/test/bitgo/outputScripts.ts
  modules/utxo-lib/test/integration_local_rpc/generate/outputScripts.util.ts
Due: none

feat(utxo-lib): add more assertions to createOutputScript2of3
  modules/utxo-lib/src/bitgo/index.ts
  modules/utxo-lib/src/bitgo/outputScripts.ts
Due: none

chore(root): ignore *.iml by default
  .gitignore
Due: none

chore(utxo-lib): add prettier to keyutil
  modules/utxo-lib/src/bitgo/keyutil.ts
Due: none

refactor(utxo-lib): deprecate use of `network.coin`
  modules/utxo-lib/src/transaction_builder.js
  modules/utxo-lib/test/networks.ts
Due: none

chore(utxo-lib): port networks to typescript
  modules/utxo-lib/src/coins.js
  modules/utxo-lib/src/coins.ts
  modules/utxo-lib/src/networkTypes.ts
  modules/utxo-lib/src/networks.ts
  modules/utxo-lib/test/integration_local_rpc/generate/RpcClient.ts
  modules/utxo-lib/test/integration_local_rpc/generate/fixtures.ts
  modules/utxo-lib/test/integration_local_rpc/generate/main.ts
  modules/utxo-lib/test/integration_local_rpc/generate/outputScripts.util.ts
  modules/utxo-lib/test/integration_local_rpc/generate/regtestNode.ts
  modules/utxo-lib/test/integration_local_rpc/generate/types.ts
  modules/utxo-lib/test/integration_local_rpc/parse.ts
  modules/utxo-lib/test/networks.ts
Due: none

feat(account-lib): rebase account-lib in the bitgoJs and fixing errors
  modules/account-lib/src/coin/algo/assetTransferBuilder.ts
  modules/account-lib/src/coin/algo/ifaces.ts
  modules/account-lib/src/coin/algo/keyPair.ts
  modules/account-lib/src/coin/algo/keyRegistrationBuilder.ts
  modules/account-lib/src/coin/algo/transaction.ts
  modules/account-lib/src/coin/algo/transactionBuilder.ts
  modules/account-lib/src/coin/algo/transferBuilder.ts
  modules/account-lib/src/coin/algo/txnSchema.ts
  modules/account-lib/src/coin/algo/utils.ts
  modules/account-lib/src/coin/baseCoin/ed25519KeyPair.ts
  modules/account-lib/src/utils/crypto.ts
  modules/account-lib/test/unit/coin/algo/transactionBuilder/assetTransferBuilder.ts
Due: account-lib

fix(express): do not access `_promise`
  modules/express/src/clientRoutes.ts
Due: express
