Repository BitGo/BitGoJS: changes, and which Codecov flags are due for each by the changed paths.
All: bitgo, account-lib, statics, express

.codecov.yml:

coverage:
  status:
    project: off
    patch: off
comment:
  layout: 'diff, flags, files'
  require_changes: true
flags:
  bitgo:
    paths:
      - modules/bitgo
  account-lib:
    paths:
      - modules/account-lib
  statics:
    paths:
      - modules/statics
  express:
    paths:
      - modules/express

feat(statics): add new batch of tokens
  modules/statics/src/base.ts
  modules/statics/src/coins/erc20Coins.ts
  modules/statics/src/coins/ofcErc20Coins.ts
  modules/statics/src/gatekeep.ts
Due: statics

chore: parallellize keychain and queryPromise
  modules/bitgo/test/v2/unit/wallet.ts
  modules/sdk-core/src/bitgo/wallet/wallet.ts
Due: bitgo

fix(sdk-coin-xdc): override verifyTssTransaction
  modules/sdk-coin-xdc/src/xdc.ts
Due: none

feat: onboard new tokens win-5588
  modules/statics/src/base.ts
  modules/statics/src/coins.ts
  modules/statics/src/coins/erc20Coins.ts
  modules/statics/src/coins/ofcCoins.ts
  modules/statics/src/coins/ofcErc20Coins.ts
  modules/statics/src/coins/solTokens.ts
Due: statics

chore: wip added testing according to pr and functions to get proprietary key vals from output
  modules/utxo-lib/src/bitgo/UtxoPsbt.ts
  modules/utxo-lib/src/bitgo/psbt/paygoAddressProof.ts
  modules/utxo-lib/test/bitgo/psbt/paygoAddressProof.ts
Due: none

chore: gate some tokens win-5588
  modules/statics/src/gatekeep.ts
Due: statics

fix: call verifytransaction coin method after fetching txrequest from server for eddsa coins
  modules/bitgo/test/v2/unit/internal/tssUtils/eddsa.ts
  modules/sdk-coin-algo/src/algo.ts
  modules/sdk-coin-dot/src/dot.ts
  modules/sdk-coin-stx/src/stx.ts
  modules/sdk-coin-xtz/src/xtz.ts
  modules/sdk-core/src/bitgo/baseCoin/iBaseCoin.ts
  modules/sdk-core/src/bitgo/utils/tss/eddsa/eddsa.ts
Due: bitgo

feat(kms) added credentials to AWS access
  modules/express-kms-api-example/package.json
  modules/express-kms-api-example/src/api/handlers/GET.ts
  modules/express-kms-api-example/src/api/handlers/POST.ts
  modules/express-kms-api-example/src/api/schemas/postKeySchema.ts
  modules/express-kms-api-example/src/middlewares/keyProvider.ts
  modules/express-kms-api-example/src/providers/aws/aws-kms.ts
Due: express

test: initial commit of new branch
  examples/ts/access-token.ts
  examples/ts/create-tss-wallet.ts
  examples/ts/get-keychains.ts
  examples/ts/send-many.ts
  examples/ts/send-wallet-transaction.ts
  examples/ts/sui/create-wallet.ts
Due: none

chore(examples): get keychains
  .gitcommitscopes
  examples/ts/access-token.ts
  examples/ts/get-keychains.ts
Due: none

refactor: use test env by default
  examples/ts/access-token.ts
Due: none

feat(root): add new audit key baseCoin method
  modules/abstract-cosmos/src/cosmosCoin.ts
  modules/abstract-eth/src/abstractEthLikeCoin.ts
  modules/abstract-substrate/src/abstractSubstrateCoin.ts
  modules/abstract-utxo/src/abstractUtxoCoin.ts
  modules/sdk-coin-ada/src/ada.ts
  modules/sdk-coin-algo/src/algo.ts
  modules/sdk-coin-algo/test/unit/algo.ts
  modules/sdk-coin-algo/test/unit/fixtures/algoBackupKey.ts
  modules/sdk-coin-btc/test/unit/btc.ts
  modules/sdk-coin-btc/test/unit/fixtures/btcBackupKey.ts
  modules/sdk-coin-btc/test/unit/fixtures/index.ts
  modules/sdk-coin-dot/src/dot.ts
  modules/sdk-coin-eth/test/unit/eth.ts
  modules/sdk-coin-eth/test/unit/fixtures/ethMultiSigBackupKey.ts
  modules/sdk-coin-eth/test/unit/fixtures/ethTssBackupKey.ts
  modules/sdk-coin-hbar/src/hbar.ts
  modules/sdk-coin-hbar/test/unit/fixtures/hbarBackupKey.ts
  modules/sdk-coin-hbar/test/unit/hbar.ts
  modules/sdk-coin-near/src/near.ts
  modules/sdk-coin-sol/src/sol.ts
  modules/sdk-coin-sol/test/unit/fixtures/solBackupKey.ts
  modules/sdk-coin-sol/test/unit/sol.ts
  modules/sdk-coin-sui/src/sui.ts
  modules/sdk-coin-ton/src/ton.ts
  modules/sdk-coin-xlm/src/xlm.ts
  modules/sdk-coin-xlm/test/unit/fixtures/xlmBackupKey.ts
  modules/sdk-coin-xlm/test/unit/xlm.ts
  modules/sdk-core/src/bitgo/baseCoin/baseCoin.ts
  modules/sdk-core/src/bitgo/baseCoin/iBaseCoin.ts
  modules/sdk-lib-mpc/src/curves/util.ts
Due: none

feat: use bitgo/secp256k1 for bip32/xprv/xpub operations
  modules/sdk-core/src/account-lib/util/crypto.ts
Due: none

chore: support tokenApproval for MPC
  modules/abstract-eth/src/abstractEthLikeNewCoins.ts
  modules/sdk-core/src/bitgo/utils/mpcUtils.ts
  modules/sdk-core/src/bitgo/utils/tss/baseTypes.ts
  modules/sdk-core/src/bitgo/wallet/wallet.ts
Due: none

chore(sdk-coin-polyx): export iface
  modules/sdk-coin-polyx/src/lib/index.ts
Due: none

chore(root): follow up comments on auditKey
  modules/abstract-lightning/src/abstractLightningCoin.ts
  modules/sdk-coin-algo/src/algo.ts
  modules/sdk-coin-algo/test/unit/algo.ts
  modules/sdk-coin-avaxp/src/avaxp.ts
  modules/sdk-coin-hbar/src/hbar.ts
  modules/sdk-coin-hbar/test/unit/hbar.ts
  modules/sdk-coin-vet/src/vet.ts
  modules/sdk-coin-xlm/src/xlm.ts
  modules/sdk-coin-xlm/test/unit/xlm.ts
  modules/sdk-core/src/bitgo/baseCoin/baseCoin.ts
Due: none

fix: correct trx:usd1 decimal places
  examples/ts/trx/consolidate-bitgo-express.ts
  examples/ts/trx/consolidate-hot-account-balances.ts
  examples/ts/trx/consolidate-smc-account-balance.ts
  examples/ts/trx/create-address.ts
  modules/statics/src/coins/ofcCoins.ts
Due: statics

fix: correct ofctrx:usd1 decimal places
  modules/statics/src/coins/ofcCoins.ts
Due: statics

feat: consolidate NFTs without address input
  examples/ts/nft/list-wallet-addresses-by-balance.ts
  examples/ts/nft/nft-consolidation-send.ts
  modules/sdk-core/src/bitgo/wallet/iWallet.ts
  modules/sdk-core/src/bitgo/wallet/wallet.ts
Due: none

feat(sdk-coin-icp): refactor account balance and fee retrieval to use IcpAgent class
  modules/sdk-coin-icp/src/icp.ts
  modules/sdk-coin-icp/src/lib/icpAgent.ts
  modules/sdk-coin-icp/src/lib/iface.ts
  modules/sdk-coin-icp/src/lib/utils.ts
  modules/sdk-coin-icp/test/unit/transactionBuilder/transactionRecover.ts
Due: none

chore: assert both nftCollectionId and nftId
  examples/ts/nft/list-wallet-addresses-by-balance.ts
  modules/sdk-core/src/bitgo/wallet/wallet.ts
Due: none

feat(abstract-lightning): make offchain lightning balance composed
  modules/abstract-lightning/src/codecs/api/balance.ts
Due: none

fix: fix ada public rest endpoint
  modules/sdk-core/src/bitgo/environments.ts
Due: none

feat(sdk-coin-near): added fungible token transfer builder Ticket: COIN-4148
  modules/bitgo/src/v2/coinFactory.ts
  modules/bitgo/test/browser/browser.spec.ts
  modules/sdk-coin-near/package.json
  modules/sdk-coin-near/src/lib/constants.ts
  modules/sdk-coin-near/src/lib/contractCallWrapper.ts
  modules/sdk-coin-near/src/lib/fungibleTokenTransferBuilder.ts
  modules/sdk-coin-near/src/lib/iface.ts
  modules/sdk-coin-near/src/lib/stakingActivateBuilder.ts
  modules/sdk-coin-near/src/lib/stakingDeactivateBuilder.ts
  modules/sdk-coin-near/src/lib/stakingWithdrawBuilder.ts
  modules/sdk-coin-near/src/lib/transaction.ts
  modules/sdk-coin-near/src/lib/transactionBuilder.ts
  modules/sdk-coin-near/src/lib/transactionBuilderFactory.ts
  modules/sdk-coin-near/src/lib/transferBuilder.ts
  modules/sdk-coin-near/src/lib/utils.ts
  modules/sdk-coin-near/src/near.ts
  modules/sdk-coin-near/src/nep141Token.ts
  modules/sdk-coin-near/test/resources/near.ts
  modules/sdk-coin-near/test/unit/keyPair.ts
  modules/sdk-coin-near/test/unit/near.ts
  modules/sdk-coin-near/test/unit/transactionBuilder/fungibleTokenTransferBuilder.ts
  modules/sdk-coin-near/test/unit/transactionBuilder/stakingActivateBuilder.ts
  modules/sdk-coin-near/test/unit/transactionBuilder/stakingDeactivateBuilder.ts
  modules/sdk-coin-near/test/unit/transactionBuilder/stakingWithdrawBuilder.ts
  modules/sdk-coin-near/test/unit/transactionBuilder/transactionBuilder.ts
  modules/sdk-coin-near/test/unit/transactionBuilder/transferBuilder.ts
  yarn.lock
Due: bitgo

feat(statics): onboard new batch of tokens Ticket: WIN-5669
  modules/statics/src/base.ts
  modules/statics/src/coins.ts
  modules/statics/src/coins/erc20Coins.ts
  modules/statics/src/coins/ofcCoins.ts
  modules/statics/src/coins/ofcErc20Coins.ts
  modules/statics/src/coins/solTokens.ts
  modules/statics/src/gatekeep.ts
Due: statics
