Repository BitGo/BitGoJS: changes, and which Codecov flags are due for each by the changed paths.
All: bitgo, account-lib, statics, express

.codecov.yml:

coverage:
  status:
    project: off
    patch: off
comment:
  layout: 'diff, flags, files'
  require_changes: true
flags:
  bitgo:
    paths:
      - modules/bitgo
  account-lib:
    paths:
      - modules/account-lib
  statics:
    paths:
      - modules/statics
  express:
    paths:
      - modules/express

chore(sdk-lib-mpc): rename files to temp
  modules/sdk-lib-mpc/src/tss/ecdsa/paillierProofTemp.ts
  modules/sdk-lib-mpc/src/tss/ecdsa/rangeProofTemp.ts
Due: none

test(sdk-lib-mpc): add paillierBlumProof tests
  modules/sdk-lib-mpc/src/tss/ecdsa/generatePaillierKey.ts
  modules/sdk-lib-mpc/src/tss/ecdsa/index.ts
  modules/sdk-lib-mpc/src/tss/ecdsa/paillierBlumProof.ts
  modules/sdk-lib-mpc/src/tss/ecdsa/types.ts
  modules/sdk-lib-mpc/test/fixtures/mockPaillierBlumProof.json
  modules/sdk-lib-mpc/test/fixtures/paillierBlumProof.ts
  modules/sdk-lib-mpc/test/tsconfig.json
  modules/sdk-lib-mpc/test/unit/tss/ecdsa/paillierBlumProof.ts
Due: none

chore(sdk-lib-mpc): remove temp files
  modules/sdk-lib-mpc/src/tss/ecdsa/paillierProof.ts
  modules/sdk-lib-mpc/src/tss/ecdsa/rangeProof.ts
Due: none

chore(sdk-lib-mpc): fix fmt
  modules/sdk-lib-mpc/package.json
  modules/sdk-lib-mpc/test/fixtures/mockPaillierBlumProof.json
Due: none

chore(sdk-lib-mpc): add reference to paillierBlum
  modules/sdk-lib-mpc/src/tss/ecdsa/paillierBlumProof.ts
Due: none

chore(sdk-lib-mpc): use shake256 and sampling rejection for generating quadratic residue
  modules/sdk-lib-mpc/src/tss/ecdsa/paillierBlumProof.ts
Due: none

feat(sdk-lib-mpc): add noSmallFactors module
  modules/sdk-lib-mpc/src/tss/ecdsa/index.ts
  modules/sdk-lib-mpc/src/tss/ecdsa/noSmallFactorsProof.ts
  modules/sdk-lib-mpc/src/tss/ecdsa/types.ts
  modules/sdk-lib-mpc/src/util.ts
  modules/sdk-lib-mpc/test/fixtures/mockNoSmallFactorsProof.json
  modules/sdk-lib-mpc/test/unit/tss/ecdsa/noSmallFactorsProof.ts
Due: none

feat(sdk-lib-mpc): rename nsf.sigma to nsf.rho to match whitepaper
  modules/sdk-lib-mpc/src/tss/ecdsa/noSmallFactorsProof.ts
  modules/sdk-lib-mpc/src/tss/ecdsa/types.ts
  modules/sdk-lib-mpc/test/fixtures/mockNoSmallFactorsProof.json
Due: none

chore(sdk-lib-mpc): use xit instead of comment
  modules/sdk-lib-mpc/test/unit/tss/ecdsa/paillierBlumProof.ts
Due: none

chore(sdk-lib-mpc): regenerate fixtures
  modules/sdk-lib-mpc/test/fixtures/mockPaillierBlumProof.json
  modules/sdk-lib-mpc/test/unit/tss/ecdsa/paillierBlumProof.ts
Due: none

chore(sdk-lib-mpc): increase timeout
  modules/sdk-lib-mpc/.mocharc.js
Due: none

chore(sdk-lib-mpc): update rangeProof import
  modules/sdk-lib-mpc/test/unit/tss/ecdsa/dlogproofs.ts
Due: none

chore(sdk-lib-mpc): update paillierProof import
  modules/sdk-lib-mpc/test/unit/tss/ecdsa/paillierproof.ts
Due: none

chore(sdk-lib-mpc): skip prove and verify
  modules/sdk-lib-mpc/.mocharc.js
  modules/sdk-lib-mpc/test/unit/tss/ecdsa/paillierBlumProof.ts
Due: none

chore(sdk-lib-mpc): prettier
  modules/sdk-lib-mpc/test/fixtures/mockPaillierBlumProof.json
Due: none

chore(sdk-lib-mpc): increase timeout for prove tests
  modules/sdk-lib-mpc/.mocharc.js
Due: none

chore(root): allow deps as a scope for commitlint
  commitlint.config.js
Due: none

feat(sdk-lib-mpc): use rejection sampling for challenge of no small factors proof
  modules/sdk-lib-mpc/src/tss/ecdsa/noSmallFactorsProof.ts
  modules/sdk-lib-mpc/src/tss/ecdsa/types.ts
  modules/sdk-lib-mpc/test/fixtures/mockNoSmallFactorsProof.json
Due: none

fix(key-card): fix types
  modules/key-card/src/drawKeycard.ts
  modules/key-card/src/faq.ts
  modules/key-card/src/generateParamsForKeyCreation.ts
  modules/key-card/src/generateQrData.ts
  modules/key-card/src/index.ts
  modules/key-card/src/types.ts
Due: none

feat(sdk-coin-xlm): support token enablement
  modules/sdk-coin-xlm/src/xlm.ts
  modules/sdk-coin-xlm/test/unit/xlm.ts
Due: none

feat(sdk-coin-sdk): sui custom tx example EA-1632
  modules/sdk-coin-sui/test/tx.utils.ts
Due: none

feat(statics): add coinfeature for higher txRequest rebuild limit
  modules/statics/src/base.ts
Due: statics

fix(sdk-core): skip verify tx when txRequestId is provided
  modules/sdk-core/src/bitgo/wallet/wallet.ts
Due: none

feat(sdk-core): add new method to sign tss txs
  modules/bitgo/test/v2/unit/wallet.ts
  modules/sdk-core/src/bitgo/wallet/wallet.ts
Due: bitgo

fix(sdk-coin-ton): add transaction builder
  modules/sdk-coin-ton/package.json
  modules/sdk-coin-ton/src/lib/iface.ts
  modules/sdk-coin-ton/src/lib/keyPair.ts
  modules/sdk-coin-ton/src/lib/transaction.ts
  modules/sdk-coin-ton/src/lib/transactionBuilder.ts
  modules/sdk-coin-ton/src/lib/transactionBuilderFactory.ts
  modules/sdk-coin-ton/src/lib/transferBuilder.ts
  modules/sdk-coin-ton/src/lib/utils.ts
  modules/sdk-coin-ton/src/ton.ts
  modules/sdk-coin-ton/test/integration/index.ts
  modules/sdk-coin-ton/test/resources/ton.ts
  modules/sdk-coin-ton/test/unit/keyPair.ts
  modules/sdk-coin-ton/test/unit/ton.ts
  modules/sdk-coin-ton/test/unit/transferBuilder.ts
Due: none

feat(statics): enable coinfeature for atom
  modules/statics/src/coins.ts
Due: statics

feat(statics): add new coin features for trust
  modules/statics/src/base.ts
  modules/statics/src/coins.ts
  modules/statics/test/unit/coins.ts
Due: statics

chore: enable testing of node18 in ci
  .github/workflows/ci.yml
Due: none

fix(bitgo): update yarn.lock
  yarn.lock
Due: none

fix(sdk-coin-ton): fix dep
  modules/sdk-coin-ton/package.json
Due: none

chore: update actions/checkout to v4
  .github/workflows/ci.yml
Due: none

chore: add package.json to hash key for node_modules cache
  .github/workflows/ci.yml
Due: none

chore: move house-keeping to seperate job
  .github/workflows/ci.yml
Due: none

feat(statics): add Berachain & Haqq
  modules/bitgo/test/v2/unit/keychains.ts
  modules/statics/src/base.ts
  modules/statics/src/coins.ts
  modules/statics/src/networks.ts
  modules/statics/test/unit/fixtures/expectedColdFeatures.ts
Due: bitgo, statics

feat(sdk-coin-core): add coreum sdk
  Dockerfile
  modules/account-lib/package.json
  modules/account-lib/src/index.ts
  modules/account-lib/tsconfig.json
  modules/bitgo/package.json
  modules/bitgo/src/v2/coinFactory.ts
  modules/bitgo/src/v2/coins/index.ts
  modules/bitgo/tsconfig.json
  modules/sdk-coin-core/.eslintignore
  modules/sdk-coin-core/.gitignore
  modules/sdk-coin-core/.mocharc.yml
  modules/sdk-coin-core/.npmignore
  modules/sdk-coin-core/.prettierignore
  modules/sdk-coin-core/.prettierrc.yml
  modules/sdk-coin-core/README.md
  modules/sdk-coin-core/package.json
  modules/sdk-coin-core/src/core.ts
  modules/sdk-coin-core/src/index.ts
  modules/sdk-coin-core/src/lib/constants.ts
  modules/sdk-coin-core/src/lib/index.ts
  modules/sdk-coin-core/src/lib/keyPair.ts
  modules/sdk-coin-core/src/lib/transactionBuilderFactory.ts
  modules/sdk-coin-core/src/lib/utils.ts
  modules/sdk-coin-core/src/register.ts
  modules/sdk-coin-core/src/tcore.ts
  modules/sdk-coin-core/test/resources/core.ts
  modules/sdk-coin-core/test/resources/testcore.ts
  modules/sdk-coin-core/test/unit/core.ts
  modules/sdk-coin-core/test/unit/keyPair.ts
  modules/sdk-coin-core/test/unit/transaction.ts
  modules/sdk-coin-core/test/unit/transactionBuilder/StakingActivateBuilder.ts
  modules/sdk-coin-core/test/unit/transactionBuilder/StakingDeactivateBuilder.ts
  modules/sdk-coin-core/test/unit/transactionBuilder/StakingWithdrawRewardsBuilder.ts
  modules/sdk-coin-core/test/unit/transactionBuilder/transactionBuilder.ts
  modules/sdk-coin-core/test/unit/transactionBuilder/transferBuilder.ts
  modules/sdk-coin-core/test/unit/utils.ts
  modules/sdk-coin-core/tsconfig.json
  modules/sdk-core/src/bitgo/environments.ts
  tsconfig.packages.json
Due: bitgo, account-lib

feat(statics): add arbeth coin config WIN-690 TICKET: WIN-690
  modules/bitgo/test/v2/unit/keychains.ts
  modules/statics/src/base.ts
  modules/statics/src/coins.ts
  modules/statics/src/networks.ts
  modules/statics/test/unit/fixtures/expectedColdFeatures.ts
Due: bitgo, statics

feat(statics): add opeth coin config WIN-691 TICKET: WIN-691
  modules/bitgo/test/v2/unit/keychains.ts
  modules/statics/src/base.ts
  modules/statics/src/coins.ts
  modules/statics/src/networks.ts
  modules/statics/test/unit/fixtures/expectedColdFeatures.ts
Due: bitgo, statics

feat(sdk-coin-atom): add sendMany support for cosmos chains
  modules/abstract-cosmos/src/cosmosCoin.ts
  modules/abstract-cosmos/src/lib/transaction.ts
  modules/sdk-coin-atom/src/lib/transaction.ts
  modules/sdk-coin-atom/test/resources/atom.ts
  modules/sdk-coin-atom/test/unit/atom.ts
  modules/sdk-coin-atom/test/unit/transactionBuilder/transferBuilder.ts
  modules/sdk-coin-bld/test/unit/bld.ts
  modules/sdk-coin-hash/test/unit/hash.ts
  modules/sdk-coin-injective/test/unit/injective.ts
  modules/sdk-coin-osmo/test/unit/osmo.ts
  modules/sdk-coin-sei/test/unit/sei.ts
  modules/sdk-coin-tia/test/resources/tia.ts
  modules/sdk-coin-tia/test/unit/tia.ts
  modules/sdk-coin-tia/test/unit/transactionBuilder/StakingActivateBuilder.ts
  modules/sdk-coin-tia/test/unit/transactionBuilder/StakingDeactivateBuilder.ts
  modules/sdk-coin-tia/test/unit/transactionBuilder/transferBuilder.ts
  modules/sdk-coin-zeta/test/unit/zeta.ts
Due: none

feat(statics): adds ofc oxt and tusd in coins.ts
  modules/statics/src/coins.ts
Due: statics

feat(statics): add dYdX chain
  modules/bitgo/test/v2/unit/keychains.ts
  modules/statics/src/base.ts
  modules/statics/src/coins.ts
  modules/statics/src/networks.ts
  modules/statics/test/unit/fixtures/expectedColdFeatures.ts
Due: bitgo, statics
