Repository BitGo/BitGoJS: changes, and which Codecov flags are due for each by the changed paths.
All: bitgo, account-lib, statics, express

.codecov.yml:

coverage:
  status:
    project: off
    patch: off
comment:
  layout: 'diff, flags, files'
  require_changes: true
flags:
  bitgo:
    paths:
      - modules/bitgo
  account-lib:
    paths:
      - modules/account-lib
  statics:
    paths:
      - modules/statics
  express:
    paths:
      - modules/express

fix(examples): use 'test' env consistently in Go Account scripts
  examples/ts/go-account/create-go-account-address.ts
  examples/ts/go-account/create-go-account-advanced.ts
  examples/ts/go-account/create-go-account.ts
  examples/ts/go-account/go-account-approve.ts
  examples/ts/go-account/go-account-get-balance.ts
  examples/ts/go-account/go-account-get-order.ts
  examples/ts/go-account/go-account-get-pending-approval.ts
  examples/ts/go-account/go-account-list-orders.ts
  examples/ts/go-account/go-account-list-products.ts
  examples/ts/go-account/go-account-place-order.ts
  examples/ts/go-account/go-account-whitelist-update.ts
  examples/ts/go-account/go-account-withdrawal.ts
  examples/ts/go-account/sign-transaction.ts
Due: none

refactor(abstract-utxo): expose wasm-aware address codec
  modules/abstract-utxo/src/abstractUtxoCoin.ts
  modules/abstract-utxo/src/names.ts
  modules/abstract-utxo/src/transaction/recipient.ts
  modules/abstract-utxo/test/unit/transaction/addressCodec.ts
Due: none

refactor(abstract-utxo): route transactions through address codec
  modules/abstract-utxo/src/abstractUtxoCoin.ts
  modules/abstract-utxo/src/descriptor/assertDescriptorWalletAddress.ts
  modules/abstract-utxo/src/transaction/decode.ts
  modules/abstract-utxo/src/transaction/descriptor/explainPsbt.ts
  modules/abstract-utxo/src/transaction/descriptor/parse.ts
  modules/abstract-utxo/src/transaction/descriptor/parseToAmountType.ts
  modules/abstract-utxo/src/transaction/descriptor/verifyTransaction.ts
  modules/abstract-utxo/src/transaction/explainTransaction.ts
  modules/abstract-utxo/src/transaction/fixedScript/parseTransaction.ts
  modules/abstract-utxo/src/transaction/fixedScript/replayProtection.ts
  modules/abstract-utxo/src/transaction/parseTransaction.ts
  modules/abstract-utxo/src/transaction/verifyTransaction.ts
  modules/abstract-utxo/test/unit/descriptorAddress.ts
  modules/abstract-utxo/test/unit/transaction.ts
Due: none

refactor(abstract-utxo): route signing and recovery via codec
  modules/abstract-utxo/src/abstractUtxoCoin.ts
  modules/abstract-utxo/src/address/fixedScript.ts
  modules/abstract-utxo/src/impl/bch/bch.ts
  modules/abstract-utxo/src/impl/btc/inscriptionBuilder.ts
  modules/abstract-utxo/src/impl/zec/zec.ts
  modules/abstract-utxo/src/recovery/backupKeyRecovery.ts
  modules/abstract-utxo/src/recovery/crossChainRecovery.ts
  modules/abstract-utxo/src/transaction/decode.ts
  modules/abstract-utxo/src/transaction/descriptor/explainPsbt.ts
  modules/abstract-utxo/src/transaction/fixedScript/signTransaction.ts
  modules/abstract-utxo/src/transaction/signTransaction.ts
  modules/abstract-utxo/test/unit/impl/bch/unit/bch.ts
  modules/abstract-utxo/test/unit/recovery/backupKeyRecovery.ts
  modules/abstract-utxo/test/unit/recovery/crossChainRecovery.ts
  modules/abstract-utxo/test/unit/recovery/formatBackupKeyRecoveryResult.ts
  modules/abstract-utxo/test/unit/recovery/mock.ts
  modules/abstract-utxo/test/unit/util/address.ts
  modules/abstract-utxo/test/unit/util/nockIndexerAPI.ts
  modules/abstract-utxo/test/unit/util/transaction.ts
  modules/abstract-utxo/test/unit/util/unspents.ts
Due: none

chore(sdk-core): bump public types
  modules/abstract-lightning/package.json
  modules/bitgo/package.json
  modules/express/package.json
  modules/passkey-crypto/package.json
  modules/sdk-coin-flrp/package.json
  modules/sdk-coin-sol/package.json
  modules/sdk-core/package.json
  yarn.lock
Due: bitgo, express

feat(abstract-utxo): add unifiedRecipientPreference to build params
  modules/abstract-utxo/src/abstractUtxoCoin.ts
  modules/abstract-utxo/src/impl/zec/recipients.ts
  modules/abstract-utxo/src/impl/zec/types.ts
  modules/sdk-core/src/bitgo/baseCoin/iBaseCoin.ts
  modules/sdk-core/src/bitgo/wallet/BuildParams.ts
  modules/sdk-core/src/bitgo/wallet/iWallet.ts
Due: none

perf(sdk-core): reuse Argon2 session for account password rotation
  modules/sdk-api/src/bitgoAPI.ts
  modules/sdk-api/test/unit/bitgoAPI.ts
  modules/sdk-core/src/bitgo/keychain/iKeychains.ts
  modules/sdk-core/src/bitgo/keychain/keychains.ts
  modules/sdk-core/test/unit/bitgo/keychain/keychains.ts
Due: none

feat(sdk-core): dkls derive round orchestrator
  modules/bitgo/package.json
  modules/bitgo/test/v2/unit/internal/tssUtils/ecdsaVrfMPCv2/createSafeChildKeychains.ts
  modules/sdk-core/package.json
  modules/sdk-core/src/bitgo/safe/iSafe.ts
  modules/sdk-core/src/bitgo/safe/safe.ts
  modules/sdk-core/src/bitgo/utils/tss/ecdsa/ecdsaMPCv2.ts
  modules/sdk-core/src/bitgo/utils/tss/ecdsa/ecdsaMPCv2KeyGenSender.ts
  modules/sdk-core/src/bitgo/utils/tss/ecdsa/ecdsaVrfMPCv2.ts
  modules/sdk-core/src/bitgo/utils/tss/ecdsa/typesMPCv2.ts
  modules/sdk-core/test/unit/bitgo/safe/safe.ts
  modules/sdk-lib-mpc/src/tss/dkls-vrf/util.ts
  modules/sdk-lib-mpc/src/tss/ecdsa-dkls/derive.ts
  modules/sdk-lib-mpc/src/tss/ecdsa-dkls/index.ts
  modules/sdk-lib-mpc/test/unit/tss/dkls-vrf/derive.ts
  yarn.lock
Due: bitgo

feat: handle temple delegation acceptance prepared txn
  modules/sdk-coin-canton/src/lib/utils.ts
  modules/sdk-coin-canton/test/resources.ts
  modules/sdk-coin-canton/test/unit/builder/cosignDelegationAccept/cosignDelegationAcceptBuilder.ts
  modules/sdk-coin-canton/test/unit/utils.ts
Due: none

feat(sdk-coin-stx): add PoX-5 bond builders
  modules/sdk-coin-stx/src/lib/constants.ts
  modules/sdk-coin-stx/src/lib/contractBuilder.ts
  modules/sdk-coin-stx/src/lib/index.ts
  modules/sdk-coin-stx/src/lib/pox5Builder.ts
  modules/sdk-coin-stx/src/lib/transactionBuilderFactory.ts
  modules/sdk-coin-stx/src/lib/utils.ts
  modules/sdk-coin-stx/test/unit/transactionBuilder/contractBuilder.ts
  modules/sdk-coin-stx/test/unit/transactionBuilder/fungibleTokenTransferBuilder.ts
  modules/sdk-coin-stx/test/unit/transactionBuilder/pox5Builder.ts
  modules/sdk-core/src/bitgo/staking/iStakingWallet.ts
  modules/sdk-core/src/bitgo/staking/stakingWallet.ts
Due: none

chore: bump wasm-mps to 1.15.0 Ticket: WCI-1614
  modules/sdk-lib-mpc/package.json
  yarn.lock
Due: none

fix(sdk-lib-mpc): adapt RedPallas DKG to wasm-mps 1.15.0 API
  modules/sdk-lib-mpc/src/tss/redpallas-mps/dkg.ts
  modules/sdk-lib-mpc/src/tss/redpallas-mps/util.ts
  modules/sdk-lib-mpc/test/unit/tss/redpallas/dkg.ts
  modules/sdk-lib-mpc/test/unit/tss/redpallas/redpallas-utils.ts
Due: none

feat(sdk-core): add Aave V3 vault deposits
  modules/sdk-core/src/bitgo/defi/defiVault.ts
  modules/sdk-core/src/bitgo/defi/iDefiVault.ts
  modules/sdk-core/test/unit/bitgo/defi/defiVault.ts
Due: none

fix(sdk-api): route authenticate() to v2 login
  modules/bitgo/test/unit/bitgo.ts
  modules/express/src/fetchEncryptedPrivKeys.ts
  modules/sdk-api/src/bitgoAPI.ts
  modules/sdk-api/test/unit/bitgoAPI.ts
  modules/sdk-api/test/unit/hmacStrategy.ts
  scripts/upgrade-wallet-encryption.ts
Due: bitgo, express

feat(sdk-coin-btc): register tbtcstx
  modules/abstract-utxo/package.json
  modules/abstract-utxo/src/impl/btc/index.ts
  modules/abstract-utxo/src/impl/btc/tbtcstx.ts
  modules/abstract-utxo/src/names.ts
  modules/abstract-utxo/test/unit/tbtcstx.ts
  modules/abstract-utxo/test/unit/util/utxoCoins.ts
  modules/bitgo/src/v2/coinFactory.ts
  modules/bitgo/src/v2/coins/index.ts
  modules/sdk-coin-btc/src/index.ts
  modules/statics/src/networks.ts
  modules/statics/src/utxo.ts
  modules/statics/test/unit/fixtures/expectedColdFeatures.ts
Due: bitgo, statics

feat(abstract-utxo): add zec address codec with unified address support
  modules/abstract-utxo/src/impl/zec/address.ts
  modules/abstract-utxo/src/impl/zec/zec.ts
  modules/abstract-utxo/test/unit/impl/zec/unit/address.ts
Due: none

feat(sdk-coin-btc): register tbtcstxprivate1
  modules/abstract-utxo/src/impl/btc/index.ts
  modules/abstract-utxo/src/impl/btc/tbtcstxprivate1.ts
  modules/abstract-utxo/src/names.ts
  modules/abstract-utxo/test/unit/tbtcstxprivate1.ts
  modules/bitgo/src/v2/coinFactory.ts
  modules/bitgo/src/v2/coins/index.ts
  modules/sdk-coin-btc/src/index.ts
  modules/statics/src/networks.ts
  modules/statics/src/utxo.ts
  modules/statics/test/unit/fixtures/expectedColdFeatures.ts
Due: bitgo, statics

fix(sol): decode Token-2022 unknown data as base64
  modules/sdk-coin-sol/src/lib/explainTransactionWasm.ts
  modules/sdk-coin-sol/test/unit/explainTransactionWasm.ts
Due: none

feat(abstract-utxo): support ZEC v6 psbt decoding
  modules/abstract-utxo/src/impl/zec/address.ts
  modules/abstract-utxo/src/impl/zec/zec.ts
  modules/abstract-utxo/src/transaction/fixedScript/parseTransaction.ts
  modules/abstract-utxo/src/transaction/recipient.ts
  modules/abstract-utxo/test/unit/impl/zec/psbtDecode.ts
  modules/abstract-utxo/test/unit/impl/zec/shieldedPrebuildAndSign.ts
Due: none

docs: define regulated custody design
  docs/regulated-custody-design.md
Due: none

fix(abstract-utxo): validate Zcash output addresses
  modules/abstract-utxo/src/abstractUtxoCoin.ts
  modules/abstract-utxo/src/impl/zec/address.ts
  modules/abstract-utxo/src/transaction/explainTransaction.ts
  modules/abstract-utxo/src/transaction/fixedScript/explainPsbtWasm.ts
  modules/abstract-utxo/src/transaction/recipient.ts
  modules/abstract-utxo/test/unit/bip322.ts
  modules/abstract-utxo/test/unit/customChangeWallet.ts
  modules/abstract-utxo/test/unit/impl/zec/unit/address.ts
  modules/abstract-utxo/test/unit/transaction/fixedScript/explainPsbt.ts
  modules/abstract-utxo/test/unit/transaction/fixedScript/parsePsbt.ts
Due: none

refactor(abstract-utxo): simplify recipient conversion
  modules/abstract-utxo/src/abstractUtxoCoin.ts
  modules/abstract-utxo/src/transaction/fixedScript/parseTransaction.ts
  modules/abstract-utxo/src/transaction/recipient.ts
  modules/abstract-utxo/test/unit/bip322.ts
Due: none

fix(examples): standardize wallet ID env var across Go Account scripts
  examples/ts/go-account/create-go-account-address.ts
  examples/ts/go-account/go-account-get-balance.ts
  examples/ts/go-account/go-account-get-order.ts
  examples/ts/go-account/go-account-list-orders.ts
  examples/ts/go-account/go-account-list-products.ts
  examples/ts/go-account/go-account-place-order.ts
Due: none

fix(sdk-coin-sol): decode Token-2022 unknown data as base64
  modules/sdk-coin-sol/src/lib/explainTransactionWasm.ts
  modules/sdk-coin-sol/test/unit/explainTransactionWasm.ts
Due: none

fix(sdk-core): restore typed subtype payloads
  modules/bitgo/test/v2/unit/staking/stakingWalletCommon.ts
  modules/sdk-core/src/bitgo/staking/iStakingWallet.ts
Due: bitgo

fix(sdk-core): preserve legacy pox5 subtype
  modules/bitgo/test/v2/unit/staking/stakingWalletCommon.ts
  modules/sdk-core/src/bitgo/staking/iStakingWallet.ts
Due: bitgo

fix(sdk-core): preserve staking subtype compatibility
  modules/bitgo/test/v2/unit/staking/stakingWalletCommon.ts
  modules/sdk-core/src/bitgo/staking/iStakingWallet.ts
  modules/sdk-core/src/bitgo/staking/stakingWallet.ts
Due: bitgo

fix(sdk-coin-sol): add priority fees to transaction builders
  modules/sdk-coin-sol/src/lib/ataInitializationBuilder.ts
  modules/sdk-coin-sol/src/lib/stakingActivateBuilder.ts
  modules/sdk-coin-sol/src/lib/stakingDeactivateBuilder.ts
  modules/sdk-coin-sol/src/lib/stakingDelegateBuilder.ts
  modules/sdk-coin-sol/src/lib/stakingWithdrawBuilder.ts
  modules/sdk-coin-sol/src/lib/transferBuilder.ts
  modules/sdk-coin-sol/src/lib/transferBuilderV2.ts
  modules/sdk-coin-sol/test/unit/transactionBuilder/transferBuilder.ts
Due: none

test(sdk-lib-mpc): add EdDSA MPCv2 keyshare wire-format regression
  modules/sdk-lib-mpc/test/fixtures/eddsaMPCv2Keyshares.ts
  modules/sdk-lib-mpc/test/unit/tss/eddsa/mpcv2Compatibility.ts
Due: none

feat(statics): onboard eth:waethusdc stata token
  modules/statics/src/base.ts
  modules/statics/src/coins/erc20Coins.ts
Due: statics

fix(statics): derive EVM token features from ERC20 support for AMS onboarding
  modules/statics/src/coins.ts
  modules/statics/src/index.ts
  modules/statics/src/networkFeatureMapForTokens.ts
  modules/statics/test/unit/coins.ts
  modules/statics/test/unit/resources/amsTokenConfig.ts
  modules/statics/test/unit/tokenConfigTests.ts
Due: statics

fix(statics): process every token per family in createTokenMapUsingTrimmedConfigDetails
  modules/statics/src/coins.ts
  modules/statics/test/unit/coins.ts
  modules/statics/test/unit/resources/amsTokenConfig.ts
Due: statics

fix(statics): set Pearl testnet block explorer URL
  modules/statics/src/networks.ts
  modules/statics/test/unit/networks.ts
Due: statics

fix(statics): rename tbaseeth:waBasSepLidUSDC to tbaseeth:wabasseplidusdc
  modules/statics/src/allCoinsAndTokens.ts
  modules/statics/src/base.ts
Due: statics

fix(sdk-coin-sol): allow WithdrawSol stake pool instruction
  modules/sdk-coin-sol/src/lib/constants.ts
  modules/sdk-coin-sol/test/unit/utils.ts
Due: none
