Repository BitGo/BitGoJS: changes, and which Codecov flags are due for each by the changed paths.
All: bitgo, account-lib, statics, express

fix(sdk-coin-xtz): preserve txid when re-parsing signed origination
  commitlint.config.js
  modules/sdk-coin-xtz/src/lib/transaction.ts
  modules/sdk-coin-xtz/test/unit/transaction.ts
Due: none

Revert "fix(tss): verify recipients before signing"
  modules/abstract-eth/src/abstractEthLikeNewCoins.ts
  modules/bitgo/test/v2/unit/internal/tssUtils/ecdsa.ts
  modules/bitgo/test/v2/unit/internal/tssUtils/ecdsaMPCv2/signTxRequest.ts
  modules/sdk-core/src/bitgo/pendingApproval/pendingApproval.ts
  modules/sdk-core/src/bitgo/utils/tss/baseTSSUtils.ts
  modules/sdk-core/src/bitgo/utils/tss/baseTypes.ts
  modules/sdk-core/src/bitgo/utils/tss/ecdsa/ecdsa.ts
  modules/sdk-core/src/bitgo/utils/tss/ecdsa/ecdsaMPCv2.ts
  modules/sdk-core/src/bitgo/utils/tss/recipientUtils.ts
  modules/sdk-core/test/unit/bitgo/utils/tss/recipientUtils.ts
Due: bitgo

fix(abstract-utxo): guard undefined address in preprocessBuildParams [WAL-375]
  modules/abstract-utxo/src/abstractUtxoCoin.ts
  modules/abstract-utxo/test/unit/transaction/recipient.ts
Due: none

chore(statics): set underlying asset of lightning to btc
  modules/statics/src/lightning.ts
Due: statics

fix(esm): append .js extensions to relative and subpath imports
  modules/abstract-utxo/package.json
  modules/utxo-core/package.json
  scripts/fix-esm.js
Due: none

docs: move keychain field descriptions inline and fix gasPrice type
  modules/express/src/typedRoutes/api/v2/generateWallet.ts
  modules/express/src/typedRoutes/schemas/keychain.ts
Due: express

docs: fix remaining gaps found via full platform.yaml audit
  modules/express/src/typedRoutes/api/common/decrypt.ts
  modules/express/src/typedRoutes/api/common/encrypt.ts
  modules/express/src/typedRoutes/api/v2/generateWallet.ts
Due: express

feat(passkey-crypto): add @bitgo/passkey-crypto package
  modules/passkey-crypto/.mocharc.yml
  modules/passkey-crypto/package.json
  modules/passkey-crypto/src/deriveEnterpriseSalt.ts
  modules/passkey-crypto/src/derivePassword.ts
  modules/passkey-crypto/src/index.ts
  modules/passkey-crypto/test/unit/deriveEnterpriseSalt.test.ts
  modules/passkey-crypto/test/unit/derivePassword.test.ts
  modules/passkey-crypto/tsconfig.json
  yarn.lock
Due: none

feat(sdk-api): add encryptAsync and createEncryptionSession on BitGoBase/BitGoAPI
  modules/sdk-api/src/bitgoAPI.ts
  modules/sdk-api/test/unit/encrypt.ts
  modules/sdk-core/src/api/types.ts
  modules/sdk-core/src/bitgo/bitgoBase.ts
Due: none

feat(sdk-core): add encryptionVersion opt-in param to wallet and keychain types
  modules/sdk-core/src/bitgo/keychain/iKeychains.ts
  modules/sdk-core/src/bitgo/wallet/iWallets.ts
  modules/sdk-core/test/unit/bitgo/wallet/walletOptionsCodecs.ts
Due: none

feat(sdk-core): thread encryptionVersion through multisig wallet creation
  modules/sdk-core/src/bitgo/keychain/keychains.ts
  modules/sdk-core/src/bitgo/utils/tss/baseTSSUtils.ts
  modules/sdk-core/src/bitgo/utils/tss/baseTypes.ts
  modules/sdk-core/src/bitgo/utils/tss/ecdsa/ecdsa.ts
  modules/sdk-core/src/bitgo/wallet/wallets.ts
  modules/sdk-core/test/unit/bitgo/wallet/walletsWebauthn.ts
Due: none

feat(sdk-core): add v2 encryption session support to DKLS MPCv2 keygen and signing
  modules/sdk-core/src/bitgo/utils/tss/ecdsa/ecdsaMPCv2.ts
Due: none

feat(sdk-core): add v2 encryption session support to EdDSA keygen and signing
  modules/sdk-core/src/bitgo/utils/tss/baseTypes.ts
  modules/sdk-core/src/bitgo/utils/tss/eddsa/eddsa.ts
Due: none

test(bitgo): add e2e tests for v2 encryption in DKLS and EdDSA keygen
  modules/bitgo/test/v2/unit/internal/tssUtils/ecdsaMPCv2/createKeychains.ts
  modules/bitgo/test/v2/unit/internal/tssUtils/eddsa.ts
Due: bitgo

feat(sdk-core): make decryptKeychainPrivateKey async for v1/v2 auto-detection
  modules/abstract-eth/src/abstractEthLikeNewCoins.ts
  modules/abstract-utxo/src/abstractUtxoCoin.ts
  modules/abstract-utxo/src/impl/btc/inscriptionBuilder.ts
  modules/abstract-utxo/src/transaction/fixedScript/verifyTransaction.ts
  modules/abstract-utxo/src/verifyKey.ts
  modules/bitgo/test/v2/unit/wallet.ts
  modules/bitgo/test/v2/unit/wallets.ts
  modules/sdk-core/src/bitgo/keychain/decryptKeychain.ts
  modules/sdk-core/src/bitgo/wallet/iWallet.ts
  modules/sdk-core/src/bitgo/wallet/wallet.ts
Due: bitgo

refactor(sdk-core, sdk-api): address v2 encryption review feedback
  modules/bitgo/test/unit/decryptKeychain.ts
  modules/sdk-api/src/encrypt.ts
  modules/sdk-core/src/api/types.ts
  modules/sdk-core/src/bitgo/bitgoBase.ts
  modules/sdk-core/src/bitgo/keychain/decryptKeychain.ts
  modules/sdk-core/src/bitgo/keychain/iKeychains.ts
  modules/sdk-core/src/bitgo/utils/tss/baseTSSUtils.ts
  modules/sdk-core/src/bitgo/utils/tss/baseTypes.ts
  modules/sdk-core/src/bitgo/utils/tss/ecdsa/ecdsa.ts
  modules/sdk-core/src/bitgo/utils/tss/ecdsa/ecdsaMPCv2.ts
  modules/sdk-core/src/bitgo/utils/tss/eddsa/eddsa.ts
  modules/sdk-core/src/bitgo/wallet/iWallet.ts
  modules/sdk-core/src/bitgo/wallet/iWallets.ts
  modules/sdk-core/src/bitgo/wallet/wallet.ts
Due: bitgo

feat(sdk-api, sdk-core): thread AAD through v2 encryption for DKLS context binding
  modules/sdk-api/src/bitgoAPI.ts
  modules/sdk-api/src/encryptV2.ts
  modules/sdk-api/src/encryptionSession.ts
  modules/sdk-api/test/unit/encrypt.ts
  modules/sdk-core/src/api/types.ts
  modules/sdk-core/src/bitgo/utils/tss/eddsa/typesEddsaMPCv2.ts
Due: none

test(bitgo, sdk-api): add e2e v2 signing test for DKLS offline rounds with adata
  modules/bitgo/test/v2/unit/internal/tssUtils/ecdsaMPCv2/signTxRequest.ts
  modules/sdk-api/test/unit/encrypt.ts
  modules/sdk-core/src/bitgo/utils/tss/eddsa/typesEddsaMPCv2.ts
Due: bitgo

feat(passkey-crypto): extend package with PRF helpers and WebAuthn types
  modules/passkey-crypto/package.json
  modules/passkey-crypto/src/index.ts
  modules/passkey-crypto/src/prfHelpers.ts
  modules/passkey-crypto/src/webAuthnTypes.ts
  modules/passkey-crypto/test/unit/prfHelpers.test.ts
  modules/passkey-crypto/tsconfig.json
  yarn.lock
Due: none

fix(sdk-coin-canton): usdcx 2-step acceptance parsing Ticket: CHALO-372
  modules/sdk-coin-canton/src/lib/utils.ts
  modules/sdk-coin-canton/test/resources.ts
  modules/sdk-coin-canton/test/unit/builder/transferAccept/transferAcceptBuilder.ts
Due: none

fix(statics): update xtzevm testnet chain ID to shadownet (127823)
  modules/statics/src/networks.ts
Due: statics

chore(root): add CGD- to commitlint issue prefixes
  commitlint.config.js
Due: none

test(abstract-utxo): drop incoherent witnessScript mutation test
  modules/abstract-utxo/test/unit/signTransaction.ts
Due: none

test(abstract-utxo): add pubs param and fix musig2 signing
  modules/abstract-utxo/test/unit/signTransaction.ts
  modules/abstract-utxo/test/unit/transaction.ts
Due: none

test(abstract-utxo): drop utxolib backend test
  modules/abstract-utxo/test/unit/customChangeWallet.ts
Due: none

chore: bump public types
  modules/abstract-lightning/package.json
  modules/bitgo/package.json
  modules/express/package.json
  modules/sdk-coin-flrp/package.json
  modules/sdk-coin-sol/package.json
  modules/sdk-core/package.json
  yarn.lock
Due: bitgo, express

test(abstract-utxo): remove utxolib backend references
  modules/abstract-utxo/test/unit/customChangeWallet.ts
  modules/abstract-utxo/test/unit/transaction.ts
  modules/abstract-utxo/test/unit/transaction/fixedScript/signPsbt.ts
Due: none

feat(statics): exclude Singapore custody for COIN-7835 staked-yield tokens
  modules/statics/src/allCoinsAndTokens.ts
  modules/statics/src/coins/solTokens.ts
Due: statics

feat(abstract-utxo): default to wasm-utxo for all coins
  modules/abstract-utxo/src/abstractUtxoCoin.ts
Due: none

feat(abstract-utxo): add supportedSdkBackends with validation
  modules/abstract-utxo/src/abstractUtxoCoin.ts
Due: none

feat(statics): exclude Singapore custody for COIN-7835 testnet tokens
  modules/statics/src/allCoinsAndTokens.ts
  modules/statics/src/coins/erc20Coins.ts
  modules/statics/src/coins/polygonTokens.ts
Due: statics

fix(sdk-coin-sol): account for tx fee in max spendable calculation
  modules/sdk-coin-sol/src/sol.ts
  modules/sdk-coin-sol/test/unit/sol.ts
  modules/sdk-core/src/bitgo/baseCoin/baseCoin.ts
  modules/sdk-core/src/bitgo/baseCoin/iBaseCoin.ts
  modules/sdk-core/src/bitgo/wallet/wallet.ts
Due: none

style(sdk-core): fix prettier formatting on ternary expression
  modules/sdk-core/src/bitgo/wallet/wallet.ts
Due: none

docs: add blsdkg to multisigType enum per platform.yaml
  modules/express/src/typedRoutes/schemas/wallet.ts
Due: express

docs: fix pipeline and address all reviewer comments
  modules/express/openapi-generator.rc.js
  modules/express/src/typedRoutes/api/v2/generateWallet.ts
Due: express

feat(sdk-core): add registerPasskey function
  Dockerfile
  modules/sdk-core/package.json
  modules/sdk-core/src/bitgo/passkey/registerPasskey.ts
  modules/sdk-core/test/unit/bitgo/passkey/registerPasskey.ts
Due: none

fix(sdk-core): use async decrypt and getUserPrv at v2 call sites
  modules/abstract-eth/src/abstractEthLikeNewCoins.ts
  modules/abstract-utxo/src/abstractUtxoCoin.ts
  modules/abstract-utxo/src/impl/btc/inscriptionBuilder.ts
  modules/abstract-utxo/src/transaction/fixedScript/verifyTransaction.ts
  modules/abstract-utxo/src/verifyKey.ts
  modules/bitgo/test/v2/unit/internal/tssUtils/ecdsaMPCv2/signTxRequest.ts
  modules/bitgo/test/v2/unit/internal/tssUtils/eddsa.ts
  modules/bitgo/test/v2/unit/wallet.ts
  modules/bitgo/test/v2/unit/wallets.ts
  modules/sdk-core/src/bitgo/wallet/iWallets.ts
Due: bitgo

feat(passkey-crypto): add removePasskeyFromAccount function
  modules/passkey-crypto/package.json
  modules/passkey-crypto/src/index.ts
  modules/passkey-crypto/src/removePasskeyFromAccount.ts
  modules/passkey-crypto/test/unit/removePasskeyFromAccount.test.ts
  modules/passkey-crypto/tsconfig.json
Due: none

feat: add eddsa mpcv2 gpg key support to tss signing
  modules/bitgo/test/v2/unit/internal/tssUtils/bitgoMpcGpgPubKeys.ts
  modules/sdk-core/src/bitgo/tss/bitgoPubKeys.ts
  modules/sdk-core/src/bitgo/utils/tss/baseTSSUtils.ts
Due: bitgo

feat: add ERC20Votes delegateBySig EIP-712 helpers + two-step example flow
  examples/docs/erc20-votes-delegate-by-sig.md
  examples/ts/eth/create-erc20-votes-delegation-txrequest.ts
  examples/ts/eth/get-erc20-votes-delegation-signature.ts
  modules/abstract-eth/src/lib/eip712/erc20VotesDelegation.ts
  modules/abstract-eth/src/lib/eip712/index.ts
  modules/abstract-eth/src/lib/index.ts
  modules/abstract-eth/src/lib/messages/eip712/erc20VotesDelegationMessage.ts
  modules/abstract-eth/src/lib/messages/eip712/erc20VotesDelegationMessageBuilder.ts
  modules/abstract-eth/src/lib/messages/eip712/index.ts
  modules/abstract-eth/src/lib/messages/messageBuilderFactory.ts
  modules/abstract-eth/test/unit/eip712/erc20VotesDelegation.ts
  modules/sdk-core/src/bitgo/utils/tss/baseTSSUtils.ts
  modules/sdk-core/src/bitgo/utils/tss/baseTypes.ts
  modules/sdk-core/src/bitgo/wallet/wallet.ts
Due: none

Path conditions:
  bitgo: any of: modules/bitgo
  account-lib: any of: modules/account-lib
  statics: any of: modules/statics
  express: any of: modules/express
