Repository BitGo/BitGoJS: changes, and which Codecov flags are due for each by the changed paths.
All: bitgo, account-lib, statics, express

.codecov.yml:

coverage:
  status:
    project: off
    patch: off
comment:
  layout: "diff, flags, files"
  require_changes: true
flags:
  bitgo:
    paths:
      - modules/core
  account-lib:
    paths:
      - modules/account-lib
  statics:
    paths:
      - modules/statics
  express:
    paths:
      - modules/express

feat(core): add support for p2tr recoveries
  modules/core/src/v2/coins/utxo/recovery/backupKeyRecovery.ts
  modules/core/test/v2/unit/coins/utxo/fixtures/btc/recovery/backupKeyRecovery-p2tr-fullSignedRecovery-customUserKeyPath.json
  modules/core/test/v2/unit/coins/utxo/fixtures/btc/recovery/backupKeyRecovery-p2tr-fullSignedRecovery.json
  modules/core/test/v2/unit/coins/utxo/fixtures/btc/recovery/backupKeyRecovery-p2tr-keyRecoveryService.json
  modules/core/test/v2/unit/coins/utxo/fixtures/btc/recovery/backupKeyRecovery-p2tr-unsignedRecovery.json
  modules/core/test/v2/unit/coins/utxo/fixtures/tbtc/recovery/backupKeyRecovery-p2tr-fullSignedRecovery-customUserKeyPath.json
  modules/core/test/v2/unit/coins/utxo/fixtures/tbtc/recovery/backupKeyRecovery-p2tr-fullSignedRecovery.json
  modules/core/test/v2/unit/coins/utxo/fixtures/tbtc/recovery/backupKeyRecovery-p2tr-keyRecoveryService.json
  modules/core/test/v2/unit/coins/utxo/fixtures/tbtc/recovery/backupKeyRecovery-p2tr-unsignedRecovery.json
  modules/core/test/v2/unit/coins/utxo/recovery/backupKeyRecovery.ts
Due: bitgo

feat(utxo-lib): add verifySignatureWithPublicKeys
  modules/utxo-lib/src/bitgo/signature.ts
  modules/utxo-lib/test/bitgo/signature.ts
Due: none

refactor(core): improve AbstractUtxoCoin.explainTransaction
  modules/core/src/v2/coins/abstractUtxoCoin.ts
Due: bitgo

feat(core): add verifyWalletTransactionWithUnspents
  modules/core/src/v2/coins/utxo/sign.ts
Due: bitgo

fix(core): use wallet keys in explainTransaction
  modules/core/src/v2/coins/abstractUtxoCoin.ts
  modules/core/src/v2/coins/utxo/sign.ts
  modules/core/test/v2/unit/coins/utxo/transaction.ts
Due: bitgo

feat(core): dot metadata optimization
  modules/account-lib/src/coin/dot/transaction.ts
  modules/account-lib/src/coin/dot/transactionBuilder.ts
  modules/account-lib/src/coin/dot/transactionBuilderFactory.ts
  modules/account-lib/src/coin/dot/transferBuilder.ts
  modules/account-lib/src/coin/dot/utils.ts
  modules/account-lib/test/unit/coin/dot/transaction.ts
  modules/account-lib/test/unit/coin/dot/transactionBuilder/stakingBuilder.ts
  modules/account-lib/test/unit/coin/dot/transactionBuilder/transferBuilder.ts
Due: account-lib

chore(core): add missing idf params to `PrebuildTransactionOptions`
  modules/core/src/v2/wallet.ts
Due: bitgo

chore: update polkadot keyring version
  modules/account-lib/package.json
  yarn.lock
Due: account-lib

chore(release): publish modules
  modules/account-lib/package.json
  modules/core/package.json
  modules/express/package-lock.json
  modules/express/package.json
  modules/statics/package.json
Due: bitgo, account-lib, statics, express

chore(express): update sdk to bitgo@^14.0.0-rc.2
  modules/express/package-lock.json
Due: express

chore: update polkadot/api version
  modules/account-lib/package.json
  yarn.lock
Due: account-lib

chore: removed unsued polkadot dep
  modules/account-lib/package.json
  yarn.lock
Due: account-lib

docs(core,utxo-lib): improve verifySignature* docstrings
  modules/core/src/v2/coins/utxo/sign.ts
  modules/utxo-lib/src/bitgo/signature.ts
Due: bitgo

chore(core): remove `types/bitgo-utxo-lib`
  types/bitgo-utxo-lib/index.d.ts
Due: none

feat(account-lib): dot explain transaction
  modules/account-lib/src/coin/baseCoin/baseTransaction.ts
  modules/account-lib/src/coin/dot/iface.ts
  modules/account-lib/src/coin/dot/transaction.ts
  modules/account-lib/test/resources/dot/index.ts
  modules/account-lib/test/unit/coin/dot/transaction.ts
Due: account-lib

feat(sol): address fee and id in explain transaction
  modules/account-lib/src/coin/baseCoin/iface.ts
  modules/account-lib/src/coin/dot/iface.ts
  modules/account-lib/src/coin/dot/transactionBuilder.ts
  modules/account-lib/src/coin/sol/iface.ts
  modules/account-lib/src/coin/sol/transaction.ts
  modules/account-lib/src/coin/sol/transactionBuilder.ts
  modules/account-lib/test/unit/coin/sol/transaction.ts
  modules/account-lib/test/unit/coin/sol/transactionBuilder/transactionBuilder.ts
  modules/core/src/v2/coins/sol.ts
  modules/core/test/v2/fixtures/coins/sol.ts
  modules/core/test/v2/unit/coins/sol.ts
Due: bitgo, account-lib

chore(STLX-10400): define basic ParsedTransaction interface
  modules/core/src/v2/baseCoin.ts
  modules/core/src/v2/coins/abstractEthLikeCoin.ts
  modules/core/src/v2/coins/abstractUtxoCoin.ts
  modules/core/src/v2/coins/algo.ts
  modules/core/src/v2/coins/cspr.ts
  modules/core/src/v2/coins/dot.ts
  modules/core/src/v2/coins/eos.ts
  modules/core/src/v2/coins/eth.ts
  modules/core/src/v2/coins/eth2.ts
  modules/core/src/v2/coins/hbar.ts
  modules/core/src/v2/coins/ofc.ts
  modules/core/src/v2/coins/sol.ts
  modules/core/src/v2/coins/stx.ts
  modules/core/src/v2/coins/susd.ts
  modules/core/src/v2/coins/trx.ts
  modules/core/src/v2/coins/xlm.ts
  modules/core/src/v2/coins/xrp.ts
  modules/core/src/v2/coins/xtz.ts
  modules/core/test/v2/unit/coins/abstractUtxoCoin.ts
Due: bitgo

chore(release): publish modules
  modules/account-lib/package.json
  modules/core/package.json
  modules/express/package-lock.json
  modules/express/package.json
  modules/statics/package.json
  modules/unspents/package.json
  modules/utxo-lib/package.json
Due: bitgo, account-lib, statics, express

chore(dot/utils): add isValidSeed STLX-8361
  modules/account-lib/src/coin/dot/utils.ts
Due: account-lib

chore(dot/utils): add isValidSeed STLX-10411
  modules/account-lib/src/coin/dot/utils.ts
Due: account-lib

feat(account-lib): dot metadata optimization STLX-10181
  modules/account-lib/src/coin/dot/transaction.ts
  modules/account-lib/src/coin/dot/transactionBuilder.ts
  modules/account-lib/src/coin/dot/transactionBuilderFactory.ts
  modules/account-lib/src/coin/dot/transferBuilder.ts
  modules/account-lib/src/coin/dot/utils.ts
  modules/account-lib/test/unit/coin/dot/transactionBuilder/stakingBuilder.ts
  modules/account-lib/test/unit/coin/dot/transactionBuilder/transferBuilder.ts
Due: account-lib

chore(utxo-lib): disable indent rule for utxo-lib
  modules/utxo-lib/.eslintrc.json
Due: none

test(utxo-lib): move key utils to `test/testutil`
  modules/utxo-lib/test/address/address.ts
  modules/utxo-lib/test/bitgo/nonStandardHalfSigned.ts
  modules/utxo-lib/test/bitgo/outputScripts.ts
  modules/utxo-lib/test/integration_local_rpc/generate/fixtures.ts
  modules/utxo-lib/test/integration_local_rpc/generate/outputScripts.util.ts
  modules/utxo-lib/test/integration_local_rpc/parse.ts
  modules/utxo-lib/test/testutil/index.ts
  modules/utxo-lib/test/testutil/keys.ts
  modules/utxo-lib/test/transaction_util.ts
Due: none

feat(utxo-lib): add `wallet/chains`
  modules/utxo-lib/src/bitgo/outputScripts.ts
  modules/utxo-lib/src/bitgo/wallet/chains.ts
  modules/utxo-lib/test/bitgo/wallet/chains.ts
Due: none

feat(utxo-lib): add `bitgo/wallet` package
  modules/utxo-lib/src/bitgo/Unspent.ts
  modules/utxo-lib/src/bitgo/index.ts
  modules/utxo-lib/src/bitgo/outputScripts.ts
  modules/utxo-lib/src/bitgo/wallet/Unspent.ts
  modules/utxo-lib/src/bitgo/wallet/WalletKeys.ts
  modules/utxo-lib/src/bitgo/wallet/WalletScripts.ts
  modules/utxo-lib/src/bitgo/wallet/WalletUnspentSigner.ts
  modules/utxo-lib/src/bitgo/wallet/chains.ts
  modules/utxo-lib/src/bitgo/wallet/index.ts
  modules/utxo-lib/test/bitgo/signature.ts
  modules/utxo-lib/test/bitgo/wallet/WalletKeys.ts
  modules/utxo-lib/test/bitgo/wallet/WalletUnspent.ts
  modules/utxo-lib/test/bitgo/wallet/WalletUnspentSigner.ts
  modules/utxo-lib/test/bitgo/wallet/chains.ts
  modules/utxo-lib/test/bitgo/wallet/util.ts
  modules/utxo-lib/test/integration_local_rpc/generate/outputScripts.util.ts
  modules/utxo-lib/test/integration_local_rpc/parse.ts
  modules/utxo-lib/test/testutil/keys.ts
  modules/utxo-lib/test/transaction_util.ts
Due: none

feat(utxo-lib): support import from `src/bitgo`
  modules/utxo-lib/package.json
Due: none

refactor(core): use `@bitgo/utxo-lib/src/bitgo`
  modules/core/src/v2/coins/abstractUtxoCoin.ts
  modules/core/src/v2/coins/utxo/WalletKeys.ts
  modules/core/src/v2/coins/utxo/recovery/RecoveryProvider.ts
  modules/core/src/v2/coins/utxo/recovery/backupKeyRecovery.ts
  modules/core/src/v2/coins/utxo/recovery/blockchairApi.ts
  modules/core/src/v2/coins/utxo/recovery/blockstreamApi.ts
  modules/core/src/v2/coins/utxo/recovery/crossChainRecovery.ts
  modules/core/src/v2/coins/utxo/recovery/insightApi.ts
  modules/core/src/v2/coins/utxo/replayProtection.ts
  modules/core/src/v2/coins/utxo/sign.ts
  modules/core/src/v2/coins/utxo/unspent.ts
  modules/core/test/v2/unit/coins/utxo/WalletKeys.ts
  modules/core/test/v2/unit/coins/utxo/recovery/backupKeyRecovery.ts
  modules/core/test/v2/unit/coins/utxo/recovery/crossChainRecovery.ts
  modules/core/test/v2/unit/coins/utxo/recovery/mock.ts
  modules/core/test/v2/unit/coins/utxo/transaction.ts
  modules/core/test/v2/unit/coins/utxo/util/keychains.ts
  modules/core/test/v2/unit/coins/utxo/util/nockIndexerAPI.ts
  modules/core/test/v2/unit/coins/utxo/util/transaction.ts
  modules/core/test/v2/unit/coins/utxo/util/unspents.ts
Due: bitgo

feat(sol): implement parse transaction
  modules/account-lib/src/coin/sol/transaction.ts
  modules/account-lib/test/unit/coin/sol/transaction.ts
  modules/core/src/v2/coins/sol.ts
  modules/core/test/v2/unit/coins/sol.ts
Due: bitgo, account-lib

chore(core): remove coroutines from v2/baseCoin
  modules/core/src/v2/baseCoin.ts
Due: bitgo

chore(core): remove coroutines from v2/enterprise
  modules/core/src/v2/enterprise.ts
Due: bitgo

chore(core): remove coroutines from v2/enterprises
  modules/core/src/v2/enterprises.ts
Due: bitgo

chore(core): remove coroutines from v2/keychains
  modules/core/src/v2/keychains.ts
Due: bitgo

chore(core): remove coroutines from v2/markets
  modules/core/src/v2/markets.ts
Due: bitgo

chore(core): remove coroutines from v2/pendingApproval
  modules/core/src/v2/pendingApproval.ts
Due: bitgo

chore(core): remove coroutines from v2/pendingApprovals
  modules/core/src/v2/pendingApprovals.ts
Due: bitgo

chore(core): remove coroutines from v2/webhooks
  modules/core/src/v2/webhooks.ts
Due: bitgo

chore(core): remove coroutines from v2/wallets
  modules/core/src/v2/wallets.ts
Due: bitgo

chore(core): remove coroutines in v2/wallet
  modules/core/src/v2/wallet.ts
Due: bitgo

fix(core): fix incorrect return type on presignTransaction
  modules/core/src/v2/baseCoin.ts
Due: bitgo

chore(core): remove coroutines in v2/internal/internal
  modules/core/src/v2/internal/internal.ts
Due: bitgo
