Repository BitGo/BitGoJS: changes, and which Codecov flags are due for each by the changed paths.
All: bitgo, account-lib, statics, express

feat(sdk-coin-avaxp): add hex prefix to broadcast tx BREAKING CHANGES: the broadcast format adds the prefix 0x BG-58630
  modules/sdk-coin-avaxp/src/lib/transaction.ts
  modules/sdk-coin-avaxp/src/lib/transactionBuilderFactory.ts
  modules/sdk-coin-avaxp/src/lib/utils.ts
  modules/sdk-coin-avaxp/test/resources/avaxp.ts
  modules/sdk-coin-avaxp/test/resources/tx/exportC.ts
  modules/sdk-coin-avaxp/test/resources/tx/importC.ts
  modules/sdk-coin-avaxp/test/resources/tx/importP.ts
Due: none

feat(sdk-coin-dot): update dot recover function to traverse addresses
  modules/sdk-coin-dot/src/dot.ts
  modules/sdk-coin-dot/test/fixtures.ts
  modules/sdk-coin-dot/test/unit/dot.ts
Due: none

feat(sdk-coin-sol): update naming, add edge case error handling for wallet indices
  modules/sdk-coin-sol/src/sol.ts
  modules/sdk-coin-sol/test/unit/sol.ts
Due: none

fix(sdk-coin-eth): fix convert signature share to/from
  modules/bitgo/test/v2/unit/tss/ecdsa.ts
  modules/sdk-core/src/bitgo/tss/ecdsa/ecdsa.ts
Due: none

fix(sdk-coin-eth): fixes to the sign and verify functions for eth tss
  modules/account-lib/test/unit/mpc/tss/ecdsa/ecdsa.ts
  modules/sdk-core/src/account-lib/mpc/tss/ecdsa/ecdsa.ts
  modules/sdk-core/src/bitgo/utils/tss/ecdsa/ecdsa.ts
Due: account-lib

feat: add new tokens Ticket: BG-58873
  modules/statics/src/base.ts
  modules/statics/src/coins.ts
Due: statics

feat(utxo-lib): add PSBT creation funcs like txbuilder
  modules/utxo-lib/src/bitgo/transaction.ts
  modules/utxo-lib/test/transaction_util.ts
Due: none

fix(utxo-lib): export UtxoPsbt
  modules/utxo-lib/src/bitgo/index.ts
Due: none

fix(utxo-lib): export {Dash,Zcash}Psbt
  modules/utxo-lib/src/bitgo/dash/index.ts
  modules/utxo-lib/src/bitgo/zcash/index.ts
Due: none

feat(sdk-coin-ada): implement recover function for cardano
  modules/sdk-coin-ada/package.json
  modules/sdk-coin-ada/src/ada.ts
  modules/sdk-coin-ada/test/resources/index.ts
  modules/sdk-coin-ada/test/unit/ada.ts
  modules/sdk-core/src/bitgo/environments.ts
Due: none

feat(sdk-coin-sui): create sui module
  CODEOWNERS
  Dockerfile
  modules/bitgo/package.json
  modules/bitgo/src/v2/coinFactory.ts
  modules/bitgo/src/v2/coins/index.ts
  modules/bitgo/tsconfig.json
  modules/sdk-coin-sui/.eslintignore
  modules/sdk-coin-sui/.gitignore
  modules/sdk-coin-sui/.mocharc.yml
  modules/sdk-coin-sui/.npmignore
  modules/sdk-coin-sui/.prettierignore
  modules/sdk-coin-sui/.prettierrc.yml
  modules/sdk-coin-sui/README.md
  modules/sdk-coin-sui/package.json
  modules/sdk-coin-sui/src/index.ts
  modules/sdk-coin-sui/src/lib/iface.ts
  modules/sdk-coin-sui/src/lib/index.ts
  modules/sdk-coin-sui/src/lib/keyPair.ts
  modules/sdk-coin-sui/src/lib/transaction.ts
  modules/sdk-coin-sui/src/lib/transactionBuilder.ts
  modules/sdk-coin-sui/src/lib/transactionBuilderFactory.ts
  modules/sdk-coin-sui/src/lib/transferBuilder.ts
  modules/sdk-coin-sui/src/lib/utils.ts
  modules/sdk-coin-sui/src/sui.ts
  modules/sdk-coin-sui/src/tsui.ts
  modules/sdk-coin-sui/test/integration/index.ts
  modules/sdk-coin-sui/test/unit/index.ts
  modules/sdk-coin-sui/tsconfig.json
  tsconfig.packages.json
Due: none

chore(account-lib): modify signing unit test for eth
  modules/account-lib/test/unit/mpc/tss/ecdsa/ecdsa.ts
  modules/sdk-core/src/account-lib/mpc/tss/ecdsa/ecdsa.ts
  yarn.lock
Due: account-lib

feat(bitgo): adding example for tx-build
  modules/bitgo/example/js/build-transaction.js
  modules/bitgo/example/ts/build-transaction.ts
Due: none

fix: upgrade @bitgo/blake2b-wasm from 3.0.2 to 3.0.3
  modules/blake2b/package-lock.json
  modules/blake2b/package.json
Due: none

feat(utxo-lib): set default version for zcash and dash
  modules/utxo-lib/src/bitgo/transaction.ts
Due: none

chore(sdk-core): include superagent types
  modules/abstract-utxo/package.json
  modules/blockapis/package.json
  modules/sdk-core/package.json
Due: none

fix(utxo-lib): fix fromTransactionComplete
  modules/utxo-lib/src/bitgo/UtxoPsbt.ts
Due: none

chore(root): disable automatic beta publishing
  .github/workflows/beta-publish.yml
Due: none

feat(sdk-coin-sui): added SUI skeleton
  modules/sdk-coin-sui/src/sui.ts
Due: none

chore(root): add verify step to force publish
  .github/workflows/beta-publish.yml
  scripts/verify-beta.ts
Due: none

fix(statics): add terc721:bitgoerc721 to coins map BG-59021
  modules/sdk-coin-eth/test/unit/ethToken.ts
  modules/statics/src/base.ts
  modules/statics/src/tokenConfig.ts
Due: statics

feat(sdk-coin-near): implement address scanning for near recover
  modules/sdk-coin-near/src/near.ts
  modules/sdk-coin-near/test/fixtures/near.ts
  modules/sdk-coin-near/test/unit/near.ts
Due: none

fix(utxo-lib): accept psbtopts when creating a PSBT
  modules/utxo-lib/src/bitgo/transaction.ts
  modules/utxo-lib/test/bitgo/wallet/WalletUnspent.ts
  modules/utxo-lib/test/bitgo/wallet/util.ts
Due: none

fix(utxo-lib): create PSBTs with proper inner TX class
  modules/utxo-lib/src/bitgo/UtxoPsbt.ts
  modules/utxo-lib/src/bitgo/dash/DashPsbt.ts
  modules/utxo-lib/src/bitgo/transaction.ts
  modules/utxo-lib/src/bitgo/zcash/ZcashPsbt.ts
Due: none

fix(sdk-coin-avaxp): nonce validation is not allow 0
  modules/sdk-coin-avaxp/src/lib/exportInCTxBuilder.ts
  modules/sdk-coin-avaxp/test/resources/errors.ts
  modules/sdk-coin-avaxp/test/unit/lib/exportC2PTxBuilder.ts
Due: none

fix(utxo-lib): [psbt] always set witness utxo
  modules/utxo-lib/src/bitgo/Unspent.ts
Due: none

feat(utxo-lib): [psbt] separate adding input and nonWitnessUtxo
  modules/utxo-lib/src/bitgo/UtxoPsbt.ts
  modules/utxo-lib/test/bitgo/wallet/WalletUnspent.ts
  modules/utxo-lib/test/bitgo/wallet/util.ts
Due: none

fix(utxo-lib): [psbt] reduce use of hackish `this.tx`
  modules/utxo-lib/src/bitgo/UtxoPsbt.ts
Due: none

fix(utxo-lib): [dash] fix fromBuffer tx type
  modules/utxo-lib/src/bitgo/dash/DashTransaction.ts
Due: none

fix(statics): format polygon token if its an NFT BG-59021
  modules/statics/src/tokenConfig.ts
Due: statics

feat(statics): add mainnet polygon contracts BG-51803
  modules/statics/src/networks.ts
Due: statics

feat(statics): introduce deprecation coin feature
  modules/statics/src/base.ts
  modules/statics/src/coins.ts
Due: statics

fix(statics): update contract address of name NFT BG-58416
  modules/statics/src/coins.ts
Due: statics

feat(sdk-coin-sui): add mysten sui dependency
  modules/sdk-coin-sui/package.json
  yarn.lock
Due: none

fix(sdk-core): tss signing
  modules/sdk-core/src/bitgo/utils/tss/ecdsa/ecdsa.ts
Due: none

feat(express): support routes to prebuildAndSignTransaction
  modules/express/src/clientRoutes.ts
  modules/express/test/unit/clientRoutes/prebuildAndSignTx.ts
  modules/sdk-core/src/bitgo/utils/mpcUtils.ts
Due: express

fix(utxo-lib): remove unnecessary asyncs
  modules/utxo-lib/test/bitgo/wallet/WalletUnspent.ts
Due: none

feat(sdk-coin-ada): add method to obtain reward address
  modules/sdk-coin-ada/src/lib/stakingWithdrawRewardsBuilder.ts
  modules/sdk-coin-ada/src/lib/utils.ts
Due: none

fix(statics): contract address of tpolygon name NFT BG-58416
  modules/statics/src/coins.ts
Due: statics

Path conditions:
  bitgo: any of: modules/core
  account-lib: any of: modules/account-lib
  statics: any of: modules/statics
  express: any of: modules/express
