Repository BitGo/BitGoJS: changes, and which Codecov flags are due for each by the changed paths.
All: bitgo, account-lib, statics, express

feat: add jovay eth chain config TICKET: COIN-6592
  modules/bitgo/test/v2/unit/keychains.ts
  modules/sdk-core/src/bitgo/environments.ts
  modules/statics/src/allCoinsAndTokens.ts
  modules/statics/src/base.ts
  modules/statics/src/networks.ts
  modules/statics/test/unit/fixtures/expectedColdFeatures.ts
Due: bitgo, statics

chore: rename okb token to eth:okb TICKET: COIN-6593
  modules/statics/src/base.ts
  modules/statics/src/coins/erc20Coins.ts
  modules/statics/src/coins/ofcErc20Coins.ts
Due: statics

feat(sdk-coin-dot): enhance tx verification for consolidation to base address
  modules/sdk-coin-dot/src/dot.ts
  modules/sdk-coin-dot/test/unit/dot.ts
Due: none

feat(sdk-coin-lnbtc): add staking feature to TLNBTC
  modules/statics/src/lightning.ts
Due: statics

feat: add coverage for base address
  modules/abstract-eth/src/abstractEthLikeNewCoins.ts
  modules/sdk-coin-eth/test/unit/eth.ts
  modules/statics/src/networks.ts
Due: statics

refactor: fix test
  modules/statics/test/unit/resources/amsTokenConfig.ts
Due: statics

feat(express): migrated wallet enableTokens to type route
  modules/express/src/clientRoutes.ts
  modules/express/src/typedRoutes/api/index.ts
  modules/express/src/typedRoutes/api/v2/walletEnableTokens.ts
  modules/express/test/unit/clientRoutes/enableTokens.ts
  modules/express/test/unit/typedRoutes/walletEnableTokens.ts
Due: express

chore: update the Irys mainnet details
  modules/sdk-core/src/bitgo/environments.ts
  modules/statics/src/networks.ts
Due: statics

docs(express): fix docs for canonical address conversion
  modules/express/src/typedRoutes/api/v2/canonicalAddress.ts
Due: express

feat: gate tokens for bitgo singapore
  modules/statics/src/coins/erc20Coins.ts
  modules/statics/src/coins/solTokens.ts
Due: statics

fix: changed the token symbol for sofi usd
  modules/statics/src/base.ts
  modules/statics/src/coins/erc20Coins.ts
  modules/statics/src/coins/ofcErc20Coins.ts
  modules/statics/test/unit/tokenNamingConvention.ts
Due: statics

feat: add xlayer chain config TICKET: COIN-6593
  modules/bitgo/test/v2/unit/keychains.ts
  modules/sdk-core/src/bitgo/environments.ts
  modules/statics/src/allCoinsAndTokens.ts
  modules/statics/src/base.ts
  modules/statics/src/networks.ts
  modules/statics/test/unit/fixtures/expectedColdFeatures.ts
Due: bitgo, statics

fix: add support for seievm for tx acceleration
  modules/bitgo/test/v2/unit/wallet.ts
  modules/sdk-core/src/bitgo/utils/mpcUtils.ts
Due: bitgo

feat(sdk-coin-dot): improve dot tx verification
  modules/sdk-coin-dot/src/dot.ts
Due: none

fix: getTokenConstructor to work for testnet tokens + test cases
  modules/bitgo/src/v2/coinFactory.ts
  modules/bitgo/test/v2/resources/amsTokenConfig.ts
  modules/bitgo/test/v2/unit/ams/ams.ts
  modules/statics/src/coins.ts
  modules/statics/src/tokenConfig.ts
  modules/statics/test/unit/coins.ts
Due: bitgo, statics

fix(utxo-lib): fix default consensus branch id for v4/v5 transactions
  modules/abstract-utxo/test/unit/fixtures/zec/recovery/backupKeyRecovery-fullSignedRecovery-customUserKeyPath-p2sh.json
  modules/abstract-utxo/test/unit/fixtures/zec/recovery/backupKeyRecovery-fullSignedRecovery-fixedFeeRate-p2sh.json
  modules/abstract-utxo/test/unit/fixtures/zec/recovery/backupKeyRecovery-fullSignedRecovery-p2sh.json
  modules/abstract-utxo/test/unit/fixtures/zec/recovery/backupKeyRecovery-keyRecoveryService-p2sh-dai.json
  modules/abstract-utxo/test/unit/fixtures/zec/recovery/backupKeyRecovery-keyRecoveryService-p2sh-keyternal.json
  modules/abstract-utxo/test/unit/fixtures/zec/recovery/backupKeyRecovery-unsignedRecovery-p2sh.json
  modules/abstract-utxo/test/unit/fixtures/zec/transactions-p2sh-p2sh.json
  modules/utxo-lib/src/bitgo/transaction.ts
  modules/utxo-lib/src/bitgo/zcash/ZcashTransaction.ts
  modules/utxo-lib/test/bitgo/fixtures/psbt/psbt-lite.zcash.fullsigned.json
  modules/utxo-lib/test/bitgo/fixtures/psbt/psbt-lite.zcash.halfsigned.json
  modules/utxo-lib/test/bitgo/fixtures/psbt/psbt-lite.zcash.unsigned.json
  modules/utxo-lib/test/bitgo/fixtures/psbt/psbt.zcash.fullsigned.json
  modules/utxo-lib/test/bitgo/fixtures/psbt/psbt.zcash.halfsigned.json
  modules/utxo-lib/test/bitgo/fixtures/psbt/psbt.zcash.unsigned.json
Due: none

feat(statics): added new coins Ticket: WIN-8020
  modules/statics/src/allCoinsAndTokens.ts
  modules/statics/src/base.ts
  modules/statics/src/coins/erc20Coins.ts
  modules/statics/src/coins/ofcCoins.ts
  modules/statics/src/coins/ofcErc20Coins.ts
  modules/statics/src/coins/polygonTokens.ts
  modules/statics/src/coins/solTokens.ts
Due: statics

fix(abstract-utxo): increase timeout for test recovery data
  modules/abstract-utxo/test/unit/recovery/backupKeyRecovery.ts
Due: none

refactor: renames types and made function naming more clear
  modules/abstract-eth/src/abstractEthLikeNewCoins.ts
Due: none

feat: onboard XPL plasma token standard
  modules/statics/src/allCoinsAndTokens.ts
Due: statics

Revert "fix(deser-lib): fix CHANGELOG formatting"
  modules/deser-lib/CHANGELOG.md
Due: none

feat: export network parseDescriptor from babylon namespace
  modules/utxo-staking/src/babylon/index.ts
Due: none

refactor: fail if factory address is not setup
  modules/abstract-eth/src/abstractEthLikeNewCoins.ts
Due: none

fix(utxo-lib): fix zec psbt serialization
  modules/utxo-lib/src/bitgo/zcash/ZcashPsbt.ts
  modules/utxo-lib/test/bitgo/psbt/ZcashPsbt.ts
Due: none

feat: add isWalletAddress endpoint
  modules/express/src/clientRoutes.ts
  modules/express/src/typedRoutes/api/index.ts
  modules/express/src/typedRoutes/api/v2/isWalletAddress.ts
  modules/express/test/unit/typedRoutes/isWalletAddress.ts
Due: express

docs: include that custodial wallets address is not supported
  modules/express/src/typedRoutes/api/v2/isWalletAddress.ts
Due: express

docs: include some more details on how to retrieve certain values
  modules/express/src/typedRoutes/api/v2/isWalletAddress.ts
Due: express

feat: add example scripts
  examples/js/eth/verify-wallet-address-sdk.js
  examples/js/eth/verify-wallet-address.js
Due: none

feat(express): migrated accelerateTx to type route
  modules/express/src/clientRoutes.ts
  modules/express/src/typedRoutes/api/index.ts
  modules/express/src/typedRoutes/api/v2/walletAccelerateTx.ts
  modules/express/test/unit/typedRoutes/walletAccelerateTx.ts
Due: express

docs(express): createAddress api definition
  modules/express/src/typedRoutes/api/v2/createAddress.ts
Due: express

docs(express): wallet update api definition
  modules/express/src/typedRoutes/api/v2/expressWalletUpdate.ts
Due: express

docs(express): generateShareTSSV2 api definition
  modules/express/src/typedRoutes/api/v2/generateShareTSS.ts
Due: express

docs(express): generateWalletV2 api definition
  modules/express/src/typedRoutes/api/v2/generateWallet.ts
Due: express

fix: fix the operation id to be according to the doc
  modules/express/src/clientRoutes.ts
  modules/express/src/typedRoutes/api/index.ts
Due: express

Revert "feat(sdk-coin-dot): add verify transaction function"
  modules/sdk-coin-dot/src/dot.ts
  modules/sdk-coin-dot/test/unit/dot.ts
Due: none

docs(express): fanoutUnspentsV2 api definition
  modules/express/src/clientRoutes.ts
  modules/express/src/typedRoutes/api/index.ts
  modules/express/src/typedRoutes/api/v2/fanoutUnspents.ts
Due: express

feat: onboard wrapped sol testnet token
  modules/statics/src/base.ts
  modules/statics/src/coins/ofcCoins.ts
  modules/statics/src/coins/solTokens.ts
Due: statics

feat(express): update change keychain password for ofc multi-user-key wallet
  modules/express/src/clientRoutes.ts
  modules/express/src/typedRoutes/api/v2/keychainChangePassword.ts
  modules/express/test/unit/clientRoutes/changeKeychainPassword.ts
Due: express

feat(sdk-coin-avaxp): use passed delegationFeeRate
  modules/sdk-coin-avaxp/src/lib/permissionlessValidatorTxBuilder.ts
  modules/sdk-coin-avaxp/test/resources/avaxp.ts
Due: none

Path conditions:
  bitgo: any of: modules/bitgo
  account-lib: any of: modules/account-lib
  statics: any of: modules/statics
  express: any of: modules/express
