Repository BitGo/BitGoJS: changes, and which Codecov flags are due for each by the changed paths.
All: bitgo, account-lib, statics, express

.codecov.yml:

coverage:
  status:
    project: off
    patch: off
comment:
  layout: 'diff, flags, files'
  require_changes: true
flags:
  bitgo:
    paths:
      - modules/bitgo
  account-lib:
    paths:
      - modules/account-lib
  statics:
    paths:
      - modules/statics
  express:
    paths:
      - modules/express

fix(abstract-utxo): refactor backup key recovery psbt creation
  modules/abstract-utxo/src/recovery/backupKeyRecovery.ts
  modules/abstract-utxo/src/recovery/psbt.ts
Due: none

refactor: throw error on validation failure
  modules/sdk-coin-sol/src/sol.ts
  modules/sdk-coin-sol/test/unit/sol.ts
Due: none

feat: migrate handleCreateSignerMacaroon
  modules/express/src/clientRoutes.ts
  modules/express/src/lightning/lightningSignerRoutes.ts
  modules/express/src/typedRoutes/api/index.ts
  modules/express/src/typedRoutes/api/v2/signerMacaroon.ts
  modules/express/test/unit/clientRoutes/lightning/lightningSignerRoutes.ts
  modules/express/test/unit/typedRoutes/decode.ts
  modules/express/test/unit/typedRoutes/signerMacaroon.ts
Due: express

feat: onboard SOL:KMNO to BitGo JS
  modules/statics/src/coins/ofcCoins.ts
Due: statics

feat: bump wasm-utxo to 1.15.0
  modules/abstract-utxo/package.json
  modules/utxo-bin/package.json
  modules/utxo-core/package.json
  modules/utxo-staking/package.json
  yarn.lock
Due: none

feat(statics): add new tokens WIN-8385
  modules/statics/src/base.ts
  modules/statics/src/coins/erc20Coins.ts
  modules/statics/src/coins/ofcCoins.ts
  modules/statics/src/coins/ofcErc20Coins.ts
  modules/statics/src/coins/polygonTokens.ts
Due: statics

feat: add support for OG TOG in ERC20 and OFC token lists
  modules/statics/src/base.ts
  modules/statics/src/coins/erc20Coins.ts
  modules/statics/src/coins/ofcErc20Coins.ts
Due: statics

feat: erc721 token support for evm coins
  modules/bitgo/src/v2/coinFactory.ts
  modules/bitgo/src/v2/coins/index.ts
  modules/bitgo/test/browser/browser.spec.ts
  modules/sdk-coin-evm/src/ethLikeErc721Token.ts
  modules/sdk-coin-evm/src/index.ts
  modules/sdk-coin-evm/src/register.ts
  modules/statics/src/account.ts
  modules/statics/src/allCoinsAndTokens.ts
  modules/statics/src/base.ts
  modules/statics/src/coins.ts
  modules/statics/src/tokenConfig.ts
  modules/statics/test/unit/coins.ts
  modules/statics/test/unit/tokenConfigTests.ts
Due: bitgo, statics

fix(utxo-lib): add consensus branch id to serialization methods
  modules/utxo-lib/src/bitgo/zcash/ZcashPsbt.ts
  modules/utxo-lib/test/bitgo/fixtures/psbt/psbt-lite.zcash.fullsigned.json
  modules/utxo-lib/test/bitgo/fixtures/psbt/psbt-lite.zcash.halfsigned.json
  modules/utxo-lib/test/bitgo/fixtures/psbt/psbt-lite.zcash.unsigned.json
  modules/utxo-lib/test/bitgo/fixtures/psbt/psbt.zcash.fullsigned.json
  modules/utxo-lib/test/bitgo/fixtures/psbt/psbt.zcash.halfsigned.json
  modules/utxo-lib/test/bitgo/fixtures/psbt/psbt.zcash.unsigned.json
Due: none

feat: entry file for express docs
  modules/express/src/typedRoutes/api/express_entry.ts
Due: express

feat(statics): updates contract address for gousd test and prod
  modules/statics/src/coins/erc20Coins.ts
Due: statics

fix: celo unstake methods collide with weth unwrap
  modules/abstract-eth/src/lib/transaction.ts
  modules/abstract-eth/src/lib/transactionBuilder.ts
  modules/abstract-eth/src/lib/utils.ts
  modules/abstract-eth/test/unit/utils.ts
Due: none

feat(root): make node v20 the minimum version
  README.md
  modules/abstract-substrate/package.json
  modules/babylonlabs-io-btc-staking-ts/package.json
  modules/sdk-coin-apt/package.json
  modules/sdk-coin-polyx/package.json
  modules/sdk-coin-tao/package.json
  modules/sdk-coin-zketh/package.json
  modules/secp256k1/package.json
  modules/utxo-lib/package.json
Due: none

feat(sdk-coin-flrp): implement recovery mode for txn builders
  modules/sdk-coin-flrp/src/lib/permissionlessValidatorTxBuilder.ts
  modules/sdk-coin-flrp/src/lib/transactionBuilderFactory.ts
  modules/sdk-coin-flrp/test/unit/lib/exportInPTxBuilder.ts
  modules/sdk-coin-flrp/test/unit/lib/importInCTxBuilder.ts
  modules/sdk-coin-flrp/test/unit/lib/importInPTxBuilder.ts
  modules/sdk-coin-flrp/test/unit/lib/recoverModeTestSuit.ts
Due: none

fix: tog:tog token config
  modules/statics/src/coins/erc20Coins.ts
  modules/statics/src/coins/ofcErc20Coins.ts
Due: statics

feat(sdk-coin-flrp): add sourceChain and destinationChain properties
  modules/sdk-coin-flrp/src/lib/transaction.ts
  modules/sdk-coin-flrp/test/unit/lib/transactionBuilderFactory.ts
Due: none

Revert "feat: add support for OG TOG token in ERC20 and OFC token lists"
  modules/statics/src/base.ts
  modules/statics/src/coins/erc20Coins.ts
  modules/statics/src/coins/ofcErc20Coins.ts
Due: statics

feat(sdk-coin-sol): add transaction size benchmark tool
  modules/sdk-coin-sol/scripts/README.md
  modules/sdk-coin-sol/scripts/transaction-size-benchmark.ts
Due: none

build: added SFW in the build pipeline
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  Dockerfile
Due: none

feat: bump wasm-utxo to 1.17.0
  modules/abstract-utxo/package.json
  modules/utxo-bin/package.json
  modules/utxo-core/package.json
  modules/utxo-staking/package.json
  yarn.lock
Due: none

feat(utxo-lib): add zcash shielded components detection utility
  modules/utxo-lib/src/bitgo/zcash/ZcashBufferutils.ts
  modules/utxo-lib/test/bitgo/zcash/ZcashBufferutils.ts
Due: none

feat: add PSBT support for v1 transaction building
  modules/sdk-api/src/v1/transactionBuilder.ts
  modules/sdk-api/src/v1/wallet.ts
  modules/sdk-api/test/unit/v1/wallet.ts
Due: none

feat: add PSBT support with 10% rollout for v1 transactions
  modules/sdk-api/src/v1/wallet.ts
Due: none

feat: implement PSBT fallback in wallet transactions
  modules/sdk-api/src/v1/wallet.ts
Due: none

fix: browser check for user agent
  modules/sdk-api/src/bitgoAPI.ts
  modules/sdk-api/test/unit/bitgoAPI.ts
Due: none

feat: add Testnet HBAREVM token
  modules/statics/src/allCoinsAndTokens.ts
  modules/statics/src/base.ts
  modules/statics/test/unit/coins.ts
Due: statics

Merge pull request #7757 from BitGo/WIN-8356
  modules/statics/src/base.ts
  modules/statics/src/coins/erc20Coins.ts
  modules/statics/src/coins/ofcErc20Coins.ts
Due: statics

feat: fix config for erc20 tokens
  modules/bitgo/test/v2/unit/coins/ofcErc20Tokens.ts
  modules/statics/src/base.ts
  modules/statics/src/coins/ofcErc20Coins.ts
Due: bitgo, statics

fix(sdk-coin-vet): fix mainnet addresses
  modules/sdk-coin-vet/src/lib/constants.ts
  modules/sdk-coin-vet/src/lib/utils.ts
  modules/sdk-coin-vet/test/transactionBuilder/claimRewardsBuilder.ts
  modules/sdk-coin-vet/test/transactionBuilder/delegateClauseTxnBuilder.ts
  modules/sdk-coin-vet/test/transactionBuilder/stakeClauseTransactionBuilder.ts
Due: none

feat(sdk-coin-flrp): implement dynamic credential ordering based
  modules/sdk-coin-flrp/src/lib/ExportInPTxBuilder.ts
  modules/sdk-coin-flrp/src/lib/ImportInCTxBuilder.ts
  modules/sdk-coin-flrp/src/lib/ImportInPTxBuilder.ts
  modules/sdk-coin-flrp/src/lib/atomicTransactionBuilder.ts
  modules/sdk-coin-flrp/src/lib/transaction.ts
  modules/sdk-coin-flrp/src/lib/utils.ts
  modules/sdk-coin-flrp/test/resources/transactionData/exportInC.ts
  modules/sdk-coin-flrp/test/resources/transactionData/exportInP.ts
  modules/sdk-coin-flrp/test/resources/transactionData/importInC.ts
  modules/sdk-coin-flrp/test/resources/transactionData/importInP.ts
Due: none

feat(sdk-coin-ton): add ton whales withdrawal builder
  modules/sdk-coin-ton/src/lib/constants.ts
  modules/sdk-coin-ton/src/lib/tonWhalesWithdrawalBuilder.ts
  modules/sdk-coin-ton/src/lib/transaction.ts
  modules/sdk-coin-ton/src/lib/transactionBuilderFactory.ts
  modules/sdk-coin-ton/test/resources/ton.ts
  modules/sdk-coin-ton/test/unit/tonWhalesWithdrawalBuilder.ts
  modules/sdk-core/src/account-lib/baseCoin/enum.ts
Due: none

feat: add testnet ip ofc token
  modules/statics/src/coins/ofcErc20Coins.ts
Due: statics

refactor(sdk-coin-flrp): simplify signature recovery and verification methods
  modules/sdk-coin-flr/src/flr.ts
  modules/sdk-coin-flrp/src/flrp.ts
  modules/sdk-coin-flrp/src/lib/transaction.ts
  modules/sdk-coin-flrp/src/lib/utils.ts
  modules/sdk-coin-flrp/test/unit/flrp.ts
  modules/sdk-coin-flrp/test/unit/lib/utils.ts
Due: none

fix(sdk-coin-vet): invalid id for vet validation regn txn
  modules/sdk-coin-vet/src/lib/transaction/transaction.ts
  modules/sdk-coin-vet/test/resources/vet.ts
  modules/sdk-coin-vet/test/unit/stakingFlowE2E.ts
Due: none

fix(sdk-coin-vet): add stake amount in the validator registration txn
  modules/sdk-coin-vet/src/lib/transaction/validatorRegistrationTransaction.ts
  modules/sdk-coin-vet/src/lib/transactionBuilder/validatorRegistrationBuilder.ts
  modules/sdk-coin-vet/test/resources/vet.ts
  modules/sdk-coin-vet/test/transactionBuilder/validatorRegistrationTxnBuilder.ts
  modules/sdk-coin-vet/test/unit/stakingFlowE2E.ts
Due: none

fix(sdk-coin-sol): use codegen data in tx size bench
  modules/sdk-coin-sol/CHANGELOG.md
  modules/sdk-coin-sol/scripts/README.md
  modules/sdk-coin-sol/scripts/transaction-size-benchmark-results.json
  modules/sdk-coin-sol/scripts/transaction-size-benchmark.ts
  modules/sdk-coin-sol/src/lib/constants.ts
Due: none

fix(sdk-coin-sol): add early validation for transaction size limits
  modules/sdk-coin-sol/src/lib/constants.ts
  modules/sdk-coin-sol/src/lib/tokenTransferBuilder.ts
  modules/sdk-coin-sol/src/lib/transferBuilderV2.ts
  modules/sdk-coin-sol/test/unit/transactionBuilder/tokenTransferBuilder.ts
  modules/sdk-coin-sol/test/unit/transactionBuilder/transferBuilderV2.ts
Due: none
