Repository BitGo/BitGoJS: changes, and which Codecov flags are due for each by the changed paths.
All: bitgo, account-lib, statics, express

chore(release): publish modules
  modules/account-lib/package.json
  modules/core/package.json
  modules/express/package-lock.json
  modules/express/package.json
  modules/statics/package.json
Due: bitgo, account-lib, statics, express

chore: add script to check managed package versions
  check-package-versions.js
  package.json
Due: none

chore(utxo-lib): use stable version of @bitgo/blake2b
  modules/utxo-lib/package.json
Due: none

chore: add step to drone to check managed package version numbers
  .drone.jsonnet
  .drone.yml
  package.json
Due: none

fix: change the token address for cqt
  modules/statics/src/coins.ts
Due: statics

chore(release): publish modules
  modules/account-lib/package.json
  modules/core/package.json
  modules/express/package-lock.json
  modules/express/package.json
  modules/statics/package.json
  modules/utxo-lib/package.json
Due: bitgo, account-lib, statics, express

chore(express): update sdk to bitgo@^11.16.0
  modules/express/package-lock.json
Due: express

fix(express): use yarn to run commands installed at root
  modules/express/package.json
Due: express

feat(algo): add algo token support
  modules/statics/src/account.ts
  modules/statics/src/coins.ts
Due: statics

fix: keyreg type changed to wallet init
  modules/account-lib/src/coin/algo/index.ts
  modules/account-lib/src/coin/algo/keyExclusionBuilder.ts
  modules/account-lib/src/coin/algo/keyRegistrationBuilder.ts
  modules/account-lib/src/coin/algo/transaction.ts
  modules/account-lib/src/coin/baseCoin/enum.ts
Due: account-lib

feat(core): explain transaction for transfer builder and keyreg builder
  modules/account-lib/src/coin/algo/ifaces.ts
  modules/account-lib/src/coin/algo/keyRegistrationBuilder.ts
  modules/account-lib/src/coin/algo/transactionBuilder.ts
  modules/account-lib/src/coin/algo/transactionBuilderFactory.ts
  modules/account-lib/src/coin/algo/transferBuilder.ts
  modules/account-lib/src/coin/algo/txnSchema.ts
  modules/account-lib/src/index.ts
  modules/account-lib/test/unit/coin/algo/transactionBuilder/transactionBuilderFactory.ts
  modules/core/src/v2/coins/algo.ts
  modules/core/test/v2/fixtures/coins/algo.ts
  modules/core/test/v2/unit/coins/algo.ts
Due: bitgo, account-lib

feat(core): implement algo sign txn
  modules/account-lib/src/coin/algo/assetTransferBuilder.ts
  modules/account-lib/src/coin/algo/ifaces.ts
  modules/account-lib/src/coin/algo/keyRegistrationBuilder.ts
  modules/account-lib/src/coin/algo/transactionBuilder.ts
  modules/account-lib/src/coin/algo/transactionBuilderFactory.ts
  modules/account-lib/src/coin/algo/transferBuilder.ts
  modules/account-lib/src/coin/algo/utils.ts
  modules/account-lib/src/index.ts
  modules/account-lib/test/unit/coin/algo/transactionBuilder/transactionBuilderFactory.ts
  modules/core/src/v2/coins/algo.ts
  modules/core/test/v2/fixtures/coins/algo.ts
  modules/core/test/v2/unit/coins/algo.ts
Due: bitgo, account-lib

feat(statics): add token support
  modules/statics/src/base.ts
  modules/statics/src/coins.ts
Due: statics

feat(algo): algo transaction builder factory and its tests
  modules/account-lib/src/coin/algo/transactionBuilder.ts
  modules/account-lib/src/coin/algo/transactionBuilderFactory.ts
  modules/account-lib/src/coin/algo/transferBuilder.ts
  modules/account-lib/test/unit/coin/algo/transactionBuilder/transactionBuilderFactory.ts
Due: account-lib

feat: (account-lib): eos initial setup
  modules/account-lib/src/coin/eos/index.ts
  modules/account-lib/src/coin/eos/keyPair.ts
  modules/account-lib/src/coin/eos/transaction.ts
  modules/account-lib/src/coin/eos/transactionBuilder.ts
  modules/account-lib/src/coin/eos/transactionBuilderFactory.ts
  modules/account-lib/src/coin/eos/transferBuilder.ts
  modules/account-lib/src/coin/eos/utils.ts
  modules/account-lib/src/coin/eos/walletInitializationBuilder.ts
Due: account-lib

feat(statics): add new tokens
  modules/statics/src/base.ts
  modules/statics/src/coins.ts
Due: statics

fix(statics): fix GDT contract
  modules/statics/src/coins.ts
Due: statics

fix(core): correct typo when address parameter is missing
  modules/core/src/v2/wallet.ts
Due: bitgo

feat: adding comment to SubmitTransactionOptions
  modules/core/src/v2/wallet.ts
Due: bitgo

chore(core): pull supported request methods out of constructor
  modules/core/src/bitgo.ts
Due: bitgo

fix: removing extra space
  modules/core/src/v2/wallet.ts
Due: bitgo

feat(core): add request method to auth v3 hmac subject
  modules/core/src/bitgo.ts
Due: bitgo

chore(core): fix linter errors
  modules/core/src/bitgo.ts
Due: bitgo

chore(release): publish modules
  modules/core/package.json
  modules/express/package-lock.json
  modules/express/package.json
Due: bitgo, express

feat(eos): eos keypair
  modules/account-lib/src/coin/eos/keyPair.ts
  modules/account-lib/src/index.ts
  modules/account-lib/test/resources/eos/index.ts
  modules/account-lib/test/unit/coin/eos/KeyPair.ts
Due: account-lib

feat: (account-lib): eos transaction setup
  modules/account-lib/package.json
  modules/account-lib/src/coin/baseCoin/enum.ts
  modules/account-lib/src/coin/eos/ifaces.ts
  modules/account-lib/src/coin/eos/transaction.ts
  modules/core/test/v2/unit/coins/eos.ts
  yarn.lock
Due: bitgo, account-lib

feat(account-lib): wip eos tx builder
  modules/account-lib/src/coin/eos/OfflineAbiProvider.js
  modules/account-lib/src/coin/eos/abi.js
  modules/account-lib/src/coin/eos/ifaces.ts
  modules/account-lib/src/coin/eos/transaction.ts
  modules/account-lib/src/coin/eos/transactionBuilder.ts
  modules/account-lib/src/coin/eos/transferBuilder.ts
  modules/account-lib/src/coin/eos/walletInitializationBuilder.ts
Due: account-lib

feat(account-lib): eos transaction comment update
  modules/account-lib/src/coin/eos/transaction.ts
Due: account-lib

feat(account-lib): eos transaction wip
  modules/account-lib/src/coin/eos/transaction.ts
  modules/account-lib/src/coin/eos/transactionBuilder.ts
Due: account-lib

feat(account-lib): eos transaction build and json implmentation
  modules/account-lib/src/coin/eos/ifaces.ts
  modules/account-lib/src/coin/eos/transaction.ts
  modules/account-lib/src/coin/eos/transactionBuilder.ts
  modules/account-lib/src/coin/eos/utils.ts
Due: account-lib

feat(account-lib): eos tx build impl
  modules/account-lib/src/coin/eos/ifaces.ts
  modules/account-lib/src/coin/eos/transaction.ts
  modules/account-lib/src/coin/eos/transactionBuilder.ts
Due: account-lib

feat(account-lib): eos send config update
  modules/account-lib/src/coin/eos/transaction.ts
Due: account-lib

feat(account-lib): eos build return self
  modules/account-lib/src/coin/eos/transaction.ts
Due: account-lib

feat(account-lib): eos tx builder validations
  modules/account-lib/src/coin/eos/errors.ts
  modules/account-lib/src/coin/eos/transactionBuilder.ts
  modules/account-lib/src/coin/eos/transferBuilder.ts
  modules/account-lib/src/coin/eos/utils.ts
Due: account-lib

feat(account-lib): eos transaction tests setup
  modules/account-lib/package.json
  modules/account-lib/src/coin/eos/transaction.ts
  modules/account-lib/src/coin/eos/utils.ts
  modules/account-lib/src/index.ts
  modules/account-lib/test/resources/eos/index.ts
  modules/account-lib/test/unit/coin/eos/KeyPair.ts
  modules/account-lib/test/unit/coin/eos/transaction.ts
Due: account-lib

feat(account-lib): eos test data additions
  modules/account-lib/test/resources/eos/index.ts
  modules/account-lib/test/unit/coin/eos/transaction.ts
  modules/account-lib/test/unit/coin/eos/transactionBuilder/transactionBuilder.ts
Due: account-lib

feat(account-lib): wip eos tx builder tests
  modules/account-lib/src/coin/eos/transactionBuilder.ts
  modules/account-lib/src/coin/eos/transactionBuilderFactory.ts
  modules/account-lib/src/coin/eos/transferBuilder.ts
  modules/account-lib/src/coin/eos/utils.ts
  modules/account-lib/src/coin/eos/walletInitializationBuilder.ts
  modules/account-lib/test/resources/eos/index.ts
  modules/account-lib/test/unit/coin/eos/transaction.ts
  modules/account-lib/test/unit/coin/eos/transactionBuilder/transactionBuilder.ts
Due: account-lib

feat(account-lib): eos transaction builder update
  modules/account-lib/src/coin/eos/ifaces.ts
  modules/account-lib/src/coin/eos/transactionBuilder.ts
  modules/account-lib/src/coin/eos/transferBuilder.ts
  modules/account-lib/src/coin/eos/utils.ts
  modules/account-lib/src/coin/eos/walletInitializationBuilder.ts
  modules/account-lib/test/unit/coin/eos/transactionBuilder/transactionBuilder.ts
Due: account-lib

Path conditions:
  bitgo: any of: modules/core
  account-lib: any of: modules/account-lib
  statics: any of: modules/statics
  express: any of: modules/express
