Repository BitGo/BitGoJS: changes, and which Codecov flags are due for each by the changed paths.
All: bitgo, account-lib, statics, express

.codecov.yml:

coverage:
  status:
    project: off
    patch: off
comment:
  layout: 'diff, flags, files'
  require_changes: true
flags:
  bitgo:
    paths:
      - modules/bitgo
  account-lib:
    paths:
      - modules/account-lib
  statics:
    paths:
      - modules/statics
  express:
    paths:
      - modules/express

fix(sdk-coin-vet): improve error messages for delegation/validator mutual exclusivity
  modules/sdk-coin-vet/src/lib/utils.ts
  modules/sdk-coin-vet/test/transactionBuilder/delegateClauseTxnBuilder.ts
  modules/sdk-coin-vet/test/transactionBuilder/validatorRegistrationTxnBuilder.ts
Due: none

feat: HTS NFT support
  modules/abstract-eth/src/abstractEthLikeNewCoins.ts
  modules/abstract-eth/src/lib/transferBuilders/transferBuilderERC721.ts
  modules/abstract-eth/src/lib/utils.ts
  modules/abstract-eth/src/lib/walletUtil.ts
  modules/abstract-eth/test/unit/utils.ts
  modules/sdk-coin-eth/test/unit/transactionBuilder/sendNFT.ts
Due: none

docs(express): updated operationId for sendCoinsV2
  modules/express/src/clientRoutes.ts
  modules/express/src/typedRoutes/api/index.ts
  modules/express/src/typedRoutes/api/v2/sendCoins.ts
Due: express

docs(express): updated operationId for recoverTokenV2
  modules/express/src/clientRoutes.ts
  modules/express/src/typedRoutes/api/index.ts
  modules/express/src/typedRoutes/api/v2/walletRecoverToken.ts
Due: express

feat(statics): add CUSTODY_BITGO_INDIA to CANTON_FEATURES default trust
  commitlint.config.js
  modules/statics/src/coinFeatures.ts
Due: statics

feat(statics): add dydxcosmos coin family to distinguish from erc20 dydx
  modules/statics/src/allCoinsAndTokens.ts
  modules/statics/src/base.ts
  modules/statics/src/networks.ts
  modules/statics/test/unit/coins.ts
Due: statics

feat(sdk-coin-tempo): add smart contract call support
  modules/sdk-coin-tempo/src/lib/transaction.ts
  modules/sdk-coin-tempo/src/lib/transactionBuilder.ts
  modules/sdk-coin-tempo/src/lib/types.ts
  modules/sdk-coin-tempo/src/lib/utils.ts
  modules/sdk-coin-tempo/src/tempo.ts
  modules/sdk-coin-tempo/test/unit/transactionBuilder.ts
Due: none

feat(express): forward X-BitGo-OTP header to downstream BitGo API
  modules/express/src/clientRoutes.ts
  modules/express/test/unit/clientRoutes/index.ts
Due: express

feat(sdk-coin-tempo): enhance transaction validation and error handling
  modules/sdk-coin-tempo/src/lib/transactionBuilder.ts
  modules/sdk-coin-tempo/src/lib/utils.ts
  modules/sdk-coin-tempo/src/tempo.ts
  modules/sdk-coin-tempo/test/resources/tempo.ts
  modules/sdk-coin-tempo/test/unit/transactionBuilder.ts
Due: none

fix(sdk-lib-mpc): derive final_session_id deterministically in DKG retrofit
  modules/sdk-lib-mpc/src/tss/ecdsa-dkls/dkg.ts
  modules/sdk-lib-mpc/test/unit/tss/ecdsa/dklsDkg.ts
Due: none

fix(argon2): add KAT vectors, provenance tracking, and type safety
  modules/argon2/PROVENANCE.md
  modules/argon2/index.d.ts
  modules/argon2/package.json
  modules/argon2/scripts/verify-vendor.sh
  modules/argon2/test/argon2.test.ts
  modules/argon2/test/type-check.ts
  modules/argon2/tsconfig.json
Due: none

ci(argon2): verify vendored WASM integrity on PRs
  .github/workflows/ci.yml
Due: none

fix(sdk-coin-sui): handle epoch round trip
  modules/sdk-coin-sui/src/lib/mystenlab/builder/TransactionDataBlock.ts
  modules/sdk-coin-sui/src/lib/mystenlab/types/sui-bcs.ts
  modules/sdk-coin-sui/test/unit/transactionBuilder/transferBuilder.ts
Due: none

fix(statics): update BABY explorer links to Mintscan
  modules/statics/src/networks.ts
Due: statics

docs(express): updated operationId for wallet share V2
  modules/express/src/clientRoutes.ts
  modules/express/src/typedRoutes/api/index.ts
  modules/express/src/typedRoutes/api/v2/shareWallet.ts
  modules/express/test/unit/clientRoutes/shareWallet.ts
Due: express

docs(express): updated operationId for sendmany V2
  modules/express/src/clientRoutes.ts
  modules/express/src/typedRoutes/api/index.ts
  modules/express/src/typedRoutes/api/v2/sendmany.ts
Due: express

feat(sdk-coin-tempo): allow valueless transfers for TIP20 tokens
  modules/sdk-coin-tempo/src/tempo.ts
  modules/sdk-coin-tempo/src/tip20Token.ts
Due: none

fix(sdk-core): rename bandwidthWeight/energyWeight to bandwidthSun/energySun
  modules/sdk-core/src/bitgo/wallet/iWallet.ts
Due: none

fix: gracefully handle when network doesn't exist
  modules/statics/src/coins.ts
  modules/statics/src/networks.ts
Due: statics

feat: allow webauthn info to be passed in wallet creation
  modules/express/src/typedRoutes/api/v2/generateWallet.ts
  modules/express/test/unit/typedRoutes/generateWallet.ts
  modules/sdk-core/src/bitgo/keychain/iKeychains.ts
  modules/sdk-core/src/bitgo/keychain/keychains.ts
  modules/sdk-core/src/bitgo/wallet/iWallets.ts
  modules/sdk-core/src/bitgo/wallet/wallets.ts
  modules/sdk-core/test/unit/bitgo/wallet/walletsWebauthn.ts
Due: express

feat(statics): add INK L2 EVM chain
  modules/sdk-core/src/bitgo/environments.ts
  modules/statics/src/allCoinsAndTokens.ts
  modules/statics/src/base.ts
  modules/statics/src/coins/ofcCoins.ts
  modules/statics/src/networks.ts
  modules/statics/test/unit/fixtures/expectedColdFeatures.ts
Due: statics

feat: hts nft transfer support
  modules/abstract-eth/src/lib/transferBuilders/transferBuilderERC721.ts
  modules/abstract-eth/src/lib/utils.ts
  modules/abstract-eth/src/lib/walletUtil.ts
  modules/abstract-eth/test/unit/utils.ts
  modules/sdk-coin-eth/test/unit/transactionBuilder/sendNFT.ts
  modules/sdk-coin-evm/src/evmCoin.ts
  modules/sdk-coin-evm/src/lib/utils.ts
  modules/sdk-coin-evm/test/unit/utils.ts
Due: none

fix(abstract-eth): remove unreachable _counter undefined guard
  modules/abstract-eth/src/lib/transactionBuilder.ts
  modules/sdk-coin-eth/test/unit/transactionBuilder/walletInitialization.ts
Due: none

ci: add bitgo-express docker publish job to npmjs-release
  .github/workflows/npmjs-release.yml
Due: none

fix(sdk-lib-mpc): authenticate signatureR in DKLS DSG round 4 messages
  modules/abstract-lightning/package.json
  modules/bitgo/package.json
  modules/express/package.json
  modules/express/test/unit/clientRoutes/externalSign.ts
  modules/sdk-coin-flrp/package.json
  modules/sdk-coin-sol/package.json
  modules/sdk-core/package.json
  modules/sdk-core/src/bitgo/tss/ecdsa/ecdsaMPCv2.ts
  modules/sdk-lib-mpc/src/tss/ecdsa-dkls/commsLayer.ts
  modules/sdk-lib-mpc/test/unit/tss/ecdsa/dklsComms.ts
  yarn.lock
Due: bitgo, express

fix(express): annotate HttpRoute for TS7056 declaration emit
  modules/express/src/typedRoutes/api/index.ts
  modules/express/src/typedRoutes/api/v2/sendCoins.ts
  modules/express/src/typedRoutes/api/v2/sendmany.ts
  modules/express/src/typedRoutes/api/v2/walletSignTx.ts
  modules/express/src/typedRoutes/api/v2/walletTxSignTSS.ts
Due: express

feat: updates sofid solana mint address
  modules/statics/src/coins/solTokens.ts
Due: statics

docs(express): updated operationId for pendingApprovals V2
  modules/express/src/clientRoutes.ts
  modules/express/src/typedRoutes/api/index.ts
  modules/express/src/typedRoutes/api/v2/pendingApproval.ts
Due: express

feat(kaspa): wire Kaspa into coin factory and account-lib
  CODEOWNERS
  Dockerfile
  modules/account-lib/package.json
  modules/account-lib/src/index.ts
  modules/account-lib/tsconfig.json
  modules/bitgo/package.json
  modules/bitgo/src/v2/coinFactory.ts
  modules/bitgo/src/v2/coins/index.ts
  modules/bitgo/tsconfig.json
  tsconfig.packages.json
Due: bitgo, account-lib

feat(statics): add Kaspa to statics and environments
  modules/sdk-core/src/bitgo/environments.ts
  modules/statics/src/allCoinsAndTokens.ts
  modules/statics/src/base.ts
  modules/statics/src/index.ts
  modules/statics/src/kaspa.ts
  modules/statics/src/networks.ts
  modules/statics/test/unit/fixtures/expectedColdFeatures.ts
Due: statics

Update README.md
  README.md
Due: none

fix(sdk-coin-sui): address balance transaction expiration handling
  modules/sdk-coin-sui/src/lib/mystenlab/builder/TransactionDataBlock.ts
  modules/sdk-coin-sui/src/lib/mystenlab/types/sui-bcs.ts
  modules/sdk-coin-sui/src/lib/utils.ts
  modules/sdk-coin-sui/src/sui.ts
  modules/sdk-coin-sui/test/unit/transactionBuilder/transferBuilder.ts
Due: none

feat(key-card): add PDF keycard parsing via pdfjs-dist
  modules/key-card/package.json
  modules/key-card/src/index.ts
  modules/key-card/src/parseKeycard.ts
  modules/key-card/src/pdf-declarations.d.ts
  modules/key-card/src/types.ts
  modules/key-card/test/unit/parseKeycard.ts
  modules/web-demo/src/App.tsx
  modules/web-demo/src/components/Navbar/index.tsx
  modules/web-demo/src/components/ParseKeycard/index.tsx
  package.json
  yarn.lock
Due: none

feat: onboard prividium testnet tokens
  modules/statics/src/allCoinsAndTokens.ts
  modules/statics/src/base.ts
Due: statics

feat(sdk-coin-kaspa): implement Kaspa SDK module
  modules/sdk-coin-kaspa/.eslintignore
  modules/sdk-coin-kaspa/.eslintrc.json
  modules/sdk-coin-kaspa/.mocharc.yml
  modules/sdk-coin-kaspa/README.md
  modules/sdk-coin-kaspa/package.json
  modules/sdk-coin-kaspa/src/index.ts
  modules/sdk-coin-kaspa/src/kaspa.ts
  modules/sdk-coin-kaspa/src/lib/constants.ts
  modules/sdk-coin-kaspa/src/lib/iface.ts
  modules/sdk-coin-kaspa/src/lib/index.ts
  modules/sdk-coin-kaspa/src/lib/keyPair.ts
  modules/sdk-coin-kaspa/src/lib/sighash.ts
  modules/sdk-coin-kaspa/src/lib/transaction.ts
  modules/sdk-coin-kaspa/src/lib/transactionBuilder.ts
  modules/sdk-coin-kaspa/src/lib/transactionBuilderFactory.ts
  modules/sdk-coin-kaspa/src/lib/utils.ts
  modules/sdk-coin-kaspa/src/register.ts
  modules/sdk-coin-kaspa/src/tkaspa.ts
  modules/sdk-coin-kaspa/test/fixtures/kaspa.fixtures.ts
  modules/sdk-coin-kaspa/test/fixtures/kaspaFixtures.ts
  modules/sdk-coin-kaspa/test/unit/coin.test.ts
  modules/sdk-coin-kaspa/test/unit/keyPair.test.ts
  modules/sdk-coin-kaspa/test/unit/transaction.test.ts
  modules/sdk-coin-kaspa/test/unit/transactionBuilder.test.ts
  modules/sdk-coin-kaspa/test/unit/transactionFlow.test.ts
  modules/sdk-coin-kaspa/test/unit/utils.test.ts
  modules/sdk-coin-kaspa/tsconfig.json
Due: none

fix(sdk-coin-algo): normalize message field to memo for ALGO tx builds
  modules/sdk-coin-algo/src/algo.ts
  modules/sdk-coin-algo/test/unit/algo.ts
  modules/sdk-core/src/bitgo/wallet/BuildParams.ts
Due: none

feat(statics): add ofceth:mon to support Go acc
  modules/statics/src/coins/ofcErc20Coins.ts
Due: statics
