Repository BitGo/BitGoJS: changes, and which Codecov flags are due for each by the changed paths.
All: bitgo, account-lib, statics, express

.codecov.yml:

coverage:
  status:
    project: off
    patch: off
comment:
  layout: "diff, flags, files"
  require_changes: true
flags:
  bitgo:
    paths:
      - modules/core
  account-lib:
    paths:
      - modules/account-lib
  statics:
    paths:
      - modules/statics
  express:
    paths:
      - modules/express

fix(core): don't log wallet upon tx prebuild validation failure
  modules/core/src/v2/wallet.ts
Due: bitgo

ci: run unit tests in node 12, 14, and 15
  .drone.jsonnet
  .drone.yml
Due: none

ci: allow failure for optional unit test versions
  .drone.jsonnet
  .drone.yml
Due: none

chore(release): publish modules
  modules/account-lib/package.json
  modules/core/package.json
  modules/express/package-lock.json
  modules/express/package.json
  modules/statics/package.json
Due: bitgo, account-lib, statics, express

feat(account-lib): add getSTXAddressFromPubKeys -- generate an address for multisig transactions
  modules/account-lib/src/coin/stx/utils.ts
  modules/account-lib/test/unit/coin/stx/util.ts
Due: account-lib

feat(account-lib): export AddressVersion and AddressHashMode for STX
  modules/account-lib/src/coin/stx/index.ts
Due: account-lib

feat(account-lib): sTX getSTXAddressFromPubKeys takes an optional AddressHashMode param
  modules/account-lib/src/coin/stx/utils.ts
Due: account-lib

chore(express): update sdk to bitgo@^11.12.0
  modules/express/package-lock.json
Due: express

feat(core): add support for node 12, 14, 15
  modules/core/package.json
  yarn.lock
Due: bitgo

ci: require unit tests to pass with node 12, 14, 15
  .drone.jsonnet
  .drone.yml
Due: none

feat(statics): add requires reserve
  modules/statics/src/base.ts
  modules/statics/src/coins.ts
Due: statics

feat(account-lib): add fromPubKey in stx transactionBuilder
  modules/account-lib/src/coin/stx/transactionBuilder.ts
  modules/account-lib/src/coin/stx/transferBuilder.ts
  modules/account-lib/test/unit/coin/stx/transactionBuilder/transferBuilder.ts
Due: account-lib

feat(hbar): update hbar sdk
  modules/account-lib/package.json
  modules/account-lib/src/coin/hbar/keyPair.ts
  modules/account-lib/src/coin/hbar/transactionBuilder.ts
  modules/account-lib/src/coin/hbar/transferBuilder.ts
  modules/account-lib/src/coin/hbar/utils.ts
  yarn.lock
Due: account-lib

feat(hbar): add check for key length
  modules/account-lib/src/coin/hbar/keyPair.ts
  modules/account-lib/src/coin/hbar/utils.ts
  modules/account-lib/test/unit/coin/hbar/keyPair.ts
Due: account-lib

feat(hbar): update HBAR lib and protobufs
  modules/account-lib/package.json
  modules/account-lib/resources/hbar/protobuf/BasicTypes.proto
  modules/account-lib/resources/hbar/protobuf/CryptoCreate.proto
  modules/account-lib/resources/hbar/protobuf/CryptoTransfer.proto
  modules/account-lib/resources/hbar/protobuf/Duration.proto
  modules/account-lib/resources/hbar/protobuf/Timestamp.proto
  modules/account-lib/resources/hbar/protobuf/Transaction.proto
  modules/account-lib/resources/hbar/protobuf/TransactionBody.proto
  modules/account-lib/src/coin/hbar/index.ts
  modules/account-lib/src/coin/hbar/transaction.ts
  modules/account-lib/src/coin/hbar/transferBuilder.ts
  modules/account-lib/test/resources/hbar/hbar.ts
  modules/account-lib/test/unit/coin/hbar/transactionBuilder/transferBuilder.ts
  modules/account-lib/test/unit/coin/hbar/transactionBuilder/walletInitialization.ts
Due: account-lib

fix(hbar): add new hashTx impl
  modules/account-lib/package.json
  modules/account-lib/resources/hbar/protobuf/TransactionContents.proto
  modules/account-lib/src/coin/hbar/transaction.ts
Due: account-lib

fix(hbar): modify validation for keys
  modules/account-lib/src/coin/hbar/keyPair.ts
Due: account-lib

fix(hbar): key validation
  modules/account-lib/src/coin/hbar/keyPair.ts
  modules/account-lib/test/resources/hbar/hbar.ts
  modules/account-lib/test/unit/coin/hbar/keyPair.ts
Due: account-lib

fix(hbar): update test
  modules/account-lib/test/unit/coin/hbar/transactionBuilder/transferBuilder.ts
Due: account-lib

fix(core): fix txPrebuild param in CSPR signTransaction method
  modules/core/src/v2/coins/cspr.ts
  modules/core/test/v2/unit/coins/cspr.ts
Due: bitgo

chore: update yarn.lock
  yarn.lock
Due: none

chore(release): publish modules
  modules/core/package.json
  modules/express/package-lock.json
  modules/express/package.json
Due: bitgo, express

feat(account-lib): add from publicKey in stx contract buidler
  modules/account-lib/src/coin/stx/contractBuilder.ts
  modules/account-lib/src/coin/stx/transactionBuilder.ts
  modules/account-lib/src/coin/stx/transactionBuilderFactory.ts
  modules/account-lib/src/coin/stx/transferBuilder.ts
  modules/account-lib/test/unit/coin/stx/transactionBuilder/contractBuilder.ts
  yarn.lock
Due: account-lib

feat(account-lib): add signMessage method
  modules/account-lib/src/coin/stx/iface.ts
  modules/account-lib/src/coin/stx/utils.ts
Due: account-lib

Fix example code in README
  README.md
Due: none

Update assert to prevent hashing strings.
  index.js
Due: none

Add asserts to verify inputs are not strings.
  index.js
Due: none

Move digest assert up.
  index.js
Due: none

Remove new Buffer from tests
  test.js
Due: none

Upgrade to latest nanoassert
  package.json
Due: none

Replace correctly with wasm
  index.js
Due: none

Remove old node versions
  .travis.yml
Due: none

chore: update package-lock.json
  package-lock.json
Due: none
