Repository BitGo/BitGoJS: changes, and which Codecov flags are due for each by the changed paths.
All: bitgo, account-lib, statics, express

.codecov.yml:

coverage:
  status:
    project: off
    patch: off
comment:
  layout: 'diff, flags, files'
  require_changes: true
flags:
  bitgo:
    paths:
      - modules/bitgo
  account-lib:
    paths:
      - modules/account-lib
  statics:
    paths:
      - modules/statics
  express:
    paths:
      - modules/express

feat(statics): walrus bulk staking support
  modules/statics/src/coins.ts
Due: statics

refactor: rename txrequests specific functions
  modules/sdk-core/src/bitgo/wallet/wallet.ts
Due: none

feat(statics): migrate sdk config to test2
  modules/sdk-coin-coredao/test/unit/coredao.ts
  modules/sdk-coin-coredao/test/unit/transactionBuilder/send.ts
  modules/sdk-coin-coredao/test/unit/utils.ts
  modules/statics/src/map.ts
  modules/statics/src/networks.ts
Due: statics

chore(statics): add stuck tx coin feature flag in Bera
  modules/statics/src/coins.ts
Due: statics

refactor(root): move package dependencies check to code-quality matrix job
  .github/workflows/ci.yml
Due: none

rm testfile
  modules/bitgo/test/v2/unit/coins/utxo/recovery/backupKeyRecovery.ts
Due: bitgo

feat(abstract-eth): add method to build and send ccr recovery txn
  modules/abstract-eth/src/abstractEthLikeNewCoins.ts
  modules/abstract-eth/src/types.ts
  modules/sdk-coin-ethlike/test/fixtures/ethlikeCoin.ts
  modules/sdk-coin-ethlike/test/resources.ts
  modules/sdk-coin-ethlike/test/unit/ethlikeCoin.ts
Due: none

refactor(sdk-core): don't use implied types and use string instead
  modules/sdk-core/src/bitgo/lightning/codecs.ts
Due: none

refactor(sdk-coin-hbar): add recovery for hbar tokens
  modules/sdk-coin-hbar/src/hbar.ts
  modules/sdk-coin-hbar/test/unit/hbar.ts
Due: none

chore(statics): ensure consistency between erc20 and ofcerc20
  modules/statics/src/base.ts
  modules/statics/src/coins.ts
  modules/statics/src/coins/ofcErc20Coins.ts
  modules/statics/src/ofc.ts
  modules/statics/test/unit/ofcCoinParity.ts
Due: statics

fix(sdk-coin-apt): add toStringWithoutPrefix for fee pub in deserialize
  modules/sdk-coin-apt/src/lib/transaction/transaction.ts
Due: none

fix(sdk-coin-apt): read 64 bit little endian amount
  modules/sdk-coin-apt/src/lib/transaction/transferTransaction.ts
Due: none

refactor(sdk-core): use DateFromISOString in InvoiceInfo codec
  modules/sdk-core/src/bitgo/lightning/codecs.ts
Due: none

refactor(sdk-coin-trx): migrate mocha to node:test
  modules/sdk-coin-trx/test/unit/index.ts
  modules/sdk-coin-trx/test/unit/keyPair.ts
  modules/sdk-coin-trx/test/unit/transaction.ts
  modules/sdk-coin-trx/test/unit/transactionBuilder.ts
  modules/sdk-coin-trx/test/unit/transactionBuilder/contractCallBuilder.ts
  modules/sdk-coin-trx/test/unit/transactionBuilder/tokenTransferBuilder.ts
  modules/sdk-coin-trx/test/unit/transactionBuilder/wrappedBuilder.ts
  modules/sdk-coin-trx/test/unit/trx.ts
  modules/sdk-coin-trx/test/unit/util.ts
Due: none

refactor(sdk-coin-trx): migrate sinon to node:test mocks
  modules/sdk-coin-trx/package.json
  modules/sdk-coin-trx/test/unit/trx.ts
Due: none

feat(root): make unit-test-changed work on out of date branches
  .github/workflows/ci.yml
  package.json
Due: none

fix(sdk-coin-apt): stip hex prefix
  modules/sdk-coin-apt/src/lib/utils.ts
  modules/sdk-coin-apt/test/unit/apt.ts
  modules/sdk-coin-apt/test/unit/utils.ts
Due: none

fix(sdk-coin-apt): strip hex prefix from public key
  modules/sdk-coin-apt/src/lib/transaction/transaction.ts
  modules/sdk-coin-apt/src/lib/utils.ts
  modules/sdk-coin-apt/test/unit/apt.ts
  modules/sdk-coin-apt/test/unit/utils.ts
Due: none

fix(sdk-coin-apt): generate txn hash
  modules/sdk-coin-apt/src/lib/transaction/transaction.ts
  modules/sdk-coin-apt/test/unit/apt.ts
  modules/sdk-coin-apt/test/unit/transactionBuilder/digitalAssetTransferBuilder.ts
  modules/sdk-coin-apt/test/unit/transactionBuilder/fungibleAssetTransferBuilder.ts
  modules/sdk-coin-apt/test/unit/transactionBuilder/transferBuilder.ts
Due: none

feat(sdk-coin-apt): enterprise pays fee flag addition
  modules/statics/src/coins.ts
Due: statics

fix(sdk-coin-apt): use NoAccountAuthenticator for transaction simulation
  modules/sdk-coin-apt/src/lib/transaction/transaction.ts
  modules/sdk-coin-apt/test/unit/transactionBuilder/digitalAssetTransferBuilder.ts
  modules/sdk-coin-apt/test/unit/transactionBuilder/fungibleAssetTransferBuilder.ts
  modules/sdk-coin-apt/test/unit/transactionBuilder/transferBuilder.ts
Due: none

fix(sdk-coin-apt): use NoAccountAuthenticator for transaction simulation
  modules/sdk-coin-apt/src/lib/transaction/transaction.ts
  modules/sdk-coin-apt/src/lib/transactionBuilder/transactionBuilder.ts
  modules/sdk-coin-apt/test/unit/transactionBuilder/transferBuilder.ts
Due: none

chore(statics): add statics fields to common fields TICKET: WIN-4536
  modules/statics/src/account.ts
  modules/statics/src/coins.ts
  modules/statics/test/unit/account.ts
  modules/statics/test/unit/coins.ts
Due: statics

Adding stakingBuilder.ts for tao
  modules/sdk-coin-tao/package.json
  modules/sdk-coin-tao/src/lib/iface.ts
  modules/sdk-coin-tao/src/lib/stakingBuilder.ts
  package.json
  yarn.lock
Due: none

fix(abstract-substrate): fix abstract-substrate implementation
  modules/abstract-substrate/src/abstractSubstrateCoin.ts
  modules/abstract-substrate/src/lib/constants.ts
  modules/abstract-substrate/src/lib/errors.ts
  modules/abstract-substrate/src/lib/iface.ts
  modules/abstract-substrate/src/lib/iface_utils.ts
  modules/abstract-substrate/src/lib/keyPair.ts
  modules/abstract-substrate/src/lib/nativeTransferBuilder.ts
  modules/abstract-substrate/src/lib/singletonRegistry.ts
  modules/abstract-substrate/src/lib/transaction.ts
  modules/abstract-substrate/src/lib/transactionBuilder.ts
  modules/abstract-substrate/src/lib/transactionBuilderFactory.ts
  modules/abstract-substrate/src/lib/transferBuilder.ts
  modules/abstract-substrate/src/lib/txnSchema.ts
  modules/abstract-substrate/src/lib/utils.ts
  modules/abstract-substrate/src/resources/index.ts
  modules/abstract-substrate/src/resources/mainnet.ts
  modules/abstract-substrate/src/resources/westend.ts
  modules/sdk-coin-tao/src/lib/utils.ts
  modules/sdk-coin-tao/src/tao.ts
  modules/statics/src/networks.ts
Due: statics

feat(statics): add go account support for bera coin Ticket: GNA-683
  modules/statics/src/coins.ts
Due: statics

Modified stakingBuilder.ts and added unit test for the same
  modules/sdk-coin-tao/src/lib/stakingBuilder.ts
  modules/sdk-coin-tao/test/unit/transactionBuilder/stakingbuildertest.ts
Due: none

7 passing, 4 failing cases
  modules/sdk-coin-tao/test/unit/transactionBuilder/staking/metadata.json
  modules/sdk-coin-tao/test/unit/transactionBuilder/stakingbuildertest.ts
Due: none

feat(statics): addition of new coin feature for tss wallets
  modules/statics/src/base.ts
  modules/statics/src/coins.ts
Due: statics

Passing 8, failing 3
  modules/sdk-coin-tao/test/unit/transactionBuilder/stakingbuildertest.ts
Due: none

Passing 9, failing 2
  modules/sdk-coin-tao/src/lib/stakingBuilder.ts
  modules/sdk-coin-tao/test/unit/transactionBuilder/stakingbuildertest.ts
Due: none

Adding stakeBuilder.ts and testfile for tao
  modules/sdk-coin-tao/src/lib/stakingBuilder.ts
  modules/sdk-coin-tao/test/unit/transactionBuilder/stakingbuildertest.ts
Due: none

Adding stakeBuilder.ts and testfile for tao
  modules/sdk-coin-tao/test/unit/transactionBuilder/staking/metadata.json
Due: none

Modified stakingBuilder and test file
  modules/sdk-coin-tao/src/lib/stakingBuilder.ts
  modules/sdk-coin-tao/test/unit/transactionBuilder/stakingBuilder.ts
Due: none

feat(sdk-coin-sui): walrus unstaking tx support
  modules/sdk-coin-sui/src/lib/iface.ts
  modules/sdk-coin-sui/src/lib/transaction.ts
  modules/sdk-coin-sui/src/lib/transactionBuilderFactory.ts
  modules/sdk-coin-sui/src/lib/utils.ts
  modules/sdk-coin-sui/src/lib/walrusWithdrawStakeBuilder.ts
  modules/sdk-coin-sui/src/lib/walrusWithdrawStakeTransaction.ts
  modules/sdk-coin-sui/test/resources/sui.ts
  modules/sdk-coin-sui/test/unit/transactionBuilder/walrusWithdrawBuilder.ts
Due: none

chore(root): add eslint rule to restrict sinon usage
  .eslintrc.json
Due: none

jupiter swap sandboxing
  modules/sdk-coin-sol/test/unit/transaction.ts
  yarn.lock
Due: none

feat(root): test commit
  modules/utxo-lib/src/bitgo/bitcoincash/cashaddress.d.ts
Due: none
