Repository BitGo/BitGoJS: changes, and which Codecov flags are due for each by the changed paths.
All: bitgo, account-lib, statics, express

.codecov.yml:

coverage:
  status:
    project: off
    patch: off
comment:
  layout: "diff, flags, files"
  require_changes: true
flags:
  bitgo:
    paths:
      - modules/core
  account-lib:
    paths:
      - modules/account-lib
  statics:
    paths:
      - modules/statics
  express:
    paths:
      - modules/express

chore(core): remove coroutines from v2/trading/affirmation
  modules/core/src/v2/trading/affirmation.ts
Due: bitgo

chore(core): remove coroutines in v2/trading/affirmations
  modules/core/src/v2/trading/affirmations.ts
Due: bitgo

chore(core): remove coroutines from v2/trading/settlements
  modules/core/src/v2/trading/settlements.ts
Due: bitgo

chore(core): remove coroutines from v2/trading/tradingAccount
  modules/core/src/v2/trading/tradingAccount.ts
Due: bitgo

chore(core): remove coroutines from v2/trading/tradingPartner
  modules/core/src/v2/trading/tradingPartner.ts
Due: bitgo

chore(core): remove coroutines from v2/trading/tradingPartners
  modules/core/src/v2/trading/tradingPartners.ts
Due: bitgo

chore(core): remove coroutines in v2/coins/abstractUtxoCoin
  modules/core/src/v2/coins/abstractUtxoCoin.ts
Due: bitgo

chore(core): remove coroutines in v2/coins/algo
  modules/core/src/v2/coins/algo.ts
Due: bitgo

chore(core): remove coroutines from v2/coins/cspr
  modules/core/src/v2/coins/cspr.ts
Due: bitgo

chore(core): remove coroutines from v2/coins/dot
  modules/core/src/v2/coins/dot.ts
Due: bitgo

chore(core): remove coroutines from v2/coins/eos
  modules/core/src/v2/coins/eos.ts
Due: bitgo

chore(core): remove coroutines from v2/coins/eth
  modules/core/src/v2/coins/eth.ts
Due: bitgo

chore(core): remove coroutines from v2/coins/erc20Token
  modules/core/src/v2/coins/erc20Token.ts
Due: bitgo

chore(core): remove coroutines from v2/coins/eth2
  modules/core/src/v2/coins/eth2.ts
Due: bitgo

chore(core): remove coroutines from v2/coins/ofcToken
  modules/core/src/v2/coins/hbar.ts
Due: bitgo

chore(core): remove coroutines from v2/coins/ofc
  modules/core/src/v2/coins/ofc.ts
Due: bitgo

chore(core): remove coroutines from v2/coins/ofcToken
  modules/core/src/v2/coins/ofcToken.ts
Due: bitgo

chore(core): remove coroutines in v2/coins/sol
  modules/core/src/v2/coins/sol.ts
Due: bitgo

chore(core): remove coroutines from v2/coins/stx
  modules/core/src/v2/coins/stx.ts
Due: bitgo

chore(core): remove coroutines from v2/coins/trx
  modules/core/src/v2/coins/trx.ts
Due: bitgo

chore(core): remove coroutines from v2/coins/xlm
  modules/core/src/v2/coins/xlm.ts
Due: bitgo

chore(core): remove coroutines in v2/coins/xrp
  modules/core/src/v2/coins/xrp.ts
Due: bitgo

chore(core): remove coroutines from v2/coins/xtz
  modules/core/src/v2/coins/xtz.ts
Due: bitgo

chore(core): remove coroutines from utxo/recovery/crossChainRecovery
  modules/core/src/v2/coins/utxo/recovery/crossChainRecovery.ts
Due: bitgo

fix(core): fix tests which were broken after coroutine removal
  modules/core/test/v2/unit/coins/cspr.ts
  modules/core/test/v2/unit/coins/sol.ts
  modules/core/test/v2/unit/wallet.ts
Due: bitgo

feat(account-lib): dot private key fix STLX-10448
  modules/account-lib/package.json
  modules/account-lib/src/coin/dot/utils.ts
  modules/core/src/v2/coins/dot.ts
Due: bitgo, account-lib

refactor(utxo-lib): extend WalletUnspent from Unspent
  modules/utxo-lib/src/bitgo/wallet/Unspent.ts
Due: none

refactor(utxo-lib): split `WalletUnspentLegacy` from `WalletUnspent`
  modules/core/test/v2/unit/coins/utxo/util/unspents.ts
  modules/utxo-lib/src/bitgo/wallet/Unspent.ts
Due: bitgo

refactor(utxo-lib): export `chainCodes{p2sh,...}` in `chains.ts`
  modules/utxo-lib/src/bitgo/wallet/chains.ts
Due: none

feat(utxo-lib): use `ChainCode` for `WalletUnspent['chain']`
  modules/core/src/v2/coins/abstractUtxoCoin.ts
  modules/core/src/v2/coins/utxo/recovery/backupKeyRecovery.ts
  modules/core/test/v2/unit/coins/utxo/util/unspents.ts
  modules/utxo-lib/src/bitgo/wallet/Unspent.ts
  modules/utxo-lib/src/bitgo/wallet/WalletScripts.ts
  modules/utxo-lib/test/bitgo/outputScripts.ts
  modules/utxo-lib/test/bitgo/wallet/chains.ts
  modules/utxo-lib/test/bitgo/wallet/util.ts
Due: bitgo

refactor(utxolib): revert `exports` section in package.json
  modules/core/src/v2/coins/abstractUtxoCoin.ts
  modules/core/src/v2/coins/utxo/recovery/RecoveryProvider.ts
  modules/core/src/v2/coins/utxo/recovery/backupKeyRecovery.ts
  modules/core/src/v2/coins/utxo/recovery/blockchairApi.ts
  modules/core/src/v2/coins/utxo/recovery/blockstreamApi.ts
  modules/core/src/v2/coins/utxo/recovery/crossChainRecovery.ts
  modules/core/src/v2/coins/utxo/recovery/insightApi.ts
  modules/core/src/v2/coins/utxo/replayProtection.ts
  modules/core/src/v2/coins/utxo/sign.ts
  modules/core/test/v2/unit/coins/utxo/recovery/backupKeyRecovery.ts
  modules/core/test/v2/unit/coins/utxo/recovery/crossChainRecovery.ts
  modules/core/test/v2/unit/coins/utxo/recovery/mock.ts
  modules/core/test/v2/unit/coins/utxo/transaction.ts
  modules/core/test/v2/unit/coins/utxo/util/keychains.ts
  modules/core/test/v2/unit/coins/utxo/util/nockIndexerAPI.ts
  modules/core/test/v2/unit/coins/utxo/util/transaction.ts
  modules/core/test/v2/unit/coins/utxo/util/unspents.ts
  modules/utxo-lib/package.json
Due: bitgo

docs(utxo-lib): improve Unspent docstrings
  modules/utxo-lib/src/bitgo/Unspent.ts
Due: none

feat(statics): onboarding BXXV1 token Ticket: STLX-10451
  modules/statics/src/base.ts
  modules/statics/src/coins.ts
Due: statics

chore(account-lib/dot): rename walletInitialization to addressInitialization STLX-8351
  modules/account-lib/src/coin/dot/addressInitializationBuilder.ts
  modules/account-lib/src/coin/dot/index.ts
  modules/account-lib/src/coin/dot/transaction.ts
  modules/account-lib/src/coin/dot/transactionBuilderFactory.ts
  modules/account-lib/src/coin/dot/txnSchema.ts
  modules/account-lib/test/unit/coin/dot/transactionBuilder/transactionBuilderFactory.ts
  modules/account-lib/test/unit/coin/dot/transactionBuilder/walletInitializationBuilder.ts
Due: account-lib

chore(account-lib/dot): rename walletInitialization to addressInitialization STLX-8351
  modules/account-lib/src/coin/dot/addressInitializationBuilder.ts
  modules/account-lib/src/coin/dot/index.ts
  modules/account-lib/src/coin/dot/transaction.ts
  modules/account-lib/src/coin/dot/transactionBuilderFactory.ts
  modules/account-lib/src/coin/dot/txnSchema.ts
  modules/account-lib/test/unit/coin/dot/transaction.ts
  modules/account-lib/test/unit/coin/dot/transactionBuilder/transactionBuilderFactory.ts
  modules/account-lib/test/unit/coin/dot/transactionBuilder/walletInitializationBuilder.ts
Due: account-lib

chore(release): publish modules
  modules/account-lib/package.json
  modules/core/package.json
  modules/express/package-lock.json
  modules/express/package.json
  modules/statics/package.json
Due: bitgo, account-lib, statics, express

feat(dot): implement signMessage
  modules/core/src/v2/coins/dot.ts
  modules/core/test/v2/unit/coins/dot.ts
Due: bitgo

fix(core): remove coroutines from v2/coins/dot and fix tests
  modules/core/src/v2/coins/dot.ts
  modules/core/test/v2/unit/coins/dot.ts
Due: bitgo

chore(core): update yarn.lock
  yarn.lock
Due: none

chore(core): remove coroutines from src/bitgo
  modules/core/src/bitgo.ts
Due: bitgo
