Repository BitGo/BitGoJS: changes, and which Codecov flags are due for each by the changed paths.
All: bitgo, account-lib, statics, express

refactor(sdk-hmac): use native crypto for token SHA-256
  modules/sdk-hmac/package.json
  modules/sdk-hmac/src/hmac.ts
  modules/sdk-hmac/test/hmac.ts
Due: none

chore(sdk-core): drop sjcl.random from generateRandomPassword
  modules/sdk-core/src/bitgo/utils/wallet.ts
  modules/sdk-core/test/unit/bitgo/utils/wallet.ts
Due: none

fix(sdk-core,sdk-coin-xlm): fix enabletoken approval failing with no operations
  modules/bitgo/test/v2/unit/pendingApproval.ts
  modules/sdk-core/src/bitgo/pendingApproval/iPendingApproval.ts
  modules/sdk-core/src/bitgo/pendingApproval/pendingApproval.ts
Due: bitgo

fix(abstract-utxo): reject invalid chain and index values
  modules/abstract-utxo/src/address/fixedScript.ts
  modules/abstract-utxo/test/unit/address-index-edge.test.ts
Due: none

fix(sdk-core): preserve tokenName and add SOL no-recipient intents
  modules/sdk-core/src/bitgo/utils/tss/recipientUtils.ts
  modules/sdk-core/test/unit/bitgo/utils/tss/recipientUtils.ts
Due: none

fix(sdk-core): wire resolveEffectiveTxParams into EddsaMPCv2Utils
  modules/bitgo/test/v2/unit/internal/tssUtils/eddsaMPCv2/signTxRequest.ts
  modules/sdk-core/src/bitgo/utils/tss/baseTSSUtils.ts
  modules/sdk-core/src/bitgo/utils/tss/eddsa/eddsaMPCv2.ts
  modules/sdk-core/src/bitgo/wallet/wallet.ts
  modules/sdk-core/test/unit/bitgo/utils/tss/baseTSSUtils.ts
Due: bitgo

fix: resolve @bitgo/* siblings into npm-shrinkwrap.json
  scripts/generate-bitgo-shrinkwrap.ts
Due: none

fix(sdk-core): add authorize to NO_RECIPIENT_TX_TYPES
  modules/sdk-core/src/bitgo/utils/tss/recipientUtils.ts
  modules/sdk-core/test/unit/bitgo/utils/tss/recipientUtils.ts
Due: none

fix(sdk-api): guard v1 auth path against undefined accessToken in testnet
  modules/sdk-api/src/bitgoAPI.ts
  modules/sdk-api/test/unit/bitgoAPI.ts
Due: none

feat(statics): add SHARED_EVM_SDK and SHARED_EVM_SIGNING to irys mainnet
  modules/statics/src/allCoinsAndTokens.ts
Due: statics

fix(sdk-coin-polyx): fix address creation flow for Polyx
  modules/sdk-coin-polyx/src/lib/transactionBuilderFactory.ts
  modules/sdk-coin-polyx/src/polyx.ts
  modules/sdk-coin-polyx/test/unit/polyx.ts
  modules/sdk-coin-polyx/test/unit/transactionBuilder/transactionBuilderFactory.ts
Due: none

feat(sdk-core): add verifyPeerMessageRoundThree to EddsaDSGMethods
  modules/sdk-core/src/bitgo/tss/eddsa/eddsaMPCv2.ts
  modules/sdk-core/test/unit/bitgo/utils/tss/eddsa/eddsaMPCv2.ts
Due: none

fix(sdk-coin-sui): wire ValidDuring through Walrus withdraw builder
  modules/sdk-coin-sui/src/lib/walrusWithdrawStakeBuilder.ts
  modules/sdk-coin-sui/src/lib/walrusWithdrawStakeTransaction.ts
  modules/sdk-coin-sui/test/unit/transactionBuilder/walrusWithdrawBuilder.ts
Due: none

test(sdk-coin-sui): assert default expiration on withdraw builder
  modules/sdk-coin-sui/test/unit/transactionBuilder/walrusWithdrawBuilder.ts
Due: none

refactor(sdk-core): use executeTillRound in round-3 verify test
  modules/sdk-core/test/unit/bitgo/utils/tss/eddsa/eddsaMPCv2.ts
Due: none

feat(sdk-coin-eth): add ERC-7984 confidential token non-BitGo recovery
  modules/abstract-eth/src/abstractEthLikeNewCoins.ts
  modules/sdk-coin-eth/src/erc7984Token.ts
  modules/sdk-coin-eth/test/unit/erc7984Token.ts
Due: none

fix(sdk-coin-bsc): verify TSS txs via serializedTxHex like ICP
  modules/sdk-coin-bsc/src/bsc.ts
  modules/sdk-coin-bsc/src/bscToken.ts
  modules/sdk-coin-bsc/test/unit/bsc.ts
  modules/sdk-core/src/bitgo/utils/tss/ecdsa/ecdsa.ts
  modules/sdk-core/src/bitgo/utils/tss/ecdsa/ecdsaMPCv2.ts
Due: none

fix(sdk-coin-xdc): remove weak verifyTssTransaction override
  modules/sdk-coin-xdc/src/xdc.ts
  modules/sdk-coin-xdc/src/xdcToken.ts
  modules/sdk-coin-xdc/test/unit/xdc.ts
  modules/sdk-coin-xdc/test/unit/xdcToken.ts
Due: none

fix: update vulnerable transitive dependencies
  package.json
  yarn.lock
Due: none

fix(statics): update contract address for tbaseeth:ctbtccx_99e833
  modules/statics/src/allCoinsAndTokens.ts
Due: statics

fix(deps): clear 4 HIGH osv advisories blocking beta publish
  package.json
  yarn.lock
Due: none

refactor(sdk-core): gate serializedTxHex TSS verify via CoinFeature
  modules/sdk-core/src/bitgo/utils/tss/ecdsa/ecdsa.ts
  modules/sdk-core/src/bitgo/utils/tss/ecdsa/ecdsaMPCv2.ts
  modules/sdk-core/src/bitgo/utils/tss/serializedTxHexVerify.ts
  modules/statics/src/account.ts
  modules/statics/src/base.ts
  modules/statics/src/coinFeatures.ts
  modules/statics/test/unit/coins.ts
Due: statics

feat(sdk-core): always upgrade to v2 on password change
  modules/bitgo/test/v2/unit/keychains.ts
  modules/sdk-core/src/bitgo/keychain/keychains.ts
Due: bitgo

feat(sdk-core): allow opting out of v2 on password change
  modules/bitgo/test/v2/unit/keychains.ts
  modules/sdk-core/src/bitgo/keychain/iKeychains.ts
  modules/sdk-core/src/bitgo/keychain/keychains.ts
Due: bitgo

test(sdk-core): cover TradingNetwork request contracts
  modules/sdk-core/test/unit/bitgo/trading/network/network.ts
Due: none

test(sdk-core): use conventional TradingNetwork test name
  modules/sdk-core/test/unit/bitgo/trading/network/network.test.ts
Due: none

test(sdk-core): preserve allocation currency literal type
  modules/sdk-core/test/unit/bitgo/trading/network/network.test.ts
Due: none

test(sdk-core): keep allocation fixture mutable
  modules/sdk-core/test/unit/bitgo/trading/network/network.test.ts
Due: none

test(sdk-core): import TradingNetwork from barrel
  modules/sdk-core/test/unit/bitgo/trading/network/network.test.ts
Due: none

test(sdk-core): use package source barrel import
  modules/sdk-core/test/unit/bitgo/trading/network/network.test.ts
Due: none

fix(sdk-core): make prepared allocation ids optional
  modules/sdk-core/src/bitgo/trading/network/types.ts
Due: none

fix(sdk-core): narrow generated allocation fields
  modules/sdk-core/src/bitgo/trading/network/network.ts
Due: none

test(sdk-core): use supported Sinon assertions
  modules/sdk-core/test/unit/bitgo/trading/network/network.test.ts
Due: none

fix(express): bind wallet signing to route wallet ID
  modules/express/src/clientRoutes.ts
  modules/express/test/unit/typedRoutes/walletSignTx.ts
Due: express

fix(sdk-coin-flrp): fall back to network.txFee when no fee/baseFee is set on C-chain import
  modules/sdk-coin-flrp/src/lib/ImportInCTxBuilder.ts
  modules/sdk-coin-flrp/test/unit/lib/importInCTxBuilder.ts
Due: none

fix: detect shrinkwrap siblings by workspace, not @bitgo/ prefix
  scripts/generate-bitgo-shrinkwrap.ts
  scripts/set-umbrella-publishable.ts
Due: none

fix(statics): drop liquid-staking from weth and eigen
  modules/statics/src/coinFeatures.ts
  modules/statics/test/unit/coins.ts
Due: statics

feat(sdk-coin-iota): add MPCv2 signed hot recovery support
  modules/sdk-coin-iota/src/iota.ts
  modules/sdk-coin-iota/test/unit/iota.ts
Due: none

Path conditions:
  bitgo: any of: modules/bitgo
  account-lib: any of: modules/account-lib
  statics: any of: modules/statics
  express: any of: modules/express
