Repository BitGo/BitGoJS: changes, and which Codecov flags are due for each by the changed paths.
All: bitgo, account-lib, statics, express

build: bump serialize-javascript to resolve XSS vulnerability
  modules/web-demo/package.json
  package.json
  yarn.lock
Due: none

refactor: adding missed changes
  modules/express/src/typedRoutes/api/v2/lightningInitWallet.ts
Due: express

docs: updated documentation
  modules/express/src/typedRoutes/api/v2/lightningInitWallet.ts
Due: express

feat: add new param to support the resource type Ticket: SC-3075
  modules/sdk-core/src/bitgo/staking/iStakingWallet.ts
  modules/sdk-core/src/bitgo/staking/stakingWallet.ts
Due: none

fix(sdk-coin-sol): explain init ata address transactions
  modules/sdk-coin-sol/src/lib/transaction.ts
Due: none

fix: bump up follow-redirects version
  package.json
  yarn.lock
Due: none

fix: bump up follow-redirects version to 1.15.11
  package.json
  yarn.lock
Due: none

fix: bump up karma versions
  modules/bitgo/package.json
  yarn.lock
Due: bitgo

build: address Serialize-JavaScript XSS vulnerability GHSA-76p7-773f-r4q5
  modules/web-demo/package.json
  package.json
  yarn.lock
Due: none

feat(sdk-coin-near): validation for token enablement transactions
  modules/sdk-coin-near/src/near.ts
  modules/sdk-coin-near/test/unit/tokenEnablementValidation.ts
Due: none

feat(express): migrate lightningSignerMacaroon to typed routes
  modules/express/src/clientRoutes.ts
  modules/express/src/lightning/lightningSignerRoutes.ts
  modules/express/src/typedRoutes/api/index.ts
  modules/express/src/typedRoutes/api/v2/signerMacaroon.ts
  modules/express/test/unit/clientRoutes/lightning/lightningSignerRoutes.ts
  modules/express/test/unit/typedRoutes/decode.ts
Due: express

refactor: updated jsdocs and removed unnecessary casting
  modules/express/src/lightning/lightningSignerRoutes.ts
  modules/express/src/typedRoutes/api/v2/lightningInitWallet.ts
Due: express

refactor: minor edit to how we extract coinName
  modules/express/src/lightning/lightningSignerRoutes.ts
Due: express

fix: update mocha to resolve nanoid vulnerability
  package.json
  yarn.lock
Due: none

feat: implement license compliance scanning
  .github/workflows/ci.yml
Due: none

chore: axios dependency update
  modules/sdk-coin-atom/package.json
  modules/sdk-coin-sui/package.json
  modules/utxo-lib/package.json
  package.json
  yarn.lock
Due: none

feat: add claim rewards builder for vechain
  modules/sdk-coin-vet/src/lib/constants.ts
  modules/sdk-coin-vet/src/lib/iface.ts
  modules/sdk-coin-vet/src/lib/index.ts
  modules/sdk-coin-vet/src/lib/transaction/claimRewards.ts
  modules/sdk-coin-vet/src/lib/transactionBuilder/claimRewardsBuilder.ts
  modules/sdk-coin-vet/src/lib/transactionBuilderFactory.ts
  modules/sdk-coin-vet/src/lib/types.ts
  modules/sdk-coin-vet/src/lib/utils.ts
  modules/sdk-coin-vet/test/transactionBuilder/claimRewardsBuilder.ts
Due: none

feat: add aptos USD1 testnet tokens
  modules/statics/src/allCoinsAndTokens.ts
  modules/statics/src/base.ts
  modules/statics/src/coins/ofcCoins.ts
Due: statics

feat(sdk-coin-apt): making abi mandatory for custom transactions
  modules/sdk-coin-apt/src/lib/iface.ts
  modules/sdk-coin-apt/src/lib/transaction/customTransaction.ts
  modules/sdk-coin-apt/test/unit/transactionBuilder/customTransactionBuilder.ts
Due: none

feat(sdk-coin-xrp): blind signing guards for xrp token enablements
  modules/sdk-coin-xrp/src/xrp.ts
  modules/sdk-coin-xrp/test/resources/xrp.ts
  modules/sdk-coin-xrp/test/unit/xrp.ts
Due: none

refactor(statics): group sol tokens and group tsol tokens
  modules/statics/src/base.ts
Due: statics

refactor(sdk-coin-apt): changes to validation and test cases
  modules/sdk-coin-apt/src/lib/transaction/customTransaction.ts
  modules/sdk-coin-apt/src/lib/transactionBuilder/customTransactionBuilder.ts
  modules/sdk-coin-apt/src/lib/utils/validation.ts
  modules/sdk-coin-apt/test/unit/transactionBuilder/customTransactionBuilder.ts
Due: none

fix(bitgo): added validation for unsigned txHex from txRequest matches client staking request
  modules/bitgo/test/v2/unit/staking/stakingWalletNonTSS.ts
  modules/sdk-core/src/bitgo/staking/stakingWallet.ts
Due: bitgo

fix: fix bulkSignAccountBasedMessagesWithProvider
  modules/sdk-core/src/bitgo/walletUtil/midnightMessageProvider.ts
Due: none

feat: flrp txn builder
  modules/sdk-coin-flrp/package.json
  modules/sdk-coin-flrp/src/flrp.ts
  modules/sdk-coin-flrp/src/lib/atomicTransactionBuilder.ts
  modules/sdk-coin-flrp/src/lib/iface.ts
  modules/sdk-coin-flrp/src/lib/index.ts
  modules/sdk-coin-flrp/src/lib/keyPair.ts
  modules/sdk-coin-flrp/src/lib/transaction.ts
  modules/sdk-coin-flrp/src/lib/transactionBuilderFactory.ts
  modules/sdk-coin-flrp/src/lib/utils.ts
  modules/sdk-coin-flrp/test/unit/lib/atomicTransactionBuilder.ts
  modules/sdk-coin-flrp/test/unit/lib/transaction.ts
  modules/sdk-coin-flrp/test/unit/lib/utils.ts
  yarn.lock
Due: none

feat(statics): add somi to coinNameFromChainId for walletconnect
  modules/statics/src/map.ts
Due: statics

fix: use new instances of wallet in parallel calls
  modules/sdk-core/src/bitgo/walletUtil/signAccountBasedMidnightClaimMessages.ts
Due: none

feat(statics): add jetton token standard TICKET: COIN-5624
  modules/statics/src/account.ts
Due: statics

feat(express): migrate unlocklightningwallet to typed routes
  modules/express/src/clientRoutes.ts
  modules/express/src/lightning/lightningSignerRoutes.ts
  modules/express/src/typedRoutes/api/index.ts
  modules/express/src/typedRoutes/api/v2/unlockWallet.ts
  modules/express/test/unit/clientRoutes/lightning/lightningSignerRoutes.ts
  modules/express/test/unit/typedRoutes/decode.ts
Due: express

feat(ton): add jetton token support TICKET: COIN-5624
  modules/sdk-coin-ton/src/index.ts
  modules/sdk-coin-ton/src/jettonToken.ts
  modules/sdk-coin-ton/src/register.ts
  modules/statics/src/index.ts
  modules/statics/src/tokenConfig.ts
Due: statics

fix(sdk-coin-sol): cannot blind sing enablemenet sol tokens
  modules/sdk-coin-sol/src/sol.ts
  modules/sdk-coin-sol/test/fixtures/sol.ts
  modules/sdk-coin-sol/test/unit/sol.ts
  modules/sdk-core/src/bitgo/baseCoin/iBaseCoin.ts
Due: none

feat(express): migrate getlightningstate to typed routes
  modules/express/src/clientRoutes.ts
  modules/express/src/lightning/lightningSignerRoutes.ts
  modules/express/src/typedRoutes/api/index.ts
  modules/express/src/typedRoutes/api/v2/lightningState.ts
  modules/express/test/unit/clientRoutes/lightning/lightningSignerRoutes.ts
  modules/express/test/unit/typedRoutes/decode.ts
Due: express

feat(statics): add Test JitoSOL token
  modules/statics/src/coins/ofcCoins.ts
  modules/statics/src/coins/solTokens.ts
Due: statics

feat: copy security policy for publishing
  modules/bitgo/SECURITY.md
Due: bitgo

feat: link security policy for publishing
  modules/bitgo/SECURITY.md
Due: bitgo

feat: add jetton token standard TICKET: COIN-5624
  modules/sdk-coin-ton/src/index.ts
  modules/sdk-coin-ton/src/jettonToken.ts
  modules/sdk-coin-ton/src/register.ts
  modules/statics/src/index.ts
  modules/statics/src/tokenConfig.ts
Due: statics

feat: add jetton to coinFactory TICKET: COIN-5624
  modules/bitgo/src/v2/coinFactory.ts
  modules/bitgo/src/v2/coins/index.ts
  modules/bitgo/test/browser/browser.spec.ts
  modules/statics/src/coinFeatures.ts
  modules/statics/src/coins.ts
Due: bitgo, statics

Path conditions:
  bitgo: any of: modules/bitgo
  account-lib: any of: modules/account-lib
  statics: any of: modules/statics
  express: any of: modules/express
