Repository BitGo/BitGoJS: changes, and which Codecov flags are due for each by the changed paths.
All: bitgo, account-lib, statics, express

fix(statics): changer ticker for sol doodles coin
  modules/statics/src/base.ts
  modules/statics/src/coins/ofcCoins.ts
  modules/statics/src/coins/solTokens.ts
  modules/statics/src/gatekeep.ts
Due: statics

feat(kms): added providers to kms Ticket: WP-4379
  modules/express-kms-api-example/package.json
  modules/express-kms-api-example/src/api/handlers/GET.ts
  modules/express-kms-api-example/src/api/handlers/POST.ts
  modules/express-kms-api-example/src/api/schemas/postKeySchema.ts
  modules/express-kms-api-example/src/api/schemas/types.ts
  modules/express-kms-api-example/src/app.ts
  modules/express-kms-api-example/src/providers/aws/aws-kms.ts
  modules/express-kms-api-example/src/providers/kms-interface/kmsInterface.ts
Due: express

feat: add batchStakingBuilder (bond and nominate) and bondExtraBuilder for polyx
  modules/sdk-coin-polyx/src/lib/batchStakingBuilder.ts
  modules/sdk-coin-polyx/src/lib/bondExtraBuilder.ts
  modules/sdk-coin-polyx/src/lib/iface.ts
  modules/sdk-coin-polyx/src/lib/index.ts
  modules/sdk-coin-polyx/src/lib/transactionBuilderFactory.ts
  modules/sdk-coin-polyx/src/lib/txnSchema.ts
  modules/sdk-coin-polyx/src/polyx.ts
  modules/sdk-coin-polyx/test/resources/index.ts
  modules/sdk-coin-polyx/test/unit/transactionBuilder/batchStakingBuilder.ts
  modules/sdk-coin-polyx/test/unit/transactionBuilder/bondExtraBuilder.ts
Due: none

feat(express): add enclaved express configurations
  modules/express/README.md
  modules/express/src/args.ts
  modules/express/src/clientRoutes.ts
  modules/express/src/config.ts
  modules/express/src/enclavedExpressRoutes/enclavedExpressRoutes.ts
  modules/express/src/enclavedExpressRoutes/index.ts
  modules/express/src/expressApp.ts
Due: express

feat: rename audit function naming and signature
  modules/abstract-cosmos/src/cosmosCoin.ts
  modules/abstract-eth/src/abstractEthLikeCoin.ts
  modules/abstract-substrate/src/abstractSubstrateCoin.ts
  modules/abstract-utxo/src/abstractUtxoCoin.ts
  modules/sdk-coin-ada/src/ada.ts
  modules/sdk-coin-algo/src/algo.ts
  modules/sdk-coin-algo/test/unit/algo.ts
  modules/sdk-coin-btc/test/unit/btc.ts
  modules/sdk-coin-dot/src/dot.ts
  modules/sdk-coin-eth/test/unit/eth.ts
  modules/sdk-coin-hbar/src/hbar.ts
  modules/sdk-coin-hbar/test/unit/hbar.ts
  modules/sdk-coin-near/src/near.ts
  modules/sdk-coin-sol/src/sol.ts
  modules/sdk-coin-sol/test/unit/sol.ts
  modules/sdk-coin-sui/src/sui.ts
  modules/sdk-coin-ton/src/ton.ts
  modules/sdk-coin-xlm/src/xlm.ts
  modules/sdk-coin-xlm/test/unit/xlm.ts
  modules/sdk-core/src/bitgo/baseCoin/baseCoin.ts
  modules/sdk-core/src/bitgo/baseCoin/iBaseCoin.ts
  modules/sdk-lib-mpc/src/curves/util.ts
Due: none

feat(statics): add opeth token batch
  modules/statics/src/base.ts
  modules/statics/src/coins.ts
  modules/statics/src/coins/ofcCoins.ts
  modules/statics/src/gatekeep.ts
Due: statics

feat(sdk-coin-icp): integrate ic0 library for account balance retrieval
  modules/sdk-coin-icp/package.json
  modules/sdk-coin-icp/src/icp.ts
  modules/sdk-coin-icp/src/lib/iface.ts
  modules/sdk-coin-icp/test/resources/icp.ts
  modules/sdk-coin-icp/test/unit/transactionBuilder/transactionRecover.ts
  modules/sdk-core/src/bitgo/environments.ts
  yarn.lock
Due: none

fix: custodial wallets are not supported for celo
  modules/statics/src/account.ts
  modules/statics/src/coinFeatures.ts
  modules/statics/test/unit/coins.ts
Due: statics

feat: added azure provider and ref
  modules/express-kms-api-example/package.json
  modules/express-kms-api-example/src/providers/aws/aws-kms.ts
  modules/express-kms-api-example/src/providers/azure/azure-kms.ts
  modules/express-kms-api-example/src/providers/kms-interface/kmsInterface.ts
Due: express

feat(kms): remove redundant types in provider interface & cleanup
  modules/express-kms-api-example/src/api/handlers/POST.ts
  modules/express-kms-api-example/src/providers/aws/aws-kms.ts
  modules/express-kms-api-example/src/providers/azure/azure-kms.ts
  modules/express-kms-api-example/src/providers/kms-interface/kmsInterface.ts
Due: express

chore(express): convert post to get and add logs
  modules/express/src/clientRoutes.ts
  modules/express/src/config.ts
  modules/express/src/enclavedExpressRoutes/enclavedExpressRoutes.ts
  modules/express/src/expressApp.ts
  modules/express/test/unit/config.ts
Due: express

fix: missing azure getkey provider method created
  modules/express-kms-api-example/src/providers/azure/azure-kms.ts
Due: express

chore: parallellize keychain and queryPromise
  modules/sdk-core/src/bitgo/wallet/wallet.ts
Due: none

feat(sdk-coin-trx): add stake support (freeze and vote)
  modules/sdk-coin-trx/resources/protobuf/Contract.proto
  modules/sdk-coin-trx/resources/protobuf/tron.d.ts
  modules/sdk-coin-trx/resources/protobuf/tron.js
  modules/sdk-coin-trx/resources/protobuf/tron.proto
  modules/sdk-coin-trx/src/lib/enum.ts
  modules/sdk-coin-trx/src/lib/freezeBalanceTxBuilder.ts
  modules/sdk-coin-trx/src/lib/iface.ts
  modules/sdk-coin-trx/src/lib/resourcesTypes.ts
  modules/sdk-coin-trx/src/lib/transaction.ts
  modules/sdk-coin-trx/src/lib/transactionBuilder.ts
  modules/sdk-coin-trx/src/lib/utils.ts
  modules/sdk-coin-trx/src/lib/voteWitnessTxBuilder.ts
  modules/sdk-coin-trx/src/lib/wrappedBuilder.ts
  modules/sdk-coin-trx/test/resources.ts
  modules/sdk-coin-trx/test/unit/transactionBuilder/freezeBalanceTxBuilder.ts
  modules/sdk-coin-trx/test/unit/transactionBuilder/voteWitnessTxBuilder.ts
Due: none

feat: add ofc statics for ICP
  modules/statics/src/coins/ofcCoins.ts
Due: statics

feat: introduce EVM_COMPATIBLE_BGA coin feature
  modules/statics/src/base.ts
Due: statics

feat: bulk erc20 sendmany polygon arbeth
  modules/statics/src/coinFeatures.ts
  modules/statics/src/networks.ts
  modules/statics/test/unit/coins.ts
  modules/statics/test/unit/resources/amsTokenConfig.ts
Due: statics

fix(sdk-coin-polyx): fix cdd builder
  modules/abstract-substrate/src/lib/transaction.ts
  modules/sdk-coin-polyx/src/lib/iface.ts
  modules/sdk-coin-polyx/src/lib/registerDidWithCDDBuilder.ts
  modules/sdk-coin-polyx/src/lib/transaction.ts
  modules/sdk-coin-polyx/test/resources/index.ts
  modules/sdk-coin-polyx/test/unit/transactionBuilder/registerDidWithCDDBuilder.ts
Due: none

fix(express): validate amount as integer type in sendCoins
  modules/bitgo/test/v2/unit/wallet.ts
  modules/sdk-core/src/bitgo/wallet/wallet.ts
Due: bitgo

fix(sdk-coin-polyx): all fixed
  modules/abstract-substrate/src/lib/transactionBuilder.ts
  modules/sdk-coin-polyx/package.json
  modules/sdk-coin-polyx/src/lib/registerDidWithCDDBuilder.ts
  modules/sdk-coin-polyx/src/lib/transactionBuilderFactory.ts
  modules/sdk-coin-polyx/test/unit/transactionBuilder/registerDidWithCDDBuilder.ts
Due: none

feat(sdk-coin-vet): add sdk skeleton for vet
  CODEOWNERS
  Dockerfile
  modules/bitgo/package.json
  modules/bitgo/src/v2/coinFactory.ts
  modules/bitgo/src/v2/coins/index.ts
  modules/bitgo/tsconfig.json
  modules/sdk-coin-vet/.eslintignore
  modules/sdk-coin-vet/.gitignore
  modules/sdk-coin-vet/.mocharc.yml
  modules/sdk-coin-vet/.npmignore
  modules/sdk-coin-vet/.prettierignore
  modules/sdk-coin-vet/.prettierrc.yml
  modules/sdk-coin-vet/README.md
  modules/sdk-coin-vet/package.json
  modules/sdk-coin-vet/src/index.ts
  modules/sdk-coin-vet/src/lib/constants.ts
  modules/sdk-coin-vet/src/lib/index.ts
  modules/sdk-coin-vet/src/lib/utils.ts
  modules/sdk-coin-vet/src/register.ts
  modules/sdk-coin-vet/src/tvet.ts
  modules/sdk-coin-vet/src/vet.ts
  modules/sdk-coin-vet/test/resources/vet.ts
  modules/sdk-coin-vet/test/unit/vet.ts
  modules/sdk-coin-vet/tsconfig.json
  modules/sdk-core/src/bitgo/environments.ts
  tsconfig.packages.json
Due: bitgo

chore(root): release express
  Dockerfile
Due: none

feat: update opengpg version
  modules/bitgo/package.json
  modules/sdk-core/package.json
  modules/sdk-lib-mpc/package.json
  yarn.lock
Due: bitgo

feat(root): add new audit key baseCoin method
  modules/abstract-cosmos/src/cosmosCoin.ts
  modules/abstract-eth/src/abstractEthLikeCoin.ts
  modules/abstract-substrate/src/abstractSubstrateCoin.ts
  modules/abstract-utxo/src/abstractUtxoCoin.ts
  modules/sdk-coin-ada/src/ada.ts
  modules/sdk-coin-algo/src/algo.ts
  modules/sdk-coin-algo/test/unit/algo.ts
  modules/sdk-coin-algo/test/unit/fixtures/algoBackupKey.ts
  modules/sdk-coin-btc/test/unit/btc.ts
  modules/sdk-coin-btc/test/unit/fixtures/btcBackupKey.ts
  modules/sdk-coin-btc/test/unit/fixtures/index.ts
  modules/sdk-coin-dot/src/dot.ts
  modules/sdk-coin-eth/test/unit/eth.ts
  modules/sdk-coin-eth/test/unit/fixtures/ethMultiSigBackupKey.ts
  modules/sdk-coin-eth/test/unit/fixtures/ethTssBackupKey.ts
  modules/sdk-coin-hbar/src/hbar.ts
  modules/sdk-coin-hbar/test/unit/fixtures/hbarBackupKey.ts
  modules/sdk-coin-hbar/test/unit/hbar.ts
  modules/sdk-coin-near/src/near.ts
  modules/sdk-coin-sol/src/sol.ts
  modules/sdk-coin-sol/test/unit/fixtures/solBackupKey.ts
  modules/sdk-coin-sol/test/unit/sol.ts
  modules/sdk-coin-sui/src/sui.ts
  modules/sdk-coin-ton/src/ton.ts
  modules/sdk-coin-xlm/src/xlm.ts
  modules/sdk-coin-xlm/test/unit/fixtures/xlmBackupKey.ts
  modules/sdk-coin-xlm/test/unit/xlm.ts
  modules/sdk-core/src/bitgo/baseCoin/baseCoin.ts
  modules/sdk-core/src/bitgo/baseCoin/iBaseCoin.ts
  modules/sdk-lib-mpc/src/curves/util.ts
Due: none

feat: use bitgo/secp256k1 for bip32/xprv/xpub operations
  modules/sdk-core/src/account-lib/util/crypto.ts
Due: none

feat: rename audit function naming and signature
  modules/abstract-cosmos/package.json
  modules/abstract-cosmos/src/cosmosCoin.ts
  modules/abstract-eth/src/abstractEthLikeCoin.ts
  modules/abstract-substrate/src/abstractSubstrateCoin.ts
  modules/abstract-utxo/src/abstractUtxoCoin.ts
  modules/sdk-coin-ada/src/ada.ts
  modules/sdk-coin-algo/src/algo.ts
  modules/sdk-coin-algo/test/unit/algo.ts
  modules/sdk-coin-btc/test/unit/btc.ts
  modules/sdk-coin-dot/src/dot.ts
  modules/sdk-coin-eth/test/unit/eth.ts
  modules/sdk-coin-hbar/src/hbar.ts
  modules/sdk-coin-hbar/test/unit/hbar.ts
  modules/sdk-coin-near/package.json
  modules/sdk-coin-near/src/near.ts
  modules/sdk-coin-sol/src/sol.ts
  modules/sdk-coin-sol/test/unit/sol.ts
  modules/sdk-coin-sui/src/sui.ts
  modules/sdk-coin-ton/src/ton.ts
  modules/sdk-coin-xlm/src/xlm.ts
  modules/sdk-coin-xlm/test/unit/xlm.ts
  modules/sdk-core/src/bitgo/baseCoin/baseCoin.ts
  modules/sdk-core/src/bitgo/baseCoin/iBaseCoin.ts
  modules/sdk-lib-mpc/src/curves/util.ts
Due: none

fix: cosmos batch coin features correction
  modules/statics/src/coins.ts
Due: statics

feat(sdk-coin-near): add Nep-141 skeleton Ticket: COIN-4141
  modules/sdk-coin-near/src/index.ts
  modules/sdk-coin-near/src/nep141Token.ts
  modules/sdk-coin-near/src/register.ts
  modules/statics/src/account.ts
  modules/statics/src/coinFeatures.ts
  modules/statics/src/index.ts
  modules/statics/src/tokenConfig.ts
Due: statics

feat(statics): add new batch of tokens
  modules/statics/src/base.ts
  modules/statics/src/coins.ts
  modules/statics/src/coins/ofcCoins.ts
Due: statics

feat(sdk-coin-trx): add stake support (freeze and vote)
  modules/sdk-coin-trx/package.json
  modules/sdk-coin-trx/resources/protobuf/Contract.proto
  modules/sdk-coin-trx/resources/protobuf/tron.d.ts
  modules/sdk-coin-trx/resources/protobuf/tron.js
  modules/sdk-coin-trx/resources/protobuf/tron.proto
  modules/sdk-coin-trx/src/lib/contractCallBuilder.ts
  modules/sdk-coin-trx/src/lib/enum.ts
  modules/sdk-coin-trx/src/lib/freezeBalanceTxBuilder.ts
  modules/sdk-coin-trx/src/lib/iface.ts
  modules/sdk-coin-trx/src/lib/transaction.ts
  modules/sdk-coin-trx/src/lib/transactionBuilder.ts
  modules/sdk-coin-trx/src/lib/utils.ts
  modules/sdk-coin-trx/src/lib/voteWitnessTxBuilder.ts
  modules/sdk-coin-trx/src/lib/wrappedBuilder.ts
  modules/sdk-coin-trx/test/resources.ts
  modules/sdk-coin-trx/test/unit/transactionBuilder/contractCallBuilder.ts
  modules/sdk-coin-trx/test/unit/transactionBuilder/freezeBalanceTxBuilder.ts
  modules/sdk-coin-trx/test/unit/transactionBuilder/voteWitnessTxBuilder.ts
Due: none

fix: update decimal places for trx:usd1
  modules/statics/src/coins.ts
Due: statics

feat: wip open api support for kms api example get method missing post
  modules/express-kms-api-example/package.json
  modules/express-kms-api-example/src/api/handlers/GET.ts
  modules/express-kms-api-example/src/api/handlers/POST.ts
  modules/express-kms-api-example/src/app.ts
  modules/express-kms-api-example/src/swagger.ts
Due: express

feat(sdk-coin-vet): add sdk skeleton for vet
  modules/account-lib/package.json
  modules/account-lib/src/index.ts
Due: account-lib

chore: WIP paygo util functions
  modules/utxo-lib/src/bitgo/PsbtUtil.ts
  modules/utxo-lib/src/bitgo/UtxoPsbt.ts
  modules/utxo-lib/src/bitgo/psbt/paygoAddressProof.ts
Due: none

Path conditions:
  bitgo: any of: modules/bitgo
  account-lib: any of: modules/account-lib
  statics: any of: modules/statics
  express: any of: modules/express
