Repository BitGo/BitGoJS: changes, and which Codecov flags are due for each by the changed paths.
All: bitgo, account-lib, statics, express

feat(sdk-coin-apt): sendMany multiple recipients native aptos
  modules/sdk-coin-apt/src/lib/constants.ts
  modules/sdk-coin-apt/src/lib/iface.ts
  modules/sdk-coin-apt/src/lib/transaction/transferTransaction.ts
  modules/sdk-coin-apt/src/lib/transactionBuilder/transferBuilder.ts
  modules/sdk-coin-apt/src/lib/utils.ts
  modules/sdk-coin-apt/test/resources/apt.ts
  modules/sdk-coin-apt/test/unit/transactionBuilder/transferBuilder.ts
Due: none

feat(scripts): implement dist-tags caching for prepare-release
  scripts/prepareRelease/distTags.ts
Due: none

feat(scripts): add root directory override for prepare-release
  scripts/prepare-release.ts
Due: none

test(scripts): add tests for prepare-release script
  scripts/tests/prepareRelease/fixtures/diffs/beta-prerelease.diff
  scripts/tests/prepareRelease/fixtures/dist-tags.json
  scripts/tests/prepareRelease/prepare-release-main.test.ts
  scripts/tests/prepareRelease/util.ts
Due: none

test: initial commit of new branch
  examples/ts/access-token.ts
  examples/ts/create-tss-wallet.ts
  examples/ts/get-keychains.ts
  examples/ts/send-many.ts
  examples/ts/send-wallet-transaction.ts
  examples/ts/sui/create-wallet.ts
Due: none

chore(examples): get keychains
  .gitcommitscopes
  examples/ts/access-token.ts
  examples/ts/get-keychains.ts
Due: none

feat(abstract-eth): add extra methods in transfer builder
  modules/abstract-eth/src/lib/transferBuilder.ts
Due: none

chore(statics): gate the tbill token for singapore trust
  modules/statics/src/coins.ts
Due: statics

feat(sdk-coin-apt): send many support fungible asset
  modules/sdk-coin-apt/src/lib/constants.ts
  modules/sdk-coin-apt/src/lib/transaction/digitalAssetTransfer.ts
  modules/sdk-coin-apt/src/lib/transaction/fungibleAssetTransfer.ts
  modules/sdk-coin-apt/src/lib/transaction/transaction.ts
  modules/sdk-coin-apt/src/lib/transaction/transferTransaction.ts
  modules/sdk-coin-apt/src/lib/transactionBuilder/fungibleAssetTransferBuilder.ts
  modules/sdk-coin-apt/src/lib/transactionBuilder/transferBuilder.ts
  modules/sdk-coin-apt/src/lib/utils.ts
  modules/sdk-coin-apt/test/resources/apt.ts
  modules/sdk-coin-apt/test/unit/transactionBuilder/fungibleAssetTransferBuilder.ts
Due: none

Fixed display corruption in markdown #5747
  modules/express/README.md
Due: express

fix(sdk-coin-stx): extracting memo from functionArgs Ticket: COIN-3576
  modules/sdk-coin-stx/src/stx.ts
  modules/sdk-coin-stx/test/fixtures.ts
  modules/sdk-coin-stx/test/unit/resources.ts
  modules/sdk-coin-stx/test/unit/transactionBuilder/fungibleTokenTransferBuilder.ts
Due: none

refactor(root): change createTokenConstructors function to accept custom token config
  modules/abstract-eth/src/ethLikeToken.ts
  modules/sdk-coin-ada/src/adaToken.ts
  modules/sdk-coin-algo/src/algoToken.ts
  modules/sdk-coin-apt/src/aptToken.ts
  modules/sdk-coin-avaxc/src/avaxcToken.ts
  modules/sdk-coin-celo/src/celoToken.ts
  modules/sdk-coin-eos/src/eosToken.ts
  modules/sdk-coin-eth/src/erc20Token.ts
  modules/sdk-coin-hbar/src/hbarToken.ts
  modules/sdk-coin-sol/src/solToken.ts
  modules/sdk-coin-stx/src/sip10Token.ts
  modules/sdk-coin-sui/src/suiToken.ts
  modules/sdk-coin-trx/src/trxToken.ts
  modules/sdk-coin-xlm/src/stellarToken.ts
  modules/sdk-coin-xrp/src/xrpToken.ts
Due: none

test(scripts): use semver.lt instead of custom comparator
  scripts/prepare-release.ts
Due: none

refactor(scripts): improve prepare-release script with yargs pattern
  scripts/prepare-release.ts
Due: none

chore(root): add test command and update prepare-release script
  package.json
  scripts/prepare-release.ts
Due: none

refactor(scripts): extract version increment logic into separate function
  scripts/prepare-release.ts
Due: none

refactor(scripts): use LernaModule objects directly for better type safety
  scripts/prepare-release.ts
Due: none

refactor(scripts): improve module handling in release script
  scripts/prepare-release.ts
  scripts/prepareRelease/distTags.ts
Due: none

feat(sdk-api): add dynamic headers in sdk requests
  modules/sdk-api/src/bitgoAPI.ts
Due: none

chore(root): release express
  Dockerfile
Due: none

feat: add includeBalance parameter to wallet query options
  modules/express/test/unit/clientRoutes/lightning/lightningSignerRoutes.ts
  modules/sdk-core/src/bitgo/wallet/wallets.ts
Due: express

fix: fund forwarders script
  CODEOWNERS
  examples/ts/apt/fund-forwarders.ts
  examples/ts/eth/fund-forwarder.ts
  modules/sdk-core/src/bitgo/wallet/iWallet.ts
  modules/sdk-core/src/bitgo/wallet/wallet.ts
Due: none

fix: fixed baseeth half-signed txn generation TICKET: COIN-3372
  modules/sdk-api/src/bitgoAPI.ts
  modules/sdk-api/src/types.ts
Due: none

feat(sdk-coin-mantra): add SDK support for mantra TICKET: COIN-3519
  CODEOWNERS
  Dockerfile
  modules/account-lib/package.json
  modules/account-lib/src/index.ts
  modules/bitgo/package.json
  modules/bitgo/src/v2/coinFactory.ts
  modules/bitgo/src/v2/coins/index.ts
  modules/bitgo/tsconfig.json
  modules/sdk-coin-mantra/.eslintignore
  modules/sdk-coin-mantra/.gitignore
  modules/sdk-coin-mantra/.mocharc.yml
  modules/sdk-coin-mantra/.npmignore
  modules/sdk-coin-mantra/.prettierignore
  modules/sdk-coin-mantra/.prettierrc.yml
  modules/sdk-coin-mantra/README.md
  modules/sdk-coin-mantra/package.json
  modules/sdk-coin-mantra/src/index.ts
  modules/sdk-coin-mantra/src/lib/constants.ts
  modules/sdk-coin-mantra/src/lib/index.ts
  modules/sdk-coin-mantra/src/lib/keyPair.ts
  modules/sdk-coin-mantra/src/lib/transactionBuilderFactory.ts
  modules/sdk-coin-mantra/src/lib/utils.ts
  modules/sdk-coin-mantra/src/mantra.ts
  modules/sdk-coin-mantra/src/register.ts
  modules/sdk-coin-mantra/src/tmantra.ts
  modules/sdk-coin-mantra/test/resources/mantra.ts
  modules/sdk-coin-mantra/test/unit/getBuilderFactory.ts
  modules/sdk-coin-mantra/test/unit/keyPair.ts
  modules/sdk-coin-mantra/test/unit/mantra.ts
  modules/sdk-coin-mantra/test/unit/transaction.ts
  modules/sdk-coin-mantra/test/unit/transactionBuilder/transactionBuilder.ts
  modules/sdk-coin-mantra/test/unit/transactionBuilder/transferBuilder.ts
  modules/sdk-coin-mantra/test/unit/utils.ts
  modules/sdk-coin-mantra/tsconfig.json
  modules/sdk-core/src/bitgo/environments.ts
  tsconfig.packages.json
Due: bitgo, account-lib

chore: removing old custodial lightning implementation
  examples/ts/btc/deprecated/custodialLightning/check-lightning-balance.ts
  examples/ts/btc/deprecated/custodialLightning/create-lightning-invoice.ts
  examples/ts/btc/deprecated/custodialLightning/make-lightning-deposit.ts
  examples/ts/btc/deprecated/custodialLightning/make-lightning-payment.ts
  examples/ts/btc/deprecated/custodialLightning/pay-lnurl-request.ts
  examples/ts/btc/deprecated/custodialLightning/withdraw-lightning-balance.ts
  modules/bitgo/test/v2/unit/custodialLightning.ts
  modules/sdk-core/package.json
  modules/sdk-core/src/bitgo/index.ts
  modules/sdk-core/src/bitgo/lightning/custodial/iLightning.ts
  modules/sdk-core/src/bitgo/lightning/custodial/index.ts
  modules/sdk-core/src/bitgo/lightning/custodial/lightning.ts
  modules/sdk-core/src/bitgo/lightning/custodial/lightningUtils.ts
  modules/sdk-core/src/bitgo/lightning/custodial/lnurlCodec.ts
  modules/sdk-core/src/bitgo/wallet/iWallet.ts
  modules/sdk-core/src/bitgo/wallet/wallet.ts
Due: bitgo

feat(sdk-coin-icp): reduce the payload to 1 Ticket: WIN-4983
  modules/sdk-coin-icp/src/lib/iface.ts
  modules/sdk-coin-icp/src/lib/signedTransactionBuilder.ts
  modules/sdk-coin-icp/src/lib/unsignedTransactionBuilder.ts
  modules/sdk-coin-icp/src/lib/utils.ts
  modules/sdk-coin-icp/test/resources/icp.ts
  modules/sdk-coin-icp/test/unit/transactionBuilder/transactionBuilder.ts
Due: none

feat(statics): extend coin name to chain id map
  modules/statics/src/map.ts
Due: statics

fix(express): display corruption in markdown #5747
  modules/express/README.md
Due: express

feat(statics): add new batch of tokens
  modules/statics/src/base.ts
  modules/statics/src/coins.ts
  modules/statics/src/coins/bscTokens.ts
  modules/statics/src/coins/erc20Coins.ts
  modules/statics/src/coins/ofcCoins.ts
  modules/statics/src/coins/ofcErc20Coins.ts
  modules/statics/src/coins/sip10Tokens.ts
  modules/statics/src/ofc.ts
Due: statics

feat(abstract-eth): add extra methods in transfer builder
  modules/abstract-eth/src/lib/transferBuilder.ts
  modules/sdk-coin-ethlike/test/fixtures/ethlikeCoin.ts
  modules/sdk-coin-ethlike/test/unit/ethlikeCoin.ts
Due: none

refactor: replace "any" with "WalletData" return type
  modules/sdk-core/src/bitgo/wallet/wallet.ts
Due: none

fix(statics): correct xrp:xsgd decimal places
  modules/statics/src/coins.ts
  modules/statics/src/coins/ofcCoins.ts
Due: statics

fix(sdk-coin-stx): memo issue in verify transaction of sip10 Ticket: COIN-3616
  modules/sdk-coin-stx/src/lib/utils.ts
  modules/sdk-coin-stx/src/sip10Token.ts
  modules/sdk-coin-stx/test/fixtures.ts
  modules/sdk-coin-stx/test/unit/sip10Token.ts
Due: none

feat: add getAdditionalHeadersCB
  modules/bitgo/test/v2/integration/bitgo.ts
  modules/sdk-api/src/bitgoAPI.ts
  modules/sdk-api/src/types.ts
Due: bitgo

feat(sdk-coin-icp): change icp implementation to only use update payload
  modules/sdk-coin-icp/src/lib/iface.ts
  modules/sdk-coin-icp/src/lib/signedTransactionBuilder.ts
  modules/sdk-coin-icp/src/lib/transaction.ts
  modules/sdk-coin-icp/src/lib/unsignedTransactionBuilder.ts
  modules/sdk-coin-icp/src/lib/utils.ts
Due: none

fix: serialize data once
  modules/sdk-api/src/bitgoAPI.ts
Due: none

Path conditions:
  bitgo: any of: modules/bitgo
  account-lib: any of: modules/account-lib
  statics: any of: modules/statics
  express: any of: modules/express
