Repository BitGo/BitGoJS: changes, and which Codecov flags are due for each by the changed paths.
All: bitgo, account-lib, statics, express

.codecov.yml:

coverage:
  status:
    project: off
    patch: off
comment:
  layout: 'diff, flags, files'
  require_changes: true
flags:
  bitgo:
    paths:
      - modules/bitgo
  account-lib:
    paths:
      - modules/account-lib
  statics:
    paths:
      - modules/statics
  express:
    paths:
      - modules/express

feat(abstract-utxo): implement sign for descriptor wallets
  modules/abstract-utxo/src/abstractUtxoCoin.ts
  modules/abstract-utxo/src/transaction/descriptor/index.ts
  modules/abstract-utxo/src/transaction/descriptor/signPsbt.ts
  modules/abstract-utxo/src/transaction/signTransaction.ts
  modules/abstract-utxo/test/transaction/descriptor/sign.ts
Due: none

fix(sdk-core): ignore case for btc unstaking transaction type
  modules/bitgo/test/v2/unit/staking/stakingWalletNonTSS.ts
  modules/sdk-core/src/bitgo/staking/stakingWallet.ts
Due: bitgo

fix(sdk-core): choose correct default apiVersion for tss
  modules/bitgo/test/v2/unit/internal/tssUtils/ecdsa.ts
  modules/bitgo/test/v2/unit/wallet.ts
  modules/sdk-core/src/bitgo/utils/tss/baseTSSUtils.ts
  modules/sdk-core/src/bitgo/utils/txRequest.ts
  modules/sdk-core/src/bitgo/wallet/wallet.ts
  modules/sdk-core/test/unit/bitgo/utils/txRequest.ts
Due: bitgo

chore(root): release express
  Dockerfile
Due: none

fix(sdk-coin-avaxp): set flat fee for staking tx Ticket: CR-1207
  modules/sdk-coin-avaxp/src/avaxp.ts
  modules/sdk-coin-avaxp/src/lib/permissionlessValidatorTxBuilder.ts
  modules/sdk-coin-avaxp/test/unit/lib/permissionlessValidatorTxBuilder.ts
Due: none

fix(sdk-coin-avaxp): include fees in utxo calculation Ticket: CR-1207
  modules/sdk-coin-avaxp/src/lib/permissionlessValidatorTxBuilder.ts
  modules/sdk-coin-avaxp/test/unit/lib/permissionlessValidatorTxBuilder.ts
Due: none

feat(abstract-utxo): enforce import order lint rule
  modules/abstract-utxo/.eslintrc.js
  modules/abstract-utxo/src/abstractUtxoCoin.ts
  modules/abstract-utxo/src/core/descriptor/psbt/parse.ts
  modules/abstract-utxo/src/descriptor/assertDescriptorWalletAddress.ts
  modules/abstract-utxo/src/descriptor/builder/parse.ts
  modules/abstract-utxo/src/descriptor/descriptorWallet.ts
  modules/abstract-utxo/src/descriptor/validatePolicy.ts
  modules/abstract-utxo/src/keychains.ts
  modules/abstract-utxo/src/recovery/RecoveryProvider.ts
  modules/abstract-utxo/src/recovery/backupKeyRecovery.ts
  modules/abstract-utxo/src/recovery/crossChainRecovery.ts
  modules/abstract-utxo/src/sign.ts
  modules/abstract-utxo/src/transaction/descriptor/parse.ts
  modules/abstract-utxo/src/transaction/descriptor/parseToAmountType.ts
  modules/abstract-utxo/src/transaction/descriptor/signPsbt.ts
  modules/abstract-utxo/src/transaction/descriptor/verifyTransaction.ts
  modules/abstract-utxo/src/transaction/explainTransaction.ts
  modules/abstract-utxo/src/transaction/fixedScript/parseOutput.ts
  modules/abstract-utxo/src/transaction/fixedScript/parseTransaction.ts
  modules/abstract-utxo/src/transaction/fixedScript/signTransaction.ts
  modules/abstract-utxo/src/transaction/parseTransaction.ts
  modules/abstract-utxo/src/transaction/signTransaction.ts
  modules/abstract-utxo/src/transaction/verifyTransaction.ts
  modules/abstract-utxo/src/verifyKey.ts
  modules/abstract-utxo/test/core/descriptor/psbt/parse.ts
  modules/abstract-utxo/test/core/key.utils.ts
  modules/abstract-utxo/test/descriptor/descriptorWallet.ts
  modules/abstract-utxo/test/transaction/descriptor/explainPsbt.ts
  modules/abstract-utxo/test/transaction/descriptor/parse.ts
  modules/abstract-utxo/test/transaction/descriptor/sign.ts
Due: none

feat: use lib and target es2020
  tsconfig.json
Due: none

fix(sdk-coin-avaxp): update tests
  modules/sdk-coin-avaxp/src/lib/permissionlessValidatorTxBuilder.ts
  modules/sdk-coin-avaxp/test/resources/avaxp.ts
  modules/sdk-coin-avaxp/test/unit/lib/permissionlessValidatorTxBuilder.ts
Due: none

feat(abstract-eth): added eip1559 property to statics
  modules/statics/src/account.ts
  modules/statics/src/base.ts
  modules/statics/src/coins.ts
  modules/statics/test/unit/coins.ts
Due: statics

fix: allow locktime as build param
  modules/sdk-core/src/bitgo/wallet/wallet.ts
Due: none

use `t.partial` instead of `t.type`
  modules/sdk-core/src/bitgo/wallet/wallet.ts
Due: none

feat: add abstract-utxo-cli
  modules/abstract-utxo-cli/.eslintignore
  modules/abstract-utxo-cli/.gitignore
  modules/abstract-utxo-cli/.mocharc.js
  modules/abstract-utxo-cli/.npmignore
  modules/abstract-utxo-cli/.prettierignore
  modules/abstract-utxo-cli/.prettierrc.yml
  modules/abstract-utxo-cli/README.md
  modules/abstract-utxo-cli/package.json
  modules/abstract-utxo-cli/src/bitGoArgs.ts
  modules/abstract-utxo-cli/src/commands/RpcClient.ts
  modules/abstract-utxo-cli/src/commands/createAddress.ts
  modules/abstract-utxo-cli/src/commands/createWallet.ts
  modules/abstract-utxo-cli/src/commands/descriptorWallet.ts
  modules/abstract-utxo-cli/src/commands/fullnode.ts
  modules/abstract-utxo-cli/src/commands/tx/build.ts
  modules/abstract-utxo-cli/src/commands/tx/buildSignSend.ts
  modules/abstract-utxo-cli/src/commands/tx/send.ts
  modules/abstract-utxo-cli/src/commands/tx/sign.ts
  modules/abstract-utxo-cli/src/commands/tx/transaction.ts
  modules/abstract-utxo-cli/src/commands/tx/wrap.ts
  modules/abstract-utxo-cli/src/commands/unspents.ts
  modules/abstract-utxo-cli/src/index.ts
  modules/abstract-utxo-cli/src/util/bitGoInstance.ts
  modules/abstract-utxo-cli/test/convertDescriptorNetwork.ts
  modules/abstract-utxo-cli/tsconfig.json
Due: none

feat: add staking commands
  modules/abstract-utxo-cli/package.json
  modules/abstract-utxo-cli/src/commands/args/wallet.ts
  modules/abstract-utxo-cli/src/commands/createAddress.ts
  modules/abstract-utxo-cli/src/commands/createWallet.ts
  modules/abstract-utxo-cli/src/commands/staking/createStakingTransaction.ts
  modules/abstract-utxo-cli/src/commands/staking/createWallet.ts
  modules/abstract-utxo-cli/src/commands/staking/index.ts
  modules/abstract-utxo-cli/src/commands/tx/build.ts
  modules/abstract-utxo-cli/src/commands/tx/buildSignSend.ts
  modules/abstract-utxo-cli/src/commands/xprv.ts
  modules/abstract-utxo-cli/src/index.ts
  modules/abstract-utxo-cli/src/util/bitGoInstance.ts
  modules/abstract-utxo-cli/tsconfig.json
Due: none

fix: use static switch case instead of array search
  modules/abstract-utxo-cli/src/util/bitGoInstance.ts
Due: none

wip
  modules/abstract-utxo-cli/src/commands/tx/buildSignSend.ts
Due: none

chore(sdk-core): add max amount to recipient validation
  modules/bitgo/test/v2/unit/wallet.ts
  modules/sdk-core/src/bitgo/baseCoin/baseCoin.ts
  modules/sdk-core/src/bitgo/wallet/wallet.ts
Due: bitgo

fix(abstract-eth): added eip1559 property to missing coins
  modules/statics/src/coins.ts
  modules/statics/test/unit/coins.ts
Due: statics

feat(statics): enable staking for coredao
  modules/statics/src/coins.ts
Due: statics

fix(abstract-eth): added eip1559 for hteth coin
  modules/statics/src/coins.ts
  modules/statics/test/unit/coins.ts
Due: statics

fix(abstract-eth): reorder coins in tests
  modules/statics/test/unit/coins.ts
Due: statics

feat(statics): add new batch of tokens, COIN-2524
  modules/statics/src/base.ts
  modules/statics/src/coins.ts
Due: statics

feat(statics): rename of fet coin, COIN-2524
  modules/statics/src/coins.ts
Due: statics

feat(abstract-utxo): allow 'max' value in ExpectedOutput
  modules/abstract-utxo/src/transaction/descriptor/outputDifference.ts
  modules/abstract-utxo/src/transaction/descriptor/parse.ts
  modules/abstract-utxo/test/transaction/descriptor/outputDifference.ts
Due: none

feat(abstract-utxo): add support for 'max' value parse.ts
  modules/abstract-utxo/src/transaction/descriptor/parse.ts
  modules/abstract-utxo/src/transaction/descriptor/parseToAmountType.ts
  modules/abstract-utxo/src/transaction/descriptor/verifyTransaction.ts
  modules/abstract-utxo/test/transaction/descriptor/parse.ts
Due: none

fix(abstract-eth): fix verifyCoin method to validate native coin
  modules/abstract-eth/src/abstractEthLikeNewCoins.ts
Due: none

feat(sdk-coin-bera): add TSS Suport Ticket: WIN-4073
  modules/bitgo/test/v2/unit/wallets.ts
  modules/sdk-coin-bera/src/bera.ts
  modules/statics/src/coins.ts
  modules/statics/test/unit/fixtures/expectedColdFeatures.ts
Due: bitgo, statics

feat: use descriptor outputDifference method
  modules/abstract-utxo/src/transaction/fixedScript/parseTransaction.ts
  modules/abstract-utxo/test/outputDifference.ts
  modules/bitgo/test/v2/unit/coins/abstractUtxoCoin.ts
Due: bitgo

chore: move outputDifference to parent dir
  modules/abstract-utxo/src/transaction/descriptor/parse.ts
  modules/abstract-utxo/src/transaction/fixedScript/parseTransaction.ts
  modules/abstract-utxo/src/transaction/outputDifference.ts
  modules/abstract-utxo/test/transaction/descriptor/outputDifference.ts
Due: none

feat(statics): onboard sol corn and yes token Ticket: WIN-4075
  modules/statics/src/base.ts
  modules/statics/src/coins.ts
Due: statics

chore(statics): adding forwarder and batcher contract addresses for oas
  modules/statics/src/networks.ts
Due: statics

refactor(statics): move out ERC20 tokens to dedicated file from coins.ts
  modules/statics/src/coins.ts
  modules/statics/src/coins/erc20Coins.ts
  modules/statics/src/features.ts
Due: statics

fix(abstract-utxo): verify transaction works for max recipient
  modules/abstract-utxo/src/transaction/fixedScript/parseTransaction.ts
Due: none

fix(sdk-coin-xrp): fix token enablement
  examples/js/arbeth.js
  examples/js/tokenEnablementSol.js
  examples/js/tokenEnablementXrp.js
  examples/js/ton.js
  modules/sdk-core/src/bitgo/wallet/wallet.ts
Due: none

feat(sdk-core): enable token enablements for multisig backing wallets Ticket: GNA-10
  modules/sdk-core/src/bitgo/wallet/wallet.ts
Due: none
