Repository BitGo/BitGoJS: changes, and which Codecov flags are due for each by the changed paths.
All: bitgo, account-lib, statics, express

.codecov.yml:

coverage:
  status:
    project: off
    patch: off
comment:
  layout: 'diff, flags, files'
  require_changes: true
flags:
  bitgo:
    paths:
      - modules/bitgo
  account-lib:
    paths:
      - modules/account-lib
  statics:
    paths:
      - modules/statics
  express:
    paths:
      - modules/express

feat(sdk-api): add support for client constants in BitGoAPI options to optionally pass constants
  modules/sdk-api/src/bitgoAPI.ts
  modules/sdk-api/src/types.ts
Due: none

refactor: handleUpdateLightningWalletCoinSpecific to work with api-ts
  modules/express/encryptedPrivKeys.json
Due: express

feat: create npmrc file
  .npmrc
Due: none

refactor: handleUpdateLightningWalletCoinSpecific to work with api-ts
  modules/express/encryptedPrivKeys.json
  modules/express/src/lightning/lightningWalletRoutes.ts
  modules/express/test/unit/lightning/lightningWalletRoutes.test.ts
  modules/express/test/unit/typedRoutes/decode.ts
Due: express

refactor: changed some UTs and JSdocs
  modules/express/src/typedRoutes/api/v2/ofcSignPayload.ts
  modules/express/test/unit/clientRoutes/signPayload.ts
Due: express

fix: force request to use @cypress/request@3.0.9 to address security vulnerability
  package.json
  yarn.lock
Due: none

fix: remove Validation of coin/subnet while building move stake transaction
  modules/sdk-coin-tao/src/lib/moveStakeTransaction.ts
  modules/sdk-coin-tao/test/unit/transactionBuilder/moveStakeBuilder.ts
Due: none

fix(express): migrate to modern docker env syntax
  Dockerfile
Due: none

feat(sdk-coin-trx): added the validation for verifyTxn for trx
  modules/sdk-coin-trx/src/lib/utils.ts
  modules/sdk-coin-trx/src/trx.ts
  modules/sdk-coin-trx/test/resources.ts
  modules/sdk-coin-trx/test/unit/verifyTransaction.ts
Due: none

feat(express): migrate createLocalKeyChain to typed routes
  modules/express/src/clientRoutes.ts
  modules/express/src/typedRoutes/api/index.ts
  modules/express/src/typedRoutes/api/v1/createLocalKeyChain.ts
  modules/express/test/unit/typedRoutes/createLocalKeyChain.ts
Due: express

feat(sdk-coin-sol): token 2022 transfer hook implementation transfer hook implementation for tbill token, added extra account metas Ticket: WIN-7258
  modules/sdk-coin-sol/src/config/token2022StaticConfig.ts
  modules/sdk-coin-sol/src/lib/solInstructionFactory.ts
  modules/sdk-coin-sol/src/lib/token2022Config.ts
  modules/sdk-coin-sol/test/unit/solInstructionFactory.ts
  modules/statics/src/coins/solTokens.ts
Due: statics

Revert "feat(sdk-coin-dot): integrate the Westend AssetHub chain for tdot"
  modules/sdk-coin-dot/src/lib/txnSchema.ts
  modules/sdk-coin-dot/src/lib/utils.ts
  modules/sdk-coin-dot/src/resources/index.ts
  modules/sdk-coin-dot/src/resources/westendAssetHub.ts
  modules/sdk-coin-dot/test/resources/assetHubMaterialData.json
  modules/sdk-coin-dot/test/resources/index.ts
  modules/sdk-coin-dot/test/unit/dot.ts
  modules/sdk-coin-dot/test/unit/transaction.ts
  modules/sdk-coin-dot/test/unit/transactionBuilder/addressInitializationBuilder.ts
  modules/sdk-coin-dot/test/unit/transactionBuilder/batchTransactionBuilder.ts
  modules/sdk-coin-dot/test/unit/transactionBuilder/singeltonRegistry.ts
  modules/sdk-coin-dot/test/unit/transactionBuilder/transactionBuilderFactory.ts
  modules/sdk-coin-dot/test/unit/transactionBuilder/unnominateBuilder.ts
  modules/sdk-coin-dot/test/unit/utils.ts
  modules/sdk-coin-dot/tsconfig.json
  modules/sdk-core/src/bitgo/environments.ts
  modules/statics/src/networks.ts
Due: statics

refactor(sdk-coin-near): improve token enablement validation
  modules/sdk-coin-near/src/near.ts
  modules/sdk-coin-near/test/unit/tokenEnablementValidation.ts
Due: none

feat(express): migrate update keychain passphrase to typed routes
  modules/express/src/clientRoutes.ts
  modules/express/src/typedRoutes/api/index.ts
  modules/express/src/typedRoutes/api/v2/keychainChangePassword.ts
  modules/express/test/unit/clientRoutes/changeKeychainPassword.ts
  modules/express/test/unit/typedRoutes/decode.ts
Due: express

refactor(sdk-coin-hbar): change verifyTokenEnablementTransaction to return void
  modules/sdk-coin-hbar/src/hbar.ts
  modules/sdk-coin-hbar/test/unit/hbar.ts
Due: none

fix(sdk-coin-hbar): use tokenId for secure validation and simplify
  modules/sdk-coin-hbar/src/hbar.ts
Due: none

type(scope): short description
  examples/ts/btc/lightning/list-transactions.ts
  modules/abstract-lightning/src/codecs/api/transaction.ts
  modules/abstract-lightning/src/wallet/lightning.ts
  modules/bitgo/test/v2/unit/lightning/lightningWallets.ts
Due: bitgo

fix(express): remove hardcoded dockerfile labels
  .github/workflows/ci.yml
  Dockerfile
  modules/express/package.json
  package.json
  scripts/build-docker-express.sh
  scripts/update-dockerfile.ts
Due: express

feat(sdk-coin-sol): support versioned sol transactions with customTx intent
  modules/sdk-coin-sol/src/lib/customInstructionBuilder.ts
  modules/sdk-coin-sol/src/lib/iface.ts
  modules/sdk-coin-sol/src/lib/transaction.ts
  modules/sdk-coin-sol/src/lib/transactionBuilder.ts
  modules/sdk-coin-sol/src/sol.ts
  modules/sdk-coin-sol/test/resources/sol.ts
  modules/sdk-coin-sol/test/unit/transaction.ts
  modules/sdk-coin-sol/test/unit/transactionBuilder/customInstructionBuilder.ts
  modules/sdk-core/src/bitgo/utils/tss/baseTypes.ts
Due: none

feat(express): add CI check to prevent dockerfile drift
  .github/workflows/ci.yml
  Dockerfile
Due: none

fix: correct methods and abi for vechain
  modules/sdk-coin-vet/src/lib/constants.ts
  modules/sdk-coin-vet/src/lib/iface.ts
  modules/sdk-coin-vet/src/lib/transaction/burnNftTransaction.ts
  modules/sdk-coin-vet/src/lib/transaction/claimRewards.ts
  modules/sdk-coin-vet/src/lib/transaction/exitDelegation.ts
  modules/sdk-coin-vet/src/lib/transaction/stakingTransaction.ts
  modules/sdk-coin-vet/src/lib/transactionBuilder/burnNftBuilder.ts
  modules/sdk-coin-vet/src/lib/transactionBuilder/claimRewardsBuilder.ts
  modules/sdk-coin-vet/src/lib/transactionBuilder/exitDelegationBuilder.ts
  modules/sdk-coin-vet/src/lib/transactionBuilder/stakingBuilder.ts
  modules/sdk-coin-vet/src/lib/types.ts
  modules/sdk-coin-vet/src/lib/utils.ts
  modules/sdk-coin-vet/test/resources/vet.ts
  modules/sdk-coin-vet/test/transactionBuilder/claimRewardsBuilder.ts
  modules/sdk-coin-vet/test/transactionBuilder/stakingTransaction.ts
Due: none

feat: upgrade to lerna 6
  package.json
  yarn.lock
Due: none

feat: upgrade to lerna 7
  lerna.json
  package.json
  yarn.lock
Due: none

feat: upgrade to lerna 8
  .prettierignore
  package.json
  yarn.lock
Due: none

feat: integrate lerna cache
  .gitignore
  CLAUDE.md
  lerna.json
  nx.json
Due: none

chore: express tests should clean up encryptedPrivKeys.json
  modules/express/encryptedPrivKeys.json
  modules/express/test/unit/clientRoutes/externalSign.ts
Due: express

feat: enable cache in CI
  .github/workflows/ci.yml
  CLAUDE.md
Due: none

chore: add clean-cache command
  CLAUDE.md
  package.json
Due: none

feat: skip cache during publish
  .github/workflows/publish.yml
Due: none

fix(root): resolve nx cache configuration and github actions issues
  .github/workflows/ci.yml
  nx.json
Due: none

fix(babylonlabs-io-btc-staking-ts): resolve build issue caused by dependency conflicts
  modules/babylonlabs-io-btc-staking-ts/package.json
  yarn.lock
Due: none

refactor(root): extract nx cache key pattern to workflow environment variable
  .github/workflows/ci.yml
Due: none

fix: correct methods and abi for vechain
  modules/sdk-coin-vet/src/lib/constants.ts
  modules/sdk-coin-vet/src/lib/iface.ts
  modules/sdk-coin-vet/src/lib/transaction/burnNftTransaction.ts
  modules/sdk-coin-vet/src/lib/transaction/claimRewards.ts
  modules/sdk-coin-vet/src/lib/transaction/exitDelegation.ts
  modules/sdk-coin-vet/src/lib/transaction/stakingTransaction.ts
  modules/sdk-coin-vet/src/lib/transactionBuilder/burnNftBuilder.ts
  modules/sdk-coin-vet/src/lib/transactionBuilder/claimRewardsBuilder.ts
  modules/sdk-coin-vet/src/lib/transactionBuilder/exitDelegationBuilder.ts
  modules/sdk-coin-vet/src/lib/transactionBuilder/stakingBuilder.ts
  modules/sdk-coin-vet/src/lib/types.ts
  modules/sdk-coin-vet/src/lib/utils.ts
  modules/sdk-coin-vet/test/resources/vet.ts
  modules/sdk-coin-vet/test/transactionBuilder/burnNftBuilder.ts
  modules/sdk-coin-vet/test/transactionBuilder/claimRewardsBuilder.ts
  modules/sdk-coin-vet/test/transactionBuilder/exitDelegationBuilder.ts
  modules/sdk-coin-vet/test/transactionBuilder/stakingTransaction.ts
Due: none

fix(sdk-core): fix TransactionType check
  modules/bitgo/test/v2/fixtures/staking/tavaxpStakingFixtures.ts
  modules/bitgo/test/v2/fixtures/staking/topethStakingFixtures.ts
  modules/bitgo/test/v2/unit/staking/stakingWalletNonTSS.ts
  modules/sdk-core/src/bitgo/staking/stakingWallet.ts
Due: bitgo

feat(sdk-coin-sol): token 2022 transfer hook implementation transfer hook implementation for tbill token, added transfer hook account in tx object Ticket: WIN-7258
  examples/ts/sol/token-extensions/test-fetch-extension-accounts.ts
  modules/sdk-coin-sol/package.json
  modules/sdk-coin-sol/src/lib/iface.ts
  modules/sdk-coin-sol/src/lib/solInstructionFactory.ts
  modules/sdk-coin-sol/src/lib/token2022Extensions.ts
  modules/sdk-coin-sol/src/lib/tokenTransferBuilder.ts
  modules/sdk-coin-sol/test/unit/token2022Extensions.ts
  yarn.lock
Due: none

feat(express): migrate constrctTx to typed routes
  modules/express/src/clientRoutes.ts
  modules/express/src/typedRoutes/api/index.ts
  modules/express/src/typedRoutes/api/v1/constructPendingApprovalTx.ts
  modules/express/test/unit/typedRoutes/constructPendingApprovalTx.ts
Due: express

feat(sdk-lib-mpc): Added EdDsa DKG DKLs Impl
  modules/sdk-lib-mpc/package.json
  modules/sdk-lib-mpc/src/tss/eddsa-dkls/dkg.ts
  modules/sdk-lib-mpc/src/tss/eddsa-dkls/index.ts
  modules/sdk-lib-mpc/src/tss/eddsa-dkls/types.ts
  modules/sdk-lib-mpc/src/tss/eddsa-dkls/util.ts
  modules/sdk-lib-mpc/src/tss/index.ts
  modules/sdk-lib-mpc/test/unit/tss/eddsa/dkg.ts
  modules/sdk-lib-mpc/test/unit/tss/eddsa/eddsa-utils.ts
  modules/sdk-lib-mpc/test/unit/tss/eddsa/util.ts
Due: none
