Repository BitGo/BitGoJS: changes, and which Codecov flags are due for each by the changed paths.
All: bitgo, account-lib, statics, express

chore: add backwards compatibility to packages
  modules/account-lib/src/index.ts
  modules/bitgo/src/index.ts
  modules/bitgo/src/v2/coins/dot.ts
  modules/bitgo/src/v2/coins/near.ts
  modules/bitgo/src/v2/coins/sol.ts
  modules/bitgo/src/v2/index.ts
  modules/bitgo/src/v2/types.ts
  modules/sdk-api/src/api.ts
  modules/sdk-api/src/bitgoAPI.ts
  modules/sdk-api/src/types.ts
  modules/sdk-api/src/util.ts
  modules/sdk-core/src/account-lib/index.ts
  modules/sdk-core/src/bitgo/baseCoin/baseCoin.ts
  modules/sdk-core/src/bitgo/baseCoin/iBaseCoin.ts
  modules/sdk-core/src/bitgo/utils/tss/eddsa/index.ts
  modules/sdk-core/src/bitgo/utils/tss/eddsa/types.ts
  modules/sdk-core/src/bitgo/utils/tss/index.ts
  modules/sdk-core/src/bitgo/wallet/wallet.ts
  modules/sdk-core/src/index.ts
  package.json
  yarn.lock
Due: account-lib

chore: update readme public branching strategy
  README.md
Due: none

chore(sdk-coin-avaxc): project init
  modules/bitgo/package.json
  modules/bitgo/tsconfig.json
  modules/sdk-coin-avaxc/.eslintignore
  modules/sdk-coin-avaxc/.gitignore
  modules/sdk-coin-avaxc/.mocharc.yml
  modules/sdk-coin-avaxc/.npmignore
  modules/sdk-coin-avaxc/.prettierignore
  modules/sdk-coin-avaxc/.prettierrc.yml
  modules/sdk-coin-avaxc/README.md
  modules/sdk-coin-avaxc/package.json
  modules/sdk-coin-avaxc/src/avaxc.ts
  modules/sdk-coin-avaxc/src/index.ts
  modules/sdk-coin-avaxc/src/tavaxc.ts
  modules/sdk-coin-avaxc/test/integration/index.ts
  modules/sdk-coin-avaxc/test/unit/index.ts
  modules/sdk-coin-avaxc/tsconfig.json
  tsconfig.packages.json
Due: none

chore(bitgo): improve check-package-dependencies output
  scripts/check-package-dependencies.ts
Due: none

chore(sdk-coin-avaxc): move bitgo source code
  modules/bitgo/src/v2/coins/avaxc.ts
  modules/bitgo/src/v2/coins/tavaxc.ts
  modules/sdk-coin-avaxc/package.json
  modules/sdk-coin-avaxc/src/avaxc.ts
  modules/sdk-coin-avaxc/src/avaxcToken.ts
  modules/sdk-coin-avaxc/src/index.ts
  modules/sdk-coin-avaxc/src/tavaxc.ts
  modules/sdk-coin-avaxc/test/integration/index.ts
  modules/sdk-coin-avaxc/test/unit/index.ts
  modules/sdk-coin-avaxc/tsconfig.json
Due: none

chore(sdk-coin-avaxc): move bitgo unit tests
  modules/sdk-coin-avaxc/src/avaxcToken.ts
  modules/sdk-coin-avaxc/test/unit/avaxc.ts
  modules/sdk-coin-avaxc/test/unit/avaxcToken.ts
Due: none

chore(sdk-coin-avaxc): move account-lib unit tests
  modules/sdk-coin-avaxc/src/index.ts
  modules/sdk-coin-avaxc/test/resources/avaxc.ts
  modules/sdk-coin-avaxc/test/unit/getBuilder.ts
  modules/sdk-coin-avaxc/test/unit/keyPair.ts
  modules/sdk-coin-avaxc/test/unit/transactionBuilder/transfer.ts
  modules/sdk-coin-avaxc/test/unit/transactionBuilder/walletInitializationBuilder.ts
  modules/sdk-coin-avaxc/test/unit/transferBuilder.ts
  modules/sdk-coin-avaxc/test/unit/util.ts
Due: none

chore(sdk-coin-avaxc): move account-lib code
  modules/sdk-coin-avaxc/package.json
  modules/sdk-coin-avaxc/src/avaxc.ts
  modules/sdk-coin-avaxc/src/lib/index.ts
  modules/sdk-coin-avaxc/src/lib/keyPair.ts
  modules/sdk-coin-avaxc/src/lib/resources.ts
  modules/sdk-coin-avaxc/src/lib/transactionBuilder.ts
  modules/sdk-coin-avaxc/src/lib/transferBuilder.ts
  modules/sdk-coin-avaxc/src/lib/utils.ts
  modules/sdk-coin-avaxc/src/lib/walletUtil.ts
Due: none

chore(sdk-coin-avaxc): update imports/exports
  modules/account-lib/package.json
  modules/account-lib/src/index.ts
  modules/bitgo/src/v2/coinFactory.ts
  modules/bitgo/src/v2/coins/index.ts
Due: account-lib

feat(account-lib): update hbar txData and explainTx to support diff instructions
  modules/account-lib/src/coin/hbar/coinTransferBuilder.ts
  modules/account-lib/src/coin/hbar/iface.ts
  modules/account-lib/src/coin/hbar/index.ts
  modules/account-lib/src/coin/hbar/tokenAssociateBuilder.ts
  modules/account-lib/src/coin/hbar/tokenTransferBuilder.ts
  modules/account-lib/src/coin/hbar/transaction.ts
  modules/account-lib/src/coin/hbar/utils.ts
  modules/account-lib/test/resources/hbar/hbar.ts
  modules/account-lib/test/unit/coin/hbar/transactionBuilder/tokenTransferBuilder.ts
  modules/account-lib/test/unit/coin/hbar/transactionBuilder/transferBuilder.ts
  modules/bitgo/src/v2/coins/hbar.ts
  modules/bitgo/test/v2/fixtures/coins/hbar.ts
  modules/bitgo/test/v2/unit/coins/hbar.ts
Due: account-lib

chore(bitgo): remove moment dependency
  modules/bitgo/package.json
  modules/bitgo/src/v2/coins/eos.ts
  modules/bitgo/test/integration/accesstoken.ts
  modules/bitgo/test/v2/unit/recovery.ts
  yarn.lock
Due: none

feat(statics): update terra a classic
  modules/statics/src/base.ts
  modules/statics/src/coins.ts
Due: statics

chore(sdk-coin-avaxc): update tsconfig
  modules/account-lib/tsconfig.json
Due: account-lib

feat(bitgo): add DOGE skeleton extending AbstractUtxoCoin
  modules/bitgo/package.json
  modules/bitgo/src/v2/coinFactory.ts
  modules/bitgo/src/v2/coins/index.ts
  modules/bitgo/test/v2/unit/coins/utxo/address.ts
  modules/bitgo/test/v2/unit/coins/utxo/coins.ts
  modules/bitgo/test/v2/unit/coins/utxo/fixtures/doge/addresses-by-chain.json
  modules/bitgo/test/v2/unit/coins/utxo/fixtures/doge/recovery/backupKeyRecovery-p2sh-fullSignedRecovery-customUserKeyPath.json
  modules/bitgo/test/v2/unit/coins/utxo/fixtures/doge/recovery/backupKeyRecovery-p2sh-fullSignedRecovery.json
  modules/bitgo/test/v2/unit/coins/utxo/fixtures/doge/recovery/backupKeyRecovery-p2sh-keyRecoveryService.json
  modules/bitgo/test/v2/unit/coins/utxo/fixtures/doge/recovery/backupKeyRecovery-p2sh-unsignedRecovery.json
  modules/bitgo/test/v2/unit/coins/utxo/fixtures/doge/transactions-p2sh-p2sh.json
  modules/bitgo/test/v2/unit/coins/utxo/fixtures/tdoge/addresses-by-chain.json
  modules/bitgo/test/v2/unit/coins/utxo/fixtures/tdoge/recovery/backupKeyRecovery-p2sh-fullSignedRecovery-customUserKeyPath.json
  modules/bitgo/test/v2/unit/coins/utxo/fixtures/tdoge/recovery/backupKeyRecovery-p2sh-fullSignedRecovery.json
  modules/bitgo/test/v2/unit/coins/utxo/fixtures/tdoge/recovery/backupKeyRecovery-p2sh-keyRecoveryService.json
  modules/bitgo/test/v2/unit/coins/utxo/fixtures/tdoge/recovery/backupKeyRecovery-p2sh-unsignedRecovery.json
  modules/bitgo/test/v2/unit/coins/utxo/fixtures/tdoge/transactions-p2sh-p2sh.json
  modules/bitgo/tsconfig.json
  modules/sdk-coin-doge/.eslintignore
  modules/sdk-coin-doge/.gitignore
  modules/sdk-coin-doge/.mocharc.yml
  modules/sdk-coin-doge/.npmignore
  modules/sdk-coin-doge/.prettierignore
  modules/sdk-coin-doge/.prettierrc.yml
  modules/sdk-coin-doge/README.md
  modules/sdk-coin-doge/package.json
  modules/sdk-coin-doge/src/doge.ts
  modules/sdk-coin-doge/src/index.ts
  modules/sdk-coin-doge/src/tdoge.ts
  modules/sdk-coin-doge/test/unit/index.ts
  modules/sdk-coin-doge/tsconfig.json
  tsconfig.packages.json
Due: none

feat(account-lib): token associate unit test BG-51280
  modules/account-lib/test/resources/hbar/hbar.ts
  modules/account-lib/test/unit/coin/hbar/transactionBuilder/tokenAssociateBuilder.ts
  modules/bitgo/test/v2/fixtures/coins/hbar.ts
  modules/bitgo/test/v2/unit/coins/hbar.ts
Due: account-lib

feat(bitgo): remove double exports
  modules/bitgo/src/errors.ts
  modules/bitgo/src/index.ts
  modules/bitgo/test/v2/unit/coins/abstractUtxoCoin.ts
  modules/bitgo/test/v2/unit/errors.ts
  modules/express/src/clientRoutes.ts
  modules/express/src/errors.ts
Due: express

chore(sdk-coin-celo): project init
  Dockerfile
  modules/bitgo/package.json
  modules/bitgo/tsconfig.json
  modules/sdk-coin-celo/.eslintignore
  modules/sdk-coin-celo/.gitignore
  modules/sdk-coin-celo/.mocharc.yml
  modules/sdk-coin-celo/.npmignore
  modules/sdk-coin-celo/.prettierignore
  modules/sdk-coin-celo/.prettierrc.yml
  modules/sdk-coin-celo/README.md
  modules/sdk-coin-celo/package.json
  modules/sdk-coin-celo/src/index.ts
  modules/sdk-coin-celo/tsconfig.json
  tsconfig.packages.json
Due: none

chore(sdk-coin-celo): move bitgo code
  modules/sdk-coin-celo/package.json
  modules/sdk-coin-celo/src/celo.ts
  modules/sdk-coin-celo/src/celoToken.ts
  modules/sdk-coin-celo/src/index.ts
  modules/sdk-coin-celo/src/tcelo.ts
Due: none

chore(sdk-coin-celo): move account-lib code
  modules/abstract-eth/package.json
  modules/abstract-eth/src/abstractEthLikeCoin.ts
  modules/abstract-eth/tsconfig.json
  modules/account-lib/package.json
  modules/account-lib/src/index.ts
  modules/account-lib/tsconfig.json
  modules/bitgo/src/v2/coins/index.ts
  modules/sdk-coin-celo/package.json
  modules/sdk-coin-celo/src/celo.ts
  modules/sdk-coin-celo/src/index.ts
  modules/sdk-coin-celo/src/lib/index.ts
  modules/sdk-coin-celo/src/lib/resources.ts
  modules/sdk-coin-celo/src/lib/stakingBuilder.ts
  modules/sdk-coin-celo/src/lib/stakingCall.ts
  modules/sdk-coin-celo/src/lib/transaction.ts
  modules/sdk-coin-celo/src/lib/transactionBuilder.ts
  modules/sdk-coin-celo/src/lib/transferBuilder.ts
  modules/sdk-coin-celo/src/lib/types.ts
  modules/sdk-coin-celo/src/lib/utils.ts
  modules/sdk-coin-celo/tsconfig.json
  yarn.lock
Due: account-lib

chore(sdk-coin-celo): move account-lib tests
  modules/sdk-coin-celo/test/resources/celo.ts
  modules/sdk-coin-celo/test/unit/getBuilder.ts
  modules/sdk-coin-celo/test/unit/stakingBuilder.ts
  modules/sdk-coin-celo/test/unit/transaction.ts
  modules/sdk-coin-celo/test/unit/transactionBuilder/addressInitialization.ts
  modules/sdk-coin-celo/test/unit/transactionBuilder/send.ts
  modules/sdk-coin-celo/test/unit/transactionBuilder/staking.ts
  modules/sdk-coin-celo/test/unit/transactionBuilder/walletInitialization.ts
Due: none

chore(sdk-coin-celo): move bitgo unit tests
  modules/sdk-coin-celo/test/unit/celo.ts
  modules/sdk-coin-celo/test/unit/celoToken.ts
Due: none

chore(bitgo): replace celo token register
  modules/bitgo/src/v2/coinFactory.ts
Due: none

chore(abstract-eth): make get tx builder abstract
  modules/abstract-eth/src/abstractEthLikeCoin.ts
  modules/bitgo/src/v2/coins/etc.ts
  modules/bitgo/src/v2/coins/rbtc.ts
  modules/bitgo/src/v2/coins/tetc.ts
  modules/bitgo/src/v2/coins/trbtc.ts
  modules/sdk-coin-celo/src/celo.ts
  modules/sdk-coin-celo/src/tcelo.ts
Due: none

chore(sdk-coin-rbtc): refactor Rootstock RSK to its own module
  Dockerfile
  modules/abstract-eth/src/abstractEthLikeCoin.ts
  modules/account-lib/package.json
  modules/account-lib/src/index.ts
  modules/account-lib/tsconfig.json
  modules/bitgo/package.json
  modules/bitgo/src/v2/coins/index.ts
  modules/bitgo/test/v2/unit/coins/rbtc.ts
  modules/bitgo/tsconfig.json
  modules/sdk-coin-rbtc/.eslintignore
  modules/sdk-coin-rbtc/.gitignore
  modules/sdk-coin-rbtc/.mocharc.yml
  modules/sdk-coin-rbtc/.npmignore
  modules/sdk-coin-rbtc/.prettierignore
  modules/sdk-coin-rbtc/.prettierrc.yml
  modules/sdk-coin-rbtc/README.md
  modules/sdk-coin-rbtc/package.json
  modules/sdk-coin-rbtc/src/index.ts
  modules/sdk-coin-rbtc/src/lib/index.ts
  modules/sdk-coin-rbtc/src/lib/resources.ts
  modules/sdk-coin-rbtc/src/lib/transactionBuilder.ts
  modules/sdk-coin-rbtc/src/lib/transferBuilder.ts
  modules/sdk-coin-rbtc/src/lib/utils.ts
  modules/sdk-coin-rbtc/src/rbtc.ts
  modules/sdk-coin-rbtc/src/trbtc.ts
  modules/sdk-coin-rbtc/test/rbtc.ts
  modules/sdk-coin-rbtc/test/resources.ts
  modules/sdk-coin-rbtc/test/unit/transaction.ts
  modules/sdk-coin-rbtc/test/unit/transactionBuilder/send.ts
  modules/sdk-coin-rbtc/test/unit/transactionBuilder/walletInitialization.ts
  modules/sdk-coin-rbtc/tsconfig.json
  tsconfig.packages.json
Due: account-lib

chore(sdk-coin-sol): project init
  Dockerfile
  modules/bitgo/package.json
  modules/bitgo/tsconfig.json
  modules/sdk-coin-sol/.eslintignore
  modules/sdk-coin-sol/.gitignore
  modules/sdk-coin-sol/.mocharc.yml
  modules/sdk-coin-sol/.npmignore
  modules/sdk-coin-sol/.prettierignore
  modules/sdk-coin-sol/.prettierrc.yml
  modules/sdk-coin-sol/README.md
  modules/sdk-coin-sol/package.json
  modules/sdk-coin-sol/src/index.ts
  modules/sdk-coin-sol/tsconfig.json
  tsconfig.packages.json
Due: none

chore(sdk-coin-sol): move account-lib code
  modules/account-lib/package.json
  modules/account-lib/src/index.ts
  modules/account-lib/tsconfig.json
  modules/sdk-coin-sol/package.json
  modules/sdk-coin-sol/src/index.ts
  modules/sdk-coin-sol/src/lib/ataInitializationBuilder.ts
  modules/sdk-coin-sol/src/lib/ataInitializationTransaction.ts
  modules/sdk-coin-sol/src/lib/constants.ts
  modules/sdk-coin-sol/src/lib/iface.ts
  modules/sdk-coin-sol/src/lib/index.ts
  modules/sdk-coin-sol/src/lib/instructionParamsFactory.ts
  modules/sdk-coin-sol/src/lib/keyPair.ts
  modules/sdk-coin-sol/src/lib/solInstructionFactory.ts
  modules/sdk-coin-sol/src/lib/stakingActivateBuilder.ts
  modules/sdk-coin-sol/src/lib/stakingDeactivateBuilder.ts
  modules/sdk-coin-sol/src/lib/stakingWithdrawBuilder.ts
  modules/sdk-coin-sol/src/lib/tokenEncodeDecode.ts
  modules/sdk-coin-sol/src/lib/tokenTransferBuilder.ts
  modules/sdk-coin-sol/src/lib/transaction.ts
  modules/sdk-coin-sol/src/lib/transactionBuilder.ts
  modules/sdk-coin-sol/src/lib/transactionBuilderFactory.ts
  modules/sdk-coin-sol/src/lib/transferBuilder.ts
  modules/sdk-coin-sol/src/lib/utils.ts
  modules/sdk-coin-sol/src/lib/walletInitializationBuilder.ts
  modules/sdk-coin-sol/tsconfig.json
Due: account-lib

chore(sdk-coin-sol): move account-lib tests
  modules/sdk-coin-sol/src/lib/index.ts
  modules/sdk-coin-sol/test/resources/sol.ts
  modules/sdk-coin-sol/test/unit/getBuilderFactory.ts
  modules/sdk-coin-sol/test/unit/instructionParamsFactory.ts
  modules/sdk-coin-sol/test/unit/keyPair.ts
  modules/sdk-coin-sol/test/unit/solInstructionFactory.ts
  modules/sdk-coin-sol/test/unit/transaction.ts
  modules/sdk-coin-sol/test/unit/transactionBuilder/StakingWithdrawBuilder.ts
  modules/sdk-coin-sol/test/unit/transactionBuilder/ataInitBuilder.ts
  modules/sdk-coin-sol/test/unit/transactionBuilder/stakingActivateBuilder.ts
  modules/sdk-coin-sol/test/unit/transactionBuilder/stakingDeactivateBuilder.ts
  modules/sdk-coin-sol/test/unit/transactionBuilder/tokenEncodeDecode.ts
  modules/sdk-coin-sol/test/unit/transactionBuilder/tokenTransferBuilder.ts
  modules/sdk-coin-sol/test/unit/transactionBuilder/transactionBuilder.ts
  modules/sdk-coin-sol/test/unit/transactionBuilder/transferBuilder.ts
  modules/sdk-coin-sol/test/unit/transactionBuilder/walletInitBuilder.ts
  modules/sdk-coin-sol/test/unit/utils.ts
Due: none

chore(sdk-coin-sol): move bitgo code
  modules/account-lib/package.json
  modules/bitgo/src/v2/coinFactory.ts
  modules/bitgo/src/v2/coins/index.ts
  modules/sdk-coin-sol/package.json
  modules/sdk-coin-sol/src/index.ts
  modules/sdk-coin-sol/src/sol.ts
  modules/sdk-coin-sol/src/solToken.ts
  modules/sdk-coin-sol/src/tsol.ts
Due: account-lib

chore(sdk-coin-sol): move bitgo unit test
  modules/bitgo/test/v2/fixtures/coins/sol.ts
  modules/sdk-coin-sol/test/fixtures/sol.ts
  modules/sdk-coin-sol/test/unit/sol.ts
Due: none

feat(sdk-coin-ada): implement key pair and utils for ada sdk Ticket: BG-50795
  modules/sdk-coin-ada/package.json
  modules/sdk-coin-ada/src/keyPair.ts
  modules/sdk-coin-ada/src/utils.ts
  modules/sdk-coin-ada/test/integration/index.ts
  modules/sdk-coin-ada/test/resources/index.ts
  modules/sdk-coin-ada/test/unit/index.ts
  modules/sdk-coin-ada/test/unit/keyPair.ts
  modules/sdk-coin-ada/test/unit/utils.ts
  yarn.lock
Due: none

fix(sdk-coin-ada): fix web bundle
  modules/sdk-coin-ada/src/keyPair.ts
  modules/sdk-coin-ada/src/utils.ts
  modules/sdk-coin-ada/test/unit/keyPair.ts
  modules/sdk-coin-ada/test/unit/utils.ts
  webpack/bitgojs.config.js
Due: none

chore(web-demo): show ada works in browser
  modules/web-demo/src/components/BitGoJS/index.tsx
Due: none

chore(bitgo): refactor tss utils
  modules/sdk-core/src/bitgo/tss/common.ts
  modules/sdk-core/src/bitgo/tss/eddsa/eddsa.ts
  modules/sdk-core/src/bitgo/tss/index.ts
  modules/sdk-core/src/bitgo/utils/tss/baseTSSUtils.ts
  modules/sdk-core/src/bitgo/utils/tss/baseTypes.ts
  modules/sdk-core/src/bitgo/utils/tss/eddsa/eddsa.ts
  modules/sdk-core/src/bitgo/utils/tss/eddsa/index.ts
  modules/sdk-core/src/bitgo/utils/tss/eddsa/types.ts
  modules/sdk-core/src/bitgo/utils/tss/index.ts
Due: none

chore(avaxp): add logging to debug avaxp signing
  modules/sdk-coin-avaxp/src/lib/transaction.ts
Due: none

chore(sdk-coin-etc): refactor etc to its own module
  Dockerfile
  modules/account-lib/package.json
  modules/account-lib/src/index.ts
  modules/account-lib/tsconfig.json
  modules/bitgo/package.json
  modules/bitgo/src/v2/coins/index.ts
  modules/bitgo/tsconfig.json
  modules/sdk-coin-etc/.eslintignore
  modules/sdk-coin-etc/.gitignore
  modules/sdk-coin-etc/.mocharc.yml
  modules/sdk-coin-etc/.npmignore
  modules/sdk-coin-etc/.prettierignore
  modules/sdk-coin-etc/.prettierrc.yml
  modules/sdk-coin-etc/README.md
  modules/sdk-coin-etc/package.json
  modules/sdk-coin-etc/src/etc.ts
  modules/sdk-coin-etc/src/index.ts
  modules/sdk-coin-etc/src/lib/builder.ts
  modules/sdk-coin-etc/src/lib/index.ts
  modules/sdk-coin-etc/src/lib/resources.ts
  modules/sdk-coin-etc/src/lib/transactionBuilder.ts
  modules/sdk-coin-etc/src/lib/transferBuilder.ts
  modules/sdk-coin-etc/src/lib/utils.ts
  modules/sdk-coin-etc/src/tetc.ts
  modules/sdk-coin-etc/test/resources.ts
  modules/sdk-coin-etc/test/unit/etc.ts
  modules/sdk-coin-etc/test/unit/transaction.ts
  modules/sdk-coin-etc/test/unit/transactionBuilder/send.ts
  modules/sdk-coin-etc/test/unit/transactionBuilder/walletInitialization.ts
  modules/sdk-coin-etc/tsconfig.json
  tsconfig.packages.json
Due: account-lib

chore(statics): test
  modules/statics/src/networks.ts
Due: statics

Path conditions:
  bitgo: any of: modules/core
  account-lib: any of: modules/account-lib
  statics: any of: modules/statics
  express: any of: modules/express
