Repository BitGo/BitGoJS: changes, and which Codecov flags are due for each by the changed paths.
All: bitgo, account-lib, statics, express

.codecov.yml:

coverage:
  status:
    project: off
    patch: off
comment:
  layout: 'diff, flags, files'
  require_changes: true
flags:
  bitgo:
    paths:
      - modules/bitgo
  account-lib:
    paths:
      - modules/account-lib
  statics:
    paths:
      - modules/statics
  express:
    paths:
      - modules/express

feat(utxo-core): simplify signature process with direct message param
  modules/utxo-core/src/bip322/toSign.ts
  modules/utxo-core/test/bip322/bip322.utils.ts
  modules/utxo-core/test/bip322/toSign.ts
  modules/utxo-core/test/bip322/utils.ts
Due: none

fix: correct eth tokens names to lowercase
  modules/statics/src/coins/erc20Coins.ts
Due: statics

feat(statics): add method to replace coin object in coin map
  modules/statics/src/map.ts
  modules/statics/test/unit/coins.ts
Due: statics

feat: add polyxToken skeleton
  modules/bitgo/src/v2/coinFactory.ts
  modules/bitgo/src/v2/coins/index.ts
  modules/bitgo/test/browser/browser.spec.ts
  modules/sdk-coin-polyx/src/index.ts
  modules/sdk-coin-polyx/src/polyxToken.ts
  modules/sdk-coin-polyx/src/register.ts
Due: bitgo

feat(statics): new coin feature for cosmos coins
  modules/statics/src/base.ts
Due: statics

feat(sdk-coin-cosmos): cronos statics change to new structure
  modules/sdk-coin-cosmos/test/README.md
  modules/statics/src/coins.ts
  modules/statics/src/networks.ts
Due: statics

fix(statics): fix unstETH support
  modules/bitgo/src/v2/coinFactory.ts
  modules/bitgo/src/v2/coins/index.ts
  modules/bitgo/test/browser/browser.spec.ts
  modules/bitgo/test/v2/resources/amsTokenConfig.ts
  modules/bitgo/test/v2/unit/ams/ams.ts
  modules/sdk-coin-eth/src/erc721Token.ts
  modules/sdk-coin-eth/src/index.ts
  modules/statics/src/tokenConfig.ts
Due: bitgo, statics

fix(root): bump axios version for form-data vuln
  modules/sdk-coin-atom/package.json
  modules/sdk-coin-celo/package.json
  modules/sdk-coin-sui/package.json
  modules/utxo-lib/package.json
  package.json
  yarn.lock
Due: none

chore: bump @api-ts/typed-express-router to v2.0.0
  modules/express/package.json
  yarn.lock
Due: express

feat(root): use additonal headers on constants fetch
  modules/sdk-api/src/bitgoAPI.ts
Due: none

fix(express): generated xprv is permissioned only for owner
  modules/express/src/fetchEncryptedPrivKeys.ts
Due: express

feat(abstract-utxo): verify paygo
  modules/abstract-utxo/src/transaction/fixedScript/explainTransaction.ts
  modules/abstract-utxo/src/transaction/getPayGoVerificationPubkey.ts
  modules/bitgo/test/v2/unit/coins/abstractUtxoCoin.ts
  modules/bitgo/test/v2/unit/coins/payGoPSBTHexFixture/psbtHexProof.ts
  modules/utxo-lib/src/testutil/psbt.ts
Due: bitgo

chore: update esbuild to latest version for security patch
  modules/babylonlabs-io-btc-staking-ts/package.json
  yarn.lock
Due: none

feat: enable bulk erc20 for bsc and coredao chains
  modules/statics/src/coinFeatures.ts
  modules/statics/src/coins.ts
  modules/statics/src/networks.ts
  modules/statics/test/unit/coins.ts
Due: statics

fix: correct bsc:cusdo contract address
  modules/statics/src/coins/bscTokens.ts
Due: statics

feat(sdk-coin-xtz): add xtz recovery
  modules/sdk-coin-xtz/package.json
  modules/sdk-coin-xtz/src/lib/iface.ts
  modules/sdk-coin-xtz/src/lib/utils.ts
  modules/sdk-coin-xtz/src/xtz.ts
  modules/sdk-core/src/bitgo/environments.ts
Due: none

feat: updated token address for tweth, teigen, txusd, txsgd for hoodi
  modules/statics/src/coins/erc20Coins.ts
Due: statics

chore: add evm compatible wp flag
  modules/statics/src/base.ts
Due: statics

feat(abstract-eth): add recover consolidation for eth
  modules/abstract-eth/src/abstractEthLikeNewCoins.ts
  modules/sdk-coin-eth/test/unit/eth.ts
  modules/statics/src/networks.ts
  modules/statics/test/unit/resources/amsTokenConfig.ts
Due: statics

feat: onboarding somi evm chain config
  modules/bitgo/test/v2/unit/keychains.ts
  modules/sdk-core/src/bitgo/environments.ts
  modules/statics/src/base.ts
  modules/statics/src/coins.ts
  modules/statics/src/networks.ts
  modules/statics/test/unit/fixtures/expectedColdFeatures.ts
Due: bitgo, statics

Revert "chore: add evm compatible wp flag"
  modules/statics/src/base.ts
Due: statics

fix(sdk-coin-eth): add missing logic for ERC721 token registration
  modules/sdk-coin-eth/src/register.ts
  modules/statics/src/tokenConfig.ts
Due: statics

chore: update babel dependencies to latest security patch
  package.json
  yarn.lock
Due: none

chore(root): release express
  Dockerfile
Due: none

feat(sdk-coin-polyx): add token builders
  modules/abstract-substrate/src/lib/iface.ts
  modules/abstract-substrate/src/lib/nativeTransferBuilder.ts
  modules/sdk-coin-polyx/src/lib/iface.ts
  modules/sdk-coin-polyx/src/lib/index.ts
  modules/sdk-coin-polyx/src/lib/preApproveAssetBuilder.ts
  modules/sdk-coin-polyx/src/lib/registerDidWithCDDBuilder.ts
  modules/sdk-coin-polyx/src/lib/tokenTransferBuilder.ts
  modules/sdk-coin-polyx/src/lib/transaction.ts
  modules/sdk-coin-polyx/src/lib/transactionBuilderFactory.ts
  modules/sdk-coin-polyx/src/lib/transferBuilder.ts
  modules/sdk-coin-polyx/src/lib/txnSchema.ts
  modules/sdk-coin-polyx/test/resources/index.ts
  modules/sdk-coin-polyx/test/unit/polyx.ts
  modules/sdk-coin-polyx/test/unit/transactionBuilder/preApproveAssetBuilder.ts
  modules/sdk-coin-polyx/test/unit/transactionBuilder/tokenTransferBuilder.ts
  modules/sdk-coin-tao/test/unit/tao.ts
Due: none

fix: skipped tests fix for ecdsa
  modules/bitgo/test/v2/unit/internal/tssUtils/ecdsa.ts
Due: bitgo

fix: update hoodi v1 forwarder contracts
  modules/statics/src/networks.ts
  modules/statics/test/unit/resources/amsTokenConfig.ts
Due: statics

fix: remove erc20 bulk feature for bsc
  modules/statics/src/coinFeatures.ts
  modules/statics/test/unit/coins.ts
Due: statics

test: naming convention for eth tokens
  modules/statics/test/unit/tokenNamingConvention.ts
Due: statics

fix: add EVM_COMPATIBLE_UI feature to coin configurations
  modules/statics/src/coins.ts
Due: statics

feat: adds example for initiating mint order
  examples/ts/stablecoin/initiate-mint-order.ts
Due: none

feat(jito): implements staking deactivate
  examples/ts/sol/stake-jito.ts
  modules/sdk-coin-sol/src/lib/constants.ts
  modules/sdk-coin-sol/src/lib/iface.ts
  modules/sdk-coin-sol/src/lib/instructionParamsFactory.ts
  modules/sdk-coin-sol/src/lib/jitoStakePoolOperations.ts
  modules/sdk-coin-sol/src/lib/solInstructionFactory.ts
  modules/sdk-coin-sol/src/lib/stakingActivateBuilder.ts
  modules/sdk-coin-sol/src/lib/stakingDeactivateBuilder.ts
  modules/sdk-coin-sol/src/lib/transactionBuilder.ts
  modules/sdk-coin-sol/src/lib/utils.ts
  modules/sdk-coin-sol/test/resources/sol.ts
  modules/sdk-coin-sol/test/unit/solInstructionFactory.ts
  modules/sdk-coin-sol/test/unit/transactionBuilder/stakingActivateBuilder.ts
  modules/sdk-coin-sol/test/unit/transactionBuilder/stakingDeactivateBuilder.ts
Due: none

feat: automate ERC20 automation
  modules/bitgo/src/v2/coinFactory.ts
  modules/sdk-coin-evm/src/ethLikeErc20Token.ts
  modules/sdk-coin-evm/src/index.ts
  modules/statics/src/account.ts
  modules/statics/src/base.ts
  modules/statics/src/tokenConfig.ts
Due: bitgo, statics

feat(sdk-coin-sol): implements staking deactivate for jito
  examples/ts/sol/stake-jito.ts
  modules/sdk-coin-sol/src/lib/constants.ts
  modules/sdk-coin-sol/src/lib/iface.ts
  modules/sdk-coin-sol/src/lib/instructionParamsFactory.ts
  modules/sdk-coin-sol/src/lib/jitoStakePoolOperations.ts
  modules/sdk-coin-sol/src/lib/solInstructionFactory.ts
  modules/sdk-coin-sol/src/lib/stakingActivateBuilder.ts
  modules/sdk-coin-sol/src/lib/stakingDeactivateBuilder.ts
  modules/sdk-coin-sol/src/lib/transactionBuilder.ts
  modules/sdk-coin-sol/src/lib/utils.ts
  modules/sdk-coin-sol/test/resources/sol.ts
  modules/sdk-coin-sol/test/unit/solInstructionFactory.ts
  modules/sdk-coin-sol/test/unit/transactionBuilder/stakingActivateBuilder.ts
  modules/sdk-coin-sol/test/unit/transactionBuilder/stakingDeactivateBuilder.ts
Due: none

refactor(sdk-coin-sol): change marinade and jito flags to enum
  examples/ts/sol/stake-jito.ts
  modules/sdk-coin-sol/src/lib/iface.ts
  modules/sdk-coin-sol/src/lib/instructionParamsFactory.ts
  modules/sdk-coin-sol/src/lib/solInstructionFactory.ts
  modules/sdk-coin-sol/src/lib/stakingActivateBuilder.ts
  modules/sdk-coin-sol/src/lib/stakingDeactivateBuilder.ts
  modules/sdk-coin-sol/test/unit/instructionParamsFactory.staking.ts
  modules/sdk-coin-sol/test/unit/transactionBuilder/stakingActivateBuilder.ts
  modules/sdk-coin-sol/test/unit/transactionBuilder/stakingDeactivateBuilder.ts
  modules/sdk-coin-sol/test/unit/transactionBuilder/transactionBuilder.ts
Due: none

feat: add customTx transactionType support for sol
  modules/sdk-coin-sol/src/lib/transactionBuilderFactory.ts
  modules/sdk-coin-sol/src/lib/utils.ts
Due: none

feat: adds sdk example for initiating a Burn order
  examples/ts/stablecoin/initiate-burn-order.ts
Due: none

feat: whitelisted message templates per builder
  modules/abstract-eth/src/lib/messages/eip191/eip191MessageBuilder.ts
  modules/sdk-core/src/account-lib/baseCoin/messages/baseMessageBuilder.ts
  modules/sdk-core/src/account-lib/baseCoin/messages/iface.ts
Due: none

fix(sdk-core): coins specific message sign validate SC-2419
  modules/account-lib/src/index.ts
  modules/account-lib/test/unit/verifyMessage.ts
  modules/sdk-coin-ada/src/lib/messages/cip8/cip8Message.ts
  modules/sdk-coin-ada/test/resources/cip8Resources.ts
  modules/sdk-coin-ada/test/unit/messages/cip8/cip8Message.ts
  modules/sdk-core/src/account-lib/baseCoin/messages/baseMessage.ts
  modules/sdk-core/src/account-lib/baseCoin/messages/iface.ts
  modules/sdk-core/test/unit/account-lib/baseCoin/messages/baseMessage.ts
Due: account-lib
