Repository BitGo/BitGoJS: changes, and which Codecov flags are due for each by the changed paths.
All: bitgo, account-lib, statics, express

.codecov.yml:

coverage:
  status:
    project: off
    patch: off
comment:
  layout: 'diff, flags, files'
  require_changes: true
flags:
  bitgo:
    paths:
      - modules/bitgo
  account-lib:
    paths:
      - modules/account-lib
  statics:
    paths:
      - modules/statics
  express:
    paths:
      - modules/express

feat(statics): onboard ofcbsc
  modules/statics/src/coins.ts
Due: statics

feat(statics): enable bsc staking
  modules/statics/src/coins.ts
Due: statics

feat(sdk-lib-mpc): add noSmallFactors module
  modules/sdk-lib-mpc/src/tss/ecdsa/index.ts
  modules/sdk-lib-mpc/src/tss/ecdsa/noSmallFactorsProof.ts
  modules/sdk-lib-mpc/src/tss/ecdsa/types.ts
  modules/sdk-lib-mpc/src/util.ts
  modules/sdk-lib-mpc/test/fixtures/mockNoSmallFactorsProof.json
  modules/sdk-lib-mpc/test/unit/tss/ecdsa/noSmallFactorsProof.ts
Due: none

feat(sdk-coin-dot): add unit test for dot unsigned sweep consolidation recovery
  modules/sdk-coin-dot/test/unit/dot.ts
Due: none

feat(sdk-core): phase 5 of gg18 signing
  modules/sdk-core/src/account-lib/mpc/tss/ecdsa/ecdsa.ts
  modules/sdk-core/src/account-lib/mpc/tss/ecdsa/types.ts
  modules/sdk-core/src/bitgo/utils/tss/baseTypes.ts
  modules/sdk-core/test/unit/account-lib/mpc/tss/ecdsa/ecdsa.ts
  modules/sdk-core/test/unit/account-lib/mpc/tss/ecdsa/fixtures.ts
  modules/sdk-lib-mpc/src/curves/ed25519.ts
  modules/sdk-lib-mpc/src/curves/secp256k1.ts
  modules/sdk-lib-mpc/src/curves/types.ts
  modules/sdk-lib-mpc/src/hashCommitment.ts
  modules/sdk-lib-mpc/src/index.ts
  modules/sdk-lib-mpc/src/schnorrProof.ts
  modules/sdk-lib-mpc/src/tss/ecdsa/index.ts
  modules/sdk-lib-mpc/src/tss/ecdsa/types.ts
  modules/sdk-lib-mpc/src/tss/ecdsa/zkVProof.ts
  modules/sdk-lib-mpc/src/types.ts
  modules/sdk-lib-mpc/src/util.ts
  modules/sdk-lib-mpc/test/unit/hashCommitment.ts
  modules/sdk-lib-mpc/test/unit/schnorrProof.ts
  modules/sdk-lib-mpc/test/unit/tss/ecdsa/dlogproofs.ts
  modules/sdk-lib-mpc/test/unit/tss/ecdsa/zkVProof.ts
  modules/sdk-lib-mpc/test/unit/util.ts
Due: none

fix(sdk-coin-sol): fix wrong signable data
  modules/sdk-coin-sol/src/lib/stakingRawMsgAuthorizeBuilder.ts
  modules/sdk-coin-sol/test/unit/transactionBuilder/staingRawMsgAuthorizeBuilder.ts
Due: none

fix(sdk-coin-sol): fix wrong file name
  modules/sdk-coin-sol/test/unit/transactionBuilder/stakingAuthorizeBuilder.ts
  modules/sdk-coin-sol/test/unit/transactionBuilder/stakingRawMsgAuthorizeBuilder.ts
Due: none

feat: update secp256k1 to 5.0.0 and keccak to 3.0.3 Ticket: BTC-421
  modules/account-lib/package.json
  modules/express/package.json
  modules/sdk-coin-avaxc/package.json
  modules/sdk-coin-cspr/package.json
  modules/sdk-coin-eth/package.json
  modules/sdk-coin-polygon/package.json
  modules/sdk-coin-trx/package.json
  modules/sdk-core/package.json
  yarn.lock
Due: account-lib, express

feat(sdk-core): generate and verify schnorr proof of X_i
  modules/sdk-core/src/account-lib/mpc/tss/ecdsa/ecdsa.ts
  modules/sdk-core/src/account-lib/mpc/tss/ecdsa/types.ts
  modules/sdk-core/test/unit/account-lib/mpc/tss/ecdsa/ecdsa.ts
Due: none

chore: use forked bitcoinjs-message library
  modules/abstract-utxo/package.json
  modules/bitgo/package.json
  modules/sdk-api/package.json
  modules/sdk-core/package.json
  yarn.lock
Due: bitgo

feat(sdk-coin-sol): add tests for new sol builders
  modules/sdk-coin-sol/src/lib/stakingDeactivateBuilder.ts
  modules/sdk-coin-sol/src/lib/stakingDelegateBuilder.ts
  modules/sdk-coin-sol/src/lib/transaction.ts
  modules/sdk-coin-sol/test/resources/sol.ts
  modules/sdk-coin-sol/test/unit/transaction.ts
  modules/sdk-coin-sol/test/unit/transactionBuilder/stakingDeactivateBuilder.ts
  modules/sdk-coin-sol/test/unit/transactionBuilder/stakingDelegateBuilder.ts
Due: none

fix(sdk-coin-zeta): update mock for zet fullnode
  modules/sdk-coin-zeta/test/unit/zeta.ts
Due: none

chore(statics): update statics for kava chain
  modules/statics/src/base.ts
  modules/statics/src/coins.ts
  modules/statics/src/networks.ts
  modules/statics/test/unit/fixtures/expectedColdFeatures.ts
Due: statics

chore(statics): update statics for coreum
  modules/statics/src/base.ts
  modules/statics/src/coins.ts
  modules/statics/src/networks.ts
  modules/statics/test/unit/fixtures/expectedColdFeatures.ts
Due: statics

chore(bitgo): exclude kava & coreum from key gen test
  modules/bitgo/test/v2/unit/keychains.ts
Due: bitgo

feat(sdk-coin-algo): support for token enablement
  modules/bitgo/test/v2/unit/wallet.ts
  modules/sdk-coin-algo/src/algo.ts
  modules/sdk-core/src/bitgo/wallet/wallet.ts
Due: bitgo

feat(statics): add new cosmoslikecoins feature for cosmos
  modules/statics/src/base.ts
  modules/statics/src/coins.ts
Due: statics

Revert "Merge pull request #3911 from BitGo/EA-1479"
  modules/sdk-coin-sol/src/lib/stakingDeactivateBuilder.ts
  modules/sdk-coin-sol/src/lib/stakingDelegateBuilder.ts
  modules/sdk-coin-sol/src/lib/transaction.ts
  modules/sdk-coin-sol/test/resources/sol.ts
  modules/sdk-coin-sol/test/unit/transaction.ts
  modules/sdk-coin-sol/test/unit/transactionBuilder/stakingDeactivateBuilder.ts
  modules/sdk-coin-sol/test/unit/transactionBuilder/stakingDelegateBuilder.ts
  modules/sdk-coin-zeta/test/unit/zeta.ts
Due: none

Revert "Merge pull request #3902 from BitGo/EA-1479"
  modules/sdk-coin-sol/src/lib/constants.ts
  modules/sdk-coin-sol/src/lib/iface.ts
  modules/sdk-coin-sol/src/lib/index.ts
  modules/sdk-coin-sol/src/lib/instructionParamsFactory.ts
  modules/sdk-coin-sol/src/lib/solInstructionFactory.ts
  modules/sdk-coin-sol/src/lib/stakingActivateBuilder.ts
  modules/sdk-coin-sol/src/lib/stakingDeactivateBuilder.ts
  modules/sdk-coin-sol/src/lib/stakingDelegateBuilder.ts
  modules/sdk-coin-sol/src/lib/transaction.ts
  modules/sdk-coin-sol/src/lib/transactionBuilderFactory.ts
  modules/sdk-coin-sol/src/lib/utils.ts
  modules/sdk-coin-sol/test/resources/sol.ts
  modules/sdk-coin-sol/test/unit/transactionBuilder/stakingDeactivateBuilder.ts
  modules/sdk-coin-sol/test/unit/transactionBuilder/stakingDelegateBuilder.ts
  modules/sdk-core/src/account-lib/baseCoin/enum.ts
Due: none

Revert "Merge pull request #3918 from BitGo/revert-sol"
  modules/sdk-coin-sol/src/lib/constants.ts
  modules/sdk-coin-sol/src/lib/iface.ts
  modules/sdk-coin-sol/src/lib/index.ts
  modules/sdk-coin-sol/src/lib/instructionParamsFactory.ts
  modules/sdk-coin-sol/src/lib/solInstructionFactory.ts
  modules/sdk-coin-sol/src/lib/stakingActivateBuilder.ts
  modules/sdk-coin-sol/src/lib/stakingDeactivateBuilder.ts
  modules/sdk-coin-sol/src/lib/stakingDelegateBuilder.ts
  modules/sdk-coin-sol/src/lib/transaction.ts
  modules/sdk-coin-sol/src/lib/transactionBuilderFactory.ts
  modules/sdk-coin-sol/src/lib/utils.ts
  modules/sdk-coin-sol/test/resources/sol.ts
  modules/sdk-coin-sol/test/unit/transaction.ts
  modules/sdk-coin-sol/test/unit/transactionBuilder/stakingDeactivateBuilder.ts
  modules/sdk-coin-sol/test/unit/transactionBuilder/stakingDelegateBuilder.ts
  modules/sdk-core/src/account-lib/baseCoin/enum.ts
Due: none

fix(sdk-api): drop `superagent-proxy` dependency
  modules/sdk-api/package.json
  modules/sdk-api/src/bitgoAPI.ts
  webpack/bitgojs.config.js
  yarn.lock
Due: none

feat(sdk-lib-mpc): rename nsf.sigma to nsf.rho to match whitepaper
  modules/sdk-lib-mpc/src/tss/ecdsa/noSmallFactorsProof.ts
  modules/sdk-lib-mpc/src/tss/ecdsa/types.ts
  modules/sdk-lib-mpc/test/fixtures/mockNoSmallFactorsProof.json
Due: none

fix(sdk-core): do not sign txRequest full with PA
  modules/sdk-core/src/bitgo/utils/tss/baseTSSUtils.ts
  modules/sdk-core/src/bitgo/wallet/wallet.ts
Due: none

chore(bitgo): rename test wallets
  modules/bitgo/test/v2/unit/wallet.ts
Due: bitgo

test(bitgo): add preBuildAndSignTransaction tests for eddsa tss
  modules/bitgo/test/v2/unit/wallet.ts
Due: bitgo

feat(sdk-core): generate and verify schnorr proof of X_i
  modules/account-lib/test/unit/mpc/tss/ecdsa/ecdsa.ts
  modules/account-lib/test/unit/mpc/tss/fixtures/ecdsa.ts
  modules/sdk-core/src/account-lib/mpc/tss/ecdsa/ecdsa.ts
  modules/sdk-core/src/account-lib/mpc/tss/ecdsa/types.ts
  modules/sdk-core/test/unit/account-lib/mpc/tss/ecdsa/ecdsa.ts
Due: account-lib

feat(static): move requires token enablement for coin module to static
  modules/sdk-coin-algo/src/algo.ts
  modules/sdk-coin-hbar/src/hbar.ts
  modules/sdk-coin-sol/src/sol.ts
  modules/statics/src/base.ts
  modules/statics/src/coins.ts
Due: statics

feat(sdk-coin-sui): add custom tx type add SUI custom tx type Ticket: EA-1641
  modules/sdk-coin-sui/src/lib/customTransaction.ts
  modules/sdk-coin-sui/src/lib/customTransactionBuilder.ts
  modules/sdk-coin-sui/src/lib/iface.ts
  modules/sdk-coin-sui/src/lib/transaction.ts
  modules/sdk-coin-sui/src/lib/transactionBuilderFactory.ts
  modules/sdk-coin-sui/src/lib/utils.ts
  modules/sdk-coin-sui/test/resources/sui.ts
  modules/sdk-coin-sui/test/unit/transactionBuilder/customTransactionBuilder.ts
  modules/sdk-coin-sui/test/unit/transactionBuilder/transactionBuilder.ts
  modules/sdk-core/src/account-lib/baseCoin/enum.ts
Due: none

feat(statics): add new coin feature to enable txn rebuild in TAT
  modules/statics/src/base.ts
  modules/statics/src/coins.ts
Due: statics

fix(sdk-coin-hbar): allow explain txn to take both feeParam as well as parsed json Ticket: WP-00000
  modules/sdk-coin-hbar/src/hbar.ts
  modules/sdk-coin-hbar/test/unit/hbar.ts
Due: none

fix(sdk-core): add change address type for utxo coins
  modules/sdk-core/src/bitgo/wallet/BuildParams.ts
  modules/sdk-core/src/bitgo/wallet/iWallet.ts
  modules/sdk-core/test/unit/bitgo/wallet/SendTransactionRequest.ts
Due: none

feat(statics): add new batch of tokens
  modules/statics/src/base.ts
  modules/statics/src/coins.ts
Due: statics

fix(sdk-lib-mpc): use rejection sampling for range proof challenge
  modules/bitgo/test/v2/fixtures/tss/ecdsaFixtures.ts
  modules/bitgo/test/v2/unit/tss/ecdsa.ts
  modules/sdk-core/src/account-lib/mpc/tss/ecdsa/ecdsa.ts
  modules/sdk-core/src/account-lib/mpc/tss/ecdsa/types.ts
  modules/sdk-core/src/bitgo/tss/ecdsa/ecdsa.ts
  modules/sdk-core/src/bitgo/utils/tss/ecdsa/ecdsa.ts
  modules/sdk-lib-mpc/src/tss/ecdsa/rangeproof.ts
  modules/sdk-lib-mpc/src/tss/ecdsa/types.ts
Due: bitgo

feat: add TON to statics
  modules/statics/src/base.ts
  modules/statics/src/coins.ts
  modules/statics/src/networks.ts
  modules/statics/test/unit/fixtures/expectedColdFeatures.ts
Due: statics

fix(sdk-coin-sui): fix sui tx deserialization type inference bug EA-1687
  modules/sdk-coin-sui/src/lib/transaction.ts
  modules/sdk-coin-sui/src/lib/utils.ts
  modules/sdk-coin-sui/test/unit/transactionBuilder/transactionBuilder.ts
Due: none

fix(sdk-core): fix ecdsa with external signer
  modules/sdk-core/src/bitgo/utils/tss/ecdsa/ecdsa.ts
Due: none

chore(statics): deprecate token 'Metadium'
  modules/statics/src/coins.ts
Due: statics
