Repository BitGo/BitGoJS: changes, and which Codecov flags are due for each by the changed paths.
All: bitgo, account-lib, statics, express

.codecov.yml:

coverage:
  status:
    project: off
    patch: off
comment:
  layout: 'diff, flags, files'
  require_changes: true
flags:
  bitgo:
    paths:
      - modules/bitgo
  account-lib:
    paths:
      - modules/account-lib
  statics:
    paths:
      - modules/statics
  express:
    paths:
      - modules/express

fix: pass head sha to find merge base
  .github/workflows/audit-api-spec.yaml
Due: none

Revert "fix(express): allow string for feeRate"
  modules/express/src/typedRoutes/api/v2/sendCoins.ts
Due: express

chore(sdk-core): add bolt11 dep
  modules/sdk-core/package.json
  yarn.lock
Due: none

feat(wp): add support for BOLT11 lightning invoices in OFC token
  modules/sdk-core/src/coins/ofcToken.ts
  modules/sdk-core/test/unit/coins/ofcToken.ts
Due: none

feat: statics configuration for zksyncera
  modules/bitgo/test/v2/unit/keychains.ts
  modules/sdk-coin-evm/test/integration/zksyncera.integration.ts
  modules/sdk-core/src/bitgo/environments.ts
  modules/sdk-core/test/unit/bitgo/environment.ts
  modules/statics/src/allCoinsAndTokens.ts
  modules/statics/src/base.ts
  modules/statics/src/coinFeatures.ts
  modules/statics/src/coins/ofcCoins.ts
  modules/statics/src/networks.ts
  modules/statics/test/unit/base.ts
  modules/statics/test/unit/coins.ts
  modules/statics/test/unit/fixtures/expectedColdFeatures.ts
  modules/statics/test/unit/networks.ts
Due: bitgo, statics

chore: onboard thash:tfigr token
  modules/sdk-coin-hash/test/unit/hashToken.ts
  modules/statics/src/base.ts
  modules/statics/src/coins/cosmosTokens.ts
Due: statics

feat(abstract-utxo): ignore .cursor directory
  .gitignore
Due: none

feat(abstract-utxo): migrate from utxolib to wasm-utxo address module
  modules/abstract-utxo/test/unit/descriptorAddress.ts
  modules/abstract-utxo/test/unit/recovery/backupKeyRecovery.ts
  modules/abstract-utxo/test/unit/recovery/mock.ts
  modules/abstract-utxo/test/unit/transaction.ts
  modules/abstract-utxo/test/unit/transaction/fixedScript/parsePsbt.ts
  modules/abstract-utxo/test/unit/util/nockIndexerAPI.ts
  modules/abstract-utxo/test/unit/util/transaction.ts
  modules/abstract-utxo/test/unit/util/unspents.ts
Due: none

feat(abstract-utxo): use coin name instead of network to determine chain
  modules/abstract-utxo/test/unit/coins.ts
  modules/abstract-utxo/test/unit/prebuildAndSign.ts
  modules/abstract-utxo/test/unit/recovery/crossChainRecovery.ts
  modules/abstract-utxo/test/unit/txFormat.ts
Due: none

feat(abstract-utxo): use wasm address generation for fixed script
  modules/abstract-utxo/src/address/fixedScript.ts
Due: none

chore: onboard ofc of thash:tfigr token
  modules/statics/src/coins/ofcCoins.ts
Due: statics

chore: changed the symbol and name for arc coin TICKET: WIN-8039
  modules/bitgo/test/v2/unit/keychains.ts
  modules/sdk-core/src/bitgo/environments.ts
  modules/statics/src/allCoinsAndTokens.ts
  modules/statics/src/base.ts
  modules/statics/src/coins/ofcCoins.ts
  modules/statics/src/map.ts
  modules/statics/src/networks.ts
  modules/statics/test/unit/fixtures/expectedColdFeatures.ts
Due: bitgo, statics

fix(sdk-coin-flr): update import transaction fee validation
  modules/sdk-coin-flr/src/flr.ts
  modules/sdk-coin-flr/test/unit/flr.ts
  modules/sdk-coin-flrp/src/lib/ImportInCTxBuilder.ts
  modules/sdk-coin-flrp/test/resources/transactionData/importInC.ts
  modules/statics/src/networks.ts
Due: statics

feat(abstract-utxo): update wasm-utxo dependency to latest version
  modules/abstract-utxo/package.json
  modules/utxo-bin/package.json
  modules/utxo-core/package.json
  modules/utxo-staking/package.json
  yarn.lock
Due: none

fix(sdk-core): change password should work with ofc multi-user key
  modules/bitgo/test/v2/unit/keychains.ts
  modules/sdk-core/src/bitgo/keychain/keychains.ts
Due: bitgo

feat(express): update node version docker image to 22.22.0
  Dockerfile
Due: none

feat(express): use correct linux/amd64 platform-specific SHA256 digest
  Dockerfile
Due: none

chore: onboard mainnet figure token
  modules/sdk-coin-hash/test/unit/hashToken.ts
  modules/statics/src/base.ts
  modules/statics/src/coins/cosmosTokens.ts
  modules/statics/src/coins/ofcCoins.ts
Due: statics

feat(abstract-utxo): use wasm-utxo for inscriptionBuilder
  modules/abstract-utxo/src/impl/btc/inscriptionBuilder.ts
  modules/abstract-utxo/src/keychains.ts
  modules/utxo-ord/package.json
  modules/utxo-ord/src/SatPoint.ts
  modules/utxo-ord/src/index.ts
  modules/utxo-ord/src/inscriptions.ts
  modules/utxo-ord/src/psbt.ts
  modules/utxo-ord/test/inscription.ts
  modules/utxo-ord/test/psbt.ts
  modules/utxo-ord/test/testutils.ts
Due: none

feat(utxo-ord): add ESM support
  modules/utxo-ord/package.json
  modules/utxo-ord/tsconfig.esm.json
  modules/utxo-ord/tsconfig.json
Due: none

feat(bitgo): use unminified BitGoJS for browser tests
  modules/bitgo/karma.conf.js
  package.json
Due: bitgo

feat(webpack): add webpack scope to commitlint
  commitlint.config.js
Due: none

feat(webpack): force ESM version of utxo-ord for browser bundles
  webpack/bitgojs.config.js
Due: none

docs: add documentation for dual ESM/CJS build pattern
  CLAUDE.md
  docs/esm.md
Due: none

feat: fetch keychain per wallet once
  modules/bitgo/test/v2/unit/wallets.ts
  modules/sdk-core/src/bitgo/wallet/iWallet.ts
  modules/sdk-core/src/bitgo/wallet/wallet.ts
Due: bitgo

feat(sdk-coin-flrp): enhance transaction builders with addressesIndex handling
  modules/sdk-coin-flrp/src/lib/ImportInCTxBuilder.ts
  modules/sdk-coin-flrp/src/lib/ImportInPTxBuilder.ts
  modules/sdk-coin-flrp/src/lib/atomicTransactionBuilder.ts
  modules/sdk-coin-flrp/test/unit/lib/importInCTxBuilder.ts
  modules/sdk-coin-flrp/test/unit/lib/importInPTxBuilder.ts
Due: none

feat(sdk-core): add Lightning invoice support to OFC tokens
  modules/sdk-core/src/coins/ofcToken.ts
  modules/sdk-core/src/lightning.ts
  modules/sdk-core/test/unit/lightning.ts
Due: none

feat(statics): onboard tokens on morph chain
  modules/statics/src/allCoinsAndTokens.ts
  modules/statics/src/base.ts
  modules/statics/src/coins/erc20Coins.ts
  modules/statics/src/coins/ofcErc20Coins.ts
  package.json
  yarn.lock
Due: statics

refactor(sdk-coin-flrp): streamline txn builders to utilize addressesIndex
  modules/sdk-coin-flrp/src/lib/ExportInPTxBuilder.ts
  modules/sdk-coin-flrp/src/lib/ImportInCTxBuilder.ts
  modules/sdk-coin-flrp/src/lib/ImportInPTxBuilder.ts
  modules/sdk-coin-flrp/test/unit/lib/exportInPTxBuilder.ts
  modules/sdk-coin-flrp/test/unit/lib/importInCTxBuilder.ts
  modules/sdk-coin-flrp/test/unit/lib/importInPTxBuilder.ts
Due: none

Revert "feat: Onboard tokens on morph chain"
  modules/statics/src/allCoinsAndTokens.ts
  modules/statics/src/base.ts
  modules/statics/src/coins/erc20Coins.ts
  modules/statics/src/coins/ofcErc20Coins.ts
  package.json
  yarn.lock
Due: statics

chore: update CODEOWNERS from gousd to stablecoins
  CODEOWNERS
Due: none

fix(deps): resolve high severity vulnerabilities in tar, jspdf, and qs
  package.json
  yarn.lock
Due: none

fix: sanitize wallet object from logs
  modules/sdk-core/src/bitgo/wallet/wallet.ts
Due: none

feat(sdk-core): pass wallet to explainTransaction
  modules/sdk-core/src/bitgo/baseCoin/iBaseCoin.ts
  modules/sdk-core/src/bitgo/staking/stakingWallet.ts
Due: none

feat(abstract-utxo): fetch keychains from wallet in explainTransaction
  modules/abstract-utxo/src/abstractUtxoCoin.ts
Due: none

fix(sdk-coin-ada): use derivedFromParentWithSeed in address verification
  modules/sdk-coin-ada/src/ada.ts
  modules/sdk-coin-ada/test/unit/ada.ts
Due: none

refactor(sdk-coin-flrp): enhance UTXO handling and signature index computation
  modules/sdk-coin-flrp/src/lib/ExportInPTxBuilder.ts
  modules/sdk-coin-flrp/src/lib/ImportInCTxBuilder.ts
  modules/sdk-coin-flrp/src/lib/ImportInPTxBuilder.ts
  modules/sdk-coin-flrp/src/lib/atomicTransactionBuilder.ts
  modules/sdk-coin-flrp/test/resources/transactionData/exportInP.ts
  modules/sdk-coin-flrp/test/resources/transactionData/importInC.ts
  modules/sdk-coin-flrp/test/resources/transactionData/importInP.ts
  modules/sdk-coin-flrp/test/unit/lib/importInPTxBuilder.ts
  modules/sdk-coin-flrp/test/unit/lib/signatureIndex.ts
Due: none

fix: remove new tar version
  .iyarc
  package.json
Due: none
