Repository BitGo/BitGoJS: changes, and which Codecov flags are due for each by the changed paths.
All: bitgo, account-lib, statics, express

test(sdk-coin-coreum): add tests for wallet recovery
  modules/sdk-coin-coreum/package.json
  modules/sdk-coin-coreum/test/resources/tcoreum.ts
  modules/sdk-coin-coreum/test/unit/coreum.ts
Due: none

fix(sdk-core): fix coreum node url
  modules/sdk-core/src/bitgo/environments.ts
Due: none

feat(unspents): default unspents dimensions to recovery path
  modules/abstract-utxo/src/recovery/crossChainRecovery.ts
  modules/unspents/src/dimensions.ts
  modules/unspents/test/dimensions.ts
  modules/utxo-ord/src/psbt.ts
Due: none

feat(statics): onboard new batch of tokens
  modules/statics/src/base.ts
  modules/statics/src/coins.ts
Due: statics

feat: prevent usage of TON in the United States
  modules/statics/src/account.ts
  modules/statics/src/base.ts
  modules/statics/src/coins.ts
  modules/statics/test/unit/account.ts
Due: statics

chore(root): publish express
  Dockerfile
Due: none

feat(sdk-coin-opeth): add opeth token support WIN-963 TICKET: WIN-963
  modules/sdk-coin-opeth/src/index.ts
  modules/sdk-coin-opeth/src/opethToken.ts
  modules/sdk-coin-opeth/test/unit/opethToken.ts
Due: none

fix(utxo-lib): remove p2tr sigh hash default from sig
  modules/utxo-lib/src/bitgo/UtxoPsbt.ts
Due: none

fix(sdk-coin-ton): change address format to non bouncable
  modules/sdk-coin-ton/src/lib/utils.ts
  modules/sdk-coin-ton/test/unit/ton.ts
Due: none

fix(sdk-coin-stx): fix half signed txn format Ticket: EA-2290
  modules/sdk-coin-stx/src/stx.ts
  modules/sdk-coin-stx/test/unit/stx.ts
Due: none

Revert "fix(sdk-coin-ton): change address format to non bouncable"
  modules/sdk-coin-ton/src/lib/utils.ts
  modules/sdk-coin-ton/test/unit/ton.ts
Due: none

docs(bitgo): update example link
  modules/bitgo/README.md
Due: bitgo

feat(sdk-coin-avaxp): replace export fee for import fee on output validation recipient amount plus import fee is equal to output amount
  modules/sdk-coin-avaxp/src/avaxp.ts
  modules/sdk-coin-avaxp/test/unit/avaxp.ts
  modules/statics/src/networks.ts
Due: statics

feat(sdk-coin-sol): add sol token recovery support
  modules/sdk-coin-sol/src/sol.ts
  modules/sdk-coin-sol/test/fixtures/sol.ts
  modules/sdk-coin-sol/test/unit/sol.ts
  modules/sdk-core/src/bitgo/utils/tss/baseTypes.ts
Due: none

chore(sdk-coin-avaxc): ignore failing avaxc tests
  modules/sdk-coin-avaxc/test/unit/avaxc.ts
Due: none

feat(sdk-core): add custodial and smc tss wallet to generateWallet method
  modules/bitgo/test/v2/unit/wallets.ts
  modules/sdk-core/src/bitgo/baseCoin/iBaseCoin.ts
  modules/sdk-core/src/bitgo/wallet/iWallets.ts
  modules/sdk-core/src/bitgo/wallet/wallets.ts
  modules/sdk-unified-wallet/src/ecdsa-unified-wallet/ecdsaEVMUnifiedWallets.ts
  modules/sdk-unified-wallet/src/eddsa-unified-wallet/eddsaUnifiedWallets.ts
Due: bitgo

docs(root): add new create wallet examples
  examples/ts/create-tss-custodial-wallet.ts
  examples/ts/create-tss-smc-wallet.ts
Due: none

fix(sdk-coin-hash): use correct mainnet address format
  modules/sdk-coin-hash/src/hash.ts
  modules/sdk-coin-hash/src/lib/constants.ts
  modules/sdk-coin-hash/src/lib/keyPair.ts
  modules/sdk-coin-hash/src/lib/transactionBuilderFactory.ts
  modules/sdk-coin-hash/src/lib/utils.ts
  modules/sdk-coin-hash/src/thash.ts
  modules/sdk-coin-hash/test/resources/hash.ts
  modules/sdk-coin-hash/test/unit/hash.ts
  modules/sdk-coin-hash/test/unit/keyPair.ts
  modules/sdk-coin-hash/test/unit/transaction.ts
Due: none

feat(statics): add SOL tokens for FTX
  modules/sdk-coin-avaxc/test/unit/avaxc.ts
  modules/statics/src/base.ts
  modules/statics/src/coins.ts
Due: statics

feat(key-card): add boxes for master public keys
  modules/key-card/src/drawKeycard.ts
  modules/key-card/src/generateQrData.ts
  modules/key-card/src/types.ts
  modules/web-demo/src/components/KeyCard/fixtures.ts
  modules/web-demo/src/components/KeyCard/index.tsx
Due: none

fix(root): add source to tss smc wallet creation
  modules/bitgo/test/v2/unit/wallets.ts
  modules/sdk-core/src/bitgo/keychain/iKeychains.ts
  modules/sdk-core/src/bitgo/wallet/wallets.ts
Due: bitgo

feat(statics): onboard DUST, PYTH, HOOK, BORG, WECAN, osETH, CROWN
  modules/statics/src/base.ts
  modules/statics/src/coins.ts
Due: statics

fix(sdk-coin-ton): add message id calculation util
  modules/sdk-coin-ton/src/lib/utils.ts
  modules/sdk-coin-ton/test/unit/ton.ts
Due: none

fix(sdk-coin-ton): change address format to non-bouncable
  modules/sdk-coin-ton/src/lib/transaction.ts
  modules/sdk-coin-ton/test/resources/ton.ts
  modules/sdk-coin-ton/test/unit/ton.ts
  modules/sdk-coin-ton/test/unit/transferBuilder.ts
Due: none

fix(sdk-coin-ton): change back address format to bouncable
  modules/sdk-coin-ton/src/lib/transaction.ts
  modules/sdk-coin-ton/src/lib/utils.ts
  modules/sdk-coin-ton/test/resources/ton.ts
  modules/sdk-coin-ton/test/unit/ton.ts
  modules/sdk-coin-ton/test/unit/transferBuilder.ts
Due: none

feat(utxo-lib): parse basic info from the psbt
  modules/utxo-lib/src/bitgo/index.ts
  modules/utxo-lib/src/bitgo/transactionAmounts.ts
  modules/utxo-lib/test/bitgo/psbt/Psbt.ts
Due: none

feat(deser-lib): add serialization/deserialization module
  modules/deser-lib/.eslintignore
  modules/deser-lib/.gitignore
  modules/deser-lib/.mocharc.json
  modules/deser-lib/.prettierignore
  modules/deser-lib/.prettierrc.yml
  modules/deser-lib/package.json
  modules/deser-lib/src/index.ts
  modules/deser-lib/test/fixtures.json
  modules/deser-lib/test/unit/deser-lib.ts
  modules/deser-lib/tsconfig.json
Due: none

fix(root): improve error handling for consolidateAccount
  modules/bitgo/test/v2/unit/accountConsolidations.ts
  modules/bitgo/test/v2/unit/wallet.ts
  modules/sdk-core/src/bitgo/wallet/iWallet.ts
  modules/sdk-core/src/bitgo/wallet/wallet.ts
Due: bitgo

feat(abstract-utxo): set txFormat and addressType in getExtraPrebuildParams
  modules/abstract-utxo/src/abstractUtxoCoin.ts
  modules/bitgo/test/v2/unit/wallet.ts
Due: bitgo

fix(root): test test for failing test
  modules/sdk-core/src/bitgo/utils/opengpgUtils.ts
Due: none

test(bitgo): tests should used nocked public key
  modules/sdk-core/src/bitgo/utils/opengpgUtils.ts
  modules/sdk-test/src/bitgo/lib/test_bitgo.ts
Due: none

Path conditions:
  bitgo: any of: modules/bitgo
  account-lib: any of: modules/account-lib
  statics: any of: modules/statics
  express: any of: modules/express
