Repository BitGo/BitGoJS: changes, and which Codecov flags are due for each by the changed paths.
All: bitgo, account-lib, statics, express

feat(abstract-utxo): support ZEC v6 psbt decoding
  modules/abstract-utxo/src/abstractUtxoCoin.ts
  modules/abstract-utxo/src/impl/zec/address.ts
  modules/abstract-utxo/src/impl/zec/recipients.ts
  modules/abstract-utxo/src/impl/zec/types.ts
  modules/abstract-utxo/src/impl/zec/zec.ts
  modules/abstract-utxo/src/transaction/explainTransaction.ts
  modules/abstract-utxo/src/transaction/fixedScript/explainPsbtWasm.ts
  modules/abstract-utxo/src/transaction/fixedScript/parseTransaction.ts
  modules/abstract-utxo/src/transaction/recipient.ts
  modules/abstract-utxo/test/unit/bip322.ts
  modules/abstract-utxo/test/unit/customChangeWallet.ts
  modules/abstract-utxo/test/unit/impl/zec/psbtDecode.ts
  modules/abstract-utxo/test/unit/impl/zec/shieldedPrebuildAndSign.ts
  modules/abstract-utxo/test/unit/impl/zec/unit/address.ts
  modules/abstract-utxo/test/unit/impl/zec/unit/resolvePsbtRecipients.ts
  modules/abstract-utxo/test/unit/transaction/fixedScript/explainPsbt.ts
  modules/abstract-utxo/test/unit/transaction/fixedScript/parsePsbt.ts
Due: none

fix(abstract-eth): preserve zero wallet version for CCR
  modules/abstract-eth/src/abstractEthLikeNewCoins.ts
  modules/sdk-coin-ethlike/test/unit/ethlikeCoin.ts
Due: none

test(sdk-api): pin v1-leg password rotation behavior
  modules/sdk-api/test/unit/bitgoAPI.ts
  modules/sdk-api/test/unit/v1/keychains.ts
Due: none

feat(sdk-core): migrate Ed25519 Safe roots to neutral base32
  modules/sdk-core/src/bitgo/keychain/keychains.ts
  modules/sdk-core/src/bitgo/safe/derivableEd25519Pub.ts
  modules/sdk-core/src/bitgo/safe/safe.ts
  modules/sdk-core/src/bitgo/safe/safeDerivation.ts
  modules/sdk-core/src/bitgo/safe/safes.ts
  modules/sdk-core/test/unit/bitgo/keychain/keychains.ts
  modules/sdk-core/test/unit/bitgo/safe/derivableEd25519Pub.ts
  modules/sdk-core/test/unit/bitgo/safe/fixtures/derivableEd25519Pub.json
  modules/sdk-core/test/unit/bitgo/safe/safe.ts
  modules/sdk-core/test/unit/bitgo/safe/safeDerivation.ts
  modules/sdk-core/test/unit/bitgo/safe/safes.ts
Due: none

fix(sdk-core): clarify base32 Safe root validation
  modules/sdk-core/src/account-lib/util/ed25519KeyDeriver.ts
  modules/sdk-core/src/bitgo/keychain/keychains.ts
  modules/sdk-core/src/bitgo/safe/safes.ts
  modules/sdk-core/test/unit/bitgo/keychain/keychains.ts
  modules/sdk-core/test/unit/bitgo/safe/derivableEd25519Pub.ts
  modules/sdk-core/test/unit/bitgo/safe/fixtures/derivableEd25519Pub.json
  modules/sdk-core/test/unit/bitgo/safe/safe.ts
  modules/sdk-core/test/unit/bitgo/safe/safes.ts
Due: none

Revert "fix(sdk-api): route authenticate() to v2 login"
  modules/bitgo/test/unit/bitgo.ts
  modules/express/src/fetchEncryptedPrivKeys.ts
  modules/sdk-api/src/bitgoAPI.ts
  modules/sdk-api/test/unit/bitgoAPI.ts
  modules/sdk-api/test/unit/hmacStrategy.ts
  scripts/upgrade-wallet-encryption.ts
Due: bitgo, express

chore: remove defunct ams team from github codeowners
  CODEOWNERS
Due: none

feat(sdk-coin-sol): add scaled-UI uiAmount/raw conversion util
  modules/sdk-coin-sol/src/lib/index.ts
  modules/sdk-coin-sol/src/lib/scaledUiAmount.ts
  modules/sdk-coin-sol/test/unit/scaledUiAmount.ts
Due: none

fix(pending-approval): cancel pending approvals
  modules/bitgo/test/v2/unit/pendingApproval.ts
  modules/express/src/clientRoutes.ts
  modules/express/src/typedRoutes/api/v1/pendingApproval.ts
  modules/express/src/typedRoutes/api/v2/pendingApproval.ts
  modules/express/test/unit/typedRoutes/pendingApproval.ts
  modules/express/test/unit/typedRoutes/pendingApprovalV2.ts
  modules/sdk-api/src/v1/pendingapproval.ts
  modules/sdk-core/src/bitgo/pendingApproval/iPendingApproval.ts
  modules/sdk-core/src/bitgo/pendingApproval/pendingApproval.ts
Due: bitgo, express

fix(express): target generated API docs directory (WCI-1581)
  .github/workflows/update-api-docs.yaml
Due: none

feat(statics): onboard batch 0907 tokens (CECHO-2139)
  modules/statics/src/allCoinsAndTokens.ts
  modules/statics/src/base.ts
  modules/statics/src/coins/bscTokens.ts
  modules/statics/src/coins/hoodethTokens.ts
  modules/statics/src/coins/ofcCoins.ts
  modules/statics/src/coins/ofcErc20Coins.ts
  modules/statics/src/coins/ofcHoodethTokens.ts
Due: statics

fix(express): support Go Account walletId withdrawals
  modules/express/src/clientRoutes.ts
  modules/express/src/typedRoutes/api/v2/sendCoins.ts
  modules/express/test/unit/typedRoutes/sendCoins.ts
  modules/sdk-core/src/bitgo/wallet/iWallet.ts
  modules/sdk-core/src/bitgo/wallet/wallet.ts
  modules/sdk-core/test/unit/bitgo/wallet/ofcWalletSignTransaction.ts
Due: express

fix(sdk-core): align walletId recipient option types
  modules/sdk-core/src/bitgo/wallet/iWallet.ts
  modules/sdk-core/src/bitgo/wallet/wallet.ts
  modules/sdk-core/test/unit/bitgo/wallet/ofcWalletSignTransaction.ts
Due: none

fix(sdk-core): preserve prebuild recipient typing
  modules/sdk-core/src/bitgo/wallet/iWallet.ts
  modules/sdk-core/src/bitgo/wallet/wallet.ts
  modules/sdk-core/test/unit/bitgo/wallet/ofcWalletSignTransaction.ts
Due: none

fix(sdk-core): narrow converted wallet recipients
  modules/sdk-core/src/bitgo/wallet/wallet.ts
Due: none

fix(express): require address or walletId destination
  modules/express/src/typedRoutes/api/v2/sendCoins.ts
  modules/express/test/unit/typedRoutes/sendCoins.ts
Due: express

fix(express): retain sendcoins route typing
  modules/express/src/typedRoutes/api/v2/sendCoins.ts
  modules/express/test/unit/typedRoutes/sendCoins.ts
  modules/express/test/unit/typedRoutes/validationErrors.ts
Due: express

fix(express): restore sendcoins codec test calls
  modules/express/test/unit/typedRoutes/sendCoins.ts
Due: express

feat(abstract-eth): add EIP-7702 set code (0x04) transaction support
  modules/abstract-eth/src/lib/eip7702.ts
  modules/abstract-eth/src/lib/iface.ts
  modules/abstract-eth/src/lib/index.ts
  modules/abstract-eth/src/lib/transactionBuilder.ts
  modules/abstract-eth/src/lib/types.ts
  modules/abstract-eth/test/unit/eip7702.ts
  modules/abstract-eth/test/unit/eip7702Builder.ts
  modules/abstract-eth/test/unit/eip7702TxData.ts
Due: none

feat(sdk-core): wire eip7702 wallet intent for set code txs
  modules/sdk-core/src/bitgo/utils/mpcUtils.ts
  modules/sdk-core/src/bitgo/utils/tss/baseTypes.ts
  modules/sdk-core/src/bitgo/wallet/iWallet.ts
  modules/sdk-core/src/bitgo/wallet/wallet.ts
  modules/sdk-core/test/unit/bitgo/utils/mpcUtils.eip7702.ts
Due: none

feat(abstract-eth): add EIP-7702 batch send and gas-tank sponsorship calldata
  modules/abstract-eth/src/lib/eip7702.ts
  modules/abstract-eth/test/unit/eip7702.ts
Due: none

feat(sdk-core): carry recipients + sponsorAddress in eip7702 intent
  modules/sdk-core/src/bitgo/utils/mpcUtils.ts
  modules/sdk-core/src/bitgo/utils/tss/baseTypes.ts
  modules/sdk-core/src/bitgo/wallet/iWallet.ts
Due: none

chore(root): replace git-admins with production
  CODEOWNERS
Due: none

feat(abstract-eth): standalone EIP-7702 on-chain harness (delegate/batch/sponsored/verify)
  modules/abstract-eth/scripts/eip7702/README.md
  modules/abstract-eth/scripts/eip7702/batch.ts
  modules/abstract-eth/scripts/eip7702/common.ts
  modules/abstract-eth/scripts/eip7702/delegate.ts
  modules/abstract-eth/scripts/eip7702/sponsored.ts
  modules/abstract-eth/scripts/eip7702/verify.ts
Due: none

fix(abstract-eth): scalar auth nonce + digest over implementation; verified on-chain on Hoodi
  modules/abstract-eth/scripts/eip7702/README.md
  modules/abstract-eth/scripts/eip7702/common.ts
  modules/abstract-eth/scripts/eip7702/delegate.ts
  modules/abstract-eth/src/lib/eip7702.ts
  modules/abstract-eth/test/unit/eip7702.ts
  modules/abstract-eth/test/unit/eip7702TxData.ts
Due: none

fix(sdk-core): allow recipient-free Canton intents during TSS signing
  modules/sdk-core/src/bitgo/utils/tss/recipientUtils.ts
  modules/sdk-core/test/unit/bitgo/utils/tss/recipientUtils.ts
Due: none

Enforce Exact BigInt Transfer Amounts and Guard Number-Only Solana Instructions
  modules/sdk-coin-sol/src/lib/solInstructionFactory.ts
  modules/sdk-coin-sol/test/unit/solInstructionFactory.ts
Due: none

feat(sdk-core): register BitGo Safe child placeholder for TSS minting
  modules/bitgo/test/v2/unit/internal/tssUtils/ecdsaVrfMPCv2/createSafeChildKeychains.ts
  modules/sdk-core/src/bitgo/safe/safe.ts
  modules/sdk-core/src/bitgo/utils/tss/ecdsa/ecdsaMPCv2.ts
  modules/sdk-core/src/bitgo/utils/tss/ecdsa/ecdsaVrfMPCv2.ts
  modules/sdk-core/test/unit/bitgo/safe/safe.ts
Due: bitgo

fix(sdk-coin-icp): verify v1 wallet addresses against memo-stripped receiveAddress
  modules/sdk-coin-icp/src/icp.ts
  modules/sdk-coin-icp/test/unit/icp.ts
Due: none

chore: bump public types
  modules/abstract-lightning/package.json
  modules/bitgo/package.json
  modules/express/package.json
  modules/passkey-crypto/package.json
  modules/sdk-coin-flrp/package.json
  modules/sdk-coin-sol/package.json
  modules/sdk-core/package.json
  yarn.lock
Due: bitgo, express

fix(sdk-core): type Go Account half-signed transactions
  examples/ts/go-account/README.md
  examples/ts/go-account/go-account-withdrawal.ts
  examples/ts/go-account/sign-transaction.ts
  modules/sdk-core/src/bitgo/baseCoin/iBaseCoin.ts
  modules/sdk-core/src/bitgo/wallet/iWallet.ts
  modules/sdk-core/src/bitgo/wallet/wallet.ts
  modules/sdk-core/src/coins/ofcToken.ts
  modules/sdk-core/test/unit/bitgo/wallet/ofcWalletSignTransaction.ts
Due: none

fix(sdk-core): add safe label update
  modules/sdk-core/src/bitgo/safe/iSafe.ts
  modules/sdk-core/src/bitgo/safe/safe.ts
  modules/sdk-core/test/unit/bitgo/safe/safe.ts
Due: none

feat(sdk-core): add label update method
  modules/sdk-core/src/bitgo/safe/iSafe.ts
  modules/sdk-core/src/bitgo/safe/safe.ts
  modules/sdk-core/test/unit/bitgo/safe/safe.ts
Due: none

fix: do not require bitgo multisig eddsa derivability
  modules/sdk-core/src/bitgo/safe/safes.ts
  modules/sdk-core/test/unit/bitgo/safe/safes.ts
Due: none

feat: extract Safe derivation into a leaf package
  Dockerfile
  modules/account-lib/package.json
  modules/account-lib/src/index.ts
  modules/account-lib/test/unit/utils/ed25519KeyDeriver.ts
  modules/sdk-core/package.json
  modules/sdk-core/src/account-lib/baseCoin/ed25519KeyPair.ts
  modules/sdk-core/src/account-lib/index.ts
  modules/sdk-core/src/bitgo/keychain/keychains.ts
  modules/sdk-core/src/bitgo/safe/derivableEd25519Pub.ts
  modules/sdk-core/src/bitgo/safe/index.ts
  modules/sdk-core/src/bitgo/safe/safe.ts
  modules/sdk-core/src/bitgo/safe/safes.ts
  modules/sdk-core/src/bitgo/wallet/safeKeychain.ts
  modules/sdk-lib-safes/.eslintignore
  modules/sdk-lib-safes/.gitignore
  modules/sdk-lib-safes/.mocharc.js
  modules/sdk-lib-safes/.npmignore
  modules/sdk-lib-safes/.prettierignore
  modules/sdk-lib-safes/.prettierrc.yml
  modules/sdk-lib-safes/package.json
  modules/sdk-lib-safes/src/codecs.ts
  modules/sdk-lib-safes/src/ed25519KeyDeriver.ts
  modules/sdk-lib-safes/src/ed25519Pub.ts
  modules/sdk-lib-safes/src/index.ts
  modules/sdk-lib-safes/src/safeDerivation.ts
  modules/sdk-lib-safes/src/safeSlot.ts
  modules/sdk-lib-safes/test/unit/ed25519Pub.ts
  modules/sdk-lib-safes/test/unit/packageGraph.ts
  modules/sdk-lib-safes/test/unit/safeDerivation.ts
  modules/sdk-lib-safes/test/unit/safeSlot.ts
  modules/sdk-lib-safes/tsconfig.json
  tsconfig.packages.json
Due: account-lib

chore(deps): bump tar to 7.5.22, drop 9 tar CVEs from osv-scanner.toml
  osv-scanner.toml
  package.json
  yarn.lock
Due: none

fix(statics): move zketh ERC20 tokens onto zksyncera
  modules/bitgo/src/v2/coinFactory.ts
  modules/sdk-coin-zketh/test/unit/zkethToken.ts
  modules/statics/src/account.ts
  modules/statics/src/allCoinsAndTokens.ts
  modules/statics/src/base.ts
  modules/statics/src/map.ts
  modules/statics/src/tokenConfig.ts
  modules/statics/test/unit/coins.ts
  modules/statics/test/unit/tokenConfigTests.ts
Due: bitgo, statics

Path conditions:
  bitgo: any of: modules/bitgo
  account-lib: any of: modules/account-lib
  statics: any of: modules/statics
  express: any of: modules/express
