Repository BitGo/BitGoJS: changes, and which Codecov flags are due for each by the changed paths.
All: bitgo, account-lib, statics, express

.codecov.yml:

coverage:
  status:
    project: off
    patch: off
comment:
  layout: 'diff, flags, files'
  require_changes: true
flags:
  bitgo:
    paths:
      - modules/bitgo
  account-lib:
    paths:
      - modules/account-lib
  statics:
    paths:
      - modules/statics
  express:
    paths:
      - modules/express

fix(sdk-coin-hbar): hbar transaction valid duration
  modules/sdk-coin-hbar/src/lib/transactionBuilder.ts
  modules/sdk-coin-hbar/test/fixtures/hbar.ts
  modules/sdk-coin-hbar/test/resources/hbar.ts
  modules/sdk-coin-hbar/test/unit/hbar.ts
  modules/sdk-coin-hbar/test/unit/transactionBuilder/tokenTransferBuilder.ts
Due: none

fix(abstract-eth): fix chainid related changes WIN-1446 TICKET: WIN-1446
  modules/sdk-coin-arbeth/package.json
  modules/sdk-coin-arbeth/test/resources.ts
  modules/sdk-coin-arbeth/test/unit/transactionBuilder/send.ts
  modules/sdk-coin-opeth/package.json
  modules/sdk-coin-opeth/src/lib/transferBuilder.ts
  modules/sdk-coin-opeth/test/resources.ts
  modules/sdk-coin-opeth/test/unit/transactionBuilder/send.ts
  modules/sdk-coin-opeth/test/unit/transferBuilder.ts
  modules/sdk-coin-zketh/test/resources.ts
  modules/sdk-coin-zketh/test/unit/transferBuilder.ts
  modules/sdk-coin-zketh/test/unit/zketh.ts
  modules/statics/src/networks.ts
Due: statics

fix(abstract-eth): fix issues related to chainid WIN-1446 TICKET: WIN-1446
  modules/abstract-eth/src/lib/transactionBuilder.ts
  modules/abstract-eth/src/lib/transferBuilder.ts
  modules/abstract-eth/src/lib/transferBuilders/baseNFTTransferBuilder.ts
  modules/abstract-eth/src/lib/transferBuilders/transferBuilderERC1155.ts
  modules/abstract-eth/src/lib/transferBuilders/transferBuilderERC721.ts
  modules/sdk-coin-arbeth/test/unit/transactionBuilder/send.ts
  modules/sdk-coin-eth/src/lib/transactionBuilder.ts
  modules/sdk-coin-opeth/test/unit/transactionBuilder/send.ts
Due: none

feat(bitgo): use holesky etherscan url instead of goerli migrated tests to use hteth instead of gteth and updated etherscan url that is required to do recover in wrw
  modules/bitgo/test/v2/lib/recovery-nocks.ts
  modules/bitgo/test/v2/unit/baseCoin.ts
  modules/bitgo/test/v2/unit/wallet.ts
  modules/sdk-core/src/bitgo/environments.ts
  modules/sdk-test/src/bitgo/lib/test_bitgo.ts
  modules/sdk-unified-wallet/src/ecdsa-unified-wallet/ecdsaEVMUnifiedWallets.ts
  modules/sdk-unified-wallet/src/ecdsa-unified-wallet/types.ts
  modules/sdk-unified-wallet/src/unifiedWallets.ts
  modules/sdk-unified-wallet/test/unit/ecdsaUnifiedWallets.ts
  modules/statics/src/account.ts
Due: bitgo, statics

feat: handle musigKp flag in wallet
  modules/abstract-utxo/src/abstractUtxoCoin.ts
Due: none

feat: add walletFlags property, helper methods
  modules/abstract-utxo/src/abstractUtxoCoin.ts
  modules/sdk-core/src/bitgo/wallet/iWallet.ts
  modules/sdk-core/src/bitgo/wallet/wallet.ts
Due: none

chore: add FIXMEs for BTC-776 and BTC-92
  modules/abstract-utxo/src/abstractUtxoCoin.ts
Due: none

chore(root): release express
  Dockerfile
Due: none

fix(sdk-api): remove sdk-api web bundle
  modules/sdk-api/package.json
Due: none

fix(sdk-coin-opeth): enable chainid change for opeth WIN-1446 TICKET: WIN-1446
  modules/sdk-coin-opeth/src/lib/transferBuilder.ts
  modules/sdk-coin-opeth/test/resources.ts
  modules/sdk-coin-opeth/test/unit/transactionBuilder/send.ts
  modules/statics/src/networks.ts
Due: statics

chore(statics): add arbeth and opeth tokens WIN-1586 TICKET: WIN-1586
  modules/statics/src/base.ts
  modules/statics/src/coins.ts
Due: statics

feat(utxo-bin): add arguments --{user,backup,bitgo}KeyPrefix
  modules/utxo-bin/src/commands.ts
  modules/utxo-bin/src/generateAddress.ts
Due: none

chore(statics): add new batch of tokens
  modules/statics/src/base.ts
  modules/statics/src/coins.ts
Due: statics

chore(root): lock follow-redirects to fix vulnerability
  package.json
  yarn.lock
Due: none

fix(statics): add tss coin feature for tokens
  modules/statics/src/coins.ts
Due: statics

feat: whitelist rbf build params
  modules/sdk-core/src/bitgo/wallet/BuildParams.ts
  modules/sdk-core/test/unit/bitgo/wallet/BuildParams.ts
Due: none

fix: add pendingApprovaId in prebuildTxTss response
  modules/bitgo/test/v2/unit/wallet.ts
  modules/sdk-core/src/bitgo/wallet/iWallet.ts
  modules/sdk-core/src/bitgo/wallet/wallet.ts
Due: bitgo

feat: add rbf params to accelerateTransaction
  modules/bitgo/test/v2/unit/wallet.ts
  modules/sdk-core/src/bitgo/wallet/iWallet.ts
  modules/sdk-core/src/bitgo/wallet/wallet.ts
Due: bitgo

feat(deser-lib): add serialization/deserialization module
  modules/deser-lib/.eslintignore
  modules/deser-lib/.gitignore
  modules/deser-lib/.mocharc.json
  modules/deser-lib/.prettierignore
  modules/deser-lib/.prettierrc.yml
  modules/deser-lib/package.json
  modules/deser-lib/src/index.ts
  modules/deser-lib/test/fixtures.json
  modules/deser-lib/test/unit/deser-lib.ts
  modules/deser-lib/tsconfig.json
Due: none

fix(deser-lib): update yarn lockfile
  yarn.lock
Due: none

chore(deser-lib): fmt
  modules/deser-lib/test/fixtures.json
Due: none

chore(deser-lib): add suggested changes to package.json
  modules/deser-lib/package.json
Due: none

chore(deser-lib): changes based on review
  modules/deser-lib/src/index.ts
  modules/deser-lib/test/unit/deser-lib.ts
Due: none

chore(deser-lib): move current code to cbor namespace
  modules/deser-lib/src/cbor.ts
  modules/deser-lib/src/index.ts
  modules/deser-lib/test/cbor/fixtures.json
  modules/deser-lib/test/unit/deser-lib.ts
Due: none

feat(deser-lib): support escaped strings
  modules/deser-lib/src/cbor.ts
  modules/deser-lib/src/index.ts
  modules/deser-lib/test/unit/deser-lib.ts
Due: none

chore(deser-lib): fix numeric comparison
  modules/deser-lib/src/cbor.ts
Due: none

chore(deser-lib): use fixed size buffer for integer conversion
  modules/deser-lib/src/cbor.ts
Due: none

chore(deser-lib): normalize numbers before converting to buffer
  modules/deser-lib/src/cbor.ts
Due: none

chor(deser-lib): addressing review feedback
  modules/deser-lib/package.json
  modules/deser-lib/src/cbor.ts
Due: none

chore(deser-lib): don't include leading zeros in int buffer
  modules/deser-lib/src/cbor.ts
Due: none

chore(deser-lib): fmt
  modules/deser-lib/test/cbor/fixtures.json
Due: none

chore(deser-lib): changes requested from review
  modules/deser-lib/src/cbor.ts
Due: none

chore(root): update CODEOWNERS for deser-lib
  CODEOWNERS
Due: none

feat(statics): enable custody signing rebuilding for NEAR TSS
  modules/statics/src/coins.ts
Due: statics

feat(utxo-lib): demo
  modules/utxo-lib/src/bitgo/Descriptor/Descriptor.ts
  modules/utxo-lib/src/bitgo/Descriptor/checksum.ts
  modules/utxo-lib/test/bitgo/descriptor/descriptor.ts
Due: none
