Repository BitGo/BitGoJS: changes, and which Codecov flags are due for each by the changed paths.
All: bitgo, account-lib, statics, express

.codecov.yml:

coverage:
  status:
    project: off
    patch: off
comment:
  layout: 'diff, flags, files'
  require_changes: true
flags:
  bitgo:
    paths:
      - modules/bitgo
  account-lib:
    paths:
      - modules/account-lib
  statics:
    paths:
      - modules/statics
  express:
    paths:
      - modules/express

chore(sdk-coin-coreum): remove duplicate char
  modules/sdk-coin-coreum/src/lib/constants.ts
Due: none

chore(sdk-coin-tia): remove duplicate char
  modules/sdk-coin-tia/src/lib/constants.ts
Due: none

chore(sdk-coin-sei): remove duplicate char
  modules/sdk-coin-sei/src/lib/constants.ts
Due: none

chore(sdk-coin-zeta): remove duplicate char
  modules/sdk-coin-zeta/src/lib/constants.ts
Due: none

feat(sdk-coin-stx): added support to stx remove prefix during pubKey validation
  modules/sdk-coin-stx/src/lib/utils.ts
  modules/sdk-coin-stx/test/unit/resources.ts
  modules/sdk-coin-stx/test/unit/util.ts
Due: none

feat: support bech32 recipient for v1 wallets
  modules/sdk-api/src/bitgoAPI.ts
  modules/sdk-api/test/unit/bitgoAPI.ts
Due: none

fix: handle 502 after tx broadcast Ticket: COIN-92
  modules/bitgo/test/v2/unit/internal/tssUtils/ecdsa.ts
  modules/bitgo/test/v2/unit/tss/helpers.ts
  modules/sdk-core/src/bitgo/utils/tss/ecdsa/ecdsa.ts
  modules/sdk-core/src/bitgo/utils/tss/eddsa/eddsa.ts
Due: bitgo

fix: add txHex for eth CCR tx Ticket: COIN-119
  modules/sdk-coin-eth/src/eth.ts
  modules/sdk-coin-eth/test/unit/eth.ts
Due: none

feat(statics): add MASA(ERC-20) token support to Go Account Ticket: PX-3860
  modules/statics/src/coins.ts
Due: statics

feat(statics): add COREUM(CORE) coin support to Go Accounts Ticket: PX-3231
  modules/statics/src/coins.ts
Due: statics

Revert "feat(sdk-lib-mpc): use crypto module for safe prime"
  modules/sdk-lib-mpc/package.json
  modules/sdk-lib-mpc/src/index.ts
  modules/sdk-lib-mpc/src/openssl/README.md
  modules/sdk-lib-mpc/src/openssl/index.ts
  modules/sdk-lib-mpc/src/openssl/openssl.ts
  modules/sdk-lib-mpc/src/openssl/opensslbytes.ts
  modules/sdk-lib-mpc/src/safePrime.ts
  modules/sdk-lib-mpc/src/tss/ecdsa/rangeproof.ts
  modules/sdk-lib-mpc/test/unit/tss/ecdsa/dlogproofs.ts
  modules/sdk-lib-mpc/test/unit/tss/ecdsa/rangeproof.ts
  modules/sdk-lib-mpc/test/unit/tss/ecdsa/safePrime.ts
  yarn.lock
Due: none

feat: make openssl prime gen non-breaking change
  modules/sdk-lib-mpc/src/index.ts
  modules/sdk-lib-mpc/src/safePrime.ts
  modules/sdk-lib-mpc/src/tss/ecdsa/rangeproof.ts
  modules/sdk-lib-mpc/test/unit/tss/ecdsa/dlogproofs.ts
  modules/sdk-lib-mpc/test/unit/tss/ecdsa/rangeproof.ts
  modules/sdk-lib-mpc/test/unit/tss/ecdsa/safePrime.ts
Due: none

chore(root): release express 9.62.4
  Dockerfile
Due: none

ci: change `unit-test-all` to no longer fail fast
  .github/workflows/test_package_updates.yml
Due: none

chore: migrate avaxp to `@bitgo-forks/avalanchjs`
  modules/sdk-coin-avaxp/package.json
  modules/sdk-coin-avaxp/src/lib/iface.ts
  modules/sdk-coin-avaxp/src/lib/permissionlessValidatorTxBuilder.ts
  modules/sdk-coin-avaxp/src/lib/transaction.ts
  modules/sdk-coin-avaxp/src/lib/transactionBuilder.ts
  modules/sdk-coin-avaxp/src/lib/transactionBuilderFactory.ts
  modules/sdk-coin-avaxp/src/lib/utils.ts
  modules/sdk-coin-avaxp/src/lib/utxoEngine.ts
  modules/sdk-coin-avaxp/test/unit/lib/permissionlessValidatorTxBuilder.ts
  yarn.lock
Due: none

fix(sdk-core): route PA flow to use MPCv2
  modules/sdk-core/src/bitgo/pendingApproval/pendingApproval.ts
  modules/sdk-core/src/bitgo/wallet/iWallet.ts
Due: none

test(sdk-core): add tests for MPCv2 pending approval flow
  modules/bitgo/test/v2/unit/pendingApproval.ts
Due: bitgo

feat(sdk-lib-mpc): support mpcv1 to mpcv2 retrofit
  modules/sdk-core/src/account-lib/mpc/tss/ecdsa/types.ts
  modules/sdk-lib-mpc/package.json
  modules/sdk-lib-mpc/src/tss/ecdsa-dkls/dkg.ts
  modules/sdk-lib-mpc/src/tss/ecdsa-dkls/types.ts
  modules/sdk-lib-mpc/src/tss/ecdsa/types.ts
  modules/sdk-lib-mpc/test/unit/tss/ecdsa/dklsDkg.ts
  modules/sdk-lib-mpc/test/unit/tss/ecdsa/fixtures/mpcv1shares.ts
  package.json
  yarn.lock
Due: none

feat: extract middlewares to folder
  modules/express/src/clientRoutes.ts
  modules/express/src/middlewares/index.ts
Due: express

feat: add network connection encryption function
  modules/express/src/clientRoutes.ts
  modules/sdk-core/src/bitgo/trading/index.ts
  modules/sdk-core/src/bitgo/trading/network/encrypt.ts
  modules/sdk-core/src/bitgo/trading/network/index.ts
  modules/sdk-core/src/bitgo/trading/network/network.ts
  modules/sdk-core/src/bitgo/trading/network/types.ts
  modules/sdk-core/test/unit/bitgo/trading/network/encrypt.ts
  modules/sdk-core/test/unit/bitgo/trading/network/private-key.pem
  modules/sdk-core/test/unit/bitgo/trading/network/public-key.pub
Due: express

Support general t of n retrofit
  modules/sdk-lib-mpc/package.json
  modules/sdk-lib-mpc/src/tss/ecdsa-dkls/dkg.ts
  modules/sdk-lib-mpc/src/tss/ecdsa-dkls/dsg.ts
  modules/sdk-lib-mpc/src/tss/ecdsa-dkls/types.ts
  modules/sdk-lib-mpc/src/tss/ecdsa-dkls/util.ts
  modules/sdk-lib-mpc/test/unit/tss/ecdsa/dklsDkg.ts
  modules/sdk-lib-mpc/test/unit/tss/ecdsa/dklsDsg.ts
Due: none

chore(sdk-coin-trx): fix the expiration time of token recovery
  modules/bitgo/test/v2/unit/recovery.ts
  modules/sdk-coin-trx/src/trx.ts
  modules/sdk-coin-trx/test/unit/trx.ts
Due: bitgo

feat(statics): adding support for tokens (erc20) for go account
  modules/statics/src/coins.ts
Due: statics

fix(root): fix keychains updatePassword for tss
  modules/bitgo/test/v2/unit/keychains.ts
  modules/sdk-core/src/bitgo/keychain/keychains.ts
Due: bitgo

feat(utxo-lib): remove TransactionBuilder warning
  modules/utxo-lib/src/transaction_builder.ts
Due: none

Revert "Revert "feat(abstract-utxo): support trustless change outputs from explaintx""
  modules/abstract-utxo/src/transaction.ts
  modules/bitgo/test/v2/unit/coins/utxo/prebuildAndSign.ts
  modules/bitgo/test/v2/unit/coins/utxo/transaction.ts
  modules/utxo-lib/src/bitgo/wallet/index.ts
  modules/utxo-lib/src/bitgo/wallet/psbt/RootNodes.ts
Due: bitgo

chore(utxo-lib): bump bitcoinjs-lib
  modules/utxo-lib/package.json
  yarn.lock
Due: none

feat: breakout encryption logic functions
  modules/sdk-core/src/bitgo/trading/network/decrypt-aes-gcm.ts
  modules/sdk-core/src/bitgo/trading/network/decrypt-rsa-browser.ts
  modules/sdk-core/src/bitgo/trading/network/decrypt-rsa.ts
  modules/sdk-core/src/bitgo/trading/network/decrypt.ts
  modules/sdk-core/src/bitgo/trading/network/encrypt-aes-gcm.ts
  modules/sdk-core/src/bitgo/trading/network/encrypt-rsa-browser.ts
  modules/sdk-core/src/bitgo/trading/network/encrypt-rsa.ts
  modules/sdk-core/src/bitgo/trading/network/encrypt.ts
  modules/sdk-core/src/bitgo/trading/network/index.ts
  modules/sdk-core/src/bitgo/trading/network/utils.ts
  modules/sdk-core/test/unit/bitgo/trading/network/encrypt.ts
Due: none

feat: move verifyAddress func to own file
  modules/sdk-api/src/bitgoAPI.ts
  modules/sdk-api/src/v1/verifyAddress.ts
Due: none

feat: support creating v1 transaction to bech32 recipient
  modules/sdk-api/src/v1/transactionBuilder.ts
  modules/sdk-api/test/unit/v1/wallet.ts
Due: none

feat(statics): add new erc20 tokens on holesky
  modules/statics/src/coins.ts
Due: statics

feat(abstract-eth): support v4 wallet for recover method
  modules/abstract-eth/src/abstractEthLikeNewCoins.ts
  modules/sdk-coin-eth/test/fixtures/eth.ts
  modules/sdk-coin-eth/test/unit/eth.ts
  modules/sdk-coin-polygon/test/unit/polygon.ts
Due: none

fix(utxo-lib): fix
  modules/utxo-lib/package.json
  modules/utxo-lib/src/transaction_builder.ts
  yarn.lock
Due: none

fix: rsa decrypt only needed for node
  modules/sdk-core/src/bitgo/trading/network/decrypt-rsa-browser.ts
  modules/sdk-core/src/bitgo/trading/network/decrypt.ts
  modules/sdk-core/src/bitgo/trading/network/encrypt-rsa-browser.ts
  modules/sdk-core/test/unit/bitgo/trading/network/encrypt.ts
Due: none

fix(sdk-core): fix ci check issue
  modules/bitgo/test/v2/unit/wallets.ts
  modules/sdk-core/src/bitgo/wallet/wallets.ts
Due: bitgo
