Repository BitGo/BitGoJS: changes, and which Codecov flags are due for each by the changed paths.
All: bitgo, account-lib, statics, express

feat(core): add support for verifying STX addresses with an optional "memoId" field
  modules/core/src/v2/coins/stx.ts
  modules/core/test/v2/unit/coins/stx.ts
Due: bitgo

feat(statics): add new erc20 tokens to base.ts and coins.ts
  modules/statics/src/base.ts
  modules/statics/src/coins.ts
Due: statics

fix(core): don't pick individual tx verification options
  modules/core/src/v2/wallet.ts
Due: bitgo

build(core): adding ltc explorer to get tx info
  modules/core/src/v2/coins/ltc.ts
  modules/core/test/v2/lib/recovery-nocks.ts
  modules/core/test/v2/unit/recovery.ts
Due: bitgo

fix(core): disable verification for hop transactions
  modules/core/src/v2/coins/eth.ts
  modules/core/test/v2/unit/coins/eth.ts
Due: bitgo

feat(account-lib): stx contract call args
  modules/account-lib/src/coin/stx/contractBuilder.ts
  modules/account-lib/src/coin/stx/iface.ts
  modules/account-lib/src/coin/stx/transaction.ts
  modules/account-lib/test/resources/stx/stx.ts
  modules/account-lib/test/unit/coin/stx/transactionBuilder/contractBuilder.ts
  modules/core/test/v2/fixtures/coins/stx.ts
  modules/core/test/v2/unit/coins/stx.ts
Due: bitgo, account-lib

fix(account-lib): fix trx fee limit boundary
  modules/account-lib/src/coin/trx/contractCallBuilder.ts
Due: account-lib

chore(release): publish modules
  modules/account-lib/package.json
  modules/core/package.json
  modules/express/package-lock.json
  modules/express/package.json
  modules/statics/package.json
Due: bitgo, account-lib, statics, express

chore(release): publish modules
  modules/core/package.json
  modules/express/package-lock.json
  modules/express/package.json
Due: bitgo, express

chore(release): publish modules
  modules/account-lib/package.json
  modules/core/package.json
  modules/express/package-lock.json
  modules/express/package.json
Due: bitgo, account-lib, express

chore(express): update sdk to bitgo@^11.17.0
  modules/express/package-lock.json
  modules/express/package.json
Due: express

chore(express): upgrade express docker image to node 14
  .nvmrc
  Dockerfile
Due: none

fix(account-lib): add input/output in stx contract call
  modules/account-lib/src/coin/stx/transaction.ts
  modules/account-lib/test/unit/coin/stx/transactionBuilder/contractBuilder.ts
Due: account-lib

fix(eth): restore fixed hop transaction verification
  modules/core/src/v2/coins/eth.ts
  modules/core/test/v2/unit/coins/eth.ts
Due: bitgo

docs(developers.md): update the SDK & API doc link
  DEVELOPERS.md
Due: none

feat(utxolib): add bitcoingoldTestnet
  modules/utxo-lib/package.json
  modules/utxo-lib/src/coins.js
  modules/utxo-lib/src/networks.js
  modules/utxo-lib/test/networks.js
Due: none

feat(statics): add NPXS token again
  modules/statics/src/base.ts
  modules/statics/src/coins.ts
Due: statics

feat(statics): add add new tokens erc20
  modules/statics/src/base.ts
  modules/statics/src/coins.ts
Due: statics

fix(core): use ltc explorer to get unspents during cross chain recovery
  modules/core/src/v2/coins/abstractUtxoCoin.ts
  modules/core/src/v2/coins/ltc.ts
  modules/core/src/v2/recovery.ts
  modules/core/test/v2/lib/recovery-nocks.ts
Due: bitgo

feat(statics): add new erc20s for goerli london hard fork testing
  modules/statics/src/base.ts
  modules/statics/src/coins.ts
Due: statics

chore(release): publish modules
  modules/account-lib/package.json
  modules/core/package.json
  modules/express/package-lock.json
  modules/express/package.json
  modules/statics/package.json
  modules/utxo-lib/package.json
Due: bitgo, account-lib, statics, express

chore(release): publish modules
  modules/express/package-lock.json
  modules/express/package.json
Due: express

chore(express): update sdk to bitgo@^11.18.0
  modules/express/package-lock.json
Due: express

chore: fix package versions after stable release
  modules/account-lib/package.json
  modules/core/package.json
  modules/statics/package.json
  modules/utxo-lib/package.json
Due: bitgo, account-lib, statics

refactor(core): remove bluebird from bitgo object http methods
  modules/core/src/api.ts
  modules/core/src/bitgo.ts
  modules/core/src/blockchain.ts
  modules/core/src/errors.ts
  modules/core/src/keychains.ts
  modules/core/src/markets.ts
  modules/core/src/pendingapproval.ts
  modules/core/src/pendingapprovals.ts
  modules/core/src/travelRule.ts
  modules/core/src/v2/coins/xrp.ts
  modules/core/src/v2/enterprise.ts
  modules/core/src/v2/keychains.ts
  modules/core/src/v2/markets.ts
  modules/core/src/v2/pendingApproval.ts
  modules/core/src/v2/trading/tradingAccount.ts
  modules/core/src/v2/wallet.ts
  modules/core/src/v2/wallets.ts
  modules/core/src/v2/webhooks.ts
  modules/core/src/wallet.ts
  modules/core/src/wallets.ts
  types/superagent/index.d.ts
Due: bitgo

fix(express): don't use bluebird methods on native promise returning functions
  modules/express/src/clientRoutes.ts
Due: express

fix(statics): remove duplicate tokens
  modules/statics/src/coins.ts
Due: statics

fix(core): follow up improvements from PR #1292
  modules/core/src/api.ts
  modules/core/src/bitgo.ts
  modules/core/src/v2/coins/abstractUtxoCoin.ts
  modules/core/src/v2/coins/btc.ts
  modules/core/src/v2/coins/dash.ts
  modules/core/src/v2/coins/ltc.ts
  modules/core/src/v2/coins/xlm.ts
  modules/core/src/v2/coins/zec.ts
  modules/core/test/unit/wallet.ts
  types/superagent/index.d.ts
Due: bitgo

feat(utxo-lib): add RPC tests
  modules/utxo-lib/package.json
  modules/utxo-lib/test/integration_local_rpc/generate/RpcClient.ts
  modules/utxo-lib/test/integration_local_rpc/generate/fixtures.ts
  modules/utxo-lib/test/integration_local_rpc/generate/main.ts
  modules/utxo-lib/test/integration_local_rpc/generate/outputScripts.ts
  modules/utxo-lib/test/integration_local_rpc/generate/regtestNode.ts
  modules/utxo-lib/test/integration_local_rpc/generate/types.ts
Due: none

feat(utxo-lib): add captured test fixtures
  modules/utxo-lib/test/integration_local_rpc/fixtures/bitcoincashTestnet/deposit_p2pkh.json
  modules/utxo-lib/test/integration_local_rpc/fixtures/bitcoincashTestnet/deposit_p2sh.json
  modules/utxo-lib/test/integration_local_rpc/fixtures/bitcoincashTestnet/spend_p2sh.json
  modules/utxo-lib/test/integration_local_rpc/fixtures/bitcoingoldTestnet/deposit_p2pkh.json
  modules/utxo-lib/test/integration_local_rpc/fixtures/bitcoingoldTestnet/deposit_p2sh.json
  modules/utxo-lib/test/integration_local_rpc/fixtures/bitcoingoldTestnet/deposit_p2shP2wsh.json
  modules/utxo-lib/test/integration_local_rpc/fixtures/bitcoingoldTestnet/deposit_p2wkh.json
  modules/utxo-lib/test/integration_local_rpc/fixtures/bitcoingoldTestnet/deposit_p2wsh.json
  modules/utxo-lib/test/integration_local_rpc/fixtures/bitcoingoldTestnet/spend_p2sh.json
  modules/utxo-lib/test/integration_local_rpc/fixtures/bitcoingoldTestnet/spend_p2shP2wsh.json
  modules/utxo-lib/test/integration_local_rpc/fixtures/bitcoingoldTestnet/spend_p2wsh.json
  modules/utxo-lib/test/integration_local_rpc/fixtures/bitcoinsvTestnet/deposit_p2pkh.json
  modules/utxo-lib/test/integration_local_rpc/fixtures/bitcoinsvTestnet/deposit_p2sh.json
  modules/utxo-lib/test/integration_local_rpc/fixtures/bitcoinsvTestnet/spend_p2sh.json
  modules/utxo-lib/test/integration_local_rpc/fixtures/dashTest/deposit_p2pkh.json
  modules/utxo-lib/test/integration_local_rpc/fixtures/dashTest/deposit_p2sh.json
  modules/utxo-lib/test/integration_local_rpc/fixtures/dashTest/spend_p2sh.json
  modules/utxo-lib/test/integration_local_rpc/fixtures/litecoinTest/deposit_p2pkh.json
  modules/utxo-lib/test/integration_local_rpc/fixtures/litecoinTest/deposit_p2sh.json
  modules/utxo-lib/test/integration_local_rpc/fixtures/litecoinTest/deposit_p2shP2wsh.json
  modules/utxo-lib/test/integration_local_rpc/fixtures/litecoinTest/deposit_p2wkh.json
  modules/utxo-lib/test/integration_local_rpc/fixtures/litecoinTest/deposit_p2wsh.json
  modules/utxo-lib/test/integration_local_rpc/fixtures/litecoinTest/spend_p2sh.json
  modules/utxo-lib/test/integration_local_rpc/fixtures/litecoinTest/spend_p2shP2wsh.json
  modules/utxo-lib/test/integration_local_rpc/fixtures/litecoinTest/spend_p2wsh.json
  modules/utxo-lib/test/integration_local_rpc/fixtures/testnet/deposit_p2pkh.json
  modules/utxo-lib/test/integration_local_rpc/fixtures/testnet/deposit_p2sh.json
  modules/utxo-lib/test/integration_local_rpc/fixtures/testnet/deposit_p2shP2wsh.json
  modules/utxo-lib/test/integration_local_rpc/fixtures/testnet/deposit_p2wkh.json
  modules/utxo-lib/test/integration_local_rpc/fixtures/testnet/deposit_p2wsh.json
  modules/utxo-lib/test/integration_local_rpc/fixtures/testnet/spend_p2sh.json
  modules/utxo-lib/test/integration_local_rpc/fixtures/testnet/spend_p2shP2wsh.json
  modules/utxo-lib/test/integration_local_rpc/fixtures/testnet/spend_p2wsh.json
  modules/utxo-lib/test/integration_local_rpc/fixtures/zcashTest/deposit_p2pkh.json
  modules/utxo-lib/test/integration_local_rpc/fixtures/zcashTest/deposit_p2sh.json
  modules/utxo-lib/test/integration_local_rpc/fixtures/zcashTest/spend_p2sh.json
  modules/utxo-lib/test/integration_local_rpc/parse.ts
Due: none

fix(utxo-lib): update mocha and test `.ts` files
  modules/utxo-lib/.mocharc.js
  modules/utxo-lib/package.json
  yarn.lock
Due: none

Path conditions:
  bitgo: any of: modules/core
  account-lib: any of: modules/account-lib
  statics: any of: modules/statics
  express: any of: modules/express
