Repository BitGo/BitGoJS: changes, and which Codecov flags are due for each by the changed paths.
All: bitgo, account-lib, statics, express

.codecov.yml:

coverage:
  status:
    project: off
    patch: off
comment:
  layout: "diff, flags, files"
  require_changes: true
flags:
  bitgo:
    paths:
      - modules/core
  account-lib:
    paths:
      - modules/account-lib
  statics:
    paths:
      - modules/statics
  express:
    paths:
      - modules/express

fix(express): use yarn to run build script
  modules/express/package.json
Due: express

fix(express): re-add `typescript` to express dev deps
  modules/express/package.json
Due: express

feat(algo): bG-31598-Add-ALGO-Token-Support
  modules/statics/src/account.ts
  modules/statics/src/base.ts
  modules/statics/src/coins.ts
Due: statics

chore(root): add yarn resolution for trim-newlines
  package.json
  yarn.lock
Due: none

fix(account-lib): revert algorand tokens changes
  modules/account-lib/package.json
  modules/account-lib/src/coin/algo/assetTransferBuilder.ts
  modules/account-lib/src/coin/algo/errors.ts
  modules/account-lib/src/coin/algo/ifaces.ts
  modules/account-lib/src/coin/algo/index.ts
  modules/account-lib/src/coin/algo/keyExclusionBuilder.ts
  modules/account-lib/src/coin/algo/keyPair.ts
  modules/account-lib/src/coin/algo/keyRegistrationBuilder.ts
  modules/account-lib/src/coin/algo/transaction.ts
  modules/account-lib/src/coin/algo/transactionBuilder.ts
  modules/account-lib/src/coin/algo/transferBuilder.ts
  modules/account-lib/src/coin/algo/txnSchema.ts
  modules/account-lib/src/coin/algo/utils.ts
  modules/account-lib/src/coin/baseCoin/enum.ts
  modules/account-lib/src/index.ts
  modules/account-lib/test/resources/algo/index.ts
  modules/account-lib/test/unit/coin/algo/keyPair.ts
  modules/account-lib/test/unit/coin/algo/transaction.ts
  modules/account-lib/test/unit/coin/algo/transactionBuilder/base.ts
  modules/account-lib/test/unit/coin/algo/transactionBuilder/keyRegistrationBuilder.ts
  modules/account-lib/test/unit/coin/algo/transactionBuilder/transferBuilder.ts
  modules/account-lib/test/unit/coin/algo/utils.ts
  modules/core/src/v2/coins/algo.ts
  modules/core/types/algosdk/index.d.ts
  yarn.lock
Due: bitgo, account-lib

Revert "fix(account-lib): revert algorand tokens changes"
  modules/account-lib/package.json
  modules/account-lib/src/coin/algo/assetTransferBuilder.ts
  modules/account-lib/src/coin/algo/errors.ts
  modules/account-lib/src/coin/algo/ifaces.ts
  modules/account-lib/src/coin/algo/index.ts
  modules/account-lib/src/coin/algo/keyExclusionBuilder.ts
  modules/account-lib/src/coin/algo/keyPair.ts
  modules/account-lib/src/coin/algo/keyRegistrationBuilder.ts
  modules/account-lib/src/coin/algo/transaction.ts
  modules/account-lib/src/coin/algo/transactionBuilder.ts
  modules/account-lib/src/coin/algo/transferBuilder.ts
  modules/account-lib/src/coin/algo/txnSchema.ts
  modules/account-lib/src/coin/algo/utils.ts
  modules/account-lib/src/coin/baseCoin/enum.ts
  modules/account-lib/src/index.ts
  modules/account-lib/test/resources/algo/index.ts
  modules/account-lib/test/unit/coin/algo/keyPair.ts
  modules/account-lib/test/unit/coin/algo/transaction.ts
  modules/account-lib/test/unit/coin/algo/transactionBuilder/base.ts
  modules/account-lib/test/unit/coin/algo/transactionBuilder/keyRegistrationBuilder.ts
  modules/account-lib/test/unit/coin/algo/transactionBuilder/transferBuilder.ts
  modules/account-lib/test/unit/coin/algo/utils.ts
  modules/core/src/v2/coins/algo.ts
  modules/core/types/algosdk/index.d.ts
  yarn.lock
Due: bitgo, account-lib

fix(account-lib): yarn lock after revert
  yarn.lock
Due: none

chore: add script to check managed package versions
  check-package-versions.js
  package.json
Due: none

chore: add step to drone to check managed package version numbers
  .drone.jsonnet
  .drone.yml
  package.json
Due: none

chore(utxo-lib): use stable version of @bitgo/blake2b
  modules/utxo-lib/package.json
Due: none

chore(release): publish modules
  modules/account-lib/package.json
  modules/core/package.json
  modules/express/package-lock.json
  modules/express/package.json
  modules/statics/package.json
Due: bitgo, account-lib, statics, express

chore: move check commits before running install
  .drone.yml
  package.json
Due: none

feat(account-lib): keyreg linting fix
  modules/account-lib/package.json
  modules/account-lib/src/coin/algo/errors.ts
  modules/account-lib/src/coin/algo/keyRegistrationBuilder.ts
  modules/account-lib/src/coin/algo/txnSchema.ts
  modules/account-lib/test/unit/coin/algo/transactionBuilder/keyRegistrationBuilder.ts
Due: account-lib

feat(account-lib): package json fix
  modules/account-lib/package.json
Due: account-lib

chore(root): add yarn resolution for normalize-url
  package.json
  yarn.lock
Due: none

wip(core): update @celo/contractkit to ^1.2.0
  modules/account-lib/package.json
  modules/account-lib/src/coin/celo/stakingBuilder.ts
  modules/account-lib/test/unit/coin/celo/transactionBuilder/send.ts
  package.json
  types/ethereumjs-util/index.d.ts
  yarn.lock
Due: account-lib

fix(account-lib): fix types
  modules/account-lib/src/coin/celo/types.ts
  modules/account-lib/src/coin/eth/transferBuilder.ts
  modules/account-lib/test/unit/coin/rbtc/transactionBuilder/send.ts
Due: account-lib

fix(account-lib): fix failing test due to incorrect types
  modules/account-lib/src/coin/celo/stakingBuilder.ts
Due: account-lib

fix(core): fix type errors in abstractEthCoin tests
  modules/core/test/v2/unit/coins/abstractEthCoin.ts
Due: bitgo

chore(account-lib): fix type errors after rebasing
  modules/account-lib/src/coin/celo/stakingBuilder.ts
  modules/account-lib/src/coin/celo/utils.ts
  modules/account-lib/src/coin/eth/types.ts
  modules/account-lib/src/coin/eth/utils.ts
Due: account-lib

feat(account-lib): algo support for half sign tx
  modules/account-lib/package.json
  modules/account-lib/src/coin/algo/errors.ts
  modules/account-lib/src/coin/algo/ifaces.ts
  modules/account-lib/src/coin/algo/index.ts
  modules/account-lib/src/coin/algo/keyRegistrationBuilder.ts
  modules/account-lib/src/coin/algo/transaction.ts
  modules/account-lib/src/coin/algo/transactionBuilder.ts
  modules/account-lib/src/coin/algo/transactionBuilderFactory.ts
  modules/account-lib/src/coin/algo/transferBuilder.ts
  modules/account-lib/src/coin/algo/txnSchema.ts
  modules/account-lib/src/index.ts
  modules/account-lib/test/resources/algo/index.ts
  modules/account-lib/test/unit/coin/algo/transactionBuilder/keyRegistrationBuilder.ts
  modules/account-lib/test/unit/coin/algo/transactionBuilder/transactionBuilderFactory.ts
  modules/account-lib/test/unit/coin/algo/transactionBuilder/transferBuilder.ts
  modules/core/src/v2/coins/algo.ts
  modules/core/test/v2/unit/coins/algo.ts
Due: bitgo, account-lib

feat(core): explain transaction for transfer builder and keyreg builder
  modules/core/src/v2/coins/algo.ts
  modules/core/test/v2/fixtures/coins/algo.ts
  modules/core/test/v2/unit/coins/algo.ts
Due: bitgo

feat(core): algo account-lib fix
  modules/core/src/v2/coins/algo.ts
  modules/core/test/v2/unit/coins/algo.ts
Due: bitgo

feat(core): linting fix
  modules/account-lib/package.json
  modules/account-lib/src/coin/algo/index.ts
  modules/account-lib/src/coin/algo/keyRegistrationBuilder.ts
  modules/account-lib/test/unit/coin/algo/transactionBuilder/transactionBuilderFactory.ts
Due: account-lib

feat(packages): test-delete
  README.md
Due: none

feat(account-lib): add asset transfer builder implementation
  modules/account-lib/src/coin/algo/assetTransferBuilder.ts
  modules/account-lib/src/coin/algo/ifaces.ts
  modules/account-lib/src/coin/algo/index.ts
  modules/account-lib/src/coin/algo/keyExclusionBuilder.ts
  modules/account-lib/src/coin/algo/keyRegistrationBuilder.ts
  modules/account-lib/src/coin/algo/transaction.ts
  modules/account-lib/src/coin/algo/transactionBuilder.ts
  modules/account-lib/src/coin/algo/transactionBuilderFactory.ts
  modules/account-lib/src/coin/algo/transferBuilder.ts
  modules/account-lib/src/coin/algo/txnSchema.ts
  modules/account-lib/test/resources/algo/index.ts
  modules/account-lib/test/unit/coin/algo/transactionBuilder/assetTransferBuilder.ts
  modules/account-lib/test/unit/coin/algo/transactionBuilder/base.ts
Due: account-lib

chore(root): add resolution for normalize-url@^6.0.1
  package.json
  yarn.lock
Due: none

feat(account-lib): algo support for half sign tx
  modules/account-lib/src/coin/algo/ifaces.ts
  modules/account-lib/src/coin/algo/keyPair.ts
  modules/account-lib/src/coin/algo/transaction.ts
  modules/account-lib/src/coin/algo/transactionBuilder.ts
  modules/account-lib/src/coin/algo/transactionBuilderFactory.ts
  modules/account-lib/test/resources/algo/index.ts
  modules/account-lib/test/unit/coin/algo/transactionBuilder/keyRegistrationBuilder.ts
  modules/account-lib/test/unit/coin/algo/transactionBuilder/transferBuilder.ts
Due: account-lib

wip txn builder factory
  modules/account-lib/src/coin/algo/keyRegistrationBuilder.ts
  modules/account-lib/src/coin/algo/transactionBuilder.ts
  modules/account-lib/src/coin/algo/transactionBuilderFactory.ts
  modules/account-lib/src/coin/algo/transferBuilder.ts
  modules/account-lib/test/unit/coin/algo/transactionBuilder/transactionBuilderFactory.ts
Due: account-lib

feat(account-lib): algo support for half sign tx
  modules/account-lib/src/coin/algo/transaction.ts
  modules/account-lib/src/coin/algo/transactionBuilder.ts
Due: account-lib

feat(account-lib): transaction builder factory and its tests
  modules/account-lib/src/coin/algo/index.ts
  modules/account-lib/src/coin/algo/transactionBuilder.ts
  modules/account-lib/test/unit/coin/algo/transactionBuilder/transactionBuilderFactory.ts
Due: account-lib

feat(core): explain transaction for transfer builder and keyreg builder
  modules/account-lib/src/coin/algo/index.ts
  modules/account-lib/src/coin/algo/keyRegistrationBuilder.ts
  modules/account-lib/src/coin/algo/transactionBuilder.ts
  modules/account-lib/src/coin/algo/transactionBuilderFactory.ts
  modules/account-lib/src/coin/algo/transferBuilder.ts
  modules/account-lib/src/index.ts
  modules/account-lib/test/unit/coin/algo/transactionBuilder/transactionBuilderFactory.ts
  modules/core/src/v2/coins/algo.ts
  modules/core/test/v2/fixtures/coins/algo.ts
  modules/core/test/v2/unit/coins/algo.ts
Due: bitgo, account-lib

feat(core): implement algo sign txn
  modules/account-lib/src/coin/algo/transactionBuilderFactory.ts
  modules/account-lib/src/index.ts
  modules/core/src/v2/coins/algo.ts
  modules/core/test/v2/unit/coins/algo.ts
Due: bitgo, account-lib

feat(statics): update STC, IMX and LRC Tokens
  modules/statics/src/coins.ts
Due: statics

fix: change the token address for cqt
  modules/statics/src/coins.ts
Due: statics

chore(release): publish modules
  modules/account-lib/package.json
  modules/core/package.json
  modules/express/package-lock.json
  modules/express/package.json
  modules/statics/package.json
  modules/utxo-lib/package.json
Due: bitgo, account-lib, statics, express

chore(express): update sdk to bitgo@^11.16.0
  modules/express/package-lock.json
Due: express

fix(express): use yarn to run commands installed at root
  modules/express/package.json
Due: express
