Repository BitGo/BitGoJS: changes, and which Codecov flags are due for each by the changed paths.
All: bitgo, account-lib, statics, express

.codecov.yml:

coverage:
  status:
    project: off
    patch: off
comment:
  layout: 'diff, flags, files'
  require_changes: true
flags:
  bitgo:
    paths:
      - modules/bitgo
  account-lib:
    paths:
      - modules/account-lib
  statics:
    paths:
      - modules/statics
  express:
    paths:
      - modules/express

feat(express): add typed routes for TRX delegation APIs
  modules/express/src/clientRoutes.ts
  modules/express/src/typedRoutes/api/index.ts
  modules/express/src/typedRoutes/api/v2/accountResources.ts
  modules/express/src/typedRoutes/api/v2/resourceDelegations.ts
Due: express

feat(examples): add TRX DelegateResource examples
  examples/ts/list-wallet-addresses-by-balance.ts
  examples/ts/trx/delegate-resource.ts
  examples/ts/trx/get-account-resources.ts
  examples/ts/trx/get-resource-delegations.ts
  examples/ts/trx/undelegate-resource.ts
Due: none

feat: add wasm-ton integration to sdk-coin-ton
  modules/sdk-coin-ton/package.json
  modules/sdk-coin-ton/src/lib/explainTransactionWasm.ts
  modules/sdk-coin-ton/src/lib/index.ts
  modules/sdk-coin-ton/src/lib/utils.ts
  modules/sdk-coin-ton/src/lib/wasmAddress.ts
  modules/sdk-coin-ton/src/lib/wasmSigner.ts
  modules/sdk-coin-ton/src/ton.ts
  modules/sdk-coin-ton/test/unit/wasmAddress.ts
  modules/sdk-coin-ton/test/unit/wasmExplainTransaction.ts
  modules/sdk-coin-ton/test/unit/wasmSigner.ts
Due: none

feat(statics): add DynamicNetwork and DynamicCoin for AMS-discovered chains
  modules/statics/src/base.ts
  modules/statics/src/coins.ts
  modules/statics/src/networks.ts
  modules/statics/test/unit/coins.ts
  modules/statics/test/unit/networks.ts
  modules/statics/test/unit/resources/amsTokenConfig.ts
Due: statics

feat: onboard new tokens
  modules/statics/src/allCoinsAndTokens.ts
  modules/statics/src/base.ts
  modules/statics/src/coins/bscTokens.ts
  modules/statics/src/coins/cantonTokens.ts
  modules/statics/src/coins/erc20Coins.ts
  modules/statics/src/coins/jettonTokens.ts
  modules/statics/src/coins/ofcCoins.ts
  modules/statics/src/coins/ofcErc20Coins.ts
Due: statics

fix: update picomatch to 4.0.4 to address CVE-2026-33671 ReDoS vulnerability
  package.json
  yarn.lock
Due: none

feat: onboard Tesla, Amazon, Palantir, Netflix tokens to Arbitrum mainnet
  modules/statics/src/allCoinsAndTokens.ts
  modules/statics/src/coins/ofcCoins.ts
  modules/statics/src/coins/ofcErc20Coins.ts
Due: statics

feat: integrate @bitgo/wasm-ton into sdk-coin-ton
  modules/sdk-coin-ton/package.json
  modules/sdk-coin-ton/src/lib/explainTransactionWasm.ts
  modules/sdk-coin-ton/src/lib/index.ts
  modules/sdk-coin-ton/src/lib/utils.ts
  modules/sdk-coin-ton/src/ton.ts
  modules/sdk-coin-ton/test/unit/wasmAddressAndSigning.ts
  modules/sdk-coin-ton/test/unit/wasmExplainTransaction.ts
Due: none

feat: wire @bitgo/wasm-ton into sdk-coin-ton
  modules/sdk-coin-ton/package.json
  modules/sdk-coin-ton/src/lib/explainTransactionWasm.ts
  modules/sdk-coin-ton/src/lib/index.ts
  modules/sdk-coin-ton/src/lib/keyPair.ts
  modules/sdk-coin-ton/src/lib/utils.ts
  modules/sdk-coin-ton/src/ton.ts
  modules/sdk-coin-ton/test/unit/explainTransactionWasm.ts
  modules/sdk-coin-ton/test/unit/wasmAddress.ts
  modules/sdk-coin-ton/test/unit/wasmSigning.ts
Due: none

Revert "feat: onboard Tesla, Amazon, Palantir, Netflix tokens to Arbitrum mai…"
  modules/statics/src/allCoinsAndTokens.ts
  modules/statics/src/coins/ofcCoins.ts
  modules/statics/src/coins/ofcErc20Coins.ts
Due: statics

feat(sdk-coin-avaxc): enable token batch
  modules/sdk-coin-avaxc/src/avaxc.ts
  modules/sdk-coin-avaxc/src/iface.ts
  modules/sdk-coin-avaxc/test/unit/avaxc.ts
Due: none

fix: fixed name of ofceth:cashplus
  modules/statics/src/coins/ofcErc20Coins.ts
Due: statics

feat: added signing support for TRX MPC
  modules/sdk-coin-trx/src/trx.ts
  modules/sdk-coin-trx/test/unit/verifyTransaction.ts
Due: none

feat(abstract-utxo): add protected isMainnet method
  modules/abstract-utxo/src/abstractUtxoCoin.ts
Due: none

feat(abstract-utxo): enable legacy tx format for mainnet
  modules/abstract-utxo/src/abstractUtxoCoin.ts
Due: none

feat(sdk-core): add webauthnInfo support to bulkAcceptShare
  modules/bitgo/test/v2/unit/wallets.ts
  modules/sdk-core/src/bitgo/wallet/iWallets.ts
  modules/sdk-core/src/bitgo/wallet/wallets.ts
Due: bitgo

feat: wire @bitgo/wasm-ton into sdk-coin-ton
  modules/sdk-coin-ton/package.json
  modules/sdk-coin-ton/src/lib/explainTransactionWasm.ts
  modules/sdk-coin-ton/src/lib/index.ts
  modules/sdk-coin-ton/src/lib/utils.ts
  modules/sdk-coin-ton/src/ton.ts
  modules/sdk-coin-ton/test/unit/explainTransactionWasm.ts
Due: none

feat: remove usage of 'invoice' in amount field
  modules/sdk-core/src/coins/ofcToken.ts
  modules/sdk-core/src/lightning.ts
Due: none

feat(sdk-api): add registerToken method to BitGoAPI
  modules/sdk-api/src/bitgoAPI.ts
  modules/sdk-api/test/unit/bitgoAPI.ts
Due: none

fix(root): patch high/critical transitive dependency vulnerabilities
  package.json
Due: none

ci: test for node nightly compat
  .github/workflows/ci.yml
  modules/web-demo/package.json
  modules/web-demo/src/components/BitGoAPI/index.tsx
  modules/web-demo/src/components/BitGoJS/index.tsx
  modules/web-demo/src/components/EcdsaChallenge/index.tsx
  package.json
  yarn.lock
Due: none

fix(web-demo): add css loader for react-json-view-lite
  modules/web-demo/webpack/base.config.js
Due: none

fix(sdk-coin-sol): use null check for decimalPlaces in token transfer builders
  modules/sdk-coin-sol/src/lib/tokenTransferBuilder.ts
  modules/sdk-coin-sol/src/lib/transferBuilderV2.ts
Due: none

fix(statics): update tempo testnet explorer url
  modules/statics/src/networks.ts
Due: statics

feat: added hyperliquid with default features
  modules/bitgo/test/v2/unit/keychains.ts
  modules/sdk-core/src/bitgo/environments.ts
  modules/statics/src/allCoinsAndTokens.ts
  modules/statics/src/base.ts
  modules/statics/src/coinFeatures.ts
  modules/statics/src/coins/ofcCoins.ts
  modules/statics/src/networks.ts
Due: bitgo, statics

feat(express): add batch 2 endpoints to express_entry for API docs
  modules/express/src/typedRoutes/api/express_entry.ts
  modules/express/src/typedRoutes/api/v2/decrypt.ts
  modules/express/src/typedRoutes/api/v2/encrypt.ts
  modules/express/src/typedRoutes/api/v2/generateWallet.ts
Due: express

fix: added missing thyperliquid
  modules/bitgo/test/v2/unit/keychains.ts
  modules/sdk-core/src/bitgo/environments.ts
  modules/statics/src/allCoinsAndTokens.ts
  modules/statics/src/base.ts
  modules/statics/src/coinFeatures.ts
  modules/statics/src/coins/ofcCoins.ts
  modules/statics/src/networks.ts
  modules/statics/test/unit/fixtures/expectedColdFeatures.ts
Due: bitgo, statics

fix(sdk-coin-dot): pass material to UnnominateBuilder
  modules/sdk-coin-dot/src/lib/transactionBuilderFactory.ts
Due: none

feat(statics): onboard WisdomTree SOL Token2022 tokens
  modules/statics/src/base.ts
  modules/statics/src/coins/solTokens.ts
Due: statics

feat(sdk-api): add registerToken method to BitGoAPI
  modules/bitgo/src/bitgo.ts
  modules/bitgo/test/v2/unit/ams/ams.ts
  modules/sdk-api/src/bitgoAPI.ts
  modules/sdk-api/test/unit/bitgoAPI.ts
Due: bitgo

fix(abstract-utxo,utxo-core): add .js extensions for ESM compatibility
  modules/abstract-utxo/test/unit/parseTransaction.ts
  modules/abstract-utxo/test/unit/transaction/descriptor/explainPsbt.ts
  modules/abstract-utxo/test/unit/transaction/fixedScript/explainPsbt.ts
  modules/abstract-utxo/test/unit/transaction/fixedScript/parsePsbt.ts
  modules/utxo-core/src/testutil/descriptor/descriptors.ts
  modules/utxo-core/src/testutil/descriptor/mock.utils.ts
  modules/utxo-core/src/testutil/descriptor/psbt.utils.ts
  modules/utxo-core/src/testutil/generatePayGoAttestationProof.utils.ts
  modules/utxo-core/src/testutil/index.ts
  modules/utxo-core/tsconfig.esm.json
Due: none

bug: add missing export fixedScript to abstract-utxo transaction exports
  modules/abstract-utxo/src/transaction/index.ts
Due: none

fix: reject RBF builds when original transaction is already confirmed
  modules/bitgo/test/v2/unit/wallet.ts
  modules/sdk-core/src/bitgo/wallet/wallet.ts
Due: bitgo

feat(statics): enable CoinFeature.STAKING for mainnet xdc coin
  modules/statics/src/allCoinsAndTokens.ts
  yarn.lock
Due: statics

fix(sdk-coin-sol): handle zero decimalPlaces in token transfer builders
  modules/sdk-coin-sol/src/lib/solInstructionFactory.ts
Due: none

feat: bulk withdrawal support for sol
  modules/statics/src/coinFeatures.ts
Due: statics
