Repository BitGo/BitGoJS: changes, and which Codecov flags are due for each by the changed paths.
All: bitgo, account-lib, statics, express

.codecov.yml:

coverage:
  status:
    project: off
    patch: off
comment:
  layout: "diff, flags, files"
  require_changes: true
flags:
  bitgo:
    paths:
      - modules/core
  account-lib:
    paths:
      - modules/account-lib
  statics:
    paths:
      - modules/statics
  express:
    paths:
      - modules/express

chore(release): publish modules
  modules/account-lib/package.json
  modules/core/package.json
  modules/express/package-lock.json
  modules/express/package.json
  modules/statics/package.json
Due: bitgo, account-lib, statics, express

chore(rel): run yarn install
  yarn.lock
Due: none

chore(release): publish modules
  modules/core/package.json
  modules/express/package-lock.json
  modules/express/package.json
Due: bitgo, express

fix(xrp): pin remaining xrp libs
  modules/core/package.json
  yarn.lock
Due: bitgo

Use buffers directly instead of bothering with numbers.
  modules/core/src/mpc/curves.ts
  modules/core/src/mpc/shamir.ts
  modules/core/src/mpc/tss.ts
  modules/core/test/v2/unit/tss.ts
Due: bitgo

update signShare to use sodium functions directly.
  modules/core/src/mpc/tss.ts
  modules/core/test/v2/unit/tss.ts
Due: bitgo

switch to using mpc buffer shamir splitting
  modules/core/src/mpc/shamir.ts
  modules/core/src/mpc/tss.ts
Due: bitgo

docs(account-lib): add light copyedit
  modules/account-lib/DEVELOPER.md
  modules/account-lib/README.md
Due: account-lib

switch sign to using buffers
  modules/core/src/mpc/tss.ts
  modules/core/test/v2/unit/tss.ts
Due: bitgo

zero padding should be after.
  modules/core/src/mpc/tss.ts
Due: bitgo

fix(express): enable tezos consolidations route in express
  modules/express/src/clientRoutes.ts
  modules/express/test/unit/clientRoutes/consolidateAccount.ts
Due: express

include shamir combining
  modules/core/src/mpc/shamir.ts
  modules/core/src/mpc/tss.ts
  modules/core/test/v2/unit/tss.ts
Due: bitgo

include verify function (not working)
  modules/core/src/mpc/tss.ts
  modules/core/test/v2/unit/tss.ts
Due: bitgo

fix verify parameters, but now still invalid signature.
  modules/core/src/mpc/tss.ts
Due: bitgo

zero buffers
  modules/core/src/mpc/tss.ts
Due: bitgo

h little endian
  modules/core/src/mpc/tss.ts
Due: bitgo

fix(lumina): update full name for rbtc
  modules/statics/src/coins.ts
Due: statics

working version of keyshare
  modules/core/src/mpc/shamir.ts
  modules/core/src/mpc/tss.ts
Due: bitgo

fix(tltc): update block explorer link for tltc
  modules/statics/src/networks.ts
Due: statics

feat(indexer): adding unit test
  modules/account-lib/test/unit/coin/eth/transactionBuilder/contractCall.ts
Due: account-lib

also use big endian for prefix/digest.
  modules/core/src/mpc/tss.ts
Due: bitgo

feat(account-lib): adding unit test for eth2 staking contract
  modules/account-lib/test/unit/coin/eth/transactionBuilder/contractCall.ts
Due: account-lib

fix up signing function and shamir combining so whole signing flow now works
  modules/core/src/mpc/shamir.ts
  modules/core/src/mpc/tss.ts
  modules/core/test/v2/unit/tss.ts
Due: bitgo

feat(core): add signWalletTransactionWithUnspent
  modules/core/src/v2/coins/abstractUtxoCoin.ts
  modules/core/src/v2/coins/utxo/sign.ts
  modules/core/src/v2/coins/utxo/unspent.ts
  modules/core/src/v2/keychains.ts
  modules/core/test/v2/unit/coins/utxo/transaction.ts
  modules/core/test/v2/unit/coins/utxo/util/index.ts
  modules/core/test/v2/unit/coins/utxo/util/keychains.ts
  modules/core/test/v2/unit/coins/utxo/util/transaction.ts
  modules/core/test/v2/unit/coins/utxo/util/unspents.ts
Due: bitgo

feat(core): improve type signatures for recovery methods
  modules/core/src/v2/coins/abstractUtxoCoin.ts
  modules/core/src/v2/coins/ltc.ts
  modules/core/src/v2/recovery.ts
Due: bitgo

test(core): add parametric crossChainRecovery tests
  modules/core/test/v2/unit/coins/utxo/crossChainRecovery.ts
  modules/core/test/v2/unit/coins/utxo/fixtures/bch/recovery/bsv.json
  modules/core/test/v2/unit/coins/utxo/fixtures/bch/recovery/btc.json
  modules/core/test/v2/unit/coins/utxo/fixtures/bch/recovery/ltc.json
  modules/core/test/v2/unit/coins/utxo/fixtures/bsv/recovery/bch.json
  modules/core/test/v2/unit/coins/utxo/fixtures/bsv/recovery/btc.json
  modules/core/test/v2/unit/coins/utxo/fixtures/bsv/recovery/ltc.json
  modules/core/test/v2/unit/coins/utxo/fixtures/btc/recovery/bch.json
  modules/core/test/v2/unit/coins/utxo/fixtures/btc/recovery/bsv.json
  modules/core/test/v2/unit/coins/utxo/fixtures/btc/recovery/ltc.json
  modules/core/test/v2/unit/coins/utxo/fixtures/ltc/recovery/bch.json
  modules/core/test/v2/unit/coins/utxo/fixtures/ltc/recovery/bsv.json
  modules/core/test/v2/unit/coins/utxo/fixtures/ltc/recovery/btc.json
  modules/core/test/v2/unit/coins/utxo/fixtures/tbch/recovery/tbsv.json
  modules/core/test/v2/unit/coins/utxo/fixtures/tbch/recovery/tbtc.json
  modules/core/test/v2/unit/coins/utxo/fixtures/tbch/recovery/tltc.json
  modules/core/test/v2/unit/coins/utxo/fixtures/tbsv/recovery/tbch.json
  modules/core/test/v2/unit/coins/utxo/fixtures/tbsv/recovery/tbtc.json
  modules/core/test/v2/unit/coins/utxo/fixtures/tbsv/recovery/tltc.json
  modules/core/test/v2/unit/coins/utxo/fixtures/tbtc/recovery/tbch.json
  modules/core/test/v2/unit/coins/utxo/fixtures/tbtc/recovery/tbsv.json
  modules/core/test/v2/unit/coins/utxo/fixtures/tbtc/recovery/tltc.json
  modules/core/test/v2/unit/coins/utxo/fixtures/tltc/recovery/tbch.json
  modules/core/test/v2/unit/coins/utxo/fixtures/tltc/recovery/tbsv.json
  modules/core/test/v2/unit/coins/utxo/fixtures/tltc/recovery/tbtc.json
  modules/core/test/v2/unit/coins/utxo/util/nockBitGo.ts
  modules/core/test/v2/unit/coins/utxo/util/nockIndexerAPI.ts
Due: bitgo

test(core): remove bespoke cross-chain recovery tests
  modules/core/test/v2/lib/recovery-nocks.ts
  modules/core/test/v2/unit/recovery/utxo.ts
Due: bitgo

feat(account-lib): dot implementation
  modules/account-lib/package.json
  modules/account-lib/resources/dot/index.ts
  modules/account-lib/resources/dot/mainnet.ts
  modules/account-lib/resources/dot/westend.ts
  modules/account-lib/src/coin/baseCoin/baseTransactionBuilder.ts
  modules/account-lib/src/coin/dot/errors.ts
  modules/account-lib/src/coin/dot/iface.ts
  modules/account-lib/src/coin/dot/index.ts
  modules/account-lib/src/coin/dot/keyPair.ts
  modules/account-lib/src/coin/dot/stakingBuilder.ts
  modules/account-lib/src/coin/dot/transaction.ts
  modules/account-lib/src/coin/dot/transactionBuilder.ts
  modules/account-lib/src/coin/dot/transactionBuilderFactory.ts
  modules/account-lib/src/coin/dot/transferBuilder.ts
  modules/account-lib/src/coin/dot/txnSchema.ts
  modules/account-lib/src/coin/dot/unstakeBuilder.ts
  modules/account-lib/src/coin/dot/utils.ts
  modules/account-lib/src/coin/dot/walletInitializationBuilder.ts
  modules/account-lib/src/index.ts
  modules/account-lib/src/utils/crypto.ts
  modules/account-lib/test/resources/dot/index.ts
  modules/account-lib/test/resources/dot/testnet.ts
  modules/account-lib/test/unit/coin/dot/keypair.ts
  modules/account-lib/test/unit/coin/dot/transaction.ts
  modules/account-lib/test/unit/coin/dot/transactionBuilder/base.ts
  modules/account-lib/test/unit/coin/dot/transactionBuilder/stakingBuilder.ts
  modules/account-lib/test/unit/coin/dot/transactionBuilder/transactionBuilderFactory.ts
  modules/account-lib/test/unit/coin/dot/transactionBuilder/transferBuilder.ts
  modules/account-lib/test/unit/coin/dot/transactionBuilder/unstakeBuilder.ts
  modules/account-lib/test/unit/coin/dot/transactionBuilder/walletInitializationBuilder.ts
  modules/statics/resources/dot/index.ts
  modules/statics/resources/dot/mainnet.ts
  modules/statics/resources/dot/westend.ts
  modules/statics/src/networks.ts
  yarn.lock
Due: account-lib, statics

feat(account-lib): dot final review fixes
  modules/account-lib/src/coin/dot/errors.ts
  modules/account-lib/src/coin/dot/iface.ts
  modules/account-lib/src/coin/dot/transaction.ts
  modules/account-lib/src/coin/dot/transactionBuilder.ts
  modules/account-lib/src/coin/dot/transferBuilder.ts
  modules/account-lib/test/unit/coin/dot/transaction.ts
  modules/account-lib/test/unit/coin/dot/transactionBuilder/base.ts
  modules/account-lib/test/unit/coin/dot/transactionBuilder/stakingBuilder.ts
  modules/account-lib/test/unit/coin/dot/transactionBuilder/transactionBuilderFactory.ts
  modules/account-lib/test/unit/coin/dot/transactionBuilder/transferBuilder.ts
  modules/account-lib/test/unit/coin/dot/transactionBuilder/unstakeBuilder.ts
  modules/account-lib/test/unit/coin/dot/transactionBuilder/walletInitializationBuilder.ts
Due: account-lib

feat(account-lib): updating after comments
  modules/account-lib/test/resources/eth/eth.ts
  modules/account-lib/test/unit/coin/eth/transactionBuilder/contractCall.ts
Due: account-lib

feat(core): add send support for XLM muxed addresses
  modules/core/src/v2/coins/xlm.ts
  modules/core/test/v2/unit/coins/xlm.ts
Due: bitgo
