Repository BitGo/BitGoJS: changes, and which Codecov flags are due for each by the changed paths.
All: bitgo, account-lib, statics, express

feat: ignore yarn-error.log and *.tsbuildinfo
  .gitignore
Due: none

feat(statics): ungate assets for Frankfurt Trust added BNB Ticket: COIN-2222
  modules/statics/src/coins.ts
  modules/statics/test/unit/coins.ts
Due: statics

fix: validate addresses created matches the requested format
  modules/abstract-utxo/src/abstractUtxoCoin.ts
  modules/sdk-core/src/bitgo/baseCoin/iBaseCoin.ts
  modules/sdk-core/src/bitgo/wallet/iWallet.ts
  modules/sdk-core/src/bitgo/wallet/wallet.ts
Due: none

refactor(utxo-bin): test fixes
  modules/utxo-bin/test/fixtures.ts
  modules/utxo-bin/test/fixtures/formatTransaction/p2trMusig2_keyPath_psbtFullSigned.txt
  modules/utxo-bin/test/fixtures/formatTransaction/p2trMusig2_keyPath_psbtFullSigned_all.txt
  modules/utxo-bin/test/fixtures/formatTransaction/p2trMusig2_keyPath_psbtHalfSigned.txt
  modules/utxo-bin/test/fixtures/formatTransaction/p2trMusig2_keyPath_psbtHalfSigned_all.txt
  modules/utxo-bin/test/fixtures/parse/psbt/p2trMusig2.keyPath.fullsigned.json
  modules/utxo-bin/test/fixtures/parse/psbt/p2trMusig2.keyPath.halfsigned.json
  modules/utxo-bin/test/fixtures/parse/psbt/p2trMusig2.keyPath.unsigned.json
  modules/utxo-bin/test/fixtures/psbt/p2trMusig2.keyPath.fullsigned.json
  modules/utxo-bin/test/fixtures/psbt/p2trMusig2.keyPath.halfsigned.json
  modules/utxo-bin/test/parseAddress.ts
  modules/utxo-bin/test/parseScript.ts
  modules/utxo-bin/test/parseTransaction.ts
Due: none

feat(utxo-bin): add psbt subcommands to utxo-bin
  modules/utxo-bin/bin/index.ts
  modules/utxo-bin/package.json
  modules/utxo-bin/src/commands/cmdParseTx.ts
  modules/utxo-bin/src/commands/cmdPsbt/cmdAddDescriptorInput.ts
  modules/utxo-bin/src/commands/cmdPsbt/cmdAddOutput.ts
  modules/utxo-bin/src/commands/cmdPsbt/cmdCreate.ts
  modules/utxo-bin/src/commands/cmdPsbt/cmdFinalize.ts
  modules/utxo-bin/src/commands/cmdPsbt/cmdSign.ts
  modules/utxo-bin/src/commands/cmdPsbt/index.ts
  modules/utxo-bin/src/commands/cmdPsbt/withPsbt.ts
  modules/utxo-bin/src/commands/cmdPsbt/wrap.ts
  modules/utxo-bin/src/commands/index.ts
  modules/utxo-bin/test/cmdPsbt.ts
  modules/utxo-bin/test/fixtures/psbt/1.empty.psbt
  modules/utxo-bin/test/fixtures/psbt/1.empty.psbt.txt
  modules/utxo-bin/test/fixtures/psbt/2.addDescriptorInput.psbt
  modules/utxo-bin/test/fixtures/psbt/2.addDescriptorInput.psbt.txt
  modules/utxo-bin/test/fixtures/psbt/3.addOutput.psbt
  modules/utxo-bin/test/fixtures/psbt/3.addOutput.psbt.txt
  modules/utxo-bin/test/fixtures/psbt/4.addMaxOutput.psbt
  modules/utxo-bin/test/fixtures/psbt/4.addMaxOutput.psbt.txt
  modules/utxo-bin/test/fixtures/psbt/5.sign.psbt
  modules/utxo-bin/test/fixtures/psbt/5.sign.psbt.txt
  modules/utxo-bin/test/fixtures/psbt/6.finalize.psbt
  modules/utxo-bin/test/fixtures/psbt/6.finalize.psbt.txt
  modules/utxo-bin/test/fixtures/psbt/7.extract.hex
  modules/utxo-bin/test/fixtures/psbt/7.extract.hex.txt
Due: none

fix(utxo-bin): update @bitgo/unspents to 0.47.14
  modules/utxo-bin/package.json
Due: none

fix(utxo-bin): add missing command `address fromDescriptor`
  modules/utxo-bin/src/commands/cmdAddress/index.ts
Due: none

chore(sdk-core): add feeMultiplier to sendmany params
  modules/sdk-core/src/bitgo/wallet/iWallet.ts
Due: none

feat: add NU6 consensus id support for tzec
  modules/bitgo/test/v2/unit/coins/utxo/fixtures/tzec/recovery/backupKeyRecovery-p2sh-fullSignedRecovery-customUserKeyPath.json
  modules/bitgo/test/v2/unit/coins/utxo/fixtures/tzec/recovery/backupKeyRecovery-p2sh-fullSignedRecovery.json
  modules/bitgo/test/v2/unit/coins/utxo/fixtures/tzec/recovery/backupKeyRecovery-p2sh-keyRecoveryService-dai.json
  modules/bitgo/test/v2/unit/coins/utxo/fixtures/tzec/recovery/backupKeyRecovery-p2sh-keyRecoveryService-keyternal.json
  modules/bitgo/test/v2/unit/coins/utxo/fixtures/tzec/transactions-p2sh-p2sh.json
  modules/utxo-lib/src/bitgo/transaction.ts
  modules/utxo-lib/src/bitgo/zcash/ZcashPsbt.ts
  modules/utxo-lib/src/bitgo/zcash/ZcashTransaction.ts
  modules/utxo-lib/src/bitgo/zcash/ZcashTransactionBuilder.ts
  modules/utxo-lib/test/bitgo/psbt/ZcashPsbt.ts
  modules/utxo-lib/test/integration_local_rpc/generate/fixtures.ts
  modules/utxo-lib/test/integration_local_rpc/generate/regtestNode.ts
  modules/utxo-lib/test/integration_local_rpc/parse.ts
Due: bitgo

fix(sdk-core): preprocess recipients before initiate
  modules/sdk-core/src/bitgo/wallet/wallet.ts
Due: none

fix: re-add writing of fixtures if not found
  modules/bitgo/test/v2/unit/coins/utxo/util/fixtures.ts
Due: bitgo

feat: default to NU6 consensus branch id for zcash
  modules/bitgo/test/v2/unit/coins/utxo/fixtures/zec/recovery/backupKeyRecovery-p2sh-fullSignedRecovery-customUserKeyPath.json
  modules/bitgo/test/v2/unit/coins/utxo/fixtures/zec/recovery/backupKeyRecovery-p2sh-fullSignedRecovery.json
  modules/bitgo/test/v2/unit/coins/utxo/fixtures/zec/recovery/backupKeyRecovery-p2sh-keyRecoveryService-dai.json
  modules/bitgo/test/v2/unit/coins/utxo/fixtures/zec/recovery/backupKeyRecovery-p2sh-keyRecoveryService-keyternal.json
  modules/bitgo/test/v2/unit/coins/utxo/fixtures/zec/transactions-p2sh-p2sh.json
  modules/utxo-lib/src/bitgo/transaction.ts
  modules/utxo-lib/src/bitgo/zcash/ZcashTransaction.ts
Due: bitgo

chore(root): release express
  Dockerfile
Due: none

fix(sdk-coin-etc): unsigned sweep error message
  modules/sdk-coin-etc/src/etc.ts
Due: none

fix(utxo-lib): add isCashaddrNetwork
  modules/utxo-lib/src/addressFormat.ts
Due: none

feat: bump wasm-miniscript to 2.0.0-beta.2
  modules/abstract-utxo/package.json
  yarn.lock
Due: none

feat(utxo-bin): make conversion table a little prettier
  modules/utxo-bin/src/AddressParser.ts
  modules/utxo-bin/test/fixtures/formatAddress/bitcoin_p2pkh_default_1LCVrCgbT26Ui1QyrhaGvvhrkVdDRAXxtt.all.txt
  modules/utxo-bin/test/fixtures/formatAddress/bitcoin_p2shP2wsh_default_33qtbAwm4ooBtMQenssbqDE1J4gSMMBRnb.all.txt
  modules/utxo-bin/test/fixtures/formatAddress/bitcoin_p2sh_default_361UWADXqgPsdf8L5Jga6GNPauMuBtT1eW.all.txt
  modules/utxo-bin/test/fixtures/formatAddress/bitcoin_p2trMusig2_default_bc1p5xqvqger0zdpcq6s3jznfz352exhk356p9hml6c69matmggrve9scdgsyg.all.txt
  modules/utxo-bin/test/fixtures/formatAddress/bitcoin_p2tr_default_bc1p8gv9m64s539mycj4m29wu8thy5n3y6u36xs58wq3yezrmqygwfnsjhucex.all.txt
  modules/utxo-bin/test/fixtures/formatAddress/bitcoin_p2wkh_default_bc1q62tshlryz9lrjlw9edaf4l5l3v3deg034uw28c.all.txt
  modules/utxo-bin/test/fixtures/formatAddress/bitcoin_p2wsh_default_bc1qeu6xmet5wqslj2w0wac0hx5gj6dupmp869cajrkt3kw6ud3kkecsdzf7hn.all.txt
  modules/utxo-bin/test/fixtures/formatAddress/bitcoincash_p2pkh_cashaddr_bitcoincash_qrffwzluvsghuwtach9h4xh7n79j9h9p7y50md7lc3.all.txt
  modules/utxo-bin/test/fixtures/formatAddress/bitcoincash_p2pkh_default_1LCVrCgbT26Ui1QyrhaGvvhrkVdDRAXxtt.all.txt
  modules/utxo-bin/test/fixtures/formatAddress/bitcoincash_p2sh_cashaddr_bitcoincash_pqh4utv0fm35eng6gycfwkuluc6l7e0q9vhaa54xz8.all.txt
  modules/utxo-bin/test/fixtures/formatAddress/bitcoincash_p2sh_default_361UWADXqgPsdf8L5Jga6GNPauMuBtT1eW.all.txt
  modules/utxo-bin/test/fixtures/formatAddress/ecash_p2pkh_cashaddr_ecash_qrffwzluvsghuwtach9h4xh7n79j9h9p7ydz0x997x.all.txt
  modules/utxo-bin/test/fixtures/formatAddress/ecash_p2pkh_default_1LCVrCgbT26Ui1QyrhaGvvhrkVdDRAXxtt.all.txt
  modules/utxo-bin/test/fixtures/formatAddress/ecash_p2sh_cashaddr_ecash_pqh4utv0fm35eng6gycfwkuluc6l7e0q9vwsflwuys.all.txt
  modules/utxo-bin/test/fixtures/formatAddress/ecash_p2sh_default_361UWADXqgPsdf8L5Jga6GNPauMuBtT1eW.all.txt
Due: none

fix(sdk-core): change expireAt for btc staking to string
  modules/sdk-core/src/bitgo/staking/iStakingWallet.ts
Due: none

feat(statics): added support for bsc cfx and erc20 acx
  modules/bitgo/test/v2/unit/coins/ofcToken.ts
  modules/statics/src/coins.ts
  modules/statics/src/ofc.ts
Due: bitgo, statics

feat(statics): added batch of tokens for onboarding
  modules/statics/src/base.ts
  modules/statics/src/coins.ts
Due: statics

feat(sdk-coin-apt): add wallet and address support
  modules/sdk-coin-apt/package.json
  modules/sdk-coin-apt/src/apt.ts
  modules/sdk-coin-apt/src/lib/constants.ts
  modules/sdk-coin-apt/src/lib/keyPair.ts
  modules/sdk-coin-apt/src/lib/utils.ts
  yarn.lock
Due: none

feat(sdk-core): add sender walletId for btc unstaking
  modules/bitgo/test/v2/fixtures/staking/stakingWallet.ts
  modules/bitgo/test/v2/unit/staking/stakingWalletNonTSS.ts
  modules/sdk-core/src/bitgo/staking/stakingWallet.ts
  modules/sdk-core/src/bitgo/wallet/iWallet.ts
Due: bitgo

feat(sdk-coin-celo): support eip1559 for celo
  modules/account-lib/src/index.ts
  modules/sdk-coin-celo/src/lib/index.ts
  modules/sdk-coin-celo/src/lib/resources.ts
  modules/sdk-coin-celo/src/lib/testnetTransactionBuilder.ts
  modules/sdk-coin-celo/src/lib/transactionBuilder.ts
  modules/sdk-coin-celo/src/tcelo.ts
  modules/sdk-coin-celo/test/resources/celo.ts
  modules/sdk-coin-celo/test/unit/getBuilder.ts
  modules/sdk-coin-celo/test/unit/transaction.ts
  modules/sdk-coin-celo/test/unit/transactionBuilder/send.ts
  modules/sdk-coin-celo/test/unit/transactionBuilder/walletInitialization.ts
Due: account-lib

fix(sdk-coin-xrp): support recovery from issuer address and currency
  modules/bitgo/test/v2/unit/recovery.ts
  modules/sdk-coin-xrp/src/lib/iface.ts
  modules/sdk-coin-xrp/src/lib/tokenTransferBuilder.ts
  modules/sdk-coin-xrp/src/lib/transferBuilder.ts
  modules/sdk-coin-xrp/src/lib/utils.ts
  modules/sdk-coin-xrp/src/xrp.ts
  modules/sdk-coin-xrp/test/resources/xrp.ts
  modules/sdk-coin-xrp/test/unit/xrp.ts
Due: bitgo

fix(sdk-coin-xrp): support recovery using issuer address and currency code
  modules/sdk-coin-xrp/src/lib/iface.ts
  modules/sdk-coin-xrp/src/lib/utils.ts
  modules/sdk-coin-xrp/src/xrp.ts
  modules/sdk-coin-xrp/test/unit/xrp.ts
Due: none

feat(sdk-coin-apt): addition of apt skeleton in account-lib
  modules/account-lib/package.json
  modules/account-lib/src/index.ts
Due: account-lib

feat(statics): added drift token
  modules/statics/src/base.ts
  modules/statics/src/coins.ts
Due: statics

feat(statics): ungate assets for germany trust
  modules/statics/src/coins.ts
  modules/statics/test/unit/coins.ts
Due: statics

feat(statics): add staking feature to TWCT tokens Ticket: SC-552
  modules/statics/src/coins.ts
Due: statics

feat(bitgo): extend utxoCoins test to cover new fields
  modules/bitgo/test/v2/unit/coins/utxo/coins.ts
Due: bitgo

feat(abstract-utxo): make AbstractUtxoCoin less abstract
  modules/abstract-utxo/src/abstractUtxoCoin.ts
  modules/abstract-utxo/src/names.ts
  modules/bitgo/test/v2/unit/coins/utxo/coins.ts
  modules/sdk-coin-bch/src/bch.ts
  modules/sdk-coin-bch/src/tbch.ts
  modules/sdk-coin-bcha/src/bcha.ts
  modules/sdk-coin-bcha/src/tbcha.ts
  modules/sdk-coin-bsv/src/bsv.ts
  modules/sdk-coin-bsv/src/tbsv.ts
  modules/sdk-coin-btc/src/btc.ts
  modules/sdk-coin-btc/src/tbtc.ts
  modules/sdk-coin-btc/src/tbtc4.ts
  modules/sdk-coin-btc/src/tbtcbgsig.ts
  modules/sdk-coin-btc/src/tbtcsig.ts
  modules/sdk-coin-btg/src/btg.ts
  modules/sdk-coin-dash/src/dash.ts
  modules/sdk-coin-dash/src/tdash.ts
  modules/sdk-coin-doge/src/doge.ts
  modules/sdk-coin-doge/src/tdoge.ts
  modules/sdk-coin-ltc/src/ltc.ts
  modules/sdk-coin-ltc/src/tltc.ts
  modules/sdk-coin-zec/src/tzec.ts
  modules/sdk-coin-zec/src/zec.ts
Due: bitgo

refactor(abstract-utxo): accept better arguments for explainTx and explainPsbt
  modules/abstract-utxo/src/abstractUtxoCoin.ts
  modules/abstract-utxo/src/transaction.ts
Due: none

refactor(abstract-utxo): add decodeTransaction method
  modules/abstract-utxo/src/abstractUtxoCoin.ts
Due: none

refactor(abstract-utxo): split transaction.ts into multiple files
  modules/abstract-utxo/src/transaction/explainTransaction.ts
  modules/abstract-utxo/src/transaction/fetchInputs.ts
  modules/abstract-utxo/src/transaction/index.ts
  modules/abstract-utxo/src/transaction/recipient.ts
Due: none

fix: handle signPsbtRequest with Bluebird
  modules/sdk-api/src/v1/wallet.ts
Due: none

chore(sdk-core): switch to new API url for create wallet
  modules/bitgo/test/v2/unit/lightning/lightningWallets.ts
  modules/bitgo/test/v2/unit/wallets.ts
  modules/sdk-core/src/bitgo/wallet/wallets.ts
Due: bitgo

Path conditions:
  bitgo: any of: modules/bitgo
  account-lib: any of: modules/account-lib
  statics: any of: modules/statics
  express: any of: modules/express
