Repository BitGo/BitGoJS: changes, and which Codecov flags are due for each by the changed paths.
All: bitgo, account-lib, statics, express

.codecov.yml:

coverage:
  status:
    project: off
    patch: off
comment:
  layout: "diff, flags, files"
  require_changes: true
flags:
  bitgo:
    paths:
      - modules/core
  account-lib:
    paths:
      - modules/account-lib
  statics:
    paths:
      - modules/statics
  express:
    paths:
      - modules/express

fix: upgrade noble-bls12-381 from 0.7.2 to 0.15.0
  modules/bls-dkg/package.json
Due: none

fix: whitelist nonce as an intent param
  modules/bitgo/src/v2/internal/tssUtils.ts
  modules/bitgo/src/v2/wallet.ts
Due: none

chore(sdk-api): project init - adds a new project for api requests only - adds a new project for core types & classes
  modules/bitgo/package.json
  modules/sdk-api/.eslintignore
  modules/sdk-api/.gitignore
  modules/sdk-api/.mocharc.js
  modules/sdk-api/.npmignore
  modules/sdk-api/.prettierignore
  modules/sdk-api/.prettierrc.yml
  modules/sdk-api/package.json
  modules/sdk-api/src/bitgoAPI.ts
  modules/sdk-api/src/index.ts
  modules/sdk-api/src/types.ts
  modules/sdk-api/tsconfig.json
  modules/sdk-core/.eslintignore
  modules/sdk-core/.gitignore
  modules/sdk-core/.mocharc.js
  modules/sdk-core/.npmignore
  modules/sdk-core/.prettierignore
  modules/sdk-core/.prettierrc.yml
  modules/sdk-core/package.json
  modules/sdk-core/src/index.ts
  modules/sdk-core/tsconfig.json
Due: none

chore(root): wireup typescript project references - adds necessary configuration to link projects together - adds root level command 'dev' to compile all in real-time
  DEVELOPERS.md
  modules/account-lib/package.json
  modules/account-lib/tsconfig.json
  modules/bitgo/package.json
  modules/bitgo/tsconfig.json
  modules/blockapis/package.json
  modules/blockapis/tsconfig.json
  modules/express/package.json
  modules/express/tsconfig.json
  modules/sdk-api/.npmignore
  modules/sdk-api/package.json
  modules/sdk-api/tsconfig.json
  modules/sdk-api/webpack.config.js
  modules/sdk-core/.npmignore
  modules/sdk-core/package.json
  modules/sdk-core/tsconfig.json
  modules/statics/package.json
  modules/statics/tsconfig.json
  modules/utxo-bin/package.json
  modules/utxo-bin/tsconfig.json
  modules/utxo-lib/package.json
  modules/utxo-lib/tsconfig.build.json
  package.json
  tsconfig.json
  tsconfig.packages.json
Due: account-lib, statics, express

chore(sdk-core): refactor Environment to core
  modules/bitgo/src/bitgo.ts
  modules/bitgo/src/config.ts
  modules/bitgo/src/index.ts
  modules/bitgo/src/v2/environments.ts
  modules/bitgo/test/v2/lib/recovery-nocks.ts
  modules/bitgo/test/v2/unit/coins/utxo/util/nockBitGo.ts
  modules/bitgo/test/v2/unit/environments.ts
  modules/bitgo/test/v2/unit/trading/tradingAccount.ts
  modules/bitgo/test/v2/unit/trading/tradingPartner.ts
  modules/sdk-api/src/bitgoAPI.ts
  modules/sdk-core/src/index.ts
  modules/sdk-core/src/types/environmentName.ts
  modules/sdk-core/src/types/index.ts
Due: none

chore(sdk-api): remove moment - replaces 1 line & completely removes dep on moment js
  modules/sdk-api/src/bitgoAPI.ts
Due: none

chore(sdk-api): fix package.json directory
  modules/sdk-api/package.json
  modules/sdk-core/package.json
Due: none

feat(statics): add april tokens ERC20 and algo token
  modules/statics/src/base.ts
  modules/statics/src/coins.ts
Due: statics

fix(bitgo): fix non native decimalPlaces
  modules/bitgo/src/v2/coins/algoToken.ts
  modules/bitgo/test/v2/unit/coins/algoToken.ts
Due: none

chore(release): publish modules
  modules/bitgo/CHANGELOG.md
  modules/bitgo/package.json
  modules/express/CHANGELOG.md
  modules/express/package-lock.json
  modules/express/package.json
Due: express

chore: improve robustness of Sol transactions
  modules/bitgo/src/v2/baseCoin.ts
  modules/bitgo/src/v2/coins/sol.ts
  modules/bitgo/src/v2/wallet.ts
  modules/bitgo/test/v2/unit/coins/sol.ts
  modules/bitgo/test/v2/unit/wallets.ts
Due: none

chore(release): publish modules
  modules/account-lib/package.json
  modules/bitgo/package.json
  modules/blockapis/package.json
  modules/express/package-lock.json
  modules/express/package.json
  modules/sdk-api/package.json
  modules/sdk-core/package.json
  modules/statics/package.json
  modules/unspents/package.json
  modules/utxo-bin/package.json
  modules/utxo-lib/package.json
Due: account-lib, statics, express

fix(express): remove express from build system - unblocks building docker image
  modules/express/package.json
  modules/express/tsconfig.json
  tsconfig.packages.json
Due: express

fix: upgrade ripple-lib from 1.4.2 to 1.10.0
  modules/bitgo/package.json
Due: none

fix: upgrade eol from 0.5.1 to 0.9.1
  modules/bitgo/package.json
Due: none

fix: upgrade ripple-address-codec from 4.1.3 to 4.2.3
  modules/bitgo/package.json
Due: none

fix: upgrade openpgp from 5.1.0 to 5.2.1
  modules/bitgo/package.json
Due: none

fix: upgrade @hashgraph/sdk from 2.3.0 to 2.11.3
  modules/account-lib/package.json
Due: account-lib

fix: upgrade @solana/web3.js from 1.31.0 to 1.36.0
  modules/account-lib/package.json
Due: account-lib

fix: upgrade casper-js-sdk from 2.7.6 to 2.9.1
  modules/account-lib/package.json
Due: account-lib

chore: update support and owner references
  CODEOWNERS
  modules/account-lib/package.json
  modules/bitgo/test/lib/test_bitgo.ts
  modules/bls-dkg/package.json
  modules/express/package.json
  modules/express/test/lib/test_bitgo.ts
  modules/sjcl/package.json
  modules/statics/CODEOWNERS
  modules/statics/package.json
  modules/unspents/package.json
Due: account-lib, statics, express

chore: lerna commands, changelog updates, publish scripts
  package.json
Due: none

fix: getWallet should search v1 wallets if not found in v2 wallets
  modules/bitgo/src/v2/coins/utxo/recovery/crossChainRecovery.ts
Due: none

fix: v1 get wallet
  modules/bitgo/src/v2/coins/utxo/recovery/crossChainRecovery.ts
  modules/bitgo/test/v2/unit/coins/utxo/recovery/crossChainRecovery.ts
Due: none

fix(express): build express outside TS Build systm
  modules/express/package.json
  modules/express/test/integration/bitgoExpress.ts
  modules/express/tsconfig.json
  tsconfig.json
  tsconfig.packages.json
  yarn.lock
Due: express

chore(express): add build step to CI
  .github/workflows/ci.yml
Due: none

feat(core): core changes and test script STLX-15477
  modules/bitgo/src/v2/coins/sol.ts
  modules/bitgo/src/v2/internal/tssUtils.ts
  modules/bitgo/src/v2/wallet.ts
  testTokenTransfer.ts
  yarn.lock
Due: none

feat(account-lib): support creating TSS keyshares with seed
  modules/account-lib/src/mpc/tss.ts
  modules/account-lib/test/unit/mpc/tss.ts
Due: account-lib

chore(release): publish modules
  modules/account-lib/CHANGELOG.md
  modules/account-lib/package.json
  modules/bitgo/CHANGELOG.md
  modules/bitgo/package.json
  modules/bls-dkg/CHANGELOG.md
  modules/bls-dkg/package.json
  modules/express/CHANGELOG.md
  modules/express/package-lock.json
  modules/express/package.json
  modules/sdk-api/CHANGELOG.md
  modules/sdk-api/package.json
  modules/sjcl/CHANGELOG.md
  modules/sjcl/package.json
  modules/statics/CHANGELOG.md
  modules/statics/package.json
  modules/unspents/CHANGELOG.md
  modules/unspents/package.json
  modules/utxo-bin/CHANGELOG.md
  modules/utxo-bin/package.json
Due: account-lib, statics, express

chore(release): publish modules
  modules/account-lib/CHANGELOG.md
  modules/account-lib/package.json
  modules/bitgo/CHANGELOG.md
  modules/bitgo/package.json
  modules/express/CHANGELOG.md
  modules/express/package-lock.json
  modules/express/package.json
  modules/statics/CHANGELOG.md
  modules/statics/package.json
  modules/utxo-bin/CHANGELOG.md
  modules/utxo-bin/package.json
Due: account-lib, statics, express

fix(bitgo): fix sdk-api export
  modules/bitgo/src/index.ts
Due: none

fix(account-lib): test tss hsm signex tx
  modules/account-lib/src/coin/near/transaction.ts
  modules/account-lib/src/coin/near/utils.ts
  modules/account-lib/test/unit/coin/near/keyPair.ts
Due: account-lib

feat(sdk-core): define a BitGo object interface in sdk core BG-46420
  modules/sdk-core/src/ibitgo.ts
Due: none

feat(sdk-core): add sdk-api, utxo-lib, and bitgo to sdk-core dependencies BG-46420
  modules/sdk-core/package.json
Due: none

fix(statics): fix precision for ofcterc
  modules/bitgo/test/v2/unit/coins/ofcToken.ts
  modules/statics/src/coins.ts
Due: statics

fix(bitgo): fix verifyTransaction for near
  modules/bitgo/src/v2/coins/near.ts
  modules/bitgo/test/v2/fixtures/coins/near.ts
  modules/bitgo/test/v2/unit/coins/near.ts
Due: none

chore: add api versioning to tx requests
  modules/bitgo/src/v2/internal/tssUtils.ts
  modules/bitgo/test/v2/unit/internal/tssUtils.ts
Due: none

chore(release): publish modules
  modules/account-lib/package.json
  modules/bitgo/package.json
  modules/express/package-lock.json
  modules/express/package.json
  modules/statics/package.json
  modules/utxo-bin/package.json
Due: account-lib, statics, express
