Repository BitGo/BitGoJS: changes, and which Codecov flags are due for each by the changed paths.
All: bitgo, account-lib, statics, express

.codecov.yml:

coverage:
  status:
    project: off
    patch: off
comment:
  layout: "diff, flags, files"
  require_changes: true
flags:
  bitgo:
    paths:
      - modules/core
  account-lib:
    paths:
      - modules/account-lib
  statics:
    paths:
      - modules/statics
  express:
    paths:
      - modules/express

fix(statics): update avaxp network to use number instead of bigint bigint cannot be parsed when download transaction Ticket: STLX-17918
  modules/statics/src/networks.ts
  modules/utxo-bin/.mocharc.js
Due: statics

feat(utxo-bin): improve zcash tx parsing
  modules/utxo-bin/src/parse.ts
  modules/utxo-bin/test/fixtures/format_p2shP2wsh_all_prevOuts.txt
  modules/utxo-bin/test/fixtures/format_p2shP2wsh_default_prevOuts.txt
  modules/utxo-bin/test/fixtures/format_p2sh_all_prevOuts.txt
  modules/utxo-bin/test/fixtures/format_p2sh_default_prevOuts.txt
  modules/utxo-bin/test/fixtures/format_p2tr_all_prevOuts.txt
  modules/utxo-bin/test/fixtures/format_p2tr_default_prevOuts.txt
  modules/utxo-bin/test/fixtures/format_p2wsh_all_prevOuts.txt
  modules/utxo-bin/test/fixtures/format_p2wsh_default_prevOuts.txt
Due: none

fix(account-lib): fix proper format for compressed hex points
  modules/account-lib/test/unit/mpc/tss/ecdsa/ecdsa.ts
  modules/sdk-core/src/account-lib/mpc/curves/secp256k1.ts
  modules/sdk-core/src/account-lib/mpc/tss/ecdsa/ecdsa.ts
Due: account-lib

chore(sdk-coin-near): project init
  Dockerfile
  modules/bitgo/package.json
  modules/bitgo/tsconfig.json
  modules/sdk-coin-near/.eslintignore
  modules/sdk-coin-near/.gitignore
  modules/sdk-coin-near/.mocharc.yml
  modules/sdk-coin-near/.npmignore
  modules/sdk-coin-near/.prettierignore
  modules/sdk-coin-near/.prettierrc.yml
  modules/sdk-coin-near/README.md
  modules/sdk-coin-near/package.json
  modules/sdk-coin-near/src/index.ts
  modules/sdk-coin-near/tsconfig.json
  tsconfig.packages.json
Due: none

chore(sdk-coin-near): move account-lib code
  modules/account-lib/package.json
  modules/account-lib/src/index.ts
  modules/account-lib/tsconfig.json
  modules/sdk-coin-near/package.json
  modules/sdk-coin-near/src/index.ts
  modules/sdk-coin-near/src/lib/constants.ts
  modules/sdk-coin-near/src/lib/contractCallWrapper.ts
  modules/sdk-coin-near/src/lib/errors.ts
  modules/sdk-coin-near/src/lib/iface.ts
  modules/sdk-coin-near/src/lib/index.ts
  modules/sdk-coin-near/src/lib/keyPair.ts
  modules/sdk-coin-near/src/lib/stakingActivateBuilder.ts
  modules/sdk-coin-near/src/lib/stakingDeactivateBuilder.ts
  modules/sdk-coin-near/src/lib/stakingWithdrawBuilder.ts
  modules/sdk-coin-near/src/lib/transaction.ts
  modules/sdk-coin-near/src/lib/transactionBuilder.ts
  modules/sdk-coin-near/src/lib/transactionBuilderFactory.ts
  modules/sdk-coin-near/src/lib/transferBuilder.ts
  modules/sdk-coin-near/src/lib/utils.ts
  modules/sdk-coin-near/src/lib/walletInitializationBuilder.ts
  modules/sdk-coin-near/tsconfig.json
Due: account-lib

chore(sdk-coin-near): move account-lib tests
  modules/sdk-coin-near/test/resources/near.ts
  modules/sdk-coin-near/test/unit/getBuilderFactory.ts
  modules/sdk-coin-near/test/unit/keyPair.ts
  modules/sdk-coin-near/test/unit/transaction.ts
  modules/sdk-coin-near/test/unit/transactionBuilder/stakingActivateBuilder.ts
  modules/sdk-coin-near/test/unit/transactionBuilder/stakingDeactivateBuilder.ts
  modules/sdk-coin-near/test/unit/transactionBuilder/stakingWithdrawBuilder.ts
  modules/sdk-coin-near/test/unit/transactionBuilder/transactionBuilder.ts
  modules/sdk-coin-near/test/unit/transactionBuilder/transferBuilder.ts
  modules/sdk-coin-near/test/unit/utils.ts
Due: none

chore(sdk-coin-near): move bitgo to sdk-coin-near
  modules/bitgo/src/v2/coinFactory.ts
  modules/sdk-coin-near/package.json
  modules/sdk-coin-near/src/index.ts
  modules/sdk-coin-near/src/near.ts
  modules/sdk-coin-near/src/tnear.ts
  modules/sdk-coin-near/test/fixtures/near.ts
  modules/sdk-coin-near/test/unit/near.ts
Due: none

feat(sdk-coin-eth): add util for eth address from compressed point
  modules/sdk-coin-eth/src/lib/utils.ts
  modules/sdk-coin-eth/test/unit/utils.ts
Due: none

feat(account-lib): get rid of old ethereum lib
  modules/bitgo/package.json
  modules/bitgo/src/v2/coins/polygon.ts
  modules/sdk-coin-avaxc/package.json
  modules/sdk-coin-avaxc/src/lib/utils.ts
  modules/sdk-coin-celo/package.json
  modules/sdk-coin-celo/src/lib/stakingBuilder.ts
  modules/sdk-coin-celo/src/lib/types.ts
  modules/sdk-coin-celo/test/unit/transactionBuilder/send.ts
  modules/sdk-coin-eth/package.json
  modules/sdk-coin-eth/src/eth.ts
  modules/sdk-coin-eth/src/lib/transferBuilder.ts
  modules/sdk-coin-eth/src/lib/types.ts
  modules/sdk-coin-eth/src/lib/utils.ts
  modules/sdk-coin-eth/test/unit/utils.ts
  modules/sdk-coin-rbtc/test/unit/transactionBuilder/send.ts
  modules/sdk-coin-stx/package.json
  modules/sdk-coin-stx/src/lib/utils.ts
  modules/sdk-core/package.json
  yarn.lock
Due: none

chore(release): publish modules
  modules/abstract-eth/package.json
  modules/account-lib/package.json
  modules/bitgo/package.json
  modules/express/package.json
  modules/sdk-coin-celo/package.json
  modules/sdk-coin-doge/package.json
  modules/sdk-coin-etc/package.json
  modules/sdk-coin-near/package.json
  modules/sdk-coin-rbtc/package.json
  modules/sdk-coin-sol/package.json
  modules/sdk-coin-trx/package.json
  modules/utxo-bin/package.json
  modules/web-demo/package.json
Due: account-lib, express

fix(statics): update avaxp network to use string instead of bigint
  modules/sdk-coin-avaxp/src/avaxp.ts
  modules/sdk-coin-avaxp/src/lib/delegatorTxBuilder.ts
  modules/sdk-coin-avaxp/src/lib/transaction.ts
  modules/sdk-coin-avaxp/src/lib/validatorTxBuilder.ts
  modules/statics/src/networks.ts
  modules/utxo-bin/.mocharc.js
Due: statics

feat(sdk-coin-ada): implement key pair and utils for ada sdk Ticket: BG-50795
  modules/sdk-coin-ada/package.json
  modules/sdk-coin-ada/src/keyPair.ts
  modules/sdk-coin-ada/src/utils.ts
  modules/sdk-coin-ada/test/integration/index.ts
  modules/sdk-coin-ada/test/resources/index.ts
  modules/sdk-coin-ada/test/unit/index.ts
  modules/sdk-coin-ada/test/unit/keyPair.ts
  modules/sdk-coin-ada/test/unit/utils.ts
  modules/sdk-core/src/account-lib/baseCoin/enum.ts
  webpack/bitgojs.config.js
  yarn.lock
Due: none

chore: ofcerc20 for KEEP KNC LOOKS
  modules/statics/src/coins.ts
Due: statics

chore(sdk-coin-xlm): project init
  Dockerfile
  modules/bitgo/package.json
  modules/bitgo/tsconfig.json
  modules/sdk-coin-xlm/.eslintignore
  modules/sdk-coin-xlm/.gitignore
  modules/sdk-coin-xlm/.mocharc.yml
  modules/sdk-coin-xlm/.npmignore
  modules/sdk-coin-xlm/.prettierignore
  modules/sdk-coin-xlm/.prettierrc.yml
  modules/sdk-coin-xlm/README.md
  modules/sdk-coin-xlm/package.json
  modules/sdk-coin-xlm/src/index.ts
  modules/sdk-coin-xlm/tsconfig.json
  tsconfig.packages.json
Due: none

chore(sdk-coin-xlm): move bitgo code
  modules/bitgo/src/v2/coinFactory.ts
  modules/bitgo/src/v2/coins/index.ts
  modules/sdk-coin-xlm/package.json
  modules/sdk-coin-xlm/src/getStellarKeys.ts
  modules/sdk-coin-xlm/src/index.ts
  modules/sdk-coin-xlm/src/stellarToken.ts
  modules/sdk-coin-xlm/src/txlm.ts
  modules/sdk-coin-xlm/src/xlm.ts
  modules/sdk-coin-xlm/tsconfig.json
Due: none

chore(sdk-coin-xlm): move unit test
  modules/bitgo/test/v2/unit/baseCoin.ts
  modules/sdk-coin-xlm/test/unit/xlm.ts
Due: none

fix(sdk-coin-avaxp): ovc safe address derivation for avalanche
  modules/sdk-coin-avaxp/package.json
  modules/sdk-coin-avaxp/src/lib/keyPair.ts
  modules/sdk-coin-avaxp/test/unit/avaxp.ts
Due: none

chore(bitgo): add GBP
  modules/bitgo/src/v2/coinFactory.ts
  modules/bitgo/src/v2/coins/fiatgbp.ts
  modules/bitgo/src/v2/coins/index.ts
  modules/bitgo/src/v2/coins/tfiatgbp.ts
  modules/bitgo/test/v2/unit/coins/ofcToken.ts
  modules/statics/src/base.ts
  modules/statics/src/coins.ts
Due: statics

chore(bitgo): refactor ecdsa utils
  modules/sdk-core/src/bitgo/utils/tss/ecdsa/ecdsa.ts
  modules/sdk-core/src/bitgo/utils/tss/ecdsa/types.ts
Due: none

feat(sdk-coin-eth): modify address init code BG-52294
  modules/sdk-coin-eth/src/lib/transactionBuilder.ts
  modules/sdk-coin-eth/src/lib/utils.ts
  modules/sdk-coin-eth/src/lib/walletUtil.ts
  modules/sdk-coin-eth/test/resources/eth.ts
  modules/sdk-coin-eth/test/unit/utils.ts
Due: none

chore: use txfull schema for signTxRequest and lower fns
  modules/sdk-core/src/bitgo/tss/eddsa/eddsa.ts
  modules/sdk-core/src/bitgo/utils/tss/eddsa/eddsa.ts
Due: none

chore: ofcerc20 for HUM HXRO IMX INJ
  modules/statics/src/coins.ts
Due: statics

chore(sdk-coin-hbar): project init
  Dockerfile
  modules/bitgo/package.json
  modules/bitgo/tsconfig.json
  modules/sdk-coin-hbar/.eslintignore
  modules/sdk-coin-hbar/.gitignore
  modules/sdk-coin-hbar/.mocharc.yml
  modules/sdk-coin-hbar/.npmignore
  modules/sdk-coin-hbar/.prettierignore
  modules/sdk-coin-hbar/.prettierrc.yml
  modules/sdk-coin-hbar/README.md
  modules/sdk-coin-hbar/package.json
  modules/sdk-coin-hbar/src/index.ts
  modules/sdk-coin-hbar/tsconfig.json
  tsconfig.packages.json
Due: none

chore(sdk-coin-hbar): move account-lib code
  modules/account-lib/package.json
  modules/sdk-coin-hbar/package.json
  modules/sdk-coin-hbar/src/index.ts
  modules/sdk-coin-hbar/src/lib/coinTransferBuilder.ts
  modules/sdk-coin-hbar/src/lib/constants.ts
  modules/sdk-coin-hbar/src/lib/iface.ts
  modules/sdk-coin-hbar/src/lib/index.ts
  modules/sdk-coin-hbar/src/lib/keyPair.ts
  modules/sdk-coin-hbar/src/lib/tokenAssociateBuilder.ts
  modules/sdk-coin-hbar/src/lib/tokenTransferBuilder.ts
  modules/sdk-coin-hbar/src/lib/transaction.ts
  modules/sdk-coin-hbar/src/lib/transactionBuilder.ts
  modules/sdk-coin-hbar/src/lib/transactionBuilderFactory.ts
  modules/sdk-coin-hbar/src/lib/transferBuilder.ts
  modules/sdk-coin-hbar/src/lib/utils.ts
  modules/sdk-coin-hbar/src/lib/walletInitializationBuilder.ts
Due: account-lib

chore(sdk-coin-hbar): move account-lib tests
  modules/account-lib/package.json
  modules/account-lib/src/index.ts
  modules/account-lib/test/resources/eth2/eth2.ts
  modules/account-lib/tsconfig.json
  modules/sdk-coin-hbar/test/resources/hbar.ts
  modules/sdk-coin-hbar/test/unit/getBuilderFactory.ts
  modules/sdk-coin-hbar/test/unit/keyPair.ts
  modules/sdk-coin-hbar/test/unit/transaction.ts
  modules/sdk-coin-hbar/test/unit/transactionBuilder/tokenAssociateBuilder.ts
  modules/sdk-coin-hbar/test/unit/transactionBuilder/tokenTransferBuilder.ts
  modules/sdk-coin-hbar/test/unit/transactionBuilder/transferBuilder.ts
  modules/sdk-coin-hbar/test/unit/transactionBuilder/walletInitialization.ts
  modules/sdk-coin-hbar/test/unit/utils.ts
Due: account-lib

chore(sdk-coin-hbar): move bitgo code
  modules/bitgo/src/v2/coinFactory.ts
  modules/bitgo/src/v2/coins/index.ts
  modules/sdk-coin-hbar/package.json
  modules/sdk-coin-hbar/src/hbar.ts
  modules/sdk-coin-hbar/src/hbarToken.ts
  modules/sdk-coin-hbar/src/index.ts
  modules/sdk-coin-hbar/src/seedValidator.ts
  modules/sdk-coin-hbar/src/thbar.ts
Due: none

chore(sdk-coin-hbar): move bitgo unit tests
  modules/bitgo/test/v2/fixtures/coins/hbar.ts
  modules/sdk-coin-hbar/test/fixtures/hbar.ts
  modules/sdk-coin-hbar/test/unit/hbar.ts
  modules/sdk-coin-hbar/test/unit/hbarToken.ts
  modules/sdk-coin-hbar/tsconfig.json
Due: none

chore(account-lib): fix Poly import
  modules/account-lib/src/coin/polygon/transactionBuilder.ts
Due: account-lib

chore(sdk-coin-hbar): update tsconfig refs
  modules/sdk-coin-hbar/tsconfig.json
Due: none

fix: upgrade bitgo from 14.1.0 to 14.1.1
  modules/express/package.json
Due: express

Revert "feat(statics): update terra a classic"
  modules/statics/src/base.ts
  modules/statics/src/coins.ts
Due: statics

feat(bitgo): add near hot wallet recovery method
  modules/sdk-coin-near/package.json
  modules/sdk-coin-near/src/near.ts
  modules/sdk-coin-near/test/fixtures/near.ts
  modules/sdk-coin-near/test/unit/near.ts
Due: none

fix(sdk-coin-hbar): expose transfer builder class
  modules/sdk-coin-hbar/src/lib/index.ts
Due: none

feat: support preview mode for consolidation
  modules/sdk-core/src/bitgo/wallet/wallet.ts
Due: none

fix(sdk-coin-celo): sanitize input
  modules/sdk-coin-celo/src/lib/types.ts
Due: none
