Repository BitGo/BitGoJS: changes, and which Codecov flags are due for each by the changed paths.
All: bitgo, account-lib, statics, express

.codecov.yml:

coverage:
  status:
    project: off
    patch: off
comment:
  layout: "diff, flags, files"
  require_changes: true
flags:
  bitgo:
    paths:
      - modules/core
  account-lib:
    paths:
      - modules/account-lib
  statics:
    paths:
      - modules/statics
  express:
    paths:
      - modules/express

chore(root): run husky precommit from root
  .husky/pre-commit
  modules/account-lib/package.json
  modules/bitgo/.lintstagedrc.yml
  modules/bitgo/package.json
  modules/blockapis/package.json
  modules/express/.lintstagedrc.yml
  modules/express/package.json
  modules/sdk-api/package.json
  modules/sdk-core/package.json
  modules/statics/package.json
  modules/unspents/package.json
  modules/utxo-bin/package.json
  modules/utxo-lib/package.json
  modules/web-demo/package.json
  package.json
  yarn.lock
Due: account-lib, statics, express

chore(root): actual lint fixes
  modules/bitgo/example/js/eth/create-wallet-address.js
  modules/bitgo/example/js/eth/create-wallet.js
  modules/bitgo/example/js/update-wallet-forwarders.js
  modules/bitgo/example/ts/add-webhook.ts
  modules/bitgo/example/ts/update-wallet-forwarders.ts
  modules/bitgo/test/v2/fixtures/coins/algo.ts
  modules/bitgo/test/v2/fixtures/coins/eos.ts
  modules/bitgo/test/v2/fixtures/coins/sol.ts
  modules/bitgo/test/v2/unit/coins/avaxc.ts
  modules/bitgo/test/v2/unit/coins/eth.ts
  modules/bitgo/test/v2/unit/coins/sol.ts
  modules/bitgo/test/v2/unit/keychains.ts
  modules/bitgo/test/v2/unit/wallet.ts
  modules/express/src/config.ts
  modules/express/test/integration/bitgoExpressV1.ts
  modules/express/test/lib/test_bitgo.ts
  modules/express/test/lib/testutil.ts
  modules/express/test/unit/bitgoExpress.ts
  modules/express/test/unit/clientRoutes/createAddress.ts
  modules/web-demo/.prettierrc
  modules/web-demo/src/assets/stylesheets/app.scss
  yarn.lock
Due: express

feat(statics): add polygon coin config BG-41725
  modules/statics/src/base.ts
  modules/statics/src/coins.ts
  modules/statics/src/networks.ts
Due: statics

chore(release): publish modules
  modules/account-lib/CHANGELOG.md
  modules/account-lib/package.json
  modules/bitgo/CHANGELOG.md
  modules/bitgo/package.json
  modules/blockapis/CHANGELOG.md
  modules/blockapis/package.json
  modules/express/CHANGELOG.md
  modules/express/package-lock.json
  modules/express/package.json
  modules/sdk-api/CHANGELOG.md
  modules/sdk-api/package.json
  modules/sdk-core/CHANGELOG.md
  modules/sdk-core/package.json
  modules/statics/CHANGELOG.md
  modules/statics/package.json
  modules/unspents/CHANGELOG.md
  modules/unspents/package.json
  modules/utxo-bin/CHANGELOG.md
  modules/utxo-bin/package.json
  modules/utxo-lib/CHANGELOG.md
  modules/utxo-lib/package.json
  modules/web-demo/CHANGELOG.md
  modules/web-demo/package.json
Due: account-lib, statics, express

feat(statics): add fly coin
  modules/statics/src/base.ts
  modules/statics/src/coins.ts
Due: statics

fix(statics): remove bn.js dependency
  modules/statics/src/networks.ts
Due: statics

feat(sdk-core): Define new BitGoBase interface in sdk-core
  modules/bitgo/src/tss.ts
  modules/bitgo/src/v2/baseCoin.ts
  modules/bitgo/src/v2/coins/abstractUtxoCoin.ts
  modules/bitgo/src/v2/coins/utxo/recovery/backupKeyRecovery.ts
  modules/bitgo/src/v2/coins/utxo/recovery/crossChainRecovery.ts
  modules/bitgo/src/v2/enterprise.ts
  modules/bitgo/src/v2/enterprises.ts
  modules/bitgo/src/v2/internal/internal.ts
  modules/bitgo/src/v2/internal/mpcUtils.ts
  modules/bitgo/src/v2/internal/opengpgUtils.ts
  modules/bitgo/src/v2/internal/tssUtils.ts
  modules/bitgo/src/v2/keychains.ts
  modules/bitgo/src/v2/markets.ts
  modules/bitgo/src/v2/pendingApproval.ts
  modules/bitgo/src/v2/pendingApprovals.ts
  modules/bitgo/src/v2/recovery/initiate.ts
  modules/bitgo/src/v2/trading/affirmation.ts
  modules/bitgo/src/v2/trading/affirmations.ts
  modules/bitgo/src/v2/trading/settlements.ts
  modules/bitgo/src/v2/trading/tradingAccount.ts
  modules/bitgo/src/v2/trading/tradingPartner.ts
  modules/bitgo/src/v2/trading/tradingPartners.ts
  modules/bitgo/src/v2/wallet.ts
  modules/bitgo/src/v2/wallets.ts
  modules/bitgo/src/v2/webhooks.ts
  modules/sdk-core/package.json
  modules/sdk-core/src/bitgo/bitgoBase.ts
  modules/sdk-core/src/bitgo/environments.ts
  modules/sdk-core/src/bitgo/index.ts
  modules/sdk-core/src/bitgo/types.ts
  modules/sdk-core/src/common.ts
  modules/sdk-core/src/index.ts
Due: none

fix: v1 getWallet call
  modules/bitgo/src/v2/coins/utxo/recovery/crossChainRecovery.ts
  modules/bitgo/test/v2/unit/coins/utxo/recovery/crossChainRecovery.ts
Due: none

fix(bitgo): update the hardcoded decimal place to be dynamic
  modules/bitgo/src/v2/coins/eos.ts
  modules/bitgo/src/v2/coins/eosToken.ts
Due: none

chore(express): bump bitgo version in express
  modules/express/package.json
Due: express

chore(release): publish modules
  modules/bitgo/CHANGELOG.md
  modules/bitgo/package.json
  modules/express/CHANGELOG.md
  modules/express/package-lock.json
  modules/express/package.json
  modules/web-demo/CHANGELOG.md
  modules/web-demo/package.json
Due: express

fix(bitgo): getUnspentInfo to handle missing unspents
  modules/bitgo/src/v2/coins/utxo/recovery/crossChainRecovery.ts
  modules/bitgo/test/v2/unit/coins/utxo/recovery/crossChainRecovery.ts
Due: none

chore(sdk-core): update missing imports
  modules/sdk-core/package.json
  modules/sdk-core/src/account-lib/util/crypto.ts
Due: none

chore(release): publish modules
  modules/account-lib/CHANGELOG.md
  modules/account-lib/package.json
  modules/bitgo/CHANGELOG.md
  modules/bitgo/package.json
  modules/express/CHANGELOG.md
  modules/express/package-lock.json
  modules/express/package.json
  modules/sdk-api/CHANGELOG.md
  modules/sdk-api/package.json
  modules/sdk-core/CHANGELOG.md
  modules/sdk-core/package.json
  modules/web-demo/CHANGELOG.md
  modules/web-demo/package.json
Due: account-lib, express

chore(sdk-core): add placeholder interfaces
  modules/sdk-core/src/bitgo/baseCoin.ts
  modules/sdk-core/src/bitgo/enterprise.ts
  modules/sdk-core/src/bitgo/enterprises.ts
  modules/sdk-core/src/bitgo/keychains.ts
  modules/sdk-core/src/bitgo/markets.ts
  modules/sdk-core/src/bitgo/pendingApproval.ts
  modules/sdk-core/src/bitgo/pendingApprovals.ts
  modules/sdk-core/src/bitgo/wallet.ts
  modules/sdk-core/src/bitgo/wallets.ts
  modules/sdk-core/src/bitgo/webhooks.ts
  tsconfig.json
Due: none

chore(sdk-core): move api interfaces to sdk-core
  modules/bitgo/src/v2/internal/util.ts
  modules/bitgo/src/v2/wallets.ts
  modules/sdk-api/src/api.ts
  modules/sdk-api/src/bitgoAPI.ts
  modules/sdk-api/src/types.ts
  modules/sdk-core/src/api/index.ts
  modules/sdk-core/src/api/types.ts
  modules/sdk-core/src/bitgo/bitgoBase.ts
  modules/sdk-core/src/index.ts
Due: none

chore(sdk-core): rename files with i prefix
  modules/sdk-core/src/bitgo/iBaseCoin.ts
  modules/sdk-core/src/bitgo/iEnterprise.ts
  modules/sdk-core/src/bitgo/iEnterprises.ts
  modules/sdk-core/src/bitgo/iKeychains.ts
  modules/sdk-core/src/bitgo/iMarkets.ts
  modules/sdk-core/src/bitgo/iPendingApproval.ts
  modules/sdk-core/src/bitgo/iPendingApprovals.ts
  modules/sdk-core/src/bitgo/iWallet.ts
  modules/sdk-core/src/bitgo/iWallets.ts
  modules/sdk-core/src/bitgo/iWebhooks.ts
  modules/sdk-core/src/bitgo/index.ts
  modules/sdk-core/src/bitgo/markets.ts
Due: none

chore(sdk-core): rename classes to i prefix
  modules/sdk-core/src/bitgo/iBaseCoin.ts
  modules/sdk-core/src/bitgo/iEnterprise.ts
  modules/sdk-core/src/bitgo/iEnterprises.ts
  modules/sdk-core/src/bitgo/iKeychains.ts
  modules/sdk-core/src/bitgo/iPendingApproval.ts
  modules/sdk-core/src/bitgo/iPendingApprovals.ts
  modules/sdk-core/src/bitgo/iWallet.ts
  modules/sdk-core/src/bitgo/iWallets.ts
  modules/sdk-core/src/bitgo/iWebhooks.ts
Due: none

chore(sdk-core): extract webhooks interface
  modules/sdk-core/src/bitgo/iWebhooks.ts
Due: none

chore(sdk-core): extract keychain interface
  modules/sdk-core/src/bitgo/iKeychains.ts
Due: none

chore(sdk-core): add iBaseCoin
  modules/sdk-core/src/account-lib/mpc/hdTree.ts
  modules/sdk-core/src/account-lib/mpc/shamir.ts
  modules/sdk-core/src/account-lib/mpc/tss.ts
  modules/sdk-core/src/bitgo/iBaseCoin.ts
  modules/sdk-core/src/bitgo/iKeychains.ts
  modules/sdk-core/src/bitgo/recovery/index.ts
  modules/sdk-core/src/bitgo/utils/iTssUtils.ts
Due: none

chore(sdk-core): extract wallet interface
  modules/sdk-core/src/bitgo/iBaseCoin.ts
  modules/sdk-core/src/bitgo/iPendingApproval.ts
  modules/sdk-core/src/bitgo/iWallet.ts
  modules/sdk-core/src/bitgo/index.ts
  modules/sdk-core/src/bitgo/trading/iTradingAccount.ts
Due: none

chore(sdk-core): extract wallets interface
  modules/sdk-core/src/bitgo/iWallets.ts
Due: none

chore(sdk-core): extract enterprise and enterprises interfaces
  modules/sdk-core/src/bitgo/iEnterprise.ts
  modules/sdk-core/src/bitgo/iEnterprises.ts
  modules/sdk-core/src/bitgo/iWallet.ts
  modules/sdk-core/src/bitgo/trading/iAffirmations.ts
  modules/sdk-core/src/bitgo/trading/iSettlements.ts
  modules/sdk-core/src/bitgo/trading/index.ts
Due: none

chore(sdk-core): extract TradingAccount interface - interface files for TradingAccount Ticket: BG-48171
  modules/sdk-core/src/bitgo/index.ts
  modules/sdk-core/src/bitgo/trading/iAffirmation.ts
  modules/sdk-core/src/bitgo/trading/iAffirmations.ts
  modules/sdk-core/src/bitgo/trading/iSettlement.ts
  modules/sdk-core/src/bitgo/trading/iSettlements.ts
  modules/sdk-core/src/bitgo/trading/iTradingAccount.ts
  modules/sdk-core/src/bitgo/trading/iTradingPartner.ts
  modules/sdk-core/src/bitgo/trading/iTradingPartners.ts
  modules/sdk-core/src/bitgo/trading/index.ts
  modules/sdk-core/src/bitgo/trading/lock.ts
  modules/sdk-core/src/bitgo/trading/payload.ts
  modules/sdk-core/src/bitgo/trading/trade.ts
Due: none

chore(sdk-core): extract PendingApproval and PendingApprovals interface
  modules/sdk-core/src/bitgo/iPendingApproval.ts
  modules/sdk-core/src/bitgo/iPendingApprovals.ts
Due: none

chore(sdk-core): move interfaces into folders
  modules/sdk-core/src/bitgo/baseCoin/iBaseCoin.ts
  modules/sdk-core/src/bitgo/baseCoin/index.ts
  modules/sdk-core/src/bitgo/enterprise/iEnterprise.ts
  modules/sdk-core/src/bitgo/enterprise/iEnterprises.ts
  modules/sdk-core/src/bitgo/enterprise/index.ts
  modules/sdk-core/src/bitgo/index.ts
  modules/sdk-core/src/bitgo/keychain/iKeychains.ts
  modules/sdk-core/src/bitgo/keychain/index.ts
  modules/sdk-core/src/bitgo/market/iMarkets.ts
  modules/sdk-core/src/bitgo/market/index.ts
  modules/sdk-core/src/bitgo/pendingApproval/iPendingApproval.ts
  modules/sdk-core/src/bitgo/pendingApproval/iPendingApprovals.ts
  modules/sdk-core/src/bitgo/pendingApproval/index.ts
  modules/sdk-core/src/bitgo/utils/iTssUtils.ts
  modules/sdk-core/src/bitgo/utils/index.ts
  modules/sdk-core/src/bitgo/wallet/iWallet.ts
  modules/sdk-core/src/bitgo/wallet/iWallets.ts
  modules/sdk-core/src/bitgo/wallet/index.ts
  modules/sdk-core/src/bitgo/webhook/iWebhooks.ts
  modules/sdk-core/src/bitgo/webhook/index.ts
Due: none

chore(sdk-core) reconcile duplicate types
  modules/bitgo/src/v2/baseCoin.ts
  modules/express/src/clientRoutes.ts
  modules/sdk-core/src/account-lib/baseCoin/iface.ts
Due: express

chore(express): update import
  modules/express/src/clientRoutes.ts
Due: express

chore(bitgo): update unit test imports
  modules/bitgo/test/lib/test_bitgo.ts
  modules/bitgo/test/v2/fixtures/trading/affirmation.ts
  modules/bitgo/test/v2/unit/coins/abstractUtxoCoin.ts
  modules/bitgo/test/v2/unit/coins/utxo/transaction.ts
  modules/bitgo/test/v2/unit/internal/blsUtils.ts
  modules/bitgo/test/v2/unit/internal/tssUtils.ts
  modules/bitgo/test/v2/unit/pendingApproval.ts
  modules/bitgo/test/v2/unit/trading/affirmation.ts
  modules/bitgo/test/v2/unit/trading/settlement.ts
  modules/bitgo/test/v2/unit/trading/tradingPartner.ts
  modules/bitgo/test/v2/unit/wallet.ts
  modules/express/test/unit/clientRoutes/generateWallet.ts
  modules/sdk-core/src/bitgo/bitgoBase.ts
Due: express

chore(bitgo): update coin imports
  modules/bitgo/src/v2/coins/abstractEthLikeCoin.ts
  modules/bitgo/src/v2/coins/abstractUtxoCoin.ts
  modules/bitgo/src/v2/coins/algo.ts
  modules/bitgo/src/v2/coins/avaxc.ts
  modules/bitgo/src/v2/coins/btc.ts
  modules/bitgo/src/v2/coins/cspr.ts
  modules/bitgo/src/v2/coins/dot.ts
  modules/bitgo/src/v2/coins/eos.ts
  modules/bitgo/src/v2/coins/eth.ts
  modules/bitgo/src/v2/coins/eth2.ts
  modules/bitgo/src/v2/coins/fiatusd.ts
  modules/bitgo/src/v2/coins/hbar.ts
  modules/bitgo/src/v2/coins/near.ts
  modules/bitgo/src/v2/coins/ofc.ts
  modules/bitgo/src/v2/coins/ofcToken.ts
  modules/bitgo/src/v2/coins/sol.ts
  modules/bitgo/src/v2/coins/stx.ts
  modules/bitgo/src/v2/coins/susd.ts
  modules/bitgo/src/v2/coins/trx.ts
  modules/bitgo/src/v2/coins/xlm.ts
  modules/bitgo/src/v2/coins/xrp.ts
  modules/bitgo/src/v2/coins/xtz.ts
  modules/bitgo/src/v2/internal/blsUtils.ts
  modules/bitgo/src/v2/internal/mpcUtils.ts
  modules/bitgo/src/v2/internal/parseOutput.ts
  modules/bitgo/src/v2/internal/tssUtils.ts
  modules/bitgo/src/v2/wallet.ts
  modules/bitgo/src/v2/wallets.ts
  modules/express/src/clientRoutes.ts
Due: express

chore(express): re-export types from bitgo
  modules/bitgo/src/index.ts
  modules/express/src/clientRoutes.ts
Due: express

feat(core): add core skeleton polygon BG-41726
  modules/account-lib/src/index.ts
  modules/core/src/v2/coinFactory.ts
  modules/core/src/v2/coins/index.ts
  modules/core/src/v2/coins/polygon.ts
  modules/core/src/v2/coins/tpolygon.ts
Due: bitgo, account-lib

feat(core): add core skeleton polygon BG-41726
  modules/account-lib/src/index.ts
Due: account-lib

feat(core): add core skeleton polygon BG-41726
  modules/core/test/v2/unit/coins/polygon.ts
Due: bitgo
