Repository BitGo/BitGoJS: changes, and which Codecov flags are due for each by the changed paths.
All: bitgo, account-lib, statics, express

fix: support memoid along with address for send transaction
  modules/sdk-coin-hbar/src/hbar.ts
  modules/sdk-coin-hbar/test/unit/hbar.ts
  modules/sdk-coin-rune/src/rune.ts
  modules/sdk-coin-rune/test/unit/rune.ts
  modules/sdk-coin-ton/src/ton.ts
  modules/sdk-coin-ton/test/resources/ton.ts
  modules/sdk-coin-ton/test/unit/ton.ts
  modules/sdk-coin-xlm/test/unit/xlm.ts
  modules/sdk-coin-xrp/src/xrp.ts
  modules/sdk-coin-xrp/test/unit/xrp.ts
Due: none

fix: update description details of fingerprintHash and initialHash
  modules/sdk-api/src/types.ts
Due: none

chore: export polyx from account-lib
  modules/account-lib/package.json
  modules/account-lib/src/index.ts
Due: account-lib

feat(sdk-coin-init): add SDK support for Initia
  modules/sdk-coin-fetch/package.json
  modules/sdk-coin-init/package.json
  modules/sdk-coin-init/src/init.ts
  modules/sdk-coin-init/src/lib/constants.ts
  modules/sdk-coin-init/src/lib/keyPair.ts
  modules/sdk-coin-init/src/lib/utils.ts
  modules/sdk-coin-init/test/resources/init.ts
  modules/sdk-coin-init/test/unit/getBuilderFactory.ts
  modules/sdk-coin-init/test/unit/init.ts
  modules/sdk-coin-init/test/unit/keyPair.ts
  modules/sdk-coin-init/test/unit/transaction.ts
  modules/sdk-coin-init/test/unit/transactionBuilder/transactionBuilder.ts
  modules/sdk-coin-init/test/unit/transactionBuilder/transferBuilder.ts
  modules/sdk-coin-init/test/unit/utils.ts
Due: none

fix(sdk-coin-trx): handling string type for scanning factor
  modules/sdk-coin-trx/src/trx.ts
  modules/sdk-coin-trx/test/unit/trx.ts
Due: none

feat: create coin factory using ams response
  modules/bitgo/src/bitgo.ts
  modules/bitgo/src/v2/coinFactory.ts
  modules/bitgo/test/v2/resources/amsTokenConfig.ts
  modules/bitgo/test/v2/unit/ams/ams.ts
Due: bitgo

test: initial commit of new branch
  examples/ts/access-token.ts
  examples/ts/create-tss-wallet.ts
  examples/ts/get-keychains.ts
  examples/ts/send-many.ts
  examples/ts/send-wallet-transaction.ts
  examples/ts/sui/create-wallet.ts
Due: none

chore(examples): get keychains
  .gitcommitscopes
  examples/ts/access-token.ts
  examples/ts/get-keychains.ts
Due: none

refactor: use test env by default
  examples/ts/access-token.ts
Due: none

fix: rename admin latest
  modules/bitgo/test/unit/bitgo.ts
  modules/sdk-core/src/bitgo/environments.ts
Due: bitgo

feat(sdk-coin-trx): add unfreeze and withdraw for tron unstaking
  modules/sdk-coin-trx/src/lib/enum.ts
  modules/sdk-coin-trx/src/lib/iface.ts
  modules/sdk-coin-trx/src/lib/resourceTypes.ts
  modules/sdk-coin-trx/src/lib/transaction.ts
  modules/sdk-coin-trx/src/lib/unfreezeBalanceTxBuilder.ts
  modules/sdk-coin-trx/src/lib/utils.ts
  modules/sdk-coin-trx/src/lib/withdrawExpireUnfreezeTxBuilder.ts
  modules/sdk-coin-trx/src/lib/wrappedBuilder.ts
  modules/sdk-coin-trx/test/resources.ts
  modules/sdk-coin-trx/test/unit/unfreezeBalanceTxBuilder.ts
  modules/sdk-coin-trx/test/unit/withdrawExpireUnfreezeTxBuilder.ts
Due: none

fix(statics): remove duplicate sol tokens
  modules/statics/src/coins/solTokens.ts
Due: statics

feat: create coin factory using ams response
  modules/bitgo/src/bitgo.ts
  modules/bitgo/src/index.ts
  modules/bitgo/src/v2/coinFactory.ts
  modules/bitgo/test/v2/resources/amsTokenConfig.ts
  modules/bitgo/test/v2/unit/ams/ams.ts
Due: bitgo

chore: add non bitgo recovery mon,stt,soneium,world
  modules/sdk-api/src/bitgoAPI.ts
Due: none

feat(statics): add tokens hteth:stgusd1 and tbsc:stgusd1
  modules/statics/src/base.ts
  modules/statics/src/coins/bscTokens.ts
  modules/statics/src/coins/erc20Coins.ts
  modules/statics/src/coins/ofcCoins.ts
  modules/statics/src/coins/ofcErc20Coins.ts
Due: statics

fix: remove latest Env type
  modules/bitgo/test/unit/bitgo.ts
  modules/bitgo/test/v2/unit/environments.ts
  modules/sdk-core/src/bitgo/environments.ts
Due: bitgo

fix: remove duplicate literal
  modules/sdk-core/src/bitgo/environments.ts
Due: none

feat: added pagination in invoice
  examples/ts/btc/lightning/list-invoices.ts
  modules/abstract-lightning/src/codecs/api/invoice.ts
  modules/abstract-lightning/src/wallet/lightning.ts
  modules/bitgo/test/v2/unit/lightning/lightningWallets.ts
Due: bitgo

feat: added pagination in payments
  examples/ts/btc/lightning/list-payments.ts
  modules/abstract-lightning/src/codecs/api/payment.ts
  modules/abstract-lightning/src/wallet/lightning.ts
  modules/bitgo/test/v2/unit/lightning/lightningWallets.ts
Due: bitgo

feat(root): add new audit key baseCoin method
  modules/abstract-cosmos/src/cosmosCoin.ts
  modules/abstract-eth/src/abstractEthLikeCoin.ts
  modules/abstract-substrate/src/abstractSubstrateCoin.ts
  modules/abstract-utxo/src/abstractUtxoCoin.ts
  modules/sdk-coin-ada/src/ada.ts
  modules/sdk-coin-algo/src/algo.ts
  modules/sdk-coin-algo/test/unit/algo.ts
  modules/sdk-coin-algo/test/unit/fixtures/algoBackupKey.ts
  modules/sdk-coin-btc/test/unit/btc.ts
  modules/sdk-coin-btc/test/unit/fixtures/btcBackupKey.ts
  modules/sdk-coin-btc/test/unit/fixtures/index.ts
  modules/sdk-coin-dot/src/dot.ts
  modules/sdk-coin-eth/test/unit/eth.ts
  modules/sdk-coin-eth/test/unit/fixtures/ethMultiSigBackupKey.ts
  modules/sdk-coin-eth/test/unit/fixtures/ethTssBackupKey.ts
  modules/sdk-coin-hbar/src/hbar.ts
  modules/sdk-coin-hbar/test/unit/fixtures/hbarBackupKey.ts
  modules/sdk-coin-hbar/test/unit/hbar.ts
  modules/sdk-coin-near/src/near.ts
  modules/sdk-coin-sol/src/sol.ts
  modules/sdk-coin-sol/test/unit/fixtures/solBackupKey.ts
  modules/sdk-coin-sol/test/unit/sol.ts
  modules/sdk-coin-sui/src/sui.ts
  modules/sdk-coin-ton/src/ton.ts
  modules/sdk-coin-xlm/src/xlm.ts
  modules/sdk-coin-xlm/test/unit/fixtures/xlmBackupKey.ts
  modules/sdk-coin-xlm/test/unit/xlm.ts
  modules/sdk-core/src/bitgo/baseCoin/baseCoin.ts
  modules/sdk-core/src/bitgo/baseCoin/iBaseCoin.ts
  modules/sdk-lib-mpc/src/curves/util.ts
Due: none

feat: deprecate eth cfx Ticket: COIN-3567
  modules/statics/src/coins/erc20Coins.ts
Due: statics

feat: use bitgo/secp256k1 for bip32/xprv/xpub operations
  modules/sdk-core/src/account-lib/util/crypto.ts
Due: none

revert: implement staking feature for tpolyx
  modules/statics/src/coinFeatures.ts
  modules/statics/src/coins.ts
Due: statics

feat: new kms api example module branch
  .gitignore
  modules/express-kms-api-example/README.md
  modules/express-kms-api-example/package.json
  modules/express-kms-api-example/scripts/create-tables.sql
  modules/express-kms-api-example/src/app.ts
  modules/express-kms-api-example/src/controllers/key/GET.ts
  modules/express-kms-api-example/src/controllers/key/POST.ts
  modules/express-kms-api-example/src/controllers/key/schemas.ts
  modules/express-kms-api-example/src/controllers/key/types.ts
  modules/express-kms-api-example/src/db.ts
  modules/express-kms-api-example/src/middlewares/authApiKeys.ts
  modules/express-kms-api-example/tsconfig.json
Due: express

feat(enclaved-express): setup new enclaved express app
  modules/enclaved-express/README.md
  modules/enclaved-express/bin/enclaved-express
  modules/enclaved-express/package.json
  modules/enclaved-express/src/config.ts
  modules/enclaved-express/src/enclavedApp.ts
  modules/enclaved-express/src/errors.ts
  modules/enclaved-express/src/routes.ts
  modules/enclaved-express/tsconfig.json
  modules/enclaved-express/types/enclaved-express/index.d.ts
Due: none

feat: add ofc tokens from ams to coin map
  modules/statics/src/coins.ts
  modules/statics/src/networkFeatureMapForTokens.ts
  modules/statics/src/ofc.ts
  modules/statics/src/tokenConfig.ts
  modules/statics/test/unit/coins.ts
  modules/statics/test/unit/resources/amsTokenConfig.ts
Due: statics

feat(statics): onboard SPXUX (ETH, ARB, AVAXC, OP), XSGD (Testnet-HBAR)
  modules/statics/src/base.ts
  modules/statics/src/coins.ts
  modules/statics/src/coins/avaxTokens.ts
  modules/statics/src/coins/erc20Coins.ts
  modules/statics/src/coins/ofcCoins.ts
  modules/statics/src/coins/ofcErc20Coins.ts
  modules/statics/src/coins/polygonTokens.ts
  modules/statics/src/coins/solTokens.ts
  modules/statics/src/gatekeep.ts
Due: statics

feat(sdk-coin-icp): fix memo id validation
  modules/sdk-coin-icp/src/lib/transactionBuilder.ts
  modules/sdk-coin-icp/test/unit/transactionBuilder/transactionBuilder.ts
Due: none

fix: update rest endpoint for cronos TICKET: COIN-4013
  modules/sdk-core/src/bitgo/environments.ts
Due: none

feat: add Apt NFT collection skeleton
  modules/sdk-coin-apt/src/aptNFTCollection.ts
  modules/sdk-coin-apt/src/index.ts
  modules/sdk-coin-apt/src/register.ts
  modules/statics/src/index.ts
  modules/statics/src/tokenConfig.ts
Due: statics

feat(enclaved-express): add placeholder keygen/signing routes
  modules/enclaved-express/bin/enclaved-express
  modules/enclaved-express/src/routes.ts
  modules/enclaved-express/src/signing/multisig.ts
Due: none

feat(enclaved-express): add incoming ssl cert configs
  modules/enclaved-express/package.json
  modules/enclaved-express/src/config.ts
  modules/express/test-results-62d5438f-c3c3-4c0c-a545-fb8cd0ed0888.xml
Due: express

chore(enclaved-express): consolidate mtls and ssl cert configs
  modules/enclaved-express/src/config.ts
  modules/enclaved-express/src/enclavedApp.ts
Due: none

fix(sdk-coin-xrp): update XRP signers sorting to use numeric comparison
  modules/sdk-coin-xrp/src/ripple.ts
  modules/sdk-coin-xrp/test/unit/xrp.ts
Due: none

feat(sdk-coin-soneium): add soneium token support Ticket: WIN-5490
  modules/bitgo/src/v2/coinFactory.ts
  modules/bitgo/src/v2/coins/index.ts
  modules/bitgo/test/browser/browser.spec.ts
  modules/sdk-coin-soneium/src/index.ts
  modules/sdk-coin-soneium/src/register.ts
  modules/sdk-coin-soneium/src/soneiumToken.ts
  modules/statics/src/base.ts
  modules/statics/src/coins.ts
  modules/statics/src/tokenConfig.ts
Due: bitgo, statics

feat(sdk-coin-soneium): add soneium token support Ticket: WIN-5490
  modules/bitgo/src/v2/coinFactory.ts
  modules/bitgo/src/v2/coins/index.ts
  modules/bitgo/test/browser/browser.spec.ts
  modules/sdk-coin-coredao/src/coredaoToken.ts
  modules/sdk-coin-coredao/src/index.ts
  modules/sdk-coin-coredao/src/register.ts
  modules/sdk-coin-coredao/test/unit/coredaoToken.ts
  modules/statics/src/account.ts
  modules/statics/src/base.ts
  modules/statics/src/coins.ts
  modules/statics/src/tokenConfig.ts
Due: bitgo, statics

chore: update public types to latest
  modules/abstract-lightning/package.json
  modules/bitgo/package.json
  modules/express/package.json
  modules/sdk-core/package.json
  yarn.lock
Due: bitgo, express

feat(sdk-coin-vet): add sdk skeleton for vet
  CODEOWNERS
  Dockerfile
  modules/account-lib/package.json
  modules/account-lib/src/index.ts
  modules/bitgo/package.json
  modules/bitgo/src/v2/coinFactory.ts
  modules/bitgo/src/v2/coins/index.ts
  modules/bitgo/tsconfig.json
  modules/sdk-coin-vet/.eslintignore
  modules/sdk-coin-vet/.gitignore
  modules/sdk-coin-vet/.mocharc.yml
  modules/sdk-coin-vet/.npmignore
  modules/sdk-coin-vet/.prettierignore
  modules/sdk-coin-vet/.prettierrc.yml
  modules/sdk-coin-vet/README.md
  modules/sdk-coin-vet/package.json
  modules/sdk-coin-vet/src/index.ts
  modules/sdk-coin-vet/src/lib/constants.ts
  modules/sdk-coin-vet/src/lib/index.ts
  modules/sdk-coin-vet/src/lib/utils.ts
  modules/sdk-coin-vet/src/register.ts
  modules/sdk-coin-vet/src/tvet.ts
  modules/sdk-coin-vet/src/vet.ts
  modules/sdk-coin-vet/test/resources/vet.ts
  modules/sdk-coin-vet/test/unit/vet.ts
  modules/sdk-coin-vet/tsconfig.json
  modules/sdk-core/src/bitgo/environments.ts
  tsconfig.packages.json
Due: bitgo, account-lib

feat: adding lnurl functions for payRequest
  modules/abstract-lightning/package.json
  modules/abstract-lightning/src/codecs/api/index.ts
  modules/abstract-lightning/src/codecs/api/lnurl.ts
  modules/abstract-lightning/src/lightning/index.ts
  modules/abstract-lightning/src/lightning/lnurl.ts
  modules/abstract-lightning/test/unit/lightning/lnurl.ts
  yarn.lock
Due: none

feat(sdk-coin-bsc): added support for mpcv2 in recovery
  modules/abstract-eth/src/abstractEthLikeNewCoins.ts
  modules/sdk-coin-bsc/src/bsc.ts
  modules/sdk-coin-bsc/src/lib/transactionBuilder.ts
  modules/sdk-coin-bsc/test/fixtures/ecdsa.ts
  modules/sdk-coin-bsc/test/unit/bsc.ts
  modules/sdk-coin-polygon/test/unit/polygon.ts
Due: none

Path conditions:
  bitgo: any of: modules/bitgo
  account-lib: any of: modules/account-lib
  statics: any of: modules/statics
  express: any of: modules/express
