Repository BitGo/BitGoJS: changes, and which Codecov flags are due for each by the changed paths.
All: bitgo, account-lib, statics, express

.codecov.yml:

coverage:
  status:
    project: off
    patch: off
comment:
  layout: "diff, flags, files"
  require_changes: true
flags:
  bitgo:
    paths:
      - modules/core
  account-lib:
    paths:
      - modules/account-lib
  statics:
    paths:
      - modules/statics
  express:
    paths:
      - modules/express

compiles hooray
  modules/abstract-utxo/src/abstractUtxoCoin.ts
  modules/sdk-coin-doge/src/doge.ts
  modules/sdk-core/src/bitgo/baseCoin/iBaseCoin.ts
  modules/sdk-core/src/bitgo/wallet/iWallet.ts
  modules/sdk-core/src/bitgo/wallet/wallet.ts
Due: none

constrain UtxoCustomSigFunc
  modules/abstract-utxo/src/abstractUtxoCoin.ts
Due: none

feat(sdk-coin-xlm): adding txHex to explainTransaction params for xlm Ticket: WP-101
  modules/sdk-coin-xlm/src/xlm.ts
  modules/sdk-coin-xlm/test/unit/xlm.ts
Due: none

fix(sdk-core): recreate tx for account coins
  modules/bitgo/test/v2/unit/pendingApproval.ts
  modules/sdk-core/src/bitgo/pendingApproval/pendingApproval.ts
Due: none

feat(abstract-utxo): support express external signer for musig2 inputs
  modules/abstract-utxo/src/abstractUtxoCoin.ts
  modules/bitgo/test/v2/unit/coins/utxo/transaction.ts
  modules/bitgo/test/v2/unit/wallet.ts
  modules/express/src/clientRoutes.ts
  modules/sdk-coin-doge/src/doge.ts
  modules/sdk-core/src/bitgo/baseCoin/iBaseCoin.ts
  modules/sdk-core/src/bitgo/wallet/wallet.ts
Due: express

chore(account-lib): export abstract cosmos
  modules/sdk-coin-osmo/src/index.ts
Due: none

feat(sdk-coin-hash): provenance sdk init along with testcases
  Dockerfile
  modules/bitgo/package.json
  modules/bitgo/src/v2/coinFactory.ts
  modules/bitgo/src/v2/coins/index.ts
  modules/bitgo/tsconfig.json
  modules/sdk-coin-hash/.eslintignore
  modules/sdk-coin-hash/.gitignore
  modules/sdk-coin-hash/.mocharc.yml
  modules/sdk-coin-hash/.npmignore
  modules/sdk-coin-hash/.prettierignore
  modules/sdk-coin-hash/.prettierrc.yml
  modules/sdk-coin-hash/README.md
  modules/sdk-coin-hash/package.json
  modules/sdk-coin-hash/src/hash.ts
  modules/sdk-coin-hash/src/index.ts
  modules/sdk-coin-hash/src/lib/constants.ts
  modules/sdk-coin-hash/src/lib/index.ts
  modules/sdk-coin-hash/src/lib/keyPair.ts
  modules/sdk-coin-hash/src/lib/transactionBuilderFactory.ts
  modules/sdk-coin-hash/src/lib/utils.ts
  modules/sdk-coin-hash/src/register.ts
  modules/sdk-coin-hash/src/thash.ts
  modules/sdk-coin-hash/test/integration/index.ts
  modules/sdk-coin-hash/test/resources/hash.ts
  modules/sdk-coin-hash/test/unit/hash.ts
  modules/sdk-coin-hash/test/unit/keyPair.ts
  modules/sdk-coin-hash/test/unit/transaction.ts
  modules/sdk-coin-hash/test/unit/transactionBuilder/StakingActivateBuilder.ts
  modules/sdk-coin-hash/test/unit/transactionBuilder/StakingDeactivateBuilder.ts
  modules/sdk-coin-hash/test/unit/transactionBuilder/StakingWithdrawRewardsBuilder.ts
  modules/sdk-coin-hash/test/unit/transactionBuilder/transactionBuilder.ts
  modules/sdk-coin-hash/test/unit/transactionBuilder/transferBuilder.ts
  modules/sdk-coin-hash/test/unit/utils.ts
  modules/sdk-coin-hash/tsconfig.json
  modules/sdk-core/src/bitgo/environments.ts
  tsconfig.packages.json
Due: none

feat(sdk-coin-hash): provenance sdk init along with testcases
  modules/account-lib/package.json
  modules/account-lib/src/index.ts
  modules/account-lib/tsconfig.json
  modules/sdk-coin-hash/tsconfig.json
Due: account-lib

feat(sdk-coin-hash): provenance sdk init along with testcases
  modules/sdk-coin-hash/README.md
Due: none

feat(sdk-coin-hash): provenance sdk init along with testcases
  modules/sdk-coin-hash/src/lib/constants.ts
Due: none

feat(sdk-coin-hash): provenance sdk init along with testcases
  modules/sdk-coin-hash/test/resources/hash.ts
Due: none

feat(sdk-coin-sui): double-check reserialized transactions
  modules/sdk-coin-sui/src/lib/compareTransactionBlocks.ts
  modules/sdk-coin-sui/src/lib/unstakingBuilder.ts
  modules/sdk-coin-sui/src/lib/unstakingTransaction.ts
Due: none

fix(sdk-coin-sui): fix method name for parsing reserialized tx pair
  modules/sdk-coin-sui/src/lib/unstakingTransaction.ts
Due: none

fix(sdk-coin-sui): add output value for unstaking txs
  modules/sdk-coin-sui/src/lib/unstakingTransaction.ts
  modules/sdk-coin-sui/test/unit/transactionBuilder/unstakingBuilder.ts
Due: none

feat(utxo-lib): improve type signatures for `createTransactionFrom*`
  modules/utxo-lib/src/bitgo/transaction.ts
  modules/utxo-lib/test/bitgo/litecoin/mwebBehavior.ts
  modules/utxo-lib/test/bitgo/nonStandardHalfSigned.ts
Due: none

feat(utxo-lib): add extractTransaction to UtxoPsbt
  modules/abstract-utxo/src/sign.ts
  modules/utxo-lib/src/bitgo/UtxoPsbt.ts
  modules/utxo-lib/src/testutil/mock.ts
  modules/utxo-lib/test/bitgo/psbt/Psbt.ts
  modules/utxo-lib/test/integration_local_rpc/generate/outputScripts.util.ts
Due: none

feat(utxo-lib): export PsbtInput, PsbtOutput from index.ts
  modules/utxo-lib/src/bitgo/PsbtUtil.ts
  modules/utxo-lib/src/bitgo/index.ts
  modules/utxo-lib/src/bitgo/wallet/Psbt.ts
Due: none

fix(utxo-lib): use deterministic keys in testutil/mock.ts
  modules/utxo-lib/src/testutil/mock.ts
Due: none

feat(blockapis): support bitgo.TxOutPoint in fetchInputs
  modules/blockapis/src/UtxoApi.ts
Due: none

feat(utxo-bin): add option `--hex`
  modules/utxo-bin/src/commands.ts
Due: none

fix(sdk-coin-avaxc): fix recovery to multisig address
  modules/sdk-coin-avaxc/package.json
  modules/sdk-coin-avaxc/src/avaxc.ts
  modules/sdk-coin-avaxc/test/unit/avaxc.ts
  modules/sdk-coin-avaxc/test/unit/helpers.ts
Due: none

fix(statics): updated ADA block explorer url Ticket: CE-985
  modules/statics/src/networks.ts
Due: statics

fix(statics): update BTC/TBTC block explorer Ticket: CE-398
  modules/statics/src/networks.ts
Due: statics

fix(statics): update XTZ/TXTZ block explorer Ticket: CE-286
  modules/statics/src/networks.ts
Due: statics

fix(sdk-coin-ada): refine ada pledge parsing logic
  modules/sdk-coin-ada/src/lib/stakingPledgeBuilder.ts
  modules/sdk-coin-ada/src/lib/transaction.ts
  modules/sdk-coin-ada/test/resources/index.ts
  modules/sdk-coin-ada/test/unit/ada.ts
  modules/sdk-coin-ada/test/unit/stakingPledgeBuilder.ts
Due: none

feat(sdk-coin-sei): sei sdk init along with testcases
  Dockerfile
  modules/account-lib/package.json
  modules/account-lib/src/index.ts
  modules/account-lib/tsconfig.json
  modules/bitgo/package.json
  modules/bitgo/src/v2/coinFactory.ts
  modules/bitgo/src/v2/coins/index.ts
  modules/bitgo/tsconfig.json
  modules/sdk-coin-sei/.eslintignore
  modules/sdk-coin-sei/.gitignore
  modules/sdk-coin-sei/.mocharc.yml
  modules/sdk-coin-sei/.npmignore
  modules/sdk-coin-sei/.prettierignore
  modules/sdk-coin-sei/.prettierrc.yml
  modules/sdk-coin-sei/README.md
  modules/sdk-coin-sei/package.json
  modules/sdk-coin-sei/src/index.ts
  modules/sdk-coin-sei/src/lib/constants.ts
  modules/sdk-coin-sei/src/lib/index.ts
  modules/sdk-coin-sei/src/lib/keyPair.ts
  modules/sdk-coin-sei/src/lib/transactionBuilderFactory.ts
  modules/sdk-coin-sei/src/lib/utils.ts
  modules/sdk-coin-sei/src/register.ts
  modules/sdk-coin-sei/src/sei.ts
  modules/sdk-coin-sei/src/tsei.ts
  modules/sdk-coin-sei/test/integration/index.ts
  modules/sdk-coin-sei/test/resources/sei.ts
  modules/sdk-coin-sei/test/unit/keyPair.ts
  modules/sdk-coin-sei/test/unit/sei.ts
  modules/sdk-coin-sei/test/unit/transaction.ts
  modules/sdk-coin-sei/test/unit/transactionBuilder/StakingActivateBuilder.ts
  modules/sdk-coin-sei/test/unit/transactionBuilder/StakingDeactivateBuilder.ts
  modules/sdk-coin-sei/test/unit/transactionBuilder/StakingWithdrawRewardsBuilder.ts
  modules/sdk-coin-sei/test/unit/transactionBuilder/transactionBuilder.ts
  modules/sdk-coin-sei/test/unit/transactionBuilder/transferBuilder.ts
  modules/sdk-coin-sei/test/unit/utils.ts
  modules/sdk-coin-sei/tsconfig.json
  modules/sdk-core/src/bitgo/environments.ts
  tsconfig.packages.json
Due: account-lib

feat(utxo-lib): add, use equalPublicKey in UtxoPsbt
  modules/utxo-lib/src/bitgo/UtxoPsbt.ts
Due: none

refactor(utxo-lib): rename equalPublicKey to equalPublicKeyIgnoreY
  modules/utxo-lib/src/bitgo/UtxoPsbt.ts
Due: none

fix(utxo-lib): add parameter `ignoreY` to deriveKeyPair
  modules/utxo-lib/src/bitgo/UtxoPsbt.ts
Due: none

refactor(utxo-lib): add deriveKeyPairForInput
  modules/utxo-lib/src/bitgo/UtxoPsbt.ts
Due: none

chore: add new tokens for july
  modules/statics/src/base.ts
  modules/statics/src/coins.ts
Due: statics

fix(utxo-bin): bump clipboardy
  modules/utxo-bin/package.json
  modules/utxo-bin/src/commands.ts
  yarn.lock
Due: none

feat(sdk-coin-inj): inj sdk init
  Dockerfile
  modules/bitgo/package.json
  modules/bitgo/tsconfig.json
  modules/sdk-coin-inj/.eslintignore
  modules/sdk-coin-inj/.gitignore
  modules/sdk-coin-inj/.mocharc.yml
  modules/sdk-coin-inj/.npmignore
  modules/sdk-coin-inj/.prettierignore
  modules/sdk-coin-inj/.prettierrc.yml
  modules/sdk-coin-inj/README.md
  modules/sdk-coin-inj/package.json
  modules/sdk-coin-inj/tsconfig.json
  tsconfig.packages.json
Due: none

feat(sdk-coin-inj): inj sdk init
  modules/sdk-coin-inj/src/lib/constants.ts
  modules/sdk-coin-inj/src/lib/index.ts
  modules/sdk-coin-inj/src/lib/keyPair.ts
  modules/sdk-coin-inj/src/lib/transactionBuilderFactory.ts
  modules/sdk-coin-inj/src/lib/utils.ts
Due: none

feat(sdk-coin-inj): inj sdk init
  modules/sdk-coin-inj/src/index.ts
  modules/sdk-coin-inj/src/inj.ts
  modules/sdk-coin-inj/src/register.ts
  modules/sdk-coin-inj/src/tinj.ts
  modules/sdk-coin-inj/test/integration/index.ts
  modules/sdk-coin-inj/test/unit/transactionBuilder/StakingActivateBuilder.ts
  modules/sdk-coin-inj/test/unit/transactionBuilder/StakingDeactivateBuilder.ts
  modules/sdk-coin-inj/test/unit/transactionBuilder/StakingWithdrawRewardsBuilder.ts
  modules/sdk-coin-inj/test/unit/transactionBuilder/transactionBuilder.ts
  modules/sdk-coin-inj/test/unit/transactionBuilder/transferBuilder.ts
Due: none

feat(sdk-coin-inj): inj sdk init
  modules/sdk-coin-inj/test/unit/keyPair.ts
  modules/sdk-coin-inj/test/unit/transaction.ts
  modules/sdk-coin-inj/test/unit/utils.ts
Due: none

feat(sdk-coin-inj): inj sdk init
  modules/sdk-coin-inj/src/register.ts
  modules/sdk-coin-inj/test/integration/index.ts
  modules/sdk-coin-inj/test/resources/inj.ts
  modules/sdk-coin-inj/test/unit/inj.ts
  modules/sdk-coin-inj/test/unit/transaction.ts
  modules/sdk-coin-inj/test/unit/transactionBuilder/StakingActivateBuilder.ts
  modules/sdk-coin-inj/test/unit/transactionBuilder/StakingDeactivateBuilder.ts
  modules/sdk-coin-inj/test/unit/transactionBuilder/StakingWithdrawRewardsBuilder.ts
  modules/sdk-coin-inj/test/unit/transactionBuilder/transactionBuilder.ts
  modules/sdk-coin-inj/test/unit/transactionBuilder/transferBuilder.ts
  modules/sdk-core/src/bitgo/environments.ts
Due: none

feat(sdk-coin-inj): inj sdk init
  modules/account-lib/package.json
  modules/account-lib/src/index.ts
  modules/account-lib/tsconfig.json
Due: account-lib

chore(root): disable line length check for footer
  commitlint.config.js
Due: none
