Repository BitGo/BitGoJS: changes, and which Codecov flags are due for each by the changed paths.
All: bitgo, account-lib, statics, express

.codecov.yml:

coverage:
  status:
    project: off
    patch: off
comment:
  layout: "diff, flags, files"
  require_changes: true
flags:
  bitgo:
    paths:
      - modules/core
  account-lib:
    paths:
      - modules/account-lib
  statics:
    paths:
      - modules/statics
  express:
    paths:
      - modules/express

feat(account-lib): add skeleton implementation for Algorand
  modules/account-lib/src/coin/algo/assetTransferBuilder.ts
  modules/account-lib/src/coin/algo/index.ts
  modules/account-lib/src/coin/algo/keyPair.ts
  modules/account-lib/src/coin/algo/keyRegistrationBuilder.ts
  modules/account-lib/src/coin/algo/transaction.ts
  modules/account-lib/src/coin/algo/transactionBuilder.ts
  modules/account-lib/src/coin/algo/transactionBuilderFactory.ts
  modules/account-lib/src/coin/algo/transferBuilder.ts
  modules/account-lib/src/coin/baseCoin/index.ts
Due: account-lib

fix(trx): asign trx builder acording to each transaction type
  modules/core/src/v2/coins/trx.ts
Due: bitgo

fix(core): bump account-lib version
  modules/core/package.json
Due: bitgo

fix(account-lib): stx half sign tx
  modules/account-lib/src/coin/stx/contractBuilder.ts
  modules/account-lib/src/coin/stx/transaction.ts
  modules/account-lib/src/coin/stx/transactionBuilder.ts
  modules/account-lib/test/resources/stx/stx.ts
  modules/account-lib/test/unit/coin/stx/transactionBuilder/contractBuilder.ts
  modules/account-lib/test/unit/coin/stx/transactionBuilder/transferBuilder.ts
Due: account-lib

feat(statics): update contract addresses
  modules/statics/src/coins.ts
Due: statics

chore(account-lib): update ecma version to 2021
  modules/account-lib/.eslintrc.js
Due: account-lib

chore(release): publish modules
  modules/account-lib/package.json
  modules/core/package.json
  modules/express/package-lock.json
  modules/express/package.json
  modules/statics/package.json
Due: bitgo, account-lib, statics, express

fix(core): algosdk typings
  modules/core/src/v2/coins/algo.ts
  modules/core/types/algosdk/index.d.ts
Due: bitgo

chore(release): publish modules
  modules/account-lib/package.json
  modules/core/package.json
  modules/express/package-lock.json
  modules/express/package.json
Due: bitgo, account-lib, express

feat(account-lib): add setters for algo txn builder
  modules/account-lib/src/coin/algo/errors.ts
  modules/account-lib/src/coin/algo/index.ts
  modules/account-lib/src/coin/algo/transactionBuilder.ts
  modules/account-lib/test/resources/algo/index.ts
  modules/account-lib/test/unit/coin/algo/transactionBuilder/base.ts
  yarn.lock
Due: account-lib

Added support for Dogecoin
  modules/utxo-lib/src/networks.js
Due: none

feat(account-lib): initial algorand keypair support
  modules/account-lib/src/coin/algo/keyPair.ts
  modules/account-lib/src/coin/algo/utils.ts
  modules/account-lib/src/index.ts
  modules/account-lib/test/resources/algo/algo.ts
  modules/account-lib/test/unit/coin/algo/keyPair.ts
Due: account-lib

refactor(account-lib): clean up algorand keypair code
  modules/account-lib/src/coin/algo/keyPair.ts
  modules/account-lib/src/coin/algo/utils.ts
  modules/account-lib/test/resources/algo/algo.ts
  modules/account-lib/test/unit/coin/algo/keyPair.ts
Due: account-lib

feat(core): add stacking to explain tx
  modules/core/src/v2/coins/cspr.ts
  modules/core/test/v2/unit/coins/cspr.ts
Due: bitgo

feat(utxo-lib): use new package name and new external links
  modules/utxo-lib/README.md
Due: none

feat(core): stx sign tx multisig
  modules/core/src/v2/coins/stx.ts
  modules/core/test/v2/unit/coins/stx.ts
Due: bitgo

Revert "fix(core): use more correct edge case value in abstract utxo test"
  modules/core/test/v2/unit/coins/abstractUtxoCoin.ts
Due: bitgo

Revert "feat(core): allow disabling paygo outputs during utxo tx verification"
  modules/core/src/v2/baseCoin.ts
  modules/core/src/v2/coins/abstractUtxoCoin.ts
  modules/core/test/v2/unit/coins/abstractUtxoCoin.ts
Due: bitgo

chore(release): publish modules
  modules/core/package.json
  modules/express/package-lock.json
  modules/express/package.json
Due: bitgo, express

feat(account-lib): add algo transaction
  modules/account-lib/src/coin/algo/ifaces.ts
  modules/account-lib/src/coin/algo/index.ts
  modules/account-lib/src/coin/algo/keyPair.ts
  modules/account-lib/src/coin/algo/transaction.ts
  modules/account-lib/src/coin/algo/utils.ts
Due: account-lib

fix(core): allow paygo outputs for empty verification options object
  modules/core/src/v2/coins/abstractUtxoCoin.ts
  modules/core/test/v2/unit/coins/abstractUtxoCoin.ts
Due: bitgo

feat(core): implement support for auth v3
  .eslintrc.json
  modules/core/src/bitgo.ts
  modules/express/README.md
  modules/express/src/args.ts
  modules/express/src/clientRoutes.ts
  modules/express/src/config.ts
  modules/express/test/unit/config.ts
Due: bitgo, express

test(core): add unit tests for auth v3
  modules/core/src/bitgo.ts
  modules/core/test/v2/unit/auth.ts
Due: bitgo

feat(account-lib): add support for algo flat fees
  modules/account-lib/src/coin/algo/transactionBuilder.ts
  modules/account-lib/test/unit/coin/algo/transactionBuilder/base.ts
Due: account-lib

Revert "Revert "feat(core): allow disabling paygo outputs during utxo tx verification""
  modules/core/src/v2/baseCoin.ts
  modules/core/src/v2/coins/abstractUtxoCoin.ts
  modules/core/test/v2/unit/coins/abstractUtxoCoin.ts
Due: bitgo

Revert "Revert "fix(core): use more correct edge case value in abstract utxo test""
  modules/core/test/v2/unit/coins/abstractUtxoCoin.ts
Due: bitgo

chore(release): publish modules
  modules/account-lib/package.json
  modules/core/package.json
  modules/express/package-lock.json
  modules/express/package.json
  modules/utxo-lib/package.json
Due: bitgo, account-lib, express

feat(account-lib): add method to retrieve algosdk suggested params
  modules/account-lib/src/coin/algo/transactionBuilder.ts
  modules/account-lib/test/unit/coin/algo/transactionBuilder/base.ts
Due: account-lib

chore(core): add example showing tx verification using provided keys
  modules/core/example/ts/send-with-provided-public-keys.ts
Due: bitgo

refactor(core): update buildTx in Core
  modules/core/src/v2/wallet.ts
Due: bitgo

feat(account-lib): add number of signers setter to algo
  modules/account-lib/src/coin/algo/transactionBuilder.ts
  modules/account-lib/test/unit/coin/algo/transactionBuilder/base.ts
Due: account-lib

fix(account-lib): fix validate algo address test
  modules/account-lib/test/unit/coin/algo/transactionBuilder/base.ts
Due: account-lib

feat(core): export txEnumTypes from core
  modules/core/src/v2/baseCoin.ts
Due: bitgo

feat(account-lib): add implementation methods to txn builder
  modules/account-lib/src/coin/algo/assetTransferBuilder.ts
  modules/account-lib/src/coin/algo/keyRegistrationBuilder.ts
  modules/account-lib/src/coin/algo/transactionBuilder.ts
  modules/account-lib/test/resources/algo/index.ts
  modules/account-lib/test/unit/coin/algo/transactionBuilder/base.ts
Due: account-lib

feat(eth): update ethereumjs libs
  modules/account-lib/package.json
  modules/account-lib/src/coin/celo/resources.ts
  modules/account-lib/src/coin/celo/transaction.ts
  modules/account-lib/src/coin/celo/utils.ts
  modules/account-lib/src/coin/etc/resources.ts
  modules/account-lib/src/coin/etc/transactionBuilder.ts
  modules/account-lib/src/coin/etc/utils.ts
  modules/account-lib/src/coin/eth/transaction.ts
  modules/account-lib/src/coin/eth/transactionBuilder.ts
  modules/account-lib/src/coin/eth/types.ts
  modules/account-lib/src/coin/eth/utils.ts
  modules/account-lib/src/coin/rbtc/resources.ts
  modules/account-lib/src/coin/rbtc/utils.ts
  modules/account-lib/test/unit/coin/eth/transaction.ts
  yarn.lock
Due: account-lib

fix(core): stacks changed prv param type in StxSignTransactionOptions
  modules/core/src/v2/coins/stx.ts
  modules/core/test/v2/unit/coins/stx.ts
Due: bitgo

feat(account-lib): enable offline transaction building for algo
  modules/account-lib/src/coin/algo/transaction.ts
  modules/account-lib/src/coin/algo/transactionBuilder.ts
  modules/account-lib/test/unit/coin/algo/transactionBuilder/base.ts
Due: account-lib

feat(account-lib): add implementation methods to txn builder
  modules/account-lib/package.json
  modules/account-lib/src/coin/algo/transaction.ts
Due: account-lib

feat(account-lib): add algo transfer builder
  modules/account-lib/src/coin/algo/keyRegistrationBuilder.ts
  modules/account-lib/src/coin/algo/transactionBuilder.ts
  modules/account-lib/src/coin/algo/transferBuilder.ts
Due: account-lib
