Repository BitGo/BitGoJS: changes, and which Codecov flags are due for each by the changed paths.
All: bitgo, account-lib, statics, express

chore: bump @bitgo/public-types to 6.64.1
  modules/abstract-lightning/package.json
  modules/bitgo/package.json
  modules/express/package.json
  modules/passkey-crypto/package.json
  modules/sdk-coin-flrp/package.json
  modules/sdk-coin-sol/package.json
  modules/sdk-core/package.json
  modules/sdk-core/src/bitgo/utils/tss/redpallas/SMC/utils.ts
  modules/sdk-core/src/bitgo/utils/tss/redpallas/redpallasMPCv2.ts
  modules/sdk-core/test/unit/bitgo/utils/tss/redpallas/redpallasMPCv2.ts
  modules/sdk-core/test/unit/bitgo/utils/tss/redpallas/smcUtil.ts
  yarn.lock
Due: bitgo, express

fix(sdk-coin-sol): skip fee payer check for closeATA TICKET: CHALO-1343
  modules/sdk-coin-sol/src/sol.ts
Due: none

fix(abstract-eth,sdk-core): use coin chain ID when deriving signableHex (WCI-1398)
  modules/abstract-eth/src/abstractEthLikeNewCoins.ts
  modules/sdk-coin-bsc/test/unit/bsc.ts
  modules/sdk-coin-xdc/test/unit/xdc.ts
  modules/sdk-core/src/bitgo/utils/tss/ecdsa/ecdsaMPCv2.ts
Due: none

docs(examples): update Go Account README with get-pending-approval script
  examples/ts/go-account/README.md
Due: none

refactor(sdk-core): type stuck transaction results
  modules/sdk-core/src/bitgo/wallet/iWallet.ts
  modules/sdk-core/src/bitgo/wallet/wallet.ts
Due: none

fix(root): run private package changed tests
  package.json
Due: none

feat(statics): rename Story display name to Data Network
  modules/bitgo/test/v2/resources/amsTokenConfig.ts
  modules/bitgo/test/v2/unit/coins/ofcErc20Tokens.ts
  modules/bitgo/test/v2/unit/keychains.ts
  modules/sdk-core/src/bitgo/staking/iStakingWallet.ts
  modules/statics/src/allCoinsAndTokens.ts
  modules/statics/src/base.ts
  modules/statics/src/coins/ofcCoins.ts
  modules/statics/src/coins/ofcErc20Coins.ts
  modules/statics/src/networks.ts
  modules/statics/test/unit/fixtures/expectedColdFeatures.ts
Due: bitgo, statics

test(logger): throwaway node24-only failing test
  modules/logger/test/unit/node24Verify.ts
Due: none

ci: drop Node 20 from CI test matrix
  .github/workflows/ci.yml
Due: none

docs: update Node version support policy in README
  DEVELOPERS.md
  README.md
Due: none

chore(deps): remove GHSA-v2hh-gcrm-f6hx from osv-scanner.toml
  osv-scanner.toml
Due: none

ci: add non-blocking Node Current (26.x) leg to unit-test matrix
  .github/workflows/ci.yml
  README.md
Due: none

feat(sdk-core): wire wrapApprove sendMany intent
  modules/bitgo/test/v2/unit/wallet.ts
  modules/sdk-core/src/bitgo/utils/mpcUtils.ts
  modules/sdk-core/src/bitgo/utils/tss/baseTypes.ts
  modules/sdk-core/src/bitgo/utils/tss/recipientUtils.ts
  modules/sdk-core/src/bitgo/wallet/BuildParams.ts
  modules/sdk-core/src/bitgo/wallet/iWallet.ts
  modules/sdk-core/src/bitgo/wallet/wallet.ts
  modules/sdk-core/test/unit/bitgo/utils/mpcUtils.wrapApprove.ts
  modules/sdk-core/test/unit/bitgo/utils/tss/recipientUtils.ts
  modules/sdk-core/test/unit/bitgo/wallet/BuildParams.ts
Due: bitgo

test(sdk-lib-mpc): add EdDSA MPCv2 keyshare wire-format regression
  modules/sdk-lib-mpc/test/fixtures/eddsaMPCv2Keyshares.ts
  modules/sdk-lib-mpc/test/unit/tss/eddsa/mpcv2Compatibility.ts
Due: none

feat(sdk-coin-zec): add shielded wallet creation support to BitGoJS SDK
  modules/bitgo/test/v2/unit/wallets.ts
  modules/sdk-core/src/bitgo/wallet/iWallets.ts
  modules/sdk-core/src/bitgo/wallet/wallets.ts
Due: bitgo

feat(statics): enable STAKING on ada:usdr and tada:usdr
  modules/statics/src/coins/adaTokens.ts
  modules/statics/test/unit/coins.ts
Due: statics

feat(statics): enable ERC20 token batching for baseeth, seievm, zksyncera
  modules/statics/src/allCoinsAndTokens.ts
  modules/statics/src/coinFeatures.ts
  modules/statics/src/networks.ts
  modules/statics/test/unit/coins.ts
Due: statics

fix(sdk-core): allow zero amount closeATA sendMany TICKET: CHALO-1343
  modules/bitgo/test/v2/unit/wallet.ts
  modules/sdk-coin-sol/test/unit/sol.ts
  modules/sdk-core/src/bitgo/baseCoin/baseCoin.ts
  modules/sdk-core/src/bitgo/baseCoin/iBaseCoin.ts
  modules/sdk-core/src/bitgo/wallet/wallet.ts
Due: bitgo

feat(statics): enable ZAMA staking metadata
  modules/statics/src/coins/erc20Coins.ts
  modules/statics/test/unit/base.ts
Due: statics

style(statics): format ZAMA feature tests
  modules/statics/test/unit/base.ts
Due: statics

fix(sdk-core): allow encryptionVersion 1 for lightning wallets
  modules/sdk-core/src/bitgo/wallet/iWallets.ts
  modules/sdk-core/test/unit/bitgo/wallet/walletOptionsCodecs.ts
Due: none

feat(statics): enable stZAMA staking metadata
  modules/statics/src/coins/botTokens.ts
  modules/statics/test/unit/base.ts
Due: statics

fix(statics): keep stZAMA as receipt assets
  modules/statics/src/coins/botTokens.ts
  modules/statics/test/unit/base.ts
Due: statics

docs(examples): clean up Go Account README
  examples/ts/go-account/README.md
Due: none

fix(root): bump browserslist 4.28.4 -> 4.28.7 to clear HIGH OSV findings
  package.json
  yarn.lock
Due: none

ci(root): verify shrinkwrap installs on Node 20 before publishing bitgo
  .github/workflows/npmjs-release.yml
Due: none

fix: encode ed25519 root pub chain code as base32
  modules/sdk-core/src/bitgo/safe/derivableEd25519Pub.ts
  modules/sdk-core/test/unit/bitgo/safe/derivableEd25519Pub.ts
  modules/sdk-core/test/unit/bitgo/safe/fixtures/derivableEd25519Pub.json
Due: none

feat: createBackup composes a derivable ed25519 root pub
  modules/sdk-core/src/bitgo/keychain/keychains.ts
  modules/sdk-core/test/unit/bitgo/keychain/keychains.ts
Due: none

feat: assert safe ed25519 backup root came back derivable
  modules/sdk-core/src/bitgo/safe/safes.ts
  modules/sdk-core/test/unit/bitgo/safe/safes.ts
Due: none

feat(statics): identify DeFi receipt tokens
  modules/statics/src/allCoinsAndTokens.ts
  modules/statics/src/coins/erc20Coins.ts
Due: statics

feat(sdk-lib-mpc): add RedPallas MPS DSG rounds and PGP helpers
  modules/sdk-lib-mpc/src/tss/redpallas-mps/commsLayer.ts
  modules/sdk-lib-mpc/src/tss/redpallas-mps/dsg.ts
  modules/sdk-lib-mpc/src/tss/redpallas-mps/index.ts
  modules/sdk-lib-mpc/src/tss/redpallas-mps/types.ts
  modules/sdk-lib-mpc/src/tss/redpallas-mps/util.ts
  modules/sdk-lib-mpc/test/unit/tss/redpallas/dsg.ts
  modules/sdk-lib-mpc/test/unit/tss/redpallas/util.ts
Due: none

feat(sdk-core): add RedPallas MPCv2 DSG helpers, bump public-types
  modules/sdk-core/package.json
  modules/sdk-core/src/bitgo/tss/redpallas/index.ts
  modules/sdk-core/src/bitgo/tss/redpallas/redpallasMPCv2.ts
  modules/sdk-core/src/bitgo/utils/tss/redpallas/redpallasMPCv2.ts
  modules/sdk-core/test/unit/bitgo/utils/tss/redpallas/redpallasMPCv2Dsg.ts
  yarn.lock
Due: none

chore(abstract-utxo): bump wasm-utxo version
  modules/abstract-lightning/package.json
  modules/abstract-utxo/package.json
  modules/bitgo/package.json
  modules/express/package.json
  modules/passkey-crypto/package.json
  modules/sdk-coin-flrp/package.json
  modules/sdk-coin-sol/package.json
  modules/sdk-core/package.json
  modules/utxo-bin/package.json
  modules/utxo-core/package.json
  modules/utxo-descriptors/package.json
  modules/utxo-ord/package.json
  modules/utxo-staking/package.json
  package.json
  yarn.lock
Due: bitgo, express

feat(sdk-coin-sol): support permissionless thaw in ATA init
  modules/sdk-coin-sol/src/lib/ataInitializationBuilder.ts
  modules/sdk-coin-sol/src/lib/instructionParamsFactory.ts
  modules/sdk-coin-sol/test/unit/transactionBuilder/ataInitBuilder.ts
Due: none

chore: add Silence Labs DKLS VRF and EdDSA WASM deps
  modules/sdk-lib-mpc/package.json
  modules/sdk-lib-mpc/src/tss/ecdsa-dkls/dkg.ts
  modules/sdk-lib-mpc/src/tss/eddsa-mps/dkg.ts
  webpack/bitgojs.config.js
  yarn.lock
Due: none

chore: upgrade fast-uri
  package.json
  yarn.lock
Due: none

fix(statics): rename jvhhVault token to Bitwise Liquid Prime USDC
  modules/statics/src/allCoinsAndTokens.ts
  modules/statics/src/coins/ofcErc20Coins.ts
Due: statics

Path conditions:
  bitgo: any of: modules/bitgo
  account-lib: any of: modules/account-lib
  statics: any of: modules/statics
  express: any of: modules/express
