Repository BitGo/BitGoJS: changes, and which Codecov flags are due for each by the changed paths.
All: bitgo, account-lib, statics, express

feat(sdk-core): use BuildParams codec in Wallet.sendAccountConsolidation
  modules/bitgo/test/v2/unit/accountConsolidations.ts
  modules/sdk-core/src/bitgo/wallet/BuildParams.ts
  modules/sdk-core/src/bitgo/wallet/wallet.ts
  modules/sdk-core/test/unit/bitgo/wallet/SendTransactionRequest.ts
Due: bitgo

chore(root): release express
  Dockerfile
Due: none

chore(statics): fix zeta url
  modules/statics/src/networks.ts
Due: statics

feat(express): add external signer support for signig with derivation paths
  modules/express/src/clientRoutes.ts
  modules/sdk-core/src/bitgo/wallet/iWallet.ts
  modules/sdk-core/src/bitgo/wallet/wallet.ts
Due: express

chore(root): update docker push script
  package.json
Due: none

chore(statics): onboard new tokens
  modules/statics/src/base.ts
  modules/statics/src/coins.ts
Due: statics

fix(sdk-coin-trx): unsigned recover txn must have amount field
  modules/sdk-coin-trx/src/trx.ts
  modules/sdk-coin-trx/test/resources.ts
  modules/sdk-coin-trx/test/unit/trx.ts
Due: none

docs(bitgo): add docs on how to recover smc base wallet with key id
  examples/docs/smc-recover-with-key-id.md
Due: none

docs(root): add smc with seed wallet creation example
  examples/ts/tss-smc/create-smc-wallet-reusing-keys.ts
  examples/ts/tss-smc/create-smc-wallet-step-2.ts
Due: none

chore(statics): onboard new token
  modules/statics/src/base.ts
  modules/statics/src/coins.ts
Due: statics

feat(sdk-coin-zeta): add recovery functionality for zeta
  modules/sdk-coin-zeta/package.json
  modules/sdk-coin-zeta/src/lib/constants.ts
  modules/sdk-coin-zeta/src/zeta.ts
  modules/sdk-coin-zeta/test/resources/zeta.ts
  modules/sdk-coin-zeta/test/unit/zeta.ts
  modules/sdk-core/src/bitgo/environments.ts
Due: none

feat(sdk-core): add type for serializedNtilde with verifiers
  modules/sdk-core/src/bitgo/tss/ecdsa/types.ts
Due: none

chore(wp): allow updating tss config without ntilde proofs
  modules/sdk-core/src/bitgo/utils/tss/ecdsa/ecdsa.ts
Due: none

chore(sdk-core): create ecdh keypair helper to reduce duplication
  modules/sdk-api/src/bitgoAPI.ts
  modules/sdk-core/src/bitgo/bitgoBase.ts
  modules/sdk-core/src/bitgo/keychain/iKeychains.ts
  modules/sdk-core/src/bitgo/utils/tss/ecdsa/ecdsa.ts
Due: none

feat(sdk-core): add helpers to support resigning ent challenges
  modules/bitgo/test/v2/unit/enterprise.ts
  modules/sdk-core/src/bitgo/enterprise/enterprise.ts
  modules/sdk-core/src/bitgo/enterprise/enterprises.ts
  modules/sdk-core/src/bitgo/enterprise/iEnterprise.ts
  modules/sdk-core/src/bitgo/enterprise/iEnterprises.ts
  modules/sdk-core/src/bitgo/tss/ecdsa/types.ts
  modules/sdk-core/src/bitgo/utils/tss/ecdsa/types.ts
Due: bitgo

fix(sdk-lib-mpc): fix 0 values attack on range proof
  modules/sdk-lib-mpc/.mocharc.js
  modules/sdk-lib-mpc/package.json
  modules/sdk-lib-mpc/src/tss/ecdsa/rangeproof.ts
  modules/sdk-lib-mpc/test/paillierproof.util.ts
  modules/sdk-lib-mpc/test/unit/tss/ecdsa/paillierproof.ts
  modules/sdk-lib-mpc/test/unit/tss/ecdsa/rangeproof.ts
Due: none

feat(sdk-core): add getDerivationPath method for smc wallets
  modules/sdk-lib-mpc/src/util.ts
  modules/sdk-lib-mpc/test/unit/util.ts
Due: none

chore(zeta): bump sdk-lib-mpc
  modules/sdk-coin-zeta/package.json
Due: none

feat(sdk-coin-trx): consolidate to base address
  modules/bitgo/test/v2/unit/recovery.ts
  modules/sdk-coin-trx/src/trx.ts
  modules/sdk-coin-trx/test/resources.ts
  modules/sdk-coin-trx/test/unit/trx.ts
Due: bitgo

chore(sdk-core): update zeta testnet URL
  modules/sdk-core/src/bitgo/environments.ts
Due: none

feat(sdk-lib-mpc): add implementation of paillier-blum for paillier proof
  modules/sdk-lib-mpc/src/tss/ecdsa/generatePaillierKey.ts
  modules/sdk-lib-mpc/src/tss/ecdsa/index.ts
  modules/sdk-lib-mpc/src/tss/ecdsa/paillierBlumProof.ts
Due: none

feat(sdk-lib-mpc): add types for paillierBlumProof methods
  modules/sdk-lib-mpc/src/tss/ecdsa/generatePaillierKey.ts
  modules/sdk-lib-mpc/src/tss/ecdsa/paillierBlumProof.ts
  modules/sdk-lib-mpc/src/tss/ecdsa/types.ts
Due: none

chore(sdk-lib-mpc): use triple =
  modules/sdk-lib-mpc/src/tss/ecdsa/paillierBlumProof.ts
Due: none

chore(sdk-lib-mpc): rename files to *Proof
  modules/sdk-lib-mpc/src/tss/ecdsa/index.ts
  modules/sdk-lib-mpc/test/fixtures/paillierBlumProof.ts
  modules/sdk-lib-mpc/test/fixtures/paillierpProof.util.ts
  modules/sdk-lib-mpc/test/fixtures/rangeProof.util.ts
  modules/sdk-lib-mpc/test/unit/tss/ecdsa/paillierproof.ts
  modules/sdk-lib-mpc/test/unit/tss/ecdsa/types.ts
Due: none

test(sdk-lib-mpc): add paillierBlumProof tests
  modules/sdk-lib-mpc/src/tss/ecdsa/generatePaillierKey.ts
  modules/sdk-lib-mpc/src/tss/ecdsa/index.ts
  modules/sdk-lib-mpc/src/tss/ecdsa/paillierBlumProof.ts
  modules/sdk-lib-mpc/src/tss/ecdsa/types.ts
  modules/sdk-lib-mpc/test/fixtures/mockPaillierBlumProof.json
  modules/sdk-lib-mpc/test/fixtures/paillierBlumProof.ts
  modules/sdk-lib-mpc/test/tsconfig.json
  modules/sdk-lib-mpc/test/unit/tss/ecdsa/paillierBlumProof.ts
Due: none

chore(sdk-lib-mpc): rename files to temp
  modules/sdk-lib-mpc/src/tss/ecdsa/paillierProofTemp.ts
  modules/sdk-lib-mpc/src/tss/ecdsa/rangeProofTemp.ts
Due: none

chore(sdk-lib-mpc): remove temp files
  modules/sdk-lib-mpc/src/tss/ecdsa/paillierProof.ts
  modules/sdk-lib-mpc/src/tss/ecdsa/rangeProof.ts
Due: none

chore(sdk-lib-mpc): fix fmt
  modules/sdk-lib-mpc/package.json
  modules/sdk-lib-mpc/test/fixtures/mockPaillierBlumProof.json
Due: none

chore(sdk-lib-mpc): add reference to paillierBlum
  modules/sdk-lib-mpc/src/tss/ecdsa/paillierBlumProof.ts
Due: none

chore(sdk-lib-mpc): use shake256 and sampling rejection for generating quadratic residue
  modules/sdk-lib-mpc/src/tss/ecdsa/paillierBlumProof.ts
Due: none

feat(sdk-coin-dot): fix dot sweep recovery format for ovc signing
  modules/sdk-coin-dot/src/dot.ts
  modules/sdk-coin-dot/test/unit/dot.ts
Due: none

Path conditions:
  bitgo: any of: modules/bitgo
  account-lib: any of: modules/account-lib
  statics: any of: modules/statics
  express: any of: modules/express
