Repository BitGo/BitGoJS: changes, and which Codecov flags are due for each by the changed paths.
All: bitgo, account-lib, statics, express

.codecov.yml:

coverage:
  status:
    project: off
    patch: off
comment:
  layout: 'diff, flags, files'
  require_changes: true
flags:
  bitgo:
    paths:
      - modules/bitgo
  account-lib:
    paths:
      - modules/account-lib
  statics:
    paths:
      - modules/statics
  express:
    paths:
      - modules/express

add simplest form of MPC step to readme
  examples/docs/self-custody/mpc/create-wallet-mpcv2-script.md
  examples/js/get-multisig-type-versions.js
  examples/js/multisig-type-versions.json
  examples/js/self-custody-mcp-v2/mpc-self-custody-offline.js
Due: none

feat(express): enable docs for login, encrypt, decrypt and utilities
  modules/express/src/typedRoutes/api/common/decrypt.ts
  modules/express/src/typedRoutes/api/common/encrypt.ts
  modules/express/src/typedRoutes/api/common/login.ts
  modules/express/src/typedRoutes/api/common/verifyAddress.ts
  modules/express/src/typedRoutes/api/express_entry.ts
Due: express

chore(express): remove duplicate import stub
  modules/express/src/typedRoutes/api/express_entry.ts
Due: express

feat(express): enable docs for pingExpress, keychain and lightning state
  modules/express/src/typedRoutes/api/common/pingExpress.ts
  modules/express/src/typedRoutes/api/express_entry.ts
Due: express

Update Round 4 instructions for key share verification
  examples/docs/self-custody/mpc/create-wallet-mpcv2-script.md
Due: none

test: sign EIP-712 message
  examples/ts/sign-message.ts
Due: none

feat: added canton offer withdrawn builder Ticket: COIN-7486
  modules/sdk-coin-canton/src/canton.ts
  modules/sdk-coin-canton/src/lib/iface.ts
  modules/sdk-coin-canton/src/lib/index.ts
  modules/sdk-coin-canton/src/lib/transaction/transaction.ts
  modules/sdk-coin-canton/src/lib/transactionBuilderFactory.ts
  modules/sdk-coin-canton/src/lib/transferOfferWithdrawnBuilder.ts
  modules/sdk-coin-canton/src/lib/utils.ts
  modules/sdk-coin-canton/test/resources.ts
  modules/sdk-coin-canton/test/unit/builder/oneStepEnablement/oneStepEnablementBuilder.ts
  modules/sdk-coin-canton/test/unit/builder/transferOfferWithdrawn/transferOfferWithdrawnBuilder.ts
  modules/sdk-core/src/account-lib/baseCoin/enum.ts
Due: none

feat(abstract-utxo): make pubs parameter required for custom signing function
  modules/abstract-utxo/src/abstractUtxoCoin.ts
  modules/sdk-core/src/bitgo/baseCoin/iBaseCoin.ts
  modules/sdk-core/src/bitgo/wallet/wallet.ts
Due: none

feat(abstract-utxo): default to wasm-utxo on testnet
  modules/abstract-utxo/src/abstractUtxoCoin.ts
  modules/abstract-utxo/test/unit/customSigner.ts
  modules/abstract-utxo/test/unit/explainTransaction.ts
  modules/abstract-utxo/test/unit/wallet.ts
Due: none

refactor(abstract-eth): support signing by default
  modules/abstract-eth/src/abstractEthLikeNewCoins.ts
  modules/sdk-coin-arbeth/src/arbeth.ts
  modules/sdk-coin-bsc/src/bsc.ts
  modules/sdk-coin-eth/src/eth.ts
  modules/sdk-coin-evm/src/evmCoin.ts
  modules/sdk-coin-flr/src/flr.ts
  modules/sdk-coin-mon/src/mon.ts
  modules/sdk-coin-opeth/src/opeth.ts
  modules/sdk-coin-polygon/src/polygon.ts
  modules/sdk-coin-tempo/src/tempo.ts
Due: none

feat: capture raw body bytes for v4 hmac calculation TICKET: CAAS-659
  modules/express/src/clientRoutes.ts
  modules/express/src/expressApp.ts
  modules/express/test/unit/clientRoutes/rawBodyBuffer.ts
  modules/express/types/express/index.d.ts
Due: express

fix(express): add descriptions and clean summaries
  modules/express/src/typedRoutes/api/v2/keychainChangePassword.ts
  modules/express/src/typedRoutes/api/v2/keychainLocal.ts
  modules/express/src/typedRoutes/api/v2/verifyAddress.ts
Due: express

feat(statics): add testnet tokens
  modules/statics/src/account.ts
  modules/statics/src/allCoinsAndTokens.ts
  modules/statics/src/base.ts
  modules/statics/src/coins/ofcCoins.ts
  modules/statics/src/ofc.ts
  modules/statics/src/tokenConfig.ts
Due: statics

feat: enable pending txn tab for dot, tao and apt
  modules/statics/src/coinFeatures.ts
Due: statics

feat(sdk-coin-sol): upgrade @solana/spl-token from 0.3.1 to 0.4.9
  modules/sdk-coin-sol/package.json
  modules/sdk-coin-sol/test/resources/sol.ts
  yarn.lock
Due: none

feat(statics): onboard USDC.e (JOVAYETH:USDCE)
  modules/statics/src/allCoinsAndTokens.ts
  modules/statics/src/base.ts
  modules/statics/src/coins/ofcErc20Coins.ts
Due: statics

feat(statics): onboarding USDC.e (JOVAYETH:USDCE) Ticket: WIN-7934
  modules/statics/src/allCoinsAndTokens.ts
  modules/statics/src/base.ts
  modules/statics/src/coins/ofcErc20Coins.ts
Due: statics

feat(sdk-coin-flrp): add TxBuilder for P-chain staking
  modules/sdk-coin-flrp/src/flrp.ts
  modules/sdk-coin-flrp/src/lib/iface.ts
  modules/sdk-coin-flrp/src/lib/index.ts
  modules/sdk-coin-flrp/src/lib/permissionlessDelegatorTxBuilder.ts
  modules/sdk-coin-flrp/src/lib/transaction.ts
  modules/sdk-coin-flrp/src/lib/transactionBuilderFactory.ts
  modules/sdk-coin-flrp/src/lib/utils.ts
  modules/sdk-coin-flrp/test/resources/transactionData/delegatorTx.ts
  modules/sdk-coin-flrp/test/unit/flrp.ts
  modules/sdk-coin-flrp/test/unit/lib/permissionlessDelegatorTxBuilder.ts
  modules/sdk-coin-flrp/test/unit/lib/utils.ts
Due: none

feat(statics): rename sol:usdc.a to sol:usdca (WIN-8883)
  modules/statics/src/base.ts
  modules/statics/src/coins/ofcCoins.ts
  modules/statics/src/coins/solTokens.ts
Due: statics

feat: support erc20 token registry using custom coin map
  modules/sdk-coin-eth/src/register.ts
  modules/statics/src/tokenConfig.ts
Due: statics

fix: fixed the url for the tx explorere
  modules/statics/src/networks.ts
Due: statics

feat(abstract-utxo): upgrade wasm-utxo to version 1.36.0
  modules/abstract-utxo/package.json
  modules/utxo-bin/package.json
  modules/utxo-core/package.json
  modules/utxo-ord/package.json
  modules/utxo-staking/package.json
  yarn.lock
Due: none

feat(abstract-utxo): update check-fmt command path pattern
  modules/abstract-utxo/package.json
Due: none

feat(sdk-coin-dot): add WASM-based transaction parser
  modules/sdk-coin-dot/package.json
  modules/sdk-coin-dot/src/lib/index.ts
  modules/sdk-coin-dot/src/lib/wasmParser.ts
  yarn.lock
Due: none

feat(sdk-coin-hash): support valuless transactions
  modules/sdk-coin-atom/package.json
  modules/sdk-coin-hash/src/hash.ts
  modules/sdk-coin-hash/src/lib/utils.ts
  modules/sdk-coin-hash/test/unit/transactionBuilder/transferBuilder.ts
  modules/sdk-coin-sui/package.json
  modules/utxo-lib/package.json
  package.json
  yarn.lock
Due: none

feat(sdk-coin-hash): suport 0 value for contract call
  modules/sdk-coin-hash/src/lib/utils.ts
Due: none

feat(abstract-cosmos,sdk-coin-hash): add MsgVote support
  modules/abstract-cosmos/resources/ProposalCompiled.d.ts
  modules/abstract-cosmos/resources/ProposalCompiled.js
  modules/abstract-cosmos/src/lib/ContractCallBuilder.ts
  modules/abstract-cosmos/src/lib/constants.ts
  modules/abstract-cosmos/src/lib/utils.ts
  modules/sdk-coin-hash/test/resources/hash.ts
  modules/sdk-coin-hash/test/unit/transactionBuilder/contractCallBuilder.ts
  modules/sdk-coin-hash/test/unit/utils.ts
Due: none

chore: bump axios to 1.13.5
  package.json
  yarn.lock
Due: none

feat(abstract-utxo): use wasm-utxo instead of utxo-lib
  modules/abstract-utxo/src/descriptor/NamedDescriptor.ts
  modules/abstract-utxo/src/descriptor/builder/builder.ts
  modules/abstract-utxo/src/descriptor/builder/parse.ts
  modules/abstract-utxo/src/descriptor/createWallet/createDescriptors.ts
  modules/abstract-utxo/src/descriptor/validatePolicy.ts
  modules/abstract-utxo/test/unit/descriptor/NamedDescriptor.ts
  modules/abstract-utxo/test/unit/descriptor/builder.ts
  modules/abstract-utxo/test/unit/descriptor/createWallet/createDescriptors.ts
  modules/abstract-utxo/test/unit/descriptor/createWallet/fixtures/DefaultWsh2Of3.json
  modules/abstract-utxo/test/unit/descriptor/descriptorWallet.ts
  modules/abstract-utxo/test/unit/descriptor/fixtures/NamedDescriptorWithSignature.json
  modules/abstract-utxo/test/unit/descriptorAddress.ts
  modules/abstract-utxo/test/unit/transaction/descriptor/explainPsbt.ts
  modules/abstract-utxo/test/unit/transaction/descriptor/fixtures.utils.ts
  modules/abstract-utxo/test/unit/transaction/descriptor/fixtures/explainPsbt.a.json
  modules/abstract-utxo/test/unit/transaction/descriptor/fixtures/parseWithExternalRecipient.json
  modules/abstract-utxo/test/unit/transaction/descriptor/fixtures/parseWithInternalRecipient.json
  modules/abstract-utxo/test/unit/transaction/descriptor/fixtures/parseWithoutRecipients.json
  modules/abstract-utxo/test/unit/transaction/descriptor/parse.ts
  modules/abstract-utxo/test/unit/transaction/descriptor/sign.ts
  modules/abstract-utxo/test/unit/transaction/descriptor/validatePolicy.ts
Due: none

feat: capture raw body bytes for v4 hmac calculation TICKET: CAAS-659
  modules/express/src/clientRoutes.ts
  modules/express/src/expressApp.ts
  modules/express/test/unit/clientRoutes/rawBodyBuffer.ts
  modules/express/types/express/index.d.ts
  modules/sdk-api/src/api.ts
  modules/sdk-api/test/unit/api.ts
Due: express

refactor(abstract-utxo): replace redundant address
  modules/abstract-utxo/test/unit/address.ts
  modules/abstract-utxo/test/unit/fixtures/bch/addresses-by-chain.json
  modules/abstract-utxo/test/unit/fixtures/bcha/addresses-by-chain.json
  modules/abstract-utxo/test/unit/fixtures/bsv/addresses-by-chain.json
  modules/abstract-utxo/test/unit/fixtures/btc/addresses-by-chain.json
  modules/abstract-utxo/test/unit/fixtures/btg/addresses-by-chain.json
  modules/abstract-utxo/test/unit/fixtures/dash/addresses-by-chain.json
  modules/abstract-utxo/test/unit/fixtures/doge/addresses-by-chain.json
  modules/abstract-utxo/test/unit/fixtures/ltc/addresses-by-chain.json
  modules/abstract-utxo/test/unit/fixtures/tbch/addresses-by-chain.json
  modules/abstract-utxo/test/unit/fixtures/tbcha/addresses-by-chain.json
  modules/abstract-utxo/test/unit/fixtures/tbsv/addresses-by-chain.json
  modules/abstract-utxo/test/unit/fixtures/tbtc/addresses-by-chain.json
  modules/abstract-utxo/test/unit/fixtures/tbtc4/addresses-by-chain.json
  modules/abstract-utxo/test/unit/fixtures/tbtcbgsig/addresses-by-chain.json
  modules/abstract-utxo/test/unit/fixtures/tbtcsig/addresses-by-chain.json
  modules/abstract-utxo/test/unit/fixtures/tdash/addresses-by-chain.json
  modules/abstract-utxo/test/unit/fixtures/tdoge/addresses-by-chain.json
  modules/abstract-utxo/test/unit/fixtures/tltc/addresses-by-chain.json
  modules/abstract-utxo/test/unit/fixtures/tzec/addresses-by-chain.json
  modules/abstract-utxo/test/unit/fixtures/zec/addresses-by-chain.json
Due: none

feat(abstract-utxo): simplify mock recovery provider
  modules/abstract-utxo/test/unit/recovery/mock.ts
Due: none

refactor: change token to tokenName for canton builders Ticket: COIN-7545
  modules/sdk-coin-canton/src/lib/iface.ts
  modules/sdk-coin-canton/src/lib/oneStepPreApprovalBuilder.ts
  modules/sdk-coin-canton/src/lib/transferBuilder.ts
  modules/sdk-coin-canton/test/unit/builder/oneStepEnablement/oneStepEnablementBuilder.ts
Due: none

feat(sdk-hmac): add v4 canonical preimage construction TICKET: CAAS-660
  modules/sdk-hmac/src/hmac.ts
  modules/sdk-hmac/src/hmacv4.ts
  modules/sdk-hmac/src/index.ts
  modules/sdk-hmac/src/types.ts
  modules/sdk-hmac/src/util.ts
  modules/sdk-hmac/test/hmacv4.ts
Due: none

fix(sdk-coin-dot): add check for undefined amount
  modules/sdk-coin-dot/src/dot.ts
  modules/sdk-coin-dot/test/unit/dot.ts
Due: none

feat(abstract-utxo): replace utxo-lib with wasm-utxo in tests
  modules/abstract-utxo/test/unit/impl/btc/unit/btc.ts
Due: none

refactor(abstract-utxo): consolidate and refactor unit tests
  modules/abstract-utxo/test/unit/impl/btc/unit/fixtures/btcBackupKey.ts
  modules/abstract-utxo/test/unit/impl/btc/unit/fixtures/index.ts
  modules/abstract-utxo/test/unit/impl/ltc/unit/index.ts
  modules/abstract-utxo/test/unit/keychains.ts
  modules/abstract-utxo/test/unit/postProcessPrebuild.ts
  modules/abstract-utxo/test/unit/testSpoofTransaction.ts
  modules/abstract-utxo/test/unit/util/index.ts
  modules/abstract-utxo/test/unit/util/psbt.ts
Due: none
