Repository BitGo/BitGoJS: changes, and which Codecov flags are due for each by the changed paths.
All: bitgo, account-lib, statics, express

feat(utxo-coredao): initialize utxo-coredao
  modules/utxo-coredao/.eslintignore
  modules/utxo-coredao/.mocharc.yml
  modules/utxo-coredao/.npmignore
  modules/utxo-coredao/.prettierignore
  modules/utxo-coredao/.prettierrc.yml
  modules/utxo-coredao/README.md
  modules/utxo-coredao/package.json
  modules/utxo-coredao/src/descriptor.ts
  modules/utxo-coredao/src/index.ts
  modules/utxo-coredao/tsconfig.json
  yarn.lock
Due: none

feat(statics): updated cVault.finance token symbol
  modules/statics/src/base.ts
  modules/statics/src/coins.ts
Due: statics

chore: update usds test contract address
  modules/statics/src/coins.ts
Due: statics

feat(sdk-core): add support for eth v6 wallet
  modules/sdk-core/src/bitgo/wallet/wallets.ts
Due: none

feat(sdk-coin-xrp): add non-bitgo recovery for xrpl token
  modules/sdk-coin-xrp/src/lib/iface.ts
  modules/sdk-coin-xrp/src/lib/utils.ts
  modules/sdk-coin-xrp/src/xrp.ts
Due: none

test(utxo-lib): add check in utxo-lib for op-return
  modules/utxo-lib/src/testutil/psbt.ts
  modules/utxo-lib/test/bitgo/psbt/PsbtOutputs.ts
Due: none

feat(statics): add btc staking feature
  modules/statics/src/utxo.ts
  modules/statics/test/unit/coins.ts
Due: statics

fix(sdk-coin-ton): add logging for single nom (Ticket: SC-372)
  modules/sdk-coin-ton/src/lib/transaction.ts
Due: none

feat(utxo-coredao): init repo and op-return
  modules/utxo-coredao/.eslintignore
  modules/utxo-coredao/.mocharc.yml
  modules/utxo-coredao/.npmignore
  modules/utxo-coredao/.prettierignore
  modules/utxo-coredao/.prettierrc.yml
  modules/utxo-coredao/README.md
  modules/utxo-coredao/package.json
  modules/utxo-coredao/src/index.ts
  modules/utxo-coredao/src/transaction.ts
  modules/utxo-coredao/test/unit/transaction.ts
  modules/utxo-coredao/tsconfig.json
  yarn.lock
Due: none

chore: update codeowners
  CODEOWNERS
Due: none

feat(sdk-coin-xrp): add trustsetBuilder
  modules/sdk-coin-xrp/src/lib/iface.ts
  modules/sdk-coin-xrp/src/lib/index.ts
  modules/sdk-coin-xrp/src/lib/transaction.ts
  modules/sdk-coin-xrp/src/lib/transactionBuilderFactory.ts
  modules/sdk-coin-xrp/src/lib/trustsetBuilder.ts
  modules/sdk-coin-xrp/test/resources/xrp.ts
  modules/sdk-coin-xrp/test/unit/transactionBuilder/trustSetBuilder.ts
  modules/sdk-core/src/account-lib/baseCoin/enum.ts
Due: none

fix: xrp explorer link for testnet
  modules/statics/src/networks.ts
Due: statics

feat(sdk-core): support hardcoded gpg keys for non-express hot wallet flow
  modules/sdk-core/src/bitgo/keychain/iKeychains.ts
  modules/sdk-core/src/bitgo/tss/bitgoPubKeys.ts
  modules/sdk-core/src/bitgo/utils/mpcUtils.ts
  modules/sdk-core/src/bitgo/utils/tss/baseTSSUtils.ts
  modules/sdk-core/src/bitgo/utils/tss/baseTypes.ts
  modules/sdk-core/src/bitgo/utils/tss/ecdsa/base.ts
  modules/sdk-core/src/bitgo/utils/tss/ecdsa/ecdsaMPCv2.ts
  modules/sdk-core/src/bitgo/utils/tss/eddsa/eddsa.ts
Due: none

feat(sdk-core): support hardcoding bitgo pgp keys in external signer
  modules/sdk-core/src/bitgo/utils/tss/baseTSSUtils.ts
  modules/sdk-core/src/bitgo/utils/tss/baseTypes.ts
  modules/sdk-core/src/bitgo/utils/tss/ecdsa/ecdsaMPCv2.ts
  modules/sdk-core/src/bitgo/utils/tss/eddsa/eddsa.ts
Due: none

Revert "feat: add deprecated feature to gteth"
  modules/statics/src/coins.ts
Due: statics

chore(utxo-coredao): force there to only be timelock or redeem script
  modules/utxo-coredao/src/transaction.ts
  modules/utxo-coredao/test/unit/transaction.ts
Due: none

test(utxo-coredao): move into describe
  modules/utxo-coredao/test/unit/transaction.ts
Due: none

fix(sdk-coin-celo,sdk-coin-xtz): throw error on sendmany API call when recipients greater than 1
  modules/sdk-coin-celo/src/celo.ts
  modules/sdk-coin-celo/test/unit/celo.ts
  modules/sdk-coin-xtz/src/xtz.ts
  modules/sdk-coin-xtz/test/unit/xtz.ts
Due: none

feat(statics): add oas coin config Ticket: WIN-3649
  modules/bitgo/test/v2/unit/keychains.ts
  modules/statics/src/base.ts
  modules/statics/src/coins.ts
  modules/statics/src/networks.ts
  modules/statics/test/unit/fixtures/expectedColdFeatures.ts
Due: bitgo, statics

fix(utxo-coredao): clarifications from the coredao team
  modules/utxo-coredao/src/transaction.ts
  modules/utxo-coredao/test/unit/transaction.ts
Due: none

feat(utxo-coredao): parse and verify op-return
  modules/utxo-coredao/src/transaction.ts
  modules/utxo-coredao/test/unit/transaction.ts
Due: none

refactor(utxo-coredao): rename from transaction to opReturn
  modules/utxo-coredao/src/index.ts
  modules/utxo-coredao/src/opReturn.ts
  modules/utxo-coredao/test/unit/opReturn.ts
Due: none

feat(sdk-core): add tests for new pick mpc gpg pub key function
  modules/bitgo/test/v2/unit/internal/tssUtils/bitgoMpcGpgPubKeys.ts
  modules/express/test/unit/clientRoutes/externalSign.ts
  modules/sdk-core/src/bitgo/tss/bitgoPubKeys.ts
  modules/sdk-core/src/bitgo/tss/index.ts
  modules/sdk-core/src/bitgo/utils/tss/baseTSSUtils.ts
  modules/sdk-core/src/bitgo/utils/tss/ecdsa/base.ts
Due: bitgo, express

feat(statics): add new map of address to coin
  modules/statics/src/map.ts
  modules/statics/test/unit/coins.ts
Due: statics

feat(sdk-coin-xrp): add non-bitgo recovery for xrpl token
  modules/bitgo/test/v2/lib/recovery-nocks.ts
  modules/sdk-coin-xrp/src/lib/iface.ts
  modules/sdk-coin-xrp/src/xrp.ts
  modules/sdk-coin-xrp/test/resources/xrp.ts
  modules/sdk-coin-xrp/test/unit/xrp.ts
Due: bitgo

fix(sdk-core): pass correct walletVersion to wallet platform
  modules/abstract-eth/src/abstractEthLikeNewCoins.ts
  modules/bitgo/test/v2/unit/wallets.ts
  modules/sdk-core/src/bitgo/wallet/wallets.ts
Due: bitgo

chore(utxo-coredao): use payments.embed to make op-return
  modules/utxo-coredao/src/opReturn.ts
  modules/utxo-coredao/test/unit/opReturn.ts
Due: none

chore(utxo-coredao): apply changes
  modules/utxo-coredao/src/opReturn.ts
  modules/utxo-coredao/test/unit/opReturn.ts
Due: none

feat: update public-types
  modules/abstract-utxo/package.json
  modules/bitgo/package.json
  modules/express/package.json
  modules/sdk-core/package.json
  modules/sdk-lib-mpc/package.json
  package.json
  yarn.lock
Due: bitgo, express

chore: ignore all dist folders
  .gitignore
Due: none

chore(account-lib): remove resolutions for substrate
  modules/account-lib/package.json
Due: account-lib

chore(root): lock in yarn version
  .yarnrc
  package.json
  yarn.lock
Due: none

fix(root): add resolution for @polkadot/api
  package.json
  yarn.lock
Due: none

chore(utxo-coredao): import wasm-miniscript beta with op-drop
  modules/utxo-coredao/package.json
  yarn.lock
Due: none

feat(utxo-coredao): descriptor for CoreDao
  modules/utxo-coredao/src/descriptor.ts
  modules/utxo-coredao/test/fixtures/descriptor/sh-2of2-asm.txt
  modules/utxo-coredao/test/fixtures/descriptor/sh-2of2-ast.json
  modules/utxo-coredao/test/fixtures/descriptor/sh-2of2-string.txt
  modules/utxo-coredao/test/fixtures/descriptor/sh-2of2-tx.txt
  modules/utxo-coredao/test/fixtures/descriptor/sh-3of3-asm.txt
  modules/utxo-coredao/test/fixtures/descriptor/sh-3of3-ast.json
  modules/utxo-coredao/test/fixtures/descriptor/sh-3of3-string.txt
  modules/utxo-coredao/test/fixtures/descriptor/sh-3of3-tx.txt
  modules/utxo-coredao/test/fixtures/descriptor/sh-wsh-2of2-asm.txt
  modules/utxo-coredao/test/fixtures/descriptor/sh-wsh-2of2-ast.json
  modules/utxo-coredao/test/fixtures/descriptor/sh-wsh-2of2-string.txt
  modules/utxo-coredao/test/fixtures/descriptor/sh-wsh-2of2-tx.txt
  modules/utxo-coredao/test/unit/descriptor.ts
  modules/utxo-coredao/test/unit/utils.ts
Due: none

feat(sdk-core): update `prebuildSelfManagedStakingTransaction`
  modules/bitgo/test/v2/fixtures/staking/stakingWallet.ts
  modules/bitgo/test/v2/unit/staking/stakingWalletCommon.ts
  modules/sdk-core/src/bitgo/staking/stakingWallet.ts
Due: bitgo

fix(express): fix express overriding 2xx status
  modules/express/src/clientRoutes.ts
  modules/express/test/unit/clientRoutes/index.ts
Due: express

chore(root): bumped polkadot libs
  modules/sdk-coin-dot/package.json
  yarn.lock
Due: none

chore(utxo-coredao): add fixture from testnet3
  modules/utxo-coredao/src/descriptor.ts
  modules/utxo-coredao/src/index.ts
  modules/utxo-coredao/test/unit/descriptor.ts
Due: none

Path conditions:
  bitgo: any of: modules/bitgo
  account-lib: any of: modules/account-lib
  statics: any of: modules/statics
  express: any of: modules/express
