Repository BitGo/BitGoJS: changes, and which Codecov flags are due for each by the changed paths.
All: bitgo, account-lib, statics, express

.codecov.yml:

coverage:
  status:
    project: off
    patch: off
comment:
  layout: 'diff, flags, files'
  require_changes: true
flags:
  bitgo:
    paths:
      - modules/bitgo
  account-lib:
    paths:
      - modules/account-lib
  statics:
    paths:
      - modules/statics
  express:
    paths:
      - modules/express

chore: add BULK_TRANSACTION to topeth and hteth tokens
  modules/statics/src/account.ts
  modules/statics/src/coins.ts
Due: statics

fix(sdk-coin-icp): validate pubkey only when set
  modules/sdk-coin-icp/src/lib/utils.ts
Due: none

feat: added missing ofc coin config for stx:sbtc Ticket: COIN-3282
  modules/statics/src/coins/ofcCoins.ts
Due: statics

fix(sdk-coin-apt): prevent build() step during rebuildTransaction()
  modules/sdk-coin-apt/src/apt.ts
  modules/sdk-coin-apt/src/lib/transactionBuilder/transactionBuilder.ts
Due: none

feat: adding new batch of tokens
  modules/statics/src/base.ts
  modules/statics/src/coins.ts
  modules/statics/src/coins/erc20Coins.ts
  modules/statics/src/coins/ofcCoins.ts
  modules/statics/src/coins/ofcErc20Coins.ts
  modules/statics/src/coins/solTokens.ts
  modules/statics/src/gatekeep.ts
Due: statics

feat(sdk-coin-bsc): added support for mpcv2 in recovery
  modules/sdk-coin-bsc/src/bsc.ts
  modules/sdk-coin-bsc/src/lib/transactionBuilder.ts
  modules/sdk-coin-bsc/test/fixtures/ecdsa.ts
  modules/sdk-coin-bsc/test/unit/bsc.ts
  modules/sdk-coin-polygon/test/unit/polygon.ts
Due: none

refactor(root): remove bitgo backup provider "bitgoTrustAsKrs"
  modules/bitgo/test/v2/unit/internal/tssUtils/ecdsa.ts
  modules/bitgo/test/v2/unit/wallets.ts
  modules/key-card/test/unit/generateQrData.ts
  modules/sdk-core/src/bitgo/keychain/iKeychains.ts
  modules/sdk-core/src/bitgo/keychain/keychains.ts
  modules/sdk-core/src/bitgo/utils/mpcUtils.ts
  modules/sdk-core/src/bitgo/utils/opengpgUtils.ts
  modules/sdk-core/src/bitgo/utils/tss/baseTSSUtils.ts
  modules/sdk-core/src/bitgo/utils/tss/ecdsa/base.ts
  modules/sdk-core/src/bitgo/utils/tss/ecdsa/ecdsa.ts
  modules/sdk-core/src/bitgo/utils/tss/ecdsa/types.ts
  modules/sdk-core/src/bitgo/wallet/iWallets.ts
  modules/sdk-core/src/bitgo/wallet/wallets.ts
  modules/sdk-unified-wallet/src/unifiedWallets.ts
  modules/web-demo/src/components/KeyCard/fixtures.ts
Due: bitgo

chore: use cbor2 library
  modules/sdk-coin-icp/package.json
  modules/sdk-coin-icp/src/lib/utils.ts
  yarn.lock
Due: none

fix(sdk-coin-baby): add return to super call so inputs and outputs dont get cleared
  modules/sdk-coin-baby/src/lib/BabylonTransaction.ts
Due: none

feat: add ofc bsc usdt token Ticket: GO-1112
  commitlint.config.js
  modules/statics/src/coins/ofcCoins.ts
Due: statics

feat(sdk-coin-ton): add support for recovery for ton
  modules/sdk-coin-ton/src/ton.ts
  modules/sdk-coin-ton/test/unit/ton.ts
  modules/sdk-core/src/bitgo/environments.ts
  modules/sdk-core/src/bitgo/utils/tss/baseTypes.ts
Due: none

feat(statics): onboard new batch of erc20 tokens TICKET: COIN-3789
  modules/statics/src/base.ts
  modules/statics/src/coins/erc20Coins.ts
  modules/statics/src/coins/ofcErc20Coins.ts
Due: statics

fix(statics): correct assetids for sip10 tokens COIN-3829 TICKET: COIN-3829
  modules/statics/src/coins/sip10Tokens.ts
Due: statics

feat(statics): added monad config
  modules/statics/src/base.ts
  modules/statics/src/coins.ts
  modules/statics/src/networks.ts
  modules/statics/test/unit/fixtures/expectedColdFeatures.ts
Due: statics

feat(sdk-coin-icp): added txn hash generation logic
  modules/sdk-coin-icp/src/lib/iface.ts
  modules/sdk-coin-icp/src/lib/transaction.ts
  modules/sdk-coin-icp/src/lib/transactionBuilder.ts
  modules/sdk-coin-icp/src/lib/utils.ts
  modules/sdk-coin-icp/test/resources/icp.ts
  modules/sdk-coin-icp/test/unit/transactionBuilder/transactionBuilder.ts
Due: none

chore: changing codeowner for lightning examples
  CODEOWNERS
Due: none

feat(statics): add ofc support to all bsc tokens
  modules/statics/src/coins/ofcCoins.ts
Due: statics

chore(root): release express
  Dockerfile
Due: none

chore: add BULK_TRANSACTION to opeth and eth tokens
  modules/statics/src/account.ts
  modules/statics/src/coinFeatures.ts
  modules/statics/src/coins.ts
  modules/statics/src/coins/erc20Coins.ts
Due: statics

chore: adding few of lighting-examples and some cleanup TICKET: BTC-1963
  examples/ts/btc/lightning/create-custody-lightning-wallet.ts
  examples/ts/btc/lightning/create-invoice.ts
  examples/ts/btc/lightning/create-self-custody-lightning-wallet.ts
  examples/ts/btc/lightning/get-payment.ts
  examples/ts/btc/lightning/get-transaction.ts
  examples/ts/btc/lightning/list-invoices.ts
  examples/ts/btc/lightning/list-payments.ts
  examples/ts/btc/lightning/list-transactions.ts
  examples/ts/btc/lightning/pay-invoice.ts
Due: none

fix(sdk-coin-icp): update from() method to use PayloadsData
  modules/sdk-coin-icp/src/lib/iface.ts
  modules/sdk-coin-icp/src/lib/transaction.ts
  modules/sdk-coin-icp/src/lib/transactionBuilder.ts
  modules/sdk-coin-icp/test/unit/transaction.ts
  modules/sdk-coin-icp/test/unit/transactionBuilder/transactionBuilder.ts
Due: none

Revert "feat(sdk-coin-icp): Added txn hash generation logic"
  modules/sdk-coin-icp/src/lib/iface.ts
  modules/sdk-coin-icp/src/lib/transaction.ts
  modules/sdk-coin-icp/src/lib/transactionBuilder.ts
  modules/sdk-coin-icp/src/lib/utils.ts
  modules/sdk-coin-icp/test/resources/icp.ts
  modules/sdk-coin-icp/test/unit/transactionBuilder/transactionBuilder.ts
Due: none

chore: adding get-invoice example for lightning
  examples/ts/btc/lightning/get-invoice.ts
Due: none

feat(utxo-staking): add support for Babylon mainnet
  modules/utxo-staking/scripts/babylon-params.ts
  modules/utxo-staking/src/babylon/params.mainnet.json
  modules/utxo-staking/src/babylon/params.testnet.json
Due: none

feat(babylonlabs-io-btc-staking): backport changes from v1.0.3
  modules/babylonlabs-io-btc-staking-ts/package.json
  modules/babylonlabs-io-btc-staking-ts/src/staking/manager.ts
  modules/babylonlabs-io-btc-staking-ts/src/staking/stakingScript.ts
  modules/babylonlabs-io-btc-staking-ts/src/staking/transactions.ts
  modules/babylonlabs-io-btc-staking-ts/src/utils/btc.ts
Due: none

fix(scripts): update babylon vendor script and btc-staking-ts version
  scripts/vendor-github-repo.ts
Due: none

fix(utxo-staking): add support for bip322-simple signature type
  modules/utxo-staking/src/babylon/delegationMessage.ts
Due: none

feat(sdk-coin-sol): add support for marinade staking
  modules/sdk-coin-sol/src/lib/iface.ts
  modules/sdk-coin-sol/src/lib/instructionParamsFactory.ts
  modules/sdk-coin-sol/src/lib/solInstructionFactory.ts
  modules/sdk-coin-sol/src/lib/stakingActivateBuilder.ts
  modules/sdk-coin-sol/src/lib/stakingDeactivateBuilder.ts
  modules/sdk-coin-sol/test/resources/sol.ts
  modules/sdk-coin-sol/test/unit/transactionBuilder/stakingActivateBuilder.ts
Due: none

feat(sdk-core): add RBF as a transaction acceleration option
  modules/sdk-core/src/bitgo/wallet/wallet.ts
Due: none

fix(sdk-coin-icp): enhance hash functions to support Uint8Array in Utils class
  modules/sdk-coin-icp/src/lib/transaction.ts
  modules/sdk-coin-icp/src/lib/utils.ts
Due: none

fix(utxo-staking): support BIP-322 for delegation signatures
  modules/utxo-staking/package.json
  modules/utxo-staking/src/babylon/delegationMessage.ts
  yarn.lock
Due: none

feat(express): add support to change keychain password
  commitlint.config.js
  modules/express/src/clientRoutes.ts
  modules/express/test/unit/clientRoutes/changeKeychainPassword.ts
Due: express

feat: fiat sgd and aed ofc config Ticket: GO-1075
  modules/statics/src/coins/ofcCoins.ts
Due: statics

refactor(root): remove sdk-unified-wallet package
  CODEOWNERS
  modules/sdk-unified-wallet/.eslintignore
  modules/sdk-unified-wallet/.gitignore
  modules/sdk-unified-wallet/.mocharc.js
  modules/sdk-unified-wallet/.npmignore
  modules/sdk-unified-wallet/.prettierignore
  modules/sdk-unified-wallet/.prettierrc.yml
  modules/sdk-unified-wallet/CHANGELOG.md
  modules/sdk-unified-wallet/README.md
  modules/sdk-unified-wallet/package.json
  modules/sdk-unified-wallet/src/ecdsa-unified-wallet/ecdsaEVMUnifiedWallets.ts
  modules/sdk-unified-wallet/src/ecdsa-unified-wallet/types.ts
  modules/sdk-unified-wallet/src/eddsa-unified-wallet/eddsaUnifiedWallets.ts
  modules/sdk-unified-wallet/src/eddsa-unified-wallet/types.ts
  modules/sdk-unified-wallet/src/iUnifiedWallets.ts
  modules/sdk-unified-wallet/src/index.ts
  modules/sdk-unified-wallet/src/types.ts
  modules/sdk-unified-wallet/src/unifiedWallets.ts
  modules/sdk-unified-wallet/test/fixtures/ecdsaUnifiedWalletFixtures.ts
  modules/sdk-unified-wallet/test/unit/ecdsaUnifiedWallets.ts
  modules/sdk-unified-wallet/test/unit/eddsaUnifiedWallets.ts
  modules/sdk-unified-wallet/tsconfig.json
  scripts/tests/prepareRelease/fixtures/dist-tags.json
  tsconfig.packages.json
Due: none

fix: fix the xrp:xsgd currency for txn hash
  modules/statics/src/coins.ts
Due: statics

feat(statics): add go account support for baby
  modules/statics/src/coins/ofcCoins.ts
Due: statics

feat(statics): add coin feature for erc20 batching
  modules/statics/src/base.ts
  modules/statics/src/coinFeatures.ts
  modules/statics/src/coins.ts
  modules/statics/test/unit/coins.ts
Due: statics

test: initial commit of new branch
  examples/ts/access-token.ts
  examples/ts/create-tss-wallet.ts
  examples/ts/get-keychains.ts
  examples/ts/send-many.ts
  examples/ts/send-wallet-transaction.ts
  examples/ts/sui/create-wallet.ts
Due: none

chore(examples): get keychains
  .gitcommitscopes
  examples/ts/access-token.ts
  examples/ts/get-keychains.ts
Due: none
