Repository BitGo/BitGoJS: changes, and which Codecov flags are due for each by the changed paths.
All: bitgo, account-lib, statics, express

.codecov.yml:

coverage:
  status:
    project: off
    patch: off
comment:
  layout: 'diff, flags, files'
  require_changes: true
flags:
  bitgo:
    paths:
      - modules/bitgo
  account-lib:
    paths:
      - modules/account-lib
  statics:
    paths:
      - modules/statics
  express:
    paths:
      - modules/express

chore: bump @bitgo/wasm-utxo to 4.16.0
  modules/abstract-utxo/package.json
  modules/utxo-bin/package.json
  modules/utxo-core/package.json
  modules/utxo-descriptors/package.json
  modules/utxo-ord/package.json
  modules/utxo-staking/package.json
  yarn.lock
Due: none

feat(sdk-coin-eth): add zama token withdrawal support TICKET: CHALO-529
  modules/abstract-eth/src/lib/transactionBuilder.ts
  modules/abstract-eth/src/lib/transferBuilders/index.ts
  modules/abstract-eth/src/lib/transferBuilders/transferBuilderERC7984.ts
  modules/abstract-eth/src/lib/utils.ts
  modules/abstract-eth/src/lib/walletUtil.ts
  modules/sdk-coin-eth/src/erc7984Token.ts
  modules/sdk-coin-eth/src/lib/transactionBuilder.ts
  modules/sdk-coin-eth/src/lib/transferBuilders/index.ts
  modules/sdk-coin-eth/test/unit/erc7984Token.ts
  modules/sdk-coin-eth/test/unit/transactionBuilder/sendERC7984Token.ts
  modules/sdk-core/src/account-lib/baseCoin/enum.ts
Due: none

feat: add encryptAsync to encrypt.ts
  modules/sdk-api/src/bitgoAPI.ts
  modules/sdk-api/src/encrypt.ts
  modules/sdk-api/test/unit/encrypt.ts
Due: none

fix(statics): sdk bump
  modules/statics/src/coins/ofcCoins.ts
  modules/statics/src/coins/solTokens.ts
Due: statics

feat(express): add EdDSA MPCv2 external signer routing
  modules/express/src/clientRoutes.ts
  modules/express/src/typedRoutes/api/v2/generateShareTSS.ts
  modules/express/test/unit/clientRoutes/externalSign.ts
  modules/express/test/unit/typedRoutes/generateShareTSS.ts
Due: express

feat(statics): exclude Singapore custody for CECHO-1183 HoodETH and XTZEVM tokens
  modules/statics/src/allCoinsAndTokens.ts
  modules/statics/src/coinFeatures.ts
Due: statics

feat(utxo-lib): add ZEC NU6.2 consensus branch id
  modules/utxo-lib/src/bitgo/transaction.ts
  modules/utxo-lib/src/bitgo/zcash/ZcashPsbt.ts
  modules/utxo-lib/src/bitgo/zcash/ZcashTransaction.ts
  modules/utxo-lib/src/bitgo/zcash/ZcashTransactionBuilder.ts
  modules/utxo-lib/test/bitgo/fixtures/psbt/psbt-lite.zcash.fullsigned.json
  modules/utxo-lib/test/bitgo/fixtures/psbt/psbt-lite.zcash.halfsigned.json
  modules/utxo-lib/test/bitgo/fixtures/psbt/psbt-lite.zcash.unsigned.json
  modules/utxo-lib/test/bitgo/fixtures/psbt/psbt.zcash.fullsigned.json
  modules/utxo-lib/test/bitgo/fixtures/psbt/psbt.zcash.halfsigned.json
  modules/utxo-lib/test/bitgo/fixtures/psbt/psbt.zcash.unsigned.json
  modules/utxo-lib/test/bitgo/zcash/consensusBranchId.ts
Due: none

feat: default encryptAsync to v2
  modules/sdk-api/src/encrypt.ts
  modules/sdk-api/test/unit/encrypt.ts
Due: none

feat(statics): add CoinMap.getOrUndefined() safe accessor
  modules/statics/src/map.ts
  modules/statics/test/unit/coins.ts
Due: statics

fix(abstract-eth): fix verifyTransaction for base multig address during enable token flow TICKET: CHALO-530
  modules/abstract-eth/src/abstractEthLikeNewCoins.ts
  modules/sdk-coin-eth/test/unit/eth.ts
Due: none

feat: add hbarevm ofc coins
  modules/statics/src/coins/ofcCoins.ts
Due: statics

feat: add cantonCommand intent to prebuild
  modules/sdk-core/src/bitgo/wallet/iWallet.ts
  modules/sdk-core/src/bitgo/wallet/wallet.ts
Due: none

fix(sdk-coin-ada): mark change outputs with change:true in explainTransaction
  modules/sdk-coin-ada/src/ada.ts
  modules/sdk-coin-ada/src/lib/transaction.ts
  modules/sdk-coin-ada/src/lib/transactionBuilder.ts
  modules/sdk-coin-ada/test/unit/transactionBuilder.ts
Due: none

feat(sdk-core): add getEddsaMPCv2RecoveryKeyShares helper
  modules/sdk-core/src/bitgo/utils/tss/eddsa/eddsaMPCv2.ts
  modules/sdk-core/test/unit/bitgo/utils/tss/eddsa/eddsaMPCv2.ts
Due: none

ci: retry and alert on GitHub release creation failure
  .github/workflows/npmjs-release.yml
Due: none

ci: drop slack webhook step and skip last-attempt sleep
  .github/workflows/npmjs-release.yml
Due: none

fix(sdk-coin-ada): mark change outputs in explainTransaction
  modules/sdk-coin-ada/src/lib/transaction.ts
  modules/sdk-coin-ada/src/lib/transactionBuilder.ts
  modules/sdk-coin-ada/test/unit/transactionBuilder.ts
Due: none

test(express): add EdDSA MPCv2 external-signer DSG round-trip test
  modules/express/test/unit/clientRoutes/externalSign.ts
Due: express

feat: move keycard pdf parse/upload code from bitgo-retail to key-card sdk
  modules/key-card/package.json
  modules/key-card/src/extractKeycardFromPDF.ts
  modules/key-card/src/index.ts
  modules/key-card/src/parseKeycard.ts
  modules/key-card/test/unit/parseKeycard.test.ts
  modules/web-demo/package.json
  modules/web-demo/src/components/KeyCard/index.tsx
Due: none

fix: downgrade pdfjs-dist to ^4.0.0 for node 20 compatibility
  modules/key-card/package.json
  modules/web-demo/package.json
  modules/web-demo/src/components/KeyCard/index.tsx
Due: none

fix: use dynamic import for pdfjs-dist to avoid dom globals in node.js
  modules/key-card/src/extractKeycardFromPDF.ts
Due: none

fix: restore pdfjs worker to .mjs and add mjs to webpack resolve extensions
  modules/web-demo/src/components/KeyCard/index.tsx
  modules/web-demo/webpack/dev.config.js
  modules/web-demo/webpack/prod.config.js
Due: none

Revert "feat: default encryptAsync to v2"
  modules/sdk-api/src/encrypt.ts
  modules/sdk-api/test/unit/encrypt.ts
Due: none

feat(key-card): add PDF keycard parsing via pdfjs-dist
  modules/key-card/package.json
  modules/key-card/src/index.ts
  modules/key-card/src/parseKeycard.ts
  modules/key-card/src/pdf-declarations.d.ts
  modules/key-card/src/types.ts
  modules/key-card/test/unit/parseKeycard.ts
  modules/web-demo/src/App.tsx
  modules/web-demo/src/components/Navbar/index.tsx
  modules/web-demo/src/components/ParseKeycard/index.tsx
  package.json
  yarn.lock
Due: none

feat(sdk-coin-hbar): add stakedAccountId support to AccountUpdateBuilder
  modules/sdk-coin-hbar/src/lib/accountUpdateBuilder.ts
  modules/sdk-coin-hbar/src/lib/iface.ts
  modules/sdk-coin-hbar/src/lib/transaction.ts
  modules/sdk-coin-hbar/test/unit/transactionBuilder/accountUpdateBuilder.ts
Due: none

fix(sdk-coin-sol): decoupling static call for token info
  modules/sdk-coin-sol/src/lib/ataInitializationBuilder.ts
  modules/sdk-coin-sol/src/lib/tokenTransferBuilder.ts
Due: none

chore: revert irys package from sdk
  modules/sdk-coin-irys/.mocharc.yml
  modules/sdk-coin-irys/.npmignore
  modules/sdk-coin-irys/CHANGELOG.md
  modules/sdk-coin-irys/package.json
  modules/sdk-coin-irys/src/index.ts
  modules/sdk-coin-irys/src/lib/commitmentTransactionBuilder.ts
  modules/sdk-coin-irys/src/lib/iface.ts
  modules/sdk-coin-irys/src/lib/index.ts
  modules/sdk-coin-irys/src/lib/utils.ts
  modules/sdk-coin-irys/test/unit/commitmentTransactionBuilder.ts
  modules/sdk-coin-irys/tsconfig.json
  modules/statics/src/allCoinsAndTokens.ts
Due: statics

feat(sdk-core): add execMode support to txrequests API
  modules/bitgo/test/v2/unit/internal/tssUtils/eddsa.ts
  modules/sdk-core/src/bitgo/utils/tss/baseTSSUtils.ts
  modules/sdk-core/src/bitgo/utils/tss/baseTypes.ts
  modules/sdk-core/src/bitgo/wallet/BuildParams.ts
  modules/sdk-core/src/bitgo/wallet/iWallet.ts
  modules/sdk-core/src/bitgo/wallet/wallet.ts
Due: bitgo

feat: exclude singapore trust for ab1
  modules/statics/src/coins/solTokens.ts
Due: statics

feat(sdk-coin-canton): forward token and make choiceArgument optional
  modules/sdk-coin-canton/src/lib/cantonCommandBuilder.ts
  modules/sdk-coin-canton/src/lib/iface.ts
  modules/sdk-coin-canton/test/unit/builder/cantonCommand/cantonCommandBuilder.ts
  modules/sdk-core/src/bitgo/utils/tss/baseTypes.ts
  modules/sdk-core/src/bitgo/wallet/wallet.ts
Due: none

refactor: extract pdf coordinate tolerances to named constants and add jsdoc
  modules/key-card/src/parseKeycard.ts
Due: none

feat: external signer callback for multisig akm wallet gen
  modules/sdk-core/src/bitgo/wallet/iWallets.ts
  modules/sdk-core/src/bitgo/wallet/wallets.ts
  modules/sdk-core/test/unit/bitgo/wallet/walletsExternalSigner.ts
Due: none

fix(statics): skip AMS tokens that reuse a static contract address
  modules/statics/src/coins.ts
  modules/statics/src/map.ts
  modules/statics/test/unit/coins.ts
Due: statics

fix(statics): remove stale eth:at bot token colliding with live AMS
  modules/statics/src/coins/botTokens.ts
Due: statics

feat(sdk-core): accept SPKI secp256k1 pubs in Ofc.isValidPub
  modules/bitgo/test/v2/unit/coins/ofc.ts
  modules/sdk-core/src/coins/ofc.ts
Due: bitgo
