Repository BitGo/BitGoJS: changes, and which Codecov flags are due for each by the changed paths.
All: bitgo, account-lib, statics, express

feat: fetch keychain per wallet once
  modules/bitgo/test/v2/unit/wallets.ts
  modules/sdk-core/src/bitgo/wallet/wallet.ts
Due: bitgo

Revert "Merge pull request #7841 from BitGo/BTC-0-revert-v1-for-now"
  modules/sdk-api/src/v1/transactionBuilder.ts
  modules/sdk-api/src/v1/wallet.ts
  modules/sdk-api/test/unit/v1/wallet.ts
Due: none

feat: bump @bitgo/wasm-utxo to 1.19.0
  modules/abstract-utxo/package.json
  modules/utxo-bin/package.json
  modules/utxo-core/package.json
  modules/utxo-staking/package.json
  yarn.lock
Due: none

chore(root): bump public types
  modules/abstract-lightning/package.json
  modules/bitgo/package.json
  modules/express/package.json
  modules/sdk-coin-sol/package.json
  modules/sdk-core/package.json
  yarn.lock
Due: bitgo, express

feat: refactor the erc20 coin creation
  modules/statics/src/coins.ts
  modules/statics/src/coins/erc20Coins.ts
  modules/statics/src/coins/erc20MasterTokens.ts
  modules/statics/src/coins/ofcErc20Coins.ts
  modules/statics/test/unit/coins.ts
  modules/statics/test/unit/ofcCoinParity.ts
  modules/statics/test/unit/tokenNamingConvention.ts
Due: statics

fix: install @api-ts/openapi-generator
  package.json
  yarn.lock
Due: none

fix: override verify tss txn for xdc token
  modules/sdk-coin-xdc/src/xdcToken.ts
  modules/sdk-coin-xdc/test/resources.ts
  modules/sdk-coin-xdc/test/unit/xdcToken.ts
  modules/statics/src/account.ts
Due: statics

feat(abstract-utxo): use wasm-utxo address generator for all networks
  modules/abstract-utxo/src/address/fixedScript.ts
Due: none

feat(abstract-utxo): simplify testnet coin name type and check
  modules/abstract-utxo/src/names.ts
Due: none

feat(abstract-utxo): refine typed interfaces and update naming
  modules/abstract-utxo/src/abstractUtxoCoin.ts
  modules/abstract-utxo/src/names.ts
  modules/abstract-utxo/test/unit/transaction/fixedScript/parsePsbt.ts
Due: none

fix(abstract-utxo): improve type checking in isUtxoWalletData
  modules/abstract-utxo/src/wallet.ts
Due: none

feat(abstract-utxo): define coin name in coin class instead of network
  modules/abstract-utxo/src/abstractUtxoCoin.ts
  modules/abstract-utxo/src/impl/bch/bch.ts
  modules/abstract-utxo/src/impl/bch/tbch.ts
  modules/abstract-utxo/src/impl/bcha/bcha.ts
  modules/abstract-utxo/src/impl/bcha/tbcha.ts
  modules/abstract-utxo/src/impl/bsv/bsv.ts
  modules/abstract-utxo/src/impl/bsv/tbsv.ts
  modules/abstract-utxo/src/impl/btc/btc.ts
  modules/abstract-utxo/src/impl/btc/tbtc.ts
  modules/abstract-utxo/src/impl/btc/tbtc4.ts
  modules/abstract-utxo/src/impl/btc/tbtcbgsig.ts
  modules/abstract-utxo/src/impl/btc/tbtcsig.ts
  modules/abstract-utxo/src/impl/btg/btg.ts
  modules/abstract-utxo/src/impl/dash/dash.ts
  modules/abstract-utxo/src/impl/dash/tdash.ts
  modules/abstract-utxo/src/impl/doge/doge.ts
  modules/abstract-utxo/src/impl/doge/tdoge.ts
  modules/abstract-utxo/src/impl/ltc/ltc.ts
  modules/abstract-utxo/src/impl/ltc/tltc.ts
  modules/abstract-utxo/src/impl/zec/tzec.ts
  modules/abstract-utxo/src/impl/zec/zec.ts
Due: none

feat(abstract-utxo): add explicit testnet coin array and mainnet mapping
  modules/abstract-utxo/src/names.ts
  modules/abstract-utxo/test/unit/coins.ts
Due: none

feat(abstract-utxo): use coin name to get family
  modules/abstract-utxo/src/abstractUtxoCoin.ts
Due: none

feat(abstract-utxo): use coin name to determine coin full name
  modules/abstract-utxo/src/abstractUtxoCoin.ts
  modules/abstract-utxo/src/names.ts
Due: none

chore: remove duplicate PSBT hex from signTransaction response
  modules/sdk-api/src/v1/wallet.ts
Due: none

feat: use fromOutput to remove utxolib dependency in wasm path
  modules/abstract-utxo/src/recovery/backupKeyRecovery.ts
  modules/abstract-utxo/src/recovery/crossChainRecovery.ts
  modules/abstract-utxo/src/recovery/psbt.ts
Due: none

feat: enable multisig stuck tx for all EVM chains
  modules/statics/src/coinFeatures.ts
Due: statics

feat(sdk-coin-tempo): add transaction serialization
  modules/sdk-coin-tempo/package.json
  modules/sdk-coin-tempo/src/lib/transaction.ts
  modules/sdk-coin-tempo/src/tempo.ts
Due: none

feat: add types for keychain
  modules/bitgo/test/v2/unit/wallets.ts
  modules/sdk-core/src/bitgo/wallet/iWallet.ts
  modules/sdk-core/src/bitgo/wallet/wallet.ts
Due: bitgo

feat(abstract-utxo): refactor signAndVerifyPsbt
  modules/abstract-utxo/src/recovery/backupKeyRecovery.ts
  modules/abstract-utxo/src/recovery/crossChainRecovery.ts
  modules/abstract-utxo/src/transaction/fixedScript/signPsbt.ts
  modules/abstract-utxo/src/transaction/fixedScript/signPsbtWasm.ts
  modules/abstract-utxo/src/transaction/fixedScript/signTransaction.ts
  modules/abstract-utxo/test/unit/transaction/fixedScript/signPsbt.ts
Due: none

feat(abstract-utxo): rename signPsbt to signPsbtUtxolib
  modules/abstract-utxo/src/recovery/backupKeyRecovery.ts
  modules/abstract-utxo/src/recovery/crossChainRecovery.ts
  modules/abstract-utxo/src/transaction/fixedScript/SigningError.ts
  modules/abstract-utxo/src/transaction/fixedScript/signPsbtUtxolib.ts
  modules/abstract-utxo/src/transaction/fixedScript/signTransaction.ts
  modules/abstract-utxo/test/unit/transaction/fixedScript/signPsbt.ts
Due: none

feat(abstract-utxo): use coin name instead of network
  modules/abstract-utxo/src/recovery/backupKeyRecovery.ts
  modules/abstract-utxo/src/recovery/crossChainRecovery.ts
  modules/abstract-utxo/src/recovery/psbt.ts
Due: none

feat(abstract-utxo): add unified signAndVerifyPsbt function
  modules/abstract-utxo/src/transaction/fixedScript/signTransaction.ts
Due: none

feat: add mantle erc20 token
  modules/statics/src/allCoinsAndTokens.ts
  modules/statics/src/base.ts
Due: statics

feat: add ofc assets for Mantle and Fluenteth
  modules/statics/src/coins/ofcCoins.ts
  modules/statics/src/map.ts
Due: statics

feat(scripts): allow configurable version prefix for dependency upgrade
  scripts/upgrade-workspace-dependency.ts
Due: none

feat(abstract-utxo): bump wasm-utxo dependency to v1.20.0
  modules/abstract-utxo/package.json
  modules/utxo-bin/package.json
  modules/utxo-core/package.json
  modules/utxo-staking/package.json
  yarn.lock
Due: none

feat(sdk-core): add updateWallet function and freezeDepositsFromShielded
  modules/sdk-core/src/bitgo/wallet/iWallet.ts
  modules/sdk-core/src/bitgo/wallet/wallet.ts
Due: none

chore(statics): update url for zec
  modules/statics/src/networks.ts
Due: statics

feat: onboard xlayer and jovayeth tokens
  modules/statics/src/allCoinsAndTokens.ts
  modules/statics/src/base.ts
Due: statics

feat(sdk-core): replace utxo-core with secp256k1 for bip32utils
  Dockerfile
  modules/sdk-core/package.json
  modules/sdk-core/src/bitgo/bip32util.ts
  modules/secp256k1/package.json
  modules/secp256k1/src/bip32utils.ts
  modules/secp256k1/src/index.ts
  modules/secp256k1/test/bip32utils.ts
  modules/utxo-core/package.json
  modules/utxo-core/src/bip32utils.ts
Due: none

feat: enable erc20 token optimization for all tokens
  modules/statics/src/coins.ts
  modules/statics/src/tokenConfig.ts
  modules/statics/test/unit/tokenConfigTests.ts
Due: statics

feat: go account suppport for mantle erc20 tokens
  modules/statics/src/coins/ofcErc20Coins.ts
Due: statics

feat: mon token support
  modules/bitgo/src/v2/coinFactory.ts
  modules/bitgo/src/v2/coins/index.ts
  modules/bitgo/test/browser/browser.spec.ts
  modules/sdk-coin-mon/src/index.ts
  modules/sdk-coin-mon/src/monToken.ts
  modules/sdk-coin-mon/src/register.ts
  modules/sdk-coin-mon/test/unit/monToken.ts
  modules/statics/src/account.ts
  modules/statics/src/allCoinsAndTokens.ts
  modules/statics/src/base.ts
  modules/statics/src/tokenConfig.ts
Due: bitgo, statics

Path conditions:
  bitgo: any of: modules/bitgo
  account-lib: any of: modules/account-lib
  statics: any of: modules/statics
  express: any of: modules/express
