Repository BitGo/BitGoJS: changes, and which Codecov flags are due for each by the changed paths.
All: bitgo, account-lib, statics, express

fix(core): fix token unit test which expected Bluebird promise
  modules/core/test/v2/unit/coins/token.ts
Due: bitgo

chore(core): remove coroutines from v2/unit/coins/xrp
  modules/core/test/v2/unit/coins/xrp.ts
Due: bitgo

chore(core): remove coroutines from test/unit/bitgo
  modules/core/test/unit/bitgo.ts
Due: bitgo

chore(core): remove coroutines from test/unit/keychains
  modules/core/test/unit/keychains.ts
Due: bitgo

chore(core): remove coroutines from test/unit/wallet
  modules/core/test/unit/wallet.ts
Due: bitgo

chore(core): remove coroutines from v2/unit/enterprise
  modules/core/test/v2/unit/enterprise.ts
Due: bitgo

chore(core): remove coroutines from test/v2/unit/ethWallet
  modules/core/test/v2/unit/ethWallet.ts
Due: bitgo

chore(core): remove coroutines from test/v2/unit/keychains
  modules/core/test/v2/unit/keychains.ts
Due: bitgo

chore(core): remove coroutines from test/v2/unit/wallets
  modules/core/test/v2/unit/wallets.ts
Due: bitgo

chore(core): remove coroutines from test/v2/unit/coins/xlm
  modules/core/test/v2/unit/coins/xlm.ts
Due: bitgo

chore(core): remove coroutines from test/lib/test_bitgo
  modules/core/test/lib/test_bitgo.ts
Due: bitgo

fix(core): fix failing tests after coroutine removal in test code
  modules/core/test/unit/wallet.ts
  modules/core/test/v2/unit/ethWallet.ts
Due: bitgo

chore(core): remove useless `getAsyncError` function on TestBitGo
  modules/core/test/lib/test_bitgo.ts
  modules/core/test/v2/integration/coins/eth.ts
  modules/core/test/v2/integration/wallet.ts
  modules/core/test/v2/unit/wallet.ts
Due: bitgo

chore(core): remove `NodeCallback` type and dangling callback params
  modules/core/src/bitgo.ts
  modules/core/src/common.ts
  modules/core/src/v2/baseCoin.ts
  modules/core/src/v2/coins/abstractEthLikeCoin.ts
  modules/core/src/v2/coins/avaxc.ts
  modules/core/src/v2/coins/susd.ts
  modules/core/src/v2/enterprise.ts
  modules/core/src/v2/types.ts
Due: bitgo

chore(core): remove coroutines in test/v2/unit/trading
  modules/core/test/v2/unit/trading/affirmation.ts
  modules/core/test/v2/unit/trading/payload.ts
  modules/core/test/v2/unit/trading/settlement.ts
  modules/core/test/v2/unit/trading/tradingAccount.ts
  modules/core/test/v2/unit/trading/tradingPartner.ts
Due: bitgo

chore(root): target ES2019
  modules/core/package.json
  tsconfig.json
Due: bitgo

refactor(core): use `.flat()` in backupKeyRecovery
  modules/core/src/v2/coins/utxo/recovery/backupKeyRecovery.ts
Due: bitgo

feat(core): dot core explain tx
  modules/account-lib/src/coin/dot/index.ts
  modules/core/src/v2/coins/dot.ts
  modules/core/test/v2/unit/coins/dot.ts
Due: bitgo, account-lib

chore(core): require minimal node engine 14
  modules/core/package.json
Due: bitgo

chore(accounts): add engines in package.json: `node: >=14 <17`
  modules/account-lib/package.json
Due: account-lib

refactor(core): remove use of `Codes` from `@bitgo/unspents`
  modules/core/src/v2/coins/abstractUtxoCoin.ts
  modules/core/src/v2/coins/utxo/recovery/backupKeyRecovery.ts
  modules/core/src/wallet.ts
  modules/core/test/v2/unit/coins/utxo/address.ts
Due: bitgo

refactor(unspents): deprecate `Codes`
  modules/unspents/README.md
  modules/unspents/src/codes.ts
  modules/unspents/src/dimensions.ts
  modules/unspents/src/index.ts
  modules/unspents/test/dimensions.ts
Due: none

feat(core): added ETH V1 examples BG-38188
  modules/core/example/js/eth/create-wallet-address.js
  modules/core/example/js/eth/create-wallet.js
  modules/core/example/ts/eth/create-wallet-address.ts
  modules/core/example/ts/eth/create-wallet.ts
  modules/express/test/integration/eth.ts
Due: bitgo, express

fix(dot): bump keyring version
  modules/account-lib/package.json
Due: account-lib

chore(root): restrict commit scopes to module names and `root`
  commitlint.config.js
Due: none

chore(root): require references and restrict reference prefixes
  commitlint.config.js
Due: none

tests(utxo-lib): add tests for isPlaceholderSignature
  modules/utxo-lib/test/bitgo/signature.ts
Due: none

test(utxo-lib): increase test coverage for address.ts
  modules/utxo-lib/test/address/address.ts
Due: none

chore(utxo-lib): add coverage hints to nonStandardHalfSigned
  modules/utxo-lib/src/bitgo/nonStandardHalfSigned.ts
Due: none

feat(utxo-lib): add isSupportedScriptType(network, scriptType)
  modules/core/src/v2/coins/abstractUtxoCoin.ts
  modules/core/src/v2/coins/btc.ts
  modules/core/src/v2/coins/btg.ts
  modules/core/src/v2/coins/ltc.ts
  modules/utxo-lib/src/bitgo/outputScripts.ts
  modules/utxo-lib/src/coins.ts
  modules/utxo-lib/src/index.ts
  modules/utxo-lib/test/bitgo/outputScripts.ts
  modules/utxo-lib/test/integration_local_rpc/generate/main.ts
  modules/utxo-lib/test/integration_local_rpc/generate/outputScripts.util.ts
  modules/utxo-lib/test/networks.ts
Due: bitgo

chore(statics): remove incorrect features
  modules/statics/src/base.ts
  modules/statics/src/ofc.ts
  modules/statics/src/utxo.ts
Due: statics

docs(core): improve comment in AbstractUtxoCoin `getAddressVersion()`
  modules/core/src/v2/coins/abstractUtxoCoin.ts
Due: bitgo

feat(core): dot core explain transaction
  modules/account-lib/src/coin/dot/index.ts
  modules/core/src/v2/coins/dot.ts
  modules/core/test/v2/unit/coins/dot.ts
Due: bitgo, account-lib

chore(account-lib): export polkadot interface
  modules/account-lib/src/coin/dot/index.ts
Due: account-lib

refactor(statics): change batcherContractAddr
  modules/statics/src/networks.ts
Due: statics

feat(statics): new tokens being added
  modules/statics/src/base.ts
  modules/statics/src/coins.ts
Due: statics

feat(utxo-lib): add addressFormats
  modules/utxo-lib/package.json
  modules/utxo-lib/src/addressFormat.ts
  modules/utxo-lib/src/bitgo/bitcoincash/address.ts
  modules/utxo-lib/src/bitgo/bitcoincash/cashaddress.d.ts
  modules/utxo-lib/src/index.ts
  modules/utxo-lib/test/address/address.ts
  modules/utxo-lib/test/address/addressFormat.ts
  modules/utxo-lib/test/address/bitcoincash/cashaddr.ts
  modules/utxo-lib/test/address/bitcoincash/fixtures.ts
  modules/utxo-lib/test/address/fixtures/bitcoincash-cashaddr.json
  modules/utxo-lib/test/address/fixtures/bitcoincashTestnet-cashaddr.json
Due: none

refactor(core): use utxolib for cashaddr
  modules/core/src/v2/coins/bch.ts
  modules/core/test/v2/unit/coins/utxo/custom/bch.ts
Due: bitgo

fix(account-lib): update validitiyWindow dot validation
  modules/account-lib/src/coin/dot/transactionBuilder.ts
  modules/account-lib/test/unit/coin/dot/transactionBuilder/transferBuilder.ts
Due: account-lib

Path conditions:
  bitgo: any of: modules/core
  account-lib: any of: modules/account-lib
  statics: any of: modules/statics
  express: any of: modules/express
