Repository BitGo/BitGoJS: changes, and which Codecov flags are due for each by the changed paths.
All: bitgo, account-lib, statics, express

.codecov.yml:

coverage:
  status:
    project: off
    patch: off
comment:
  layout: "diff, flags, files"
  require_changes: true
flags:
  bitgo:
    paths:
      - modules/core
  account-lib:
    paths:
      - modules/account-lib
  statics:
    paths:
      - modules/statics
  express:
    paths:
      - modules/express

fix(core): allow for ENS resolution in WP to change recipient addr(eth)
  modules/core/src/v2/coins/eth.ts
  modules/core/test/v2/unit/coins/eth.ts
Due: bitgo

feat(core): implement verify transaction function for sol
  modules/core/src/v2/coins/sol.ts
  modules/core/test/v2/unit/coins/sol.ts
Due: bitgo

fix(account-lib): update static values for dot tests STLX-11678
  modules/account-lib/test/resources/dot/index.ts
  modules/account-lib/test/unit/coin/dot/transactionBuilder/addressInitializationBuilder.ts
Due: account-lib

fix(account-lib): changed key validation for Solana
  modules/account-lib/src/coin/sol/utils.ts
  modules/account-lib/test/resources/sol/sol.ts
Due: account-lib

refactor(core): rename zcash version 4 and 5 to 400 and 500
  modules/utxo-lib/src/bitgo/transaction.ts
  modules/utxo-lib/src/bitgo/zcash/ZcashTransaction.ts
  modules/utxo-lib/src/bitgo/zcash/ZcashTransactionBuilder.ts
  modules/utxo-lib/test/integration_local_rpc/fixtures/zcashTest/v400/deposit_p2pkh.json
  modules/utxo-lib/test/integration_local_rpc/fixtures/zcashTest/v400/deposit_p2sh.json
  modules/utxo-lib/test/integration_local_rpc/fixtures/zcashTest/v400/spend_p2sh.json
  modules/utxo-lib/test/integration_local_rpc/fixtures/zcashTest/v500/deposit_p2pkh.json
  modules/utxo-lib/test/integration_local_rpc/fixtures/zcashTest/v500/deposit_p2sh.json
  modules/utxo-lib/test/integration_local_rpc/fixtures/zcashTest/v500/spend_p2sh.json
  modules/utxo-lib/test/integration_local_rpc/generate/fixtures.ts
  modules/utxo-lib/test/integration_local_rpc/generate/main.ts
Due: none

feat(utxo-lib): add zcash version 450
  modules/utxo-lib/src/bitgo/transaction.ts
  modules/utxo-lib/src/bitgo/zcash/ZcashBufferutils.ts
  modules/utxo-lib/src/bitgo/zcash/ZcashTransaction.ts
  modules/utxo-lib/src/bitgo/zcash/ZcashTransactionBuilder.ts
  modules/utxo-lib/test/integration_local_rpc/fixtures/zcashTest/v450/deposit_p2pkh.json
  modules/utxo-lib/test/integration_local_rpc/fixtures/zcashTest/v450/deposit_p2sh.json
  modules/utxo-lib/test/integration_local_rpc/fixtures/zcashTest/v450/spend_p2sh.json
  modules/utxo-lib/test/integration_local_rpc/generate/fixtures.ts
  modules/utxo-lib/test/integration_local_rpc/generate/main.ts
  modules/utxo-lib/test/integration_local_rpc/parse.ts
Due: none

feat(statics): hot fix address FDT AND FET1
  modules/statics/src/base.ts
  modules/statics/src/coins.ts
Due: statics

chore(release): publish modules
  modules/account-lib/package.json
  modules/core/package.json
  modules/express/package-lock.json
  modules/express/package.json
  modules/statics/package.json
Due: bitgo, account-lib, statics, express

feat(statics): update westend metadata
  modules/statics/resources/dot/westend.ts
Due: statics

feat(core): add Avaxctokens coins in sdk
  modules/core/src/v2/coinFactory.ts
  modules/core/src/v2/coins/avaxcToken.ts
Due: bitgo

fix(core): removed signingKey capability
  modules/core/src/v2/wallets.ts
  modules/core/test/v2/unit/wallets.ts
Due: bitgo

feat(statics): add tokens jan batch 2nd
  modules/statics/src/base.ts
  modules/statics/src/coins.ts
Due: statics

feat(account-lib): add util factory for coins
  modules/account-lib/src/utils/index.ts
  modules/account-lib/test/unit/utils/index.ts
Due: account-lib

fix(core): fix ENS resolution for eth sends
  modules/core/src/v2/coins/eth.ts
  modules/core/test/v2/unit/coins/eth.ts
Due: bitgo

fix(statics): fix send many memo contract address for prod
  modules/statics/src/networks.ts
Due: statics

fix(statics): update zcash explorer url
  modules/statics/src/networks.ts
Due: statics

chore(release): publish modules
  modules/account-lib/package.json
  modules/core/package.json
  modules/express/package-lock.json
  modules/express/package.json
  modules/statics/package.json
  modules/unspents/package.json
  modules/utxo-lib/package.json
Due: bitgo, account-lib, statics, express

fix(account-lib): add a check for undefined in isValidPublicKey for sol
  modules/account-lib/src/coin/sol/utils.ts
  modules/account-lib/test/unit/coin/sol/utils.ts
Due: account-lib

test(account-lib): test dot TransactionBuilderFactory.from
  modules/account-lib/test/unit/coin/dot/transactionBuilder/transactionBuilderFactory.ts
Due: account-lib

chore: move bitgo.ts to bitgoBase.ts
  modules/core/src/bitgoBase.ts
Due: bitgo

chore: split bitgo and bitgoAsync
  modules/core/src/bitgo.ts
  modules/core/src/bitgoAsync.ts
  modules/core/src/bitgoBase.ts
Due: bitgo

fix core imports/exports
  modules/core/src/api.ts
  modules/core/src/index.ts
  modules/core/src/v2/coinFactory.ts
Due: bitgo

feat(web): web demo working webpack config
  modules/core/src/index.ts
  modules/core/tsconfig.json
  modules/web/.gitignore
  modules/web/README.md
  modules/web/config-overrides.js
  modules/web/package.json
  modules/web/public/favicon.ico
  modules/web/public/index.html
  modules/web/public/logo192.png
  modules/web/public/logo512.png
  modules/web/public/manifest.json
  modules/web/public/robots.txt
  modules/web/src/App.css
  modules/web/src/App.tsx
  modules/web/src/index.css
  modules/web/src/index.tsx
  modules/web/src/logo.svg
  modules/web/src/react-app-env.d.ts
  modules/web/src/reportWebVitals.ts
  modules/web/src/setupTests.ts
  modules/web/tsconfig.json
  yarn.lock
Due: bitgo

feat(statics): update USDC and USDT name and address
  modules/account-lib/test/unit/coin/avaxc/transferBuilder.ts
  modules/core/src/v2/coinFactory.ts
  modules/core/test/v2/unit/coins/avaxcToken.ts
  modules/statics/src/base.ts
  modules/statics/src/coins.ts
Due: bitgo, account-lib, statics

chore(statics): remove package level prettier
  modules/statics/package.json
  modules/statics/src/account.ts
  modules/statics/src/base.ts
  modules/statics/src/coins.ts
  yarn.lock
Due: statics

feat: include feature flag for external signing API
  modules/core/src/bitgo.ts
  modules/express/README.md
  modules/express/src/args.ts
  modules/express/src/clientRoutes.ts
  modules/express/src/config.ts
  modules/express/test/unit/config.ts
  yarn.lock
Due: bitgo, express

fix(account-lib): polkadot/api dependency is removed
  modules/account-lib/package.json
Due: account-lib

comment out all the coins
  modules/core/package.json
  modules/core/src/bitgo.ts
  modules/core/src/index.ts
  modules/core/src/v2/index.ts
  modules/web/config-overrides.js
  modules/web/package.json
  modules/web/src/App.tsx
  package.json
  yarn.lock
Due: bitgo

fix(root): resolve `follow-redirects` to version ^1.14.7
  package.json
  yarn.lock
Due: none

fix(account-lib): remove proxy type from constants STLX-12064
  modules/account-lib/src/coin/dot/iface.ts
Due: account-lib

chore(account-lib): update dot sdk
  modules/account-lib/package.json
  modules/account-lib/src/coin/dot/iface.ts
  modules/account-lib/test/unit/coin/dot/transactionBuilder/base.ts
  modules/statics/src/networks.ts
  yarn.lock
Due: account-lib, statics

chore(account-lib): switch to ts-loader
  modules/account-lib/package.json
  modules/account-lib/webpack.config.js
  modules/core/package.json
  modules/core/webpack.config.js
  yarn.lock
Due: bitgo, account-lib

chore: upgrade to webpack5
  modules/account-lib/package.json
  modules/account-lib/webpack.config.js
  modules/core/package.json
  modules/core/webpack.config.js
  yarn.lock
Due: bitgo, account-lib

chore(account-lib): remove package level prettier
  modules/account-lib/package.json
  yarn.lock
Due: account-lib

feat(root): add singlesig support
  modules/core/src/v2/baseCoin.ts
  modules/core/src/v2/coins/abstractUtxoCoin.ts
  modules/core/src/v2/coins/dot.ts
  modules/core/src/v2/wallets.ts
Due: bitgo

chore: pass around dot txid
  modules/core/src/v2/coins/dot.ts
Due: bitgo

feat(account-lib): add getTxHash to dot utils
  modules/account-lib/test/unit/coin/dot/transaction.ts
Due: account-lib

chore(utxo-lib): default to VERSION4_BRANCH_NU5 for zcashTest
  modules/utxo-lib/src/bitgo/transaction.ts
Due: none
