Repository BitGo/BitGoJS: changes, and which Codecov flags are due for each by the changed paths.
All: bitgo, account-lib, statics, express

.codecov.yml:

coverage:
  status:
    project: off
    patch: off
comment:
  layout: "diff, flags, files"
  require_changes: true
flags:
  bitgo:
    paths:
      - modules/core
  account-lib:
    paths:
      - modules/account-lib
  statics:
    paths:
      - modules/statics
  express:
    paths:
      - modules/express

fix(express): don't use bluebird methods on native promise returning functions
  modules/express/src/clientRoutes.ts
Due: express

feat(statics): add add new tokens erc20
  modules/statics/src/base.ts
  modules/statics/src/coins.ts
Due: statics

docs(account-lib): documentation
  modules/account-lib/src/coin/eos/keyPair.ts
  modules/account-lib/src/coin/eos/transaction.ts
  modules/account-lib/src/coin/eos/transactionBuilderFactory.ts
  modules/account-lib/src/coin/eos/utils.ts
  modules/account-lib/test/resources/eos/index.ts
  modules/account-lib/test/unit/coin/eos/KeyPair.ts
  modules/account-lib/test/unit/coin/eos/transactionBuilder/transactionBuilderFactory.ts
  modules/account-lib/test/unit/coin/eos/utils.ts
Due: account-lib

feat(account-lib): add close remainder to
  modules/account-lib/src/coin/algo/ifaces.ts
  modules/account-lib/src/coin/algo/transaction.ts
Due: account-lib

fix(core): use ltc explorer to get unspents during cross chain recovery
  modules/core/src/v2/coins/abstractUtxoCoin.ts
  modules/core/src/v2/coins/ltc.ts
  modules/core/src/v2/recovery.ts
  modules/core/test/v2/lib/recovery-nocks.ts
Due: bitgo

chore(release): publish modules
  modules/account-lib/package.json
  modules/core/package.json
  modules/express/package-lock.json
  modules/express/package.json
  modules/statics/package.json
  modules/utxo-lib/package.json
Due: bitgo, account-lib, statics, express

chore(release): publish modules
  modules/express/package-lock.json
  modules/express/package.json
Due: express

chore(express): update sdk to bitgo@^11.18.0
  modules/express/package-lock.json
Due: express

chore: fix package versions after stable release
  modules/account-lib/package.json
  modules/core/package.json
  modules/statics/package.json
  modules/utxo-lib/package.json
Due: bitgo, account-lib, statics

feat(statics): add new erc20s for goerli london hard fork testing
  modules/statics/src/base.ts
  modules/statics/src/coins.ts
Due: statics

feat(account-lib): implementation of the functionality secretKeyToMnemonic with unit test
  modules/account-lib/src/coin/algo/utils.ts
  modules/account-lib/test/unit/coin/algo/utils.ts
Due: account-lib

feat(accountlib): add closeremaindeto and unit tests
  modules/account-lib/src/coin/algo/assetTransferBuilder.ts
  modules/account-lib/test/unit/coin/algo/transactionBuilder/assetTransferBuilder.ts
Due: account-lib

fix(statics): remove duplicate tokens
  modules/statics/src/coins.ts
Due: statics

chore(release): publish modules
  modules/account-lib/package.json
  modules/core/package.json
  modules/express/package-lock.json
  modules/express/package.json
  modules/statics/package.json
Due: bitgo, account-lib, statics, express

feat(core): add `considerMigratedFromAddressInternal` verification flag
  modules/core/src/v2/baseCoin.ts
  modules/core/src/v2/internal/parseOutput.ts
  modules/core/test/v2/unit/coins/abstractUtxoCoin.ts
Due: bitgo

fix(core): follow up improvements from PR #1292
  modules/core/src/api.ts
  modules/core/src/bitgo.ts
  modules/core/src/v2/coins/abstractUtxoCoin.ts
  modules/core/src/v2/coins/btc.ts
  modules/core/src/v2/coins/dash.ts
  modules/core/src/v2/coins/ltc.ts
  modules/core/src/v2/coins/xlm.ts
  modules/core/src/v2/coins/zec.ts
  modules/core/test/unit/wallet.ts
  types/superagent/index.d.ts
Due: bitgo

feat(accountlib): add testing
  modules/account-lib/test/unit/coin/algo/transactionBuilder/assetTransferBuilder.ts
Due: account-lib

feat(utxo-lib): add RPC tests
  modules/utxo-lib/package.json
  modules/utxo-lib/test/integration_local_rpc/generate/RpcClient.ts
  modules/utxo-lib/test/integration_local_rpc/generate/fixtures.ts
  modules/utxo-lib/test/integration_local_rpc/generate/main.ts
  modules/utxo-lib/test/integration_local_rpc/generate/outputScripts.ts
  modules/utxo-lib/test/integration_local_rpc/generate/regtestNode.ts
  modules/utxo-lib/test/integration_local_rpc/generate/types.ts
Due: none

feat(utxo-lib): add captured test fixtures
  modules/utxo-lib/test/integration_local_rpc/fixtures/bitcoincashTestnet/deposit_p2pkh.json
  modules/utxo-lib/test/integration_local_rpc/fixtures/bitcoincashTestnet/deposit_p2sh.json
  modules/utxo-lib/test/integration_local_rpc/fixtures/bitcoincashTestnet/spend_p2sh.json
  modules/utxo-lib/test/integration_local_rpc/fixtures/bitcoingoldTestnet/deposit_p2pkh.json
  modules/utxo-lib/test/integration_local_rpc/fixtures/bitcoingoldTestnet/deposit_p2sh.json
  modules/utxo-lib/test/integration_local_rpc/fixtures/bitcoingoldTestnet/deposit_p2shP2wsh.json
  modules/utxo-lib/test/integration_local_rpc/fixtures/bitcoingoldTestnet/deposit_p2wkh.json
  modules/utxo-lib/test/integration_local_rpc/fixtures/bitcoingoldTestnet/deposit_p2wsh.json
  modules/utxo-lib/test/integration_local_rpc/fixtures/bitcoingoldTestnet/spend_p2sh.json
  modules/utxo-lib/test/integration_local_rpc/fixtures/bitcoingoldTestnet/spend_p2shP2wsh.json
  modules/utxo-lib/test/integration_local_rpc/fixtures/bitcoingoldTestnet/spend_p2wsh.json
  modules/utxo-lib/test/integration_local_rpc/fixtures/bitcoinsvTestnet/deposit_p2pkh.json
  modules/utxo-lib/test/integration_local_rpc/fixtures/bitcoinsvTestnet/deposit_p2sh.json
  modules/utxo-lib/test/integration_local_rpc/fixtures/bitcoinsvTestnet/spend_p2sh.json
  modules/utxo-lib/test/integration_local_rpc/fixtures/dashTest/deposit_p2pkh.json
  modules/utxo-lib/test/integration_local_rpc/fixtures/dashTest/deposit_p2sh.json
  modules/utxo-lib/test/integration_local_rpc/fixtures/dashTest/spend_p2sh.json
  modules/utxo-lib/test/integration_local_rpc/fixtures/litecoinTest/deposit_p2pkh.json
  modules/utxo-lib/test/integration_local_rpc/fixtures/litecoinTest/deposit_p2sh.json
  modules/utxo-lib/test/integration_local_rpc/fixtures/litecoinTest/deposit_p2shP2wsh.json
  modules/utxo-lib/test/integration_local_rpc/fixtures/litecoinTest/deposit_p2wkh.json
  modules/utxo-lib/test/integration_local_rpc/fixtures/litecoinTest/deposit_p2wsh.json
  modules/utxo-lib/test/integration_local_rpc/fixtures/litecoinTest/spend_p2sh.json
  modules/utxo-lib/test/integration_local_rpc/fixtures/litecoinTest/spend_p2shP2wsh.json
  modules/utxo-lib/test/integration_local_rpc/fixtures/litecoinTest/spend_p2wsh.json
  modules/utxo-lib/test/integration_local_rpc/fixtures/testnet/deposit_p2pkh.json
  modules/utxo-lib/test/integration_local_rpc/fixtures/testnet/deposit_p2sh.json
  modules/utxo-lib/test/integration_local_rpc/fixtures/testnet/deposit_p2shP2wsh.json
  modules/utxo-lib/test/integration_local_rpc/fixtures/testnet/deposit_p2wkh.json
  modules/utxo-lib/test/integration_local_rpc/fixtures/testnet/deposit_p2wsh.json
  modules/utxo-lib/test/integration_local_rpc/fixtures/testnet/spend_p2sh.json
  modules/utxo-lib/test/integration_local_rpc/fixtures/testnet/spend_p2shP2wsh.json
  modules/utxo-lib/test/integration_local_rpc/fixtures/testnet/spend_p2wsh.json
  modules/utxo-lib/test/integration_local_rpc/fixtures/zcashTest/deposit_p2pkh.json
  modules/utxo-lib/test/integration_local_rpc/fixtures/zcashTest/deposit_p2sh.json
  modules/utxo-lib/test/integration_local_rpc/fixtures/zcashTest/spend_p2sh.json
  modules/utxo-lib/test/integration_local_rpc/parse.ts
Due: none

fix(utxo-lib): update mocha and test `.ts` files
  modules/utxo-lib/.mocharc.js
  modules/utxo-lib/package.json
  yarn.lock
Due: none

fix(utxolib): use `debug` package
  modules/utxo-lib/test/integration_local_rpc/generate/RpcClient.ts
Due: none

fix(utxolib): use path package for path operations
  modules/utxo-lib/test/integration_local_rpc/generate/fixtures.ts
Due: none

fix(wp): split mocha test from outputScripts impl
  modules/utxo-lib/test/integration_local_rpc/generate/main.ts
  modules/utxo-lib/test/integration_local_rpc/generate/outputScripts.ts
  modules/utxo-lib/test/integration_local_rpc/generate/outputScripts.util.ts
  modules/utxo-lib/test/integration_local_rpc/parse.ts
Due: none

chore(wp): add prettier to outputScripts.ts
  modules/utxo-lib/test/integration_local_rpc/generate/outputScripts.ts
Due: none

feat(account-lib): implemetion stellerpub to algoaddress and encodeAddress
  modules/account-lib/src/coin/algo/utils.ts
  modules/account-lib/test/unit/coin/algo/utils.ts
Due: account-lib

fix(core): deduplicate repetitive `abstractUtxoCoin` parse tx tests
  modules/core/test/v2/unit/coins/abstractUtxoCoin.ts
Due: bitgo

fix(core): replace bitcoin-abc with ecash in blockchair apis
  modules/core/src/v2/coins/abstractUtxoCoin.ts
  modules/core/src/v2/coins/bcha.ts
  modules/core/src/v2/recovery/blockchairApi.ts
  modules/core/test/v2/unit/recovery/blockchairApi.ts
Due: bitgo

feat(account-lib): move buildFeeInfo logic to AL and add unit test
  modules/account-lib/src/coin/algo/utils.ts
  modules/account-lib/test/resources/algo/index.ts
  modules/account-lib/test/unit/coin/algo/utils.ts
Due: account-lib

feat(core): added algo token config on core
  modules/core/src/config.ts
  modules/core/src/v2/coinFactory.ts
  modules/core/src/v2/coins/algoToken.ts
  modules/core/src/v2/coins/index.ts
  modules/statics/src/index.ts
Due: bitgo, statics

fix(account-lib): stx default signers to 2
  modules/account-lib/src/coin/stx/transactionBuilder.ts
  modules/account-lib/test/resources/stx/stx.ts
  modules/account-lib/test/unit/coin/stx/transactionBuilder/contractBuilder.ts
  modules/account-lib/test/unit/coin/stx/transactionBuilder/transferBuilder.ts
  modules/core/src/v2/coins/stx.ts
  modules/core/test/v2/unit/coins/stx.ts
Due: bitgo, account-lib

feat(sdk): add feeLimit parameter to Send options
  modules/core/src/v2/coins/trx.ts
  modules/core/src/v2/wallet.ts
Due: bitgo

feat(0): 0
  modules/core/src/v2/environments.ts
  modules/core/src/v2/wallet.ts
Due: bitgo

feat: 0
  modules/core/src/v2/coins/eth.ts
  modules/core/src/v2/wallet.ts
Due: bitgo

feat: 0
  modules/core/src/v2/wallet.ts
Due: bitgo

feat: 0
  modules/core/src/v2/wallet.ts
  modules/core/test/v2/unit/wallet.ts
Due: bitgo

feat: 9
  modules/core/src/v2/coins/eth.ts
  modules/core/src/v2/wallet.ts
Due: bitgo

feat: pass eip1559 fee params in send and sendmany
  modules/core/src/v2/coins/eth.ts
  modules/core/src/v2/wallet.ts
  modules/core/test/v2/unit/wallet.ts
Due: bitgo

chore(release): publish modules
  modules/account-lib/package.json
  modules/core/package.json
  modules/express/package-lock.json
  modules/express/package.json
  modules/utxo-lib/package.json
Due: bitgo, account-lib, express
