Repository BitGo/BitGoJS: changes, and which Codecov flags are due for each by the changed paths.
All: bitgo, account-lib, statics, express

feat(utxo-bin): add command parseScript
  modules/utxo-bin/bin/index.ts
  modules/utxo-bin/src/InputParser.ts
  modules/utxo-bin/src/ScriptParser.ts
  modules/utxo-bin/src/commands.ts
  modules/utxo-bin/test/fixtures.ts
  modules/utxo-bin/test/fixtures/formatScript/p2sh.txt
  modules/utxo-bin/test/fixtures/formatScript/p2shP2wsh.txt
  modules/utxo-bin/test/fixtures/formatScript/p2tr.txt
  modules/utxo-bin/test/fixtures/formatScript/p2trMusig2.txt
  modules/utxo-bin/test/fixtures/formatScript/p2wsh.txt
  modules/utxo-bin/test/parseScript.ts
Due: none

feat: allow recovering from m/0/0/0
  modules/sdk-coin-eth/src/eth.ts
Due: none

fix: dont validate contract address for tss
  modules/sdk-coin-eth/src/eth.ts
Due: none

feat(unspents): fix unspents module setup
  modules/sdk-api/tsconfig.json
  modules/unspents/package.json
  modules/unspents/test/signedTx/inputWeights.ts
  modules/unspents/tsconfig.json
  modules/utxo-ord/tsconfig.json
Due: none

fix(sdk-coin-osmo): allow zero amount on contract call
  modules/abstract-cosmos/src/lib/ContractCallBuilder.ts
  modules/abstract-cosmos/src/lib/utils.ts
  modules/sdk-coin-osmo/src/lib/utils.ts
  modules/sdk-coin-osmo/test/resources/osmo.ts
  modules/sdk-coin-osmo/test/unit/utils.ts
Due: none

feat(unspents): add docs/input-costs.md, generation tool
  modules/unspents/bin/generate_tables.ts
  modules/unspents/docs/input-costs.md
  modules/unspents/tsconfig.json
Due: none

chore: remove xlm from testnet
  modules/statics/src/account.ts
  modules/statics/src/coins.ts
  modules/statics/src/ofc.ts
  modules/statics/test/unit/fixtures/expectedColdFeatures.ts
Due: statics

feat(sdk-core): add pallier pub to bitgo tss key creation
  modules/sdk-core/src/bitgo/keychain/iKeychains.ts
  modules/sdk-core/src/bitgo/keychain/keychains.ts
  modules/sdk-core/src/bitgo/keychain/ovcJsonCodec.ts
Due: none

fix(sdk-core): include paillier in tests
  modules/bitgo/test/v2/unit/keychains.ts
  modules/sdk-core/src/bitgo/keychain/ovcJsonCodec.ts
Due: bitgo

chore(statics): onboard new token
  modules/statics/src/base.ts
  modules/statics/src/coins.ts
Due: statics

chore(statics): fix agoric url
  modules/statics/src/networks.ts
Due: statics

feat(utxo-lib): extract half signed tx from psbt
  modules/abstract-utxo/.DS_Store
  modules/utxo-lib/src/bitgo/wallet/Psbt.ts
  modules/utxo-lib/src/testutil/psbt.ts
  modules/utxo-lib/src/testutil/transaction.ts
  modules/utxo-lib/test/bitgo/psbt/Psbt.ts
  modules/utxo-lib/test/bitgo/psbt/SignVerifyPsbtAndTx.ts
  modules/utxo-lib/test/bitgo/psbt/psbtUtil.ts
Due: none

feat(root): remove node 14 from CI
  .github/workflows/ci.yml
  .github/workflows/publish.yml
Due: none

feat(bitgo): remove noble/hash pin
  package.json
  yarn.lock
Due: none

chore(sdk-core): Improve comment in TSS lib
  modules/sdk-core/src/account-lib/mpc/tss/ecdsa/ecdsa.ts
Due: none

fix(sdk-coin-sol): export authorize builder
  modules/sdk-coin-sol/src/lib/index.ts
Due: none

fix(sdk-coin-sol): bump solana-web3 to 1.78
  modules/sdk-coin-sol/package.json
  yarn.lock
Due: none

feat(sdk-core): add util to get public key from commonKeychain
  modules/bitgo/test/v2/unit/internal/tssUtils/ecdsa.ts
  modules/sdk-core/src/bitgo/utils/tss/ecdsa/ecdsa.ts
Due: bitgo

chore(sdk-core): add elliptic dep
  modules/sdk-core/package.json
Due: none

chore(sdk-core): add clarity to other commonKeychain util
  modules/bitgo/test/v2/unit/internal/tssUtils/ecdsa.ts
  modules/sdk-core/src/bitgo/utils/tss/ecdsa/ecdsa.ts
Due: bitgo

chore(root): update CODEOWNERS for core modules
  CODEOWNERS
Due: none

fix(root): upgrade nock for node 18 support
  modules/express/package.json
  package.json
  yarn.lock
Due: express

test(sdk-unified-wallet): add test script
  modules/sdk-unified-wallet/package.json
Due: none

test(sdk-api): remove JSON.parse on non-strings
  modules/sdk-api/test/unit/v1/wallet.ts
Due: none

test(sdk-coin-zec): remove sdk-test usage
  modules/sdk-coin-zec/package.json
  modules/sdk-coin-zec/test/unit/index.ts
  modules/sdk-coin-zec/tsconfig.json
Due: none

test(root): remove constants persist nock
  modules/bitgo/test/v2/unit/internal/blsUtils.ts
  modules/bitgo/test/v2/unit/internal/tssUtils/ecdsa.ts
  modules/bitgo/test/v2/unit/internal/tssUtils/eddsa.ts
  modules/bitgo/test/v2/unit/wallet.ts
  modules/express/test/unit/clientRoutes/externalSign.ts
Due: bitgo, express

test(blake2b-wasm): fix tests for node 18
  modules/blake2b-wasm/blake2b.js
  modules/blake2b-wasm/index.js
  modules/blake2b-wasm/test.js
Due: none

test(blake2b): fix tests for node 18
  modules/blake2b/index.js
Due: none

feat(abstract-cosmos): add wallet recovery for abstract cosmos
  modules/abstract-cosmos/package.json
  modules/abstract-cosmos/src/cosmosCoin.ts
  modules/abstract-cosmos/src/lib/constants.ts
  modules/abstract-cosmos/src/lib/iface.ts
  modules/sdk-coin-osmo/package.json
  modules/sdk-coin-osmo/src/osmo.ts
  modules/sdk-coin-osmo/test/resources/osmo.ts
  modules/sdk-coin-osmo/test/unit/osmo.ts
Due: none

test(root): fix test compliation
  modules/bitgo/test/v2/unit/internal/blsUtils.ts
  modules/bitgo/test/v2/unit/internal/tssUtils/common.ts
  modules/bitgo/test/v2/unit/unspents.ts
  modules/express/test/unit/clientRoutes/externalSign.ts
  modules/sdk-core/src/bitgo/utils/tss/ecdsa/ecdsa.ts
Due: bitgo, express

feat(express): support ECDSA TSS in external signer
  modules/bitgo/test/v2/unit/internal/tssUtils/ecdsa.ts
  modules/express/package.json
  modules/express/src/clientRoutes.ts
  modules/express/test/unit/clientRoutes/externalSign.ts
  modules/express/test/unit/clientRoutes/mocks/ecdsaNtilde.ts
  modules/express/test/unit/clientRoutes/mocks/keyShares.ts
  modules/sdk-core/src/bitgo/tss/types.ts
  modules/sdk-core/src/bitgo/utils/tss/baseTSSUtils.ts
  modules/sdk-core/src/bitgo/utils/tss/baseTypes.ts
  modules/sdk-core/src/bitgo/utils/tss/ecdsa/ecdsa.ts
  modules/sdk-core/src/bitgo/utils/tss/eddsa/eddsa.ts
  modules/sdk-core/src/bitgo/wallet/iWallet.ts
  modules/sdk-core/src/bitgo/wallet/wallet.ts
  modules/sdk-core/src/index.ts
Due: bitgo, express

feat(utxo-bin): add support for base64
  modules/utxo-bin/src/commands.ts
  modules/utxo-bin/src/parseString.ts
  modules/utxo-bin/test/stringToBuffer.ts
Due: none

feat(sdk-coin-zeta): zeta sdk init along with testcases
  Dockerfile
  modules/account-lib/package.json
  modules/account-lib/src/index.ts
  modules/account-lib/tsconfig.json
  modules/bitgo/package.json
  modules/bitgo/src/v2/coinFactory.ts
  modules/bitgo/src/v2/coins/index.ts
  modules/bitgo/tsconfig.json
  modules/sdk-coin-zeta/.eslintignore
  modules/sdk-coin-zeta/.gitignore
  modules/sdk-coin-zeta/.mocharc.yml
  modules/sdk-coin-zeta/.npmignore
  modules/sdk-coin-zeta/.prettierignore
  modules/sdk-coin-zeta/.prettierrc.yml
  modules/sdk-coin-zeta/README.md
  modules/sdk-coin-zeta/package.json
  modules/sdk-coin-zeta/src/index.ts
  modules/sdk-coin-zeta/src/lib/constants.ts
  modules/sdk-coin-zeta/src/lib/index.ts
  modules/sdk-coin-zeta/src/lib/keyPair.ts
  modules/sdk-coin-zeta/src/lib/transactionBuilderFactory.ts
  modules/sdk-coin-zeta/src/lib/utils.ts
  modules/sdk-coin-zeta/src/register.ts
  modules/sdk-coin-zeta/src/tzeta.ts
  modules/sdk-coin-zeta/src/zeta.ts
  modules/sdk-coin-zeta/test/integration/index.ts
  modules/sdk-coin-zeta/test/resources/zeta.ts
  modules/sdk-coin-zeta/test/unit/keyPair.ts
  modules/sdk-coin-zeta/test/unit/transaction.ts
  modules/sdk-coin-zeta/test/unit/transactionBuilder/StakingActivateBuilder.ts
  modules/sdk-coin-zeta/test/unit/transactionBuilder/StakingDeactivateBuilder.ts
  modules/sdk-coin-zeta/test/unit/transactionBuilder/StakingWithdrawRewardsBuilder.ts
  modules/sdk-coin-zeta/test/unit/transactionBuilder/transactionBuilder.ts
  modules/sdk-coin-zeta/test/unit/transactionBuilder/transferBuilder.ts
  modules/sdk-coin-zeta/test/unit/utils.ts
  modules/sdk-coin-zeta/test/unit/zeta.ts
  modules/sdk-coin-zeta/tsconfig.json
  modules/sdk-core/src/bitgo/environments.ts
  tsconfig.packages.json
Due: bitgo, account-lib

fix(abstract-cosmos): skip amount validation for contractcall txn
  modules/abstract-cosmos/src/lib/utils.ts
Due: none

chore: add example of sol consolidation build
  examples/ts/sol/account-consolidation-build.ts
Due: none

fix(sdk-core): Use PrebuiltTx with Tss Full SendMany
  examples/ts/list-wallets.ts
  modules/sdk-core/src/bitgo/wallet/wallet.ts
Due: none

feat: allow recovering tokens with eth tss
  modules/sdk-coin-eth/src/eth.ts
Due: none

Path conditions:
  bitgo: any of: modules/bitgo
  account-lib: any of: modules/account-lib
  statics: any of: modules/statics
  express: any of: modules/express
