Repository BitGo/BitGoJS: changes, and which Codecov flags are due for each by the changed paths.
All: bitgo, account-lib, statics, express

feat(sdk-coin-sui): update package id
  modules/sdk-coin-sui/src/lib/resources/walrusConfig.ts
Due: none

feat(sdk-coin-icp): refactor key pair generation to use utility function
  modules/bitgo/test/v2/unit/keychains.ts
  modules/sdk-coin-icp/src/icp.ts
  modules/sdk-coin-icp/src/lib/keyPair.ts
  modules/sdk-coin-icp/src/lib/utils.ts
  modules/sdk-coin-icp/test/unit/icp.ts
Due: bitgo

feat: make expressip macaroon caveat optional
  modules/express/src/lightning/codecs.ts
  modules/express/src/lightning/lightningSignerRoutes.ts
Due: express

feat(sdk-coin-sol): jupiter swap tx support
  modules/sdk-coin-sol/src/lib/constants.ts
  modules/sdk-coin-sol/src/lib/iface.ts
  modules/sdk-coin-sol/src/lib/instructionParamsFactory.ts
  modules/sdk-coin-sol/src/lib/jupiterSwapBuilder.ts
  modules/sdk-coin-sol/src/lib/solInstructionFactory.ts
  modules/sdk-coin-sol/src/lib/transaction.ts
  modules/sdk-coin-sol/src/lib/transactionBuilderFactory.ts
  modules/sdk-coin-sol/src/lib/utils.ts
  modules/sdk-coin-sol/test/unit/jupiter.ts
  modules/sdk-core/src/account-lib/baseCoin/enum.ts
  yarn.lock
Due: none

feat(tao): staking builder example
  modules/sdk-coin-tao/src/lib/iface.ts
  modules/sdk-coin-tao/src/lib/stakingBuilder.ts
  modules/sdk-coin-tao/src/lib/txnSchema.ts
  modules/sdk-coin-tao/test/unit/transactionBuilder/transferBuilder.ts
Due: none

fix(sdk-lib-mpc): fix time warp during decrypting comms in MPCv2
  modules/bitgo/test/v2/unit/internal/opengpgUtils.ts
  modules/sdk-core/src/bitgo/utils/opengpgUtils.ts
  modules/sdk-lib-mpc/src/tss/ecdsa-dkls/commsLayer.ts
Due: bitgo

feat(abstract-cosmos): add unsigned sweep recovery for cosmos
  modules/abstract-cosmos/src/cosmosCoin.ts
  modules/abstract-cosmos/src/lib/iface.ts
  modules/sdk-coin-atom/test/unit/atom.ts
Due: none

fix: fix the atom public rest endpoint
  modules/sdk-core/src/bitgo/environments.ts
Due: none

fix: add additional slash so txn can be viewed directly
  modules/statics/src/networks.ts
Due: statics

fix(sdk-coin-apt): correction 64 bit LE to two buffer of 32 bits
  modules/sdk-coin-apt/src/lib/transaction/fungibleAssetTransfer.ts
  modules/sdk-coin-apt/src/lib/transaction/transferTransaction.ts
  modules/sdk-coin-apt/src/lib/utils.ts
  modules/sdk-coin-apt/test/resources/apt.ts
  modules/sdk-coin-apt/test/unit/apt.ts
Due: none

feat: change instadapp name to fluid
  modules/statics/src/coins/erc20Coins.ts
Due: statics

chore: update agoric testnet explorer url
  modules/statics/src/networks.ts
Due: statics

feat: remove deadalus address support from ADA wallets
  modules/sdk-coin-ada/src/lib/utils.ts
  modules/sdk-coin-ada/test/resources/index.ts
Due: none

fix: pin wasm-parser version to fix miniscript build issue
  package.json
  yarn.lock
Due: none

fix(utxo): update wasm-miniscript dependency to beta.5
  modules/abstract-utxo/package.json
  modules/utxo-bin/package.json
  modules/utxo-core/package.json
  modules/utxo-staking/package.json
  yarn.lock
Due: none

chore(root): release express
  Dockerfile
Due: none

build: bump webpack to 5.98.0
  package.json
  yarn.lock
Due: none

feat(express): walletId should come from the path
  modules/express/src/clientRoutes.ts
  modules/express/src/lightning/codecs.ts
  modules/express/src/lightning/lightningSignerRoutes.ts
  modules/express/test/unit/clientRoutes/lightning/lightningSignerFixture.ts
  modules/express/test/unit/clientRoutes/lightning/lightningSignerRoutes.ts
Due: express

feat(utxo-core): add output utilities for transaction building
  modules/utxo-core/.eslintrc.js
  modules/utxo-core/src/descriptor/Output.ts
  modules/utxo-core/test/descriptor/Output.ts
Due: none

Revert "revert: pull back recent lightning changes"
  modules/bitgo/test/v2/unit/lightning/lightningWallets.ts
  modules/express/src/lightning/codecs.ts
  modules/express/src/lightning/lightningSignerRoutes.ts
  modules/express/test/unit/clientRoutes/lightning/lightningSignerFixture.ts
  modules/express/test/unit/clientRoutes/lightning/lightningSignerRoutes.ts
  modules/sdk-core/src/bitgo/lightning/codecs.ts
  modules/sdk-core/src/bitgo/lightning/index.ts
  modules/sdk-core/src/bitgo/lightning/lightningWallet.ts
  modules/sdk-core/src/bitgo/lightning/signature.ts
  modules/sdk-core/src/bitgo/wallet/lightning.ts
  modules/sdk-core/test/unit/bitgo/lightning/codecs.ts
Due: bitgo, express

feat(abstract-lightning): move lnv2 logic from sdk-core
  modules/abstract-lightning/package.json
  modules/abstract-lightning/src/index.ts
  modules/abstract-lightning/src/lightning/codecs.ts
  modules/abstract-lightning/src/lightning/index.ts
  modules/abstract-lightning/src/lightning/lightningUtils.ts
  modules/abstract-lightning/src/lightning/signableJson.ts
  modules/abstract-lightning/src/lightning/signature.ts
  modules/abstract-lightning/src/wallet/index.ts
  modules/abstract-lightning/src/wallet/lightning.ts
  modules/abstract-lightning/src/wallet/wallet.ts
  modules/abstract-lightning/test/unit/lightning/codecs.ts
  modules/abstract-lightning/test/unit/lightning/createWatchOnlyFixture.ts
  modules/abstract-lightning/test/unit/lightning/lightningUtils.ts
  modules/abstract-lightning/test/unit/lightning/signableJson.ts
  modules/abstract-lightning/test/unit/lightning/signature.ts
  modules/bitgo/test/v2/unit/lightning/lightningWallets.ts
  modules/bitgo/test/v2/unit/lightningWallet.ts
  modules/express/package.json
  modules/express/src/lightning/codecs.ts
  modules/express/src/lightning/lightningSignerRoutes.ts
  modules/express/tsconfig.json
  modules/sdk-core/package.json
  modules/sdk-core/src/bitgo/index.ts
  modules/sdk-core/src/bitgo/wallet/iWallet.ts
  modules/sdk-core/src/bitgo/wallet/wallet.ts
Due: bitgo, express

chore(root): pin wasm-miniscript version exactly
  modules/abstract-utxo/package.json
  modules/utxo-bin/package.json
  modules/utxo-core/package.json
  modules/utxo-staking/package.json
Due: none

chore(root): regenerate yarn.lock again
  yarn.lock
Due: none

chore(root): bump statics version in abstract-lightning
  modules/abstract-lightning/package.json
Due: none

fix(root): replace elliptic with noble/curves/secp256k1
  modules/bitgo/test/v2/unit/internal/tssUtils/ecdsa.ts
  modules/sdk-coin-avaxp/package.json
  modules/sdk-coin-avaxp/src/lib/utils.ts
  modules/sdk-coin-icp/package.json
  modules/sdk-coin-icp/src/lib/utils.ts
  modules/sdk-coin-stx/package.json
  modules/sdk-coin-stx/src/lib/utils.ts
  modules/sdk-coin-xtz/package.json
  modules/sdk-coin-xtz/src/lib/utils.ts
  modules/sdk-core/package.json
  modules/sdk-core/src/account-lib/mpc/tss/ecdsa/ecdsa.ts
  modules/sdk-core/src/bitgo/utils/tss/ecdsa/base.ts
  modules/sdk-lib-mpc/package.json
  modules/secp256k1/package.json
  modules/utxo-bin/package.json
  modules/utxo-bin/src/ecdsa.ts
  modules/utxo-lib/package.json
  modules/utxo-lib/src/payments/p2tr.ts
  modules/utxo-lib/test/bitgo/signatureModify.ts
  package.json
  yarn.lock
Due: bitgo

fix(sdk-coin-apt): fetch correction transaction
  modules/sdk-coin-apt/src/apt.ts
  modules/sdk-coin-apt/src/aptToken.ts
  modules/sdk-coin-apt/test/unit/aptToken.ts
Due: none

feat(sdk-coin-tao): add staking builder
  modules/abstract-substrate/src/lib/iface.ts
  modules/abstract-substrate/src/lib/index.ts
  modules/abstract-substrate/src/lib/txnSchema.ts
  modules/sdk-coin-tao/src/lib/stakingBuilder.ts
Due: none

feat(express): move walletId to the path
  modules/express/src/clientRoutes.ts
  modules/express/src/lightning/codecs.ts
  modules/express/src/lightning/lightningSignerRoutes.ts
  modules/express/test/unit/clientRoutes/lightning/lightningSignerFixture.ts
  modules/express/test/unit/clientRoutes/lightning/lightningSignerRoutes.ts
Due: express

fix: address validation for cosmos like coins
  modules/abstract-cosmos/src/lib/utils.ts
  modules/sdk-coin-atom/test/unit/atom.ts
  modules/sdk-coin-baby/test/resources/baby.ts
  modules/sdk-coin-baby/test/unit/baby.ts
  modules/sdk-coin-bld/test/unit/bld.ts
  modules/sdk-coin-coreum/test/unit/coreum.ts
  modules/sdk-coin-hash/test/unit/hash.ts
  modules/sdk-coin-injective/test/unit/injective.ts
  modules/sdk-coin-islm/test/unit/islm.ts
  modules/sdk-coin-osmo/test/unit/osmo.ts
  modules/sdk-coin-rune/test/unit/rune.ts
  modules/sdk-coin-rune/test/unit/utils.ts
  modules/sdk-coin-sei/test/unit/sei.ts
  modules/sdk-coin-tia/test/unit/tia.ts
  modules/sdk-coin-zeta/test/unit/zeta.ts
Due: none

chore(express): change errors from 500 to 400
  modules/express/src/lightning/lightningSignerRoutes.ts
Due: express

feat(abstract-lightning): wire up lnv2 invoices
  modules/abstract-lightning/src/lightning/index.ts
  modules/abstract-lightning/src/lightning/wpCodecs.ts
  modules/abstract-lightning/src/wallet/lightning.ts
  modules/bitgo/test/v2/unit/lightning/lightningWallets.ts
Due: bitgo

feat: expressIp should be optional
  modules/express/src/lightning/codecs.ts
Due: express

fix(express): correct parsing of initwallet
  modules/express/src/lightning/codecs.ts
Due: express

refactor(abstract-lightning): provide invoice errors and docs
  modules/abstract-lightning/src/wallet/lightning.ts
Due: none

chore: remove hedera nodeAccountId parameter from statics
  modules/statics/src/account.ts
  modules/statics/src/coins.ts
  modules/statics/src/constants.ts
Due: statics

feat(sdk-coin-apt): recommend min gas tank balance for next 1000 txns
  modules/sdk-coin-apt/src/apt.ts
  modules/sdk-coin-apt/src/lib/transaction/transaction.ts
  modules/sdk-coin-apt/src/lib/utils.ts
  modules/sdk-coin-apt/test/unit/apt.ts
  modules/sdk-coin-arbeth/test/unit/arbeth.ts
  modules/sdk-core/src/bitgo/baseCoin/baseCoin.ts
  modules/sdk-core/src/bitgo/baseCoin/iBaseCoin.ts
Due: none

fix(sdk-coin-tao): allow consolidations
  modules/sdk-coin-tao/src/lib/transactionBuilderFactory.ts
  modules/sdk-coin-tao/src/tao.ts
Due: none

Implementation of stakingBuilder with addStake
  modules/sdk-coin-tao/src/lib/iface.ts
  modules/sdk-coin-tao/src/lib/txnSchema.ts
Due: none

fix: update getAddressNonce logic in coredao
  modules/sdk-coin-coredao/src/coredao.ts
Due: none

Path conditions:
  bitgo: any of: modules/bitgo
  account-lib: any of: modules/account-lib
  statics: any of: modules/statics
  express: any of: modules/express
