Repository BitGo/BitGoJS: changes, and which Codecov flags are due for each by the changed paths.
All: bitgo, account-lib, statics, express

feat: remove routes that can be proxed to backend
  modules/express/encryptedPrivKeys.json
  modules/express/src/clientRoutes.ts
  modules/express/src/lightning/lightningBackupRoutes.ts
  modules/express/src/lightning/lightningInvoiceRoutes.ts
  modules/express/src/lightning/lightningWalletRoutes.ts
  modules/express/test/unit/lightning/lightningBackupRoutes.test.ts
  modules/express/test/unit/lightning/lightningInvoiceRoutes.test.ts
  modules/express/test/unit/lightning/lightningWalletRoutes.test.ts
Due: express

feat: change so that that we do subType instead of type
  modules/abstract-lightning/src/wallet/custodialLightning.ts
  modules/abstract-lightning/src/wallet/selfCustodialLightning.ts
  modules/abstract-lightning/src/wallet/wallet.ts
  modules/bitgo/test/v2/unit/lightning/lightningWallets.ts
  modules/bitgo/test/v2/unit/lightningWallet.ts
  modules/express/src/lightning/lightningSignerRoutes.ts
  modules/sdk-core/src/bitgo/baseCoin/iBaseCoin.ts
  modules/sdk-core/src/bitgo/wallet/iWallet.ts
  modules/sdk-core/src/bitgo/wallet/iWallets.ts
  modules/sdk-core/src/bitgo/wallet/wallets.ts
Due: bitgo, express

feat(express): remove unneeded express routes and use subtype on wallet
  modules/abstract-lightning/src/wallet/custodialLightning.ts
  modules/abstract-lightning/src/wallet/selfCustodialLightning.ts
  modules/abstract-lightning/src/wallet/wallet.ts
  modules/bitgo/test/v2/unit/lightning/lightningWallets.ts
  modules/bitgo/test/v2/unit/lightningWallet.ts
  modules/express/src/clientRoutes.ts
  modules/express/src/lightning/lightningBackupRoutes.ts
  modules/express/src/lightning/lightningInvoiceRoutes.ts
  modules/express/src/lightning/lightningSignerRoutes.ts
  modules/express/src/lightning/lightningWalletRoutes.ts
  modules/express/test/unit/clientRoutes/lightning/lightningSignerFixture.ts
  modules/express/test/unit/lightning/lightningBackupRoutes.test.ts
  modules/express/test/unit/lightning/lightningInvoiceRoutes.test.ts
  modules/express/test/unit/lightning/lightningWalletRoutes.test.ts
  modules/sdk-core/src/bitgo/baseCoin/iBaseCoin.ts
  modules/sdk-core/src/bitgo/wallet/iWallet.ts
  modules/sdk-core/src/bitgo/wallet/iWallets.ts
  modules/sdk-core/src/bitgo/wallet/wallets.ts
Due: bitgo, express

feat(sdk-coin-sui): add walrus prod config
  modules/sdk-coin-sui/src/lib/resources/walrusConfig.ts
Due: none

refactor(bitgo): replace bluebird with native promises
  modules/bitgo/package.json
  modules/bitgo/test/integration/enterprise.ts
  modules/bitgo/test/integration/keychains.ts
  modules/bitgo/test/integration/userWebhooks.ts
  modules/bitgo/test/integration/wallet.ts
  modules/bitgo/test/v2/integration/baseCoin.ts
  modules/bitgo/test/v2/integration/bitgo.ts
  modules/bitgo/test/v2/integration/coins/eth.ts
  modules/bitgo/test/v2/integration/coins/eth2.ts
  modules/bitgo/test/v2/integration/coins/xlm.ts
  modules/bitgo/test/v2/integration/coins/xrp.ts
  modules/bitgo/test/v2/integration/keychains.ts
  modules/bitgo/test/v2/integration/markets.ts
  modules/bitgo/test/v2/integration/userWebhooks.ts
  modules/bitgo/test/v2/integration/wallet.ts
  modules/bitgo/test/v2/integration/wallets.ts
  scripts/transform/bluebird.js
  yarn.lock
Due: bitgo

feat: share lightning wallet
  modules/abstract-lightning/src/wallet/lightning.ts
  modules/sdk-core/src/bitgo/wallet/iWallet.ts
  modules/sdk-core/src/bitgo/wallet/wallet.ts
Due: none

verify absence of keepAliveTimeout and headersTimeout when unspecified
  modules/express/test/unit/bitgoExpress.ts
Due: express

feat(sdk-coin-stx): implement verify transaction method Ticket: COIN-3290
  modules/sdk-coin-stx/src/lib/utils.ts
  modules/sdk-coin-stx/src/sip10Token.ts
  modules/sdk-coin-stx/src/stx.ts
  modules/sdk-coin-stx/test/fixtures.ts
  modules/sdk-coin-stx/test/unit/sip10Token.ts
  modules/sdk-coin-stx/test/unit/stx.ts
Due: none

fix(sdk-coin-stx): function arguments order fix Ticket: COIN-3289
  modules/sdk-coin-stx/src/lib/transaction.ts
  modules/sdk-coin-stx/src/lib/utils.ts
  modules/sdk-coin-stx/src/stx.ts
  modules/sdk-coin-stx/test/fixtures.ts
  modules/sdk-coin-stx/test/unit/resources.ts
  modules/sdk-coin-stx/test/unit/transactionBuilder/fungibleTokenTransferBuilder.ts
Due: none

test(sdk-coin-celo): update tests
  modules/sdk-coin-celo/test/resources/celo.ts
  modules/sdk-coin-celo/test/unit/transactionBuilder/walletInitialization.ts
Due: none

fix(sdk-coin-stx): fix post condition issue in fungible token transfer builder Ticket: COIN-3439
  modules/sdk-coin-stx/src/lib/fungibleTokenTransferBuilder.ts
  modules/sdk-coin-stx/test/fixtures.ts
  modules/sdk-coin-stx/test/unit/resources.ts
  modules/sdk-coin-stx/test/unit/transactionBuilder/fungibleTokenTransferBuilder.ts
Due: none

fix(sdk-coin-stx): from implementation issue for fungible token transfer builder Ticket: COIN-3446
  modules/sdk-coin-stx/src/lib/fungibleTokenTransferBuilder.ts
  modules/sdk-coin-stx/src/lib/utils.ts
  modules/sdk-coin-stx/test/fixtures.ts
Due: none

fix(sdk-coin-icp): update payloads length and adjust interval for ingress expiries
  modules/sdk-coin-icp/src/lib/unsignedTransactionBuilder.ts
  modules/sdk-coin-icp/test/resources/icp.ts
  modules/sdk-coin-icp/test/unit/transactionBuilder/transactionBuilder.ts
Due: none

feat(sdk-coin-baby): add sdk support for babylon native staking
  modules/abstract-cosmos/src/lib/utils.ts
  modules/sdk-coin-baby/package.json
  modules/sdk-coin-baby/src/lib/EpochedStakingActivateBuilder.ts
  modules/sdk-coin-baby/src/lib/EpochedStakingDeactivateBuilder.ts
  modules/sdk-coin-baby/src/lib/EpochedStakingRedelegateBuilder.ts
  modules/sdk-coin-baby/src/lib/constants.ts
  modules/sdk-coin-baby/src/lib/transactionBuilderFactory.ts
  modules/sdk-coin-baby/src/lib/utils.ts
  modules/sdk-coin-baby/test/resources/baby.ts
  modules/sdk-coin-baby/test/unit/transactionBuilder/StakingActivateBuilder.ts
  modules/sdk-coin-baby/test/unit/transactionBuilder/StakingDeactivateBuilder.ts
  modules/sdk-coin-baby/test/unit/transactionBuilder/StakingRedelegateBuilder.ts
  modules/sdk-coin-baby/test/unit/transactionBuilder/StakingWithdrawRewardsBuilder.ts
  modules/sdk-coin-baby/test/unit/transactionBuilder/transactionBuilder.ts
Due: none

feat(sdk-coin-bera): add message signing support for walletconnect
  modules/sdk-coin-bera/src/bera.ts
Due: none

feat(sdk-coin-bera): add message signing support for bera
  modules/sdk-coin-bera/src/bera.ts
  modules/statics/src/coinFeatures.ts
Due: statics

feat(sdk-core): add aed and sgd
  modules/bitgo/src/v2/coinFactory.ts
  modules/bitgo/src/v2/coins/index.ts
  modules/sdk-core/src/coins/fiataed.ts
  modules/sdk-core/src/coins/fiatsgd.ts
  modules/sdk-core/src/coins/index.ts
  modules/sdk-core/src/coins/tfiataed.ts
  modules/sdk-core/src/coins/tfiatsgd.ts
  modules/statics/src/base.ts
  modules/statics/src/coins.ts
  modules/statics/test/unit/fixtures/expectedColdFeatures.ts
Due: bitgo, statics

feat(express): add keepAliveTimeout, headersTimeout option #5747
  modules/express/.env.example
  modules/express/README.md
  modules/express/src/args.ts
  modules/express/src/config.ts
  modules/express/src/expressApp.ts
  modules/express/test/unit/bitgoExpress.ts
  modules/express/test/unit/config.ts
Due: express

test(express): verify absence of keepAliveTimeout and headersTimeout when unspecified
  modules/express/test/unit/bitgoExpress.ts
Due: express

feat(sdk-coin-icp): implement signing functionality and improve transaction validation
  modules/sdk-coin-icp/src/lib/transaction.ts
  modules/sdk-coin-icp/src/lib/transactionBuilder.ts
  modules/sdk-coin-icp/src/lib/transferBuilder.ts
  modules/sdk-coin-icp/src/lib/utils.ts
  modules/sdk-coin-icp/test/unit/transactionBuilder/transactionBuilder.ts
Due: none

feat(sdk-core): lightning wallet sharing support Lightning uses user auth key instead of user key to authorise transactions to BitGo backend.
  modules/bitgo/test/v2/unit/wallet.ts
  modules/sdk-core/src/bitgo/lightning/lightningWalletUtil.ts
  modules/sdk-core/src/bitgo/wallet/wallet.ts
Due: bitgo

feat(statics): onbaord UNA, ADS, MATRIX, PACT, EURCV WIN-4836
  modules/statics/src/base.ts
  modules/statics/src/coins.ts
  modules/statics/src/coins/erc20Coins.ts
  modules/statics/src/coins/ofcCoins.ts
  modules/statics/src/coins/ofcErc20Coins.ts
  modules/statics/src/coins/solTokens.ts
Due: statics

fix(sdk-coin-sol): set fee for unsigned sweep
  modules/sdk-coin-sol/src/sol.ts
  modules/sdk-coin-sol/test/unit/sol.ts
Due: none

chore: add coverage reports to gitignore
  .gitignore
Due: none

chore(sdk-coin-apt): add getter for seq no. in tx builder
  modules/sdk-coin-apt/src/lib/transactionBuilder/transactionBuilder.ts
  modules/sdk-coin-apt/test/unit/transactionBuilder/transferBuilder.ts
Due: none

fix(sdk-coin-baby): add support for finality provider address
  modules/sdk-coin-baby/src/baby.ts
  modules/sdk-coin-baby/test/resources/baby.ts
  modules/sdk-coin-baby/test/unit/baby.ts
Due: none

refactor(blockapis): replace bluebird with native promises
  modules/blockapis/package.json
  modules/blockapis/src/BaseHttpClient.ts
  yarn.lock
Due: none

chore(root): release express
  Dockerfile
Due: none

chore(sdk-coin-stx): gatekeep sip10 prod token Ticket: COIN-3477
  modules/statics/src/gatekeep.ts
Due: statics

feat(statics): add tokens arbeth:tbill, xrp:tbill and eth:fuelv1
  modules/statics/src/base.ts
  modules/statics/src/coins.ts
  modules/statics/src/coins/erc20Coins.ts
  modules/statics/src/coins/ofcCoins.ts
  modules/statics/src/coins/ofcErc20Coins.ts
Due: statics

fix: Updated deposit transaction hash link
  modules/statics/src/networks.ts
Due: statics

chore: updated deposit transaction hash link
  modules/statics/src/networks.ts
Due: statics

chore: add security exclusion for jspdf
  .iyarc
Due: none

feat(sdk-coin-icp): implement recover() for WRW support
  modules/sdk-coin-icp/package.json
  modules/sdk-coin-icp/src/icp.ts
  modules/sdk-coin-icp/src/lib/iface.ts
  modules/sdk-coin-icp/src/lib/transferBuilder.ts
  modules/sdk-coin-icp/src/lib/unsignedTransactionBuilder.ts
  modules/sdk-coin-icp/src/lib/utils.ts
  modules/sdk-coin-icp/test/resources/icp.ts
  modules/sdk-coin-icp/test/unit/transactionBuilder/transactionBuilder.ts
Due: none

chore: bump jspdf to v3
  modules/key-card/package.json
  yarn.lock
Due: none

build(deps): bump jspdf from 2.5.2 to 3.0.1
  modules/key-card/package.json
  yarn.lock
Due: none

Revert "fix(sdk-core): add validation for unsigned txHex"
  modules/abstract-cosmos/src/cosmosCoin.ts
  modules/abstract-eth/src/abstractEthLikeNewCoins.ts
  modules/bitgo/test/v2/unit/internal/tssUtils/ecdsa.ts
  modules/sdk-core/src/bitgo/baseCoin/iBaseCoin.ts
  modules/sdk-core/src/bitgo/utils/tss/baseTypes.ts
  modules/sdk-core/src/bitgo/utils/tss/ecdsa/ecdsa.ts
  modules/sdk-core/src/bitgo/utils/tss/ecdsa/ecdsaMPCv2.ts
  modules/sdk-core/src/bitgo/wallet/wallet.ts
Due: bitgo

chore(scripts): add tsconfig.json for scripts directory
  scripts/tsconfig.json
Due: none

Path conditions:
  bitgo: any of: modules/bitgo
  account-lib: any of: modules/account-lib
  statics: any of: modules/statics
  express: any of: modules/express
