Repository BitGo/BitGoJS: changes, and which Codecov flags are due for each by the changed paths.
All: bitgo, account-lib, statics, express

.codecov.yml:

coverage:
  status:
    project: off
    patch: off
comment:
  layout: 'diff, flags, files'
  require_changes: true
flags:
  bitgo:
    paths:
      - modules/bitgo
  account-lib:
    paths:
      - modules/account-lib
  statics:
    paths:
      - modules/statics
  express:
    paths:
      - modules/express

chore(bitgo): test updates for node 24
  modules/bitgo/test/v2/unit/coins/utxo/recovery/mock.ts
Due: bitgo

fix(statics): backwards compat enum type
  modules/statics/test/unit/base.ts
Due: statics

fix(utxo-lib): type-only import for BIP32Interface to resolve Node 24 ESM compatibility
  modules/utxo-lib/src/bitgo/signature.ts
  modules/utxo-lib/src/bitgo/wallet/Psbt.ts
  modules/utxo-lib/src/bitgo/wallet/WalletKeys.ts
  modules/utxo-lib/src/bitgo/wallet/WalletUnspentSigner.ts
  modules/utxo-lib/src/bitgo/wallet/psbt/PsbtOutputs.ts
  modules/utxo-lib/src/testutil/mock.ts
  modules/utxo-lib/test/bitgo/psbt/Musig2Util.ts
  modules/utxo-lib/test/bitgo/psbt/SignVerifyPsbtAndTx.ts
  modules/utxo-lib/test/bitgo/signature.ts
  modules/utxo-lib/test/integration_local_rpc/generate/outputScripts.util.ts
  modules/utxo-lib/test/integration_local_rpc/parse.ts
  modules/utxo-lib/test/transaction_util.ts
Due: none

fix(utxo-bin): type-only import for BIP32Interface to resolve Node 24 ESM compatibility
  modules/utxo-bin/test/bip32.util.ts
Due: none

fix(utxo-staking): type-only import for ECPairInterface to resolve Node 24 ESM compatibility
  modules/utxo-staking/test/unit/babylon/key.utils.ts
  modules/utxo-staking/test/unit/babylon/transactions.ts
  modules/utxo-staking/test/unit/babylon/vendor.utils.ts
Due: none

fix(sdk-api): type-only import for ECPairInterface to resolve Node 24 ESM compatibility
  modules/sdk-api/src/types.ts
Due: none

fix(utxo-core): run tests in /dist to avoid strip-only mode
  modules/utxo-core/package.json
  yarn.lock
Due: none

chore(utxo-staking): use commonjs to run tests to use __dirname
  modules/utxo-staking/package.json
Due: none

fix(utxo-staking): run test in /dist to avoid strip-only mode
  modules/utxo-staking/package.json
Due: none

fix(abstract-eth): import type and class separately
  modules/abstract-eth/test/unit/token.ts
Due: none

fix(account-lib): import type and class separately
  modules/account-lib/test/unit/fixtures.ts
Due: account-lib

chore(sdk-coin-ada): update import = to ES6 imports
  modules/sdk-coin-ada/test/unit/ada.ts
  modules/sdk-coin-asi/test/unit/asi.ts
  modules/sdk-coin-atom/test/unit/atom.ts
  modules/sdk-coin-baby/test/unit/baby.ts
  modules/sdk-coin-bld/test/unit/bld.ts
  modules/sdk-coin-coreum/test/unit/coreum.ts
  modules/sdk-coin-cronos/test/unit/cronos.ts
  modules/sdk-coin-dot/test/unit/dot.ts
  modules/sdk-coin-hash/test/unit/hash.ts
  modules/sdk-coin-initia/test/unit/initia.ts
  modules/sdk-coin-injective/test/unit/injective.ts
  modules/sdk-coin-islm/test/unit/islm.ts
  modules/sdk-coin-mantra/test/unit/mantra.ts
  modules/sdk-coin-osmo/test/unit/osmo.ts
  modules/sdk-coin-rune/test/unit/rune.ts
  modules/sdk-coin-sei/test/unit/sei.ts
  modules/sdk-coin-tao/test/unit/tao.ts
  modules/sdk-coin-tia/test/unit/tia.ts
  modules/sdk-coin-zeta/test/unit/zeta.ts
Due: none

chore: use as any instead of <any>
  modules/bitgo/test/v2/unit/staking/stakingWalletNonTSS.ts
  modules/sdk-coin-eos/test/unit/eos.ts
Due: bitgo

chore: update import = to ES6 imports
  modules/bitgo/test/v2/unit/internal/tssUtils/bitgoMpcGpgPubKeys.ts
  modules/bitgo/test/v2/unit/tss/ecdsa.ts
  modules/bitgo/test/v2/unit/tss/eddsa.ts
  modules/sdk-coin-injective/test/unit/injective.ts
  modules/sdk-coin-tia/test/unit/tia.ts
  modules/sdk-coin-zeta/test/unit/zeta.ts
  modules/sdk-rpc-wrapper/test/unit/evmRPCWrapper.ts
Due: bitgo

chore(sdk-core): resolve paillier import issues
  modules/sdk-core/test/unit/account-lib/mpc/tss/ecdsa/fixtures.ts
Due: none

fix(statics): convert TypeScript enums to const assertions for Node.js
  modules/statics/src/base.ts
Due: statics

chore(sdk-coin-cosmos): update node engine
  modules/sdk-coin-cosmos/package.json
Due: none

fix(bitgo): resolve import errors by running test in /dist
  modules/bitgo/package.json
  modules/bitgo/test/v2/unit/accountConsolidations.ts
  modules/bitgo/test/v2/unit/mmi.ts
Due: bitgo

fix(sdk-coin-trx): run test in /dist to resolve imports
  modules/sdk-coin-trx/package.json
Due: none

fix(sdk-coin-trx): add glob package for glob support in node 18 and 20
  modules/sdk-coin-trx/package.json
Due: none

fix(sdk-coin-trx): unwrap glob syntax
  modules/sdk-coin-trx/package.json
Due: none

fix(bitgo): use import = and type to resolve errors
  modules/bitgo/package.json
  modules/bitgo/test/unit/bip32path.ts
  modules/bitgo/test/unit/decryptKeychain.ts
  modules/bitgo/test/v2/unit/accountConsolidations.ts
  modules/bitgo/test/v2/unit/coins/utxo/recovery/mock.ts
  modules/bitgo/test/v2/unit/coins/utxo/util/keychains.ts
  modules/bitgo/test/v2/unit/errors.ts
  modules/bitgo/test/v2/unit/internal/opengpgUtils.ts
  modules/bitgo/test/v2/unit/internal/tssUtils/common.ts
  modules/bitgo/test/v2/unit/mmi.ts
Due: bitgo

fix(bitgo): resolve import issues
  modules/bitgo/test/v2/unit/internal/opengpgUtils.ts
  modules/bitgo/test/v2/unit/internal/tssUtils/eddsa.ts
  modules/sdk-api/src/v1/travelRule.ts
  modules/sdk-core/src/account-lib/baseCoin/secp256k1ExtendedKeyPair.ts
  modules/sdk-core/src/bitgo/bitcoin.ts
  modules/sdk-core/src/bitgo/ecdh.ts
  modules/sdk-core/src/bitgo/legacyBitcoin.ts
  modules/sdk-core/src/bitgo/recovery/initiate.ts
  modules/unspents/test/signedTx/inputWeights.ts
  modules/unspents/test/signedTx/txGen.ts
Due: bitgo

fix(statics): rebase issue
  modules/statics/src/base.ts
Due: statics

chore: fix audit issues
  package.json
  yarn.lock
Due: none

chore(statics): config changes for hoodi
  modules/statics/src/base.ts
  modules/statics/src/coins.ts
  modules/statics/src/coins/erc20Coins.ts
  modules/statics/src/networks.ts
  modules/statics/src/tokenConfig.ts
Due: statics

feat(sdk-coin-evm): implement coin specific register in EVM coin module
  modules/sdk-coin-evm/src/register.ts
Due: none

chore: updated batcher for hoodi
  modules/statics/src/networks.ts
Due: statics

chore: add hoodi tokens
  modules/statics/src/base.ts
  modules/statics/src/coins/erc20Coins.ts
Due: statics

feat: ofc tokens for nep141
  modules/statics/src/coins/ofcCoins.ts
  modules/statics/src/ofc.ts
Due: statics

fix: fix FIUAXRP token name
  modules/statics/src/coins.ts
Due: statics

refactor(utxo-staking): add toDescriptor helper for descriptor type handling
  modules/utxo-staking/test/unit/babylon/undelegation.ts
Due: none

feat(utxo-staking): add separate tests for PSBT signature validation
  modules/utxo-staking/test/unit/babylon/undelegation.ts
Due: none

feat(utxo-staking): update imports for undelegation files
  modules/utxo-staking/test/unit/babylon/undelegation.ts
Due: none

feat(utxo-staking): extract key details from parsed staking descriptors
  modules/utxo-staking/src/babylon/parseDescriptor.ts
Due: none

feat(utxo-staking): add test that validates unbonding output
  modules/utxo-staking/test/unit/babylon/undelegation.ts
Due: none

feat(utxo-staking): export sortedKeys function for use in unbonding
  modules/utxo-staking/src/babylon/descriptor.ts
Due: none

feat(utxo-staking): add parsing for unbonding descriptor
  modules/utxo-staking/src/babylon/parseDescriptor.ts
  modules/utxo-staking/test/unit/babylon/transactions.ts
Due: none

fix: hoodi config
  modules/statics/src/coins.ts
Due: statics
