Repository BitGo/BitGoJS: changes, and which Codecov flags are due for each by the changed paths.
All: bitgo, account-lib, statics, express

feat(sdk-coin-icp): CborUnsignedTransaction changes reverted
  modules/sdk-coin-icp/src/lib/iface.ts
  modules/sdk-coin-icp/src/lib/signedTransactionBuilder.ts
  modules/sdk-coin-icp/src/lib/transaction.ts
Due: none

feat(sdk-coin-icp): reduce the payload to 1 TICKET: COIN-3372
  modules/sdk-coin-icp/src/lib/iface.ts
  modules/sdk-coin-icp/src/lib/signedTransactionBuilder.ts
  modules/sdk-coin-icp/src/lib/transaction.ts
  modules/sdk-coin-icp/src/lib/transactionBuilder.ts
  modules/sdk-coin-icp/src/lib/unsignedTransactionBuilder.ts
  modules/sdk-coin-icp/src/lib/utils.ts
  modules/sdk-coin-icp/test/resources/icp.ts
  modules/sdk-coin-icp/test/unit/transactionBuilder/transactionBuilder.ts
Due: none

feat(sdk-coin-near): add unsigned sweep recovery for near
  modules/sdk-coin-near/src/near.ts
  modules/sdk-coin-near/test/fixtures/near.ts
  modules/sdk-coin-near/test/unit/near.ts
Due: none

feat(sdk-coin-apt): add generic NFT collection statics
  modules/statics/src/account.ts
  modules/statics/src/base.ts
  modules/statics/src/coins.ts
  modules/statics/src/tokenConfig.ts
Due: statics

feat(utxo-lib): improve validation for path chain and index
  modules/utxo-lib/src/bitgo/parseInput.ts
  modules/utxo-lib/test/bitgo/wallet/chains.ts
Due: none

refactor(utxo-lib): move `getChainAndIndexFromPath` to separate file
  modules/utxo-lib/src/bitgo/parseInput.ts
  modules/utxo-lib/src/bitgo/wallet/ScriptId.ts
  modules/utxo-lib/src/bitgo/wallet/index.ts
  modules/utxo-lib/test/bitgo/wallet/ScriptId.ts
  modules/utxo-lib/test/bitgo/wallet/chains.ts
Due: none

refactor(utxo-lib): rename `getChainAndIndex` to `getScriptIdFromPath`
  modules/utxo-lib/src/bitgo/wallet/ScriptId.ts
  modules/utxo-lib/test/bitgo/wallet/ScriptId.ts
Due: none

refactor(utxo-lib): improve type safety and structure of WalletOutput module
  modules/utxo-lib/src/bitgo/wallet/WalletOutput.ts
  modules/utxo-lib/test/bitgo/wallet/WalletOutput.ts
Due: none

fix(utxo-lib): refactor imports to remove circular dependencies
  modules/utxo-lib/src/bitgo/outputScripts.ts
  modules/utxo-lib/src/bitgo/wallet/WalletOutput.ts
  modules/utxo-lib/src/testutil/keys.ts
Due: none

fix(sdk-coin-stx): fix issue in verifyTx for sip10 tokens COIN-3616 TICKET: COIN-3616
  modules/sdk-coin-stx/src/sip10Token.ts
  modules/sdk-coin-stx/test/unit/sip10Token.ts
  modules/sdk-core/src/bitgo/baseCoin/iBaseCoin.ts
Due: none

fix(sdk-coin-stx): handling noneCV for sip10 Ticket: COIN-3609
  modules/sdk-coin-stx/src/stx.ts
  modules/sdk-coin-stx/test/fixtures.ts
  modules/sdk-coin-stx/test/unit/resources.ts
  modules/sdk-coin-stx/test/unit/stx.ts
  modules/sdk-coin-stx/test/unit/transactionBuilder/fungibleTokenTransferBuilder.ts
Due: none

fix(sdk-coin-sui): walrus request withdraw stake should have empty inputs and outputs
  modules/sdk-coin-sui/src/lib/utils.ts
  modules/sdk-coin-sui/src/lib/walrusWithdrawStakeTransaction.ts
  modules/sdk-coin-sui/test/unit/transactionBuilder/walrusWithdrawBuilder.ts
Due: none

chore(statics): update batcher contract for coredao, flr, sgb, wemix & xdc
  modules/statics/src/networks.ts
Due: statics

feat(abstract-eth): added support for mpcv2 in recovery
  modules/abstract-eth/package.json
  modules/abstract-eth/src/abstractEthLikeNewCoins.ts
  modules/bitgo/test/v2/unit/recovery.ts
  modules/sdk-coin-eth/src/eth.ts
  modules/sdk-coin-eth/src/lib/transactionBuilder.ts
  modules/sdk-coin-eth/test/fixtures/eth.ts
  modules/sdk-coin-eth/test/unit/eth.ts
  modules/sdk-coin-sol/test/unit/sol.ts
  modules/sdk-core/src/bitgo/utils/tss/baseTypes.ts
Due: bitgo

feat(sdk-coin-icp): implemented recover() for WRW support
  modules/sdk-coin-icp/package.json
  modules/sdk-coin-icp/src/icp.ts
  modules/sdk-coin-icp/src/lib/iface.ts
  modules/sdk-coin-icp/src/lib/transaction.ts
  modules/sdk-coin-icp/src/lib/transactionBuilder.ts
  modules/sdk-coin-icp/src/lib/transferBuilder.ts
  modules/sdk-coin-icp/src/lib/unsignedTransactionBuilder.ts
  modules/sdk-coin-icp/src/lib/utils.ts
  modules/sdk-coin-icp/test/resources/icp.ts
  modules/sdk-coin-icp/test/unit/transactionBuilder/transactionBuilder.ts
Due: none

feat(utxo-core): export derive from descriptor index
  modules/utxo-core/src/descriptor/index.ts
Due: none

chore(sdk-coin-icp): adding the testcases for icp Ticket: WIN-5049
  modules/sdk-coin-icp/test/resources/icp.ts
Due: none

chore: chore: adding create-invoice example for custodial lightning
  examples/ts/btc/lightning/create-invoice.ts
Due: none

test: initial commit of new branch
  examples/ts/access-token.ts
  examples/ts/create-tss-wallet.ts
  examples/ts/get-keychains.ts
  examples/ts/send-many.ts
  examples/ts/send-wallet-transaction.ts
  examples/ts/sui/create-wallet.ts
Due: none

chore(examples): get keychains
  .gitcommitscopes
  examples/ts/access-token.ts
  examples/ts/get-keychains.ts
Due: none

feat: get wallet nft balances
  examples/ts/nft/get-wallet-nfts.ts
Due: none

fix(express): display corruption in markdown #5747
  modules/express/README.md
Due: express

chore: adding wallet-creation example for self-custodial lightning
  examples/ts/btc/lightning/self-custodial-wallet.ts
Due: none

chore: adding wallet-creation example for custodial lightning
  examples/ts/btc/lightning/custodial-wallet.ts
Due: none

refactor(statics): rename collectionId field to nftCollectionId
  modules/statics/src/account.ts
  modules/statics/src/coins.ts
  modules/statics/src/index.ts
  modules/statics/src/tokenConfig.ts
Due: statics

fix(statics): correct ofc decimal places for stx tokens
  modules/statics/src/coins/ofcCoins.ts
Due: statics

feat(bitgo-v2): add sdk support for bitgo-v2
  CODEOWNERS
  Dockerfile
  modules/bitgo-v2/.eslintignore
  modules/bitgo-v2/.gitignore
  modules/bitgo-v2/.mocharc.yml
  modules/bitgo-v2/.npmignore
  modules/bitgo-v2/.prettierignore
  modules/bitgo-v2/.prettierrc.yml
  modules/bitgo-v2/package.json
  modules/bitgo-v2/src/bitgoV2.ts
  modules/bitgo-v2/src/coinFactoryV2.ts
  modules/bitgo-v2/src/coins/index.ts
  modules/bitgo-v2/src/globalCoinFactoryV2.ts
  modules/bitgo-v2/src/index.ts
  modules/bitgo-v2/test/resources/amsResponse.ts
  modules/bitgo-v2/test/unit/bitgoV2.ts
  modules/bitgo-v2/tsconfig.json
  tsconfig.packages.json
Due: bitgo

fix(sdk-core): add validation for unsigned txHex
  modules/abstract-cosmos/src/cosmosCoin.ts
  modules/abstract-eth/src/abstractEthLikeNewCoins.ts
  modules/bitgo/test/v2/unit/internal/tssUtils/ecdsa.ts
  modules/sdk-core/src/bitgo/baseCoin/iBaseCoin.ts
  modules/sdk-core/src/bitgo/utils/tss/baseTypes.ts
  modules/sdk-core/src/bitgo/utils/tss/ecdsa/ecdsa.ts
  modules/sdk-core/src/bitgo/utils/tss/ecdsa/ecdsaMPCv2.ts
  modules/sdk-core/src/bitgo/wallet/wallet.ts
Due: bitgo

feat: enable erc20 sendmany
  modules/abstract-eth/src/abstractEthLikeNewCoins.ts
  modules/statics/src/networks.ts
Due: statics

fix(root): bignumber.js build failure
  package.json
  yarn.lock
Due: none

feat: add approveToken function for erc20 sendMany
  modules/sdk-core/src/bitgo/wallet/iWallet.ts
  modules/sdk-core/src/bitgo/wallet/wallet.ts
Due: none

chore: fix bls coderemoval build issue
  CODEOWNERS
  Dockerfile
  README.md
  modules/bitgo/CHANGELOG.md
  modules/sdk-core/CHANGELOG.md
  modules/sdk-core/src/bitgo/baseCoin/baseCoin.ts
  modules/sdk-core/src/bitgo/wallet/wallet.ts
  modules/sdk-core/src/bitgo/wallet/wallets.ts
  scripts/tests/prepareRelease/fixtures/dist-tags.json
Due: bitgo

chore: update codeowners
  CODEOWNERS
Due: none

chore(root): release express
  Dockerfile
Due: none

feat(sdk-coin-icp): implemented recover() for WRW support
  modules/sdk-coin-icp/package.json
  modules/sdk-coin-icp/src/icp.ts
  modules/sdk-coin-icp/src/lib/iface.ts
  modules/sdk-coin-icp/src/lib/transaction.ts
  modules/sdk-coin-icp/src/lib/transactionBuilder.ts
  modules/sdk-coin-icp/src/lib/transferBuilder.ts
  modules/sdk-coin-icp/src/lib/unsignedTransactionBuilder.ts
  modules/sdk-coin-icp/src/lib/utils.ts
  modules/sdk-coin-icp/test/resources/icp.ts
  modules/sdk-coin-icp/test/unit/transactionBuilder/transactionBuilder.ts
  modules/sdk-core/src/bitgo/environments.ts
Due: none

feat(sdk-ams): add sdk support for ams
  CODEOWNERS
  Dockerfile
  modules/sdk-ams/.eslintignore
  modules/sdk-ams/.gitignore
  modules/sdk-ams/.mocharc.yml
  modules/sdk-ams/.npmignore
  modules/sdk-ams/.prettierignore
  modules/sdk-ams/.prettierrc.yml
  modules/sdk-ams/package.json
  modules/sdk-ams/src/bitgoV2.ts
  modules/sdk-ams/src/coinFactoryV2.ts
  modules/sdk-ams/src/coins/index.ts
  modules/sdk-ams/src/globalCoinFactoryV2.ts
  modules/sdk-ams/src/index.ts
  modules/sdk-ams/test/resources/amsResponse.ts
  modules/sdk-ams/test/unit/bitgoV2.ts
  modules/sdk-ams/tsconfig.json
  tsconfig.packages.json
Due: none

Path conditions:
  bitgo: any of: modules/bitgo
  account-lib: any of: modules/account-lib
  statics: any of: modules/statics
  express: any of: modules/express
