Repository BitGo/BitGoJS: changes, and which Codecov flags are due for each by the changed paths.
All: bitgo, account-lib, statics, express

refactor(core): use utxolib.bitgo.verifySignature()
  modules/core/src/v2/coins/abstractUtxoCoin.ts
  modules/utxo-lib/src/bitgo/index.ts
  modules/utxo-lib/src/bitgo/signature.ts
Due: bitgo

feat(core): ethereumjs upgrade in core
  modules/account-lib/src/coin/avaxc/utils.ts
  modules/account-lib/src/coin/eth/transferBuilder.ts
  modules/account-lib/src/coin/eth/types.ts
  modules/account-lib/test/unit/coin/rbtc/transactionBuilder/send.ts
  modules/core/package.json
  modules/core/src/v2/coins/eth.ts
  modules/core/src/v2/coins/eth2.ts
  modules/core/test/v2/unit/coins/abstractEthCoin.ts
  yarn.lock
Due: bitgo, account-lib

fix(utxo-lib): fix `addForkId` evaluation
  modules/utxo-lib/src/transaction.js
Due: none

fix(utxo-lib): write `version` as `Int32`
  modules/utxo-lib/src/transaction.js
Due: none

feat(utxo-lib): add thirdparty fixtures
  modules/utxo-lib/package.json
  modules/utxo-lib/test/fixtures_thirdparty/download.ts
  modules/utxo-lib/test/fixtures_thirdparty/fixtures.ts
  modules/utxo-lib/test/fixtures_thirdparty/nodes/BTCGPU-0.17.3/src/test/data/sighash.json
  modules/utxo-lib/test/fixtures_thirdparty/nodes/BTCGPU-0.17.3/src/test/data/tx_valid.json
  modules/utxo-lib/test/fixtures_thirdparty/nodes/bitcoin-0.21.1/src/test/data/sighash.json
  modules/utxo-lib/test/fixtures_thirdparty/nodes/bitcoin-0.21.1/src/test/data/tx_valid.json
  modules/utxo-lib/test/fixtures_thirdparty/nodes/bitcoin-cash-node-23.0.0/src/test/data/sighash.json
  modules/utxo-lib/test/fixtures_thirdparty/nodes/bitcoin-cash-node-23.0.0/src/test/data/tx_valid.json
  modules/utxo-lib/test/fixtures_thirdparty/nodes/bitcoin-sv-1.0.8/src/test/data/sighash.json
  modules/utxo-lib/test/fixtures_thirdparty/nodes/bitcoin-sv-1.0.8/src/test/data/tx_valid.json
  modules/utxo-lib/test/fixtures_thirdparty/nodes/dash-0.17.0.3/src/test/data/sighash.json
  modules/utxo-lib/test/fixtures_thirdparty/nodes/dash-0.17.0.3/src/test/data/tx_valid.json
  modules/utxo-lib/test/fixtures_thirdparty/nodes/litecoin-0.18.1/src/test/data/sighash.json
  modules/utxo-lib/test/fixtures_thirdparty/nodes/litecoin-0.18.1/src/test/data/tx_valid.json
  modules/utxo-lib/test/fixtures_thirdparty/nodes/zcash-4.4.1/src/test/data/sighash.json
  modules/utxo-lib/test/fixtures_thirdparty/nodes/zcash-4.4.1/src/test/data/tx_valid.json
  modules/utxo-lib/test/fixtures_thirdparty/parse.ts
Due: none

feat(statics): add rndr token
  modules/statics/src/base.ts
  modules/statics/src/coins.ts
Due: statics

feat(statics): update EGL to EGOLD and add Ethereum Eagle
  modules/statics/src/base.ts
  modules/statics/src/coins.ts
Due: statics

feat(statics): add priority tokens
  modules/statics/src/base.ts
  modules/statics/src/coins.ts
Due: statics

chore(coins): add eth classic (etc)
  modules/statics/src/coins.ts
Due: statics

chore(release): publish modules
  modules/account-lib/package.json
  modules/core/package.json
  modules/express/package-lock.json
  modules/express/package.json
  modules/statics/package.json
  modules/utxo-lib/package.json
Due: bitgo, account-lib, statics, express

fix(utxo-lib): respond to comments
  modules/utxo-lib/test/fixtures_thirdparty/parse.ts
Due: none

fix(account-lib): fix lint errors
  modules/account-lib/src/coin/avaxc/walletUtil.ts
Due: account-lib

feat(utxo-lib): add wrappers for Transaction(Builder) constructors
  modules/utxo-lib/package.json
  modules/utxo-lib/src/bitgo/index.ts
  modules/utxo-lib/src/bitgo/transaction.ts
  modules/utxo-lib/test/transaction_builder.js
Due: none

feat(account-lib): add signers check on account lib and add unit test
  modules/account-lib/src/coin/algo/transactionBuilder.ts
  modules/account-lib/test/unit/coin/algo/transactionBuilder/base.ts
Due: account-lib

feat: fixing halfSigned in SubmitTransactionOptions
  modules/core/src/v2/wallet.ts
Due: bitgo

chore(release): publish modules
  modules/account-lib/package.json
  modules/core/package.json
  modules/express/package-lock.json
  modules/express/package.json
  modules/utxo-lib/package.json
Due: bitgo, account-lib, express

feat(utxo-lib): add `cashaddr` constants to bch and bchTest networks
  modules/utxo-lib/src/networkTypes.ts
  modules/utxo-lib/src/networks.ts
Due: none

refactor(core): use client-side params to determine type of eth tx in verify tx
  modules/core/src/v2/coins/eth.ts
  modules/core/test/v2/unit/coins/eth.ts
  modules/core/test/v2/unit/wallet.ts
Due: bitgo

feat(account-lib): xrp transaction setup
  modules/account-lib/package.json
  modules/account-lib/src/coin/xrp/errors.ts
  modules/account-lib/src/coin/xrp/iface.ts
  modules/account-lib/src/coin/xrp/index.ts
  modules/account-lib/src/coin/xrp/keyPair.ts
  modules/account-lib/src/coin/xrp/transaction.ts
  modules/account-lib/src/coin/xrp/transactionBuilder.ts
  modules/account-lib/src/coin/xrp/transactionBuilderFactory.ts
  modules/account-lib/src/coin/xrp/transferBuilder.ts
  modules/account-lib/src/coin/xrp/txnSchema.ts
  modules/account-lib/src/coin/xrp/utils.ts
  modules/account-lib/src/coin/xrp/walletInitializationBuilder.ts
  modules/account-lib/test/resources/xrp/xrp.ts
  modules/account-lib/test/unit/coin/xrp/keyPair.ts
  modules/account-lib/test/unit/coin/xrp/transaction.ts
  modules/account-lib/test/unit/coin/xrp/transactionBuilder/base.ts
  modules/account-lib/test/unit/coin/xrp/transactionBuilder/transferBuilder.ts
  modules/account-lib/test/unit/coin/xrp/transactionBuilder/walletInitializationBuilder.ts
  yarn.lock
Due: account-lib

feat(account-lib): implementation completed
  modules/account-lib/src/coin/xrp/transactionBuilderFactory.ts
  modules/account-lib/test/unit/coin/xrp/transactionBuilder/transactionBuilderFactory.ts
Due: account-lib

feat(account-lib): xrp implmentation fixes
  modules/account-lib/src/coin/baseCoin/iface.ts
  modules/account-lib/src/coin/xrp/iface.ts
  modules/account-lib/src/coin/xrp/transaction.ts
  modules/account-lib/src/coin/xrp/transactionBuilder.ts
  modules/account-lib/src/coin/xrp/transferBuilder.ts
  modules/account-lib/test/unit/coin/xrp/transactionBuilder/base.ts
  modules/account-lib/test/unit/coin/xrp/transactionBuilder/transferBuilder.ts
  modules/account-lib/test/unit/coin/xrp/transactionBuilder/walletInitializationBuilder.ts
  modules/core/src/v2/coins/xrp.ts
  modules/core/test/v2/unit/coins/xrp.ts
  modules/core/test/v2/unit/recovery.ts
Due: bitgo, account-lib

feat(account-lib): xrp changes
  modules/account-lib/src/coin/xrp/errors.ts
  modules/account-lib/src/coin/xrp/iface.ts
  modules/account-lib/src/coin/xrp/transaction.ts
  modules/account-lib/src/coin/xrp/transactionBuilder.ts
Due: account-lib

feat(account-lib): xrp keypair update
  modules/account-lib/src/coin/xrp/keyPair.ts
Due: account-lib

feat(core): core implementation completed
  modules/account-lib/src/coin/xrp/iface.ts
  modules/account-lib/src/coin/xrp/keyPair.ts
  modules/account-lib/src/coin/xrp/transaction.ts
  modules/account-lib/src/coin/xrp/transactionBuilder.ts
  modules/account-lib/src/coin/xrp/transactionBuilderFactory.ts
  modules/account-lib/src/coin/xrp/transferBuilder.ts
  modules/account-lib/src/coin/xrp/txnSchema.ts
  modules/account-lib/test/unit/coin/xrp/transaction.ts
  modules/account-lib/test/unit/coin/xrp/transactionBuilder/transferBuilder.ts
  modules/core/src/v2/coins/xrp.ts
  modules/core/test/v2/fixtures/coins/xrp.ts
  modules/core/test/v2/unit/coins/xrp.ts
  modules/core/test/v2/unit/recovery.ts
Due: bitgo, account-lib

feat(utxo-lib): add, use parseTransactionRoundTrip
  modules/utxo-lib/test/fixtures_thirdparty/parse.ts
  modules/utxo-lib/test/integration_local_rpc/parse.ts
  modules/utxo-lib/test/transaction_util.ts
Due: none

feat(utxo-lib): add test comparing rpc data to parsed data
  modules/utxo-lib/test/integration_local_rpc/compare.ts
  modules/utxo-lib/test/integration_local_rpc/generate/RpcTypes.ts
  modules/utxo-lib/test/integration_local_rpc/parse.ts
Due: none

feat(utxo-lib): add test fixtures for special dash transactions
  modules/utxo-lib/package.json
  modules/utxo-lib/test/integration_local_rpc/compare.ts
  modules/utxo-lib/test/integration_local_rpc/fixtures/dashTestExtra/evo_transaction_000.json
  modules/utxo-lib/test/integration_local_rpc/fixtures/dashTestExtra/evo_transaction_001.json
  modules/utxo-lib/test/integration_local_rpc/fixtures/dashTestExtra/evo_transaction_002.json
  modules/utxo-lib/test/integration_local_rpc/fixtures/dashTestExtra/evo_transaction_003.json
  modules/utxo-lib/test/integration_local_rpc/fixtures/dashTestExtra/evo_transaction_004.json
  modules/utxo-lib/test/integration_local_rpc/fixtures/dashTestExtra/evo_transaction_005.json
  modules/utxo-lib/test/integration_local_rpc/fixtures/dashTestExtra/evo_transaction_006.json
  modules/utxo-lib/test/integration_local_rpc/fixtures/dashTestExtra/evo_transaction_007.json
  modules/utxo-lib/test/integration_local_rpc/fixtures/dashTestExtra/evo_transaction_008.json
  modules/utxo-lib/test/integration_local_rpc/fixtures/dashTestExtra/evo_transaction_009.json
  modules/utxo-lib/test/integration_local_rpc/fixtures/dashTestExtra/evo_transaction_010.json
  modules/utxo-lib/test/integration_local_rpc/fixtures/dashTestExtra/evo_transaction_011.json
  modules/utxo-lib/test/integration_local_rpc/fixtures/dashTestExtra/evo_transaction_012.json
  modules/utxo-lib/test/integration_local_rpc/fixtures/dashTestExtra/evo_transaction_013.json
  modules/utxo-lib/test/integration_local_rpc/fixtures/dashTestExtra/evo_transaction_014.json
  modules/utxo-lib/test/integration_local_rpc/fixtures/dashTestExtra/evo_transaction_015.json
  modules/utxo-lib/test/integration_local_rpc/fixtures/dashTestExtra/evo_transaction_016.json
  modules/utxo-lib/test/integration_local_rpc/fixtures/dashTestExtra/evo_transaction_017.json
  modules/utxo-lib/test/integration_local_rpc/fixtures/dashTestExtra/evo_transaction_018.json
  modules/utxo-lib/test/integration_local_rpc/fixtures/dashTestExtra/evo_transaction_019.json
  modules/utxo-lib/test/integration_local_rpc/fixtures/dashTestExtra/evo_transaction_020.json
  modules/utxo-lib/test/integration_local_rpc/fixtures/dashTestExtra/evo_transaction_021.json
  modules/utxo-lib/test/integration_local_rpc/fixtures/dashTestExtra/evo_transaction_022.json
  modules/utxo-lib/test/integration_local_rpc/fixtures/dashTestExtra/evo_transaction_023.json
  modules/utxo-lib/test/integration_local_rpc/fixtures/dashTestExtra/evo_transaction_024.json
  modules/utxo-lib/test/integration_local_rpc/fixtures/dashTestExtra/evo_transaction_025.json
  modules/utxo-lib/test/integration_local_rpc/fixtures/dashTestExtra/evo_transaction_026.json
  modules/utxo-lib/test/integration_local_rpc/fixtures/dashTestExtra/evo_transaction_027.json
  modules/utxo-lib/test/integration_local_rpc/fixtures/dashTestExtra/evo_transaction_028.json
  modules/utxo-lib/test/integration_local_rpc/parseDashEvo.ts
Due: none

feat(account-lib): add lease to algo txns
  modules/account-lib/src/coin/algo/assetTransferBuilder.ts
  modules/account-lib/src/coin/algo/keyRegistrationBuilder.ts
  modules/account-lib/src/coin/algo/transferBuilder.ts
  modules/account-lib/test/resources/algo/index.ts
  modules/account-lib/test/unit/coin/algo/transactionBuilder/assetTransferBuilder.ts
  modules/account-lib/test/unit/coin/algo/transactionBuilder/keyRegistrationBuilder.ts
  modules/account-lib/test/unit/coin/algo/transactionBuilder/transactionBuilderFactory.ts
  modules/account-lib/test/unit/coin/algo/transactionBuilder/transferBuilder.ts
Due: account-lib

feat(statics): add tesnet tokenes
  modules/statics/src/coins.ts
Due: statics

feat(account-lib): change test
  modules/account-lib/test/unit/coin/algo/transactionBuilder/keyRegistrationBuilder.ts
Due: account-lib

feat(core): add enable and disable token txs to explain transaction method
  modules/core/src/v2/coins/algo.ts
  modules/core/test/v2/fixtures/coins/algo.ts
  modules/core/test/v2/unit/coins/algo.ts
Due: bitgo

wip fix integration tests
  modules/core/test/v2/integration/baseCoin.ts
  modules/core/test/v2/integration/bitgo.ts
  modules/core/test/v2/integration/coins/eth.ts
  modules/core/test/v2/integration/coins/xlm.ts
  modules/core/test/v2/integration/coins/xrp.ts
  modules/core/test/v2/integration/keychains.ts
  modules/core/test/v2/integration/markets.ts
  modules/core/test/v2/integration/recovery.ts
  modules/core/test/v2/integration/userWebhooks.ts
  modules/core/test/v2/integration/wallet.ts
  modules/core/test/v2/integration/wallets.ts
Due: bitgo

feat(eth): enable eip1559 transactions for recovery
  modules/core/src/v2/coins/erc20Token.ts
  modules/core/src/v2/coins/eth.ts
Due: bitgo

feat(core): add `ecdhXprv` to serialized SDK JSON object
  modules/core/src/bitgo.ts
Due: bitgo

feat(utxo-lib): add createTransactionFromHex()
  modules/utxo-lib/src/bitgo/transaction.ts
Due: none

refactor(core): use utxo.bitgo.createTransaction* wrappers
  modules/core/src/pendingapproval.ts
  modules/core/src/transactionBuilder.ts
  modules/core/src/v2/coins/abstractUtxoCoin.ts
  modules/core/src/v2/coins/btc.ts
  modules/core/src/v2/coins/utxo/recover.ts
  modules/core/src/v2/recovery.ts
  modules/core/src/wallet.ts
  modules/core/test/integration/pendingapproval.ts
  modules/core/test/integration/wallet.ts
  modules/core/test/unit/fixtures/accelerate-tx.ts
  modules/core/test/unit/wallet.ts
  modules/core/test/v2/unit/coins/abstractUtxoCoin.ts
  modules/core/test/v2/unit/coins/ltc.ts
  modules/core/test/v2/unit/coins/zec.ts
  modules/core/test/v2/unit/wallet.ts
Due: bitgo

Path conditions:
  bitgo: any of: modules/core
  account-lib: any of: modules/account-lib
  statics: any of: modules/statics
  express: any of: modules/express
