Repository BitGo/BitGoJS: changes, and which Codecov flags are due for each by the changed paths.
All: bitgo, account-lib, statics, express

.codecov.yml:

coverage:
  status:
    project: off
    patch: off
comment:
  layout: "diff, flags, files"
  require_changes: true
flags:
  bitgo:
    paths:
      - modules/core
  account-lib:
    paths:
      - modules/account-lib
  statics:
    paths:
      - modules/statics
  express:
    paths:
      - modules/express

chore(core): remove deprecated test fixture
  modules/core/test/v2/fixtures/coins/bch.ts
Due: bitgo

chore(wp): remove deprecated bch recovery nock
  modules/core/test/v2/lib/recovery-nocks.ts
Due: bitgo

fix(statics): use `utxolibName` instead of redefining constants
  modules/statics/src/coins.ts
  modules/statics/src/networks.ts
Due: statics

test(statics): remove circular and tautoligical tests
  modules/statics/test/unit/coins.ts
Due: statics

fix(statics): fix BitcoinGoldTestnet derivation
  modules/statics/src/networks.ts
Due: statics

feat(account-lib): dot optimization
  modules/account-lib/src/coin/dot/iface.ts
  modules/account-lib/src/coin/dot/index.ts
  modules/account-lib/src/coin/dot/stakingBuilder.ts
  modules/account-lib/src/coin/dot/transaction.ts
  modules/account-lib/src/coin/dot/transactionBuilder.ts
  modules/account-lib/src/coin/dot/transactionBuilderFactory.ts
  modules/account-lib/src/coin/dot/transferBuilder.ts
  modules/account-lib/src/coin/dot/txnSchema.ts
  modules/account-lib/src/coin/dot/unstakeBuilder.ts
  modules/account-lib/src/coin/dot/walletInitializationBuilder.ts
  modules/account-lib/test/unit/coin/dot/transactionBuilder/base.ts
  modules/account-lib/test/unit/coin/dot/transactionBuilder/transactionBuilderFactory.ts
  modules/account-lib/test/unit/coin/dot/transactionBuilder/transferBuilder.ts
Due: account-lib

fix(utxo-lib): do not throw on unsigned inputs
  modules/utxo-lib/src/bitgo/signature.ts
  modules/utxo-lib/test/bitgo/signature.ts
  modules/utxo-lib/test/transaction_util.ts
Due: none

test(core): remove deprecated test fixture
  modules/core/test/v2/fixtures/coins/bch.ts
Due: bitgo

test(core): remove "wrong chain recovery" fixtures
  modules/core/test/v2/unit/recovery/fixtures/bch-recovery-wrong-chain.json
  modules/core/test/v2/unit/recovery/fixtures/bsv-recovery-wrong-chain.json
  modules/core/test/v2/unit/recovery/fixtures/btc-recovery-wrong-chain.json
  modules/core/test/v2/unit/recovery/fixtures/btc-unsigned-recovery.json
  modules/core/test/v2/unit/recovery/fixtures/ltc-recovery-wrong-chain.json
Due: bitgo

test(core): remove unnecessary KRS setup
  modules/core/test/v2/unit/coins/utxo/crossChainRecovery.ts
Due: bitgo

test(core): remove deprecated bch recovery nock
  modules/core/test/v2/lib/recovery-nocks.ts
Due: bitgo

fix(core): remove custom getTxInfoFromExplorer in LTC
  modules/core/src/v2/coins/ltc.ts
  modules/core/test/v2/unit/coins/utxo/crossChainRecovery.ts
  modules/core/test/v2/unit/coins/utxo/util/nockIndexerAPI.ts
Due: bitgo

refactor(core): move recovery.ts to recovery/backupKeyRecovery.ts
  modules/core/src/v2/coins/abstractUtxoCoin.ts
  modules/core/src/v2/coins/utxo/recovery/backupKeyRecovery.ts
Due: bitgo

refactor(core): move CrossChainRecoveryTool to utxo/recovery
  modules/core/src/v2/coins/abstractUtxoCoin.ts
  modules/core/src/v2/coins/utxo/recovery/crossChainRecovery.ts
  modules/core/test/v2/unit/coins/utxo/fixtures/bch/recovery/crossChainRecovery-bsv.json
  modules/core/test/v2/unit/coins/utxo/fixtures/bch/recovery/crossChainRecovery-btc.json
  modules/core/test/v2/unit/coins/utxo/fixtures/bch/recovery/crossChainRecovery-ltc.json
  modules/core/test/v2/unit/coins/utxo/fixtures/bsv/recovery/crossChainRecovery-bch.json
  modules/core/test/v2/unit/coins/utxo/fixtures/bsv/recovery/crossChainRecovery-btc.json
  modules/core/test/v2/unit/coins/utxo/fixtures/bsv/recovery/crossChainRecovery-ltc.json
  modules/core/test/v2/unit/coins/utxo/fixtures/btc/recovery/crossChainRecovery-bch.json
  modules/core/test/v2/unit/coins/utxo/fixtures/btc/recovery/crossChainRecovery-bsv.json
  modules/core/test/v2/unit/coins/utxo/fixtures/btc/recovery/crossChainRecovery-ltc.json
  modules/core/test/v2/unit/coins/utxo/fixtures/ltc/recovery/crossChainRecovery-bch.json
  modules/core/test/v2/unit/coins/utxo/fixtures/ltc/recovery/crossChainRecovery-bsv.json
  modules/core/test/v2/unit/coins/utxo/fixtures/ltc/recovery/crossChainRecovery-btc.json
  modules/core/test/v2/unit/coins/utxo/fixtures/tbch/recovery/crossChainRecovery-tbsv.json
  modules/core/test/v2/unit/coins/utxo/fixtures/tbch/recovery/crossChainRecovery-tbtc.json
  modules/core/test/v2/unit/coins/utxo/fixtures/tbch/recovery/crossChainRecovery-tltc.json
  modules/core/test/v2/unit/coins/utxo/fixtures/tbsv/recovery/crossChainRecovery-tbch.json
  modules/core/test/v2/unit/coins/utxo/fixtures/tbsv/recovery/crossChainRecovery-tbtc.json
  modules/core/test/v2/unit/coins/utxo/fixtures/tbsv/recovery/crossChainRecovery-tltc.json
  modules/core/test/v2/unit/coins/utxo/fixtures/tbtc/recovery/crossChainRecovery-tbch.json
  modules/core/test/v2/unit/coins/utxo/fixtures/tbtc/recovery/crossChainRecovery-tbsv.json
  modules/core/test/v2/unit/coins/utxo/fixtures/tbtc/recovery/crossChainRecovery-tltc.json
  modules/core/test/v2/unit/coins/utxo/fixtures/tltc/recovery/crossChainRecovery-tbch.json
  modules/core/test/v2/unit/coins/utxo/fixtures/tltc/recovery/crossChainRecovery-tbsv.json
  modules/core/test/v2/unit/coins/utxo/fixtures/tltc/recovery/crossChainRecovery-tbtc.json
  modules/core/test/v2/unit/coins/utxo/recovery/crossChainRecovery.ts
Due: bitgo

refactor(core): move get{Address,Unspent}InfoFromExplorer to class
  modules/core/src/v2/coins/abstractUtxoCoin.ts
  modules/core/src/v2/coins/utxo/recovery/crossChainRecovery.ts
  modules/core/test/v2/unit/coins/utxo/util/nockIndexerAPI.ts
Due: bitgo

refactor(core): move utxo-specific recovery code to utxo/
  modules/core/src/v2/coins/bch.ts
  modules/core/src/v2/coins/bcha.ts
  modules/core/src/v2/coins/bsv.ts
  modules/core/src/v2/coins/btc.ts
  modules/core/src/v2/coins/utxo/recovery/RecoveryProvider.ts
  modules/core/src/v2/coins/utxo/recovery/blockchairApi.ts
  modules/core/src/v2/coins/utxo/recovery/blockstreamApi.ts
  modules/core/test/v2/lib/recovery-nocks.ts
  modules/core/test/v2/unit/coins/utxo/recovery/blockchairApi.ts
  modules/core/test/v2/unit/coins/utxo/recovery/blockstreamApi.ts
Due: bitgo

refactor(core): clean up recovery methods
  modules/core/src/v2/coins/abstractUtxoCoin.ts
  modules/core/src/v2/coins/bch.ts
  modules/core/src/v2/coins/bsv.ts
  modules/core/src/v2/coins/btc.ts
  modules/core/src/v2/coins/btg.ts
  modules/core/src/v2/coins/dash.ts
  modules/core/src/v2/coins/ltc.ts
  modules/core/src/v2/coins/utxo/recovery/insightApi.ts
  modules/core/src/v2/coins/zec.ts
  modules/core/src/v2/environments.ts
  modules/core/test/v2/lib/recovery-nocks.ts
  modules/core/test/v2/unit/recovery/utxo.ts
Due: bitgo

refactor(core): remove get{Address,Unspent}InfoFromExplorer
  modules/core/src/v2/coins/abstractUtxoCoin.ts
  modules/core/src/v2/coins/bch.ts
  modules/core/src/v2/coins/bcha.ts
  modules/core/src/v2/coins/bsv.ts
  modules/core/src/v2/coins/btg.ts
  modules/core/src/v2/coins/dash.ts
  modules/core/src/v2/coins/ltc.ts
  modules/core/src/v2/coins/utxo/recovery/RecoveryProvider.ts
  modules/core/src/v2/coins/utxo/recovery/backupKeyRecovery.ts
  modules/core/src/v2/coins/utxo/recovery/blockchairApi.ts
  modules/core/src/v2/coins/utxo/recovery/blockstreamApi.ts
  modules/core/src/v2/coins/utxo/recovery/insightApi.ts
  modules/core/src/v2/coins/zec.ts
  modules/core/test/v2/lib/recovery-nocks.ts
  modules/core/test/v2/unit/coins/utxo/recovery/blockchairApi.ts
  modules/core/test/v2/unit/coins/utxo/recovery/blockstreamApi.ts
  modules/core/test/v2/unit/recovery/utxo.ts
Due: bitgo

refactor(core): move verifyRecoveryTransaction to SmartbitApi
  modules/core/src/v2/baseCoin.ts
  modules/core/src/v2/coins/abstractUtxoCoin.ts
  modules/core/src/v2/coins/btc.ts
  modules/core/src/v2/coins/btg.ts
  modules/core/src/v2/coins/utxo/recovery/backupKeyRecovery.ts
  modules/core/src/v2/coins/utxo/recovery/errors.ts
  modules/core/src/v2/coins/utxo/recovery/smartbitApi.ts
  modules/core/test/v2/unit/recovery/utxo.ts
Due: bitgo

refactor(core): use ApiNotImplementedError consistently
  modules/core/src/v2/coins/utxo/recovery/backupKeyRecovery.ts
  modules/core/src/v2/coins/utxo/recovery/blockchairApi.ts
  modules/core/src/v2/coins/utxo/recovery/blockstreamApi.ts
  modules/core/src/v2/coins/utxo/recovery/insightApi.ts
Due: bitgo

refactor(core): move formatForOfflineVault to recovery/
  modules/core/src/v2/coins/abstractUtxoCoin.ts
  modules/core/src/v2/coins/utxo/recovery/backupKeyRecovery.ts
Due: bitgo

refactor(core): move calculateFeeAmount/getRecoveryMarketPrice
  modules/core/src/v2/coins/abstractUtxoCoin.ts
  modules/core/src/v2/coins/utxo/recovery/backupKeyRecovery.ts
Due: bitgo

refactor(core): remove getRecoveryFeePerBytes
  modules/core/src/v2/coins/abstractUtxoCoin.ts
  modules/core/src/v2/coins/btc.ts
  modules/core/src/v2/coins/utxo/recovery/backupKeyRecovery.ts
  modules/core/src/v2/coins/utxo/recovery/mempoolApi.ts
Due: bitgo

chore(core): remove calculateRecoveryAddress
  modules/core/src/v2/coins/abstractUtxoCoin.ts
Due: bitgo

chore(core): remove unused variables
  modules/core/src/v2/environments.ts
  modules/core/test/v2/lib/recovery-nocks.ts
Due: bitgo

refactor(core): add `coingeckoApi.ts`
  modules/core/src/config.ts
  modules/core/src/v2/coins/utxo/recovery/backupKeyRecovery.ts
  modules/core/src/v2/coins/utxo/recovery/coingeckoApi.ts
Due: bitgo

feat(core): allow alphanumeric memoid for eos
  modules/core/src/v2/coins/eos.ts
  modules/core/test/v2/unit/coins/eos.ts
Due: bitgo

feat(core): always verify addresses for every coin
  modules/core/src/v2/wallet.ts
Due: bitgo

feat(core): override celo verifyAddress
  modules/core/src/v2/coins/celo.ts
  modules/core/src/v2/coins/tcelo.ts
Due: bitgo

chore: add prettier to eos unit test file
  modules/core/test/v2/fixtures/coins/eos.ts
  modules/core/test/v2/unit/coins/eos.ts
Due: bitgo

test(core): remove bespoke utxo transaction tests
  modules/core/test/v2/unit/wallet.ts
Due: bitgo

fix(core): always fetch full key triple for signing
  modules/core/src/v2/coins/abstractUtxoCoin.ts
  modules/core/src/v2/coins/btc.ts
Due: bitgo

refactor(core)!: add, use signAndVerifyWalletTransaction for utxo
  modules/core/src/v2/coins/abstractUtxoCoin.ts
  modules/core/src/v2/coins/utxo/recovery/crossChainRecovery.ts
  modules/core/src/v2/coins/utxo/sign.ts
  modules/core/src/v2/wallet.ts
  modules/core/test/v2/unit/coins/utxo/recovery/crossChainRecovery.ts
  modules/core/test/v2/unit/coins/utxo/transaction.ts
  modules/core/test/v2/unit/coins/utxo/util/index.ts
  modules/core/test/v2/unit/coins/utxo/util/keychains.ts
  modules/core/test/v2/unit/coins/utxo/util/unspents.ts
Due: bitgo

feat: add rootAddress param for create address
  modules/core/src/v2/wallet.ts
Due: bitgo

docs(account-lib): fix typo
  modules/account-lib/DEVELOPER.md
Due: account-lib

feat(account-lib): implement keypair, transaction, builder and builder factory for solana
  modules/account-lib/src/coin/sol/constants.ts
  modules/account-lib/src/coin/sol/iface.ts
  modules/account-lib/src/coin/sol/instructionParamsFactory.ts
  modules/account-lib/src/coin/sol/keyPair.ts
  modules/account-lib/src/coin/sol/solInstructionFactory.ts
  modules/account-lib/src/coin/sol/transaction.ts
  modules/account-lib/src/coin/sol/transactionBuilder.ts
  modules/account-lib/src/coin/sol/transactionBuilderFactory.ts
  modules/account-lib/src/coin/sol/transferBuilder.ts
  modules/account-lib/src/coin/sol/utils.ts
  modules/account-lib/src/coin/sol/walletInitializationBuilder.ts
  modules/account-lib/test/resources/sol/sol.ts
  modules/account-lib/test/unit/coin/sol/instructionParamsFactory.ts
  modules/account-lib/test/unit/coin/sol/keyPair.ts
  modules/account-lib/test/unit/coin/sol/solInstructionFactory.ts
  modules/account-lib/test/unit/coin/sol/transaction.ts
  modules/account-lib/test/unit/coin/sol/transactionBuilder/transactionBuilder.ts
  modules/account-lib/test/unit/coin/sol/transactionBuilder/transferBuilder.ts
  modules/account-lib/test/unit/coin/sol/transactionBuilder/walletInitBuilder.ts
  modules/account-lib/test/unit/coin/sol/utils.ts
Due: account-lib

docs(account-lib): fix typos
  modules/account-lib/DEVELOPER.md
  modules/account-lib/README.md
Due: account-lib

fix(ltc): update block explorer link for ltc
  modules/statics/src/networks.ts
Due: statics

feat(core): dot core helpers
  modules/core/src/v2/coins/dot.ts
Due: bitgo

feat(core): dot core sign tx
  modules/core/src/v2/coinFactory.ts
  modules/core/src/v2/coins/dot.ts
  modules/core/src/v2/coins/tdot.ts
  modules/core/test/v2/fixtures/coins/dot.ts
  modules/core/test/v2/unit/coins/dot.ts
Due: bitgo
