Repository BitGo/BitGoJS: changes, and which Codecov flags are due for each by the changed paths.
All: bitgo, account-lib, statics, express

.codecov.yml:

coverage:
  status:
    project: off
    patch: off
comment:
  layout: 'diff, flags, files'
  require_changes: true
flags:
  bitgo:
    paths:
      - modules/bitgo
  account-lib:
    paths:
      - modules/account-lib
  statics:
    paths:
      - modules/statics
  express:
    paths:
      - modules/express

fix(sdk-coin-eth): add enable token support for zama TICKET: CHALO-472
  modules/abstract-eth/src/abstractEthLikeNewCoins.ts
  modules/sdk-coin-eth/src/erc7984Token.ts
  modules/sdk-coin-eth/src/eth.ts
  modules/sdk-core/src/bitgo/utils/mpcUtils.ts
Due: none

feat(sdk-core,abstract-utxo): add qr param and client-side output validation
  modules/abstract-utxo/src/abstractUtxoCoin.ts
  modules/abstract-utxo/src/transaction/descriptor/verifyTransaction.ts
  modules/abstract-utxo/src/transaction/fixedScript/verifyTransaction.ts
  modules/abstract-utxo/test/unit/transaction/descriptor/verifyTransactionQr.ts
  modules/abstract-utxo/test/unit/verifyTransaction.ts
  modules/sdk-core/src/bitgo/wallet/BuildParams.ts
  modules/sdk-core/src/bitgo/wallet/iWallet.ts
Due: none

feat: bump public typers to 6.22
  modules/abstract-lightning/package.json
  modules/bitgo/package.json
  modules/express/package.json
  modules/sdk-coin-flrp/package.json
  modules/sdk-coin-sol/package.json
  modules/sdk-core/package.json
  yarn.lock
Due: bitgo, express

refactor(abstract-utxo): remove supportedTxFormats and supportedSdkBackends
  modules/abstract-utxo/src/abstractUtxoCoin.ts
Due: none

refactor(abstract-utxo): remove unreachable utxolib and legacy tx code paths
  modules/abstract-utxo/src/abstractUtxoCoin.ts
  modules/abstract-utxo/src/index.ts
  modules/abstract-utxo/src/transaction/decode.ts
  modules/abstract-utxo/src/transaction/explainTransaction.ts
  modules/abstract-utxo/src/transaction/fixedScript/explainTransaction.ts
  modules/abstract-utxo/src/transaction/fixedScript/index.ts
  modules/abstract-utxo/src/transaction/fixedScript/parseTransaction.ts
  modules/abstract-utxo/src/transaction/fixedScript/signLegacyTransaction.ts
  modules/abstract-utxo/src/transaction/fixedScript/signPsbtUtxolib.ts
  modules/abstract-utxo/src/transaction/fixedScript/signTransaction.ts
  modules/abstract-utxo/src/transaction/index.ts
  modules/abstract-utxo/src/transaction/signTransaction.ts
  modules/abstract-utxo/src/transaction/types.ts
  modules/abstract-utxo/test/unit/transaction/fixedScript/parsePsbt.ts
Due: none

refactor(abstract-utxo): replace utxolib.bitgo.isPsbt with hasPsbtMagic
  modules/abstract-utxo/src/abstractUtxoCoin.ts
  modules/abstract-utxo/src/transaction/fixedScript/verifyTransaction.ts
Due: none

refactor(abstract-utxo): delete unreachable utxolib explainPsbt path
  modules/abstract-utxo/src/transaction/explainTransaction.ts
  modules/abstract-utxo/src/transaction/fixedScript/explainTransaction.ts
  modules/abstract-utxo/src/transaction/fixedScript/index.ts
  modules/abstract-utxo/test/unit/transaction/fixedScript/explainPsbt.ts
  modules/abstract-utxo/test/unit/transaction/fixedScript/parsePsbt.ts
Due: none

fix: add back in verifyTransaction
  modules/abstract-utxo/src/transaction/descriptor/verifyTransaction.ts
  modules/abstract-utxo/test/unit/transaction/descriptor/verifyTransactionQr.ts
Due: none

feat: use decryptAsync/encryptAsync for remaining WRW flows
  modules/abstract-cosmos/src/cosmosCoin.ts
  modules/abstract-eth/src/abstractEthLikeNewCoins.ts
  modules/abstract-utxo/src/recovery/backupKeyRecovery.ts
  modules/abstract-utxo/src/recovery/crossChainRecovery.ts
  modules/sdk-api/src/v1/wallet.ts
  modules/sdk-coin-eos/src/eos.ts
  modules/sdk-coin-icp/src/icp.ts
  modules/sdk-coin-rune/src/rune.ts
  modules/sdk-coin-stx/src/stx.ts
  modules/sdk-coin-tempo/src/tempo.ts
  modules/sdk-coin-trx/src/trx.ts
  modules/sdk-coin-vet/src/vet.ts
  modules/sdk-coin-xrp/src/xrp.ts
  modules/sdk-coin-xrp/test/resources/xrp.ts
  modules/sdk-core/src/bitgo/utils/tss/ecdsa/ecdsaMPCv2.ts
  modules/sdk-core/test/unit/bitgo/utils/tss/baseTSSUtils.ts
  modules/sdk-core/test/unit/bitgo/utils/tss/ecdsa/ecdsaMPCv2.ts
Due: none

flow eddsa mpc
  examples/docs/self-custody/eddsa/README.md
  examples/docs/self-custody/eddsa/create-wallet-eddsa-script.md
  examples/docs/self-custody/eddsa/sign-transaction-eddsa-script.md
  examples/js/.DS_Store
  examples/js/create-wallet-address.js
  examples/js/self-custody-eddsa/.DS_Store
  examples/js/self-custody-eddsa/README.md
  examples/js/self-custody-eddsa/eddsa-create-wallet-address.js
  examples/js/self-custody-eddsa/eddsa-keygen-helpers.js
  examples/js/self-custody-eddsa/eddsa-keygen-workspace-schema.js
  examples/js/self-custody-eddsa/eddsa-self-custody-offline.js
  examples/js/self-custody-eddsa/eddsa-self-custody-online.js
  examples/js/self-custody-eddsa/eddsa-self-custody-sign-offline.js
  examples/js/self-custody-eddsa/eddsa-self-custody-sign-online.js
  examples/js/self-custody-eddsa/eddsa-sign-helpers.js
  examples/js/self-custody-eddsa/eddsa-sign-workspace-schema.js
Due: none

feat(statics): add tsol:trump and ofctsol:trump testnet tokens
  modules/statics/src/coins/ofcCoins.ts
  modules/statics/src/coins/solTokens.ts
Due: statics

feat(sdk-core): add getEddsaMpcV2RecoveryKeyShares helper
  modules/sdk-core/package.json
  modules/sdk-core/src/bitgo/utils/encrypt.ts
  modules/sdk-core/src/bitgo/utils/index.ts
  modules/sdk-core/src/bitgo/utils/tss/eddsa/eddsaMPCv2.ts
  modules/sdk-core/src/index.ts
  modules/sdk-core/test/unit/bitgo/utils/tss/eddsa/eddsaMPCv2.ts
Due: none

refactor(abstract-utxo): eliminate fetchInputs by reusing explainPsbtWasm inputAmount
  modules/abstract-utxo/src/transaction/fetchInputs.ts
  modules/abstract-utxo/src/transaction/fixedScript/verifyTransaction.ts
  modules/abstract-utxo/src/transaction/index.ts
Due: none

refactor(abstract-utxo): remove createTransactionFromHex from AbstractUtxoCoin
  modules/abstract-utxo/src/abstractUtxoCoin.ts
  modules/abstract-utxo/src/impl/doge/doge.ts
  modules/abstract-utxo/src/recovery/backupKeyRecovery.ts
  modules/abstract-utxo/test/unit/verifyTransaction.ts
Due: none

refactor(abstract-utxo): pass coinName directly to BitGoPsbt.fromBytes
  modules/abstract-utxo/src/transaction/decode.ts
Due: none

refactor(abstract-utxo): replace 3 utxolib network/script helpers with wasm/coinName equivalents
  modules/abstract-utxo/src/abstractUtxoCoin.ts
  modules/abstract-utxo/src/transaction/fixedScript/signTransaction.ts
  modules/abstract-utxo/src/transaction/signTransaction.ts
Due: none

refactor(abstract-utxo): migrate isValidAddress off utxolib.addressFormat
  modules/abstract-utxo/src/abstractUtxoCoin.ts
Due: none

refactor(abstract-utxo): replace utxolib.bitgo helpers and drop dead branches
  modules/abstract-utxo/src/abstractUtxoCoin.ts
Due: none

refactor(abstract-utxo): remove deprecated network getter and getNetworkFromCoinName
  modules/abstract-utxo/src/abstractUtxoCoin.ts
  modules/abstract-utxo/src/names.ts
  modules/abstract-utxo/test/unit/buildSignSendLegacyFormat.ts
  modules/abstract-utxo/test/unit/customSigner.ts
  modules/abstract-utxo/test/unit/prebuildAndSign.ts
  modules/abstract-utxo/test/unit/signTransaction.ts
  modules/abstract-utxo/test/unit/transaction.ts
  modules/abstract-utxo/test/unit/transaction/fixedScript/parsePsbt.ts
  modules/abstract-utxo/test/unit/wallet.ts
Due: none

refactor(abstract-utxo): inline ScriptType2Of3 type definition
  modules/abstract-utxo/src/abstractUtxoCoin.ts
  modules/abstract-utxo/test/unit/verifyTransaction.ts
Due: none

refactor(abstract-utxo): drop utxolib RootWalletKeys from keychains.ts
  modules/abstract-utxo/src/keychains.ts
Due: none

refactor(abstract-utxo): drop unused exports from wasmUtil
  modules/abstract-utxo/src/wasmUtil.ts
Due: none

refactor(abstract-utxo): delete wasmUtil.ts and drop utxolib from runtime deps
  modules/abstract-utxo/package.json
  modules/abstract-utxo/src/wasmUtil.ts
Due: none

tooling: coordination scripts for utxolib-removal PR group
  scripts/coordination/utxolib-removal/push-all.sh
Due: none

chore: update coordination script — B/D/E/F/G merged, add PR-nxrt
  scripts/coordination/utxolib-removal/push-all.sh
Due: none

update coordination: split abstract-utxo-foundation into foundation + replacements
  scripts/coordination/utxolib-removal/push-all.sh
Due: none

feat: update kaspa symbol to KAS
  modules/sdk-coin-kaspa/src/kaspa.ts
  modules/sdk-coin-kaspa/src/register.ts
  modules/sdk-coin-kaspa/test/unit/transaction.test.ts
  modules/statics/src/allCoinsAndTokens.ts
  modules/statics/src/base.ts
Due: statics

feat(express): add EdDSA MPCv2 external signer routing
  modules/express/src/clientRoutes.ts
  modules/express/src/typedRoutes/api/v2/generateShareTSS.ts
  modules/express/test/unit/clientRoutes/externalSign.ts
  modules/express/test/unit/typedRoutes/generateShareTSS.ts
Due: express

feat(sdk-coin-sui): handle fab balance instruction
  modules/sdk-coin-sui/src/lib/transferBuilder.ts
  modules/sdk-coin-sui/test/unit/transactionBuilder/transferBuilder.ts
Due: none

feat: add encryptAsync to encrypt.ts
  modules/sdk-api/src/bitgoAPI.ts
  modules/sdk-api/src/encrypt.ts
  modules/sdk-api/test/unit/encrypt.ts
Due: none

fix(statics): sdk bump
  modules/statics/src/coins/ofcCoins.ts
  modules/statics/src/coins/solTokens.ts
Due: statics

feat(statics): add runtime validation for AMS token metadata
  modules/statics/src/coins.ts
  modules/statics/test/unit/coins.ts
Due: statics

feat(statics): exclude Singapore custody for CECHO-1183 HoodETH and XTZEVM tokens
  modules/statics/src/allCoinsAndTokens.ts
  modules/statics/src/coinFeatures.ts
Due: statics

feat(sdk-coin-solayer): add Solayer SVM chain integration
  CODEOWNERS
  Dockerfile
  modules/account-lib/package.json
  modules/account-lib/src/index.ts
  modules/account-lib/tsconfig.json
  modules/bitgo/package.json
  modules/bitgo/src/v2/coinFactory.ts
  modules/bitgo/src/v2/coins/index.ts
  modules/bitgo/tsconfig.json
  modules/sdk-coin-solayer/.mocharc.yml
  modules/sdk-coin-solayer/package.json
  modules/sdk-coin-solayer/src/index.ts
  modules/sdk-coin-solayer/src/lib/constants.ts
  modules/sdk-coin-solayer/src/register.ts
  modules/sdk-coin-solayer/src/solayer.ts
  modules/sdk-coin-solayer/src/tsolayer.ts
  modules/sdk-coin-solayer/test/unit/solayer.ts
  modules/sdk-coin-solayer/tsconfig.esm.json
  modules/sdk-coin-solayer/tsconfig.json
  modules/sdk-core/src/bitgo/environments.ts
  modules/statics/src/allCoinsAndTokens.ts
  modules/statics/src/base.ts
  modules/statics/src/coinFeatures.ts
  modules/statics/src/coins/ofcCoins.ts
  modules/statics/src/networks.ts
  modules/statics/test/unit/fixtures/expectedColdFeatures.ts
  tsconfig.packages.json
Due: bitgo, account-lib, statics

feat(statics): add MIDL Bitcoin EVM chain
  modules/sdk-core/src/bitgo/environments.ts
  modules/statics/src/allCoinsAndTokens.ts
  modules/statics/src/base.ts
  modules/statics/src/coins/ofcCoins.ts
  modules/statics/src/networks.ts
  modules/statics/test/unit/fixtures/expectedColdFeatures.ts
Due: statics

fix(statics): use Etherlink and StableEVM display names (CECHO-1255)
  modules/statics/src/allCoinsAndTokens.ts
  modules/statics/src/coins/ofcCoins.ts
  modules/statics/src/networks.ts
Due: statics

feat: migrate remaining sync decrypt/encrypt calls
  modules/abstract-lightning/src/wallet/lightning.ts
  modules/abstract-lightning/src/wallet/selfCustodialLightning.ts
  modules/abstract-utxo/src/abstractUtxoCoin.ts
  modules/abstract-utxo/src/transaction/fixedScript/verifyTransaction.ts
  modules/abstract-utxo/src/verifyKey.ts
  modules/abstract-utxo/test/unit/keychains.ts
  modules/bitgo/test/v2/unit/keychains.ts
  modules/express/src/clientRoutes.ts
  modules/express/src/fetchEncryptedPrivKeys.ts
  modules/express/src/lightning/lightningSignerRoutes.ts
  modules/express/test/unit/clientRoutes/signPayload.ts
  modules/express/test/unit/typedRoutes/coinSign.ts
  modules/express/test/unit/typedRoutes/decrypt.ts
  modules/express/test/unit/typedRoutes/encrypt.ts
  modules/express/test/unit/typedRoutes/expressWalletUpdate.ts
  modules/express/test/unit/typedRoutes/generateShareTSS.ts
  modules/express/test/unit/typedRoutes/lightningPayment.ts
  modules/express/test/unit/typedRoutes/ofcExtSignPayload.ts
  modules/express/test/unit/typedRoutes/signerMacaroon.ts
  modules/key-card/src/generateQrData.ts
  modules/key-card/src/index.ts
  modules/key-card/test/unit/generateQrData.ts
  modules/sdk-api/src/v1/keychains.ts
  modules/sdk-api/src/v1/travelRule.ts
  modules/sdk-api/src/v1/wallets.ts
  modules/sdk-coin-algo/test/unit/algo.ts
  modules/sdk-coin-eth/test/unit/eth.ts
  modules/sdk-coin-hbar/test/unit/hbar.ts
  modules/sdk-coin-sol/test/unit/sol.ts
  modules/sdk-coin-xlm/test/unit/xlm.ts
  modules/sdk-core/src/bitgo/baseCoin/baseCoin.ts
  modules/sdk-core/src/bitgo/baseCoin/iBaseCoin.ts
  modules/sdk-core/src/bitgo/keychain/keychains.ts
  modules/sdk-core/src/bitgo/trading/tradingAccount.ts
  modules/sdk-core/src/bitgo/utils/tss/eddsa/eddsa.ts
  modules/sdk-core/src/bitgo/utils/tss/eddsa/eddsaMPCv2.ts
  modules/sdk-core/src/bitgo/wallet/wallets.ts
  modules/sdk-core/test/unit/bitgo/trading/tradingAccount.ts
  modules/sdk-core/test/unit/bitgo/utils/tss/baseTSSUtils.ts
  modules/sdk-core/test/unit/bitgo/utils/tss/eddsa/eddsaMPCv2.ts
Due: bitgo, express

feat(utxo-lib): add ZEC NU6.2 consensus branch id
  modules/utxo-lib/src/bitgo/transaction.ts
  modules/utxo-lib/src/bitgo/zcash/ZcashPsbt.ts
  modules/utxo-lib/src/bitgo/zcash/ZcashTransaction.ts
  modules/utxo-lib/src/bitgo/zcash/ZcashTransactionBuilder.ts
  modules/utxo-lib/test/bitgo/fixtures/psbt/psbt-lite.zcash.fullsigned.json
  modules/utxo-lib/test/bitgo/fixtures/psbt/psbt-lite.zcash.halfsigned.json
  modules/utxo-lib/test/bitgo/fixtures/psbt/psbt-lite.zcash.unsigned.json
  modules/utxo-lib/test/bitgo/fixtures/psbt/psbt.zcash.fullsigned.json
  modules/utxo-lib/test/bitgo/fixtures/psbt/psbt.zcash.halfsigned.json
  modules/utxo-lib/test/bitgo/fixtures/psbt/psbt.zcash.unsigned.json
  modules/utxo-lib/test/bitgo/zcash/consensusBranchId.ts
Due: none
