Repository BitGo/BitGoJS: changes, and which Codecov flags are due for each by the changed paths.
All: bitgo, account-lib, statics, express

.codecov.yml:

coverage:
  status:
    project: off
    patch: off
comment:
  layout: 'diff, flags, files'
  require_changes: true
flags:
  bitgo:
    paths:
      - modules/bitgo
  account-lib:
    paths:
      - modules/account-lib
  statics:
    paths:
      - modules/statics
  express:
    paths:
      - modules/express

Revert "fix: reject duplicate contract address and NFT index keys in CoinMap"
  modules/statics/src/coins/erc7984Tokens.ts
  modules/statics/src/errors.ts
  modules/statics/src/map.ts
  modules/statics/test/unit/coins.ts
Due: statics

feat: thread encryptionVersion in SDK
  modules/abstract-lightning/src/codecs/api/wallet.ts
  modules/abstract-lightning/src/wallet/selfCustodialLightning.ts
  modules/express/src/fetchEncryptedPrivKeys.ts
  modules/key-card/src/generateQrData.ts
  modules/key-card/src/types.ts
  modules/key-card/test/unit/generateQrData.ts
  modules/passkey-crypto/src/attachPasskeyToWallet.ts
  modules/passkey-crypto/test/unit/attachPasskeyToWallet.test.ts
  modules/sdk-api/src/bitgoAPI.ts
  modules/sdk-api/src/types.ts
  modules/sdk-api/src/v1/keychains.ts
  modules/sdk-api/src/v1/travelRule.ts
  modules/sdk-api/src/v1/wallet.ts
  modules/sdk-api/src/v1/wallets.ts
  modules/sdk-api/test/unit/bitgoAPI.ts
  modules/sdk-core/src/api/types.ts
  modules/sdk-core/src/bitgo/internal/keycard.ts
  modules/sdk-core/src/bitgo/keychain/iKeychains.ts
  modules/sdk-core/src/bitgo/keychain/keychains.ts
  modules/sdk-core/src/bitgo/utils/tss/ecdsa/ecdsa.ts
  modules/sdk-core/src/bitgo/utils/tss/ecdsa/ecdsaMPCv2.ts
  modules/sdk-core/src/bitgo/utils/tss/eddsa/eddsa.ts
  modules/sdk-core/src/bitgo/utils/tss/eddsa/eddsaMPCv2.ts
  modules/sdk-core/src/bitgo/wallet/iWallet.ts
  modules/sdk-core/src/bitgo/wallet/iWallets.ts
  modules/sdk-core/src/bitgo/wallet/wallet.ts
  modules/sdk-core/src/bitgo/wallet/wallets.ts
  modules/sdk-core/test/unit/bitgo/utils/tss/ecdsa/ecdsaEncryptionVersion.ts
  modules/sdk-core/test/unit/bitgo/utils/tss/ecdsa/ecdsaMPCv2.ts
  modules/sdk-core/test/unit/bitgo/wallet/walletsEncryptionVersion.ts
Due: express

fix(statics): skip ams tokens that reuse a static contract address or nft collection id
  modules/statics/src/coins.ts
  modules/statics/src/map.ts
  modules/statics/test/unit/coins.ts
Due: statics

feat: onboard spcx in test and stage
  modules/statics/src/base.ts
  modules/statics/src/coins/ofcCoins.ts
  modules/statics/src/coins/solTokens.ts
Due: statics

feat(sdk-coin-canton): added message signing builders for canton Ticket: CHALO-545
  modules/account-lib/src/index.ts
  modules/sdk-coin-canton/src/canton.ts
  modules/sdk-coin-canton/src/lib/clearSigning.ts
  modules/sdk-coin-canton/src/lib/index.ts
  modules/sdk-coin-canton/src/lib/messages/cantonBaseMessage.ts
  modules/sdk-coin-canton/src/lib/messages/cantonSignTopology/cantonSignTopologyMessage.ts
  modules/sdk-coin-canton/src/lib/messages/cantonSignTopology/cantonSignTopologyMessageBuilder.ts
  modules/sdk-coin-canton/src/lib/messages/cantonSignTopology/index.ts
  modules/sdk-coin-canton/src/lib/messages/cantonSignTransaction/cantonSignTransactionMessage.ts
  modules/sdk-coin-canton/src/lib/messages/cantonSignTransaction/cantonSignTransactionMessageBuilder.ts
  modules/sdk-coin-canton/src/lib/messages/cantonSignTransaction/index.ts
  modules/sdk-coin-canton/src/lib/messages/index.ts
  modules/sdk-coin-canton/src/lib/messages/messageBuilderFactory.ts
  modules/sdk-coin-canton/test/unit/canton.ts
  modules/sdk-coin-canton/test/unit/index.ts
  modules/sdk-coin-canton/test/unit/messages/cantonSignTopologyMessage.ts
  modules/sdk-coin-canton/test/unit/messages/cantonSignTransactionMessage.ts
  modules/sdk-coin-canton/test/unit/messages/clearSigning.ts
  modules/sdk-coin-canton/test/unit/messages/messageBuilderFactory.ts
  modules/sdk-core/src/bitgo/utils/messageTypes.ts
Due: account-lib

feat(statics): add mainnet and testnet token configs
  modules/statics/src/allCoinsAndTokens.ts
  modules/statics/src/base.ts
  modules/statics/src/coins/avaxTokens.ts
  modules/statics/src/coins/bscTokens.ts
  modules/statics/src/coins/erc20Coins.ts
  modules/statics/src/coins/ofcCoins.ts
  modules/statics/src/coins/ofcErc20Coins.ts
  modules/statics/src/coins/polygonTokens.ts
  modules/statics/src/coins/solTokens.ts
  modules/statics/test/unit/tokenNamingConvention.ts
Due: statics

feat: add isReward to tx entry for ln
  modules/abstract-lightning/src/codecs/api/transaction.ts
Due: none

feat(sdk-api): add enterprise to AddAccessTokenOptions
  modules/sdk-api/src/types.ts
Due: none

feat(sdk-core): add wallet.defi DeFi vault orchestration methods
  modules/sdk-core/src/bitgo/defi/defiVault.ts
  modules/sdk-core/src/bitgo/defi/iDefiVault.ts
  modules/sdk-core/src/bitgo/defi/index.ts
  modules/sdk-core/src/bitgo/index.ts
  modules/sdk-core/src/bitgo/utils/mpcUtils.ts
  modules/sdk-core/src/bitgo/utils/tss/baseTypes.ts
  modules/sdk-core/src/bitgo/wallet/iWallet.ts
  modules/sdk-core/src/bitgo/wallet/wallet.ts
  modules/sdk-core/test/unit/bitgo/defi/defiVault.ts
Due: none

feat: onboard MPT tokens
  modules/bitgo/src/v2/coinFactory.ts
  modules/bitgo/src/v2/coins/index.ts
  modules/bitgo/test/browser/browser.spec.ts
  modules/sdk-coin-xrp/src/index.ts
  modules/sdk-coin-xrp/src/register.ts
  modules/sdk-coin-xrp/src/xrpMptToken.ts
  modules/sdk-coin-xrp/test/unit/xrpToken.ts
  modules/statics/src/allCoinsAndTokens.ts
  modules/statics/src/base.ts
Due: bitgo, statics

refactor(abstract-utxo): remove supportedTxFormats and supportedSdkBackends
  modules/abstract-utxo/src/abstractUtxoCoin.ts
Due: none

refactor(abstract-utxo): remove unreachable utxolib and legacy tx code paths
  modules/abstract-utxo/src/abstractUtxoCoin.ts
  modules/abstract-utxo/src/index.ts
  modules/abstract-utxo/src/transaction/decode.ts
  modules/abstract-utxo/src/transaction/explainTransaction.ts
  modules/abstract-utxo/src/transaction/fixedScript/explainTransaction.ts
  modules/abstract-utxo/src/transaction/fixedScript/index.ts
  modules/abstract-utxo/src/transaction/fixedScript/parseTransaction.ts
  modules/abstract-utxo/src/transaction/fixedScript/signLegacyTransaction.ts
  modules/abstract-utxo/src/transaction/fixedScript/signPsbtUtxolib.ts
  modules/abstract-utxo/src/transaction/fixedScript/signTransaction.ts
  modules/abstract-utxo/src/transaction/index.ts
  modules/abstract-utxo/src/transaction/signTransaction.ts
  modules/abstract-utxo/src/transaction/types.ts
  modules/abstract-utxo/test/unit/transaction/fixedScript/parsePsbt.ts
Due: none

refactor(abstract-utxo): replace utxolib.bitgo.isPsbt with hasPsbtMagic
  modules/abstract-utxo/src/abstractUtxoCoin.ts
  modules/abstract-utxo/src/transaction/fixedScript/verifyTransaction.ts
Due: none

refactor(abstract-utxo): delete unreachable utxolib explainPsbt path
  modules/abstract-utxo/src/transaction/explainTransaction.ts
  modules/abstract-utxo/src/transaction/fixedScript/explainTransaction.ts
  modules/abstract-utxo/src/transaction/fixedScript/index.ts
  modules/abstract-utxo/test/unit/transaction/fixedScript/explainPsbt.ts
  modules/abstract-utxo/test/unit/transaction/fixedScript/parsePsbt.ts
Due: none

feat: added polygon link v2 token
  modules/statics/src/base.ts
  modules/statics/src/coins/ofcCoins.ts
  modules/statics/src/coins/polygonTokens.ts
Due: statics

feat(statics): onboard Robinhood EVM tokens
  modules/statics/src/allCoinsAndTokens.ts
  modules/statics/src/base.ts
  modules/statics/src/coins.ts
  modules/statics/src/coins/hoodethTokens.ts
  modules/statics/src/coins/ofcErc20Coins.ts
  modules/statics/src/coins/ofcHoodethTokens.ts
Due: statics

feat(sdk-coin-canton): updated canton testnet explorer urls
  modules/statics/src/networks.ts
Due: statics

feat(sdk-core): add execType to txrequest intent
  modules/sdk-core/src/bitgo/utils/mpcUtils.ts
  modules/sdk-core/src/bitgo/utils/tss/baseTypes.ts
  modules/sdk-core/src/bitgo/wallet/iWallet.ts
  modules/sdk-core/src/bitgo/wallet/wallet.ts
Due: none

fix(sdk-core): enforce recipient verification in ECDSA TSS signing Ticket: WCN-151
  modules/abstract-eth/src/abstractEthLikeNewCoins.ts
  modules/sdk-coin-bsc/src/bsc.ts
  modules/sdk-coin-bsc/src/bscToken.ts
  modules/sdk-coin-evm/src/evmCoin.ts
  modules/sdk-coin-xdc/src/xdc.ts
  modules/sdk-coin-xdc/src/xdcToken.ts
  modules/sdk-core/src/bitgo/baseCoin/iBaseCoin.ts
  modules/sdk-core/src/bitgo/utils/tss/baseTypes.ts
  modules/sdk-core/src/bitgo/utils/tss/ecdsa/ecdsa.ts
  modules/sdk-core/src/bitgo/utils/tss/ecdsa/ecdsaMPCv2.ts
  modules/sdk-core/src/bitgo/utils/tss/index.ts
  modules/sdk-core/src/bitgo/utils/tss/recipientUtils.ts
  modules/sdk-core/src/bitgo/wallet/iWallet.ts
  modules/sdk-core/test/unit/bitgo/utils/tss/ecdsa/ecdsaMPCv2.ts
  modules/sdk-core/test/unit/bitgo/utils/tss/recipientUtils.ts
Due: none

fix(scripts): retry yarn audit up to 3x on transient network errors
  .github/workflows/npmjs-release.yml
  .github/workflows/publish.yml
Due: none

fix(scripts): use built-in retry-on-network-failure and 3s backoff
  .github/workflows/npmjs-release.yml
  .github/workflows/publish.yml
Due: none

docs(express): clarify v1 ping endpoint description
  modules/express/src/typedRoutes/api/v1/ping.ts
Due: express

fix(scripts): pin EricCrosson/retry to v1.4.8 with SHA256 digest
  .github/workflows/npmjs-release.yml
  .github/workflows/publish.yml
Due: none

feat(sdk-coin-starknet): implement deploy account transaction support
  modules/sdk-coin-starknet/src/lib/constants.ts
  modules/sdk-coin-starknet/src/lib/iface.ts
  modules/sdk-coin-starknet/src/lib/index.ts
  modules/sdk-coin-starknet/src/lib/transaction.ts
  modules/sdk-coin-starknet/src/lib/transactionBuilderFactory.ts
  modules/sdk-coin-starknet/src/lib/utils.ts
  modules/sdk-coin-starknet/src/lib/walletInitializationBuilder.ts
  modules/sdk-coin-starknet/test/unit/utils.ts
  modules/sdk-coin-starknet/test/unit/walletInitializationBuilder.ts
Due: none

fix(sdk-core): populate recipients in buildTokenEnablements for TSS wallets
  modules/sdk-coin-near/test/unit/tokenEnablementValidation.ts
  modules/sdk-core/src/bitgo/wallet/wallet.ts
Due: none

feat: onboards spaceX token
  modules/statics/src/base.ts
  modules/statics/src/coins/ofcCoins.ts
  modules/statics/src/coins/solTokens.ts
Due: statics

feat: introduce SUNSETTING coin feature for SEI
  modules/statics/src/base.ts
Due: statics

ci: fix incorrect pinned SHA for EricCrosson/retry@v1.4.8
  .github/workflows/npmjs-release.yml
  .github/workflows/publish.yml
Due: none

fix(sdk-core): add tokenName to prebuildConsolidateAccountParams whitelist
  modules/bitgo/test/v2/unit/accountConsolidations.ts
  modules/sdk-core/src/bitgo/wallet/wallet.ts
Due: bitgo

feat(sdk-core): added canton types in tss prebuild flow Ticket: CHALO-573
  modules/sdk-coin-canton/src/lib/utils.ts
  modules/sdk-coin-canton/test/resources.ts
  modules/sdk-coin-canton/test/unit/builder/cosignDelegationAccept/cosignDelegationAcceptBuilder.ts
  modules/sdk-core/src/bitgo/utils/mpcUtils.ts
  modules/sdk-core/src/bitgo/wallet/wallet.ts
Due: none

refactor(abstract-utxo): delete fetchInputs and remove redundant fee guard
  modules/abstract-utxo/src/transaction/fetchInputs.ts
  modules/abstract-utxo/src/transaction/fixedScript/verifyTransaction.ts
  modules/abstract-utxo/src/transaction/index.ts
  modules/abstract-utxo/test/unit/transaction/fixedScript/explainPsbt.ts
Due: none

refactor(abstract-utxo): remove createTransactionFromHex from AbstractUtxoCoin
  modules/abstract-utxo/src/abstractUtxoCoin.ts
  modules/abstract-utxo/src/impl/doge/doge.ts
  modules/abstract-utxo/src/recovery/backupKeyRecovery.ts
  modules/abstract-utxo/test/unit/verifyTransaction.ts
Due: none

refactor(abstract-utxo): replace 3 utxolib network/script helpers with wasm/coinName equivalents
  modules/abstract-utxo/src/abstractUtxoCoin.ts
  modules/abstract-utxo/src/transaction/fixedScript/signTransaction.ts
  modules/abstract-utxo/src/transaction/signTransaction.ts
Due: none

refactor(abstract-utxo): pass coinName directly to BitGoPsbt.fromBytes
  modules/abstract-utxo/src/transaction/decode.ts
Due: none

refactor(abstract-utxo): migrate isValidAddress off utxolib.addressFormat
  modules/abstract-utxo/src/abstractUtxoCoin.ts
Due: none

refactor(abstract-utxo): replace utxolib.bitgo helpers and drop dead branches
  modules/abstract-utxo/src/abstractUtxoCoin.ts
Due: none

refactor(abstract-utxo): remove deprecated network getter and getNetworkFromCoinName
  modules/abstract-utxo/src/abstractUtxoCoin.ts
  modules/abstract-utxo/src/names.ts
  modules/abstract-utxo/test/unit/buildSignSendLegacyFormat.ts
  modules/abstract-utxo/test/unit/customSigner.ts
  modules/abstract-utxo/test/unit/prebuildAndSign.ts
  modules/abstract-utxo/test/unit/signTransaction.ts
  modules/abstract-utxo/test/unit/transaction.ts
  modules/abstract-utxo/test/unit/transaction/fixedScript/parsePsbt.ts
  modules/abstract-utxo/test/unit/wallet.ts
Due: none

refactor(abstract-utxo): inline ScriptType2Of3 type definition
  modules/abstract-utxo/src/abstractUtxoCoin.ts
Due: none
