Repository BitGo/BitGoJS: changes, and which Codecov flags are due for each by the changed paths.
All: bitgo, account-lib, statics, express

fix(utxo-lib): use different bitcoinjs-lib specifier
  modules/utxo-lib/package.json
Due: none

chore(utxo-lib): remove unused var
  modules/utxo-lib/src/coins.ts
Due: none

fix(utxo-lib): pass buffer to `hash256`
  modules/core/src/v2/coins/xlm.ts
Due: bitgo

fix(utxo-lib): eslint fix
  modules/utxo-lib/src/transaction.js
Due: none

test(utxo-lib): move getTransactionBuilder to transaction_util
  modules/utxo-lib/test/bitgo/signature.ts
  modules/utxo-lib/test/transaction_util.ts
Due: none

feat(utxo-lib): add padInputScript
  modules/utxo-lib/src/bitgo/index.ts
  modules/utxo-lib/src/bitgo/nonStandardHalfSigned.ts
  modules/utxo-lib/src/bitgo/signature.ts
  modules/utxo-lib/test/bitgo/fixtures/bitcoin/halfSignedUnpaddedSignature-p2sh-0.json
  modules/utxo-lib/test/bitgo/fixtures/bitcoin/halfSignedUnpaddedSignature-p2sh-1.json
  modules/utxo-lib/test/bitgo/fixtures/bitcoin/halfSignedUnpaddedSignature-p2sh-2.json
  modules/utxo-lib/test/bitgo/fixtures/bitcoin/halfSignedUnpaddedSignature-p2shP2wsh-0.json
  modules/utxo-lib/test/bitgo/fixtures/bitcoin/halfSignedUnpaddedSignature-p2shP2wsh-1.json
  modules/utxo-lib/test/bitgo/fixtures/bitcoin/halfSignedUnpaddedSignature-p2shP2wsh-2.json
  modules/utxo-lib/test/bitgo/fixtures/bitcoin/nonStandardHalfSigned-p2sh-0.json
  modules/utxo-lib/test/bitgo/fixtures/bitcoin/nonStandardHalfSigned-p2sh-1.json
  modules/utxo-lib/test/bitgo/fixtures/bitcoin/nonStandardHalfSigned-p2sh-2.json
  modules/utxo-lib/test/bitgo/fixtures/bitcoin/nonStandardHalfSigned-p2shP2wsh-0.json
  modules/utxo-lib/test/bitgo/fixtures/bitcoin/nonStandardHalfSigned-p2shP2wsh-1.json
  modules/utxo-lib/test/bitgo/fixtures/bitcoin/nonStandardHalfSigned-p2shP2wsh-2.json
  modules/utxo-lib/test/bitgo/nonStandardHalfSigned.ts
  modules/utxo-lib/test/integration_local_rpc/compare.ts
Due: none

chore(release): publish modules
  modules/account-lib/package.json
  modules/core/package.json
  modules/express/package-lock.json
  modules/express/package.json
  modules/statics/package.json
  modules/utxo-lib/package.json
Due: bitgo, account-lib, statics, express

fix(accountlib): stx transactionBuilder network fix
  modules/account-lib/src/coin/stx/transactionBuilder.ts
  modules/account-lib/test/unit/coin/stx/transaction.ts
  modules/account-lib/test/unit/coin/stx/transactionBuilder/contractBuilder.ts
  modules/account-lib/test/unit/coin/stx/transactionBuilder/transferBuilder.ts
Due: account-lib

feat(utxolib): implement padInputScript for p2wsh transactions
  modules/utxo-lib/src/bitgo/nonStandardHalfSigned.ts
  modules/utxo-lib/test/bitgo/fixtures/bitcoin/nonStandardHalfSigned-p2wsh-0.json
  modules/utxo-lib/test/bitgo/fixtures/bitcoin/nonStandardHalfSigned-p2wsh-1.json
  modules/utxo-lib/test/bitgo/fixtures/bitcoin/nonStandardHalfSigned-p2wsh-2.json
  modules/utxo-lib/test/bitgo/nonStandardHalfSigned.ts
Due: none

feat(core): added support for send on cashaddr
  modules/core/src/v2/baseCoin.ts
  modules/core/src/v2/coins/abstractUtxoCoin.ts
Due: bitgo

feat(core): add toBase58Check to legacyBitcoin
  modules/core/src/legacyBitcoin.ts
  modules/core/test/unit/legacyBitcoin.ts
Due: bitgo

chore(release): publish modules
  modules/account-lib/package.json
  modules/core/package.json
  modules/express/package-lock.json
  modules/express/package.json
  modules/utxo-lib/package.json
Due: bitgo, account-lib, express

chore(utxo-lib): add "prepare" script in package.json
  modules/utxo-lib/package.json
Due: none

feat(root): use lib "es2017"
  tsconfig.json
Due: none

chore(release): publish modules
  modules/account-lib/package.json
  modules/core/package.json
  modules/express/package-lock.json
  modules/express/package.json
Due: bitgo, account-lib, express

refactor(statics): move trx fee limit to network object
  modules/statics/src/account.ts
  modules/statics/src/base.ts
  modules/statics/src/coins.ts
  modules/statics/src/networks.ts
Due: statics

test(core): fix getAddressP2PKH test
  modules/core/test/v2/unit/bitcoin.ts
Due: bitgo

docs(utxo-lib): add link to bitcoinjs-lib
  modules/utxo-lib/README.md
Due: none

feat(utxo-lib): export, use BitcoinJSNetwork
  modules/core/src/bitcoin.ts
  modules/core/src/transactionBuilder.ts
  modules/core/src/travelRule.ts
  modules/core/src/wallets.ts
  modules/utxo-lib/src/index.ts
Due: bitgo

chore(core): update terser-webpack-plugin
  modules/core/package.json
  modules/core/webpack.config.js
Due: bitgo

docs(utxo-lib): fix comment in verifySignature
  modules/utxo-lib/src/bitgo/signature.ts
Due: none

chore: update yarn.lock
  yarn.lock
Due: none

chore(root): update yarn.lock, use --with-frozen-lockfile in drone
  .drone.jsonnet
  yarn.lock
Due: none

feat(statics): add name property to networks
  modules/statics/src/networks.ts
Due: statics

Revert "feat(account-lib): transation hash is calclated wrongly"
  modules/account-lib/src/coin/eth/transaction.ts
  modules/account-lib/test/unit/coin/avaxc/transactionBuilder/walletInitializationBuilder.ts
  modules/account-lib/test/unit/coin/eth/transactionBuilder/walletInitialization.ts
Due: account-lib

fix(account-lib): fix btc address version in functionArgs
  modules/account-lib/package.json
  modules/account-lib/src/coin/stx/utils.ts
  modules/account-lib/test/unit/coin/stx/util.ts
Due: account-lib

chore(core): bump superagent-proxy dep
  modules/core/package.json
  yarn.lock
Due: bitgo

chore(utxo-lib): fix eslint errors
  modules/utxo-lib/.eslintignore
  modules/utxo-lib/package.json
  modules/utxo-lib/src/bitgo/UtxoTransactionBuilder.ts
  modules/utxo-lib/src/bitgo/dash/DashTransaction.ts
  modules/utxo-lib/src/bitgo/zcash/ZcashTransaction.ts
  modules/utxo-lib/test/address/address.ts
  modules/utxo-lib/test/bitgo/keyutil.ts
  modules/utxo-lib/test/fixtures_thirdparty/parse.ts
  modules/utxo-lib/test/networks.ts
Due: none

chore(utxo-lib): do not require @prettier pragma
  modules/utxo-lib/.prettierrc.yml
  modules/utxo-lib/package.json
  modules/utxo-lib/src/address.ts
  modules/utxo-lib/src/bitgo/UtxoTransaction.ts
  modules/utxo-lib/src/bitgo/UtxoTransactionBuilder.ts
  modules/utxo-lib/src/bitgo/dash/DashTransaction.ts
  modules/utxo-lib/src/bitgo/dash/DashTransactionBuilder.ts
  modules/utxo-lib/src/bitgo/index.ts
  modules/utxo-lib/src/bitgo/keyutil.ts
  modules/utxo-lib/src/bitgo/nonStandardHalfSigned.ts
  modules/utxo-lib/src/bitgo/outputScripts.ts
  modules/utxo-lib/src/bitgo/signature.ts
  modules/utxo-lib/src/bitgo/transaction.ts
  modules/utxo-lib/src/bitgo/zcash/ZcashTransaction.ts
  modules/utxo-lib/src/bitgo/zcash/ZcashTransactionBuilder.ts
  modules/utxo-lib/src/bitgo/zcash/address.ts
  modules/utxo-lib/src/coins.ts
  modules/utxo-lib/src/index.ts
  modules/utxo-lib/src/networkTypes.ts
  modules/utxo-lib/src/networks.ts
  modules/utxo-lib/test/address/address.ts
  modules/utxo-lib/test/bitgo/keyutil.ts
  modules/utxo-lib/test/bitgo/nonStandardHalfSigned.ts
  modules/utxo-lib/test/bitgo/outputScripts.ts
  modules/utxo-lib/test/bitgo/signature.ts
  modules/utxo-lib/test/fixtures_thirdparty/download.ts
  modules/utxo-lib/test/fixtures_thirdparty/fixtures.ts
  modules/utxo-lib/test/fixtures_thirdparty/parse.ts
  modules/utxo-lib/test/integration_local_rpc/compare.ts
  modules/utxo-lib/test/integration_local_rpc/generate/RpcClient.ts
  modules/utxo-lib/test/integration_local_rpc/generate/fixtures.ts
  modules/utxo-lib/test/integration_local_rpc/generate/main.ts
  modules/utxo-lib/test/integration_local_rpc/generate/outputScripts.util.ts
  modules/utxo-lib/test/integration_local_rpc/generate/regtestNode.ts
  modules/utxo-lib/test/integration_local_rpc/generate/types.ts
  modules/utxo-lib/test/integration_local_rpc/parse.ts
  modules/utxo-lib/test/integration_local_rpc/parseDashEvo.ts
  modules/utxo-lib/test/networks.ts
  modules/utxo-lib/test/transaction_util.ts
Due: none

chore(utxo-lib): use `strict: true` in tsconfig
  modules/utxo-lib/src/bitcoinjs-lib.d.ts
  modules/utxo-lib/src/bitgo/dash/DashTransaction.ts
  modules/utxo-lib/src/bitgo/keyutil.ts
  modules/utxo-lib/src/bitgo/nonStandardHalfSigned.ts
  modules/utxo-lib/src/bitgo/outputScripts.ts
  modules/utxo-lib/src/bitgo/signature.ts
  modules/utxo-lib/src/bitgo/transaction.ts
  modules/utxo-lib/src/bitgo/zcash/ZcashTransaction.ts
  modules/utxo-lib/src/bitgo/zcash/ZcashTransactionBuilder.ts
  modules/utxo-lib/src/bitgo/zcash/address.ts
  modules/utxo-lib/src/coins.ts
  modules/utxo-lib/test/bitgo/keyutil.ts
  modules/utxo-lib/tsconfig.build.json
Due: none

chore(root): remove obsolete comment
  .eslintrc.json
Due: none

refactor(utxo-lib): stricter eslint rules
  modules/utxo-lib/.eslintrc.json
  modules/utxo-lib/src/address.ts
  modules/utxo-lib/src/bitgo/dash/DashTransactionBuilder.ts
  modules/utxo-lib/src/bitgo/zcash/ZcashTransaction.ts
  modules/utxo-lib/src/bitgo/zcash/ZcashTransactionBuilder.ts
  modules/utxo-lib/src/coins.ts
  modules/utxo-lib/test/fixtures_thirdparty/fixtures.ts
  modules/utxo-lib/test/integration_local_rpc/compare.ts
  modules/utxo-lib/test/integration_local_rpc/generate/RpcClient.ts
  modules/utxo-lib/test/integration_local_rpc/generate/fixtures.ts
  modules/utxo-lib/test/transaction_util.ts
Due: none

Path conditions:
  bitgo: any of: modules/core
  account-lib: any of: modules/account-lib
  statics: any of: modules/statics
  express: any of: modules/express
