Repository BitGo/BitGoJS: changes, and which Codecov flags are due for each by the changed paths.
All: bitgo, account-lib, statics, express

.codecov.yml:

coverage:
  status:
    project: off
    patch: off
comment:
  layout: 'diff, flags, files'
  require_changes: true
flags:
  bitgo:
    paths:
      - modules/bitgo
  account-lib:
    paths:
      - modules/account-lib
  statics:
    paths:
      - modules/statics
  express:
    paths:
      - modules/express

fix(sdk-coin-polyx): fix to toJson method in polyx transaction
  modules/abstract-substrate/src/lib/transaction.ts
  modules/sdk-coin-polyx/src/lib/index.ts
  modules/sdk-coin-polyx/src/lib/transaction.ts
  modules/sdk-coin-polyx/src/lib/transferBuilder.ts
  modules/sdk-coin-polyx/test/unit/transactionBuilder/registerDidWithCDDBuilder.ts
Due: none

fix: correct ofctrx:usd1 decimal places
  modules/statics/src/coins/ofcCoins.ts
Due: statics

chore: wip extract address from paygo attestation proof
  modules/utxo-lib/src/bitgo/ExtractAddressPayGoAttestation.ts
Due: none

chore(root): release express
  Dockerfile
Due: none

refactor(statics): remove gatekeep from statics
  modules/statics/src/gatekeep.ts
  modules/statics/src/index.ts
Due: statics

feat(sdk-coin-trx): add delegate txbuilder COIN-4108 TICKET: COIN-4108
  modules/sdk-coin-trx/resources/protobuf/Contract.proto
  modules/sdk-coin-trx/resources/protobuf/tron.d.ts
  modules/sdk-coin-trx/resources/protobuf/tron.js
  modules/sdk-coin-trx/resources/protobuf/tron.proto
  modules/sdk-coin-trx/src/lib/constants.ts
  modules/sdk-coin-trx/src/lib/delegateResourceTxBuilder.ts
  modules/sdk-coin-trx/src/lib/enum.ts
  modules/sdk-coin-trx/src/lib/iface.ts
  modules/sdk-coin-trx/src/lib/resourceManagementTxBuilder.ts
  modules/sdk-coin-trx/src/lib/transaction.ts
  modules/sdk-coin-trx/src/lib/utils.ts
  modules/sdk-coin-trx/src/lib/wrappedBuilder.ts
  modules/sdk-coin-trx/test/resources.ts
  modules/sdk-coin-trx/test/unit/transactionBuilder/delegateResourceTxBuilder.ts
  modules/sdk-core/src/account-lib/baseCoin/enum.ts
Due: none

refactor(sdk-coin-icp): replace Utils class usage with direct utils import
  modules/sdk-coin-icp/src/lib/icpAgent.ts
  modules/sdk-coin-icp/src/lib/transaction.ts
  modules/sdk-coin-icp/src/lib/transactionBuilder.ts
  modules/sdk-coin-icp/src/lib/transactionBuilderFactory.ts
  modules/sdk-coin-icp/src/lib/transferBuilder.ts
  modules/sdk-coin-icp/test/unit/transaction.ts
  modules/sdk-coin-icp/test/unit/transactionBuilder/transactionBuilder.ts
  modules/sdk-coin-icp/test/unit/transactionBuilder/transactionRecover.ts
Due: none

feat(sdk-coin-trx): add delegate txbuilder COIN-4108 TICKET: COIN-4108
  modules/sdk-coin-trx/src/lib/constants.ts
  modules/sdk-coin-trx/src/lib/transaction.ts
  modules/sdk-coin-trx/src/lib/undelegateResourceTxBuilder.ts
  modules/sdk-coin-trx/src/lib/utils.ts
  modules/sdk-coin-trx/src/lib/wrappedBuilder.ts
  modules/sdk-coin-trx/test/resources.ts
  modules/sdk-coin-trx/test/unit/transactionBuilder/undelegateResourceTxBuilder.ts
Due: none

feat(sdk-coin-bsc): added support for mpcv2 in recovery
  modules/abstract-eth/src/abstractEthLikeNewCoins.ts
  modules/abstract-eth/src/lib/utils.ts
  modules/bitgo/test/v2/unit/recovery.ts
  modules/sdk-coin-bsc/package.json
  modules/sdk-coin-bsc/src/bsc.ts
  modules/sdk-coin-bsc/src/lib/transactionBuilder.ts
  modules/sdk-coin-bsc/test/fixtures/ecdsa.ts
  modules/sdk-coin-bsc/test/unit/bsc.ts
  modules/sdk-coin-polygon/test/unit/polygon.ts
Due: bitgo

chore: migrating suported eth like coins to use etherscan api v2
  modules/abstract-eth/src/abstractEthLikeCoin.ts
  modules/abstract-eth/src/abstractEthLikeNewCoins.ts
  modules/abstract-eth/src/ethLikeToken.ts
  modules/sdk-coin-eth/src/erc20Token.ts
  modules/sdk-core/src/bitgo/environments.ts
Due: none

chore: wip added functions and tests
  modules/utxo-lib/src/bitgo/PsbtUtil.ts
  modules/utxo-lib/src/bitgo/UtxoPsbt.ts
  modules/utxo-lib/src/bitgo/psbt/paygoAddressProof.ts
  modules/utxo-lib/src/testutil/psbt.ts
  modules/utxo-lib/test/bitgo/psbt/paygoAddressProof.ts
Due: none

chore: parallellize keychain and queryPromise
  modules/sdk-core/src/bitgo/wallet/wallet.ts
Due: none

fix(sdk-coin-sol): fix ata creation for sol 2022 token
  modules/sdk-coin-sol/src/lib/utils.ts
  modules/sdk-coin-sol/test/resources/sol.ts
  modules/sdk-coin-sol/test/unit/utils.ts
  modules/statics/src/account.ts
  modules/statics/src/coins/solTokens.ts
Due: statics

chore: added batcher, forwarder address for tworld, tsoneium
  modules/statics/src/networks.ts
Due: statics

feat(abstract-lightning): locked to outbound locked balance name
  modules/abstract-lightning/src/codecs/api/balance.ts
Due: none

chore: support tokenApproval for MPC
  modules/abstract-eth/src/abstractEthLikeNewCoins.ts
  modules/sdk-core/src/bitgo/utils/mpcUtils.ts
  modules/sdk-core/src/bitgo/utils/tss/baseTypes.ts
  modules/sdk-core/src/bitgo/wallet/wallet.ts
Due: none

feat(statics): add new test sol 2022 token
  modules/statics/src/coins/solTokens.ts
Due: statics

chore: update Cronos fullname to Cronos POS TICKET: COIN-4333
  modules/sdk-coin-cronos/test/unit/cronos.ts
  modules/statics/src/coins.ts
  modules/statics/src/networks.ts
Due: statics

fix(statics): update correct token address
  modules/statics/src/coins/solTokens.ts
Due: statics

chore: migrating suported eth like coins to use etherscan api v2
  modules/abstract-eth/src/abstractEthLikeCoin.ts
  modules/abstract-eth/src/abstractEthLikeNewCoins.ts
  modules/abstract-eth/src/ethLikeToken.ts
  modules/bitgo/test/v2/lib/recovery-nocks.ts
  modules/sdk-coin-arbeth/test/fixtures/arbeth.ts
  modules/sdk-coin-arbeth/test/unit/arbeth.ts
  modules/sdk-coin-arbeth/test/unit/arbethToken.ts
  modules/sdk-coin-eth/src/erc20Token.ts
  modules/sdk-coin-eth/test/fixtures/eth.ts
  modules/sdk-coin-eth/test/unit/eth.ts
  modules/sdk-coin-ethlike/test/fixtures/ethlikeCoin.ts
  modules/sdk-coin-flr/test/resources.ts
  modules/sdk-coin-oas/test/resources.ts
  modules/sdk-coin-opeth/test/fixtures/opeth.ts
  modules/sdk-coin-opeth/test/unit/opeth.ts
  modules/sdk-coin-polygon/test/fixtures/polygon.ts
  modules/sdk-coin-polygon/test/unit/polygon.ts
  modules/sdk-coin-sgb/test/resources.ts
  modules/sdk-coin-wemix/test/resources.ts
  modules/sdk-coin-xdc/test/resources.ts
  modules/sdk-coin-zketh/test/fixtures/zketh.ts
  modules/sdk-coin-zketh/test/unit/zketh.ts
  modules/sdk-core/src/bitgo/environments.ts
  modules/sdk-test/src/bitgo/lib/test_bitgo.ts
Due: bitgo

chore(root): increase yarn install timeout
  Dockerfile
Due: none

feat(sdk-coin-vet): address and wallet creation
  modules/sdk-coin-vet/package.json
  modules/sdk-coin-vet/src/lib/utils.ts
  modules/sdk-coin-vet/src/vet.ts
  modules/sdk-coin-vet/test/unit/vet.ts
Due: none

fix: removed InvoiceInfo codec
  modules/abstract-lightning/src/codecs/api/invoice.ts
  modules/abstract-lightning/src/wallet/lightning.ts
  modules/bitgo/test/v2/unit/lightning/lightningWallets.ts
  modules/express/test/unit/lightning/lightningInvoiceRoutes.test.ts
Due: bitgo, express

feat(utxo-core): add descriptor support for fixed script wallets
  modules/utxo-core/src/descriptor/fromFixedScriptWallet.ts
  modules/utxo-core/test/descriptor/fromFixedScriptWallet.ts
Due: none

feat(statics): onboard testnet vaulta token
  modules/statics/src/coins.ts
Due: statics

feat: example script for on prem wallet creation
  examples/ts/on-prem-wallet-creation.ts
Due: none

feat(sdk-coin-vet): add vechain keyPair also adds transaction builder skeleton
  modules/sdk-coin-vet/package.json
  modules/sdk-coin-vet/src/lib/constants.ts
  modules/sdk-coin-vet/src/lib/iface.ts
  modules/sdk-coin-vet/src/lib/index.ts
  modules/sdk-coin-vet/src/lib/keyPair.ts
  modules/sdk-coin-vet/src/lib/transaction.ts
  modules/sdk-coin-vet/src/lib/transactionBuilder.ts
  modules/sdk-coin-vet/src/lib/transactionBuilderFactory.ts
  modules/sdk-coin-vet/src/lib/transferBuilder.ts
  modules/sdk-coin-vet/src/lib/utils.ts
  modules/sdk-coin-vet/test/unit/keyPair.ts
Due: none

chore(root): how to audit a generated key pair
  examples/ts/key/auditKeyExample.ts
Due: none

feat(express): update to node 22
  Dockerfile
Due: none

feat: add sdk-coin-evm
  modules/sdk-coin-evm/.eslintignore
  modules/sdk-coin-evm/.gitignore
  modules/sdk-coin-evm/.mocharc.yml
  modules/sdk-coin-evm/.npmignore
  modules/sdk-coin-evm/.prettierignore
  modules/sdk-coin-evm/.prettierrc.yml
  modules/sdk-coin-evm/CHANGELOG.md
  modules/sdk-coin-evm/README.md
  modules/sdk-coin-evm/package.json
  modules/sdk-coin-evm/src/evm.ts
  modules/sdk-coin-evm/src/index.ts
  modules/sdk-coin-evm/src/lib/index.ts
  modules/sdk-coin-evm/src/lib/transactionBuilder.ts
  modules/sdk-coin-evm/src/lib/transferBuilder.ts
  modules/sdk-coin-evm/src/lib/utils.ts
  modules/sdk-coin-evm/src/register.ts
  modules/sdk-coin-evm/tsconfig.json
Due: none

feat: add CoinFeature for new common evm sdk
  modules/account-lib/src/index.ts
  modules/bitgo/src/v2/coinFactory.ts
  modules/bitgo/src/v2/coins/index.ts
  modules/sdk-core/src/bitgo/environments.ts
  modules/statics/src/base.ts
Due: bitgo, account-lib, statics

feat(statics): add ape chain config Ticket: WIN-5736
  modules/bitgo/test/v2/unit/keychains.ts
  modules/statics/src/base.ts
  modules/statics/src/coinFeatures.ts
  modules/statics/src/coins.ts
  modules/statics/src/networks.ts
  modules/statics/test/unit/fixtures/expectedColdFeatures.ts
Due: bitgo, statics

chore(abstract-substrate): add signMessageinUint8Array KeyPair
  modules/abstract-substrate/src/lib/keyPair.ts
Due: none

feat: added common withdraw codecs in abstract-lightning
  modules/abstract-lightning/src/codecs/api/withdraw.ts
Due: none
