Repository BitGo/BitGoJS: changes, and which Codecov flags are due for each by the changed paths.
All: bitgo, account-lib, statics, express

chore(root): update yarn.lock
  yarn.lock
Due: none

fix(bitgo): pin utxo-lib to hotfix version
  modules/bitgo/package.json
Due: none

chore(release): publish modules
  modules/bitgo/CHANGELOG.md
  modules/bitgo/package.json
  modules/express/CHANGELOG.md
  modules/express/package.json
  modules/web-demo/CHANGELOG.md
  modules/web-demo/package.json
Due: express

feat(sdk-core): add deposit() to lightning object
  modules/bitgo/test/v2/fixtures/lightning/lightning.ts
  modules/bitgo/test/v2/unit/lightning.ts
  modules/sdk-core/src/bitgo/lightning/iLightning.ts
  modules/sdk-core/src/bitgo/lightning/lightning.ts
Due: none

chore: remove webpack directory
  webpack/bitgojs.config.js
  webpack/mergeCustomizer.js
Due: none

feat(sdk-core): add withdraw to lightning object
  modules/bitgo/test/v2/fixtures/lightning/lightning.ts
  modules/bitgo/test/v2/unit/lightning.ts
  modules/sdk-core/src/bitgo/lightning/iLightning.ts
  modules/sdk-core/src/bitgo/lightning/lightning.ts
  modules/sdk-core/src/bitgo/wallet/wallet.ts
  yarn.lock
Due: none

fix(statics): fix terc tokens to use goerli network
  modules/statics/src/coins.ts
Due: statics

chore: export AcaCoin in statics
  modules/statics/src/index.ts
Due: statics

fix(sdk-coin-ada): fix blockhash validation
  modules/sdk-coin-ada/src/lib/utils.ts
  modules/sdk-coin-ada/test/unit/utils.ts
Due: none

feat(sdk-coin-aca): implement acala transfer token builder
  modules/sdk-coin-aca/package.json
  modules/sdk-coin-aca/src/lib/errors.ts
  modules/sdk-coin-aca/src/lib/iface.ts
  modules/sdk-coin-aca/src/lib/index.ts
  modules/sdk-coin-aca/src/lib/keyPair.ts
  modules/sdk-coin-aca/src/lib/singletonRegistry.ts
  modules/sdk-coin-aca/src/lib/tokenTransferBuilder.ts
  modules/sdk-coin-aca/src/lib/transaction.ts
  modules/sdk-coin-aca/src/lib/transactionBuilder.ts
  modules/sdk-coin-aca/src/lib/txnSchema.ts
  modules/sdk-coin-aca/src/lib/utils.ts
  modules/sdk-coin-aca/test/resources/index.ts
  modules/sdk-coin-aca/test/resources/material.ts
  modules/sdk-coin-aca/test/unit/transactionBuilder/tokenTransferBuilder.ts
  modules/sdk-coin-dot/package.json
Due: none

feat(sdk-coin-ada): implement ada sdk interface
  modules/sdk-coin-ada/package.json
  modules/sdk-coin-ada/src/ada.ts
  modules/sdk-coin-ada/src/tada.ts
  modules/sdk-coin-ada/test/resources/index.ts
  modules/sdk-coin-ada/test/unit/ada.ts
  modules/sdk-coin-ada/test/unit/getBuilderFactory.ts
  modules/sdk-coin-ada/test/unit/keyPair.ts
  modules/sdk-coin-ada/test/unit/transactionBuilder.ts
Due: none

feat(abstract-utxo): add support for bigints from new utxo-lib
  modules/abstract-utxo/package.json
  modules/abstract-utxo/src/abstractUtxoCoin.ts
  modules/abstract-utxo/src/replayProtection.ts
  modules/abstract-utxo/src/sign.ts
  modules/bitgo/test/v2/unit/coins/abstractUtxoCoin.ts
  modules/bitgo/test/v2/unit/coins/utxo/fixtures/bch/transactions-replayProtection-p2sh.json
  modules/bitgo/test/v2/unit/coins/utxo/fixtures/bsv/transactions-replayProtection-p2sh.json
  modules/bitgo/test/v2/unit/coins/utxo/fixtures/doge/transactions-p2sh-p2sh.json
  modules/bitgo/test/v2/unit/coins/utxo/fixtures/tbch/transactions-replayProtection-p2sh.json
  modules/bitgo/test/v2/unit/coins/utxo/fixtures/tbsv/transactions-replayProtection-p2sh.json
  modules/bitgo/test/v2/unit/coins/utxo/fixtures/tdoge/transactions-p2sh-p2sh.json
  modules/bitgo/test/v2/unit/coins/utxo/transaction.ts
  modules/bitgo/test/v2/unit/coins/utxo/util/transaction.ts
  modules/bitgo/test/v2/unit/coins/utxo/util/unspents.ts
  modules/sdk-coin-doge/src/doge.ts
  modules/sdk-coin-doge/src/tdoge.ts
  modules/sdk-core/src/bitgo/pendingApproval/pendingApproval.ts
Due: none

feat(utxo-lib): full 64 bit support w/ bigints
  modules/utxo-lib/package.json
  modules/utxo-lib/src/bitgo/Unspent.ts
  modules/utxo-lib/src/bitgo/UtxoTransaction.ts
  modules/utxo-lib/src/bitgo/UtxoTransactionBuilder.ts
  modules/utxo-lib/src/bitgo/dash/DashTransaction.ts
  modules/utxo-lib/src/bitgo/dash/DashTransactionBuilder.ts
  modules/utxo-lib/src/bitgo/index.ts
  modules/utxo-lib/src/bitgo/signature.ts
  modules/utxo-lib/src/bitgo/tnumber.ts
  modules/utxo-lib/src/bitgo/transaction.ts
  modules/utxo-lib/src/bitgo/wallet/Unspent.ts
  modules/utxo-lib/src/bitgo/zcash/ZcashBufferutils.ts
  modules/utxo-lib/src/bitgo/zcash/ZcashTransaction.ts
  modules/utxo-lib/src/bitgo/zcash/ZcashTransactionBuilder.ts
  modules/utxo-lib/src/bitgo/zcash/hashZip0244.ts
  modules/utxo-lib/test/bitgo/nonStandardHalfSigned.ts
  modules/utxo-lib/test/bitgo/signature.ts
  modules/utxo-lib/test/bitgo/signatureModify.ts
  modules/utxo-lib/test/bitgo/tnumber.ts
  modules/utxo-lib/test/bitgo/wallet/WalletUnspent.ts
  modules/utxo-lib/test/bitgo/wallet/util.ts
  modules/utxo-lib/test/bitgo/zcash/hashZip0244.ts
  modules/utxo-lib/test/fixtures_thirdparty/parse.ts
  modules/utxo-lib/test/integration_local_rpc/compare.ts
  modules/utxo-lib/test/integration_local_rpc/fixtures/dogecoinTest/v1/deposit_p2pkh.json
  modules/utxo-lib/test/integration_local_rpc/fixtures/dogecoinTest/v1/deposit_p2sh.json
  modules/utxo-lib/test/integration_local_rpc/fixtures/dogecoinTest/v1/spend_p2sh.json
  modules/utxo-lib/test/integration_local_rpc/generate/RpcClient.ts
  modules/utxo-lib/test/integration_local_rpc/generate/faucet.ts
  modules/utxo-lib/test/integration_local_rpc/generate/main.ts
  modules/utxo-lib/test/integration_local_rpc/generate/outputScripts.util.ts
  modules/utxo-lib/test/integration_local_rpc/parse.ts
  modules/utxo-lib/test/integration_local_rpc/parseDashEvo.ts
  modules/utxo-lib/test/transaction_util.ts
  scripts/sdk-coin-generator/template/boilerplates/utxo/transactionBuilder.ts
  yarn.lock
Due: none

chore(sdk-core): move legacyBitcoin to sdk-core
  modules/bitgo/src/index.ts
  modules/bitgo/test/unit/bip32path.ts
  modules/bitgo/test/unit/hdnode.ts
  modules/sdk-core/src/bitgo/index.ts
  modules/sdk-core/src/bitgo/legacyBitcoin.ts
Due: none

fix(sdk-core): tss wallet creation related bugs
  modules/bitgo/test/v2/fixtures/tss/ecdsaFixtures.ts
  modules/bitgo/test/v2/unit/internal/opengpgUtils.ts
  modules/bitgo/test/v2/unit/keychains.ts
  modules/sdk-coin-bsc/src/bsc.ts
  modules/sdk-coin-bsc/test/unit/bsc.ts
  modules/sdk-coin-dot/src/dot.ts
  modules/sdk-coin-near/src/near.ts
  modules/sdk-coin-sol/src/sol.ts
  modules/sdk-core/src/bitgo/baseCoin/baseCoin.ts
  modules/sdk-core/src/bitgo/baseCoin/iBaseCoin.ts
  modules/sdk-core/src/bitgo/keychain/keychains.ts
  modules/sdk-core/src/bitgo/tss/ecdsa/ecdsa.ts
  modules/sdk-core/src/bitgo/utils/opengpgUtils.ts
  modules/sdk-core/src/bitgo/utils/tss/index.ts
  modules/sdk-core/src/bitgo/wallet/iWallets.ts
  modules/sdk-core/src/bitgo/wallet/wallets.ts
Due: none

chore(bitgo): set latest buffer polyfil
  modules/web-demo/src/components/BitGoAPI/bitgo-api.spec.tsx
  modules/web-demo/src/components/BitGoJS/bitgojs.spec.tsx
  package.json
Due: none

chore(web-demo): fix typings
  modules/web-demo/src/components/BitGoAPI/bitgo-api.spec.tsx
  modules/web-demo/src/components/BitGoJS/bitgojs.spec.tsx
  modules/web-demo/tsconfig.json
  package.json
  yarn.lock
Due: none

chore(web-demo): add missing dep - adds chai explicitly Ticket: BG-54987
  modules/web-demo/package.json
Due: none

feat(sdk-coin-polygon): support tokens
  modules/bitgo/src/v2/coinFactory.ts
  modules/bitgo/src/v2/coins/index.ts
  modules/bitgo/test/browser/browser.spec.ts
  modules/sdk-coin-polygon/src/index.ts
  modules/sdk-coin-polygon/src/polygonToken.ts
  modules/sdk-coin-polygon/test/unit/polygonToken.ts
  modules/statics/src/account.ts
  modules/statics/src/base.ts
  modules/statics/src/coins.ts
  modules/statics/src/tokenConfig.ts
Due: statics

fix(utxo-lib): use safe version of bitcoinjs-lib
  modules/bitgo/test/browser/browser.spec.ts
  modules/utxo-lib/package.json
  yarn.lock
Due: none

fix(root): align versions of bitcoinjs-lib
  modules/sdk-coin-avaxp/package.json
  modules/sdk-coin-stx/package.json
  modules/sdk-coin-xtz/package.json
  modules/sdk-core/package.json
  modules/unspents/package.json
  yarn.lock
Due: none

Revert "feat: add AcaToken in sdk-coin-aca"
  modules/bitgo/src/v2/coinFactory.ts
  modules/sdk-coin-aca/src/acaToken.ts
  modules/sdk-coin-aca/src/index.ts
Due: none

Revert "feat: add acala token config"
  modules/statics/src/account.ts
  modules/statics/src/base.ts
  modules/statics/src/coins.ts
  modules/statics/src/tokenConfig.ts
Due: statics

Revert "chore: export AcaCoin in statics"
  modules/statics/src/index.ts
Due: statics

feat(sdk-coin-bsc): replace bsc keypair with eth keypair
  modules/sdk-coin-bsc/package.json
  modules/sdk-coin-bsc/src/lib/index.ts
  modules/sdk-coin-bsc/src/lib/keyPair.ts
  modules/sdk-coin-bsc/test/unit/keyPair.ts
Due: none

fix(sdk-core): eth supports tss
  modules/bitgo/test/v2/unit/staking/stakingWalletNonTSS.ts
  modules/sdk-coin-eth/src/eth.ts
Due: none

fix: add ability to use unencrypted private key
  modules/express/src/fetchEncryptedPrivKeys.ts
  modules/express/test/unit/clientRoutes/externalSign.ts
Due: express

fix: add ability to use unencrypted private key
  modules/express/package.json
  modules/express/src/fetchEncryptedPrivKeys.ts
  modules/express/test/unit/clientRoutes/externalSign.ts
Due: express

chore(release): publish modules
  modules/express/CHANGELOG.md
  modules/express/package.json
Due: express

feat(statics): add ETHw statics
  modules/bitgo/test/v2/unit/keychains.ts
  modules/statics/src/base.ts
  modules/statics/src/coins.ts
  modules/statics/src/networks.ts
Due: statics

feat(sdk-core): add getInvoices to lightning object
  modules/bitgo/test/v2/fixtures/lightning/lightning.ts
  modules/bitgo/test/v2/unit/lightning.ts
  modules/sdk-core/src/bitgo/lightning/iLightning.ts
  modules/sdk-core/src/bitgo/lightning/lightning.ts
Due: none

feat(abstract-utxo): backup key recovery service for doge
  modules/abstract-utxo/src/recovery/RecoveryProvider.ts
  modules/abstract-utxo/src/recovery/backupKeyRecovery.ts
  modules/abstract-utxo/src/recovery/smartbitApi.ts
  modules/bitgo/test/v2/unit/coins/utxo/fixtures/doge/recovery/backupKeyRecovery-p2sh-fullSignedRecovery-customUserKeyPath.json
  modules/bitgo/test/v2/unit/coins/utxo/fixtures/doge/recovery/backupKeyRecovery-p2sh-fullSignedRecovery.json
  modules/bitgo/test/v2/unit/coins/utxo/fixtures/doge/recovery/backupKeyRecovery-p2sh-keyRecoveryService.json
  modules/bitgo/test/v2/unit/coins/utxo/fixtures/doge/recovery/backupKeyRecovery-p2sh-unsignedRecovery.json
  modules/bitgo/test/v2/unit/coins/utxo/fixtures/tdoge/recovery/backupKeyRecovery-p2sh-fullSignedRecovery-customUserKeyPath.json
  modules/bitgo/test/v2/unit/coins/utxo/fixtures/tdoge/recovery/backupKeyRecovery-p2sh-fullSignedRecovery.json
  modules/bitgo/test/v2/unit/coins/utxo/fixtures/tdoge/recovery/backupKeyRecovery-p2sh-keyRecoveryService.json
  modules/bitgo/test/v2/unit/coins/utxo/fixtures/tdoge/recovery/backupKeyRecovery-p2sh-unsignedRecovery.json
  modules/bitgo/test/v2/unit/coins/utxo/recovery/backupKeyRecovery.ts
  modules/bitgo/test/v2/unit/coins/utxo/recovery/mock.ts
  modules/bitgo/test/v2/unit/coins/utxo/util/fixtures.ts
  modules/blockapis/src/impl/BlockchairApi.ts
Due: none

Path conditions:
  bitgo: any of: modules/core
  account-lib: any of: modules/account-lib
  statics: any of: modules/statics
  express: any of: modules/express
