Repository BitGo/BitGoJS: changes, and which Codecov flags are due for each by the changed paths.
All: bitgo, account-lib, statics, express

chore: wip adding tests for paygo address proof util functions
  modules/utxo-lib/src/bitgo/UtxoPsbt.ts
  modules/utxo-lib/src/bitgo/psbt/paygoAddressProof.ts
  modules/utxo-lib/test/bitgo/psbt/paygoAddressProof.ts
Due: none

chore: wip added functions and tests
  modules/utxo-lib/src/bitgo/PsbtUtil.ts
  modules/utxo-lib/src/bitgo/UtxoPsbt.ts
  modules/utxo-lib/src/bitgo/psbt/paygoAddressProof.ts
  modules/utxo-lib/src/testutil/psbt.ts
  modules/utxo-lib/test/bitgo/psbt/paygoAddressProof.ts
Due: none

chore: wip added one more test for multiple paygo address in output return error and moved generate paygo proof to other pr
  modules/utxo-lib/src/bitgo/psbt/paygoAddressProof.ts
  modules/utxo-lib/src/testutil/psbt.ts
  modules/utxo-lib/test/bitgo/psbt/paygoAddressProof.ts
Due: none

chore: determined msg to sign and verify
  modules/utxo-lib/src/bitgo/psbt/paygoAddressProof.ts
Due: none

chore(utxo-lib): modified verify function and tests
  modules/utxo-lib/src/bitgo/psbt/paygoAddressProof.ts
  modules/utxo-lib/test/bitgo/psbt/paygoAddressProof.ts
Due: none

feat(statics): add ofc support to all polygon tokens
  modules/statics/src/coins/ofcCoins.ts
Due: statics

feat: onboard test stETH
  modules/statics/src/base.ts
  modules/statics/src/coins/erc20Coins.ts
  modules/statics/src/coins/ofcErc20Coins.ts
Due: statics

feat(sdk-coin-vet): add transaction builder logic for vechain
  modules/sdk-coin-vet/package.json
  modules/sdk-coin-vet/src/lib/iface.ts
  modules/sdk-coin-vet/src/lib/index.ts
  modules/sdk-coin-vet/src/lib/transaction.ts
  modules/sdk-coin-vet/src/lib/transaction/transaction.ts
  modules/sdk-coin-vet/src/lib/transactionBuilder.ts
  modules/sdk-coin-vet/src/lib/transactionBuilder/transactionBuilder.ts
  modules/sdk-coin-vet/src/lib/transactionBuilder/transferBuilder.ts
  modules/sdk-coin-vet/src/lib/transactionBuilderFactory.ts
  modules/sdk-coin-vet/src/lib/transferBuilder.ts
  modules/sdk-coin-vet/src/lib/types.ts
  modules/sdk-coin-vet/src/lib/utils.ts
  modules/sdk-coin-vet/src/vet.ts
  modules/sdk-coin-vet/test/resources/vet.ts
  modules/sdk-coin-vet/test/transactionBuilder/transferBuilder.ts
  modules/sdk-coin-vet/test/unit/keyPair.ts
  modules/sdk-coin-vet/test/unit/utils.ts
  modules/sdk-coin-vet/test/unit/vet.ts
  yarn.lock
Due: none

fix(sdk-coin-sol): make spl program id as default
  modules/sdk-coin-sol/src/lib/utils.ts
Due: none

fix: creating transfer before sending tx
  modules/abstract-lightning/src/wallet/lightning.ts
  modules/bitgo/test/v2/unit/lightning/lightningWallets.ts
  modules/sdk-core/src/bitgo/pendingApproval/pendingApproval.ts
Due: bitgo

chore(abstract-eth): set walletVersion before signing
  modules/abstract-eth/src/abstractEthLikeNewCoins.ts
Due: none

feat(sdk-coin-celo): update deps
  modules/sdk-coin-celo/package.json
  yarn.lock
Due: none

feat(root): address ws vulnerability
  package.json
  yarn.lock
Due: none

chore: gate keep tokens for SINGAPORE and MENA trust
  CODEOWNERS
  modules/statics/src/coins/avaxTokens.ts
  modules/statics/src/coins/bscTokens.ts
  modules/statics/src/coins/erc20Coins.ts
  modules/statics/src/coins/polygonTokens.ts
  modules/statics/test/unit/coins.ts
Due: statics

feat: add test usd1 tron test tokens
  modules/statics/src/base.ts
  modules/statics/src/coins.ts
Due: statics

chore(statics): add MPCV2 flag in Vet features
  modules/statics/src/coinFeatures.ts
Due: statics

feat(statics): add go account support for polyx test
  modules/statics/src/coins/ofcCoins.ts
Due: statics

feat(sdk-coin-near): added fungible token transfer builder Ticket: COIN-4148
  modules/bitgo/src/v2/coinFactory.ts
  modules/bitgo/test/browser/browser.spec.ts
  modules/sdk-coin-near/package.json
  modules/sdk-coin-near/src/lib/constants.ts
  modules/sdk-coin-near/src/lib/contractCallWrapper.ts
  modules/sdk-coin-near/src/lib/fungibleTokenTransferBuilder.ts
  modules/sdk-coin-near/src/lib/iface.ts
  modules/sdk-coin-near/src/lib/stakingActivateBuilder.ts
  modules/sdk-coin-near/src/lib/stakingDeactivateBuilder.ts
  modules/sdk-coin-near/src/lib/stakingWithdrawBuilder.ts
  modules/sdk-coin-near/src/lib/storageDepositTransferBuilder.ts
  modules/sdk-coin-near/src/lib/transaction.ts
  modules/sdk-coin-near/src/lib/transactionBuilder.ts
  modules/sdk-coin-near/src/lib/transactionBuilderFactory.ts
  modules/sdk-coin-near/src/lib/transferBuilder.ts
  modules/sdk-coin-near/src/lib/utils.ts
  modules/sdk-coin-near/src/near.ts
  modules/sdk-coin-near/src/nep141Token.ts
  modules/sdk-coin-near/test/resources/near.ts
  modules/sdk-coin-near/test/unit/keyPair.ts
  modules/sdk-coin-near/test/unit/near.ts
  modules/sdk-coin-near/test/unit/transactionBuilder/fungibleTokenTransferBuilder.ts
  modules/sdk-coin-near/test/unit/transactionBuilder/stakingActivateBuilder.ts
  modules/sdk-coin-near/test/unit/transactionBuilder/stakingDeactivateBuilder.ts
  modules/sdk-coin-near/test/unit/transactionBuilder/stakingWithdrawBuilder.ts
  modules/sdk-coin-near/test/unit/transactionBuilder/storageDepositTransferBuilder.ts
  modules/sdk-coin-near/test/unit/transactionBuilder/transactionBuilder.ts
  modules/sdk-coin-near/test/unit/transactionBuilder/transferBuilder.ts
  modules/sdk-core/src/account-lib/baseCoin/enum.ts
  yarn.lock
Due: bitgo

feat: implement staking feature for cronos and fetch
  modules/statics/src/coins.ts
Due: statics

feat(statics): adds `rebase-token` coin feature
  modules/statics/src/base.ts
  modules/statics/src/coins/erc20Coins.ts
Due: statics

feat(sdk-coin-eos): add abi for vaulta token
  modules/sdk-coin-eos/src/eosutil/eosabiprovider.ts
  modules/sdk-coin-eos/src/eosutil/vaultaAbi.json
Due: none

fix: testnet token of steth
  modules/statics/src/base.ts
  modules/statics/src/coins/erc20Coins.ts
  modules/statics/src/coins/ofcErc20Coins.ts
Due: statics

chore: deprecate fetchai TICKET: COIN-4332
  CODEOWNERS
  Dockerfile
  modules/account-lib/package.json
  modules/account-lib/src/index.ts
  modules/bitgo/package.json
  modules/bitgo/src/v2/coinFactory.ts
  modules/bitgo/src/v2/coins/index.ts
  modules/bitgo/tsconfig.json
  modules/sdk-coin-fetchai/.eslintignore
  modules/sdk-coin-fetchai/.gitignore
  modules/sdk-coin-fetchai/.mocharc.yml
  modules/sdk-coin-fetchai/.npmignore
  modules/sdk-coin-fetchai/.prettierignore
  modules/sdk-coin-fetchai/.prettierrc.yml
  modules/sdk-coin-fetchai/CHANGELOG.md
  modules/sdk-coin-fetchai/README.md
  modules/sdk-coin-fetchai/package.json
  modules/sdk-coin-fetchai/src/fetchai.ts
  modules/sdk-coin-fetchai/src/index.ts
  modules/sdk-coin-fetchai/src/lib/constants.ts
  modules/sdk-coin-fetchai/src/lib/index.ts
  modules/sdk-coin-fetchai/src/lib/keyPair.ts
  modules/sdk-coin-fetchai/src/lib/transactionBuilderFactory.ts
  modules/sdk-coin-fetchai/src/lib/utils.ts
  modules/sdk-coin-fetchai/src/register.ts
  modules/sdk-coin-fetchai/src/tfetchai.ts
  modules/sdk-coin-fetchai/test/resources/fetchai.ts
  modules/sdk-coin-fetchai/test/unit/fetchai.ts
  modules/sdk-coin-fetchai/test/unit/getBuilderFactory.ts
  modules/sdk-coin-fetchai/test/unit/keyPair.ts
  modules/sdk-coin-fetchai/test/unit/transaction.ts
  modules/sdk-coin-fetchai/test/unit/transactionBuilder/transactionBuilder.ts
  modules/sdk-coin-fetchai/test/unit/transactionBuilder/transferBuilder.ts
  modules/sdk-coin-fetchai/test/unit/utils.ts
  modules/sdk-coin-fetchai/tsconfig.json
  modules/sdk-core/src/bitgo/environments.ts
  tsconfig.packages.json
Due: bitgo, account-lib

feat(statics): adds testnet `rebase-token` feature
  modules/statics/src/coins/erc20Coins.ts
Due: statics

fix: update explorer url for provenance TICKET: COIN-4463
  modules/statics/src/networks.ts
Due: statics

chore(root): release express
  Dockerfile
Due: none

refactor(sdk-coin-eos): use token symbol while verifying transaction
  modules/sdk-coin-eos/src/eos.ts
  modules/sdk-coin-eos/test/unit/eosToken.ts
Due: none

feat(sdk-coin-vet): implement isValidBlockId for vet
  modules/sdk-coin-vet/src/lib/constants.ts
  modules/sdk-coin-vet/src/lib/utils.ts
  modules/sdk-coin-vet/test/resources/vet.ts
  modules/sdk-coin-vet/test/unit/utils.ts
Due: none

feat(utxo-bin): update module resolution to NodeNext
  modules/utxo-bin/package.json
  modules/utxo-bin/src/args/parseString.ts
  modules/utxo-bin/src/args/walletKeys.ts
  modules/utxo-bin/src/format.ts
  modules/utxo-bin/src/generateAddress.ts
  modules/utxo-bin/test/cmdPsbt.ts
  modules/utxo-bin/test/parseAddress.ts
  modules/utxo-bin/test/parseTransaction.ts
  modules/utxo-bin/tsconfig.json
  yarn.lock
Due: none

feat: added paygo xpub to statics for tbtc
  modules/statics/src/networks.ts
Due: statics

chore(statics): changed field name for interface for pubkey
  modules/statics/src/networks.ts
Due: statics

feat(utxo-core): improve fromFixedScriptWallet descriptor handling
  modules/utxo-core/src/descriptor/fromFixedScriptWallet.ts
  modules/utxo-core/test/descriptor/fromFixedScriptWallet.ts
Due: none

feat(utxo-core): export fromFixedScriptWallet
  modules/utxo-core/src/descriptor/index.ts
Due: none

chore: wip paygo util functions
  modules/utxo-lib/src/bitgo/PsbtUtil.ts
  modules/utxo-lib/src/bitgo/UtxoPsbt.ts
  modules/utxo-lib/src/bitgo/psbt/paygoAddressProof.ts
Due: none

chore: added testing and functions to get proprietary key vals from output
  modules/utxo-lib/src/bitgo/UtxoPsbt.ts
  modules/utxo-lib/src/bitgo/psbt/paygoAddressProof.ts
  modules/utxo-lib/test/bitgo/psbt/paygoAddressProof.ts
Due: none

chore: added test for paygo addr and moved generate paygo proof to other pr
  modules/utxo-core/src/paygo/index.ts
  modules/utxo-core/src/paygo/psbt/PayGoUtils.ts
  modules/utxo-core/src/paygo/psbt/index.ts
  modules/utxo-core/test/paygo/psbt/PayGoUtils.ts
  modules/utxo-lib/src/testutil/psbt.ts
  modules/utxo-lib/test/bitgo/psbt/paygoAddressProof.ts
Due: none

feat(sdk-core): add onprem to wallet subtype
  modules/sdk-core/src/bitgo/wallet/iWallet.ts
Due: none

Path conditions:
  bitgo: any of: modules/bitgo
  account-lib: any of: modules/account-lib
  statics: any of: modules/statics
  express: any of: modules/express
