Repository BitGo/BitGoJS: changes, and which Codecov flags are due for each by the changed paths.
All: bitgo, account-lib, statics, express

build: upgrade ts in express to 4.7.4
  modules/express/package.json
  yarn.lock
Due: express

feat(express): migrate coinSignTx to typed routes
  modules/express/package.json
  modules/express/src/clientRoutes.ts
  modules/express/src/typedRoutes/api/index.ts
  modules/express/src/typedRoutes/api/v2/coinSignTx.ts
  modules/express/test/unit/typedRoutes/coinSignTx.ts
  modules/sdk-core/package.json
Due: express

refactor(express): added request decode
  modules/express/src/clientRoutes.ts
Due: express

chore: added contracts for creditcoin in prod
  modules/statics/src/networks.ts
Due: statics

fix: load inputs for unstake txns
  modules/sdk-coin-vet/src/lib/transaction/burnNftTransaction.ts
  modules/sdk-coin-vet/src/lib/transaction/exitDelegation.ts
  modules/sdk-coin-vet/test/transactionBuilder/burnNftBuilder.ts
  modules/sdk-coin-vet/test/transactionBuilder/exitDelegationBuilder.ts
Due: none

feat: enable staking feature on somnia and wflr roduction TICKET: SC-3415
  modules/statics/src/allCoinsAndTokens.ts
  modules/statics/src/coinFeatures.ts
Due: statics

fix(sdk-core): coins specific message sign validate SC-2419
  modules/sdk-coin-ada/src/lib/messages/cip8/cip8MessageBuilder.ts
  modules/sdk-core/src/account-lib/baseCoin/messages/baseMessageBuilder.ts
  modules/sdk-core/src/account-lib/baseCoin/messages/iface.ts
Due: none

feat: add isMessageWhitelisted() in MessageBuilder
  modules/account-lib/src/index.ts
  modules/account-lib/src/utils/messages/index.ts
  modules/account-lib/test/unit/utils/messages/index.ts
  modules/sdk-coin-ada/src/lib/messages/cip8/cip8MessageBuilder.ts
  modules/sdk-core/src/account-lib/baseCoin/messages/baseMessageBuilder.ts
  modules/sdk-core/src/account-lib/baseCoin/messages/iface.ts
  modules/sdk-core/src/account-lib/baseCoin/messages/simple/simpleMessageBuilder.ts
Due: account-lib

feat(sdk-core): use common isMessageWhitelisted() function
  examples/ts/build-message.ts
  examples/ts/sign-message.ts
  modules/account-lib/src/index.ts
  modules/account-lib/src/utils/index.ts
  modules/account-lib/test/unit/utils/messages/index.ts
  modules/account-lib/test/unit/verifyMessage.ts
  modules/sdk-coin-ada/src/lib/messages/cip8/cip8MessageBuilder.ts
  modules/sdk-core/src/account-lib/baseCoin/messages/baseMessage.ts
  modules/sdk-core/src/account-lib/baseCoin/messages/baseMessageBuilder.ts
  modules/sdk-core/src/account-lib/baseCoin/messages/baseMessageBuilderFactory.ts
  modules/sdk-core/src/account-lib/baseCoin/messages/iface.ts
  modules/sdk-core/src/account-lib/baseCoin/messages/index.ts
  modules/sdk-core/src/account-lib/baseCoin/messages/messageTypes.ts
  modules/sdk-core/src/account-lib/baseCoin/messages/midnight.ts
  modules/sdk-core/src/account-lib/baseCoin/messages/simple/simpleMessage.ts
  modules/sdk-core/src/account-lib/baseCoin/messages/simple/simpleMessageBuilder.ts
  modules/sdk-core/src/account-lib/baseCoin/messages/utils.ts
  modules/sdk-core/src/bitgo/baseCoin/iBaseCoin.ts
  modules/sdk-core/src/bitgo/utils/index.ts
  modules/sdk-core/src/bitgo/utils/tss/baseTSSUtils.ts
  modules/sdk-core/src/bitgo/utils/tss/baseTypes.ts
  modules/sdk-core/test/unit/account-lib/mpc/tss/ecdsa/fixtures.ts
Due: account-lib

refactor: import should without (=)
  modules/account-lib/src/index.ts
  modules/sdk-coin-ada/test/unit/ada.ts
  modules/sdk-coin-asi/test/unit/asi.ts
  modules/sdk-coin-atom/test/unit/atom.ts
  modules/sdk-coin-baby/test/unit/baby.ts
  modules/sdk-coin-bld/test/unit/bld.ts
  modules/sdk-coin-coreum/test/unit/coreum.ts
  modules/sdk-coin-cronos/test/unit/cronos.ts
  modules/sdk-coin-dot/test/unit/dot.ts
  modules/sdk-coin-hash/test/unit/hash.ts
  modules/sdk-coin-initia/test/unit/initia.ts
  modules/sdk-coin-injective/test/unit/injective.ts
  modules/sdk-coin-islm/test/unit/islm.ts
  modules/sdk-coin-mantra/test/unit/mantra.ts
  modules/sdk-coin-osmo/test/unit/osmo.ts
  modules/sdk-coin-rune/test/unit/rune.ts
  modules/sdk-coin-sei/test/unit/sei.ts
  modules/sdk-coin-tia/test/unit/tia.ts
  modules/sdk-coin-zeta/test/unit/zeta.ts
Due: account-lib

Revert "refactor: import should without (=)"
  examples/ts/build-message.ts
  examples/ts/sign-message.ts
  modules/abstract-eth/src/lib/messages/eip191/eip191MessageBuilder.ts
  modules/account-lib/src/index.ts
  modules/account-lib/test/unit/utils/messages/index.ts
  modules/account-lib/test/unit/verifyMessage.ts
  modules/sdk-coin-ada/src/lib/messages/cip8/cip8MessageBuilder.ts
  modules/sdk-coin-ada/test/unit/ada.ts
  modules/sdk-coin-asi/test/unit/asi.ts
  modules/sdk-coin-atom/test/unit/atom.ts
  modules/sdk-coin-baby/test/unit/baby.ts
  modules/sdk-coin-bld/test/unit/bld.ts
  modules/sdk-coin-coreum/test/unit/coreum.ts
  modules/sdk-coin-cronos/test/unit/cronos.ts
  modules/sdk-coin-dot/test/unit/dot.ts
  modules/sdk-coin-hash/test/unit/hash.ts
  modules/sdk-coin-initia/test/unit/initia.ts
  modules/sdk-coin-injective/test/unit/injective.ts
  modules/sdk-coin-islm/test/unit/islm.ts
  modules/sdk-coin-mantra/test/unit/mantra.ts
  modules/sdk-coin-osmo/test/unit/osmo.ts
  modules/sdk-coin-rune/test/unit/rune.ts
  modules/sdk-coin-sei/test/unit/sei.ts
  modules/sdk-coin-tia/test/unit/tia.ts
  modules/sdk-coin-zeta/test/unit/zeta.ts
  modules/sdk-core/src/account-lib/baseCoin/messages/baseMessageBuilder.ts
  modules/sdk-core/src/account-lib/baseCoin/messages/iface.ts
  modules/sdk-core/src/account-lib/baseCoin/messages/midnight.ts
  modules/sdk-core/src/account-lib/baseCoin/messages/simple/simpleMessageBuilder.ts
  modules/sdk-core/src/account-lib/baseCoin/messages/utils.ts
  modules/sdk-core/src/bitgo/walletUtil/signAccountBasedMidnightClaimMessages.ts
  modules/sdk-core/test/unit/account-lib/mpc/tss/ecdsa/fixtures.ts
  yarn.lock
Due: account-lib

feat(statics): add go account support for mantra
  modules/statics/src/coins/ofcCoins.ts
Due: statics

fix(sdk-coin-near): revert consolidation verification logic
  modules/sdk-coin-near/src/near.ts
  modules/sdk-coin-near/src/nep141Token.ts
  modules/sdk-coin-near/test/unit/near.ts
  modules/sdk-coin-near/test/unit/nep141Token.ts
Due: none

fix(yarn): update yarn.lock with missing versions
  yarn.lock
Due: none

fix(deps): update yarn.lock with missing versions
  yarn.lock
Due: none

fix(deps): update yarn.lock
  yarn.lock
Due: none

fix(sdk-coin-avaxp): update utxo selection to also check STAKEABLE_LOCK_OUT noticed that some utxo will be of type 22 with locktim 0 those are eligible to be used for transactions
  modules/sdk-coin-avaxp/src/lib/atomicTransactionBuilder.ts
  modules/sdk-coin-avaxp/src/lib/delegatorTxBuilder.ts
  modules/sdk-coin-avaxp/src/lib/iface.ts
  modules/sdk-coin-avaxp/src/lib/permissionlessValidatorTxBuilder.ts
  modules/sdk-coin-avaxp/src/lib/utxoEngine.ts
  modules/sdk-coin-avaxp/test/resources/avaxp.ts
Due: none

fix(deps): update yarn.lock file
  yarn.lock
Due: none

fix: include all package.json files in lerna cache key
  .github/workflows/ci.yml
Due: none

refactor: removed the complex pipe type since it is incompatible with the openapi-generator
  modules/express/openapi-generator.rc.js
  modules/express/src/typedRoutes/api/v2/ofcSignPayload.ts
Due: express

feat(express): migrate wallet signTx to typed routes
  modules/express/src/clientRoutes.ts
  modules/express/src/typedRoutes/api/index.ts
  modules/express/src/typedRoutes/api/v2/walletSignTx.ts
  modules/express/test/unit/typedRoutes/walletSignTx.ts
Due: express

feat(sdk-coin-canton): added wallet initialization builder class Ticket: COIN-5917
  modules/sdk-coin-canton/src/lib/constant.ts
  modules/sdk-coin-canton/src/lib/iface.ts
  modules/sdk-coin-canton/src/lib/index.ts
  modules/sdk-coin-canton/src/lib/transaction/transaction.ts
  modules/sdk-coin-canton/src/lib/transactionBuilder.ts
  modules/sdk-coin-canton/src/lib/utils.ts
  modules/sdk-coin-canton/src/lib/walletInitBuilder.ts
  modules/sdk-coin-canton/src/lib/walletInitialization/walletInitTransaction.ts
  modules/sdk-coin-canton/src/lib/walletInitialization/walletInitializationTransaction.ts
  modules/sdk-coin-canton/test/resources.ts
  modules/sdk-coin-canton/test/unit/builder/walletInit/walletInitBuilder.ts
  modules/sdk-coin-canton/test/unit/utils.ts
Due: none

refactor(sdk-coin-sol): token 2022 transfer hook config cleanup removedunused fields from token 2022 transfer hook configs Ticket: WIN-7258
  modules/sdk-coin-sol/src/config/token2022StaticConfig.ts
  modules/sdk-coin-sol/src/lib/token2022Config.ts
  modules/sdk-coin-sol/test/unit/solInstructionFactory.ts
Due: none

feat(express): added type from public types
  modules/express/src/clientRoutes.ts
  modules/express/src/typedRoutes/api/v2/walletSignTx.ts
Due: express

refactor(sdk-coin-apt): changes to convert argument by abi method
  modules/sdk-coin-apt/src/lib/transaction/customTransaction.ts
  modules/sdk-coin-apt/src/lib/utils.ts
  modules/sdk-coin-apt/test/unit/customTransaction.test.ts
Due: none

fix: upgrade public types version
  modules/abstract-lightning/package.json
  modules/bitgo/package.json
  modules/sdk-coin-sol/package.json
  yarn.lock
Due: bitgo

feat(babylonlabs-io-btc-staking-ts): change private fields to protected
  modules/babylonlabs-io-btc-staking-ts/src/staking/manager.ts
Due: none

feat(babylonlabs-io-btc-staking-ts): change createBtcDelegationMsg method to public
  modules/babylonlabs-io-btc-staking-ts/src/staking/manager.ts
Due: none

fix(babylonlabs-io-btc-staking-ts): update package metadata for BitGo fork
  modules/babylonlabs-io-btc-staking-ts/package.json
Due: none

fix(babylonlabs-io-btc-staking-ts): add BitGo-specific exports
  modules/babylonlabs-io-btc-staking-ts/src/index.ts
Due: none

feat(babylonlabs-io-btc-staking-ts): add channel param to protobuf message creation
  modules/babylonlabs-io-btc-staking-ts/src/staking/manager.ts
Due: none

fix(babylonlabs-io-btc-staking-ts): simplify README to identify as fork
  modules/babylonlabs-io-btc-staking-ts/README.md
Due: none

feat(babylonlabs-io-btc-staking-ts): add build directory to gitignore
  modules/babylonlabs-io-btc-staking-ts/.gitignore
Due: none

feat(abstract-utxo): use secp256k1 for bip32 operations
  modules/abstract-utxo/package.json
  modules/abstract-utxo/src/abstractUtxoCoin.ts
  modules/abstract-utxo/src/descriptor/builder/parse.ts
  modules/abstract-utxo/src/descriptor/createWallet/createDescriptorWallet.ts
  modules/abstract-utxo/src/keychains.ts
  modules/abstract-utxo/src/offlineVault/OfflineVaultHalfSigned.ts
  modules/abstract-utxo/src/offlineVault/OfflineVaultSignable.ts
  modules/abstract-utxo/src/recovery/crossChainRecovery.ts
  modules/abstract-utxo/src/transaction/fixedScript/explainTransaction.ts
  modules/abstract-utxo/src/transaction/fixedScript/signTransaction.ts
  modules/abstract-utxo/src/transaction/signTransaction.ts
  modules/abstract-utxo/src/verifyKey.ts
  modules/utxo-core/package.json
  modules/utxo-core/src/bip32utils.ts
  modules/utxo-core/src/descriptor/psbt/sign.ts
  modules/utxo-core/src/testutil/descriptor/descriptors.ts
  modules/utxo-core/src/testutil/key.utils.ts
  modules/utxo-core/test/bip32utils.ts
  modules/utxo-core/test/paygo/psbt/payGoAddressProof.ts
Due: none

feat(utxo-lib): use @bitgo/secp256k1 instead of internal noble_ecc
  modules/utxo-lib/package.json
  modules/utxo-lib/src/bitgo/Musig2.ts
  modules/utxo-lib/src/bitgo/keyutil.ts
  modules/utxo-lib/src/bitgo/legacysafe/index.ts
  modules/utxo-lib/src/bitgo/outputScripts.ts
  modules/utxo-lib/src/bitgo/signature.ts
  modules/utxo-lib/src/bitgo/wallet/psbt/RootNodes.ts
  modules/utxo-lib/src/index.ts
  modules/utxo-lib/src/noble_ecc.ts
  modules/utxo-lib/src/payments/p2tr.ts
  modules/utxo-lib/src/taproot.ts
  modules/utxo-lib/src/templates/taprootnofn/output.ts
  modules/utxo-lib/src/testutil/keys.ts
  modules/utxo-lib/src/transaction_builder.ts
  modules/utxo-lib/test/bitgo/keyutil.ts
Due: none

feat(utxo-lib): use ECPair instead of @noble/secp256k1 for signing
  modules/utxo-lib/src/testutil/mock.ts
Due: none

Path conditions:
  bitgo: any of: modules/bitgo
  account-lib: any of: modules/account-lib
  statics: any of: modules/statics
  express: any of: modules/express
