Repository BitGo/BitGoJS: changes, and which Codecov flags are due for each by the changed paths.
All: bitgo, account-lib, statics, express

fix(statics): remove staking feature from ADA tokens
  modules/statics/src/coinFeatures.ts
Due: statics

fix(karma): bump up karma version
  modules/bitgo/package.json
  yarn.lock
Due: bitgo

fix: bump up karma version
  modules/bitgo/package.json
  yarn.lock
Due: bitgo

feat(statics): change mantra to new cosmos structure
  modules/statics/src/networks.ts
Due: statics

feat(statics): add shared cosmos coin feature for mantra
  modules/statics/src/allCoinsAndTokens.ts
Due: statics

feat(sdk-coin-mantra): removing mantra module
  modules/account-lib/package.json
  modules/account-lib/src/index.ts
  modules/bitgo/package.json
  modules/bitgo/src/v2/coinFactory.ts
  modules/bitgo/src/v2/coins/index.ts
Due: bitgo, account-lib

feat(sdk-coin-cosmos): add mantra test for cosmos module
  modules/sdk-coin-cosmos/test/resources/mantra.ts
Due: none

chore: update mainnet api url for plasma and kavaevm
  modules/sdk-core/src/bitgo/environments.ts
Due: none

Revert "fix: revert bsc send many"
  modules/statics/src/coinFeatures.ts
  modules/statics/test/unit/coins.ts
Due: statics

fix(express): express cookie package upgrade upgraded express, cookie pakages versions to fix cookie vlidation vulnerability Ticket: DX-1550
  modules/bitgo/package.json
  package.json
  yarn.lock
Due: bitgo

chore: unit tests and credential change
  modules/sdk-coin-flrp/src/flrp.ts
  modules/sdk-coin-flrp/src/lib/atomicTransactionBuilder.ts
  modules/sdk-coin-flrp/src/lib/exportInCTxBuilder.ts
  modules/sdk-coin-flrp/test/unit/flrp.ts
  modules/sdk-coin-flrp/test/unit/lib/atomicTransactionBuilder.ts
  modules/sdk-coin-flrp/test/unit/lib/exportTxBuilder.ts
  modules/sdk-coin-flrp/test/unit/lib/utils.ts
  modules/sdk-coin-flrp/test/unit/smoke.ts
Due: none

feat(sdk-core): bulk sign account based midnight claim messages
  examples/ts/bulk-sign-account-based-midnight-claim-messages.ts
  modules/sdk-core/src/bitgo/walletUtil/iMessageProvider.ts
  modules/sdk-core/src/bitgo/walletUtil/index.ts
  modules/sdk-core/src/bitgo/walletUtil/midnightMessageProvider.ts
  modules/sdk-core/src/bitgo/walletUtil/signAccountBasedMidnightClaimMessages.ts
  modules/sdk-core/src/bitgo/walletUtil/utxoMessageProof.ts
Due: none

feat: add statics and configuration for flow
  modules/sdk-core/src/bitgo/environments.ts
  modules/statics/src/allCoinsAndTokens.ts
  modules/statics/src/base.ts
  modules/statics/src/networks.ts
  modules/statics/test/unit/fixtures/expectedColdFeatures.ts
Due: statics

feat(sdk-coin-ada): add fingerprint as the contract address
  modules/sdk-coin-ada/src/adaToken.ts
  modules/statics/src/account.ts
  modules/statics/src/coins.ts
  modules/statics/src/coins/adaTokens.ts
  modules/statics/src/tokenConfig.ts
Due: statics

chore: export token transfer transaction
  modules/sdk-coin-tao/src/lib/index.ts
Due: none

fix: bump up follow-redirects version
  package.json
  yarn.lock
Due: none

fix(sdk-coin-sol): cannot blind sing enablemenet sol tokens
  modules/sdk-coin-sol/src/sol.ts
  modules/sdk-coin-sol/test/fixtures/sol.ts
  modules/sdk-coin-sol/test/unit/sol.ts
Due: none

feat(express): typed router for verifycoinaddress
  modules/express/encryptedPrivKeys.json
  modules/express/src/clientRoutes.ts
  modules/express/src/typedRoutes/api/index.ts
  modules/express/test/unit/typedRoutes/decode.ts
Due: express

feat(express): typed router for verifycoinaddress
  modules/express/src/typedRoutes/api/v2/verifyAddress.ts
Due: express

feat(express): typed router for verifycoinaddress
  modules/express/encryptedPrivKeys.json
Due: express

docs: changed docs for request body
  modules/express/src/typedRoutes/api/v2/verifyAddress.ts
Due: express

feat(express): migrate signpayload to typed routes
  modules/express/src/clientRoutes.ts
  modules/express/src/typedRoutes/api/index.ts
  modules/express/src/typedRoutes/api/v2/ofcSignPayload.ts
  modules/express/test/unit/typedRoutes/decode.ts
Due: express

refactor: code
  modules/express/src/clientRoutes.ts
  modules/express/src/typedRoutes/api/v2/ofcSignPayload.ts
  modules/express/test/unit/clientRoutes/signPayload.ts
Due: express

refactor: change to leverage decoded values
  modules/express/src/clientRoutes.ts
Due: express

refactor: added dependency io-ts-type to package.json
  modules/express/package.json
Due: express

feat: added statics config for MegaEth and Plume
  modules/sdk-core/src/bitgo/environments.ts
  modules/statics/src/allCoinsAndTokens.ts
  modules/statics/src/base.ts
  modules/statics/src/networks.ts
  modules/statics/test/unit/fixtures/expectedColdFeatures.ts
Due: statics

feat: add Flare token support and related configurations
  modules/bitgo/src/v2/coinFactory.ts
  modules/bitgo/src/v2/coins/index.ts
  modules/bitgo/test/browser/browser.spec.ts
  modules/sdk-coin-flr/src/flrToken.ts
  modules/sdk-coin-flr/src/index.ts
  modules/sdk-coin-flr/src/register.ts
  modules/sdk-coin-flr/test/unit/flrToken.ts
  modules/statics/src/account.ts
  modules/statics/src/allCoinsAndTokens.ts
  modules/statics/src/base.ts
  modules/statics/src/tokenConfig.ts
Due: bitgo, statics

feat(statics): enable shared cosmos wp for mantra
  modules/statics/src/allCoinsAndTokens.ts
Due: statics

chore: add claude prompt
  .github/prompts/code-review.md
  .github/workflows/claude-pr.yml
Due: none

test: sol naming convention
  modules/statics/test/unit/tokenNamingConvention.ts
Due: statics

feat(sdk-coin-ton): add jetton skeleton
  modules/bitgo/src/v2/coinFactory.ts
  modules/sdk-coin-ton/src/index.ts
  modules/sdk-coin-ton/src/register.ts
  modules/sdk-coin-ton/src/tonToken.ts
  modules/statics/src/account.ts
  modules/statics/src/tokenConfig.ts
Due: bitgo, statics

chore: add EVM_COMPATIBLE_WP feature to plume
  modules/statics/src/allCoinsAndTokens.ts
Due: statics

feat: update flow,tflow to have EVM_COMPATIBLE_WP feature
  modules/statics/src/allCoinsAndTokens.ts
Due: statics

refactor(sdk-coin-cosmos): removing addition file and fix imports
  modules/sdk-coin-cosmos/test/resources/index.ts
  modules/sdk-coin-cosmos/test/testUtils/utils.ts
  modules/sdk-coin-cosmos/test/unit/cosmosSharedCoin.ts
  modules/sdk-coin-cosmos/test/unit/register.ts
  modules/sdk-coin-cosmos/test/unit/transactionBuilder/transactionBuilder.ts
  modules/sdk-coin-cosmos/test/unit/transactionBuilder/transferBuilder.ts
  modules/sdk-coin-cosmos/test/unit/utils.ts
Due: none

feat(sdk-coin-tao): add moveStakeBuilder
  modules/abstract-substrate/src/lib/iface.ts
  modules/abstract-substrate/src/lib/txnSchema.ts
  modules/abstract-substrate/src/lib/utils.ts
  modules/sdk-coin-tao/src/lib/constants.ts
  modules/sdk-coin-tao/src/lib/iface.ts
  modules/sdk-coin-tao/src/lib/index.ts
  modules/sdk-coin-tao/src/lib/moveStakeBuilder.ts
  modules/sdk-coin-tao/src/lib/moveStakeTransaction.ts
  modules/sdk-coin-tao/src/lib/transactionBuilderFactory.ts
  modules/sdk-coin-tao/test/unit/transactionBuilder/moveStakeBuilder.ts
Due: none

fix: Remove deprecated requests and requests-promise dependencies - replaced one requests-promise usage with superagent.
  modules/bitgo/package.json
  yarn.lock
Due: bitgo

fix: Remove deprecated requests and requests-promise dependencies - replaced one requests-promise usage with superagent.
  modules/bitgo/package.json
  modules/bitgo/test/unit/bitgo.ts
  yarn.lock
Due: bitgo

feat: create claims data script
  examples/ts/create-claims-data.ts
Due: none

fix: don't catch the exception thrown form sign or build methods
  modules/sdk-core/src/bitgo/walletUtil/signAccountBasedMidnightClaimMessages.ts
Due: none

feat(express): migrate init wallet to typed routes
  modules/express/src/clientRoutes.ts
  modules/express/src/lightning/lightningSignerRoutes.ts
  modules/express/src/typedRoutes/api/index.ts
  modules/express/test/unit/clientRoutes/lightning/lightningSignerRoutes.ts
  modules/express/test/unit/typedRoutes/decode.ts
Due: express

Path conditions:
  bitgo: any of: modules/bitgo
  account-lib: any of: modules/account-lib
  statics: any of: modules/statics
  express: any of: modules/express
