Repository BitGo/BitGoJS: changes, and which Codecov flags are due for each by the changed paths.
All: bitgo, account-lib, statics, express

.codecov.yml:

coverage:
  status:
    project: off
    patch: off
comment:
  layout: 'diff, flags, files'
  require_changes: true
flags:
  bitgo:
    paths:
      - modules/bitgo
  account-lib:
    paths:
      - modules/account-lib
  statics:
    paths:
      - modules/statics
  express:
    paths:
      - modules/express

chore(sdk-lib-mpc): use xit instead of comment
  modules/sdk-lib-mpc/test/unit/tss/ecdsa/paillierBlumProof.ts
Due: none

chore(sdk-lib-mpc): regenerate fixtures
  modules/sdk-lib-mpc/test/fixtures/mockPaillierBlumProof.json
  modules/sdk-lib-mpc/test/unit/tss/ecdsa/paillierBlumProof.ts
Due: none

chore(sdk-lib-mpc): increase timeout
  modules/sdk-lib-mpc/.mocharc.js
Due: none

chore(sdk-lib-mpc): update rangeProof import
  modules/sdk-lib-mpc/test/unit/tss/ecdsa/dlogproofs.ts
Due: none

chore(sdk-lib-mpc): update paillierProof import
  modules/sdk-lib-mpc/test/unit/tss/ecdsa/paillierproof.ts
Due: none

chore(sdk-lib-mpc): prettier
  modules/sdk-lib-mpc/test/fixtures/mockPaillierBlumProof.json
Due: none

chore(sdk-lib-mpc): skip prove and verify
  modules/sdk-lib-mpc/.mocharc.js
  modules/sdk-lib-mpc/test/unit/tss/ecdsa/paillierBlumProof.ts
Due: none

chore(sdk-lib-mpc): increase timeout for prove tests
  modules/sdk-lib-mpc/.mocharc.js
Due: none

feat(sdk-core): commit to partial public key
  modules/account-lib/test/unit/mpc/tss/ecdsa/ecdsa.ts
  modules/sdk-core/src/account-lib/mpc/tss/ecdsa/ecdsa.ts
  modules/sdk-core/src/account-lib/mpc/tss/ecdsa/types.ts
  modules/sdk-core/test/unit/account-lib/mpc/tss/ecdsa/ecdsa.ts
Due: account-lib

chore: add ecdh keychain creation on login
  modules/sdk-api/src/bitgoAPI.ts
  modules/sdk-api/src/types.ts
Due: none

feat(account-lib): add holesky testnet coin
  modules/account-lib/src/index.ts
  modules/bitgo/src/v2/coinFactory.ts
  modules/bitgo/src/v2/coins/index.ts
  modules/bitgo/test/v2/unit/internal/tssUtils/ecdsa.ts
  modules/bitgo/test/v2/unit/mmi.ts
  modules/bitgo/test/v2/unit/tss/ecdsa.ts
  modules/bitgo/test/v2/unit/wallet.ts
  modules/sdk-coin-eth/src/hteth.ts
  modules/sdk-coin-eth/src/index.ts
  modules/sdk-coin-eth/src/register.ts
  modules/sdk-coin-eth/test/unit/transactionBuilder/send.ts
  modules/sdk-coin-eth/test/unit/transactionBuilder/walletInitialization.ts
  modules/sdk-rpc-wrapper/test/fixtures/evmRPCWrapperFixtures.ts
  modules/sdk-rpc-wrapper/test/unit/evmRPCWrapper.ts
  modules/statics/src/tokenConfig.ts
  modules/web-demo/src/components/Coins/coinFactory.ts
Due: bitgo, account-lib, statics

feat: improve logic and add unit test
  modules/bitgo/test/unit/bitgo.ts
  modules/sdk-api/src/bitgoAPI.ts
Due: bitgo

chore: rename new test
  modules/bitgo/test/unit/bitgo.ts
Due: bitgo

chore: address review comments
  modules/bitgo/test/unit/bitgo.ts
  modules/sdk-api/src/bitgoAPI.ts
  modules/sdk-api/src/types.ts
Due: bitgo

fix: ensure no pending mocks linger after test
  modules/bitgo/test/unit/bitgo.ts
Due: bitgo

ci: verify that generated Dockerfile is up to date
  .github/workflows/ci.yml
Due: none

feat(sdk-coin-ada): add support for multi asset in tx building
  modules/sdk-coin-ada/src/lib/transaction.ts
  modules/sdk-coin-ada/src/lib/transactionBuilder.ts
  modules/sdk-coin-ada/test/resources/index.ts
  modules/sdk-coin-ada/test/unit/transactionBuilder.ts
Due: none

chore: updating ethereumjs common
  modules/bitgo/package.json
  modules/sdk-coin-avaxc/package.json
  modules/sdk-coin-bsc/package.json
  modules/sdk-coin-celo/package.json
  modules/sdk-coin-etc/package.json
  modules/sdk-coin-eth/package.json
  modules/sdk-coin-opeth/package.json
  modules/sdk-coin-polygon/package.json
  modules/sdk-coin-rbtc/package.json
  yarn.lock
Due: bitgo

chore(root): release express
  Dockerfile
Due: none

fix(sdk-core): fix dc wallet creation
  modules/sdk-core/src/bitgo/keychain/keychains.ts
  modules/sdk-core/src/bitgo/wallet/wallets.ts
Due: none

feat(statics): add new coinfeature for bulk transaction
  modules/statics/src/base.ts
  modules/statics/src/coins.ts
Due: statics

chore(sdk-core): enforce use of build codec
  modules/sdk-core/src/bitgo/wallet/wallet.ts
Due: none

feat: use psbt for prebuild when wallet is distributedCustody
  modules/abstract-utxo/src/abstractUtxoCoin.ts
  modules/sdk-core/src/bitgo/wallet/wallet.ts
Due: none

fix(sdk-coin-ada): add separate UTXOs for each token with 1 ADA
  modules/sdk-coin-ada/src/lib/transactionBuilder.ts
  modules/sdk-coin-ada/test/resources/index.ts
  modules/sdk-coin-ada/test/unit/transactionBuilder.ts
Due: none

chore(root): fix sdk-coin-dot
  package.json
Due: none

fix(sdk-coin-dot): set DOT version
  package.json
Due: none

chore(sdk-coin-polkadot): bump to latest polkadot libs
  modules/sdk-coin-dot/package.json
  yarn.lock
Due: none

fix(root): fix test
  modules/sdk-coin-dot/package.json
  package.json
  yarn.lock
Due: none

fix(sdk-coin-dot): don't pin polkadot deps
  package.json
Due: none

fix(account-lib): pin substrate txwrapper
  modules/account-lib/package.json
Due: account-lib

fix(sdk-coin-dot): update dot deps to latest
  modules/account-lib/package.json
  modules/sdk-coin-dot/package.json
  package.json
  yarn.lock
Due: account-lib

fix(sdk-coin-sui): parse recipients for custom tx Ticket: EA-1998
  modules/sdk-coin-sui/src/lib/utils.ts
  modules/sdk-coin-sui/test/resources/sui.ts
  modules/sdk-coin-sui/test/unit/transactionBuilder/customTransactionBuilder.ts
Due: none

chore(deps): bump crypto-js from 4.1.1 to 4.2.0
  yarn.lock
Due: none

fix: rename coin 'core' to 'coreum' in coinBuilderMap
  modules/account-lib/src/index.ts
Due: account-lib
