Repository BitGo/BitGoJS: changes, and which Codecov flags are due for each by the changed paths.
All: bitgo, account-lib, statics, express

.codecov.yml:

coverage:
  status:
    project: off
    patch: off
comment:
  layout: "diff, flags, files"
  require_changes: true
flags:
  bitgo:
    paths:
      - modules/core
  account-lib:
    paths:
      - modules/account-lib
  statics:
    paths:
      - modules/statics
  express:
    paths:
      - modules/express

fix(core): add algo seed encoding
  modules/account-lib/src/coin/algo/seedEncoding.ts
  modules/account-lib/test/unit/coin/algo/seedEncoding.ts
  modules/core/src/v2/coins/algo.ts
Due: bitgo, account-lib

refactor(core): remove old algosdk
  modules/core/package.json
  modules/core/src/v2/internal/seedValidator.ts
  yarn.lock
Due: bitgo

fix(hbar): fix sign and verify for hex encoded hbar message
  modules/account-lib/src/coin/baseCoin/ed25519KeyPair.ts
  modules/account-lib/test/unit/coin/hbar/keyPair.ts
Due: account-lib

fix(bitgojs): revert revert of algo-tokens changes
  modules/account-lib/package.json
  modules/account-lib/src/coin/algo/assetTransferBuilder.ts
  modules/account-lib/src/coin/algo/errors.ts
  modules/account-lib/src/coin/algo/ifaces.ts
  modules/account-lib/src/coin/algo/index.ts
  modules/account-lib/src/coin/algo/keyPair.ts
  modules/account-lib/src/coin/algo/keyRegistrationBuilder.ts
  modules/account-lib/src/coin/algo/transaction.ts
  modules/account-lib/src/coin/algo/transactionBuilder.ts
  modules/account-lib/src/coin/algo/transactionBuilderFactory.ts
  modules/account-lib/src/coin/algo/transferBuilder.ts
  modules/account-lib/src/coin/algo/txnSchema.ts
  modules/account-lib/src/coin/algo/utils.ts
  modules/account-lib/src/utils/crypto.ts
  modules/account-lib/test/resources/algo/index.ts
  modules/account-lib/test/unit/coin/algo/keyPair.ts
  modules/account-lib/test/unit/coin/algo/transaction.ts
  modules/account-lib/test/unit/coin/algo/transactionBuilder/assetTransferBuilder.ts
  modules/account-lib/test/unit/coin/algo/transactionBuilder/base.ts
  modules/account-lib/test/unit/coin/algo/transactionBuilder/keyRegistrationBuilder.ts
  modules/account-lib/test/unit/coin/algo/transactionBuilder/transactionBuilderFactory.ts
  modules/account-lib/test/unit/coin/algo/transactionBuilder/transferBuilder.ts
  modules/account-lib/test/unit/coin/algo/utils.ts
  modules/core/src/config.ts
  modules/core/src/v2/baseCoin.ts
  modules/core/src/v2/coinFactory.ts
  modules/core/src/v2/coins/algo.ts
  modules/core/src/v2/coins/algoToken.ts
  modules/core/src/v2/coins/index.ts
  modules/core/src/v2/wallet.ts
  modules/core/test/browser/browser.spec.ts
  modules/core/test/v2/fixtures/coins/algo.ts
  modules/core/test/v2/unit/coins/algo.ts
  modules/statics/src/index.ts
  yarn.lock
Due: bitgo, account-lib, statics

fix(core): fixed TAT issues
  modules/core/src/v2/coins/algo.ts
Due: bitgo

fix(algo tokens): update also tokens to use base chain as identifier for explainTransaction
  modules/core/src/v2/coins/algo.ts
  modules/core/src/v2/coins/algoToken.ts
  modules/core/test/v2/unit/coins/algoToken.ts
  modules/statics/src/index.ts
Due: bitgo, statics

feat(account lib): get trx fee limit from statics
  modules/account-lib/src/coin/trx/contractCallBuilder.ts
  modules/account-lib/test/unit/coin/trx/transactionBuilder/contractCallBuilder.ts
Due: account-lib

feat(account-lib): addition of getTxId method for multisig txn
  modules/account-lib/src/coin/algo/utils.ts
  modules/account-lib/test/resources/algo/index.ts
  modules/account-lib/test/unit/coin/algo/utils.ts
Due: account-lib

chore(core): remove insecure modules from webpack
  modules/account-lib/src/coin/baseCoin/blsKeyPair.ts
  modules/account-lib/webpack.config.js
  modules/core/browser-template.html
  modules/core/karma.conf.js
  modules/core/test/browser/karmaHelper.js
  modules/core/webpack.config.js
Due: bitgo, account-lib

chore(statics): update eos testnet tokens
  modules/statics/src/base.ts
  modules/statics/src/coins.ts
Due: statics

refactor(account-lib): add calculateForwarderV1Address method BG-35735
  modules/account-lib/package.json
  modules/account-lib/src/coin/eth/utils.ts
  modules/account-lib/test/resources/eth/eth.ts
  modules/account-lib/test/unit/coin/eth/utils.ts
  yarn.lock
Due: account-lib

chore(utxo-lib): depend on @bitgo/bitcoinjs-lib@6.0.0
  modules/utxo-lib/package.json
  modules/utxo-lib/src/bitgo/UtxoTransactionBuilder.ts
  yarn.lock
Due: none

chore(root): update .drone.yml
  .drone.yml
Due: none

feat(account-lib): support new fee model in EthTransactionData
  modules/account-lib/src/coin/celo/transaction.ts
  modules/account-lib/src/coin/celo/types.ts
  modules/account-lib/src/coin/celo/utils.ts
  modules/account-lib/src/coin/eth/iface.ts
  modules/account-lib/src/coin/eth/transactionBuilder.ts
  modules/account-lib/src/coin/eth/types.ts
  modules/account-lib/src/coin/eth/utils.ts
  modules/account-lib/test/resources/celo/celo.ts
  modules/account-lib/test/resources/etc/etc.ts
  modules/account-lib/test/resources/eth/eth.ts
  modules/account-lib/test/resources/rbtc/rbtc.ts
  modules/account-lib/test/unit/coin/avaxc/transactionBuilder/transfer.ts
  modules/account-lib/test/unit/coin/avaxc/transactionBuilder/walletInitializationBuilder.ts
  modules/account-lib/test/unit/coin/avaxc/util.ts
  modules/account-lib/test/unit/coin/eth/transaction.ts
  modules/account-lib/test/unit/coin/eth/transactionBuilder/flushCoins.ts
  modules/account-lib/test/unit/coin/eth/transactionBuilder/flushTokens.ts
  modules/account-lib/test/unit/coin/eth/transactionBuilder/singleSigSend.ts
  modules/account-lib/test/unit/coin/eth/transactionBuilder/walletInitialization.ts
  modules/account-lib/test/unit/coin/eth/utils.ts
Due: account-lib

chore(release): publish modules
  modules/account-lib/package.json
  modules/core/package.json
  modules/express/package-lock.json
  modules/express/package.json
  modules/statics/package.json
  modules/utxo-lib/package.json
Due: bitgo, account-lib, statics, express

fix: correctly regenerate .drone.yml
  .drone.yml
  yarn.lock
Due: none

feat(utxo-lib): export address check types
  modules/utxo-lib/src/address.ts
Due: none

fix(statics): change Goerli ETH underlying asset from ETH to GTETH
  modules/statics/src/base.ts
  modules/statics/src/coins.ts
Due: statics

feat(account lib): add new fee model to transaction builder
  modules/account-lib/package.json
  modules/account-lib/src/coin/eth/transactionBuilder.ts
  modules/account-lib/test/unit/coin/eth/transactionBuilder/flushTokens.ts
  yarn.lock
Due: account-lib

feat(statics): add new tokens
  modules/statics/src/base.ts
  modules/statics/src/coins.ts
Due: statics

feat(core): eos token configuration
  modules/core/src/config.ts
  modules/core/src/v2/coinFactory.ts
  modules/core/src/v2/coins/eosToken.ts
  modules/core/src/v2/coins/index.ts
  modules/core/test/browser/browser.spec.ts
  modules/core/test/v2/unit/coins/eosToken.ts
Due: bitgo

feat(account-lib): update eth behavior require by hsm3 Add v field value in half sign and no sign transaction STLX-6757
  modules/account-lib/src/coin/celo/transactionBuilder.ts
  modules/account-lib/src/coin/eth/transactionBuilder.ts
  modules/account-lib/src/coin/eth/types.ts
  modules/account-lib/test/unit/coin/avaxc/transactionBuilder/transfer.ts
  modules/account-lib/test/unit/coin/avaxc/transactionBuilder/walletInitializationBuilder.ts
  modules/account-lib/test/unit/coin/avaxc/util.ts
  modules/account-lib/test/unit/coin/celo/transactionBuilder/send.ts
  modules/account-lib/test/unit/coin/celo/transactionBuilder/walletInitialization.ts
  modules/account-lib/test/unit/coin/etc/transactionBuilder/send.ts
  modules/account-lib/test/unit/coin/etc/transactionBuilder/walletInitialization.ts
  modules/account-lib/test/unit/coin/eth/transactionBuilder/contractCall.ts
  modules/account-lib/test/unit/coin/eth/transactionBuilder/flushCoins.ts
  modules/account-lib/test/unit/coin/eth/transactionBuilder/flushTokens.ts
  modules/account-lib/test/unit/coin/eth/transactionBuilder/singleSigSend.ts
  modules/account-lib/test/unit/coin/eth/transactionBuilder/walletInitialization.ts
  modules/account-lib/test/unit/coin/rbtc/transactionBuilder/send.ts
  modules/account-lib/test/unit/coin/rbtc/transactionBuilder/walletInitialization.ts
Due: account-lib

feat(account-lib): addition of getTxId method for multisig txn
  modules/account-lib/package.json
  modules/account-lib/src/coin/algo/assetTransferBuilder.ts
  modules/account-lib/src/coin/algo/keyPair.ts
  modules/account-lib/src/coin/algo/keyRegistrationBuilder.ts
  modules/account-lib/src/coin/algo/seedEncoding.ts
  modules/account-lib/src/coin/algo/transaction.ts
  modules/account-lib/src/coin/algo/utils.ts
  modules/account-lib/test/resources/algo/index.ts
  modules/account-lib/test/unit/coin/algo/keyPair.ts
  modules/account-lib/test/unit/coin/algo/seedEncoding.ts
  modules/account-lib/test/unit/coin/algo/transactionBuilder/assetTransferBuilder.ts
  modules/account-lib/test/unit/coin/algo/transactionBuilder/base.ts
  modules/account-lib/test/unit/coin/algo/transactionBuilder/transactionBuilderFactory.ts
  modules/account-lib/test/unit/coin/algo/utils.ts
  modules/core/test/v2/unit/coins/algo.ts
  yarn.lock
Due: bitgo, account-lib

chore(express): update sdk to bitgo@^13.0.0
  modules/express/package-lock.json
Due: express

chore(release): publish modules
  modules/account-lib/package.json
  modules/core/package.json
  modules/express/package-lock.json
  modules/express/package.json
  modules/statics/package.json
Due: bitgo, account-lib, statics, express

fix(account-lib): remove unneeded dependency on @bitgo/utxo-lib
  modules/account-lib/package.json
Due: account-lib

chore(release): publish modules
  modules/account-lib/package.json
  modules/core/package.json
  modules/express/package-lock.json
  modules/express/package.json
Due: bitgo, account-lib, express

fix(teth): add terc tokens with 2,6,18 decimals Ticket: BG-35974
  modules/statics/src/base.ts
  modules/statics/src/coins.ts
  modules/statics/test/unit/coins.ts
Due: statics

fix(account-lib): fix decodeAlgoTxn to maintain backward compatibility with old txs
  modules/account-lib/src/coin/algo/utils.ts
  modules/account-lib/test/resources/algo/index.ts
  modules/account-lib/test/unit/coin/algo/transactionBuilder/transactionBuilderFactory.ts
Due: account-lib
