Repository BitGo/BitGoJS: changes, and which Codecov flags are due for each by the changed paths.
All: bitgo, account-lib, statics, express

.codecov.yml:

coverage:
  status:
    project: off
    patch: off
comment:
  layout: 'diff, flags, files'
  require_changes: true
flags:
  bitgo:
    paths:
      - modules/bitgo
  account-lib:
    paths:
      - modules/account-lib
  statics:
    paths:
      - modules/statics
  express:
    paths:
      - modules/express

fix: remove new tar version
  .iyarc
  package.json
  yarn.lock
Due: none

fix: remove tar resolution that breaks lerna
  .iyarc
  package.json
  yarn.lock
Due: none

chore(root): publish modules
  modules/abstract-utxo/CHANGELOG.md
  modules/abstract-utxo/package.json
  modules/account-lib/CHANGELOG.md
  modules/account-lib/package.json
  modules/bitgo/CHANGELOG.md
  modules/bitgo/package.json
  modules/express/CHANGELOG.md
  modules/express/package.json
  modules/sdk-coin-ada/CHANGELOG.md
  modules/sdk-coin-ada/package.json
  modules/sdk-coin-bch/CHANGELOG.md
  modules/sdk-coin-bch/package.json
  modules/sdk-coin-bcha/CHANGELOG.md
  modules/sdk-coin-bcha/package.json
  modules/sdk-coin-bsv/CHANGELOG.md
  modules/sdk-coin-bsv/package.json
  modules/sdk-coin-btc/CHANGELOG.md
  modules/sdk-coin-btc/package.json
  modules/sdk-coin-btg/CHANGELOG.md
  modules/sdk-coin-btg/package.json
  modules/sdk-coin-dash/CHANGELOG.md
  modules/sdk-coin-dash/package.json
  modules/sdk-coin-doge/CHANGELOG.md
  modules/sdk-coin-doge/package.json
  modules/sdk-coin-flr/CHANGELOG.md
  modules/sdk-coin-flr/package.json
  modules/sdk-coin-flrp/CHANGELOG.md
  modules/sdk-coin-flrp/package.json
  modules/sdk-coin-ltc/CHANGELOG.md
  modules/sdk-coin-ltc/package.json
  modules/sdk-coin-zec/CHANGELOG.md
  modules/sdk-coin-zec/package.json
  modules/utxo-ord/CHANGELOG.md
  modules/utxo-ord/package.json
  modules/web-demo/CHANGELOG.md
  modules/web-demo/package.json
Due: bitgo, account-lib, express

chore: release sdk-core package
  modules/sdk-core/CHANGELOG.md
Due: none

feat(statics): onboard tokens on morph chain
  modules/statics/src/allCoinsAndTokens.ts
  modules/statics/src/base.ts
  modules/statics/src/coins/erc20Coins.ts
  modules/statics/src/coins/ofcErc20Coins.ts
Due: statics

fix: update figure token mainnet denom
  modules/sdk-coin-hash/test/unit/hashToken.ts
  modules/statics/src/coins/cosmosTokens.ts
Due: statics

feat(statics): add MegaETH ERC20 token support
  modules/statics/src/allCoinsAndTokens.ts
  modules/statics/src/base.ts
  modules/statics/src/coins/ofcErc20Coins.ts
  modules/statics/src/map.ts
  modules/statics/src/networks.ts
Due: statics

feat(statics): onboard testnet tokens on morph chain testnet
  modules/statics/src/base.ts
  modules/statics/src/coins/erc20Coins.ts
  modules/statics/src/coins/ofcErc20Coins.ts
Due: statics

feat(statics): add shared cosmos coin feature for kava
  modules/statics/src/allCoinsAndTokens.ts
Due: statics

feat: enable the stuck tx for aptos
  modules/statics/src/coinFeatures.ts
Due: statics

feat: add pre-commit hook to validate lowercase ERC20 contract addresses
  .husky/pre-commit
  scripts/check-erc20-addresses.js
Due: none

feat(sdk-coin-canton): added canton token skeleton Ticket: COIN-7293
  modules/sdk-coin-canton/src/cantonToken.ts
  modules/sdk-coin-canton/src/index.ts
  modules/sdk-coin-canton/src/register.ts
  modules/statics/src/account.ts
  modules/statics/src/coinFeatures.ts
  modules/statics/src/index.ts
  modules/statics/src/tokenConfig.ts
Due: statics

feat(statics): onboard USDM1, eUSX, MYRC, CRE, MEY, CFI, GRTX
  modules/statics/CHANGELOG.md
  modules/statics/src/allCoinsAndTokens.ts
  modules/statics/src/base.ts
  modules/statics/src/coins/erc20Coins.ts
  modules/statics/src/coins/ofcCoins.ts
  modules/statics/src/coins/ofcErc20Coins.ts
  modules/statics/src/coins/solTokens.ts
  modules/statics/test/unit/tokenNamingConvention.ts
Due: statics

chore: updated codeowners for sdk-coin-canton Ticket: COIN-7344
  CODEOWNERS
Due: none

feat(statics): add MegaETH OFC coins
  modules/statics/src/coins/ofcCoins.ts
Due: statics

feat(sdk-coin-ada): support for sponsored txns
  modules/sdk-coin-ada/src/lib/transaction.ts
  modules/sdk-coin-ada/src/lib/transactionBuilder.ts
Due: none

fix(sdk-coin-flrp): update UTXO matching logic Ticket: WIN-8686
  modules/sdk-coin-flrp/src/lib/ExportInPTxBuilder.ts
  modules/sdk-coin-flrp/src/lib/ImportInCTxBuilder.ts
  modules/sdk-coin-flrp/src/lib/ImportInPTxBuilder.ts
  modules/sdk-coin-flrp/test/unit/lib/signatureIndex.ts
Due: none

feat(statics): fix testnet tokens on morph chain testnet
  modules/statics/src/allCoinsAndTokens.ts
  modules/statics/src/coins/erc20Coins.ts
Due: statics

feat(statics): add MegaETH OFC coin definitions
  modules/statics/src/coins/ofcCoins.ts
Due: statics

fix(sdk-coin-trx): fix BANDWIDTH transaction signature mismatch (SIGERROR)
  modules/sdk-coin-trx/src/lib/delegateResourceTxBuilder.ts
  modules/sdk-coin-trx/src/lib/freezeBalanceTxBuilder.ts
  modules/sdk-coin-trx/src/lib/undelegateResourceTxBuilder.ts
  modules/sdk-coin-trx/src/lib/unfreezeBalanceTxBuilder.ts
  modules/sdk-coin-trx/src/lib/utils.ts
  modules/sdk-coin-trx/test/unit/transactionBuilder/delegateResourceTxBuilder.ts
  modules/sdk-coin-trx/test/unit/transactionBuilder/freezeBalanceTxBuilder.ts
  modules/sdk-coin-trx/test/unit/transactionBuilder/undelegateResourceTxBuilder.ts
  modules/sdk-coin-trx/test/unit/transactionBuilder/unfreezeBalanceTxBuilder.ts
Due: none

chore: exclude tar CVE GHSA-r6q2-hw4h-h46w in .iyarc
  .iyarc
Due: none

feat(statics): change kava to new cosmos structure
  .iyarc
  modules/statics/src/networks.ts
Due: statics

feat(statics): enable shared cosmos wp for kava
  .iyarc
  modules/statics/src/allCoinsAndTokens.ts
Due: statics

chore(sdk-coin-polyx): export utils for UI
  modules/sdk-coin-polyx/src/lib/constants.ts
  modules/sdk-coin-polyx/src/lib/index.ts
  modules/sdk-coin-polyx/src/lib/utils.ts
  modules/statics/src/coinFeatures.ts
Due: statics

fix: address validation for SMC wallets
  .iyarc
  modules/sdk-coin-sol/test/unit/sol.ts
  modules/sdk-core/src/bitgo/baseCoin/iBaseCoin.ts
  modules/sdk-core/src/bitgo/utils/tss/addressVerification.ts
  modules/sdk-core/src/bitgo/wallet/wallet.ts
  modules/sdk-core/test/unit/bitgo/utils/tss/addressVerification.ts
  modules/sdk-core/test/unit/bitgo/wallet/walletTssAddressVerification.ts
Due: none

refactor(sdk-core): centralize derivation prefix computation for SMC wallet address verification
  modules/sdk-coin-sol/test/unit/sol.ts
  modules/sdk-core/src/bitgo/baseCoin/iBaseCoin.ts
  modules/sdk-core/src/bitgo/utils/tss/addressVerification.ts
  modules/sdk-core/src/bitgo/wallet/wallet.ts
  modules/sdk-core/test/unit/bitgo/wallet/walletTssAddressVerification.ts
Due: none

feat(sdk-coin-ada): token sponsorship support
  modules/sdk-coin-ada/src/lib/transactionBuilder.ts
  modules/sdk-coin-ada/test/unit/tokenWithdrawal.ts
Due: none

feat(statics): fix ofc tokens on morph chain
  modules/statics/src/coins/ofcErc20Coins.ts
Due: statics

feat(sdk-coin-dot): Skip amount validation for TransferAll transactions
  modules/sdk-coin-dot/src/dot.ts
  modules/sdk-coin-dot/test/unit/dot.ts
Due: none

feat(sdk-coin-dot): Skip amount validation for TransferAll transactions
  modules/sdk-coin-dot/test/unit/dot.ts
Due: none

feat(sdk-coin-flrp): implement UTXO address sorting to ensure signature verification
  modules/sdk-coin-flrp/src/lib/ExportInPTxBuilder.ts
  modules/sdk-coin-flrp/src/lib/ImportInCTxBuilder.ts
  modules/sdk-coin-flrp/src/lib/ImportInPTxBuilder.ts
  modules/sdk-coin-flrp/src/lib/atomicTransactionBuilder.ts
  modules/sdk-coin-flrp/src/lib/utils.ts
  modules/sdk-coin-flrp/test/unit/lib/exportInPTxBuilder.ts
  modules/sdk-coin-flrp/test/unit/lib/importInCTxBuilder.ts
  modules/sdk-coin-flrp/test/unit/lib/importInPTxBuilder.ts
  modules/sdk-coin-flrp/test/unit/lib/utils.ts
Due: none

feat(statics): add polyx token alt address feature
  modules/statics/src/base.ts
  modules/statics/src/coinFeatures.ts
Due: statics

feat: added canton testnet tokens Ticket: COIN-7295
  modules/statics/src/account.ts
  modules/statics/src/allCoinsAndTokens.ts
  modules/statics/src/base.ts
  modules/statics/src/coinFeatures.ts
  modules/statics/src/coins/cantonTokens.ts
Due: statics

fix(sdk-coin-ada): token verifytransaction
  modules/sdk-coin-ada/src/adaToken.ts
  modules/sdk-coin-ada/test/unit/tokenWithdrawal.ts
Due: none

feat(abstract-lightning): make valueMsat optional add valueSat support
  modules/abstract-lightning/src/codecs/api/invoice.ts
  modules/express/test/unit/lightning/lightningInvoiceRoutes.test.ts
Due: express

feat(sdk-coin-tempo): integrate Tempo SDK and update references
  Dockerfile
  modules/account-lib/package.json
  modules/account-lib/src/index.ts
  modules/account-lib/tsconfig.json
  modules/bitgo/package.json
  modules/bitgo/src/v2/coinFactory.ts
  modules/bitgo/src/v2/coins/index.ts
  modules/bitgo/test/browser/browser.spec.ts
  modules/bitgo/tsconfig.json
  modules/sdk-coin-tempo/src/lib/keyPair.ts
  modules/sdk-coin-tempo/src/tip20Token.ts
  tsconfig.packages.json
Due: bitgo, account-lib

feat(abstract-utxo): add utxo-ord to project references
  modules/abstract-utxo/tsconfig.json
Due: none
