Repository BitGo/BitGoJS: changes, and which Codecov flags are due for each by the changed paths.
All: bitgo, account-lib, statics, express

fix(bitgo): add non-null assertions for buildParams in tests
  modules/bitgo/test/v2/unit/wallet.ts
Due: bitgo

fix(sdk-coin-eth): update test to expect buildParams on prebuild result
  modules/sdk-coin-eth/test/unit/ethWallet.ts
Due: none

fix: add CoinFeature.ERC20_BULK_TRANSACTION to EVM_FEATURES for erc20 token bulk withdrawal
  modules/statics/src/coinFeatures.ts
Due: statics

fix: resolve hashgraph vulnerability
  modules/sdk-coin-hbar/package.json
  modules/sdk-coin-hbar/src/lib/coinTransferBuilder.ts
  modules/sdk-coin-hbar/src/lib/tokenTransferBuilder.ts
  modules/sdk-coin-hbar/src/lib/transaction.ts
  modules/sdk-coin-hbar/src/lib/transactionBuilder.ts
  modules/sdk-coin-hbar/src/lib/walletInitializationBuilder.ts
  yarn.lock
Due: none

feat: migrate stable releases to trusted publishing
  .github/workflows/npmjs-release.yml
Due: none

fix: mark beta-tools as private to skip npm publish
  modules/beta-tools/package.json
Due: none

test(bitgo): add account-based coin tests for buildParams pass-through
  modules/bitgo/test/v2/unit/wallet.ts
Due: bitgo

fix(statics): set xtzevm decimals to 6 (CECHO-117)
  modules/statics/src/allCoinsAndTokens.ts
  modules/statics/src/coins/ofcCoins.ts
Due: statics

fix: add CoinFeature.ERC20_BULK_TRANSACTION to morpheth
  modules/statics/src/allCoinsAndTokens.ts
Due: statics

feat: remove multisig support for zksyncera
  modules/statics/src/coinFeatures.ts
  modules/statics/test/unit/coins.ts
  modules/statics/test/unit/fixtures/expectedColdFeatures.ts
Due: statics

feat(sdk-coin-tempo): implement transaction deserialization, parsing, and verification
  modules/sdk-coin-tempo/src/lib/transaction.ts
  modules/sdk-coin-tempo/src/lib/transactionBuilder.ts
  modules/sdk-coin-tempo/src/lib/utils.ts
  modules/sdk-coin-tempo/src/tempo.ts
  modules/sdk-coin-tempo/test/resources/tempo.ts
  modules/sdk-coin-tempo/test/unit/index.ts
  modules/sdk-coin-tempo/test/unit/transactionBuilder.ts
Due: none

chore: add CODEOWNERS entry for sdk-coin-tempo
  CODEOWNERS
Due: none

refactor(sdk-coin-canton): refactor the parseRawCantonTransactionData function to correctly handle all the cases
  modules/sdk-coin-canton/src/lib/utils.ts
  modules/sdk-coin-canton/test/resources.ts
  modules/sdk-coin-canton/test/unit/builder/transfer/transferBuilder.ts
  modules/sdk-coin-canton/test/unit/builder/transferAccept/transferAcceptBuilder.ts
  modules/sdk-coin-canton/test/unit/builder/transferReject/transferRejectBuilder.ts
Due: none

fix(sdk-core): revert server buildParams forwarding, keep user-param tests
  modules/bitgo/test/v2/unit/wallet.ts
  modules/sdk-coin-eth/test/unit/ethWallet.ts
  modules/sdk-core/src/bitgo/wallet/wallet.ts
Due: bitgo

feat(express): add batch 1 express API typed routes for doc generation
  modules/express/src/typedRoutes/api/common/ping.ts
  modules/express/src/typedRoutes/api/express_entry.ts
  modules/express/src/typedRoutes/api/index.ts
  modules/express/src/typedRoutes/api/v1/acceptShare.ts
  modules/express/src/typedRoutes/api/v1/simpleCreate.ts
Due: express

fix(express): update clientRoutes ping key to match renamed API spec
  modules/express/src/clientRoutes.ts
Due: express

fix(root): exclude tar vulnerability
  .iyarc
Due: none

fix(sdk-coin-ada): providing unsigned sweep support for WRW
  modules/sdk-coin-ada/src/ada.ts
  modules/sdk-coin-ada/src/lib/transaction.ts
  modules/sdk-coin-ada/test/unit/ada.ts
Due: none

feat(statics): add CoinFeature.STAKING to txdc coin features
  modules/statics/src/allCoinsAndTokens.ts
Due: statics

feat: add tempo pathusd and usdc tokens
  modules/statics/src/allCoinsAndTokens.ts
  modules/statics/src/base.ts
  modules/statics/src/coins/ofcCoins.ts
Due: statics

feat(statics): onboard unieth, hppeth, h, hoodeth
  modules/bitgo/test/v2/unit/keychains.ts
  modules/sdk-core/src/bitgo/environments.ts
  modules/statics/src/allCoinsAndTokens.ts
  modules/statics/src/base.ts
  modules/statics/src/coins/ofcCoins.ts
  modules/statics/src/map.ts
  modules/statics/src/networks.ts
  modules/statics/test/unit/fixtures/expectedColdFeatures.ts
Due: bitgo, statics

feat(sdk-core): add getAccountResources() in wallet
  examples/ts/trx/get-account-resources.ts
  modules/sdk-core/src/bitgo/wallet/iWallet.ts
  modules/sdk-core/src/bitgo/wallet/wallet.ts
  modules/sdk-core/test/unit/bitgo/wallet/getAccountResources.ts
Due: none

feat(statics): onboard client requested tokens batch 2
  modules/statics/src/allCoinsAndTokens.ts
  modules/statics/src/base.ts
  modules/statics/src/coins/adaTokens.ts
  modules/statics/src/coins/bscTokens.ts
  modules/statics/src/coins/erc20Coins.ts
  modules/statics/src/coins/ofcCoins.ts
  modules/statics/src/coins/ofcErc20Coins.ts
  modules/statics/test/unit/tokenNamingConvention.ts
Due: statics

feat(examples): add TRX DelegateResource example script
  examples/ts/trx/delegate-resource.ts
Due: none

feat: create GH releases when publishing
  .github/actions/version-bump-summary/action.yml
  .github/actions/version-bump-summary/index.js
  .github/workflows/npmjs-release.yml
Due: none

fix: set new GH release to latest
  .github/workflows/npmjs-release.yml
Due: none

feat(logger): enhance sanitize to handle Date, BigInt, and string types
  modules/logger/.mocharc.yml
  modules/logger/package.json
  modules/logger/src/logger.ts
  modules/logger/src/sanitizeLog.ts
  modules/logger/test/unit/sanitizeLog.ts
  modules/sdk-coin-sol/src/lib/transaction.ts
  modules/statics/src/coins/generateERC20.ts
Due: statics

feat(sdk-coin-irys): add commitment transaction support
  modules/sdk-coin-irys/.mocharc.yml
  modules/sdk-coin-irys/.npmignore
  modules/sdk-coin-irys/package.json
  modules/sdk-coin-irys/src/index.ts
  modules/sdk-coin-irys/src/lib/commitmentTransactionBuilder.ts
  modules/sdk-coin-irys/src/lib/iface.ts
  modules/sdk-coin-irys/src/lib/index.ts
  modules/sdk-coin-irys/src/lib/utils.ts
  modules/sdk-coin-irys/test/unit/commitmentTransactionBuilder.ts
  modules/sdk-coin-irys/tsconfig.json
  modules/statics/src/allCoinsAndTokens.ts
  package.json
  yarn.lock
Due: statics

feat(sdk-coin-ada): onboarding in go accounts
  modules/statics/src/coins/ofcCoins.ts
  modules/statics/src/ofc.ts
Due: statics

fix(sdk-coin-tempo): register TIP20 tokens
  modules/sdk-coin-tempo/src/register.ts
  modules/sdk-coin-tempo/src/tip20Token.ts
Due: none

feat: onboard HYPEEVM:USDC and HYPEEVM:USDT0 tokens
  modules/statics/src/allCoinsAndTokens.ts
  modules/statics/src/base.ts
  modules/statics/src/coins/ofcErc20Coins.ts
Due: statics

feat: onboard HYPEEVM:USDC and HYPEEVM:USDT0 tokens
  modules/statics/src/coins/ofcErc20Coins.ts
Due: statics

feat(root): add minimum length for xprv key and v2x token
  modules/logger/src/sanitizeLog.ts
  modules/logger/test/unit/sanitizeLog.ts
Due: none

feat: add WASM-based DOT transaction parsing via @bitgo/wasm-dot
  modules/sdk-coin-dot/package.json
  modules/sdk-coin-dot/src/dot.ts
  modules/sdk-coin-dot/src/lib/index.ts
  modules/sdk-coin-dot/src/lib/transaction.ts
  modules/sdk-coin-dot/src/lib/wasmParser.ts
  modules/sdk-coin-dot/test/unit/dot.ts
  modules/sdk-coin-dot/test/unit/transactionBuilder/withdrawUnstakedBuilder.ts
  modules/sdk-coin-dot/test/unit/wasmBuilderByteComparison.ts
  webpack/bitgojs.config.js
  yarn.lock
Due: none

fix(sdk-coin-tempo): fix nonce 0 RLP encoding and verifyTransaction for TSS flow
  modules/sdk-coin-tempo/src/lib/transaction.ts
  modules/sdk-coin-tempo/src/tempo.ts
Due: none

feat(sdk-coin-tempo): add getSenderAddress to Tip20Transaction
  modules/sdk-coin-tempo/src/lib/transaction.ts
Due: none

chore: lowercase hbarevm:tnt token name
  modules/statics/src/allCoinsAndTokens.ts
Due: statics

Path conditions:
  bitgo: any of: modules/bitgo
  account-lib: any of: modules/account-lib
  statics: any of: modules/statics
  express: any of: modules/express
