Repository BitGo/BitGoJS: changes, and which Codecov flags are due for each by the changed paths.
All: bitgo, account-lib, statics, express

.codecov.yml:

coverage:
  status:
    project: off
    patch: off
comment:
  layout: 'diff, flags, files'
  require_changes: true
flags:
  bitgo:
    paths:
      - modules/bitgo
  account-lib:
    paths:
      - modules/account-lib
  statics:
    paths:
      - modules/statics
  express:
    paths:
      - modules/express

feat(statics): add tbaseeth:kmusdc token on base-sepolia
  modules/statics/src/allCoinsAndTokens.ts
  modules/statics/src/base.ts
Due: statics

feat(abstract-utxo-cli): add CLI for BitGo UTXO wallets using cmd-ts
  modules/abstract-utxo-cli/eslint.config.mjs
  modules/abstract-utxo-cli/package.json
  modules/abstract-utxo-cli/src/commands/wallet/cmdChangePassphrase.ts
  modules/abstract-utxo-cli/src/commands/wallet/cmdCreate.ts
  modules/abstract-utxo-cli/src/commands/wallet/cmdList.ts
  modules/abstract-utxo-cli/src/commands/wallet/cmdShow.ts
  modules/abstract-utxo-cli/src/commands/wallet/cmdXprv.ts
  modules/abstract-utxo-cli/src/commands/wallet/createAddress.ts
  modules/abstract-utxo-cli/src/commands/wallet/tx/buildSignSend.ts
  modules/abstract-utxo-cli/src/commands/wallet/unspents.ts
  modules/abstract-utxo-cli/src/index.ts
  modules/abstract-utxo-cli/src/util/bitGoInstance.ts
  modules/abstract-utxo-cli/src/util/context.ts
  modules/abstract-utxo-cli/src/util/store.ts
  modules/abstract-utxo-cli/test/convertDescriptorNetwork.d.ts
  modules/abstract-utxo-cli/test/convertDescriptorNetwork.d.ts.map
  modules/abstract-utxo-cli/test/convertDescriptorNetwork.js
  modules/abstract-utxo-cli/test/convertDescriptorNetwork.ts
  modules/abstract-utxo-cli/tsconfig.json
  yarn.lock
Due: none

chore(deps): bump @bitgo/wasm-utxo to 4.21.1 across utxo workspaces
  modules/abstract-utxo/package.json
  modules/utxo-bin/package.json
  modules/utxo-core/package.json
  modules/utxo-descriptors/package.json
  modules/utxo-ord/package.json
  modules/utxo-staking/package.json
  yarn.lock
Due: none

feat(examples): add go-account-get-order script
  examples/ts/go-account/go-account-get-order.ts
Due: none

feat(examples): add go-account-list-orders script
  examples/ts/go-account/go-account-list-orders.ts
Due: none

fix(scripts): skip overrides that are already direct bitgo deps
  scripts/generate-bitgo-shrinkwrap.ts
Due: none

chore(spike): HSM-447 BIP32-Ed25519 derivation validation scripts
  spikes/hsm447-ed25519-derivation/README.md
  spikes/hsm447-ed25519-derivation/hh-vector.cjs
  spikes/hsm447-ed25519-derivation/i3-normative-vectors.json
  spikes/hsm447-ed25519-derivation/i3-normative.cjs
  spikes/hsm447-ed25519-derivation/round1-poc/e1-e4.js
  spikes/hsm447-ed25519-derivation/round1-poc/e5-vectors.js
  spikes/hsm447-ed25519-derivation/round1-poc/e6-address.js
  spikes/hsm447-ed25519-derivation/round1-poc/test-vectors.json
  spikes/hsm447-ed25519-derivation/round1-poc/test_hbar_sign.cjs
  spikes/hsm447-ed25519-derivation/round1-poc/test_leak.mjs
  spikes/hsm447-ed25519-derivation/round1-poc/test_order.mjs
  spikes/hsm447-ed25519-derivation/round1-poc/test_scalar_mod.mjs
  spikes/hsm447-ed25519-derivation/round1-redteam/attack.js
  spikes/hsm447-ed25519-derivation/round1-redteam/attack2.js
  spikes/hsm447-ed25519-derivation/round1-redteam/red-team-dh.cjs
  spikes/hsm447-ed25519-derivation/scalar-sign-test.mjs
  spikes/hsm447-ed25519-derivation/seed-guard-fresh.cjs
  spikes/hsm447-ed25519-derivation/verify.mjs
  spikes/hsm447-ed25519-derivation/verify2.mjs
Due: none

docs: add reusable dual-audience design-note prompt (HSM-447 spike)
  spikes/hsm447-ed25519-derivation/DESIGN-NOTE-PROMPT.md
Due: none

feat: initialize safe calls API
  modules/sdk-core/src/bitgo/safe/safes.ts
  modules/sdk-core/test/unit/bitgo/safe/safes.ts
Due: none

test(spike): prove hardened vs soft ed25519 derivation give different addresses
  spikes/hsm447-ed25519-derivation/hard-vs-soft-address.cjs
Due: none

test(spike): prove hardened vs soft secp256k1 (ETH MPC) give different addresses
  spikes/hsm447-ed25519-derivation/hard-vs-soft-eth-address.cjs
Due: none

test(spike): prove hardened vs soft secp256k1 multisig give different addresses
  spikes/hsm447-ed25519-derivation/hard-vs-soft-multisig-address.cjs
Due: none

feat: add script to reencrypt wallet with v2 encryption
  modules/key-card/src/drawKeycard.ts
  scripts/upgrade-wallet-encryption.ts
Due: none

feat(scripts): improve upgrade-wallet-encryption robustness
  scripts/upgrade-wallet-encryption.ts
Due: none

feat(sdk-core): add argon2 re-encryption to sdk-core (WCN-174)
  modules/bitgo/test/v2/unit/keychains.ts
  modules/bitgo/test/v2/unit/wallet.ts
  modules/key-card/src/index.ts
  modules/key-card/src/upgradeWalletEncryption.ts
  modules/key-card/test/unit/upgradeWalletEncryption.ts
  modules/sdk-core/src/bitgo/keychain/iKeychains.ts
  modules/sdk-core/src/bitgo/keychain/keychains.ts
  modules/sdk-core/src/bitgo/wallet/iWallet.ts
  modules/sdk-core/src/bitgo/wallet/wallet.ts
  scripts/upgrade-wallet-encryption.ts
Due: bitgo

refactor(sdk-core): clean up backup key fallback in upgradeEncryption (WCN-174)
  modules/bitgo/test/v2/unit/keychains.ts
  modules/sdk-core/src/bitgo/keychain/iKeychains.ts
  modules/sdk-core/src/bitgo/keychain/keychains.ts
  modules/sdk-core/src/bitgo/wallet/wallet.ts
Due: bitgo

feat(sdk-core): allocationAllocateWithdrawn to allocationOfferWithdrawn
  modules/sdk-core/src/bitgo/utils/mpcUtils.ts
  modules/sdk-core/src/bitgo/wallet/wallet.ts
Due: none

chore(statics): gate shvon for singapore
  modules/statics/src/coins/erc20Coins.ts
Due: statics

fix(sdk-coin-xtz): verify destination and amount in verifyTransaction
  modules/sdk-coin-xtz/src/xtz.ts
  modules/sdk-coin-xtz/test/unit/xtz.ts
Due: none

fix(sdk-coin-stx): verify recipient and amount in native STX verifyTransaction
  modules/sdk-coin-stx/src/stx.ts
  modules/sdk-coin-stx/test/unit/stx.ts
Due: none

feat(sdk-coin-canton): added AllocationAllocateWithdrawn in verify flow
  modules/sdk-coin-canton/src/canton.ts
  modules/sdk-coin-canton/src/lib/transaction/transaction.ts
Due: none

ci(root): skip broken yarn audit step in release workflows
  .github/workflows/npmjs-release.yml
  .github/workflows/publish.yml
Due: none

fix(statics): rename cnfi token to connect financial
  modules/statics/src/coins/erc20Coins.ts
  modules/statics/src/coins/ofcErc20Coins.ts
Due: statics

docs(examples): add trading workflow docs to go-account-workflows
  examples/docs/go-account-workflows.md
Due: none

fix(argon2): add types condition to package.json exports map
  modules/argon2/package.json
Due: none

fix(examples): unlock session with OTP before submitting withdrawal
  examples/ts/go-account/go-account-withdrawal.ts
Due: none

chore(key-card): parse safe keycard box with io-ts + add QR part headers
  modules/key-card/package.json
  modules/key-card/src/drawKeycard.ts
  modules/key-card/src/index.ts
  modules/key-card/src/parseKeycard.ts
  modules/key-card/src/types.ts
  modules/key-card/test/unit/safeQrData.ts
Due: none

feat: implement safe createSafeKeys and finalize orchestrator
  modules/sdk-core/src/bitgo/keychain/iKeychains.ts
  modules/sdk-core/src/bitgo/keychain/keychains.ts
  modules/sdk-core/src/bitgo/safe/iSafe.ts
  modules/sdk-core/src/bitgo/safe/iSafes.ts
  modules/sdk-core/src/bitgo/safe/safes.ts
  modules/sdk-core/src/bitgo/utils/tss/ecdsa/ecdsa.ts
  modules/sdk-core/src/bitgo/utils/tss/ecdsa/ecdsaMPCv2.ts
  modules/sdk-core/src/bitgo/utils/tss/ecdsa/ecdsaMPCv2KeyGenSender.ts
  modules/sdk-core/src/bitgo/utils/tss/eddsa/eddsa.ts
  modules/sdk-core/src/bitgo/utils/tss/eddsa/eddsaMPCv2.ts
  modules/sdk-core/src/bitgo/utils/tss/eddsa/eddsaMPCv2KeyGenSender.ts
  modules/sdk-core/test/unit/bitgo/safe/safes.ts
Due: none

chore: address PR comments and set XLM as rep coin
  modules/sdk-core/src/bitgo/safe/iSafes.ts
  modules/sdk-core/src/bitgo/safe/safes.ts
  modules/sdk-core/test/unit/bitgo/safe/safes.ts
Due: none

feat: implement Safes.list and Safes.get
  modules/sdk-core/src/bitgo/safe/safes.ts
  modules/sdk-core/test/unit/bitgo/safe/safes.ts
Due: none

chore(root): replace coins team with ecosystem and btc-team
  CODEOWNERS
Due: none

feat(statics): onboard eth sol pol baseeth assets
  modules/statics/src/allCoinsAndTokens.ts
  modules/statics/src/base.ts
  modules/statics/src/coins/erc20Coins.ts
  modules/statics/src/coins/ofcCoins.ts
  modules/statics/src/coins/ofcErc20Coins.ts
  modules/statics/src/coins/polygonTokens.ts
  modules/statics/src/coins/solTokens.ts
Due: statics

fix(statics): correct addressCoin for non-ETH L2 OFC tokens
  modules/statics/src/coins/ofcErc20Coins.ts
  modules/statics/src/coins/ofcHoodethTokens.ts
  modules/statics/test/unit/ofcCoinParity.ts
Due: statics

feat: onboard ondo tokens
  modules/statics/src/base.ts
  modules/statics/src/coins/bscTokens.ts
  modules/statics/src/coins/ofcCoins.ts
  modules/statics/src/coins/solTokens.ts
Due: statics

fix(statics): added program id for sol token
  modules/statics/src/coins/solTokens.ts
Due: statics

feat(statics): model Token-2022 extensions on SolCoin
  modules/statics/src/account.ts
  modules/statics/src/index.ts
  modules/statics/test/unit/coins.ts
Due: statics

feat(statics): set RECEIPT_TOKEN coin feature for tbaseeth:kmusdc
  modules/statics/src/allCoinsAndTokens.ts
Due: statics

fix(sdk-coin-trx): guard against missing trc20 field in account response
  modules/sdk-coin-trx/src/lib/iface.ts
  modules/sdk-coin-trx/src/trx.ts
  modules/sdk-coin-trx/test/resources.ts
  modules/sdk-coin-trx/test/unit/trx.ts
Due: none

fix(sdk-coin-trx): allow non-TSS TRC20 consolidation without recipients
  modules/sdk-coin-trx/src/trxToken.ts
  modules/sdk-coin-trx/test/unit/trxToken.ts
Due: none
