Repository BitGo/BitGoJS: changes, and which Codecov flags are due for each by the changed paths.
All: bitgo, account-lib, statics, express

.codecov.yml:

coverage:
  status:
    project: off
    patch: off
comment:
  layout: 'diff, flags, files'
  require_changes: true
flags:
  bitgo:
    paths:
      - modules/bitgo
  account-lib:
    paths:
      - modules/account-lib
  statics:
    paths:
      - modules/statics
  express:
    paths:
      - modules/express

chore(root): release express
  Dockerfile
Due: none

feat: added new tokens
  modules/statics/src/coins/generated/base.ts
  modules/statics/src/coins/generated/erc20Coins.ts
  modules/statics/src/coins/generated/ofcErc20Coins.ts
Due: statics

fix(statics): fix polyx token network
  modules/statics/src/account.ts
Due: statics

chore: update plasma explorer and accountExplorer Url
  modules/statics/src/networks.ts
Due: statics

chore: use the treasuryAccount id from assets response instead of the constants API
  examples/ts/stablecoin/initiate-burn-order.ts
  examples/ts/stablecoin/initiate-mint-order.ts
Due: none

feat(sdk-core): add messages to BuildParamsUTXO for BIP322
  modules/sdk-core/src/bitgo/wallet/BuildParams.ts
Due: none

chore(deps): update vuln CVE-2025-9288
  modules/sdk-coin-avaxp/package.json
  modules/sdk-coin-celo/package.json
  package.json
  yarn.lock
Due: none

test: bsc token naming convention
  modules/statics/test/unit/tokenNamingConvention.ts
Due: statics

chore(root): release express
  Dockerfile
  scripts/tsconfig.json
  scripts/update-dockerfile.ts
Due: none

fix: fix wallet proofs class url (change wallet to wallets)
  modules/sdk-core/src/bitgo/proofs/WalletProofs.ts
Due: none

feat(utxo-core): explicitly set SIGHASH_ALL for BIP322 inputs
  modules/utxo-core/src/bip322/toSign.ts
Due: none

feat: replace CommonJS imports with ES module imports
  scripts/pack-scoped.ts
  scripts/prepare-release.ts
  scripts/prepareRelease/distTags.ts
  scripts/prepareRelease/getLernaModules.ts
  scripts/prepareRelease/walk.ts
  scripts/tests/prepareRelease/util.ts
  scripts/vendor-github-repo.ts
  scripts/verify-release.ts
Due: none

ci: update publish workflow to use .nvmrc
  .github/workflows/publish.yml
Due: none

fix: contract abi for vechain staking
  modules/sdk-coin-vet/src/lib/iface.ts
  modules/sdk-coin-vet/src/lib/transaction/stakingTransaction.ts
  modules/sdk-coin-vet/src/lib/transactionBuilder/stakingBuilder.ts
  modules/sdk-coin-vet/test/transactionBuilder/stakingTransaction.ts
Due: none

feat: updated withdraw codecs signature verify
  modules/abstract-lightning/src/codecs/api/withdraw.ts
Due: none

feat(statics): add statics for iota coin
  modules/statics/src/allCoinsAndTokens.ts
  modules/statics/src/base.ts
  modules/statics/src/coinFeatures.ts
  modules/statics/src/networks.ts
  modules/statics/test/unit/fixtures/expectedColdFeatures.ts
Due: statics

feat: add ofc statics for kaia, sonic, hypeevm, seievm, apechain
  modules/statics/src/coins/ofcCoins.ts
Due: statics

feat(sdk-coin-vet): add vet nft tx builder
  modules/sdk-coin-vet/src/lib/constants.ts
  modules/sdk-coin-vet/src/lib/iface.ts
  modules/sdk-coin-vet/src/lib/index.ts
  modules/sdk-coin-vet/src/lib/transaction/nftTransaction.ts
  modules/sdk-coin-vet/src/lib/transaction/transaction.ts
  modules/sdk-coin-vet/src/lib/transactionBuilder/nftTransactionBuilder.ts
  modules/sdk-coin-vet/src/lib/transactionBuilderFactory.ts
  modules/sdk-coin-vet/src/lib/utils.ts
  modules/sdk-coin-vet/test/resources/vet.ts
  modules/sdk-coin-vet/test/transactionBuilder/nftTransactionBuilder.ts
Due: none

feat(sdk-coin-iota): adding sdk skeleton for iota
  CODEOWNERS
  Dockerfile
  modules/bitgo/package.json
  modules/bitgo/src/v2/coinFactory.ts
  modules/bitgo/src/v2/coins/index.ts
  modules/bitgo/test/browser/browser.spec.ts
  modules/bitgo/tsconfig.json
  modules/sdk-coin-iota/.eslintignore
  modules/sdk-coin-iota/.gitignore
  modules/sdk-coin-iota/.mocharc.yml
  modules/sdk-coin-iota/.npmignore
  modules/sdk-coin-iota/.prettierignore
  modules/sdk-coin-iota/.prettierrc.yml
  modules/sdk-coin-iota/CHANGELOG.md
  modules/sdk-coin-iota/README.md
  modules/sdk-coin-iota/package.json
  modules/sdk-coin-iota/src/index.ts
  modules/sdk-coin-iota/src/iota.ts
  modules/sdk-coin-iota/src/lib/constants.ts
  modules/sdk-coin-iota/src/lib/iface.ts
  modules/sdk-coin-iota/src/lib/index.ts
  modules/sdk-coin-iota/src/lib/keyPair.ts
  modules/sdk-coin-iota/src/lib/transaction.ts
  modules/sdk-coin-iota/src/lib/transactionBuilder.ts
  modules/sdk-coin-iota/src/lib/transactionBuilderFactory.ts
  modules/sdk-coin-iota/src/lib/transferBuilder.ts
  modules/sdk-coin-iota/src/lib/utils.ts
  modules/sdk-coin-iota/src/register.ts
  modules/sdk-coin-iota/test/integration/index.ts
  modules/sdk-coin-iota/test/unit/index.ts
  modules/sdk-coin-iota/tsconfig.json
  tsconfig.packages.json
Due: bitgo

chore: add evm compatible wp to 0g
  modules/statics/src/allCoinsAndTokens.ts
Due: statics

chore: fix yargs import in prepare release script
  scripts/prepare-release.ts
Due: none

feat(sdk-coin-polyx): add support for token enablement
  examples/js/.DS_Store
  modules/sdk-coin-polyx/src/polyx.ts
  modules/sdk-coin-polyx/test/unit/polyx.ts
  modules/sdk-core/src/bitgo/baseCoin/iBaseCoin.ts
  modules/sdk-core/src/bitgo/wallet/wallet.ts
Due: none

feat: add EVM_UNSIGNED_SWEEP_RECOVERY and EVM_NON_BITGO_RECOVERY features
  modules/statics/src/allCoinsAndTokens.ts
Due: statics

This PR is generated by the gha-dev-portal-updater CLI.
  test.txt
Due: none

fix(sdk-coin-hash): add utils based on network type TICKET: COIN-5235
  modules/sdk-coin-hash/src/hashToken.ts
  modules/sdk-coin-hash/test/unit/hashToken.ts
Due: none

chore: bump octokit/request dependency
  modules/express/encryptedPrivKeys.json
  package.json
  yarn.lock
Due: express

fix(sdk-core): rely on wallet field to validate txrequest on staking
  modules/bitgo/test/v2/unit/staking/stakingWalletTSS.ts
  modules/sdk-core/src/bitgo/staking/stakingWallet.ts
Due: bitgo

chore: update mainnet config for plasma
  modules/sdk-core/src/bitgo/environments.ts
  modules/statics/src/networks.ts
Due: statics

feat(statics): add new nft on soneium for testing
  modules/statics/src/allCoinsAndTokens.ts
Due: statics

chore: remove evm compatible wp flag
  modules/statics/src/allCoinsAndTokens.ts
Due: statics

test: near token naming convention
  modules/statics/test/unit/tokenNamingConvention.ts
Due: statics

feat: onboard sol eurc token
  modules/statics/src/base.ts
  modules/statics/src/coins/ofcCoins.ts
  modules/statics/src/coins/solTokens.ts
Due: statics

fix: implement buildNftTransferData for vet
  modules/sdk-coin-vet/src/vet.ts
  modules/sdk-coin-vet/test/resources/vet.ts
  modules/sdk-coin-vet/test/unit/vet.ts
Due: none

feat(utxo-core): add bip322 proof checker
  modules/utxo-core/src/bip322/utils.ts
  modules/utxo-core/test/bip322/utils.ts
Due: none
