Repository BitGo/BitGoJS: changes, and which Codecov flags are due for each by the changed paths.
All: bitgo, account-lib, statics, express

refactor: gate tokens for singapore
  modules/statics/src/account.ts
  modules/statics/src/coins/erc20Coins.ts
Due: statics

fix(sdk-coin-vet): fix issues in addressinit builder and flushtoken builder COIN-4742 TICKET: COIN-4742
  modules/sdk-coin-vet/src/lib/index.ts
  modules/sdk-coin-vet/src/lib/transactionBuilderFactory.ts
  modules/sdk-coin-vet/test/transactionBuilder/addressInitializationBuilder.ts
Due: none

feat(sdk-coin-sui): sui sponsorship support
  modules/sdk-coin-sui/src/lib/iface.ts
  modules/sdk-coin-sui/src/lib/mystenlab/builder/TransactionDataBlock.ts
  modules/sdk-coin-sui/src/lib/transaction.ts
  modules/sdk-coin-sui/src/sui.ts
Due: none

feat(account-lib): verify encoded message
  modules/abstract-eth/src/lib/messages/eip191/eip191Message.ts
  modules/abstract-eth/test/unit/messages/eip191/eip191Message.ts
  modules/account-lib/src/index.ts
  modules/account-lib/src/utils/index.ts
  modules/account-lib/src/utils/messages/index.ts
  modules/account-lib/test/unit/fixtures.ts
  modules/account-lib/test/unit/utils/messages/index.ts
  modules/account-lib/test/unit/verifyMessage.ts
  modules/sdk-coin-ada/src/lib/messages/cip8/cip8Message.ts
  modules/sdk-coin-ada/test/unit/messages/cip8/cip8Message.ts
  modules/sdk-core/src/account-lib/baseCoin/messages/baseMessage.ts
  modules/sdk-core/src/account-lib/baseCoin/messages/iface.ts
  modules/sdk-core/src/account-lib/baseCoin/messages/simple/simpleMessage.ts
  modules/sdk-core/test/unit/account-lib/baseCoin/messages/baseMessage.ts
  modules/sdk-core/test/unit/account-lib/baseCoin/messages/fixtures.ts
Due: account-lib

chore(utxo-lib): change mock UTXO to P2PKH from P2WPKH
  modules/utxo-lib/src/testutil/mock.ts
  modules/utxo-lib/test/bitgo/psbt/ZcashPsbt.ts
Due: none

feat(statics): add pharos chain config
  modules/bitgo/test/v2/unit/keychains.ts
  modules/sdk-core/src/bitgo/environments.ts
  modules/statics/src/base.ts
  modules/statics/src/coins.ts
  modules/statics/src/networks.ts
  modules/statics/test/unit/fixtures/expectedColdFeatures.ts
Due: bitgo, statics

feat(utxo-core): add selectTapLeafScript option to createPsbt
  modules/utxo-core/src/descriptor/psbt/createPsbt.ts
  modules/utxo-core/src/testutil/descriptor/descriptors.ts
  modules/utxo-core/src/testutil/descriptor/mock.utils.ts
  modules/utxo-core/test/descriptor/psbt/fixtures/Tr1Of3-NoKeyPath-Tree-Plain-TapLeafScript0.psbtStages.json
  modules/utxo-core/test/descriptor/psbt/fixtures/Tr1Of3-NoKeyPath-Tree-Plain-TapLeafScript1.psbtStages.json
  modules/utxo-core/test/descriptor/psbt/fixtures/Tr1Of3-NoKeyPath-Tree-Plain-TapLeafScript2.psbtStages.json
  modules/utxo-core/test/descriptor/psbt/psbt.ts
Due: none

feat(utxo-staking): remove transaction helper
  modules/utxo-staking/package.json
  modules/utxo-staking/src/index.ts
  modules/utxo-staking/src/transaction.ts
  modules/utxo-staking/test/unit/transaction.ts
Due: none

feat(statics): add creditcoin chain config
  modules/bitgo/test/v2/unit/keychains.ts
  modules/sdk-core/src/bitgo/environments.ts
  modules/statics/src/base.ts
  modules/statics/src/coins.ts
  modules/statics/src/networks.ts
  modules/statics/test/unit/fixtures/expectedColdFeatures.ts
Due: bitgo, statics

feat(sdk-coin-near): update recovery type to base mpc type
  modules/sdk-coin-near/src/near.ts
Due: none

refactor(utxo-core): address stored in the proof
  modules/utxo-core/src/paygo/attestation.ts
  modules/utxo-core/src/paygo/psbt/payGoAddressProof.ts
  modules/utxo-core/test/paygo/attestation.ts
  modules/utxo-core/test/paygo/psbt/payGoAddressProof.ts
Due: none

chore: upgrade upload-tools node version to v22
  modules/bitgo/scripts/upload-tools/Dockerfile
  modules/bitgo/scripts/upload-tools/README.md
Due: bitgo

ci: define top-level permissions in github workflows
  .github/workflows/ci.yml
  .github/workflows/codeql.yaml
  .github/workflows/publish.yml
Due: none

fix(sdk-coin-vet): fix issues in fromRawTransaction COIN-4742 TICKET: COIN-4742
  modules/sdk-coin-vet/src/lib/transaction/addressInitializationTransaction.ts
  modules/sdk-coin-vet/src/lib/transaction/flushTokenTransaction.ts
  modules/sdk-coin-vet/src/lib/transaction/transaction.ts
  modules/sdk-coin-vet/test/resources/vet.ts
  modules/sdk-coin-vet/test/transactionBuilder/addressInitializationBuilder.ts
  modules/sdk-coin-vet/test/transactionBuilder/flushTokenTransactionBuilder.ts
Due: none

feat: gate certain high risk tokens from Singapore custody
  modules/statics/src/coinFeatures.ts
  modules/statics/src/coins.ts
  modules/statics/src/coins/erc20Coins.ts
  modules/statics/src/coins/polygonTokens.ts
Due: statics

feat: enable message signing for ADA and SOL
  modules/bitgo/test/v2/unit/wallet.ts
  modules/sdk-coin-ada/src/ada.ts
  modules/sdk-coin-sol/src/sol.ts
Due: bitgo

chore(deps): bump bitgo bitcoinjs-lib fork
  modules/utxo-bin/package.json
  modules/utxo-lib/package.json
  yarn.lock
Due: none

chore(utxo-lib): remove unsafe non-segwit signing for zcash
  modules/utxo-lib/src/bitgo/zcash/ZcashPsbt.ts
  modules/utxo-lib/test/bitgo/psbt/ZcashPsbt.ts
Due: none

fix(utxo-lib): restore PSBT cache values after signing non-segwit
  modules/utxo-lib/src/bitgo/PsbtUtil.ts
Due: none

chore(root): release express
  Dockerfile
Due: none

chore(abstract-utxo): deprecate signing override params
  modules/abstract-utxo/src/sign.ts
  modules/abstract-utxo/src/transaction/fixedScript/signTransaction.ts
  modules/utxo-lib/src/testutil/psbt.ts
  modules/utxo-lib/test/bitgo/psbt/Psbt.ts
Due: none

feat(sdk-api): add EVM configuration support to BitGoAPI constructor
  modules/sdk-api/src/bitgoAPI.ts
  modules/sdk-api/src/types.ts
Due: none

feat: added ofc tokens for new onboardings
  modules/statics/src/coins/ofcErc20Coins.ts
Due: statics

feat: new tokens onboarding
  modules/statics/src/base.ts
  modules/statics/src/coins.ts
  modules/statics/src/coins/avaxTokens.ts
  modules/statics/src/coins/erc20Coins.ts
  modules/statics/src/coins/ofcCoins.ts
  modules/statics/src/coins/ofcErc20Coins.ts
  modules/statics/src/coins/solTokens.ts
Due: statics

feat: onboarded new solana tokens
  modules/statics/src/base.ts
  modules/statics/src/coins/erc20Coins.ts
  modules/statics/src/coins/ofcCoins.ts
  modules/statics/src/coins/ofcErc20Coins.ts
  modules/statics/src/coins/solTokens.ts
Due: statics

feat: onboarded new Solana and ETH tokens
  modules/statics/src/base.ts
  modules/statics/src/coins/erc20Coins.ts
  modules/statics/src/coins/ofcCoins.ts
  modules/statics/src/coins/ofcErc20Coins.ts
  modules/statics/src/coins/solTokens.ts
Due: statics

feat: added sol and eth tokens for new onboardings
  modules/statics/src/base.ts
  modules/statics/src/coins/erc20Coins.ts
  modules/statics/src/coins/ofcCoins.ts
  modules/statics/src/coins/ofcErc20Coins.ts
  modules/statics/src/coins/solTokens.ts
Due: statics

chore: fix decimalPlaces value and add test cases
  modules/statics/src/coins/ofcCoins.ts
  modules/statics/test/unit/ofcCoinParity.ts
Due: statics

chore: fix underlyingAsset for test token and coins
  modules/statics/src/base.ts
  modules/statics/src/coins.ts
  modules/statics/src/coins/avaxTokens.ts
  modules/statics/src/coins/erc20Coins.ts
  modules/statics/src/coins/ofcCoins.ts
  modules/statics/src/coins/ofcErc20Coins.ts
  modules/statics/src/utxo.ts
  modules/statics/test/unit/ofcCoinParity.ts
Due: statics

chore: support tokenApproval for MPC
  modules/abstract-eth/src/abstractEthLikeNewCoins.ts
  modules/bitgo/test/v2/unit/wallet.ts
  modules/sdk-core/src/bitgo/utils/mpcUtils.ts
  modules/sdk-core/src/bitgo/utils/tss/baseTypes.ts
  modules/sdk-core/src/bitgo/wallet/wallet.ts
Due: bitgo

chore: add ofc polyx in statics
  modules/statics/src/coins/ofcCoins.ts
Due: statics

feat: add staking feature to mainnet polyx
  modules/statics/src/coinFeatures.ts
  modules/statics/src/coins.ts
Due: statics

feat(abstract-utxo): verify paygo
  modules/abstract-utxo/src/transaction/fixedScript/explainTransaction.ts
  modules/abstract-utxo/src/transaction/fixedScript/verifyTransaction.ts
Due: none

feat(account-lib): return hex broadcastable message string
  examples/ts/build-message.ts
  modules/abstract-eth/test/unit/messages/eip191/eip191Message.ts
  modules/sdk-core/src/account-lib/baseCoin/messages/baseMessage.ts
  modules/sdk-core/src/account-lib/baseCoin/messages/baseMessageBuilderFactory.ts
  modules/sdk-core/test/unit/account-lib/baseCoin/messages/baseMessage.ts
  modules/sdk-core/test/unit/account-lib/baseCoin/messages/baseMessageBuilder.ts
Due: none

fix(sdk-coin-vet): fix deserialization in vet sdk
  modules/sdk-coin-vet/src/lib/transaction/transaction.ts
  modules/sdk-coin-vet/src/lib/transactionBuilder/transactionBuilder.ts
  modules/sdk-coin-vet/test/resources/vet.ts
  modules/sdk-coin-vet/test/transactionBuilder/transferBuilder.ts
  modules/sdk-coin-vet/test/unit/utils.ts
Due: none

feat(statics): adding new coin features for evm coin WRW support
  modules/statics/src/base.ts
  modules/statics/src/coins.ts
Due: statics

Path conditions:
  bitgo: any of: modules/bitgo
  account-lib: any of: modules/account-lib
  statics: any of: modules/statics
  express: any of: modules/express
