Repository BitGo/BitGoJS: changes, and which Codecov flags are due for each by the changed paths.
All: bitgo, account-lib, statics, express

.codecov.yml:

coverage:
  status:
    project: off
    patch: off
comment:
  layout: 'diff, flags, files'
  require_changes: true
flags:
  bitgo:
    paths:
      - modules/bitgo
  account-lib:
    paths:
      - modules/account-lib
  statics:
    paths:
      - modules/statics
  express:
    paths:
      - modules/express

fix: rename baseeth:vbtc.b to baseeth:vbtcb
  modules/statics/src/allCoinsAndTokens.ts
  modules/statics/src/base.ts
  modules/statics/src/coins/ofcErc20Coins.ts
Due: statics

fix(sdk-core): pass txParams on EdDSA MPCv2 re-sign and PA paths
  modules/sdk-core/src/bitgo/utils/tss/baseTSSUtils.ts
  modules/sdk-core/src/bitgo/wallet/wallet.ts
  modules/sdk-core/test/unit/bitgo/utils/tss/baseTSSUtils.ts
Due: none

fix(sdk-coin-xrp): enforce destination tag in verifyTransaction
  modules/sdk-coin-xrp/src/xrp.ts
  modules/sdk-coin-xrp/test/unit/xrp.ts
Due: none

feat(express): verify created addresses against client-supplied trusted keychains
  modules/express/src/clientRoutes.ts
  modules/express/src/typedRoutes/api/v2/createAddress.ts
  modules/express/test/unit/typedRoutes/createAddress.ts
Due: express

docs(examples): add Go Account whitelist list and update scripts
  examples/docs/go-account-workflows.md
  examples/ts/go-account/go-account-whitelist-list.ts
  examples/ts/go-account/go-account-whitelist-update.ts
Due: none

fix(sdk-coin-flr): auto-detect atomic export txs in explainTransaction
  modules/sdk-coin-flr/src/flr.ts
  modules/sdk-coin-flr/test/unit/flr.ts
  modules/sdk-coin-flrp/test/unit/flrp.ts
Due: none

fix(statics): correct tcanton:usdcx contract address casing
  modules/statics/src/coins/cantonTokens.ts
Due: statics

fix(statics): remove MultiSig feature for FLRP
  modules/statics/src/flrp.ts
  modules/statics/test/unit/fixtures/expectedColdFeatures.ts
Due: statics

Revert "fix(sdk-core): enforce recipient verification in EDDSA tss signing"
  modules/sdk-core/src/bitgo/utils/tss/eddsa/eddsa.ts
  modules/sdk-core/src/bitgo/utils/tss/eddsa/eddsaMPCv2.ts
  modules/sdk-core/src/bitgo/utils/tss/recipientUtils.ts
  modules/sdk-core/test/unit/bitgo/utils/tss/eddsa/eddsaMPCv2.ts
  modules/sdk-core/test/unit/bitgo/utils/tss/recipientUtils.ts
Due: none

fix(sdk-coin-ada): align isUnsignedSweep in recoverConsolidations with recover
  modules/sdk-coin-ada/src/ada.ts
  modules/sdk-coin-ada/test/unit/ada.ts
Due: none

fix(statics): make ofc and custody suffix consistent for xlm
  modules/statics/src/allCoinsAndTokens.ts
Due: statics

fix(sdk-coin-flrp): subtract minImportToPFee from ExportInC outputAmount
  modules/sdk-coin-flrp/src/flrp.ts
  modules/sdk-coin-flrp/test/unit/flrp.ts
Due: none

fix(sdk-coin-flrp): custody wallets no longer require a password
  modules/bitgo/test/v2/unit/wallets.ts
  modules/sdk-coin-flrp/src/flrp.ts
  modules/sdk-coin-flrp/test/unit/flrp.ts
Due: bitgo

fix(statics): add EIP1559 to ETH_FEATURES_WITH_FRANKFURT for v4 forwarder flush
  modules/sdk-coin-eth/test/unit/transactionBuilder/flushTokens.ts
  modules/statics/src/coinFeatures.ts
  modules/statics/test/unit/coins.ts
Due: statics

feat(sdk-coin-sol): add MPCv2 support to recoverNestedAta
  modules/sdk-coin-sol/src/sol.ts
  modules/sdk-coin-sol/test/unit/sol.ts
Due: none

feat(sdk-coin-sol): add MPCv2 support to recoverConsolidations
  modules/sdk-coin-sol/src/sol.ts
  modules/sdk-coin-sol/test/unit/sol.ts
Due: none

feat: onboard equity and treasury tokens for canton testnet
  modules/statics/src/base.ts
  modules/statics/src/coins/cantonTokens.ts
Due: statics

fix(sdk-coin-eth): guard BN construction in signFinal for EIP-1559 txns
  modules/sdk-coin-eth/src/eth.ts
  modules/sdk-coin-eth/test/fixtures/eth.ts
  modules/sdk-coin-eth/test/unit/ethWallet.ts
Due: none

feat(root): self-contained scheduled iyarc-prune workflow
  .github/prompts/iyarc-prune.md
  .github/workflows/iyarc-prune.yml
  .github/workflows/nightshift-scheduler.yaml
  .github/workflows/nightshift-task.yaml
  .nightshift.yaml
Due: none

feat: add external signer support for ECDSA and EdDSA TSS key gen
  modules/sdk-core/src/bitgo/utils/tss/ecdsa/ecdsaMPCv2.ts
  modules/sdk-core/src/bitgo/utils/tss/eddsa/eddsa.ts
  modules/sdk-core/src/bitgo/wallet/iWallets.ts
  modules/sdk-core/src/bitgo/wallet/wallets.ts
  modules/sdk-core/src/index.ts
  modules/sdk-core/test/unit/bitgo/utils/tss/ecdsa/ecdsaMPCv2.ts
  modules/sdk-core/test/unit/bitgo/utils/tss/eddsa/eddsaExternalSigner.ts
  modules/sdk-core/test/unit/bitgo/wallet/walletsExternalSigner.ts
Due: none

fix(statics): update XLM testnet BST and TST issuer addresses
  modules/bitgo/test/v2/unit/baseCoin.ts
  modules/bitgo/test/v2/unit/coins/stellarToken.ts
  modules/sdk-coin-xlm/test/unit/fixtures/blindSigning.ts
  modules/sdk-coin-xlm/test/unit/xlm.ts
  modules/statics/src/allCoinsAndTokens.ts
  modules/statics/src/base.ts
  modules/statics/src/coins/ofcCoins.ts
  modules/statics/test/unit/resources/amsTokenConfig.ts
Due: bitgo, statics

feat(statics): add SoFiUSD Canton token (staging, test, prod)
  modules/statics/src/base.ts
  modules/statics/src/coins/cantonTokens.ts
  modules/statics/src/coins/ofcCoins.ts
Due: statics

fix(sdk-coin-eth): fix the verify confidential transfer for zama TICKET: CHALO-696
  modules/abstract-eth/src/lib/utils.ts
  modules/sdk-coin-eth/src/erc7984Token.ts
  modules/sdk-coin-eth/test/unit/erc7984Token.ts
Due: none

feat: onboard zama prod tokens TICKET: CHALO-733
  modules/statics/src/base.ts
  modules/statics/src/coins/erc7984Tokens.ts
Due: statics

fix(abstract-substrate): blake2_256 prehash signablePayload over 256 bytes
  modules/abstract-substrate/src/lib/constants.ts
  modules/abstract-substrate/src/lib/transaction.ts
  modules/abstract-substrate/src/lib/utils.ts
  modules/sdk-coin-polyx/test/unit/transactionBuilder/batchStakingBuilder.ts
  modules/sdk-coin-polyx/test/unit/transactionBuilder/nominateBuilder.ts
Due: none

feat(sdk-coin-xdc): add signXdcKycMessage utility
  modules/sdk-coin-xdc/src/lib/index.ts
  modules/sdk-coin-xdc/src/lib/xdcKycMessage.ts
  modules/sdk-coin-xdc/test/unit/xdcKycMessage.ts
Due: none

feat: onboard xlm test token for prod
  modules/statics/src/allCoinsAndTokens.ts
  modules/statics/src/base.ts
  modules/statics/src/coins/ofcCoins.ts
Due: statics

feat(sdk-coin-starknet): add recovery flow for starknet
  modules/sdk-coin-starknet/src/lib/constants.ts
  modules/sdk-coin-starknet/src/lib/index.ts
  modules/sdk-coin-starknet/src/lib/recovery.ts
  modules/sdk-coin-starknet/src/lib/transactionBuilder.ts
  modules/sdk-coin-starknet/src/lib/walletInitializationBuilder.ts
  modules/sdk-coin-starknet/src/starknet.ts
  modules/sdk-coin-starknet/test/unit/transactionBuilder/transactionRecover.ts
Due: none

feat(sdk-coin-polyx): add v8 metadata and base V8 builders
  modules/sdk-coin-polyx/src/lib/index.ts
  modules/sdk-coin-polyx/src/lib/preApproveAssetBuilder.ts
  modules/sdk-coin-polyx/src/lib/transactionBuilderFactory.ts
  modules/sdk-coin-polyx/src/lib/utils.ts
  modules/sdk-coin-polyx/src/lib/v8HexTokenTransferBuilder.ts
  modules/sdk-coin-polyx/src/lib/v8HexTransferBuilder.ts
  modules/sdk-coin-polyx/src/lib/v8PreApproveAssetBuilder.ts
  modules/sdk-coin-polyx/src/lib/v8RegisterDidWithCDDBuilder.ts
  modules/sdk-coin-polyx/src/lib/v8TokenTransferBuilder.ts
  modules/sdk-coin-polyx/src/lib/v8TransferBuilder.ts
  modules/sdk-coin-polyx/src/resources/index.ts
  modules/sdk-coin-polyx/src/resources/mainnetV8.ts
  modules/sdk-coin-polyx/src/resources/testnetV8.ts
  modules/sdk-coin-polyx/test/unit/transactionBuilder/v8HexTokenTransferBuilder.ts
  modules/sdk-coin-polyx/test/unit/transactionBuilder/v8HexTransferBuilder.ts
  modules/sdk-coin-polyx/test/unit/transactionBuilder/v8PreApproveAssetBuilder.ts
  modules/sdk-coin-polyx/test/unit/transactionBuilder/v8RegisterDidWithCDDBuilder.ts
  modules/sdk-coin-polyx/test/unit/transactionBuilder/v8TokenTransferBuilder.ts
  modules/sdk-coin-polyx/test/unit/transactionBuilder/v8TransferBuilder.ts
Due: none

feat(statics): add PolyxNetwork interface with v8SpecVersion and v8TxVersion
  modules/statics/src/networks.ts
  modules/statics/test/unit/networks.ts
Due: statics

feat(sdk-coin-polyx): update mainnet resources to v8 runtime
  modules/sdk-coin-polyx/src/resources/mainnet.ts
  modules/sdk-coin-polyx/test/resources/index.ts
  modules/sdk-coin-polyx/test/unit/transactionBuilder/registerDidWithCDDBuilder.ts
  modules/sdk-coin-polyx/test/unit/transactionBuilder/transferBuilder.ts
Due: none

refactor(root): move iyarc-prune prompt to shared .claude/agents subagent
  .claude/agents/iyarc-prune.md
  .github/workflows/iyarc-prune.yml
  .gitignore
Due: none

fix(sdk-lib-mpc): lazy-load wasm-mps to fix browser DSG
  modules/bitgo/test/v2/unit/internal/tssUtils/eddsaMPCv2/signTxRequest.ts
  modules/express/test/unit/clientRoutes/externalSign.ts
  modules/sdk-coin-sol/src/sol.ts
  modules/sdk-core/src/bitgo/utils/tss/eddsa/eddsaMPCv2.ts
  modules/sdk-core/test/unit/bitgo/utils/tss/eddsa/eddsaMPCv2.ts
  modules/sdk-lib-mpc/src/tss/eddsa-mps/dsg.ts
  modules/sdk-lib-mpc/src/tss/eddsa-mps/util.ts
  modules/sdk-lib-mpc/test/unit/tss/eddsa/derive.ts
  modules/sdk-lib-mpc/test/unit/tss/eddsa/dsg.ts
  modules/sdk-lib-mpc/test/unit/tss/eddsa/eddsa-utils.ts
Due: bitgo, express

test(sdk-coin-polyx): add v8 dry-run tests for all builders
  modules/sdk-coin-polyx/test/unit/transactionBuilder/v8DryRun.ts
Due: none

feat(statics): update receipt tokens coin features
  modules/statics/src/base.ts
  modules/statics/src/coins/botTokens.ts
Due: statics

feat(statics): add zama acl contract for eth TICKET: CHALO-724
  modules/statics/src/networks.ts
Due: statics

feat(abstract-substrate): expose rawExtrinsicPayload separate from signablePayload
  modules/abstract-substrate/src/lib/transaction.ts
  modules/sdk-coin-polyx/src/lib/iface.ts
  modules/sdk-coin-polyx/src/lib/transaction.ts
  modules/sdk-coin-polyx/test/unit/transactionBuilder/nominateBuilder.ts
Due: none
