Repository BitGo/BitGoJS: changes, and which Codecov flags are due for each by the changed paths.
All: bitgo, account-lib, statics, express

chore: unskip transaction builder factory
  modules/account-lib/test/unit/coin/dot/transactionBuilder/transactionBuilderFactory.ts
Due: account-lib

chore: unskip batch transaction builder
  modules/account-lib/test/unit/coin/dot/transactionBuilder/batchTransactionBuilder.ts
Due: account-lib

chore: unskip base tests
  modules/account-lib/test/unit/coin/dot/transactionBuilder/base.ts
Due: account-lib

chore: update txwrapper and polkadot versions
  modules/account-lib/package.json
  modules/account-lib/test/unit/coin/dot/transactionBuilder/base.ts
  modules/account-lib/test/unit/coin/dot/transactionBuilder/stakingBuilder.ts
  modules/account-lib/test/unit/coin/dot/transactionBuilder/transferBuilder.ts
  yarn.lock
Due: account-lib

chore: return false for dot supporting TSS
  modules/core/src/v2/coins/dot.ts
Due: bitgo

chore(release): publish modules
  modules/account-lib/package.json
  modules/core/package.json
  modules/express/package-lock.json
  modules/express/package.json
Due: bitgo, account-lib, express

fix(core): default goerli for etherscan
  modules/core/src/v2/environments.ts
  modules/core/test/lib/test_bitgo.ts
  modules/core/test/v2/lib/recovery-nocks.ts
Due: bitgo

chore(account-lib): redefine type of transaction, followup pr to 2036, STLX-11958
  modules/account-lib/src/coin/sol/ataInitializationBuilder.ts
  modules/account-lib/src/coin/sol/ataInitializationTransaction.ts
Due: account-lib

fix(account-lib): dot unit tests memory issue
  modules/account-lib/test/unit/coin/dot/transactionBuilder/base.ts
  modules/account-lib/test/unit/coin/dot/transactionBuilder/stakingBuilder.ts
  modules/account-lib/test/unit/coin/dot/transactionBuilder/transferBuilder.ts
Due: account-lib

chore(account-lib): add transaction tests
  modules/account-lib/src/coin/dot/utils.ts
  modules/account-lib/test/resources/dot/index.ts
  modules/account-lib/test/unit/coin/dot/transaction.ts
  modules/account-lib/test/unit/coin/dot/transactionBuilder/addressInitializationBuilder.ts
  modules/account-lib/test/unit/coin/dot/transactionBuilder/base.ts
  modules/account-lib/test/unit/coin/dot/transactionBuilder/batchTransactionBuilder.ts
  modules/account-lib/test/unit/coin/dot/transactionBuilder/stakingBuilder.ts
  modules/account-lib/test/unit/coin/dot/transactionBuilder/transferBuilder.ts
  modules/account-lib/test/unit/coin/dot/transactionBuilder/unnominateBuilder.ts
  modules/account-lib/test/unit/coin/dot/transactionBuilder/unstakeBuilder.ts
  modules/account-lib/test/unit/coin/dot/transactionBuilder/withdrawUnstakedBuilder.ts
Due: account-lib

chore(core): improve support for tss wallets
  modules/core/src/v2/baseCoin.ts
  modules/core/src/v2/internal/tssUtils.ts
  modules/core/src/v2/wallet.ts
  modules/core/test/v2/unit/internal/tssUtils.ts
  modules/core/test/v2/unit/wallet.ts
Due: bitgo

test(account-lib): add missing test
  modules/account-lib/src/coin/near/utils.ts
  modules/account-lib/test/resources/near/index.ts
  modules/account-lib/test/unit/coin/near/utils.ts
Due: account-lib

Solve BG-43197
  modules/account-lib/src/coin/dot/transaction.ts
  modules/account-lib/src/coin/dot/transactionBuilder.ts
  modules/account-lib/src/coin/dot/transactionBuilderFactory.ts
  modules/account-lib/src/coin/dot/utils.ts
  modules/account-lib/test/unit/coin/dot/transactionBuilder/transactionBuilderFactory.ts
Due: account-lib

fix(statics): add missing gterc tokens
  modules/statics/src/base.ts
  modules/statics/src/coins.ts
Due: statics

chore(account-lib): enable batch tranasction tests
  modules/account-lib/src/coin/dot/batchTransactionBuilder.ts
  modules/account-lib/src/coin/dot/transactionBuilder.ts
  modules/account-lib/test/unit/coin/dot/transactionBuilder/base.ts
  modules/account-lib/test/unit/coin/dot/transactionBuilder/batchTransactionBuilder.ts
  modules/account-lib/test/unit/coin/dot/transactionBuilder/transactionBuilderFactory.ts
Due: account-lib

chore(account-lib): enable transaction tests
  modules/account-lib/src/coin/dot/utils.ts
  modules/account-lib/test/resources/dot/index.ts
  modules/account-lib/test/unit/coin/dot/transaction.ts
  modules/account-lib/test/unit/coin/dot/transactionBuilder/addressInitializationBuilder.ts
  modules/account-lib/test/unit/coin/dot/transactionBuilder/base.ts
  modules/account-lib/test/unit/coin/dot/transactionBuilder/batchTransactionBuilder.ts
  modules/account-lib/test/unit/coin/dot/transactionBuilder/stakingBuilder.ts
  modules/account-lib/test/unit/coin/dot/transactionBuilder/transferBuilder.ts
  modules/account-lib/test/unit/coin/dot/transactionBuilder/unnominateBuilder.ts
  modules/account-lib/test/unit/coin/dot/transactionBuilder/unstakeBuilder.ts
  modules/account-lib/test/unit/coin/dot/transactionBuilder/withdrawUnstakedBuilder.ts
Due: account-lib

chore(account-lib): enable factory methods
  modules/account-lib/test/unit/coin/dot/transactionBuilder/batchTransactionBuilder.ts
  modules/account-lib/test/unit/coin/dot/transactionBuilder/transactionBuilderFactory.ts
Due: account-lib

feat(core): verify tss transactions
  modules/core/src/v2/coins/sol.ts
  modules/core/src/v2/internal/tssUtils.ts
  modules/core/src/v2/wallet.ts
  modules/core/test/v2/unit/coins/sol.ts
  modules/core/test/v2/unit/internal/tssUtils.ts
  modules/core/test/v2/unit/wallet.ts
Due: bitgo

nft draft proposal
  modules/account-lib/src/coin/baseCoin/enum.ts
  modules/account-lib/src/coin/eth/transactionBuilder.ts
  modules/account-lib/src/coin/eth/transferBuilder.ts
  modules/account-lib/test/unit/coin/eth/transactionBuilder/sendNFT.ts
Due: account-lib

Progress on SDK changes
  modules/account-lib/src/coin/eth/iface.ts
  modules/account-lib/src/coin/eth/transaction.ts
  modules/account-lib/src/coin/eth/transactionBuilder.ts
  modules/account-lib/src/coin/eth/transferBuilder.ts
  modules/account-lib/src/coin/eth/walletUtil.ts
  modules/statics/src/account.ts
  modules/statics/src/coins.ts
  modules/statics/src/index.ts
Due: account-lib, statics

feat(account-lib): spl-token encode/decode rework STLX-11959
  modules/account-lib/src/coin/sol/tokenEncodeDecode.ts
  modules/account-lib/test/resources/sol/sol.ts
  modules/account-lib/test/unit/coin/sol/transactionBuilder/tokenEncodeDecode.ts
  modules/account-lib/test/unit/coin/sol/transactionBuilder/transactionBuilder.ts
Due: account-lib

feat(core): implement sign transaction for NEAR
  modules/core/src/v2/coinFactory.ts
  modules/core/src/v2/coins/near.ts
  modules/core/src/v2/coins/tnear.ts
  modules/core/test/v2/fixtures/coins/near.ts
  modules/core/test/v2/unit/coins/near.ts
Due: bitgo

chore: set support tss to true dot test e2e
  modules/core/src/v2/coins/dot.ts
Due: bitgo

refactor(account-lib): implement registry singleton
  modules/account-lib/src/coin/dot/index.ts
  modules/account-lib/src/coin/dot/singletonRegistry.ts
  modules/account-lib/src/coin/dot/transactionBuilder.ts
  modules/account-lib/src/coin/dot/transactionBuilderFactory.ts
  modules/account-lib/src/coin/dot/transferBuilder.ts
  modules/account-lib/src/coin/dot/utils.ts
  modules/account-lib/test/resources/dot/materialDataModified.json
  modules/account-lib/test/unit/coin/dot/transactionBuilder/singeltonRegistry.ts
Due: account-lib

feat(account-lib): change NEAR transfer builder interface
  modules/account-lib/src/coin/near/transactionBuilder.ts
  modules/account-lib/src/coin/near/transferBuilder.ts
  modules/account-lib/test/resources/near/index.ts
  modules/account-lib/test/unit/coin/near/transactionBuilder.ts
  modules/account-lib/test/unit/coin/near/transferBuilder.ts
Due: account-lib

feat(account-lib): allow dot key pair init with bs58 pub key
  modules/account-lib/src/coin/dot/keyPair.ts
  modules/account-lib/test/resources/dot/index.ts
  modules/account-lib/test/unit/coin/dot/keypair.ts
Due: account-lib

feat(account-lib): avaxc upgrade common fork to london
  modules/account-lib/src/coin/avaxc/resources.ts
  modules/account-lib/test/unit/coin/avaxc/transactionBuilder/transfer.ts
  modules/account-lib/test/unit/coin/avaxc/util.ts
  modules/core/test/v2/unit/keychains.ts
Due: bitgo, account-lib

docs(core): update README.md module links and examples
  README.md
  modules/core/example/README.md
Due: bitgo

docs(core): update README.md module links and examples
  README.md
  modules/account-lib/src/coin/dot/keyPair.ts
  modules/account-lib/test/resources/dot/index.ts
  modules/account-lib/test/unit/coin/dot/keypair.ts
  modules/core/example/README.md
Due: bitgo, account-lib

chore: bump algo and stellar sdks
  modules/account-lib/package.json
  modules/core/package.json
  yarn.lock
Due: bitgo, account-lib

fix(statics): fix import/exports - export Sol, Algo Interfaces - export Edds & SolCoin - remove imports to statics/dist bg-41925
  modules/account-lib/src/coin/algo/index.ts
  modules/account-lib/src/coin/avaxc/transactionBuilder.ts
  modules/account-lib/src/coin/celo/stakingBuilder.ts
  modules/account-lib/src/coin/celo/transactionBuilder.ts
  modules/account-lib/src/coin/cspr/delegateBuilder.ts
  modules/account-lib/src/coin/cspr/transaction.ts
  modules/account-lib/src/coin/cspr/transactionBuilder.ts
  modules/account-lib/src/coin/cspr/transactionBuilderFactory.ts
  modules/account-lib/src/coin/cspr/transferBuilder.ts
  modules/account-lib/src/coin/cspr/undelegateBuilder.ts
  modules/account-lib/src/coin/cspr/walletInitializationBuilder.ts
  modules/account-lib/src/coin/etc/transactionBuilder.ts
  modules/account-lib/src/coin/hbar/transaction.ts
  modules/account-lib/src/coin/hbar/transactionBuilder.ts
  modules/account-lib/src/coin/hbar/transactionBuilderFactory.ts
  modules/account-lib/src/coin/hbar/transferBuilder.ts
  modules/account-lib/src/coin/hbar/walletInitializationBuilder.ts
  modules/account-lib/src/coin/rbtc/transactionBuilder.ts
  modules/account-lib/src/coin/sol/ataInitializationBuilder.ts
  modules/account-lib/src/coin/sol/index.ts
  modules/account-lib/src/coin/sol/utils.ts
  modules/account-lib/src/index.ts
  modules/statics/src/index.ts
Due: account-lib, statics

Progress on SDK changes
  modules/account-lib/src/coin/eth/contractCall.ts
  modules/account-lib/src/coin/eth/iface.ts
  modules/account-lib/src/coin/eth/transactionBuilder.ts
  modules/account-lib/src/coin/eth/transferBuilder/transferBuilderERC1155.ts
  modules/account-lib/src/coin/eth/transferBuilder/transferBuilderERC721.ts
  modules/account-lib/src/coin/eth/utils.ts
  modules/account-lib/src/coin/eth/walletUtil.ts
  modules/account-lib/test/unit/coin/eth/transactionBuilder/sendNFT.ts
Due: account-lib

fix(core): support password reset and enterprise with MPC
  modules/core/src/v2/internal/blsUtils.ts
  modules/core/src/v2/internal/mpcUtils.ts
  modules/core/src/v2/internal/tssUtils.ts
  modules/core/src/v2/keychains.ts
  modules/core/src/v2/wallets.ts
  modules/core/test/v2/unit/internal/blsUtils.ts
  modules/core/test/v2/unit/internal/tssUtils.ts
Due: bitgo

Progress on SDK changes
  modules/account-lib/src/coin/eth/contractCall.ts
  modules/account-lib/src/coin/eth/iface.ts
  modules/account-lib/src/coin/eth/index.ts
  modules/account-lib/src/coin/eth/transactionBuilder.ts
  modules/account-lib/src/coin/eth/transferBuilder/transferBuilderERC1155.ts
  modules/account-lib/src/coin/eth/transferBuilder/transferBuilderERC721.ts
  modules/account-lib/src/coin/eth/utils.ts
  modules/account-lib/src/coin/eth/walletUtil.ts
  modules/account-lib/test/unit/coin/eth/transactionBuilder/send.ts
  modules/account-lib/test/unit/coin/eth/transactionBuilder/sendNFT.ts
  modules/statics/src/account.ts
  modules/statics/src/coins.ts
  modules/statics/src/index.ts
Due: account-lib, statics

feat: asdf
  modules/statics/src/account.ts
  modules/statics/src/base.ts
  modules/statics/src/coins.ts
Due: statics

Path conditions:
  bitgo: any of: modules/core
  account-lib: any of: modules/account-lib
  statics: any of: modules/statics
  express: any of: modules/express
