Repository BitGo/BitGoJS: changes, and which Codecov flags are due for each by the changed paths.
All: bitgo, account-lib, statics, express

.codecov.yml:

coverage:
  status:
    project: off
    patch: off
comment:
  layout: "diff, flags, files"
  require_changes: true
flags:
  bitgo:
    paths:
      - modules/core
  account-lib:
    paths:
      - modules/account-lib
  statics:
    paths:
      - modules/statics
  express:
    paths:
      - modules/express

chore(core): add sdk-core package - adds a new project for core functionality
  modules/bitgo/package.json
  modules/sdk-core/.gitignore
  modules/sdk-core/.mocharc.js
  modules/sdk-core/.npmignore
  modules/sdk-core/.prettierignore
  modules/sdk-core/.prettierrc.yml
  modules/sdk-core/package.json
  modules/sdk-core/src/index.ts
  modules/sdk-core/tsconfig.json
Due: none

chore(root): wireup typescript project references - adds necessary configuration to link projects together - adds root level command 'dev' to compile all in real-time
  modules/account-lib/package.json
  modules/account-lib/tsconfig.json
  modules/bitgo/package.json
  modules/bitgo/tsconfig.json
  modules/blockapis/package.json
  modules/blockapis/tsconfig.json
  modules/express/package.json
  modules/express/tsconfig.json
  modules/sdk-api/package.json
  modules/sdk-api/tsconfig.json
  modules/sdk-core/package.json
  modules/sdk-core/tsconfig.json
  modules/statics/package.json
  modules/statics/tsconfig.json
  modules/utxo-bin/package.json
  modules/utxo-bin/tsconfig.json
  modules/utxo-lib/package.json
  modules/utxo-lib/tsconfig.build.json
  package.json
  tsconfig.json
  tsconfig.packages.json
Due: account-lib, statics, express

chore(sdk-core): refactor Environment to core
  modules/bitgo/src/bitgo.ts
  modules/bitgo/src/config.ts
  modules/bitgo/src/index.ts
  modules/bitgo/src/v2/environments.ts
  modules/bitgo/test/v2/lib/recovery-nocks.ts
  modules/bitgo/test/v2/unit/coins/utxo/util/nockBitGo.ts
  modules/bitgo/test/v2/unit/environments.ts
  modules/bitgo/test/v2/unit/trading/tradingAccount.ts
  modules/bitgo/test/v2/unit/trading/tradingPartner.ts
  modules/sdk-api/src/bitgoAPI.ts
  modules/sdk-core/src/index.ts
  modules/sdk-core/src/types/environmentName.ts
  modules/sdk-core/src/types/index.ts
Due: none

chore(sdk-api): add webpack config - adds webpack build for web bundle
  modules/sdk-api/package.json
  modules/sdk-api/webpack.config.js
Due: none

chore(root): update developer doc for new TS build
  DEVELOPERS.md
Due: none

chore(root): fix build & publish steps - adds yarn before each tsc build - fixes npm ignores for new packages - sets prepublish step for sdk-api to create web bundle
  modules/bitgo/package.json
  modules/blockapis/package.json
  modules/express/package.json
  modules/sdk-api/.npmignore
  modules/sdk-api/package.json
  modules/sdk-core/.npmignore
  modules/sdk-core/package.json
  modules/statics/package.json
  modules/utxo-bin/package.json
  modules/utxo-lib/package.json
  yarn.lock
Due: statics, express

chore: add dot derive unhardended tests
  modules/account-lib/test/unit/mpc/tss.ts
Due: account-lib

chore(root) bump to dev version
  modules/account-lib/package.json
  modules/bitgo/package.json
  modules/blockapis/package.json
  modules/bls-dkg/package.json
  modules/express/package-lock.json
  modules/express/package.json
  modules/sdk-api/package.json
  modules/sdk-core/package.json
  modules/sjcl/package.json
  modules/statics/package.json
  modules/unspents/package.json
  modules/utxo-bin/package.json
  modules/utxo-lib/package.json
Due: account-lib, statics, express

fix(bitgo): send tx Hot/Cold fails while sending token Chain link
  modules/bitgo/test/v2/unit/coins/avaxcToken.ts
Due: none

feat: update tss signing to support hd
  modules/account-lib/test/unit/mpc/tss.ts
  modules/bitgo/src/v2/internal/tssUtils.ts
  modules/bitgo/src/v2/pendingApproval.ts
  modules/bitgo/src/v2/wallet.ts
  modules/bitgo/test/v2/unit/internal/tssUtils.ts
  modules/bitgo/test/v2/unit/pendingApproval.ts
  modules/bitgo/test/v2/unit/wallet.ts
Due: account-lib

chore: update polkadot libs and yarn.lock
  modules/account-lib/package.json
  modules/account-lib/test/unit/coin/dot/transactionBuilder/transferBuilder.ts
  yarn.lock
Due: account-lib

chore(release): publish modules
  modules/account-lib/package.json
  modules/bitgo/package.json
  modules/blockapis/package.json
  modules/express/package-lock.json
  modules/express/package.json
  modules/sjcl/package.json
  modules/statics/package.json
  modules/unspents/package.json
  modules/utxo-bin/package.json
  modules/utxo-lib/package.json
Due: account-lib, statics, express

chore(sjcl): fix publish config
  modules/sjcl/package.json
Due: none

chore(sdk-api): project init - adds a new project for api requests only
  modules/sdk-api/.gitignore
  modules/sdk-api/.mocharc.js
  modules/sdk-api/.npmignore
  modules/sdk-api/.prettierignore
  modules/sdk-api/.prettierrc.yml
  modules/sdk-api/package.json
  modules/sdk-api/src/bitgoAPI.ts
  modules/sdk-api/src/index.ts
  modules/sdk-api/src/types.ts
  modules/sdk-api/tsconfig.json
Due: none

chore(sdk-api): move encrypt/decrypt
  modules/bitgo/src/bitgo.ts
  modules/bitgo/src/v2/coins/utxo/recovery/crossChainRecovery.ts
  modules/sdk-api/src/bitgoAPI.ts
  modules/sdk-api/src/encrypt.ts
  modules/sdk-api/src/index.ts
  modules/sdk-api/src/types.ts
Due: none

chore(release): publish modules
  modules/bitgo/package.json
  modules/unspents/package.json
Due: none

test
  modules/bitgo/src/v2/wallet.ts
Due: none

chore(sdk-api): move more utility functions - to/from json - verifyPassword
  modules/bitgo/src/bitgo.ts
  modules/bitgo/test/encrypt.ts
  modules/bitgo/test/v2/unit/coins/utxo/util/keychains.ts
  modules/sdk-api/src/bitgoAPI.ts
  modules/sdk-api/src/types.ts
Due: none

chore(sdk-api): move authenticate
  modules/bitgo/src/bitgo.ts
  modules/bitgo/src/keychains.ts
  modules/bitgo/src/legacyBitcoin.ts
  modules/bitgo/src/transactionBuilder.ts
  modules/bitgo/src/travelRule.ts
  modules/bitgo/src/v2/coins/abstractUtxoCoin.ts
  modules/bitgo/src/v2/wallets.ts
  modules/bitgo/src/wallet.ts
  modules/bitgo/src/wallets.ts
  modules/bitgo/test/unit/bip32path.ts
  modules/sdk-api/package.json
  modules/sdk-api/src/bip32path.ts
  modules/sdk-api/src/bitgoAPI.ts
  modules/sdk-api/src/index.ts
  modules/sdk-api/src/types.ts
  modules/sdk-api/webpack.config.js
  yarn.lock
Due: none

feat(bitgo): update tss hd wallet sharing
  modules/account-lib/src/index.ts
  modules/bitgo/src/v2/internal/tssUtils.ts
  modules/bitgo/src/v2/wallet.ts
  modules/bitgo/test/v2/unit/wallet.ts
Due: account-lib

chore(root): fix build & publish steps - adds yarn before each tsc build - fixes npm ignores for new packages - sets prepublish step for sdk-api to create web bundle
  yarn.lock
Due: none

chore(root): bump version to dev.0
  modules/account-lib/package.json
  modules/bitgo/package.json
  modules/blockapis/package.json
  modules/bls-dkg/package.json
  modules/express/package-lock.json
  modules/express/package.json
  modules/sdk-api/package.json
  modules/sdk-core/package.json
  modules/sjcl/package.json
  modules/statics/package.json
  modules/unspents/package.json
  modules/utxo-bin/package.json
  modules/utxo-lib/package.json
Due: account-lib, statics, express

chore(root): version bump
  modules/account-lib/package.json
  modules/bitgo/package.json
  modules/blockapis/package.json
  modules/bls-dkg/package.json
  modules/express/package-lock.json
  modules/express/package.json
  modules/sdk-api/package.json
  modules/sdk-core/package.json
  modules/sjcl/package.json
  modules/statics/package.json
  modules/unspents/package.json
  modules/utxo-bin/package.json
  modules/utxo-lib/package.json
Due: account-lib, statics, express

chore(release): publish modules
  modules/account-lib/package.json
  modules/bitgo/package.json
  modules/express/package-lock.json
  modules/express/package.json
  modules/unspents/package.json
Due: account-lib, express

feat: update TxRequest model to include derivationPath
  modules/account-lib/test/unit/coin/sol/transactionBuilder/transactionBuilder.ts
  modules/account-lib/test/unit/mpc/tss.ts
  modules/bitgo/src/v2/coins/sol.ts
  modules/bitgo/src/v2/internal/mpcUtils.ts
  modules/bitgo/src/v2/internal/opengpgUtils.ts
  modules/bitgo/src/v2/internal/tssUtils.ts
  modules/bitgo/src/v2/pendingApproval.ts
  modules/bitgo/src/v2/wallet.ts
  modules/bitgo/test/v2/unit/internal/tssUtils.ts
  modules/bitgo/test/v2/unit/pendingApproval.ts
  modules/bitgo/test/v2/unit/wallet.ts
Due: account-lib

fix(bitgo): avoid throwing errors in wallet sharing
  modules/bitgo/src/v2/wallet.ts
Due: none

feat: support tss hd signing
  modules/account-lib/test/unit/coin/sol/transactionBuilder/transactionBuilder.ts
  modules/account-lib/test/unit/mpc/tss.ts
  modules/bitgo/src/v2/internal/mpcUtils.ts
  modules/bitgo/src/v2/internal/opengpgUtils.ts
  modules/bitgo/src/v2/internal/tssUtils.ts
  modules/bitgo/src/v2/pendingApproval.ts
  modules/bitgo/src/v2/wallet.ts
  modules/bitgo/test/v2/unit/internal/tssUtils.ts
  modules/bitgo/test/v2/unit/pendingApproval.ts
  modules/bitgo/test/v2/unit/wallet.ts
Due: account-lib

chore(unspents): revert package version - restoring to latest unchanged version
  modules/bitgo/package.json
  modules/unspents/package.json
Due: none

chore(release): publish modules -@bitgo/account-lib@2.19.0-rc.22 - bitgo@14.1.0-rc.24
  modules/account-lib/package.json
  modules/bitgo/package.json
  modules/express/package-lock.json
  modules/express/package.json
Due: account-lib, express
