Repository BitGo/BitGoJS: changes, and which Codecov flags are due for each by the changed paths.
All: bitgo, account-lib, statics, express

feat(abstract-utxo): add support for RootWalletKeys in toBip32Triple
  modules/abstract-utxo/src/keychains.ts
Due: none

feat(abstract-utxo): improve comments for address validation process
  modules/abstract-utxo/src/transaction/fixedScript/parseOutput.ts
Due: none

feat(abstract-utxo): document explainPsbt parameters
  modules/abstract-utxo/src/transaction/fixedScript/explainTransaction.ts
Due: none

feat: bump public types
  modules/abstract-lightning/package.json
  modules/bitgo/package.json
  modules/express/package.json
  modules/sdk-coin-sol/package.json
  modules/sdk-core/package.json
  yarn.lock
Due: bitgo, express

feat(abstract-utxo): implement support for custom change outputs
  modules/abstract-utxo/src/transaction/descriptor/explainPsbt.ts
  modules/abstract-utxo/src/transaction/fixedScript/explainTransaction.ts
Due: none

feat(abstract-utxo): add test for custom change outputs in PSBT
  modules/abstract-utxo/test/unit/transaction/fixedScript/explainPsbt.ts
Due: none

feat(abstract-utxo): add custom change wallet parsing to PSBT explainer
  modules/abstract-utxo/src/transaction/fixedScript/explainPsbtWasm.ts
  modules/abstract-utxo/test/unit/transaction/fixedScript/explainPsbt.ts
Due: none

feat(abstract-utxo): refactor PSBT output handling
  modules/abstract-utxo/src/transaction/fixedScript/explainPsbtWasm.ts
Due: none

feat(express): migrated lightningPayment to type route
  modules/express/src/clientRoutes.ts
  modules/express/src/lightning/lightningInvoiceRoutes.ts
  modules/express/src/typedRoutes/api/index.ts
  modules/express/src/typedRoutes/api/v2/lightningPayment.ts
  modules/express/test/unit/lightning/lightningInvoiceRoutes.test.ts
  modules/express/test/unit/typedRoutes/lightningPayment.ts
Due: express

fix(sdk-coin-vet): fix claim rewards builder for hayabusa
  modules/sdk-coin-vet/src/lib/iface.ts
  modules/sdk-coin-vet/src/lib/transaction/claimRewards.ts
  modules/sdk-coin-vet/src/lib/transaction/delegateClauseTransaction.ts
  modules/sdk-coin-vet/src/lib/transactionBuilder/claimRewardsBuilder.ts
  modules/sdk-coin-vet/src/lib/types.ts
  modules/sdk-coin-vet/test/resources/vet.ts
  modules/sdk-coin-vet/test/transactionBuilder/claimRewardsBuilder.ts
  modules/sdk-coin-vet/test/transactionBuilder/delegateClauseTxnBuilder.ts
Due: none

feat(sdk-coin-ton): add jetton recovery support TICKET: COIN-6203
  modules/sdk-coin-ton/src/ton.ts
  modules/sdk-coin-ton/test/unit/ton.ts
Due: none

feat(sdk-coin-ada): fix ada token names
  modules/statics/src/coins/adaTokens.ts
Due: statics

fix(abstract-eth): add consolidate type and validation for TSS wallets
  modules/abstract-eth/src/abstractEthLikeNewCoins.ts
Due: none

fix(statics): update celo token contract address for sepolia
  modules/sdk-coin-celo/test/resources/celo.ts
  modules/statics/src/allCoinsAndTokens.ts
Due: statics

feat(express): migrated pendingApprovalV2 to type route
  modules/express/src/clientRoutes.ts
  modules/express/src/typedRoutes/api/index.ts
  modules/express/src/typedRoutes/api/v2/pendingApproval.ts
  modules/express/test/unit/typedRoutes/pendingApprovalV2.ts
Due: express

refactor(express): pendingApprovalV2 handler return type
  modules/express/src/clientRoutes.ts
Due: express

feat(abstract-utxo): refactor conditional logic in parse transaction tests
  modules/abstract-utxo/test/unit/transaction/fixedScript/parsePsbt.ts
Due: none

fix(abstract-utxo): handle script recipients in toCanonicalTransipient
  modules/abstract-utxo/src/abstractUtxoCoin.ts
Due: none

fix(abstract-utxo): improve error message for invalid recipients
  modules/abstract-utxo/src/transaction/recipient.ts
Due: none

fix(abstract-utxo): support RBF in parsePsbt tests
  modules/abstract-utxo/test/unit/transaction/fixedScript/parsePsbt.ts
Due: none

feat(abstract-utxo): add support for external change address
  modules/abstract-utxo/test/unit/transaction/fixedScript/parsePsbt.ts
Due: none

fix(abstract-utxo): refactor parseTransaction to improve organization
  modules/abstract-utxo/src/transaction/fixedScript/parseTransaction.ts
Due: none

feat(abstract-utxo): improve parseTransaction expected outputs logic
  modules/abstract-utxo/src/transaction/fixedScript/parseTransaction.ts
Due: none

feat(abstract-utxo): add wasm test cases for parsePsbt
  modules/abstract-utxo/test/unit/transaction/fixedScript/explainPsbt.ts
  modules/abstract-utxo/test/unit/transaction/fixedScript/parsePsbt.ts
  modules/abstract-utxo/test/unit/transaction/fixedScript/util.ts
Due: none

feat(abstract-utxo): support RootWalletKeys in fixedScript address generation
  modules/abstract-utxo/src/address/fixedScript.ts
Due: none

feat(abstract-utxo): optimize backup key recovery with address generation
  modules/abstract-utxo/src/abstractUtxoCoin.ts
  modules/abstract-utxo/src/recovery/backupKeyRecovery.ts
Due: none

feat(sdk-core): preserve memo for custom tx type
  modules/sdk-core/src/bitgo/wallet/wallet.ts
Due: none

feat: wallet ownership validation for eth-like, ada, apt, vet, icp
  modules/abstract-eth/src/abstractEthLikeNewCoins.ts
  modules/sdk-coin-ada/src/ada.ts
  modules/sdk-coin-ada/test/unit/ada.ts
  modules/sdk-coin-apt/src/apt.ts
  modules/sdk-coin-apt/test/unit/apt.ts
  modules/sdk-coin-eth/test/unit/eth.ts
  modules/sdk-coin-icp/src/icp.ts
  modules/sdk-coin-icp/test/unit/icp.ts
  modules/sdk-coin-vet/src/vet.ts
  modules/sdk-coin-vet/test/unit/vet.ts
  modules/sdk-core/src/bitgo/baseCoin/iBaseCoin.ts
  modules/sdk-core/src/bitgo/utils/tss/addressVerification.ts
  modules/sdk-core/src/index.ts
Due: none

fix: slice pub to 32 bytes for isWalletAddress for iota
  modules/sdk-coin-iota/src/iota.ts
Due: none

chore: update esbuild dependancy tree in babylonlabs
  modules/babylonlabs-io-btc-staking-ts/package.json
  yarn.lock
Due: none

fix: slice address during verifyEddsaTssWalletAddress
  modules/sdk-coin-apt/src/apt.ts
  modules/sdk-coin-iota/src/iota.ts
  modules/sdk-core/src/bitgo/utils/tss/addressVerification.ts
Due: none

refactor: fix tests and import
  modules/abstract-eth/src/abstractEthLikeNewCoins.ts
  modules/sdk-coin-eth/test/unit/eth.ts
  modules/sdk-core/src/bitgo/utils/tss/addressVerification.ts
Due: none

fix: typo in multi-key-user-key feature
  modules/bitgo/test/v2/unit/wallet.ts
  modules/bitgo/test/v2/unit/wallets.ts
  modules/sdk-core/src/bitgo/wallet/wallet.ts
  modules/sdk-core/src/bitgo/wallet/wallets.ts
Due: bitgo

feat: add ESM build support for utxo coins
  modules/sdk-coin-bch/package.json
  modules/sdk-coin-bch/tsconfig.esm.json
  modules/sdk-coin-bch/tsconfig.json
  modules/sdk-coin-bcha/package.json
  modules/sdk-coin-bcha/tsconfig.esm.json
  modules/sdk-coin-bcha/tsconfig.json
  modules/sdk-coin-bsv/package.json
  modules/sdk-coin-bsv/tsconfig.esm.json
  modules/sdk-coin-bsv/tsconfig.json
  modules/sdk-coin-btc/package.json
  modules/sdk-coin-btc/tsconfig.esm.json
  modules/sdk-coin-btc/tsconfig.json
  modules/sdk-coin-btg/package.json
  modules/sdk-coin-btg/tsconfig.esm.json
  modules/sdk-coin-btg/tsconfig.json
  modules/sdk-coin-dash/package.json
  modules/sdk-coin-dash/tsconfig.esm.json
  modules/sdk-coin-dash/tsconfig.json
  modules/sdk-coin-doge/package.json
  modules/sdk-coin-doge/tsconfig.esm.json
  modules/sdk-coin-doge/tsconfig.json
  modules/sdk-coin-ltc/package.json
  modules/sdk-coin-ltc/tsconfig.esm.json
  modules/sdk-coin-ltc/tsconfig.json
  modules/sdk-coin-zec/package.json
  modules/sdk-coin-zec/tsconfig.esm.json
  modules/sdk-coin-zec/tsconfig.json
Due: none

feat(express): consolidateAccountV2 handler return type
  modules/express/src/clientRoutes.ts
  modules/express/src/typedRoutes/api/index.ts
  modules/express/src/typedRoutes/api/v2/consolidateAccount.ts
  modules/express/test/unit/clientRoutes/consolidateAccount.ts
  modules/express/test/unit/typedRoutes/consolidateAccount.ts
Due: express

fix: correct explorerUrl for Monad Mainnet
  modules/statics/src/networks.ts
Due: statics

docs(express): acceptShareV1 API definition
  modules/express/src/typedRoutes/api/v1/acceptShare.ts
Due: express

docs(express): consolidateUnspentsV1 API definition
  modules/express/src/typedRoutes/api/v1/consolidateUnspents.ts
Due: express

Path conditions:
  bitgo: any of: modules/bitgo
  account-lib: any of: modules/account-lib
  statics: any of: modules/statics
  express: any of: modules/express
