Repository BitGo/BitGoJS: changes, and which Codecov flags are due for each by the changed paths.
All: bitgo, account-lib, statics, express

.codecov.yml:

coverage:
  status:
    project: off
    patch: off
comment:
  layout: 'diff, flags, files'
  require_changes: true
flags:
  bitgo:
    paths:
      - modules/bitgo
  account-lib:
    paths:
      - modules/account-lib
  statics:
    paths:
      - modules/statics
  express:
    paths:
      - modules/express

test(sdk-coin-arbeth): update test cases using abstract-eth TICKET: COIN-1322
  modules/abstract-eth/index.ts
  modules/abstract-eth/src/index.ts
  modules/abstract-eth/src/test-utils/index.ts
  modules/abstract-eth/src/test-utils/unit/coin.ts
  modules/abstract-eth/src/test-utils/unit/index.ts
  modules/abstract-eth/src/test-utils/unit/token.ts
  modules/abstract-eth/src/test-utils/unit/transaction.ts
  modules/abstract-eth/src/test-utils/unit/transactionBuilder/addressInitialization.ts
  modules/abstract-eth/src/test-utils/unit/transactionBuilder/index.ts
  modules/abstract-eth/src/test-utils/unit/transactionBuilder/send.ts
  modules/abstract-eth/src/test-utils/unit/transactionBuilder/walletInitialization.ts
  modules/sdk-coin-arbeth/test/resources.ts
  modules/sdk-coin-arbeth/test/unit/arbeth.ts
  modules/sdk-coin-arbeth/test/unit/arbethToken.ts
  modules/sdk-coin-arbeth/test/unit/transaction.ts
  modules/sdk-coin-arbeth/test/unit/transactionBuilder/addressInitialization.ts
  modules/sdk-coin-arbeth/test/unit/transactionBuilder/send.ts
  modules/sdk-coin-arbeth/test/unit/transactionBuilder/walletInitialization.ts
  modules/sdk-coin-arbeth/test/unit/transferBuilder.ts
Due: none

feat(sdk-coin-etc): testing unsigned sweep support for wrw
  modules/sdk-coin-etc/src/etc.ts
  modules/sdk-coin-etc/test/unit/etc.ts
Due: none

fix(sdk-coin-sui): remove keychain check from isWalletAddress()
  modules/sdk-coin-sui/src/sui.ts
  modules/sdk-coin-sui/test/unit/sui.ts
Due: none

feat(sdk-core): add provider as stake options
  modules/sdk-core/src/bitgo/staking/iStakingWallet.ts
Due: none

feat(sdk-coin-etc): unsigned sweep support and fullsign support for etc via ovc
  modules/sdk-coin-etc/src/etc.ts
  modules/sdk-coin-etc/test/unit/etc.ts
  modules/sdk-coin-etc/test/unit/getBuilder.ts
Due: none

chore(root): release express
  Dockerfile
Due: none

feat(sdk-core): fix transfer ERC721 nfts Ticket: SC-333
  modules/abstract-eth/src/lib/transferBuilders/transferBuilderERC721.ts
  modules/abstract-eth/src/lib/walletUtil.ts
Due: none

feat(statics): add new batch of tokens TICKET: COIN-1585
  modules/statics/src/base.ts
  modules/statics/src/coins.ts
Due: statics

feat(statics): add mother spl token TICKET: COIN-1517
  modules/statics/src/base.ts
  modules/statics/src/coins.ts
Due: statics

chore(statics): onboard SuiNS
  modules/statics/src/base.ts
  modules/statics/src/coins.ts
Due: statics

chore: fix sui example docs
  examples/ts/sui/multi-recipient-pay-transaction.ts
Due: none

feat(sdk-coin-sol): automatic ata creation during consolidation TICKET: COIN-1521
  modules/sdk-coin-sol/src/lib/transferBuilderV2.ts
  modules/sdk-coin-sol/test/resources/sol.ts
  modules/sdk-coin-sol/test/unit/transactionBuilder/transferBuilderV2.ts
Due: none

feat(statics): add 'pol' token as available for Germany and Frankfurt
  modules/statics/src/coins.ts
  modules/statics/test/unit/coins.ts
Due: statics

feat(sdk-core): enforce eddsa commitment validation
  modules/bitgo/test/v2/unit/tss/eddsa.ts
  modules/sdk-core/src/account-lib/mpc/tss/eddsa/eddsa.ts
  modules/sdk-core/src/account-lib/mpc/tss/eddsa/types.ts
  modules/sdk-core/src/bitgo/tss/eddsa/eddsa.ts
Due: bitgo

chore(sdk-coin-polygon): use nonpacked encoding for v4 wallet
  modules/abstract-eth/src/lib/transactionBuilder.ts
  modules/sdk-coin-polygon/src/lib/transactionBuilder.ts
Due: none

chore(root): add script for matic to pol migration COIN-1651 TICKET: COIN-1651
  examples/ts/eth/getContractDataForPolMigration.ts
Due: none

chore(sdk-coin-ada): update csl lib CR-tomorrow
  modules/sdk-coin-ada/package.json
  modules/sdk-coin-ada/src/lib/keyPair.ts
  modules/sdk-coin-ada/src/lib/stakingActivateBuilder.ts
  modules/sdk-coin-ada/src/lib/stakingDeactivateBuilder.ts
  modules/sdk-coin-ada/src/lib/transaction.ts
  modules/sdk-coin-ada/src/lib/utils.ts
  yarn.lock
Due: none

fix(sdk-coin-ada): bumb serialization library and fix tests
  modules/sdk-coin-ada/package.json
  modules/sdk-coin-ada/src/lib/keyPair.ts
  modules/sdk-coin-ada/src/lib/stakingActivateBuilder.ts
  modules/sdk-coin-ada/src/lib/stakingDeactivateBuilder.ts
  modules/sdk-coin-ada/src/lib/transaction.ts
  modules/sdk-coin-ada/src/lib/utils.ts
  modules/sdk-coin-ada/test/resources/index.ts
  modules/sdk-coin-ada/test/unit/StakingActivateBuilder.ts
  modules/sdk-coin-ada/test/unit/StakingDeactivateBuilder.ts
  modules/sdk-coin-ada/test/unit/ada.ts
  modules/sdk-coin-ada/test/unit/stakingClaimRewardsBuilder.ts
  modules/sdk-coin-ada/test/unit/stakingPledgeBuilder.ts
  modules/sdk-coin-ada/test/unit/stakingWithdrawBuilder.ts
  modules/sdk-coin-ada/test/unit/transactionBuilder.ts
  yarn.lock
Due: none

feat(statics): add new tokens as part of USMS Token Batch 5 TICKET: COIN-1461
  modules/statics/src/base.ts
  modules/statics/src/coins.ts
Due: statics

fix(statics): fix cardano explorer url/ TICKET: WIN-3403
  modules/statics/src/networks.ts
Due: statics

feat(express): lightning wallet creation step two
  modules/express/package.json
  modules/express/src/args.ts
  modules/express/src/clientRoutes.ts
  modules/express/src/config.ts
  modules/express/src/errors.ts
  modules/express/src/expressApp.ts
  modules/express/src/lightning/codecs.ts
  modules/express/src/lightning/lightningRoutes.ts
  modules/express/src/lightning/lightningUtils.ts
  modules/express/src/lightning/lightningWallets.ts
  modules/express/src/lightning/signerClient.ts
  modules/express/test/unit/bitgoExpress.ts
  modules/express/test/unit/clientRoutes/lightning/fixture.ts
  modules/express/test/unit/clientRoutes/lightning/lightningSigner.ts
  modules/express/test/unit/clientRoutes/lightning/lightningSignerConfigs.json
  modules/express/test/unit/config.ts
  modules/sdk-core/package.json
  modules/sdk-core/src/bitgo/keychain/iKeychains.ts
  modules/sdk-core/src/bitgo/lightning/codecs.ts
  modules/sdk-core/src/bitgo/lightning/index.ts
  modules/sdk-core/src/bitgo/lightning/lightningUtils.ts
  modules/sdk-core/src/bitgo/wallet/iWallet.ts
  modules/utxo-lib/src/bitgo/keyutil.ts
  yarn.lock
Due: express

feat(utxo-lib): add convertExtendedKeyNetwork function
  modules/utxo-lib/src/bitgo/keyutil.ts
  modules/utxo-lib/test/bitgo/keyutil.ts
Due: none

chore(abstract-utxo): add wasm-miniscript
  modules/abstract-utxo/package.json
  yarn.lock
Due: none

feat(abstract-utxo): add address creation for descriptor wallets
  modules/abstract-utxo/src/abstractUtxoCoin.ts
  modules/bitgo/test/v2/unit/coins/utxo/address.ts
Due: bitgo

test(bitgo): add tests for address creation for descriptor wallets
  modules/bitgo/test/v2/unit/coins/abstractUtxoCoin.ts
Due: bitgo

refactor(abstract-utxo): apply code review
  modules/abstract-utxo/src/abstractUtxoCoin.ts
  modules/bitgo/test/v2/unit/coins/utxo/address.ts
Due: bitgo

feat(sdk-core): add utils for signer lnd init
  modules/sdk-core/package.json
  modules/sdk-core/src/bitgo/lightning/lightningUtils.ts
  modules/sdk-core/test/unit/bitgo/lightning/createWatchOnlyFixture.ts
  modules/sdk-core/test/unit/bitgo/lightning/lightningUtils.ts
  yarn.lock
Due: none

chore(statics): update Base coin config
  modules/statics/src/coins.ts
Due: statics

feat: bump typescript to 4.9
  modules/deser-lib/src/cbor.ts
  modules/sdk-api/test/unit/v1/wallet.ts
  package.json
  yarn.lock
Due: none

fix: remove no-redeclare rule from eslint config
  .eslintrc.json
Due: none

feat(sdk-core): add lightning wallet functions
  modules/bitgo/test/v2/unit/lightning/lightningWallets.ts
  modules/sdk-core/src/bitgo/keychain/iKeychains.ts
  modules/sdk-core/src/bitgo/lightning/codecs.ts
  modules/sdk-core/src/bitgo/lightning/index.ts
  modules/sdk-core/src/bitgo/lightning/lightningUtils.ts
  modules/sdk-core/src/bitgo/lightning/lightningWallet.ts
  modules/sdk-core/src/bitgo/wallet/iWallet.ts
  modules/sdk-core/test/unit/bitgo/lightning/codecs.ts
Due: bitgo

fix(sdk-core): generate wallet cleanup
  modules/bitgo/test/v2/unit/wallets.ts
  modules/sdk-core/src/bitgo/wallet/wallets.ts
Due: bitgo

fix(bitgo): fix pledge example EA-4175
  examples/js/ada/send-pledge-transaction.js
Due: none

feat(abstract-cosmos): remove GG18 recovery tx signing
  modules/abstract-cosmos/src/cosmosCoin.ts
  modules/sdk-coin-atom/test/unit/atom.ts
Due: none

feat(abstract-eth): remove GG18 recovery tx signing
  modules/abstract-eth/src/abstractEthLikeNewCoins.ts
  modules/bitgo/test/v2/fixtures/tss/recoveryFixtures.ts
  modules/bitgo/test/v2/unit/recovery.ts
Due: bitgo
