Repository BitGo/BitGoJS: changes, and which Codecov flags are due for each by the changed paths.
All: bitgo, account-lib, statics, express

.codecov.yml:

coverage:
  status:
    project: off
    patch: off
comment:
  layout: "diff, flags, files"
  require_changes: true
flags:
  bitgo:
    paths:
      - modules/core
  account-lib:
    paths:
      - modules/account-lib
  statics:
    paths:
      - modules/statics
  express:
    paths:
      - modules/express

feat(sdk-core): update validation to include eip1559
  modules/bitgo/test/v2/unit/wallet.ts
  modules/sdk-core/src/bitgo/wallet/iWallet.ts
  modules/sdk-core/src/bitgo/wallet/wallet.ts
Due: none

chore(sdk-coin-btc): project init
  modules/bitgo/package.json
  modules/bitgo/src/v2/coins/btg.ts
  modules/bitgo/src/v2/coins/index.ts
  modules/bitgo/tsconfig.json
  modules/sdk-coin-btc/.eslintignore
  modules/sdk-coin-btc/.gitignore
  modules/sdk-coin-btc/.mocharc.yml
  modules/sdk-coin-btc/.npmignore
  modules/sdk-coin-btc/.prettierignore
  modules/sdk-coin-btc/.prettierrc.yml
  modules/sdk-coin-btc/README.md
  modules/sdk-coin-btc/package.json
  modules/sdk-coin-btc/src/btc.ts
  modules/sdk-coin-btc/src/index.ts
  modules/sdk-coin-btc/src/tbtc.ts
  modules/sdk-coin-btc/tsconfig.json
  tsconfig.packages.json
Due: none

chore(bitgo): move v1 objects
  modules/bitgo/src/bitgo.ts
  modules/bitgo/test/unit/fixtures/accelerate-tx.ts
  modules/sdk-api/.mocharc.js
  modules/sdk-api/.npmignore
  modules/sdk-api/package.json
  modules/sdk-api/src/bitgoAPI.ts
  modules/sdk-api/src/v1/blockchain.ts
  modules/sdk-api/src/v1/keychains.ts
  modules/sdk-api/src/v1/markets.ts
  modules/sdk-api/src/v1/pendingapproval.ts
  modules/sdk-api/src/v1/pendingapprovals.ts
  modules/sdk-api/src/v1/transactionBuilder.ts
  modules/sdk-api/src/v1/travelRule.ts
  modules/sdk-api/src/v1/wallet.ts
  modules/sdk-api/src/v1/wallets.ts
  modules/sdk-api/test/unit/v1/fixtures/accelerate-tx.ts
  modules/sdk-api/test/unit/v1/wallet.ts
  modules/sdk-api/tsconfig.json
  modules/sdk-coin-btc/package.json
  modules/sdk-coin-btc/src/tbtc.ts
  modules/sdk-coin-btc/tsconfig.json
Due: none

chore(sdk-api): move bitgo code to sdk-api
  modules/bitgo/src/bitgo.ts
  modules/sdk-api/package.json
  modules/sdk-api/src/bitgoAPI.ts
  modules/sdk-api/src/types.ts
  modules/sdk-api/test/unit/v1/wallet.ts
  yarn.lock
Due: none

chore(statics): move tokenConfigs to statics
  modules/bitgo/src/config.ts
  modules/bitgo/src/v2/coins/avaxcToken.ts
  modules/bitgo/src/v2/coins/celoToken.ts
  modules/bitgo/src/v2/coins/eosToken.ts
  modules/bitgo/src/v2/coins/erc20Token.ts
  modules/bitgo/src/v2/coins/ofcToken.ts
  modules/bitgo/src/v2/coins/stellarToken.ts
  modules/sdk-api/src/bitgoAPI.ts
  modules/sdk-coin-algo/src/algoToken.ts
  modules/sdk-core/src/bitgo/config.ts
  modules/statics/src/index.ts
  modules/statics/src/tokenConfig.ts
Due: statics

chore(express): fix unit test
  modules/express/test/integration/externalSigner.ts
  modules/express/test/unit/clientRoutes/externalSign.ts
  yarn.lock
Due: express

chore(bitgo): remove unused dependencies
  modules/sdk-api/src/v1/keychains.ts
  modules/statics/src/tokenConfig.ts
Due: statics

chore(sdk-coin-btc): move single unit test
  modules/sdk-coin-btc/test/unit/btc.ts
Due: none

chore(sdk-api): move bitgo code to sdk-api
  modules/bitgo/src/bitgo.ts
  modules/express/test/integration/externalSigner.ts
  modules/express/test/unit/clientRoutes/externalSign.ts
  modules/sdk-api/package.json
  modules/sdk-api/src/bitgoAPI.ts
  modules/sdk-api/src/types.ts
  modules/sdk-api/src/v1/keychains.ts
  modules/sdk-api/test/unit/v1/wallet.ts
  modules/statics/src/tokenConfig.ts
Due: statics, express

chore(release): publish modules
  modules/abstract-eth/CHANGELOG.md
  modules/abstract-eth/package.json
  modules/abstract-utxo/CHANGELOG.md
  modules/abstract-utxo/package.json
  modules/account-lib/CHANGELOG.md
  modules/account-lib/package.json
  modules/bitgo/CHANGELOG.md
  modules/bitgo/package.json
  modules/express/CHANGELOG.md
  modules/express/package-lock.json
  modules/express/package.json
  modules/sdk-api/CHANGELOG.md
  modules/sdk-api/package.json
  modules/sdk-coin-algo/CHANGELOG.md
  modules/sdk-coin-algo/package.json
  modules/sdk-coin-avaxp/CHANGELOG.md
  modules/sdk-coin-avaxp/package.json
  modules/sdk-coin-cspr/CHANGELOG.md
  modules/sdk-coin-cspr/package.json
  modules/sdk-coin-xrp/CHANGELOG.md
  modules/sdk-coin-xrp/package.json
  modules/sdk-core/CHANGELOG.md
  modules/sdk-core/package.json
  modules/sdk-test/CHANGELOG.md
  modules/sdk-test/package.json
  modules/statics/CHANGELOG.md
  modules/statics/package.json
  modules/utxo-bin/CHANGELOG.md
  modules/utxo-bin/package.json
  modules/web-demo/CHANGELOG.md
  modules/web-demo/package.json
Due: account-lib, statics, express

chore(root): add opt out of cache option
  .github/workflows/ci.yml
Due: none

feat(sdk-coin-avaxp): adapts to new signing strategy
  modules/sdk-coin-avaxp/package.json
  modules/sdk-coin-avaxp/src/avaxp.ts
  modules/sdk-coin-avaxp/src/index.ts
  modules/sdk-coin-avaxp/src/lib/delegatorTxBuilder.ts
  modules/sdk-coin-avaxp/src/lib/iface.ts
  modules/sdk-coin-avaxp/src/lib/keyPair.ts
  modules/sdk-coin-avaxp/src/lib/transaction.ts
  modules/sdk-coin-avaxp/src/lib/transactionBuilder.ts
  modules/sdk-coin-avaxp/src/lib/transactionBuilderFactory.ts
  modules/sdk-coin-avaxp/src/lib/utils.ts
  modules/sdk-coin-avaxp/src/lib/validatorTxBuilder.ts
  modules/sdk-coin-avaxp/test/resources/avaxp.ts
  modules/sdk-coin-avaxp/test/unit/avaxp.ts
  modules/sdk-coin-avaxp/test/unit/lib/keyPair.ts
  modules/sdk-coin-avaxp/test/unit/lib/transactionBuilderFactory.ts
  modules/sdk-coin-avaxp/test/unit/lib/validateTxBuilder.ts
Due: none

fix(bitgo): rounded value on spendable balance
  modules/bitgo/test/v2/unit/baseCoin.ts
  modules/sdk-core/src/bitgo/baseCoin/baseCoin.ts
Due: none

test: increase timeout test
  modules/account-lib/test/unit/mpc/tss/ecdsa/ecdsa.ts
Due: account-lib

fix: use correct address encoding when decoding polkadot txn
  modules/account-lib/src/coin/dot/claimBuilder.ts
  modules/account-lib/src/coin/dot/keyPair.ts
  modules/account-lib/src/coin/dot/stakingBuilder.ts
  modules/account-lib/src/coin/dot/transaction.ts
  modules/account-lib/src/coin/dot/transactionBuilder.ts
  modules/account-lib/src/coin/dot/transferBuilder.ts
  modules/account-lib/src/coin/dot/utils.ts
  modules/account-lib/src/coin/hbar/keyPair.ts
  modules/account-lib/test/unit/coin/dot/address.ts
  modules/account-lib/test/unit/coin/dot/keypair.ts
  modules/account-lib/test/unit/coin/dot/transactionBuilder/base.ts
  modules/account-lib/test/unit/coin/dot/utils.ts
  modules/bitgo/src/v2/coins/dot.ts
  modules/sdk-core/src/account-lib/baseCoin/ed25519KeyPair.ts
  modules/sdk-core/src/account-lib/baseCoin/enum.ts
  modules/sdk-core/src/account-lib/baseCoin/index.ts
Due: account-lib

feat(statics): add cardano ada statics Ticket: origin/BG-50794
  modules/statics/src/ada.ts
  modules/statics/src/base.ts
  modules/statics/src/coins.ts
  modules/statics/src/networks.ts
Due: statics

feat(account-lib): token associate transaction builder for hedera accounts
  modules/account-lib/src/coin/hbar/constants.ts
  modules/account-lib/src/coin/hbar/keyPair.ts
  modules/account-lib/src/coin/hbar/tokenAssociateBuilder.ts
  modules/account-lib/src/coin/hbar/transaction.ts
  modules/account-lib/src/coin/hbar/transactionBuilder.ts
  modules/account-lib/src/coin/hbar/transactionBuilderFactory.ts
  modules/account-lib/src/coin/hbar/transferBuilder.ts
  modules/account-lib/src/coin/hbar/utils.ts
  modules/account-lib/src/coin/hbar/walletInitializationBuilder.ts
  modules/sdk-core/src/account-lib/baseCoin/baseTransactionBuilderFactory.ts
  modules/sdk-core/src/account-lib/baseCoin/errors.ts
  modules/statics/src/index.ts
Due: account-lib, statics

chore(release): publish modules
  modules/abstract-eth/CHANGELOG.md
  modules/abstract-eth/package.json
  modules/abstract-utxo/CHANGELOG.md
  modules/abstract-utxo/package.json
  modules/account-lib/CHANGELOG.md
  modules/account-lib/package.json
  modules/bitgo/CHANGELOG.md
  modules/bitgo/package.json
  modules/express/CHANGELOG.md
  modules/express/package-lock.json
  modules/express/package.json
  modules/sdk-api/CHANGELOG.md
  modules/sdk-api/package.json
  modules/sdk-coin-algo/CHANGELOG.md
  modules/sdk-coin-algo/package.json
  modules/sdk-coin-avaxp/CHANGELOG.md
  modules/sdk-coin-avaxp/package.json
  modules/sdk-coin-cspr/CHANGELOG.md
  modules/sdk-coin-cspr/package.json
  modules/sdk-coin-xrp/CHANGELOG.md
  modules/sdk-coin-xrp/package.json
  modules/sdk-core/CHANGELOG.md
  modules/sdk-core/package.json
  modules/sdk-test/CHANGELOG.md
  modules/sdk-test/package.json
  modules/web-demo/CHANGELOG.md
  modules/web-demo/package.json
Due: account-lib, express

chore(account-lib): move timeout to suite level
  modules/account-lib/test/unit/mpc/tss/ecdsa/ecdsa.ts
Due: account-lib

fix(account-lib): fix ecdsa tests timeout issues
  modules/account-lib/test/unit/mpc/tss/ecdsa/ecdsa.ts
  modules/account-lib/test/unit/mpc/tss/fixtures/ecdsa.ts
  modules/sdk-core/src/account-lib/mpc/util.ts
Due: account-lib

chore(root): include lerna changes in hashfile
  .github/workflows/ci.yml
Due: none

feat(sdk-coin-avaxp): keypair default encoder is hex
  modules/sdk-coin-avaxp/src/lib/keyPair.ts
  modules/sdk-coin-avaxp/src/lib/utils.ts
  modules/sdk-coin-avaxp/test/resources/avaxp.ts
  modules/sdk-coin-avaxp/test/unit/avaxp.ts
  modules/sdk-coin-avaxp/test/unit/lib/keyPair.ts
  modules/sdk-coin-avaxp/test/unit/lib/utils.ts
Due: none

Revert "Revert "feat(bitgo): change the names from algo tokens""
  modules/bitgo/example/js/algo/disable-token.js
  modules/bitgo/example/js/algo/enable-token.js
  modules/bitgo/example/ts/algo/disable-token.ts
  modules/bitgo/example/ts/algo/enable-token.ts
  modules/bitgo/test/v2/fixtures/coins/algo.ts
  modules/sdk-coin-algo/src/algo.ts
  modules/sdk-coin-algo/test/unit/algo.ts
  modules/sdk-coin-algo/test/unit/algoToken.ts
  modules/sdk-coin-algo/test/unit/lib/transaction.ts
  modules/statics/src/base.ts
  modules/statics/src/coins.ts
Due: statics

chore(release): publish modules
  modules/abstract-eth/CHANGELOG.md
  modules/abstract-eth/package.json
  modules/abstract-utxo/CHANGELOG.md
  modules/abstract-utxo/package.json
  modules/account-lib/CHANGELOG.md
  modules/account-lib/package.json
  modules/bitgo/CHANGELOG.md
  modules/bitgo/package.json
  modules/express/CHANGELOG.md
  modules/express/package-lock.json
  modules/express/package.json
  modules/sdk-api/CHANGELOG.md
  modules/sdk-api/package.json
  modules/sdk-coin-algo/CHANGELOG.md
  modules/sdk-coin-algo/package.json
  modules/sdk-coin-avaxp/CHANGELOG.md
  modules/sdk-coin-avaxp/package.json
  modules/sdk-coin-btc/CHANGELOG.md
  modules/sdk-coin-btc/package.json
  modules/sdk-coin-cspr/CHANGELOG.md
  modules/sdk-coin-cspr/package.json
  modules/sdk-coin-xrp/CHANGELOG.md
  modules/sdk-coin-xrp/package.json
  modules/sdk-core/CHANGELOG.md
  modules/sdk-core/package.json
  modules/sdk-test/CHANGELOG.md
  modules/sdk-test/package.json
  modules/statics/CHANGELOG.md
  modules/statics/package.json
  modules/utxo-bin/CHANGELOG.md
  modules/utxo-bin/package.json
  modules/web-demo/CHANGELOG.md
  modules/web-demo/package.json
Due: account-lib, statics, express

fix(sdk-core): make hex representation consistent
  modules/account-lib/test/unit/mpc/tss/fixtures/ecdsa.ts
  modules/account-lib/test/unit/utils/crypto.ts
  modules/sdk-core/src/account-lib/mpc/tss/ecdsa/ecdsa.ts
  modules/sdk-core/src/account-lib/util/crypto.ts
Due: account-lib

fix(sdk-core): fix ecdsa signing timeouts
  modules/account-lib/test/unit/mpc/tss/ecdsa/ecdsa.ts
Due: account-lib

feat(sdk-coin-avaxp): add into accountLib umbrella
  modules/account-lib/package.json
  modules/account-lib/src/index.ts
  modules/account-lib/tsconfig.json
  modules/sdk-coin-avaxp/src/index.ts
Due: account-lib

feat(sdk-coin-zec): refactor zec to its own module
  modules/bitgo/package.json
  modules/bitgo/src/v2/coins/index.ts
  modules/bitgo/tsconfig.json
  modules/sdk-coin-zec/.eslintignore
  modules/sdk-coin-zec/.gitignore
  modules/sdk-coin-zec/.mocharc.yml
  modules/sdk-coin-zec/.npmignore
  modules/sdk-coin-zec/.prettierignore
  modules/sdk-coin-zec/.prettierrc.yml
  modules/sdk-coin-zec/README.md
  modules/sdk-coin-zec/package.json
  modules/sdk-coin-zec/src/index.ts
  modules/sdk-coin-zec/src/tzec.ts
  modules/sdk-coin-zec/src/zec.ts
  modules/sdk-coin-zec/test/integration/index.ts
  modules/sdk-coin-zec/test/unit/index.ts
  modules/sdk-coin-zec/tsconfig.json
  tsconfig.packages.json
Due: none

feat(sdk-coin-dash): refactor dash to its own module
  modules/bitgo/package.json
  modules/bitgo/src/v2/coins/index.ts
  modules/bitgo/tsconfig.json
  modules/sdk-coin-dash/.eslintignore
  modules/sdk-coin-dash/.gitignore
  modules/sdk-coin-dash/.mocharc.yml
  modules/sdk-coin-dash/.npmignore
  modules/sdk-coin-dash/.prettierignore
  modules/sdk-coin-dash/.prettierrc.yml
  modules/sdk-coin-dash/README.md
  modules/sdk-coin-dash/package.json
  modules/sdk-coin-dash/src/dash.ts
  modules/sdk-coin-dash/src/index.ts
  modules/sdk-coin-dash/src/tdash.ts
  modules/sdk-coin-dash/test/unit/index.ts
  modules/sdk-coin-dash/tsconfig.json
  tsconfig.packages.json
Due: none

fix(account-lib): upgrading celo contractkit to v2
  .iyarc
  modules/account-lib/package.json
  yarn.lock
Due: account-lib

chore(release): publish modules
  modules/abstract-eth/CHANGELOG.md
  modules/abstract-eth/package.json
  modules/abstract-utxo/CHANGELOG.md
  modules/abstract-utxo/package.json
  modules/account-lib/CHANGELOG.md
  modules/account-lib/package.json
  modules/bitgo/CHANGELOG.md
  modules/bitgo/package.json
  modules/express/CHANGELOG.md
  modules/express/package-lock.json
  modules/express/package.json
  modules/sdk-api/CHANGELOG.md
  modules/sdk-api/package.json
  modules/sdk-coin-algo/CHANGELOG.md
  modules/sdk-coin-algo/package.json
  modules/sdk-coin-avaxp/CHANGELOG.md
  modules/sdk-coin-avaxp/package.json
  modules/sdk-coin-btc/CHANGELOG.md
  modules/sdk-coin-btc/package.json
  modules/sdk-coin-cspr/CHANGELOG.md
  modules/sdk-coin-cspr/package.json
  modules/sdk-coin-xrp/CHANGELOG.md
  modules/sdk-coin-xrp/package.json
  modules/sdk-coin-zec/CHANGELOG.md
  modules/sdk-coin-zec/package.json
  modules/sdk-core/CHANGELOG.md
  modules/sdk-core/package.json
  modules/sdk-test/CHANGELOG.md
  modules/sdk-test/package.json
  modules/statics/CHANGELOG.md
  modules/statics/package.json
  modules/utxo-bin/CHANGELOG.md
  modules/utxo-bin/package.json
  modules/web-demo/CHANGELOG.md
  modules/web-demo/package.json
Due: account-lib, statics, express

feat(statics): add euroc test token
  modules/statics/src/base.ts
  modules/statics/src/coins.ts
Due: statics

feat(sdk-coin-bch): refactor bch to its own module
  modules/bitgo/package.json
  modules/bitgo/src/v2/coins/bcha.ts
  modules/bitgo/src/v2/coins/bsv.ts
  modules/bitgo/src/v2/coins/index.ts
  modules/bitgo/tsconfig.json
  modules/sdk-coin-bch/.eslintignore
  modules/sdk-coin-bch/.gitignore
  modules/sdk-coin-bch/.mocharc.yml
  modules/sdk-coin-bch/.npmignore
  modules/sdk-coin-bch/.prettierignore
  modules/sdk-coin-bch/.prettierrc.yml
  modules/sdk-coin-bch/README.md
  modules/sdk-coin-bch/package.json
  modules/sdk-coin-bch/src/bch.ts
  modules/sdk-coin-bch/src/index.ts
  modules/sdk-coin-bch/src/tbch.ts
  modules/sdk-coin-bch/test/integration/bch.ts
  modules/sdk-coin-bch/test/unit/bch.ts
  modules/sdk-coin-bch/tsconfig.json
  tsconfig.packages.json
Due: none

chore(release): publish modules
  modules/abstract-eth/CHANGELOG.md
  modules/abstract-eth/package.json
  modules/abstract-utxo/CHANGELOG.md
  modules/abstract-utxo/package.json
  modules/account-lib/CHANGELOG.md
  modules/account-lib/package.json
  modules/bitgo/CHANGELOG.md
  modules/bitgo/package.json
  modules/express/CHANGELOG.md
  modules/express/package-lock.json
  modules/express/package.json
  modules/sdk-api/CHANGELOG.md
  modules/sdk-api/package.json
  modules/sdk-coin-algo/CHANGELOG.md
  modules/sdk-coin-algo/package.json
  modules/sdk-coin-avaxp/CHANGELOG.md
  modules/sdk-coin-avaxp/package.json
  modules/sdk-coin-btc/CHANGELOG.md
  modules/sdk-coin-btc/package.json
  modules/sdk-coin-cspr/CHANGELOG.md
  modules/sdk-coin-cspr/package.json
  modules/sdk-coin-dash/CHANGELOG.md
  modules/sdk-coin-dash/package.json
  modules/sdk-coin-xrp/CHANGELOG.md
  modules/sdk-coin-xrp/package.json
  modules/sdk-coin-zec/CHANGELOG.md
  modules/sdk-coin-zec/package.json
  modules/sdk-core/CHANGELOG.md
  modules/sdk-core/package.json
  modules/sdk-test/CHANGELOG.md
  modules/sdk-test/package.json
  modules/statics/CHANGELOG.md
  modules/statics/package.json
  modules/utxo-bin/CHANGELOG.md
  modules/utxo-bin/package.json
  modules/web-demo/CHANGELOG.md
  modules/web-demo/package.json
Due: account-lib, statics, express

feat(sdk-coin-btg): refactor btg to its own module
  modules/bitgo/package.json
  modules/bitgo/src/v2/coins/index.ts
  modules/bitgo/tsconfig.json
  modules/sdk-coin-btg/.eslintignore
  modules/sdk-coin-btg/.gitignore
  modules/sdk-coin-btg/.mocharc.yml
  modules/sdk-coin-btg/.npmignore
  modules/sdk-coin-btg/.prettierignore
  modules/sdk-coin-btg/.prettierrc.yml
  modules/sdk-coin-btg/README.md
  modules/sdk-coin-btg/package.json
  modules/sdk-coin-btg/src/btg.ts
  modules/sdk-coin-btg/src/index.ts
  modules/sdk-coin-btg/test/unit/index.ts
  modules/sdk-coin-btg/tsconfig.json
  tsconfig.packages.json
Due: none

chore: added multiple ofcerc20 tokens TICKET: BG-51351
  modules/statics/src/coins.ts
Due: statics
