Repository BitGo/BitGoJS: changes, and which Codecov flags are due for each by the changed paths.
All: bitgo, account-lib, statics, express

test(statics): migrate test runner from ts-node to tsx
  modules/statics/.mocharc.js
  package.json
  yarn.lock
Due: statics

feat(statics): convert enums to const objects
  modules/statics/src/allCoinsAndTokens.ts
  modules/statics/src/base.ts
  modules/statics/src/coinFeatures.ts
  modules/statics/src/coins.ts
  modules/statics/src/coins/erc20Coins.ts
  modules/statics/src/coins/polygonTokens.ts
  modules/statics/src/coins/solTokens.ts
  modules/statics/src/ofc.ts
  modules/statics/src/utxo.ts
  modules/statics/test/unit/base.ts
  modules/statics/test/unit/deps.ts
Due: statics

fix(utxo-bin): use type-only import for BIP32Interface
  modules/utxo-bin/test/bip32.util.ts
Due: none

chore(root): update nvmrc to node 22.18.0
  .nvmrc
Due: none

chore(utxo-core): migrate test runner from ts-node to tsx
  modules/utxo-core/.mocharc.js
  modules/utxo-core/package.json
Due: none

chore(utxo-staking): migrate test runner from ts-node to tsx
  modules/utxo-staking/.mocharc.js
  modules/utxo-staking/package.json
  modules/utxo-staking/test/unit/babylon/bug71.ts
  modules/utxo-staking/test/unit/babylon/undelegation.ts
Due: none

chore(sdk-core): migrate test runner from ts-node to tsx
  modules/sdk-core/.mocharc.js
Due: none

chore(sdk-coin-ada): migrate test runner from ts-node to tsx
  modules/sdk-coin-ada/.mocharc.yml
  modules/sdk-coin-ada/test/unit/ada.ts
Due: none

chore(abstract-eth): migrate test runner from ts-node to tsx
  modules/abstract-eth/.mocharc.js
Due: none

chore(sdk-coin-baby): migrate test runner from ts-node to tsx
  modules/sdk-coin-baby/.mocharc.yml
  modules/sdk-coin-baby/test/unit/baby.ts
Due: none

chore(sdk-coin-asi): migrate test runner from ts-node to tsx
  modules/sdk-coin-asi/.mocharc.yml
  modules/sdk-coin-asi/test/unit/asi.ts
Due: none

chore(sdk-coin-atom): migrate test runner from ts-node to tsx
  modules/sdk-coin-atom/.mocharc.yml
  modules/sdk-coin-atom/test/unit/atom.ts
Due: none

chore(sdk-coin-dot): migrate test runner from ts-node to tsx
  modules/sdk-coin-dot/.mocharc.yml
  modules/sdk-coin-dot/test/unit/dot.ts
Due: none

chore(sdk-coin-bld): migrate test runner from ts-node to tsx
  modules/sdk-coin-bld/.mocharc.yml
  modules/sdk-coin-bld/test/unit/bld.ts
Due: none

chore(sdk-coin-sei): migrate test runner from ts-node to tsx
  modules/sdk-coin-sei/.mocharc.yml
  modules/sdk-coin-sei/test/unit/sei.ts
Due: none

chore(sdk-coin-coreum): migrate test runner from ts-node to tsx
  modules/sdk-coin-coreum/.mocharc.yml
  modules/sdk-coin-coreum/test/unit/coreum.ts
Due: none

chore(root): remove import = syntax for es imports
  modules/express/encryptedPrivKeys.json
  modules/sdk-coin-cronos/test/unit/cronos.ts
  modules/sdk-coin-hash/test/unit/hash.ts
  modules/sdk-coin-initia/test/unit/initia.ts
  modules/sdk-coin-injective/test/unit/injective.ts
  modules/sdk-coin-islm/test/unit/islm.ts
  modules/sdk-coin-mantra/test/unit/mantra.ts
  modules/sdk-coin-osmo/test/unit/osmo.ts
  modules/sdk-coin-rune/test/unit/rune.ts
  modules/sdk-coin-tia/test/unit/tia.ts
  modules/sdk-coin-zeta/.mocharc.yml
  modules/sdk-coin-zeta/test/unit/zeta.ts
Due: express

feat(sdk-coin-xtz): add custodial features to statics
  modules/statics/src/coinFeatures.ts
  modules/statics/test/unit/coins.ts
Due: statics

feat(express): migrating to typed router
  modules/express/src/clientRoutes.ts
  modules/express/src/typedRoutes/api/index.ts
  modules/express/src/typedRoutes/api/v1/signTransaction.ts
  modules/express/test/unit/typedRoutes/signTransaction.ts
Due: express

feat(statics): added flare p statics
  modules/bitgo/test/v2/unit/keychains.ts
  modules/statics/src/allCoinsAndTokens.ts
  modules/statics/src/base.ts
  modules/statics/src/flrp.ts
  modules/statics/src/networks.ts
  modules/statics/test/unit/coins.ts
  modules/statics/test/unit/fixtures/expectedColdFeatures.ts
Due: bitgo, statics

chore: flare-p base network
  modules/statics/src/networks.ts
Due: statics

chore(statics): add tao testnet token
  modules/statics/src/allCoinsAndTokens.ts
  modules/statics/src/base.ts
Due: statics

feat: add vetNFTCollection skeleton
  modules/sdk-coin-vet/src/index.ts
  modules/sdk-coin-vet/src/register.ts
  modules/sdk-coin-vet/src/vetNFTCollection.ts
  modules/statics/src/index.ts
  modules/statics/src/tokenConfig.ts
Due: statics

feat: update bsc batcher contract address
  modules/statics/src/networks.ts
Due: statics

fix: sol wrw for 2022 token
  modules/sdk-coin-sol/src/sol.ts
  modules/sdk-coin-sol/test/unit/sol.ts
Due: none

feat: update nvmrc
  .nvmrc
Due: none

fix(utxo-lib): update assert imports for Node 22
  modules/utxo-lib/src/bitgo/UtxoPsbt.ts
  modules/utxo-lib/src/bitgo/UtxoTransaction.ts
  modules/utxo-lib/src/bitgo/legacysafe/index.ts
  modules/utxo-lib/src/bitgo/nonStandardHalfSigned.ts
  modules/utxo-lib/src/bitgo/outputScripts.ts
  modules/utxo-lib/src/bitgo/wallet/Psbt.ts
  modules/utxo-lib/src/bitgo/wallet/WalletOutput.ts
  modules/utxo-lib/src/bitgo/wallet/psbt/RootNodes.ts
  modules/utxo-lib/src/noble_ecc.ts
  modules/utxo-lib/src/testutil/mock.ts
  modules/utxo-lib/src/testutil/psbt.ts
  modules/utxo-lib/src/testutil/transaction.ts
  modules/utxo-lib/test/bitgo/litecoin/mwebBehavior.ts
  modules/utxo-lib/test/bitgo/psbt/Psbt.ts
  modules/utxo-lib/test/bitgo/psbt/signingAndValidation.ts
  modules/utxo-lib/test/bitgo/wallet/WalletUnspent.ts
  modules/utxo-lib/test/bitgo/wallet/chains.ts
  modules/utxo-lib/test/fixtures_thirdparty/parse.ts
  modules/utxo-lib/test/integration_local_rpc/generate/RpcClient.ts
  modules/utxo-lib/test/integration_local_rpc/generate/fixtures.ts
  modules/utxo-lib/test/integration_local_rpc/parse.ts
  modules/utxo-lib/test/networks.ts
  modules/utxo-lib/test/transaction_builder.spec.ts
  modules/utxo-lib/test/transaction_util.ts
Due: none

fix(secp256k1): fix import of create-hmac
  modules/secp256k1/src/index.ts
Due: none

fix(unspents): defer static initializations for ESM compatibility
  modules/unspents/src/dimensions.ts
  modules/unspents/src/index.ts
Due: none

fix(utxo-ord): update assert imports for Node 22
  modules/utxo-ord/src/inscriptions.ts
  modules/utxo-ord/test/psbt.ts
Due: none

fix(key-card): update assert imports for Node 22
  modules/key-card/src/generateParamsForKeyCreation.ts
  modules/key-card/src/generateQrData.ts
  modules/key-card/test/unit/generateParamsForKeyCreation.ts
  modules/key-card/test/unit/generateQrData.ts
Due: none

fix(account-lib): update module imports for Node 22 ESM compatibility
  modules/account-lib/test/unit/mpc/tss/ecdsa/ecdsa.ts
Due: account-lib

docs: add commit style to claude.md
  .gitignore
  CLAUDE.md
Due: none

fix(express): replace sinon stubs with proxyquire for ESM compatibility
  modules/express/src/clientRoutes.ts
  modules/express/src/expressApp.ts
  modules/express/test/unit/bitgoExpress.ts
  modules/express/test/unit/clientRoutes/externalSign.ts
  modules/express/test/unit/clientRoutes/lightning/lightningSignerRoutes.ts
  modules/express/test/unit/config.ts
  modules/express/test/unit/lightning/lightningInvoiceRoutes.test.ts
  modules/express/test/unit/lightning/lightningWalletRoutes.test.ts
  modules/express/test/unit/lightning/lightningWithdrawRoutes.test.ts
Due: express

chore(root): run tests from src
  modules/utxo-core/package.json
  modules/utxo-staking/package.json
Due: none

fix(utxo-core): correct path name for fixtures
  modules/utxo-core/test/descriptor/psbt/psbt.ts
Due: none

fix(utxo-staking): correct path name for fixtures
  modules/utxo-staking/test/unit/babylon/bug71.ts
  modules/utxo-staking/test/unit/babylon/undelegation.ts
Due: none

fix(root): sha.js vulnerability
  package.json
  yarn.lock
Due: none

Path conditions:
  bitgo: any of: modules/bitgo
  account-lib: any of: modules/account-lib
  statics: any of: modules/statics
  express: any of: modules/express
