Repository BitGo/BitGoJS: changes, and which Codecov flags are due for each by the changed paths.
All: bitgo, account-lib, statics, express

fix(sdk-core): use DateFromISOString in invoice expiry
  modules/sdk-core/src/bitgo/lightning/codecs.ts
Due: none

fix(abstract-substrate): fix abstract-substrate implementation
  modules/abstract-substrate/package.json
  modules/abstract-substrate/src/abstractSubstrateCoin.ts
  modules/abstract-substrate/src/lib/constants.ts
  modules/abstract-substrate/src/lib/errors.ts
  modules/abstract-substrate/src/lib/iface.ts
  modules/abstract-substrate/src/lib/iface_utils.ts
  modules/abstract-substrate/src/lib/index.ts
  modules/abstract-substrate/src/lib/keyPair.ts
  modules/abstract-substrate/src/lib/nativeTransferBuilder.ts
  modules/abstract-substrate/src/lib/singletonRegistry.ts
  modules/abstract-substrate/src/lib/transaction.ts
  modules/abstract-substrate/src/lib/transactionBuilder.ts
  modules/abstract-substrate/src/lib/transferBuilder.ts
  modules/abstract-substrate/src/lib/txnSchema.ts
  modules/abstract-substrate/src/lib/utils.ts
  modules/abstract-substrate/src/resources/index.ts
  modules/abstract-substrate/src/resources/mainnet.ts
  modules/abstract-substrate/src/resources/westend.ts
  modules/sdk-coin-tao/package.json
  modules/sdk-coin-tao/src/lib/iface.ts
  modules/sdk-coin-tao/src/lib/iface_utils.ts
  modules/sdk-coin-tao/src/lib/index.ts
  modules/sdk-coin-tao/src/lib/keyPair.ts
  modules/sdk-coin-tao/src/lib/transaction.ts
  modules/sdk-coin-tao/src/lib/transactionBuilderFactory.ts
  modules/sdk-coin-tao/src/lib/transferBuilder.ts
  modules/sdk-coin-tao/src/lib/txnSchema.ts
  modules/sdk-coin-tao/src/lib/utils.ts
  modules/sdk-coin-tao/src/resources/index.ts
  modules/sdk-coin-tao/src/resources/mainnet.ts
  modules/sdk-coin-tao/src/resources/testnet.ts
  modules/sdk-coin-tao/src/resources/westend.ts
  modules/sdk-coin-tao/src/tao.ts
  modules/sdk-coin-tao/test/resources/index.ts
  modules/sdk-coin-tao/test/unit/transactionBuilder/base.ts
  modules/sdk-coin-tao/test/unit/transactionBuilder/singeltonRegistry.ts
  modules/sdk-coin-tao/test/unit/transactionBuilder/transactionBuilderFactory.ts
  modules/sdk-coin-tao/test/unit/transactionBuilder/transferBuilder.ts
Due: none

feat(statics): add go account support for oas Ticket: GNA-1323
  modules/statics/src/coins.ts
Due: statics

feat(statics): enable bulk withdrawal for thorchain rune
  modules/statics/src/coins.ts
Due: statics

fix(statics): enable bulk withdrawal for babylon TICKET: COIN-3085
  modules/statics/src/coins.ts
Due: statics

chore: added batcher, forwarder address for tsgb,tflr,txdc,twemix
  modules/statics/src/networks.ts
Due: statics

chore(statics): use contractAddress to form issuerAddress and currencyCode TICKET: WIN-4541
  modules/sdk-coin-xrp/src/xrpToken.ts
  modules/sdk-coin-xrp/test/unit/xrpToken.ts
  modules/statics/src/account.ts
  modules/statics/src/tokenConfig.ts
  modules/statics/test/unit/coins.ts
Due: statics

fix(abstract-substrate): fix Material specName type
  modules/abstract-substrate/src/lib/iface.ts
  modules/abstract-substrate/src/lib/transactionBuilder.ts
  modules/abstract-substrate/src/lib/txnSchema.ts
Due: none

Adding unstaking builder for Tao
  modules/sdk-coin-tao/src/lib/index.ts
  modules/sdk-coin-tao/src/lib/unstakeBuilder.ts
  modules/sdk-coin-tao/test/unit/transactionBuilder/unstakeBuilder.ts
Due: none

jupiter test
  modules/sdk-coin-sol/package.json
  modules/sdk-coin-sol/src/lib/constants.ts
  modules/sdk-coin-sol/src/lib/iface.ts
  modules/sdk-coin-sol/src/lib/utils.ts
  package.json
  yarn.lock
Due: none

add fee
  modules/sdk-coin-sol/src/lib/constants.ts
  modules/sdk-coin-sol/src/lib/iface.ts
  modules/sdk-coin-sol/src/lib/instructionParamsFactory.ts
  modules/sdk-coin-sol/src/lib/utils.ts
Due: none

chore(root): release express
  Dockerfile
Due: none

fix(sdk-coin-sui): add exports for wal unstaking
  modules/sdk-coin-sui/src/lib/index.ts
Due: none

jupiter swap wip
  modules/sdk-coin-sol/src/lib/constants.ts
  modules/sdk-coin-sol/src/lib/iface.ts
  modules/sdk-coin-sol/src/lib/instructionParamsFactory.ts
  modules/sdk-coin-sol/src/lib/utils.ts
  modules/sdk-coin-sol/test/unit/jupiter.ts
  modules/sdk-coin-sol/test/unit/transaction.ts
Due: none

refactor(sdk-core): replace t.string with BigIntFromString
  modules/sdk-core/src/bitgo/lightning/codecs.ts
Due: none

fix(statics): use DAI as display instead of SAI
  modules/statics/src/coins.ts
  modules/statics/src/coins/ofcErc20Coins.ts
Due: statics

chore(statics): move coin features from coins file
  modules/statics/src/coinFeatures.ts
  modules/statics/src/coins.ts
Due: statics

feat(utxo-core): add descriptor serialization test fixtures
  modules/utxo-core/test/descriptor/psbt/createPsbt.ts
  modules/utxo-core/test/descriptor/psbt/fixtures/ShWsh2Of3CltvDrop.descriptors.json
  modules/utxo-core/test/descriptor/psbt/fixtures/Tr2Of3-NoKeyPath.descriptors.json
  modules/utxo-core/test/descriptor/psbt/fixtures/Wsh2Of3.descriptors.json
Due: none

feat(utxo-core): add descriptor node formatting and type safety
  modules/utxo-core/.eslintrc.js
  modules/utxo-core/package.json
  modules/utxo-core/src/descriptor/formatNode.ts
  modules/utxo-core/src/descriptor/index.ts
  modules/utxo-core/src/testutil/descriptor/descriptors.ts
  modules/utxo-core/test/descriptor/formatNode.ts
  modules/utxo-core/typetests/formatNode.test.ts
  yarn.lock
Due: none

chore(sdk-coin-sui): add contractAddress to tokenConfig TICKET: WIN-4531
  modules/sdk-coin-sui/src/suiToken.ts
  modules/sdk-coin-sui/test/unit/suiToken.ts
  modules/statics/src/tokenConfig.ts
Due: statics

chore(sdk-coin-hbar): use contractAddress to form tokenId TICKET: WIN-4533
  modules/sdk-coin-hbar/src/hbarToken.ts
  modules/sdk-coin-hbar/test/unit/hbarToken.ts
  modules/statics/src/account.ts
  modules/statics/src/tokenConfig.ts
Due: statics

chore(sdk-coin-hbar): use contractAddress to form tokenId TICKET: WIN-4533
  modules/statics/src/tokenConfig.ts
Due: statics

fix: update babyNodeUrl for testnet TICKET: COIN-3107
  modules/sdk-core/src/bitgo/environments.ts
Due: none

feat(sdk-core): move lightning specific wallet functions
  modules/bitgo/test/v2/unit/lightning/lightningWallets.ts
  modules/express/src/lightning/codecs.ts
  modules/express/src/lightning/lightningSignerRoutes.ts
  modules/express/test/unit/clientRoutes/lightning/lightningSignerFixture.ts
  modules/express/test/unit/clientRoutes/lightning/lightningSignerRoutes.ts
  modules/sdk-core/src/bitgo/lightning/codecs.ts
  modules/sdk-core/src/bitgo/lightning/index.ts
  modules/sdk-core/src/bitgo/lightning/lightningWallet.ts
  modules/sdk-core/src/bitgo/lightning/signature.ts
  modules/sdk-core/src/bitgo/wallet/lightning.ts
  modules/sdk-core/test/unit/bitgo/lightning/codecs.ts
Due: bitgo, express

fix: name for bera, coredao, oas BREAKING CHANGE: changing the name for bera, coredao and oas Ticket: WIN-4509
  modules/sdk-coin-coredao/test/unit/coredao.ts
  modules/sdk-coin-oas/test/unit/oas.ts
  modules/statics/src/coins.ts
  modules/statics/src/networks.ts
Due: statics

wip
  modules/sdk-coin-sol/src/lib/instructionParamsFactory.ts
  modules/sdk-coin-sol/src/lib/solInstructionFactory.ts
  modules/sdk-coin-sol/src/lib/transaction.ts
  modules/sdk-coin-sol/test/unit/jupiter.ts
  modules/sdk-coin-sol/test/unit/transactionBuilder/stakingDelegateBuilder.ts
Due: none

able to broadcast
  modules/sdk-coin-sol/src/lib/instructionParamsFactory.ts
  modules/sdk-coin-sol/src/lib/jupiterSwapBuilder.ts
  modules/sdk-coin-sol/src/lib/transaction.ts
  modules/sdk-coin-sol/src/lib/transactionBuilderFactory.ts
  modules/sdk-coin-sol/src/lib/utils.ts
  modules/sdk-coin-sol/test/unit/jupiter.ts
  modules/sdk-core/src/account-lib/baseCoin/enum.ts
Due: none

feat: token onboarding WIN-4614
  modules/statics/src/base.ts
  modules/statics/src/coins.ts
Due: statics

feat(sdk-core): validate update lightning wallet params
  modules/sdk-core/src/bitgo/wallet/lightning.ts
Due: none

feat(sdk-coin-icp): refactor getAddressFromPublicKey to use utils method
  modules/sdk-coin-icp/src/icp.ts
  modules/sdk-coin-icp/src/lib/utils.ts
  modules/sdk-coin-icp/test/unit/icp.ts
Due: none

chore(sdk-coin-eos): use contractAddress to form contractName TICKET: WIN-4530
  modules/sdk-coin-eos/src/eosToken.ts
  modules/sdk-coin-eos/test/unit/eosToken.ts
  modules/statics/src/account.ts
  modules/statics/src/tokenConfig.ts
Due: statics

feat(utxo-core): add txt encoding support for test fixtures
  modules/utxo-core/src/testutil/fixtures.utils.ts
Due: none

feat(utxo-staking): simplify mocha config and test scripts
  modules/utxo-staking/.mocharc.js
  modules/utxo-staking/.mocharc.yml
  modules/utxo-staking/package.json
Due: none

feat(utxo-staking): migrate test utils to utxo-core
  modules/utxo-staking/.eslintrc.js
  modules/utxo-staking/package.json
  modules/utxo-staking/test/unit/coreDao/descriptor.ts
  modules/utxo-staking/test/unit/coreDao/opReturn.ts
  modules/utxo-staking/test/unit/coreDao/utils.ts
  modules/utxo-staking/tsconfig.json
Due: none

feat(utxo-staking): enable import ordering rule
  modules/utxo-staking/.eslintrc.js
  modules/utxo-staking/test/unit/coreDao/descriptor.ts
  modules/utxo-staking/test/unit/coreDao/opReturn.ts
  modules/utxo-staking/test/unit/transaction.ts
Due: none

feat(utxo-staking): add babylon script generation
  modules/utxo-staking/.eslintignore
  modules/utxo-staking/.prettierignore
  modules/utxo-staking/package.json
  modules/utxo-staking/test/fixtures/babylon/scripts.json
  modules/utxo-staking/test/unit/babylon/fetchStakingScriptSource.ts
  modules/utxo-staking/test/unit/babylon/scripts.ts
  modules/utxo-staking/test/unit/babylon/vendor/stakingScript.ts
  yarn.lock
Due: none

chore(deps): bump @bitgo/wasm-miniscript to 2.0.0-beta.3
  modules/abstract-utxo/package.json
  modules/utxo-bin/package.json
  modules/utxo-core/package.json
  modules/utxo-staking/package.json
  yarn.lock
Due: none

chore(utxo-core): add eslint config and fix imports
  modules/utxo-core/.eslintignore
  modules/utxo-core/.eslintrc.js
  modules/utxo-core/src/testutil/descriptor/mock.utils.ts
  modules/utxo-core/test/descriptor/psbt/createPsbt.ts
  modules/utxo-core/test/descriptor/psbt/findDescriptors.ts
  modules/utxo-core/test/descriptor/psbt/parse.ts
Due: none

Path conditions:
  bitgo: any of: modules/bitgo
  account-lib: any of: modules/account-lib
  statics: any of: modules/statics
  express: any of: modules/express
