Repository BitGo/BitGoJS: changes, and which Codecov flags are due for each by the changed paths.
All: bitgo, account-lib, statics, express

feat(sdk-coin-bsc): added support for mpcv2 in recovery
  modules/abstract-eth/src/abstractEthLikeNewCoins.ts
  modules/sdk-coin-bsc/src/bsc.ts
  modules/sdk-coin-bsc/src/lib/transactionBuilder.ts
  modules/sdk-coin-bsc/test/fixtures/ecdsa.ts
  modules/sdk-coin-bsc/test/unit/bsc.ts
  modules/sdk-coin-polygon/test/unit/polygon.ts
Due: none

feat(sdk-coin-near): added verify transaction for near token & storage deposit transactions
  modules/sdk-coin-near/src/lib/transaction.ts
  modules/sdk-coin-near/src/lib/utils.ts
  modules/sdk-coin-near/src/near.ts
  modules/sdk-coin-near/src/nep141Token.ts
  modules/sdk-coin-near/test/resources/near.ts
  modules/sdk-coin-near/test/unit/near.ts
  modules/sdk-coin-near/test/unit/nep141Token.ts
  modules/sdk-coin-near/test/unit/transactionBuilder/fungibleTokenTransferBuilder.ts
  modules/sdk-coin-near/test/unit/transactionBuilder/storageDepositTransferBuilder.ts
Due: none

chore: gatekeep for SINGAPORE trust
  modules/statics/src/coins/erc20Coins.ts
  modules/statics/src/coins/solTokens.ts
Due: statics

chore(utxo-core): moved bip32utils to utxo-core, re-export sdk-core
  modules/sdk-core/package.json
  modules/sdk-core/src/bitgo/bip32util.ts
  modules/utxo-core/package.json
  modules/utxo-core/src/bip32utils.ts
  modules/utxo-core/src/index.ts
Due: none

chore(utxo-core): update package.json
  modules/sdk-core/package.json
  modules/utxo-core/package.json
Due: none

chore(utxo-core): update index.ts
  modules/sdk-core/src/bitgo/bip32util.ts
  modules/utxo-core/src/index.ts
Due: none

feat(statics): add middleware public key field to LightningNetwork
  modules/abstract-lightning/src/lightning/lightningUtils.ts
  modules/abstract-lightning/test/unit/lightning/lightningUtils.ts
  modules/statics/src/networks.ts
Due: statics

feat(statics): add TAT shared secret derivation function
  modules/abstract-lightning/src/lightning/lightningUtils.ts
  modules/abstract-lightning/test/unit/lightning/lightningUtils.ts
  modules/statics/src/networks.ts
Due: statics

fix(sdk-coin-sui): fix contract address for sui wusdc token TICKET: WIN-5935
  modules/statics/src/coins.ts
Due: statics

feat: add vechain token standard support
  modules/sdk-coin-vet/src/index.ts
  modules/sdk-coin-vet/src/register.ts
  modules/sdk-coin-vet/src/vetToken.ts
  modules/statics/src/account.ts
  modules/statics/src/base.ts
  modules/statics/src/index.ts
  modules/statics/src/tokenConfig.ts
Due: statics

chore(root): release express
  Dockerfile
Due: none

fix: decoding logic to differentiate b/w stake and unstake batch
  modules/sdk-coin-polyx/src/lib/iface.ts
  modules/sdk-coin-polyx/src/lib/transactionBuilderFactory.ts
Due: none

chore(sdk-coin-sol): remove statics dependency from sol module
  modules/sdk-coin-sol/src/lib/ataInitializationBuilder.ts
  modules/sdk-coin-sol/src/lib/iface.ts
  modules/sdk-coin-sol/src/lib/instructionParamsFactory.ts
  modules/sdk-coin-sol/src/lib/solInstructionFactory.ts
  modules/sdk-coin-sol/src/lib/tokenTransferBuilder.ts
  modules/sdk-coin-sol/src/lib/transaction.ts
  modules/sdk-coin-sol/src/lib/transactionBuilder.ts
  modules/sdk-coin-sol/src/lib/transferBuilderV2.ts
  modules/sdk-coin-sol/src/sol.ts
  modules/sdk-coin-sol/test/resources/sol.ts
  modules/sdk-coin-sol/test/unit/transactionBuilder/ataInitBuilder.ts
  modules/sdk-coin-sol/test/unit/transactionBuilder/tokenTransferBuilder.ts
  modules/sdk-coin-sol/test/unit/transactionBuilder/transferBuilderV2.ts
Due: none

chore: first, use an optional parameter
  modules/sdk-coin-sol/src/lib/ataInitializationBuilder.ts
  modules/sdk-coin-sol/src/lib/solInstructionFactory.ts
  modules/sdk-coin-sol/src/lib/tokenTransferBuilder.ts
  modules/sdk-coin-sol/src/lib/transferBuilderV2.ts
Due: none

chore: update explain transaction
  modules/sdk-coin-sol/src/lib/transaction.ts
  modules/sdk-coin-sol/src/lib/transactionBuilder.ts
  modules/sdk-coin-sol/test/unit/transaction.ts
Due: none

fix(sdk-coin-polyx): add address format for polyx and tpolyx
  modules/sdk-coin-polyx/src/lib/constants.ts
  modules/sdk-coin-polyx/src/polyx.ts
  modules/sdk-coin-polyx/src/tpolyx.ts
  modules/sdk-coin-polyx/test/unit/polyx.ts
Due: none

chore: parse transaction using the rawtx
  modules/sdk-coin-sol/src/lib/ataInitializationBuilder.ts
  modules/sdk-coin-sol/src/lib/instructionParamsFactory.ts
  modules/sdk-coin-sol/src/lib/transaction.ts
  modules/sdk-coin-sol/src/lib/transactionBuilder.ts
  modules/sdk-coin-sol/src/lib/transactionBuilderFactory.ts
  modules/sdk-coin-sol/test/resources/sol.ts
  modules/sdk-coin-sol/test/unit/instructionParamsFactory.ts
  modules/sdk-coin-sol/test/unit/transactionBuilder/ataInitBuilder.ts
  modules/sdk-coin-sol/test/unit/transactionBuilder/stakingDeactivateBuilder.ts
  modules/sdk-coin-sol/test/unit/transactionBuilder/tokenTransferBuilder.ts
  modules/sdk-coin-sol/test/unit/transactionBuilder/transactionBuilder.ts
  modules/sdk-coin-sol/test/unit/transactionBuilder/transferBuilderV2.ts
Due: none

chore: onboard vechain vtho tokens
  modules/statics/src/base.ts
  modules/statics/src/coinFeatures.ts
  modules/statics/src/coins.ts
  modules/statics/src/coins/vetTokens.ts
Due: statics

feat: adding new batch of tokens
  modules/statics/src/base.ts
  modules/statics/src/coins/bscTokens.ts
  modules/statics/src/coins/erc20Coins.ts
  modules/statics/src/coins/ofcCoins.ts
  modules/statics/src/coins/ofcErc20Coins.ts
Due: statics

fix(sdk-coin-sol): handling sol 2022 token recoveries
  modules/sdk-coin-sol/src/sol.ts
  modules/sdk-coin-sol/test/fixtures/sol.ts
  modules/sdk-coin-sol/test/unit/sol.ts
Due: none

fix(sdk-coin-near): bug fix in ft builder of near Ticket: COIN-4580
  modules/sdk-coin-near/src/lib/fungibleTokenTransferBuilder.ts
Due: none

fix: add base units for tcronos and tasi TICKET: COIN-4528
  modules/sdk-coin-asi/src/tasi.ts
  modules/sdk-coin-cronos/src/tcronos.ts
  modules/statics/src/base.ts
Due: statics

feat(abstract-lightning): add utility to compute BIP32 derivation index
  modules/abstract-lightning/src/lightning/lightningUtils.ts
  modules/abstract-lightning/test/unit/lightning/lightningUtils.ts
Due: none

feat(utxo-bin): add utxo-core dependency
  modules/utxo-bin/.eslintrc.json
  modules/utxo-bin/package.json
  yarn.lock
Due: none

feat(utxo-bin): add utility for capturing console output in tests
  modules/utxo-bin/test/captureConsole.ts
Due: none

feat(utxo-bin): add formatObjAsTree helper
  modules/utxo-bin/src/format.ts
Due: none

feat(utxo-bin): add descriptor fromFixedScript command
  modules/utxo-bin/bin/index.ts
  modules/utxo-bin/src/commands/cmdDescriptor/fromFixedScript.ts
  modules/utxo-bin/src/commands/cmdDescriptor/index.ts
  modules/utxo-bin/src/commands/index.ts
  modules/utxo-bin/test/cmdDescriptor/fromFixedScript.ts
  modules/utxo-bin/test/fixtures/fromFixedScript/descriptors.txt
Due: none

chore: wip paygo util functions
  modules/utxo-lib/src/bitgo/UtxoPsbt.ts
  modules/utxo-lib/src/bitgo/psbt/paygoAddressProof.ts
  modules/utxo-lib/src/testutil/psbt.ts
  modules/utxo-lib/test/bitgo/psbt/paygoAddressProof.ts
Due: none

chore: added test for paygo addr and moved generate paygo proof to other pr
  modules/utxo-core/src/paygo/index.ts
  modules/utxo-core/src/paygo/psbt/PayGoUtils.ts
  modules/utxo-core/src/paygo/psbt/index.ts
  modules/utxo-core/test/paygo/psbt/PayGoUtils.ts
  modules/utxo-lib/src/bitgo/PsbtUtil.ts
  modules/utxo-lib/src/bitgo/UtxoPsbt.ts
  modules/utxo-lib/src/bitgo/psbt/paygoAddressProof.ts
  modules/utxo-lib/src/bitgo/zcash/address.ts
  modules/utxo-lib/src/testutil/psbt.ts
  modules/utxo-lib/test/bitgo/psbt/paygoAddressProof.ts
Due: none

fix: fixed the common handling for ethlike coin
  modules/sdk-coin-ethlike/src/ethlikeCoin.ts
  modules/sdk-coin-ethlike/test/unit/ethlikeCoin.ts
Due: none

feat(bitgo): use AMS endpoints to register single token
  modules/bitgo/src/bitgo.ts
  modules/bitgo/src/v2/coinFactory.ts
  modules/bitgo/test/v2/unit/ams/ams.ts
Due: bitgo

feat(sdk-coin-evm): add EvmCoin & transaction builder
  modules/bitgo/test/browser/browser.spec.ts
  modules/sdk-coin-evm/package.json
  modules/sdk-coin-evm/src/evmCoin.ts
  modules/sdk-coin-evm/src/index.ts
  modules/sdk-coin-evm/src/lib/index.ts
  modules/sdk-coin-evm/src/lib/transactionBuilder.ts
  modules/sdk-coin-evm/src/lib/transferBuilder.ts
  modules/sdk-coin-evm/src/lib/utils.ts
  modules/sdk-coin-evm/src/register.ts
  modules/sdk-core/src/bitgo/environments.ts
  yarn.lock
Due: bitgo

feat(sdk-coin-near): removed inputs & outputs for storage deposits Ticket: COIN-4609
  modules/sdk-coin-near/src/lib/transaction.ts
  modules/sdk-coin-near/test/unit/transactionBuilder/fungibleTokenTransferBuilder.ts
  modules/sdk-coin-near/test/unit/transactionBuilder/storageDepositTransferBuilder.ts
Due: none

chore: update tx url for bld
  modules/statics/src/networks.ts
Due: statics

fix: added payment_already_exist failure reason lightning
  modules/abstract-lightning/src/codecs/api/payment.ts
Due: none

feat: add WORLDCHAIN token support
  modules/bitgo/src/v2/coinFactory.ts
  modules/bitgo/src/v2/coins/index.ts
  modules/bitgo/test/browser/browser.spec.ts
  modules/sdk-coin-world/src/index.ts
  modules/sdk-coin-world/src/register.ts
  modules/sdk-coin-world/src/worldToken.ts
  modules/sdk-coin-world/test/unit/worldToken.ts
  modules/statics/src/account.ts
  modules/statics/src/base.ts
  modules/statics/src/coins.ts
  modules/statics/src/tokenConfig.ts
Due: bitgo, statics

chore(statics): set production middleware and tat pubkeys
  modules/statics/src/networks.ts
Due: statics

chore(abstract-lightning): apply comments
  modules/abstract-lightning/src/lightning/lightningUtils.ts
Due: none

chore(utxo-core): add error classes for util func
  modules/utxo-core/src/paygo/psbt/Errors.ts
  modules/utxo-core/src/paygo/psbt/PayGoUtils.ts
  modules/utxo-core/src/testutil/index.ts
  modules/utxo-core/src/testutil/parseVaspProof.ts
  modules/utxo-core/test/paygo/psbt/PayGoUtils.ts
  modules/utxo-lib/src/bitgo/UtxoPsbt.ts
Due: none

Path conditions:
  bitgo: any of: modules/bitgo
  account-lib: any of: modules/account-lib
  statics: any of: modules/statics
  express: any of: modules/express
