Repository BitGo/BitGoJS: changes, and which Codecov flags are due for each by the changed paths.
All: bitgo, account-lib, statics, express

.codecov.yml:

coverage:
  status:
    project: off
    patch: off
comment:
  layout: 'diff, flags, files'
  require_changes: true
flags:
  bitgo:
    paths:
      - modules/bitgo
  account-lib:
    paths:
      - modules/account-lib
  statics:
    paths:
      - modules/statics
  express:
    paths:
      - modules/express

feat(sdk-coin-lnbtc): add staking feature to lnbtc
  modules/statics/src/lightning.ts
Due: statics

feat: erc721 token support for evm coins
  modules/bitgo/src/v2/coinFactory.ts
  modules/bitgo/src/v2/coins/index.ts
  modules/bitgo/test/browser/browser.spec.ts
  modules/sdk-coin-evm/src/ethLikeErc721Token.ts
  modules/sdk-coin-evm/src/index.ts
  modules/sdk-coin-evm/src/register.ts
  modules/statics/src/account.ts
  modules/statics/src/allCoinsAndTokens.ts
  modules/statics/src/base.ts
  modules/statics/src/coins.ts
  modules/statics/src/tokenConfig.ts
  modules/statics/test/unit/coins.ts
  modules/statics/test/unit/tokenConfigTests.ts
Due: bitgo, statics

fix(sdk-coin-vet): add prefix for validator address
  modules/sdk-coin-vet/src/lib/utils.ts
  modules/sdk-coin-vet/test/resources/vet.ts
  modules/sdk-coin-vet/test/transactionBuilder/delegateClauseTxnBuilder.ts
Due: none

feat: add evm features to zketh chain
  modules/sdk-core/src/bitgo/environments.ts
  modules/statics/src/allCoinsAndTokens.ts
  modules/statics/test/unit/fixtures/expectedColdFeatures.ts
Due: statics

feat(sdk-coin-flrp): add transaction validation utility
  modules/sdk-coin-flrp/src/lib/transaction.ts
  modules/sdk-coin-flrp/src/lib/utils.ts
  modules/sdk-coin-flrp/test/unit/lib/utils.ts
Due: none

feat(abstract-utxo): add default SDK backend property
  modules/abstract-utxo/src/abstractUtxoCoin.ts
Due: none

abstract-utxo-cli
  modules/abstract-utxo-cli/.eslintignore
  modules/abstract-utxo-cli/.gitignore
  modules/abstract-utxo-cli/.mocharc.js
  modules/abstract-utxo-cli/.npmignore
  modules/abstract-utxo-cli/.prettierignore
  modules/abstract-utxo-cli/.prettierrc.yml
  modules/abstract-utxo-cli/README.md
  modules/abstract-utxo-cli/package.json
  modules/abstract-utxo-cli/src/bitGoArgs.ts
  modules/abstract-utxo-cli/src/commands/RpcClient.ts
  modules/abstract-utxo-cli/src/commands/args/wallet.ts
  modules/abstract-utxo-cli/src/commands/createAddress.ts
  modules/abstract-utxo-cli/src/commands/createWallet.ts
  modules/abstract-utxo-cli/src/commands/descriptorWallet.ts
  modules/abstract-utxo-cli/src/commands/fullnode.ts
  modules/abstract-utxo-cli/src/commands/staking/createStakingTransaction.ts
  modules/abstract-utxo-cli/src/commands/staking/createWallet.ts
  modules/abstract-utxo-cli/src/commands/staking/index.ts
  modules/abstract-utxo-cli/src/commands/tx/build.ts
  modules/abstract-utxo-cli/src/commands/tx/buildSignSend.ts
  modules/abstract-utxo-cli/src/commands/tx/send.ts
  modules/abstract-utxo-cli/src/commands/tx/sign.ts
  modules/abstract-utxo-cli/src/commands/tx/transaction.ts
  modules/abstract-utxo-cli/src/commands/tx/wrap.ts
  modules/abstract-utxo-cli/src/commands/unspents.ts
  modules/abstract-utxo-cli/src/commands/xprv.ts
  modules/abstract-utxo-cli/src/index.ts
  modules/abstract-utxo-cli/src/util/bitGoInstance.ts
  modules/abstract-utxo-cli/test/convertDescriptorNetwork.ts
  modules/abstract-utxo-cli/tsconfig.json
Due: none

feat(abstract-utxo-cli): update dependencies and switch from wasm-miniscript to wasm-utxo
  modules/abstract-utxo-cli/package.json
  modules/abstract-utxo-cli/src/commands/createWallet.ts
  modules/abstract-utxo-cli/src/commands/staking/createWallet.ts
  modules/abstract-utxo-cli/src/commands/tx/build.ts
  modules/abstract-utxo-cli/src/commands/tx/wrap.ts
  modules/abstract-utxo-cli/test/convertDescriptorNetwork.ts
Due: none

feat(abstract-utxo-cli): remove staking functionality
  modules/abstract-utxo-cli/package.json
  modules/abstract-utxo-cli/src/commands/staking/createStakingTransaction.ts
  modules/abstract-utxo-cli/src/commands/staking/createWallet.ts
  modules/abstract-utxo-cli/src/commands/staking/index.ts
  modules/abstract-utxo-cli/src/index.ts
Due: none

feat(abstract-utxo-cli): add support for OP_RETURN messages
  modules/abstract-utxo-cli/src/commands/tx/buildSignSend.ts
Due: none

feat(abstract-utxo-cli): update tx build/sign commands and dependencies
  modules/abstract-utxo-cli/package.json
  modules/abstract-utxo-cli/src/commands/tx/build.ts
  modules/abstract-utxo-cli/src/commands/tx/buildSignSend.ts
Due: none

feat(abstract-utxo-cli): simplify buildSignSend command implementation
  modules/abstract-utxo-cli/src/commands/tx/buildSignSend.ts
Due: none

feat(abstract-utxo): add debugging logs for wasm-utxo decoding and signing
  modules/abstract-utxo/src/abstractUtxoCoin.ts
  modules/abstract-utxo/src/transaction/decode.ts
  modules/abstract-utxo/src/transaction/fixedScript/explainPsbtWasm.ts
  modules/abstract-utxo/src/transaction/fixedScript/signPsbtWasm.ts
Due: none

feat(abstract-utxo-cli): add option to specify SDK backend
  modules/abstract-utxo-cli/src/commands/tx/buildSignSend.ts
Due: none

feat(abstract-utxo): downgrade wasm-utxo on mainnet for PSBT decoding
  modules/abstract-utxo/src/abstractUtxoCoin.ts
Due: none

feat(utxo-core): add deterministic test fixtures for PayGo address proof
  modules/utxo-core/test/paygo/psbt/payGoAddressProof.ts
Due: none

feat(sdk-coin-iota): adding address consolidation support for iota
  modules/sdk-coin-iota/src/iota.ts
  modules/sdk-coin-iota/test/unit/iota.ts
Due: none

feat: added support for versioned blockId validation Ticket: COIN-6858
  modules/sdk-coin-canton/src/lib/utils.ts
  modules/sdk-coin-canton/test/resources.ts
  modules/sdk-coin-canton/test/unit/utils.ts
Due: none

fix: fix underlying asset for ofc assets
  modules/statics/src/base.ts
  modules/statics/src/coins/ofcCoins.ts
Due: statics

feat: added opBNB support
  modules/bitgo/src/v2/coinFactory.ts
  modules/sdk-coin-ethlike/test/fixtures/ethlikeCoin.ts
  modules/sdk-coin-ethlike/test/unit/ethlikeCoin.ts
  modules/sdk-core/src/bitgo/environments.ts
  modules/statics/src/allCoinsAndTokens.ts
  modules/statics/src/base.ts
  modules/statics/src/networks.ts
  modules/statics/test/unit/fixtures/expectedColdFeatures.ts
Due: bitgo, statics

chore: fix unsigned sweep consolidation not working for SUI and SOL
  modules/sdk-coin-sol/src/sol.ts
  modules/sdk-coin-sol/test/unit/sol.ts
  modules/sdk-coin-sui/src/sui.ts
Due: none

fix: fix underlying asset for ofc assets
  modules/statics/src/base.ts
  modules/statics/src/coins/ofcCoins.ts
  yarn.lock
Due: statics

feat(statics): remove enterprise pay gas feature for iota
  modules/statics/src/coinFeatures.ts
Due: statics

feat: enable seievm staking for production environment
  modules/statics/src/allCoinsAndTokens.ts
Due: statics

feat(scripts): add plugin-based SDK coin generator v2 for ethalt coins
  CODEOWNERS
  package.json
  scripts/sdk-coin-generator-v2/PLUGIN_DEVELOPMENT.md
  scripts/sdk-coin-generator-v2/README.md
  scripts/sdk-coin-generator-v2/core/generator.ts
  scripts/sdk-coin-generator-v2/core/prompts.ts
  scripts/sdk-coin-generator-v2/core/types.ts
  scripts/sdk-coin-generator-v2/index.ts
  scripts/sdk-coin-generator-v2/plugins/base.ts
  scripts/sdk-coin-generator-v2/plugins/cosmos.ts
  scripts/sdk-coin-generator-v2/plugins/evm-like.ts
  scripts/sdk-coin-generator-v2/plugins/generic-l1.ts
  scripts/sdk-coin-generator-v2/plugins/index.ts
  scripts/sdk-coin-generator-v2/plugins/substrate-like.ts
  scripts/sdk-coin-generator-v2/templates/generic-l1/.eslintignore
  scripts/sdk-coin-generator-v2/templates/generic-l1/.gitignore
  scripts/sdk-coin-generator-v2/templates/generic-l1/.mocharc.yml
  scripts/sdk-coin-generator-v2/templates/generic-l1/.npmignore
  scripts/sdk-coin-generator-v2/templates/generic-l1/.prettierignore
  scripts/sdk-coin-generator-v2/templates/generic-l1/.prettierrc.yml
  scripts/sdk-coin-generator-v2/templates/generic-l1/.tsconfig.json
  scripts/sdk-coin-generator-v2/templates/generic-l1/README.md.ejs
  scripts/sdk-coin-generator-v2/templates/generic-l1/src/coin.ts.ejs
  scripts/sdk-coin-generator-v2/templates/generic-l1/src/index.ts.ejs
  scripts/sdk-coin-generator-v2/templates/generic-l1/src/lib/constants.ts.ejs
  scripts/sdk-coin-generator-v2/templates/generic-l1/src/lib/iface.ts.ejs
  scripts/sdk-coin-generator-v2/templates/generic-l1/src/lib/index.ts
  scripts/sdk-coin-generator-v2/templates/generic-l1/src/lib/keyPair.ts.ejs
  scripts/sdk-coin-generator-v2/templates/generic-l1/src/lib/utils.ts.ejs
  scripts/sdk-coin-generator-v2/templates/generic-l1/src/register.ts.ejs
  scripts/sdk-coin-generator-v2/templates/generic-l1/src/testnet.ts.ejs
  scripts/sdk-coin-generator-v2/templates/generic-l1/test/integration/index.ts.ejs
  scripts/sdk-coin-generator-v2/templates/generic-l1/test/unit/index.ts.ejs
  scripts/sdk-coin-generator-v2/templates/generic-l1/test/unit/keyPair.ts.ejs
  scripts/sdk-coin-generator-v2/templates/generic-l1/test/unit/utils.ts.ejs
  scripts/sdk-coin-generator-v2/tsconfig.json
  yarn.lock
Due: none

feat(sdk-coin-vet): add support for validator registration
  modules/sdk-coin-vet/src/lib/constants.ts
  modules/sdk-coin-vet/src/lib/iface.ts
  modules/sdk-coin-vet/src/lib/index.ts
  modules/sdk-coin-vet/src/lib/transaction/validatorRegistrationTransaction.ts
  modules/sdk-coin-vet/src/lib/transactionBuilder/validatorRegistrationBuilder.ts
  modules/sdk-coin-vet/src/lib/transactionBuilderFactory.ts
  modules/sdk-coin-vet/src/lib/utils.ts
  modules/sdk-coin-vet/test/resources/vet.ts
  modules/sdk-coin-vet/test/transactionBuilder/validatorRegistrationTxnBuilder.ts
Due: none

build: added SFW in the build pipeline
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  Dockerfile
Due: none

feat: addres verification for trx
  modules/sdk-coin-trx/src/trx.ts
  modules/sdk-coin-trx/test/unit/trx.ts
Due: none

feat(statics): add tempo coin module
  modules/sdk-coin-tempo/.eslintignore
  modules/sdk-coin-tempo/.gitignore
  modules/sdk-coin-tempo/.mocharc.yml
  modules/sdk-coin-tempo/.npmignore
  modules/sdk-coin-tempo/.prettierignore
  modules/sdk-coin-tempo/.prettierrc.yml
  modules/sdk-coin-tempo/README.md
  modules/sdk-coin-tempo/package.json
  modules/sdk-coin-tempo/src/index.ts
  modules/sdk-coin-tempo/src/lib/constants.ts
  modules/sdk-coin-tempo/src/lib/iface.ts
  modules/sdk-coin-tempo/src/lib/index.ts
  modules/sdk-coin-tempo/src/lib/keyPair.ts
  modules/sdk-coin-tempo/src/lib/utils.ts
  modules/sdk-coin-tempo/src/register.ts
  modules/sdk-coin-tempo/src/tempo.ts
  modules/sdk-coin-tempo/src/ttempo.ts
  modules/sdk-coin-tempo/test/integration/index.ts
  modules/sdk-coin-tempo/test/unit/index.ts
  modules/sdk-coin-tempo/test/unit/keyPair.ts
  modules/sdk-coin-tempo/test/unit/utils.ts
  modules/sdk-coin-tempo/tsconfig.json
Due: none

feat(statics): return instead of error for tempo
  modules/sdk-coin-tempo/src/tempo.ts
Due: none

feat(sdk-coin-flr): add Export C to P chain support
  modules/sdk-coin-flr/package.json
  modules/sdk-coin-flr/src/flr.ts
  modules/sdk-coin-flr/src/iface.ts
  modules/sdk-coin-flr/src/index.ts
  modules/sdk-coin-flr/test/resources.ts
  modules/sdk-coin-flr/test/unit/flr.ts
Due: none

feat(sdk-coin-vet): enable staking in prod
  modules/sdk-coin-tempo/package.json
  modules/statics/src/allCoinsAndTokens.ts
Due: statics

feat: go account support for IP token aria
  modules/statics/src/coins/ofcErc20Coins.ts
Due: statics

refactor: use verifyEddsaTssWalletAddress
  modules/sdk-coin-near/src/near.ts
Due: none

chore(examples): ada sponsor txn example script ada sponsor transaction example script using ada SDK Ticket: WIN-8061
  examples/ts/ada/adaSponsorshipTransaction.ts
Due: none

feat: added support for ftm
  modules/bitgo/src/v2/coinFactory.ts
  modules/sdk-coin-ethlike/test/fixtures/ethlikeCoin.ts
  modules/sdk-coin-ethlike/test/unit/ethlikeCoin.ts
  modules/sdk-core/src/bitgo/environments.ts
  modules/statics/src/allCoinsAndTokens.ts
  modules/statics/src/base.ts
  modules/statics/src/networks.ts
  modules/statics/test/unit/fixtures/expectedColdFeatures.ts
Due: bitgo, statics

feat(sdk-coin-flr): handle tss wallets flow and add unit tests
  modules/sdk-coin-flr/src/flr.ts
  modules/sdk-coin-flr/test/unit/flr.ts
Due: none

feat(statics): tokens onboarding
  modules/statics/src/allCoinsAndTokens.ts
  modules/statics/src/base.ts
  modules/statics/src/coins/avaxTokens.ts
  modules/statics/src/coins/erc20Coins.ts
  modules/statics/src/coins/jettonTokens.ts
  modules/statics/src/coins/ofcCoins.ts
  modules/statics/src/coins/ofcErc20Coins.ts
  modules/statics/src/coins/solTokens.ts
Due: statics
