Repository BitGo/BitGoJS: changes, and which Codecov flags are due for each by the changed paths.
All: bitgo, account-lib, statics, express

refactor: added unit tests that test encoding and decoding from end to end
  modules/express/src/typedRoutes/api/v2/lightningInitWallet.ts
  modules/express/test/unit/clientRoutes/lightning/lightningSignerRoutes.ts
  modules/express/test/unit/typedRoutes/decode.ts
Due: express

fix(sdk-core): skip btc undelegate stake tx validation
  modules/sdk-core/src/bitgo/staking/stakingWallet.ts
Due: none

refactor: fixed import
  modules/express/test/unit/clientRoutes/lightning/lightningSignerRoutes.ts
Due: express

refactor: fixed code
  modules/express/test/unit/clientRoutes/lightning/lightningSignerRoutes.ts
Due: express

refactor: removed any type cast and added reponse const variable
  modules/express/src/typedRoutes/api/v2/signerMacaroon.ts
  modules/express/test/unit/clientRoutes/lightning/lightningSignerRoutes.ts
Due: express

refactor: fix import
  modules/express/src/lightning/lightningSignerRoutes.ts
Due: express

refactor: attempt to fix import
  modules/express/src/lightning/lightningSignerRoutes.ts
  modules/express/test/unit/clientRoutes/lightning/lightningSignerRoutes.ts
Due: express

refactor: added response type and some jsdocs
  modules/express/src/typedRoutes/api/v2/lightningState.ts
Due: express

feat: flrp validators and delegator
  CODEOWNERS
  modules/sdk-coin-flrp/src/lib/atomicTransactionBuilder.ts
  modules/sdk-coin-flrp/src/lib/constants.ts
  modules/sdk-coin-flrp/src/lib/delegatorTxBuilder.ts
  modules/sdk-coin-flrp/src/lib/exportInCTxBuilder.ts
  modules/sdk-coin-flrp/src/lib/exportInPTxBuilder.ts
  modules/sdk-coin-flrp/src/lib/importInCTxBuilder.ts
  modules/sdk-coin-flrp/src/lib/importInPTxBuilder.ts
  modules/sdk-coin-flrp/src/lib/index.ts
  modules/sdk-coin-flrp/src/lib/permissionlessValidatorTxBuilder.ts
  modules/sdk-coin-flrp/src/lib/transactionBuilder.ts
  modules/sdk-coin-flrp/src/lib/types.ts
  modules/sdk-coin-flrp/src/lib/validatorTxBuilder.ts
  modules/sdk-coin-flrp/test/unit/delegatorTxBuilder.test.ts
  modules/sdk-coin-flrp/test/unit/lib/exportInCTxBuilder.ts
  modules/sdk-coin-flrp/test/unit/lib/exportInPTxBuilder.ts
  modules/sdk-coin-flrp/test/unit/lib/exportTxBuilder.ts
  modules/sdk-coin-flrp/test/unit/lib/importInCTxBuilder.ts
  modules/sdk-coin-flrp/test/unit/lib/importInPTxBuilder.ts
  modules/sdk-coin-flrp/test/unit/permissionlessValidatorTxBuilder.test.ts
  modules/sdk-coin-flrp/test/unit/transactionBuilder.test.ts
  modules/sdk-coin-flrp/test/unit/validatorTxBuilder.test.ts
Due: none

feat(statics): update REKT token to REKTTOKEN
  modules/statics/src/base.ts
  modules/statics/src/coins/erc20Coins.ts
  modules/statics/src/coins/ofcErc20Coins.ts
Due: statics

feat(statics): add ETH:REKT token
  modules/statics/src/base.ts
  modules/statics/src/coins/erc20Coins.ts
  modules/statics/src/coins/ofcErc20Coins.ts
Due: statics

feat: flrp validators and delegator
  modules/sdk-coin-flrp/src/lib/atomicTransactionBuilder.ts
  modules/sdk-coin-flrp/src/lib/constants.ts
  modules/sdk-coin-flrp/src/lib/delegatorTxBuilder.ts
  modules/sdk-coin-flrp/src/lib/exportInCTxBuilder.ts
  modules/sdk-coin-flrp/src/lib/exportInPTxBuilder.ts
  modules/sdk-coin-flrp/src/lib/importInCTxBuilder.ts
  modules/sdk-coin-flrp/src/lib/importInPTxBuilder.ts
  modules/sdk-coin-flrp/src/lib/index.ts
  modules/sdk-coin-flrp/src/lib/permissionlessValidatorTxBuilder.ts
  modules/sdk-coin-flrp/src/lib/transactionBuilder.ts
  modules/sdk-coin-flrp/src/lib/types.ts
  modules/sdk-coin-flrp/src/lib/utils.ts
  modules/sdk-coin-flrp/src/lib/validatorTxBuilder.ts
  modules/sdk-coin-flrp/test/unit/delegatorTxBuilder.test.ts
  modules/sdk-coin-flrp/test/unit/validatorTxBuilder.test.ts
Due: none

feat: flrp validators and delegator
  modules/sdk-coin-flrp/src/lib/constants.ts
  modules/sdk-coin-flrp/src/lib/importInCTxBuilder.ts
  modules/sdk-coin-flrp/src/lib/importInPTxBuilder.ts
  modules/sdk-coin-flrp/src/lib/permissionlessValidatorTxBuilder.ts
  modules/sdk-coin-flrp/src/lib/transaction.ts
Due: none

feat: flrp validators and delegator
  modules/sdk-coin-flrp/src/lib/constants.ts
  modules/sdk-coin-flrp/src/lib/permissionlessValidatorTxBuilder.ts
Due: none

feat: support deriving jetton wallet addresses TICKET: COIN-5666
  modules/sdk-coin-ton/package.json
  modules/sdk-coin-ton/src/lib/constants.ts
  modules/sdk-coin-ton/src/lib/utils.ts
  modules/sdk-coin-ton/test/unit/jettonToken.ts
  modules/statics/src/base.ts
  modules/statics/src/coins/jettonTokens.ts
  yarn.lock
Due: statics

feat: flrp validators and delegator
  modules/sdk-coin-flrp/src/lib/delegatorTxBuilder.ts
  modules/sdk-coin-flrp/src/lib/importInCTxBuilder.ts
  modules/sdk-coin-flrp/src/lib/importInPTxBuilder.ts
  modules/sdk-coin-flrp/src/lib/permissionlessValidatorTxBuilder.ts
  modules/sdk-coin-flrp/src/lib/types.ts
  modules/sdk-coin-flrp/src/lib/validatorTxBuilder.ts
Due: none

feat(sdk-coin-tao): correct validation stages order in move stake builder
  modules/sdk-coin-tao/src/lib/moveStakeBuilder.ts
  modules/sdk-coin-tao/test/unit/transactionBuilder/moveStakeBuilder.ts
Due: none

feat(statics): add staking feature for wflr
  modules/statics/src/allCoinsAndTokens.ts
  modules/statics/src/coinFeatures.ts
Due: statics

fix: sequential build and sign messages
  modules/sdk-core/src/bitgo/walletUtil/signAccountBasedMidnightClaimMessages.ts
Due: none

chore(sdk-core): add type for sendManyTxRequests
  modules/bitgo/test/v2/unit/wallet.ts
  modules/sdk-core/src/bitgo/utils/tss/baseTSSUtils.ts
  modules/sdk-core/src/bitgo/utils/tss/baseTypes.ts
  modules/sdk-core/src/bitgo/wallet/wallet.ts
Due: bitgo

refactor: added docs and updated req type
  modules/express/src/clientRoutes.ts
  modules/express/src/typedRoutes/api/v2/keychainLocal.ts
Due: express

test(sdk-core): add consolidate unspent management spoofability test for utxo coins
  modules/sdk-coin-btc/test/unit/btc.ts
Due: none

feat(sdk-core): add transaction verification to validate platform built transactions
  modules/sdk-core/src/bitgo/wallet/wallet.ts
Due: none

fix(sdk-core): use Promise.all for concurrent processing for transaction verifying, linting fixes
  modules/sdk-coin-btc/test/unit/btc.ts
  modules/sdk-core/src/bitgo/wallet/wallet.ts
Due: none

refactor: removed unneccessary UTs and modified existing ones
  modules/express/src/typedRoutes/api/v2/lightningInitWallet.ts
  modules/express/test/unit/clientRoutes/lightning/lightningSignerRoutes.ts
  modules/express/test/unit/typedRoutes/decode.ts
Due: express

fix(sdk-core): add keychain info to transaction verification process, fixes unit tests
  modules/bitgo/test/v2/unit/wallet.ts
  modules/sdk-core/src/bitgo/wallet/wallet.ts
Due: bitgo

refactor: refactored jsdocs
  modules/express/src/typedRoutes/api/v2/lightningState.ts
Due: express

docs: refactored the jsdocs
  modules/express/src/typedRoutes/api/v2/signerMacaroon.ts
Due: express

refactor: added more JSdocs
  modules/express/src/typedRoutes/api/v2/unlockWallet.ts
Due: express

feat(sdk-coin-btc): add transaction validation for fanout unspent management
  modules/sdk-coin-btc/test/unit/btc.ts
Due: none

fix(sdk-coin-sol): remove inputs and outputs for jito deactivate
  modules/sdk-coin-sol/src/lib/transaction.ts
  modules/sdk-coin-sol/test/unit/transactionBuilder/stakingActivateBuilder.ts
  modules/sdk-coin-sol/test/unit/transactionBuilder/stakingDeactivateBuilder.ts
Due: none

fix(sdk-coin-sol): add missing deactivate to jito unstaking
  modules/sdk-coin-sol/src/lib/instructionParamsFactory.ts
  modules/sdk-coin-sol/src/lib/jitoStakePoolOperations.ts
  modules/sdk-coin-sol/test/resources/sol.ts
Due: none

feat(sdk-coin-sol): add example for unstaking jito
  examples/ts/sol/unstake-jito.ts
Due: none

feat: add ton mainnet token TICKET: COIN-5625
  modules/sdk-coin-ton/test/unit/jettonToken.ts
  modules/statics/src/base.ts
  modules/statics/src/coins/jettonTokens.ts
Due: statics

chore: added aero token for baseth
  modules/statics/src/allCoinsAndTokens.ts
  modules/statics/src/base.ts
  modules/statics/src/coins.ts
  modules/statics/src/tokenConfig.ts
Due: statics

Revert "fix(bitgo): added data validation on tx"
  modules/bitgo/test/v2/unit/staking/stakingWalletNonTSS.ts
  modules/sdk-core/src/bitgo/staking/stakingWallet.ts
Due: bitgo

fix(sdk-core): skip validation for Tron staking
  modules/sdk-core/src/bitgo/staking/stakingWallet.ts
Due: none

feat(sdk-coin-sol): blind signing guards for token enablements
  modules/sdk-coin-sol/src/sol.ts
  modules/sdk-coin-sol/test/fixtures/sol.ts
  modules/sdk-coin-sol/test/unit/sol.ts
  modules/sdk-core/src/bitgo/baseCoin/iBaseCoin.ts
Due: none

feat(sdk-core,sdk-coin-sol): token enablements verify option and type check improvements
  modules/sdk-coin-sol/src/sol.ts
  modules/sdk-coin-sol/test/unit/sol.ts
  modules/sdk-core/src/bitgo/baseCoin/iBaseCoin.ts
  modules/sdk-core/src/bitgo/wallet/wallet.ts
Due: none

fix(sdk-coin-sol): blind signing for sol token enablements check multiple tokens
  modules/sdk-coin-sol/src/sol.ts
Due: none

Path conditions:
  bitgo: any of: modules/bitgo
  account-lib: any of: modules/account-lib
  statics: any of: modules/statics
  express: any of: modules/express
