Repository BitGo/BitGoJS: changes, and which Codecov flags are due for each by the changed paths.
All: bitgo, account-lib, statics, express

feat: improve transaction verification error handling
  modules/abstract-utxo/src/transaction/descriptor/verifyTransaction.ts
  modules/abstract-utxo/src/transaction/fixedScript/verifyTransaction.ts
Due: none

refactor: enhance eth-like tx verification with recipient mismatch errors
  modules/abstract-eth/src/abstractEthLikeNewCoins.ts
Due: none

feat(sdk-core): add MPC EdDSA address verification
  modules/sdk-core/src/bitgo/baseCoin/baseCoin.ts
  modules/sdk-core/src/bitgo/baseCoin/iBaseCoin.ts
  modules/sdk-core/src/bitgo/utils/tss/addressVerification.ts
  modules/sdk-core/src/bitgo/utils/tss/index.ts
Due: none

feat(sdk-coin-sol): implement isWalletAddress for address verfn
  modules/sdk-coin-sol/src/sol.ts
  modules/sdk-coin-sol/test/unit/sol.ts
Due: none

feat(sdk-coin-dot): implement isWalletAddress for address verfn
  modules/sdk-coin-dot/src/dot.ts
  modules/sdk-coin-dot/test/unit/dot.ts
Due: none

chore: re-use generic mpc address verfn helper
  modules/sdk-coin-iota/src/iota.ts
  modules/sdk-coin-sui/src/sui.ts
  modules/sdk-core/src/bitgo/utils/tss/addressVerification.ts
Due: none

test(express): added supertest for calculateminerfeeinfo
  modules/express/test/unit/typedRoutes/calculateMinerFeeInfo.ts
Due: express

test(express): added supertest for createLocalKeyChain
  modules/express/test/unit/typedRoutes/createLocalKeyChain.ts
Due: express

feat(sdk-coin-canton): added verify transaction method handling for wallet init Ticket: COIN-6128
  modules/sdk-coin-canton/.gitignore
  modules/sdk-coin-canton/src/canton.ts
  modules/sdk-coin-canton/src/lib/transactionBuilder.ts
  modules/sdk-coin-canton/src/lib/utils.ts
  modules/sdk-coin-canton/test/resources.ts
  modules/sdk-coin-canton/test/unit/utils.ts
Due: none

test(express): added supertest for deriveLocalKeyChain
  modules/express/test/unit/typedRoutes/deriveLocalKeyChain.ts
Due: express

feat: wrw vet
  modules/bitgo/test/v2/lib/recovery-nocks.ts
  modules/bitgo/test/v2/unit/recovery.ts
  modules/sdk-coin-vet/src/lib/constants.ts
  modules/sdk-coin-vet/src/lib/vetAgent.ts
  modules/sdk-coin-vet/src/vet.ts
  modules/sdk-core/src/bitgo/environments.ts
Due: bitgo

chore(statics): add stuck tx managemnt tss for polyx
  modules/statics/src/coinFeatures.ts
Due: statics

feat: gate assets for Singapore custody
  modules/statics/src/allCoinsAndTokens.ts
  modules/statics/src/coinFeatures.ts
  modules/statics/src/coins/avaxTokens.ts
  modules/statics/src/coins/bscTokens.ts
  modules/statics/src/coins/erc20Coins.ts
  modules/statics/src/coins/polygonTokens.ts
  modules/statics/src/coins/sip10Tokens.ts
  modules/statics/src/coins/solTokens.ts
  modules/statics/src/utxo.ts
Due: statics

eddsa sign gen
  modules/sdk-core/src/bitgo/tss/common.ts
  modules/sdk-core/src/bitgo/tss/ecdsa/ecdsaMPCv2.ts
  modules/sdk-core/src/bitgo/tss/eddsa/eddsaMPCv2.ts
  modules/sdk-core/src/bitgo/utils/tss/eddsa/eddsaMPCv2.ts
  modules/sdk-core/src/bitgo/wallet/wallet.ts
  modules/sdk-lib-mpc/src/tss/eddsa-dkls/dkg.ts
  modules/sdk-lib-mpc/src/tss/eddsa-mps/dsg.ts
  modules/sdk-lib-mpc/src/tss/eddsa-mps/index.ts
  modules/sdk-lib-mpc/src/tss/eddsa-mps/types.ts
Due: none

fix: return recipients in unsigned tranasction
  modules/abstract-eth/src/abstractEthLikeNewCoins.ts
  modules/sdk-coin-ethlike/test/unit/ethlikeCoin.ts
Due: none

feat: gate assets for Singapore custody
  modules/statics/src/allCoinsAndTokens.ts
  modules/statics/src/coins/avaxTokens.ts
  modules/statics/src/coins/erc20Coins.ts
  modules/statics/src/coins/polygonTokens.ts
Due: statics

feat(abstract-utxo): move BCH/BCHA canonicalAddress implementation
  modules/abstract-utxo/src/abstractUtxoCoin.ts
  modules/abstract-utxo/src/address/addressFormat.ts
  modules/abstract-utxo/src/address/index.ts
  modules/sdk-coin-bch/src/bch.ts
  modules/sdk-coin-bcha/src/bcha.ts
Due: none

feat: recover function for vet recovery
  modules/bitgo/test/v2/lib/recovery-nocks.ts
  modules/bitgo/test/v2/unit/recovery.ts
  modules/sdk-coin-vet/src/lib/constants.ts
  modules/sdk-coin-vet/src/lib/transaction/transaction.ts
  modules/sdk-coin-vet/src/lib/transactionBuilder/transactionBuilder.ts
  modules/sdk-coin-vet/src/lib/types.ts
  modules/sdk-coin-vet/src/vet.ts
  modules/sdk-core/src/bitgo/environments.ts
Due: bitgo

feat: added EddsaMPCV2tutil to create keychain
  modules/sdk-core/src/bitgo/utils/tss/eddsa/base.ts
  modules/sdk-core/src/bitgo/utils/tss/eddsa/eddsa.ts
  modules/sdk-core/src/bitgo/utils/tss/eddsa/eddsaMPCv2.ts
  modules/sdk-core/src/bitgo/utils/tss/eddsa/eddsaMPCv2KeyGenSender.ts
  modules/sdk-lib-mpc/src/tss/eddsa-mps/commsLayer.ts
  modules/sdk-lib-mpc/src/tss/eddsa-mps/index.ts
  modules/sdk-lib-mpc/src/tss/eddsa-mps/types.ts
  modules/sdk-lib-mpc/src/tss/eddsa-mps/util.ts
Due: none

refactor(sdk-core): extract common EddsaUtils operations to Base class
  modules/sdk-core/src/bitgo/utils/tss/eddsa/base.ts
  modules/sdk-core/src/bitgo/utils/tss/eddsa/eddsa.ts
Due: none

feat(sdk-coin-algo): add verify transaction function
  modules/sdk-coin-algo/src/algo.ts
  modules/sdk-coin-algo/test/unit/verifyTransaction.ts
Due: none

feat(sdk-core): add automatic signature cleanup for Express TSS signing
  modules/express/src/clientRoutes.ts
  modules/express/test/unit/typedRoutes/walletTxSignTSS.ts
  modules/sdk-core/src/bitgo/wallet/wallet.ts
Due: express

feat: refactoring error handling for transaction verification
  modules/abstract-utxo/src/abstractUtxoCoin.ts
  modules/abstract-utxo/src/transaction/descriptor/verifyTransaction.ts
Due: none

fix: Payment gives NO_ROUTE error on passing the amountMsat
  modules/abstract-lightning/src/wallet/lightning.ts
Due: none

test: removed try-catch and split test into 4 seperate tests
  modules/express/test/unit/clientRoutes/lightning/lightningSignerRoutes.ts
Due: express

feat(sdk-coin-ethlike): enable message signing for baseeth
  modules/account-lib/src/index.ts
  modules/sdk-coin-ethlike/src/ethlikeCoin.ts
Due: account-lib

feat(sdk-coin-near): token enablement transaction validation
  modules/sdk-coin-near/src/near.ts
  modules/sdk-coin-near/test/unit/tokenEnablementValidation.ts
Due: none

refactor: created codec object for better testing and added supertests
  modules/express/src/typedRoutes/api/v2/verifyAddress.ts
  modules/express/test/unit/typedRoutes/verifyAddress.ts
Due: express

test: added supertests to ofcSignPayload
  modules/express/test/unit/typedRoutes/ofcSignPayload.ts
Due: express

feat(sdk-core): add typing on fetch addresses
  modules/abstract-lightning/package.json
  modules/bitgo/package.json
  modules/express/package.json
  modules/sdk-coin-sol/package.json
  modules/sdk-core/package.json
  modules/sdk-core/src/bitgo/wallet/iWallet.ts
  modules/sdk-core/src/bitgo/wallet/wallet.ts
  yarn.lock
Due: bitgo, express

feat(sdk-coin-apt): staking delegate instruction
  examples/ts/apt/stake-apt.ts
  modules/sdk-coin-apt/src/lib/constants.ts
  modules/sdk-coin-apt/src/lib/transaction/delegationPoolAddStakeTransaction.ts
  modules/sdk-coin-apt/src/lib/transaction/transaction.ts
  modules/sdk-coin-apt/src/lib/transactionBuilder/delegationPoolAddStakeTransactionBuilder.ts
  modules/sdk-coin-apt/src/lib/transactionBuilderFactory.ts
  modules/sdk-coin-apt/src/lib/utils.ts
  modules/sdk-coin-apt/test/resources/apt.ts
  modules/sdk-coin-apt/test/unit/apt.ts
  modules/sdk-coin-apt/test/unit/transactionBuilder/delegationPoolAddStakeTransactionBuilder.ts
Due: none

feat: add unsigned sweep logic for vet
  modules/bitgo/test/v2/lib/recovery-nocks.ts
  modules/bitgo/test/v2/unit/recovery.ts
  modules/sdk-coin-vet/src/lib/types.ts
  modules/sdk-coin-vet/src/vet.ts
Due: bitgo

refactor: fix bug in generateWalletOptionsi
  modules/express/src/clientRoutes.ts
  modules/express/src/typedRoutes/schemas/wallet.ts
Due: express

refactor: generateWalletOptions change
  modules/sdk-core/src/bitgo/wallet/iWallets.ts
Due: none

chore: use Keychains and extract commonKeychain verfn
  modules/sdk-coin-dot/test/unit/dot.ts
  modules/sdk-coin-sol/test/unit/sol.ts
  modules/sdk-coin-ton/src/ton.ts
  modules/sdk-core/src/bitgo/baseCoin/iBaseCoin.ts
  modules/sdk-core/src/bitgo/utils/tss/addressVerification.ts
Due: none

feat: add BitGo SDK development CLI tool
  modules/dev-cli/CONFIG.md
  modules/dev-cli/EXAMPLES.md
  modules/dev-cli/GLOBAL_SETUP.md
  modules/dev-cli/QUICKSTART.md
  modules/dev-cli/README.md
  modules/dev-cli/SUMMARY.md
  modules/dev-cli/bin/index.ts
  modules/dev-cli/cli.js
  modules/dev-cli/config.example.json
  modules/dev-cli/env.example
  modules/dev-cli/package.json
  modules/dev-cli/setup.sh
  modules/dev-cli/src/bitgo-client.ts
  modules/dev-cli/src/commands/address.ts
  modules/dev-cli/src/commands/balance.ts
  modules/dev-cli/src/commands/index.ts
  modules/dev-cli/src/commands/lightning.ts
  modules/dev-cli/src/commands/send.ts
  modules/dev-cli/src/commands/transfers.ts
  modules/dev-cli/src/commands/wallet.ts
  modules/dev-cli/src/config.ts
  modules/dev-cli/src/utils.ts
  modules/dev-cli/tsconfig.json
Due: none

feat: add development CLI tool for quick SDK testing
  modules/dev-cli/bin/index.ts
  modules/dev-cli/cli.js
  modules/dev-cli/config.example.json
  modules/dev-cli/env.example
  modules/dev-cli/package.json
  modules/dev-cli/setup.sh
  modules/dev-cli/src/bitgo-client.ts
  modules/dev-cli/src/commands/address.ts
  modules/dev-cli/src/commands/balance.ts
  modules/dev-cli/src/commands/index.ts
  modules/dev-cli/src/commands/lightning.ts
  modules/dev-cli/src/commands/send.ts
  modules/dev-cli/src/commands/transfers.ts
  modules/dev-cli/src/commands/wallet.ts
  modules/dev-cli/src/config.ts
  modules/dev-cli/src/utils.ts
  modules/dev-cli/tsconfig.json
Due: none

test(express): added supertest for pendingapprovals
  modules/express/test/unit/typedRoutes/constructPendingApprovalTx.ts
Due: express

Path conditions:
  bitgo: any of: modules/bitgo
  account-lib: any of: modules/account-lib
  statics: any of: modules/statics
  express: any of: modules/express
