Repository BitGo/BitGoJS: changes, and which Codecov flags are due for each by the changed paths.
All: bitgo, account-lib, statics, express

fix(account-lib): fixed tobroadcastformat method
  modules/account-lib/src/coin/cspr/transaction.ts
  modules/account-lib/src/coin/cspr/transferBuilder.ts
  modules/account-lib/src/coin/cspr/utils.ts
  modules/account-lib/test/unit/coin/cspr/transaction.ts
Due: account-lib

feat(trx account lib): inputs and outputs complement
  modules/account-lib/src/coin/trx/contractCallBuilder.ts
  modules/account-lib/src/coin/trx/iface.ts
  modules/account-lib/src/coin/trx/transaction.ts
  modules/account-lib/src/coin/trx/transactionBuilder.ts
  modules/account-lib/src/coin/trx/wrappedBuilder.ts
  modules/account-lib/test/unit/coin/trx/transactionBuilder/contractCallBuilder.ts
  yarn.lock
Due: account-lib

fix(account-lib): bG-29930 Update and pin hashgraph sdk version
  modules/account-lib/package.json
  yarn.lock
Due: account-lib

testing commit and push on local repo
  modules/account-lib/src/coin/eos/transaction.ts
  modules/account-lib/src/coin/eos/transactionBuilder.ts
Due: account-lib

chore(release): publish modules
  modules/account-lib/package.json
  modules/core/package.json
  modules/express/package-lock.json
  modules/express/package.json
  modules/statics/package.json
Due: bitgo, account-lib, statics, express

set up eos files based on xrp as an example
  modules/account-lib/src/coin/eos/index.ts
  modules/account-lib/src/coin/eos/keyPairs.ts
  modules/account-lib/src/coin/eos/transaction.ts
  modules/account-lib/src/coin/eos/transactionBuilder.ts
  modules/account-lib/src/coin/eos/transactionBuilderFactory.ts
  modules/account-lib/src/coin/eos/transferBuilder.ts
  modules/account-lib/src/coin/eos/utils.ts
  modules/account-lib/src/coin/eos/walletInitializationBuilder.ts
Due: account-lib

style(comments and metadata): fix typo in comments and add @bitgo prefix to package name
  modules/bls-dkg/index.js
  modules/bls-dkg/package.json
Due: none

fix(bls-dkg): add publish config for public package
  modules/bls-dkg/package.json
Due: none

feat(express): log request method and url upon failed request
  modules/express/src/clientRoutes.ts
Due: express

feat(account-lib): sign message and verify sign for casper
  modules/account-lib/package.json
  modules/account-lib/src/coin/cspr/ifaces.ts
  modules/account-lib/src/coin/cspr/utils.ts
  modules/account-lib/test/resources/cspr/cspr.ts
  modules/account-lib/test/unit/coin/cspr/signMessage.ts
  modules/account-lib/test/unit/coin/cspr/transaction.ts
Due: account-lib

fix(account-lib): fix addSignature method of cspr transaction
  modules/account-lib/src/coin/cspr/transaction.ts
  modules/account-lib/src/coin/cspr/transactionBuilder.ts
  modules/account-lib/test/unit/coin/cspr/transactionBuilder/transactionBuilder.ts
Due: account-lib

chore: import @stacks/transactions for the stacks coin
  modules/account-lib/package.json
  yarn.lock
Due: account-lib

feat(account-lib): add stacks coin keypair + utils implementation
  modules/account-lib/src/coin/stacks/iface.ts
  modules/account-lib/src/coin/stacks/index.ts
  modules/account-lib/src/coin/stacks/keyPair.ts
  modules/account-lib/src/coin/stacks/utils.ts
Due: account-lib

test(stacks): add test cases for the keypair and utils code
  modules/account-lib/src/index.ts
  modules/account-lib/test/resources/stacks/stacks.ts
  modules/account-lib/test/unit/coin/stacks/keyPair.ts
  modules/account-lib/test/unit/coin/stacks/util.ts
Due: account-lib

feat(account-lib): add function to remove prefix from signature algorithm
  modules/account-lib/src/coin/cspr/transaction.ts
  modules/account-lib/src/coin/cspr/utils.ts
  modules/account-lib/test/unit/coin/cspr/transactionBuilder/transactionBuilder.ts
Due: account-lib

fix(account-lib): fix processSigning method of cspr transactionBuilder
  modules/account-lib/src/coin/cspr/transactionBuilder.ts
  modules/account-lib/test/unit/coin/cspr/transactionBuilder/transactionBuilder.ts
Due: account-lib

fix(account-lib): fix getTransferId method of cspr utils
  modules/account-lib/src/coin/cspr/transaction.ts
  modules/account-lib/src/coin/cspr/transferBuilder.ts
  modules/account-lib/src/coin/cspr/utils.ts
  modules/account-lib/test/unit/coin/cspr/transaction.ts
  modules/account-lib/test/unit/coin/cspr/transactionBuilder/transferBuilder.ts
Due: account-lib

chore(root): update yarn.lock
  yarn.lock
Due: none

chore(release): publish modules
  modules/account-lib/package.json
  modules/bls-dkg/package.json
  modules/core/package.json
  modules/express/package-lock.json
  modules/express/package.json
Due: bitgo, account-lib, express

feat(account-lib): add transaction type argument
  modules/account-lib/src/coin/cspr/constants.ts
  modules/account-lib/src/coin/cspr/ifaces.ts
  modules/account-lib/src/coin/cspr/transaction.ts
  modules/account-lib/src/coin/cspr/transactionBuilderFactory.ts
  modules/account-lib/src/coin/cspr/transferBuilder.ts
  modules/account-lib/src/coin/cspr/utils.ts
  modules/account-lib/src/coin/cspr/walletInitializationBuilder.ts
  modules/account-lib/test/unit/coin/cspr/transactionBuilder/transactionBuilder.ts
  modules/account-lib/test/unit/coin/cspr/transactionBuilder/transferBuilder.ts
  modules/account-lib/test/unit/coin/cspr/transactionBuilder/walletInitialization.ts
Due: account-lib

feat(core): sign functions for casper
  modules/core/package.json
  modules/core/src/errors.ts
  modules/core/src/v2/coins/cspr.ts
  modules/core/test/v2/unit/coins/cspr.ts
Due: bitgo

feat(eth): build contract call transactions
  modules/account-lib/src/coin/eth/transactionBuilder.ts
  modules/account-lib/src/coin/eth/utils.ts
  modules/account-lib/test/unit/coin/eth/transactionBuilder/contractCall.ts
Due: account-lib

chore(account-lib): update to @stacks/transactions 1.3.0
  modules/account-lib/package.json
  yarn.lock
Due: account-lib

docs(account-lib): update docs in coin/stacks for recordKeysFromPublicKey, isValidTransactionId
  modules/account-lib/src/coin/stacks/keyPair.ts
  modules/account-lib/src/coin/stacks/utils.ts
Due: account-lib

refactor(account-lib): refactor two util functions for coin/stacks
  modules/account-lib/src/coin/stacks/utils.ts
Due: account-lib

feat(account-lib): import blockstack-specific packages
  modules/account-lib/package.json
  yarn.lock
Due: account-lib

feat(account-lib): add stacks coin files
  modules/account-lib/src/coin/stacks/index.ts
  modules/account-lib/src/coin/stacks/keyPair.ts
  modules/account-lib/src/coin/stacks/transaction.ts
  modules/account-lib/src/coin/stacks/transactionBuilder.ts
  modules/account-lib/src/coin/stacks/transactionBuilderFactory.ts
  modules/account-lib/src/coin/stacks/transferBuilder.ts
  modules/account-lib/src/coin/stacks/utils.ts
Due: account-lib

feat(account-lib): add stacks to statics and account-lib base
  modules/account-lib/src/index.ts
  modules/statics/src/base.ts
Due: account-lib, statics

feat(account-lib): add stacks builder skeleton
  modules/account-lib/src/coin/stacks/transaction.ts
  modules/account-lib/src/coin/stacks/transactionBuilder.ts
  modules/account-lib/src/coin/stacks/transactionBuilderFactory.ts
  modules/account-lib/src/coin/stacks/walletInitializationBuilder.ts
Due: account-lib

feat(account-lib): add transaction implementation of stacks
  modules/account-lib/package.json
  modules/account-lib/src/coin/stacks/iface.ts
  modules/account-lib/src/coin/stacks/transaction.ts
  modules/account-lib/src/coin/stacks/transactionBuilder.ts
  modules/account-lib/src/coin/stacks/utils.ts
  yarn.lock
Due: account-lib

feat: add stacks transfer builder
  modules/account-lib/src/coin/stacks/transactionBuilderFactory.ts
  modules/account-lib/src/coin/stacks/transferBuilder.ts
  modules/account-lib/src/coin/stacks/utils.ts
Due: account-lib

test(account-lib): test stacks builder
  modules/account-lib/test/resources/stacks/stacks.ts
  modules/account-lib/test/unit/coin/stacks/transaction.ts
  modules/account-lib/test/unit/coin/stacks/transactionBuilder/transferBuilder.ts
  modules/account-lib/test/unit/coin/stacks/util.ts
Due: account-lib

feat: add log for xpub during tx signing
  modules/core/src/v2/coins/abstractUtxoCoin.ts
  modules/core/test/v2/unit/coins/bch.ts
Due: bitgo

fix: use correct kovan testnet explorer urls
  modules/statics/src/networks.ts
Due: statics

test(ci): test CI runs from fork repos
  README.md
Due: none

Add signed drone manifest
  .drone.yml
Due: none

eos public key test files
  modules/account-lib/src/coin/eos/contractCall.ts
  modules/account-lib/src/coin/eos/iface.ts
  modules/account-lib/src/coin/eos/index.ts
  modules/account-lib/src/coin/eos/keyPair.ts
  modules/account-lib/src/coin/eos/resources.ts
  modules/account-lib/src/coin/eos/tests_for_eos.ts
  modules/account-lib/src/coin/eos/transaction.ts
  modules/account-lib/src/coin/eos/transactionBuilder.ts
  modules/account-lib/src/coin/eos/transferBuilder.ts
  modules/account-lib/src/coin/eos/types.ts
  modules/account-lib/src/coin/eos/utils.ts
  modules/account-lib/src/coin/eos/walletUtil.ts
Due: account-lib

deleted commented out code
  modules/account-lib/src/coin/eos/keyPair.ts
Due: account-lib

ci: fix ci scripts to work for PR events
  package.json
Due: none

fix(ci): add signature to .drone.yml when it gets regenerated from the .drone.jsonnet
  .drone.yml
  package.json
Due: none

Path conditions:
  bitgo: any of: modules/core
  account-lib: any of: modules/account-lib
  statics: any of: modules/statics
  express: any of: modules/express
