Repository BitGo/BitGoJS: changes, and which Codecov flags are due for each by the changed paths.
All: bitgo, account-lib, statics, express

.codecov.yml:

coverage:
  status:
    project: off
    patch: off
comment:
  layout: 'diff, flags, files'
  require_changes: true
flags:
  bitgo:
    paths:
      - modules/bitgo
  account-lib:
    paths:
      - modules/account-lib
  statics:
    paths:
      - modules/statics
  express:
    paths:
      - modules/express

docs: add git workflow rules to CLAUDE.md
  CLAUDE.md
Due: none

feat(statics): add detected_extension_type_names to AmsTokenConfig
  modules/statics/src/tokenConfig.ts
Due: statics

fix(sdk-api): route browser v1 decrypt straight to SJCL
  docs/sjcl-replacement.md
  modules/sdk-api/package.json
  modules/sdk-api/src/decryptV1.ts
  modules/sdk-api/src/encrypt.ts
  modules/sdk-api/test/unit/decryptV1.browser.ts
  modules/web-demo/src/components/BitGoAPI/decrypt.spec.tsx
Due: none

feat: derive ecdsaMpc child keys for Safe recovery
  modules/sdk-core/src/bitgo/safe/recovery.ts
  modules/sdk-core/test/unit/bitgo/safe/recovery.ts
  modules/sdk-lib-mpc/src/tss/dkls-vrf/util.ts
  modules/sdk-lib-mpc/src/tss/ecdsa-dkls/dkg.ts
  modules/sdk-lib-mpc/src/tss/ecdsa-dkls/types.ts
  modules/sdk-lib-mpc/test/unit/tss/dkls-vrf/buildSafeMpcDerivePath.ts
  modules/sdk-lib-mpc/test/unit/tss/dkls-vrf/deriveSafeEcdsaMpcChild.ts
Due: none

fix(express): satisfy OpenAPI spec-quality lints on typedRoutes docs
  modules/express/src/typedRoutes/api/v1/decrypt.ts
  modules/express/src/typedRoutes/api/v1/encrypt.ts
  modules/express/src/typedRoutes/api/v2/generateWallet.ts
  modules/express/src/typedRoutes/api/v2/verifyKey.ts
  modules/express/src/typedRoutes/api/v2/walletSweep.ts
Due: express

feat: onboaring tokens for CECHO-2426-1005 batch
  modules/statics/src/allCoinsAndTokens.ts
  modules/statics/src/base.ts
  modules/statics/src/coins/hoodethTokens.ts
  modules/statics/src/coins/ofcCoins.ts
  modules/statics/src/coins/ofcErc20Coins.ts
  modules/statics/src/coins/ofcHoodethTokens.ts
  modules/statics/src/coins/polygonTokens.ts
Due: statics

fix(sdk-coin-sol): set tx type on v1 parse
  modules/sdk-coin-sol/src/lib/v1TransactionBuilder.ts
Due: none

feat(sdk-core): surface pendingApprovalId from TSS message signing
  modules/bitgo/test/v2/unit/wallet.ts
  modules/sdk-coin-xdc/src/lib/xdcKycMessage.ts
  modules/sdk-coin-xdc/test/unit/xdcKycMessage.ts
  modules/sdk-core/src/bitgo/baseCoin/iBaseCoin.ts
  modules/sdk-core/src/bitgo/wallet/iWallet.ts
  modules/sdk-core/src/bitgo/wallet/wallet.ts
Due: bitgo

feat(sdk-core): add SOL consolidation mode
  modules/bitgo/test/v2/unit/accountConsolidations.ts
  modules/express/src/typedRoutes/api/v2/consolidateAccount.ts
  modules/express/test/unit/clientRoutes/consolidateAccount.ts
  modules/express/test/unit/typedRoutes/consolidateAccount.ts
  modules/sdk-core/src/bitgo/wallet/iWallet.ts
  modules/sdk-core/src/bitgo/wallet/wallet.ts
Due: bitgo, express

feat(sdk-core): add createOfflineKeyGenRound2Share to EddsaMPCv2Utils
  modules/sdk-core/src/bitgo/utils/tss/eddsa/eddsaMPCv2.ts
  modules/sdk-core/test/unit/bitgo/utils/tss/eddsa/eddsaMPCv2.ts
  modules/sdk-lib-mpc/src/tss/eddsa-mps/dkg.ts
  modules/sdk-lib-mpc/test/unit/tss/eddsa/dkg.ts
Due: none

feat(sdk-core): add createOfflineKeyGenFinalizeShare to EddsaMPCv2Utils
  modules/sdk-core/src/bitgo/utils/tss/eddsa/eddsaMPCv2.ts
  modules/sdk-core/test/unit/bitgo/utils/tss/eddsa/eddsaMPCv2.ts
Due: none

fix(sdk-coin-sol): read sponsored fee payer from tx params
  modules/sdk-coin-sol/src/sol.ts
  modules/sdk-coin-sol/test/unit/sol.ts
Due: none

fix(sdk-coin-sol): reject ALT-loaded fee payers
  modules/express/src/typedRoutes/api/v2/prebuildAndSignTransaction.ts
  modules/sdk-coin-sol/src/lib/customInstructionBuilder.ts
  modules/sdk-coin-sol/src/lib/iface.ts
  modules/sdk-coin-sol/test/unit/transactionBuilder/customInstructionBuilder.ts
  modules/sdk-core/src/bitgo/utils/tss/baseTypes.ts
  modules/sdk-core/src/bitgo/wallet/iWallet.ts
Due: express

feat(sdk-core): wire eddsaMPCv2Callbacks into generateWalletWithExternalSigner
  modules/sdk-core/src/bitgo/wallet/iWallets.ts
  modules/sdk-core/src/bitgo/wallet/wallets.ts
  modules/sdk-core/test/unit/bitgo/wallet/walletsExternalSigner.ts
Due: none

feat(sdk-coin-sol): add V1CustomInstructionBuilder for WP v1
  modules/sdk-coin-sol/src/lib/index.ts
  modules/sdk-coin-sol/src/lib/transactionBuilderFactory.ts
  modules/sdk-coin-sol/src/lib/v1CustomInstructionBuilder.ts
  modules/sdk-coin-sol/test/unit/transactionBuilder/v1TransactionBuilder.ts
Due: none

test(sdk-api): pin v1-leg password rotation behavior (WCN-2640)
  modules/sdk-api/test/unit/bitgoAPI.ts
  modules/sdk-api/test/unit/v1/keychains.ts
Due: none

feat: fail closed with typed RecoveryKeyMismatchError when recovery keys miss on-chain signers
  modules/abstract-eth/src/abstractEthLikeNewCoins.ts
  modules/abstract-eth/src/ethLikeToken.ts
  modules/sdk-coin-algo/src/algo.ts
  modules/sdk-coin-algo/test/unit/algo.ts
  modules/sdk-coin-arbeth/test/fixtures/arbeth.ts
  modules/sdk-coin-arbeth/test/unit/arbeth.ts
  modules/sdk-coin-arbeth/test/unit/arbethToken.ts
  modules/sdk-coin-eos/src/eos.ts
  modules/sdk-coin-eos/test/unit/eos.ts
  modules/sdk-coin-eth/src/eth.ts
  modules/sdk-coin-eth/test/fixtures/eth.ts
  modules/sdk-coin-eth/test/unit/eth.ts
  modules/sdk-coin-ethlike/test/fixtures/ethlikeCoin.ts
  modules/sdk-coin-ethlike/test/unit/ethlikeCoin.ts
  modules/sdk-coin-ethw/src/ethw.ts
  modules/sdk-coin-ethw/test/lib/recovery-nocks.ts
  modules/sdk-coin-ethw/test/unit/index.ts
  modules/sdk-coin-hbar/package.json
  modules/sdk-coin-hbar/src/hbar.ts
  modules/sdk-coin-hbar/test/unit/hbar.ts
  modules/sdk-coin-opeth/test/fixtures/opeth.ts
  modules/sdk-coin-opeth/test/unit/opeth.ts
  modules/sdk-coin-polygon/test/fixtures/polygon.ts
  modules/sdk-coin-polygon/test/unit/polygon.ts
  modules/sdk-coin-sgb/test/unit/sgb.ts
  modules/sdk-coin-xlm/src/xlm.ts
  modules/sdk-coin-xlm/test/unit/xlm.ts
  modules/sdk-coin-xrp/src/xrp.ts
  modules/sdk-coin-xrp/test/unit/xrp.ts
  modules/sdk-coin-zketh/test/fixtures/zketh.ts
  modules/sdk-coin-zketh/test/unit/zketh.ts
  modules/sdk-core/src/bitgo/errors.ts
  modules/sdk-core/test/unit/bitgo/errors.ts
Due: none

fix(deps): bump high CVE dependency
  package.json
  yarn.lock
Due: none

feat(sdk-coin-sol): v1 envelope surface for WP
  modules/sdk-coin-sol/src/lib/index.ts
  modules/sdk-coin-sol/src/lib/v1TransactionBuilder.ts
  modules/sdk-coin-sol/test/unit/transactionBuilder/v1TransactionBuilder.ts
Due: none

feat(sdk-coin-xlm): verify and explain lowThreshold on accountConfig
  modules/sdk-coin-xlm/src/xlm.ts
  modules/sdk-coin-xlm/test/unit/xlm.ts
Due: none

feat: refresh known tokens via identity-guarded CoinMap.replace
  modules/statics/src/coins.ts
  modules/statics/src/errors.ts
  modules/statics/src/map.ts
  modules/statics/test/unit/coins.ts
Due: statics

fix(sdk-coin-xlm): reject unsupported setOptions fields on accountConfig
  modules/sdk-coin-xlm/src/xlm.ts
  modules/sdk-coin-xlm/test/unit/xlm.ts
Due: none

feat: honest empty vs provider-failed in recover()
  modules/abstract-eth/src/abstractEthLikeNewCoins.ts
  modules/abstract-eth/src/ethLikeToken.ts
  modules/abstract-eth/src/lib/utils.ts
  modules/abstract-utxo/src/recovery/RecoveryProvider.ts
  modules/abstract-utxo/test/unit/recovery/backupKeyRecoveryUnspentGathering.ts
  modules/sdk-coin-avaxc/src/avaxc.ts
  modules/sdk-coin-avaxc/test/unit/avaxc.ts
  modules/sdk-coin-coredao/package.json
  modules/sdk-coin-coredao/src/coredao.ts
  modules/sdk-coin-coredao/test/unit/coredao.ts
  modules/sdk-coin-eos/src/eos.ts
  modules/sdk-coin-eos/test/unit/eos.ts
  modules/sdk-coin-etc/src/etc.ts
  modules/sdk-coin-etc/test/unit/etc.ts
  modules/sdk-coin-eth/package.json
  modules/sdk-coin-eth/src/erc20Token.ts
  modules/sdk-coin-eth/src/erc721Token.ts
  modules/sdk-coin-eth/src/erc7984Token.ts
  modules/sdk-coin-eth/src/eth.ts
  modules/sdk-coin-eth/test/unit/eth.ts
  modules/sdk-coin-iota/src/iota.ts
  modules/sdk-coin-iota/test/unit/iota.ts
  modules/sdk-coin-sol/src/sol.ts
  modules/sdk-coin-sol/test/unit/sol.ts
  modules/sdk-coin-xlm/src/xlm.ts
  modules/sdk-coin-xlm/test/unit/xlm.ts
  modules/sdk-core/src/bitgo/errors.ts
Due: none

feat(sdk-core): sign EdDSA safe MPS VRF keygen messages like the HSM
  modules/abstract-lightning/package.json
  modules/bitgo/package.json
  modules/express/package.json
  modules/passkey-crypto/package.json
  modules/sdk-coin-flrp/package.json
  modules/sdk-coin-sol/package.json
  modules/sdk-core/package.json
  modules/sdk-core/src/bitgo/utils/tss/eddsa/eddsaVrfMPCv2.ts
  modules/sdk-core/src/bitgo/utils/tss/eddsa/typesEddsaMPCv2.ts
  modules/sdk-core/test/unit/bitgo/utils/tss/eddsa/eddsaVrfMPCv2.ts
  modules/sdk-lib-safes/package.json
  yarn.lock
Due: bitgo, express

feat: add slot-4 EdDSA MPC Safe recovery derivation
  modules/sdk-core/src/bitgo/safe/recovery.ts
  modules/sdk-core/test/unit/bitgo/safe/recovery.ts
  modules/sdk-lib-mpc/src/tss/eddsa-mps-vrf/util.ts
  modules/sdk-lib-mpc/test/unit/tss/eddsa-mps-vrf/deriveSafeEddsaMpcChild.ts
Due: none
