Repository BitGo/BitGoJS: changes, and which Codecov flags are due for each by the changed paths.
All: bitgo, account-lib, statics, express

.codecov.yml:

coverage:
  status:
    project: off
    patch: off
comment:
  layout: 'diff, flags, files'
  require_changes: true
flags:
  bitgo:
    paths:
      - modules/bitgo
  account-lib:
    paths:
      - modules/account-lib
  statics:
    paths:
      - modules/statics
  express:
    paths:
      - modules/express

feat(sdk-coin-dot): integrate the Westend AssetHub chain for tdot
  modules/sdk-coin-dot/src/lib/txnSchema.ts
  modules/sdk-coin-dot/src/lib/utils.ts
  modules/sdk-coin-dot/src/resources/index.ts
  modules/sdk-coin-dot/src/resources/westendAssetHub.ts
  modules/sdk-coin-dot/test/resources/assetHubMaterialData.json
  modules/sdk-coin-dot/test/resources/index.ts
  modules/sdk-coin-dot/test/unit/dot.ts
  modules/sdk-coin-dot/test/unit/transaction.ts
  modules/sdk-coin-dot/test/unit/transactionBuilder/addressInitializationBuilder.ts
  modules/sdk-coin-dot/test/unit/transactionBuilder/base.ts
  modules/sdk-coin-dot/test/unit/transactionBuilder/batchTransactionBuilder.ts
  modules/sdk-coin-dot/test/unit/transactionBuilder/claimBuilder.ts
  modules/sdk-coin-dot/test/unit/transactionBuilder/proxyBuilder.ts
  modules/sdk-coin-dot/test/unit/transactionBuilder/singeltonRegistry.ts
  modules/sdk-coin-dot/test/unit/transactionBuilder/stakingBuilder.ts
  modules/sdk-coin-dot/test/unit/transactionBuilder/transactionBuilderFactory.ts
  modules/sdk-coin-dot/test/unit/transactionBuilder/transferBuilder.ts
  modules/sdk-coin-dot/test/unit/transactionBuilder/unnominateBuilder.ts
  modules/sdk-coin-dot/test/unit/transactionBuilder/unstakeBuilder.ts
  modules/sdk-coin-dot/test/unit/transactionBuilder/withdrawUnstakedBuilder.ts
  modules/sdk-coin-dot/test/unit/utils.ts
  modules/sdk-coin-dot/tsconfig.json
  modules/sdk-core/src/bitgo/environments.ts
  modules/statics/src/networks.ts
Due: statics

feat(statics): add Hoodi testnet NFT token configuration
  modules/statics/src/allCoinsAndTokens.ts
  modules/statics/src/coins.ts
Due: statics

feat: added statics config for KavaEVM
  modules/sdk-core/src/bitgo/environments.ts
  modules/statics/src/allCoinsAndTokens.ts
  modules/statics/src/base.ts
  modules/statics/src/coinFeatures.ts
  modules/statics/src/networks.ts
  modules/statics/test/unit/fixtures/expectedColdFeatures.ts
Due: statics

Revert "feat(dot): integrate the Westend AssetHub chain for tdot"
  modules/sdk-coin-dot/src/lib/txnSchema.ts
  modules/sdk-coin-dot/src/lib/utils.ts
  modules/sdk-coin-dot/src/resources/index.ts
  modules/sdk-coin-dot/src/resources/westendAssetHub.ts
  modules/sdk-coin-dot/test/resources/assetHubMaterialData.json
  modules/sdk-coin-dot/test/resources/index.ts
  modules/sdk-coin-dot/test/unit/dot.ts
  modules/sdk-coin-dot/test/unit/transaction.ts
  modules/sdk-coin-dot/test/unit/transactionBuilder/addressInitializationBuilder.ts
  modules/sdk-coin-dot/test/unit/transactionBuilder/base.ts
  modules/sdk-coin-dot/test/unit/transactionBuilder/batchTransactionBuilder.ts
  modules/sdk-coin-dot/test/unit/transactionBuilder/claimBuilder.ts
  modules/sdk-coin-dot/test/unit/transactionBuilder/proxyBuilder.ts
  modules/sdk-coin-dot/test/unit/transactionBuilder/singeltonRegistry.ts
  modules/sdk-coin-dot/test/unit/transactionBuilder/stakingBuilder.ts
  modules/sdk-coin-dot/test/unit/transactionBuilder/transactionBuilderFactory.ts
  modules/sdk-coin-dot/test/unit/transactionBuilder/transferBuilder.ts
  modules/sdk-coin-dot/test/unit/transactionBuilder/unnominateBuilder.ts
  modules/sdk-coin-dot/test/unit/transactionBuilder/unstakeBuilder.ts
  modules/sdk-coin-dot/test/unit/transactionBuilder/withdrawUnstakedBuilder.ts
  modules/sdk-coin-dot/test/unit/utils.ts
  modules/sdk-coin-dot/tsconfig.json
  modules/sdk-core/src/bitgo/environments.ts
  modules/statics/src/networks.ts
Due: statics

feat(sdk-core): evm keyring wallet and address creation api chnages
  modules/sdk-core/src/bitgo/baseCoin/iBaseCoin.ts
  modules/sdk-core/src/bitgo/evm/evmUtils.ts
  modules/sdk-core/src/bitgo/wallet/iWallet.ts
  modules/sdk-core/src/bitgo/wallet/iWallets.ts
  modules/sdk-core/src/bitgo/wallet/wallet.ts
  modules/sdk-core/src/bitgo/wallet/wallets.ts
  modules/sdk-core/test/unit/bitgo/wallet/walletEvmAddressCreation.ts
  modules/sdk-core/test/unit/bitgo/wallet/walletsEvmKeyring.ts
Due: none

feat(abstract-eth): add flush token support for ERC721 and ERC1155
  modules/abstract-eth/src/lib/transactionBuilder.ts
  modules/abstract-eth/src/lib/utils.ts
  modules/abstract-eth/src/lib/walletUtil.ts
  modules/abstract-eth/test/unit/transactionBuilder/flushNft.ts
  modules/abstract-eth/test/unit/transactionBuilder/index.ts
  modules/abstract-eth/test/unit/utils.ts
  modules/sdk-coin-eth/test/resources/eth.ts
  modules/sdk-coin-eth/test/unit/transactionBuilder/flushTokens.ts
  modules/sdk-coin-polygon/test/unit/transactionBuilder/flushTokens.ts
  modules/sdk-coin-soneium/test/unit/transactionBuilder/flushTokens.ts
  modules/sdk-core/src/account-lib/baseCoin/enum.ts
Due: none

chore(root): release express
  Dockerfile
Due: none

fix(sdk-coin-ada): verify consolidation txHex
  modules/sdk-coin-ada/src/ada.ts
  modules/sdk-coin-ada/test/unit/ada.ts
Due: none

feat(sdk-coin-flrp): added keypair and utils
  modules/express/test/unit/clientRoutes/externalSign.ts
  modules/sdk-coin-flrp/.eslintignore
  modules/sdk-coin-flrp/.eslintrc.json
  modules/sdk-coin-flrp/.gitignore
  modules/sdk-coin-flrp/.mocharc.yml
  modules/sdk-coin-flrp/.npmignore
  modules/sdk-coin-flrp/.prettierignore
  modules/sdk-coin-flrp/.prettierrc.yml
  modules/sdk-coin-flrp/CHANGELOG.md
  modules/sdk-coin-flrp/package.json
  modules/sdk-coin-flrp/src/flrp.ts
  modules/sdk-coin-flrp/src/iface.ts
  modules/sdk-coin-flrp/src/index.ts
  modules/sdk-coin-flrp/src/lib/constants.ts
  modules/sdk-coin-flrp/src/lib/errors.ts
  modules/sdk-coin-flrp/src/lib/iface.ts
  modules/sdk-coin-flrp/src/lib/index.ts
  modules/sdk-coin-flrp/src/lib/keyPair.ts
  modules/sdk-coin-flrp/src/lib/utils.ts
  modules/sdk-coin-flrp/src/register.ts
  modules/sdk-coin-flrp/src/tflrp.ts
  modules/sdk-coin-flrp/test/unit/flrp.ts
  modules/sdk-coin-flrp/test/unit/smoke.ts
  modules/sdk-coin-flrp/tsconfig.json
  modules/utxo-core/.prettierignore
  yarn.lock
Due: express

fix(sdk-coin-sol): create broadcast tx for 2022 token
  modules/sdk-coin-sol/src/lib/tokenTransferBuilder.ts
  modules/sdk-coin-sol/test/fixtures/sol.ts
  modules/sdk-coin-sol/test/unit/sol.ts
Due: none

fix(sdk-coin-sol): recover consolidation for sol 2022 token
  modules/sdk-coin-sol/src/sol.ts
Due: none

fix: failing vechain tests
  modules/sdk-coin-vet/src/lib/constants.ts
  modules/sdk-coin-vet/src/lib/transaction/burnNftTransaction.ts
  modules/sdk-coin-vet/src/lib/transaction/exitDelegation.ts
  modules/sdk-coin-vet/src/lib/transactionBuilder/exitDelegationBuilder.ts
  modules/sdk-coin-vet/test/transactionBuilder/burnNftBuilder.ts
  modules/sdk-coin-vet/test/transactionBuilder/exitDelegationBuilder.ts
Due: none

fix(abstract-eth): follow up updates from PR 6882
  modules/abstract-eth/src/lib/transactionBuilder.ts
  modules/abstract-eth/src/lib/utils.ts
  modules/abstract-eth/test/unit/utils.ts
  modules/sdk-coin-eth/test/resources/eth.ts
Due: none

feat: skeleton export tx builder for p chain
  modules/sdk-coin-flrp/src/lib/atomicTransactionBuilder.ts
  modules/sdk-coin-flrp/src/lib/exportTxBuilder.ts
Due: none

chore: fix tests
  modules/sdk-core/test/unit/account-lib/mpc/tss/ecdsa/ecdsa.ts
Due: none

fix(sdk-core): override timeout for before()
  modules/sdk-core/test/unit/account-lib/mpc/tss/ecdsa/ecdsa.ts
Due: none

feat: enable smart contract calls aptos
  modules/bitgo/test/v2/unit/wallet.ts
  modules/sdk-coin-apt/src/apt.ts
  modules/sdk-coin-apt/src/lib/iface.ts
  modules/sdk-coin-apt/src/lib/index.ts
  modules/sdk-coin-apt/src/lib/transaction/customTransaction.ts
  modules/sdk-coin-apt/src/lib/transactionBuilder/customTransactionBuilder.ts
  modules/sdk-coin-apt/src/lib/transactionBuilderFactory.ts
  modules/sdk-coin-apt/src/lib/utils.ts
  modules/sdk-coin-apt/test/unit/transactionBuilder/customTransactionBuilder.ts
  modules/sdk-core/src/bitgo/utils/mpcUtils.ts
  modules/sdk-core/src/bitgo/utils/tss/baseTypes.ts
  modules/sdk-core/src/bitgo/wallet/BuildParams.ts
  modules/sdk-core/src/bitgo/wallet/iWallet.ts
  modules/sdk-core/src/bitgo/wallet/wallet.ts
Due: bitgo

fix(sdk-coin-flrp): fix build due to dependency conflict
  modules/sdk-coin-flrp/package.json
  modules/sdk-coin-flrp/test/unit/flrp.ts
Due: none

feat(sdk-coin-sol): prevent blind signing sol token enablement
  examples/ts/blind-signing/sol-token-enablements.ts
  modules/sdk-coin-sol/src/sol.ts
  modules/sdk-coin-sol/test/unit/sol.ts
Due: none

fix(sdk-coin-sol): remove output for jito staking activate
  modules/sdk-coin-sol/src/lib/transaction.ts
  modules/sdk-coin-sol/test/unit/transactionBuilder/stakingActivateBuilder.ts
Due: none

feat: skeleton export tx builder for p chain
  modules/sdk-coin-flrp/package.json
  modules/sdk-coin-flrp/src/lib/atomicTransactionBuilder.ts
  modules/sdk-coin-flrp/src/lib/exportTxBuilder.ts
Due: none

feat(statics): add GATENet (GATE) ERC20 token
  modules/statics/src/coins/erc20Coins.ts
  modules/statics/src/coins/ofcErc20Coins.ts
Due: statics

feat: added fundpsbtrequest codec
  modules/abstract-lightning/src/codecs/api/withdraw.ts
Due: none

feat: bumped public types
  modules/abstract-lightning/package.json
  modules/bitgo/package.json
  modules/express/package.json
  modules/sdk-core/package.json
  yarn.lock
Due: bitgo, express

feat: import onchain withdraw from public types
  modules/abstract-lightning/src/codecs/api/withdraw.ts
Due: none

feat(sdk-core): add signer address in signMessage intent
  modules/sdk-core/src/bitgo/baseCoin/iBaseCoin.ts
  modules/sdk-core/src/bitgo/utils/tss/baseTSSUtils.ts
  modules/sdk-core/src/bitgo/utils/tss/baseTypes.ts
  modules/sdk-core/src/bitgo/wallet/wallet.ts
Due: none

feat: (skeleton) export in c chain
  modules/sdk-coin-flrp/src/lib/atomicInCTransactionBuilder.ts
  modules/sdk-coin-flrp/src/lib/atomicTransactionBuilder.ts
  modules/sdk-coin-flrp/src/lib/exportInCTxBuilder.ts
Due: none

fix: mapping LA to LATOKEN
  modules/statics/src/base.ts
  modules/statics/src/coins/erc20Coins.ts
  modules/statics/src/coins/ofcErc20Coins.ts
Due: statics

chore: update mainnet rpc url for plasma
  modules/sdk-core/src/bitgo/environments.ts
Due: none

fix: export burn, exit delegation txns for vechain
  modules/sdk-coin-vet/src/lib/index.ts
Due: none

fix: removed fund psbt request codec
  modules/abstract-lightning/src/codecs/api/withdraw.ts
Due: none

feat: added ondo tokens (phase2)
  modules/statics/src/base.ts
  modules/statics/src/coins/erc20Coins.ts
  modules/statics/src/coins/ofcErc20Coins.ts
Due: statics

chore: update codeonwers of lockfile
  CODEOWNERS
Due: none

chore: rename export txn builder
  modules/sdk-coin-flrp/src/lib/exportInPTxBuilder.ts
Due: none

feat: upgrade the express version
  modules/express/package.json
  yarn.lock
Due: express

feat: add signer address in sign-message implementation
  modules/sdk-core/src/bitgo/wallet/wallet.ts
Due: none

fix(express): express version update upgraded expess version to fix redirect vulnerability issue Ticket: DX-1553
  modules/express/package.json
  yarn.lock
Due: express

test: token naming convention for polygon
  modules/statics/test/unit/tokenNamingConvention.ts
Due: statics

chore: export token transfer builder
  modules/sdk-coin-tao/src/lib/index.ts
Due: none
