Repository BitGo/BitGoJS: changes, and which Codecov flags are due for each by the changed paths.
All: bitgo, account-lib, statics, express

feat: exclude CVE related to esbuild's Deno distribution for Node.js project
  .iyarc
Due: none

feat(sdk-core): add getEddsaMPCv2RecoveryKeyShares helper
  modules/sdk-core/src/bitgo/utils/tss/eddsa/eddsaMPCv2.ts
  modules/sdk-core/test/unit/bitgo/utils/tss/eddsa/eddsaMPCv2.ts
Due: none

feat(statics): add Neo X EVM chain (gasevm/tgasevm)
  modules/sdk-core/src/bitgo/environments.ts
  modules/statics/src/allCoinsAndTokens.ts
  modules/statics/src/base.ts
  modules/statics/src/networkFeatureMapForTokens.ts
  modules/statics/src/networks.ts
  modules/statics/test/unit/fixtures/expectedColdFeatures.ts
Due: statics

feat(sdk-core): add signRecoveryMpcV2 for EdDSA MPCv2 offline signing
  modules/sdk-core/src/bitgo/utils/tss/eddsa/eddsaMPCv2.ts
  modules/sdk-core/test/unit/bitgo/utils/tss/eddsa/eddsaMPCv2.ts
Due: none

fix(sdk-coin-sol): skip checking recipients in case of ATA tx TICKET: CHALO-624
  modules/sdk-coin-sol/src/sol.ts
Due: none

feat(express): add POST /api/v2/:coin/address/derive endpoint
  modules/express/src/clientRoutes.ts
  modules/express/src/typedRoutes/api/index.ts
  modules/express/src/typedRoutes/api/v2/deriveAddress.ts
  modules/express/test/unit/typedRoutes/deriveAddress.ts
Due: express

feat(sdk-core): add getEddsaMPCv2RecoveryKeyShares helper
  modules/sdk-core/src/bitgo/utils/tss/eddsa/eddsaMPCv2.ts
  modules/sdk-core/src/bitgo/utils/tss/eddsa/types.ts
  modules/sdk-core/test/unit/bitgo/utils/tss/eddsa/eddsaMPCv2.ts
Due: none

feat: add exclusions for new CVEs affecting dependencies and clarify usage context
  .iyarc
Due: none

feat(sdk-api): pass recipient addresses to v1 billing fee endpoint
  modules/sdk-api/src/v1/transactionBuilder.ts
  modules/sdk-api/src/v1/wallet.ts
  modules/sdk-api/test/unit/v1/wallet.ts
Due: none

feat(statics): onboard GoUSD and SCAASACME tokens
  modules/sdk-coin-tempo/test/resources/tempo.ts
  modules/statics/src/allCoinsAndTokens.ts
  modules/statics/src/base.ts
  modules/statics/src/coins/bscTokens.ts
  modules/statics/src/coins/erc20Coins.ts
  modules/statics/src/coins/ofcCoins.ts
  modules/statics/src/coins/ofcErc20Coins.ts
  modules/statics/src/coins/solTokens.ts
  modules/statics/test/unit/tokenNamingConvention.ts
Due: statics

test(express): add end-to-end tests for address/derive endpoint
  modules/express/test/unit/typedRoutes/deriveAddressE2e.ts
Due: express

docs(express): document the address/derive endpoint and trust model
  modules/express/src/typedRoutes/api/v2/deriveAddress.ts
Due: express

feat: added bitgojs details for the arc mainnet
  modules/sdk-core/src/bitgo/environments.ts
  modules/statics/src/map.ts
  modules/statics/src/networks.ts
Due: statics

fix(express): fix sfw flake and reduce Docker build context
  .dockerignore
  Dockerfile
Due: none

chore(root): track sfw version in Dockerfile via Renovate
  .github/renovate.json
Due: none

fix(sdk-coin-polyx): encode memo as UTF-8 bytes right-padded with null bytes
  modules/sdk-coin-polyx/src/lib/tokenTransferBuilder.ts
  modules/sdk-coin-polyx/src/lib/transferBuilder.ts
  modules/sdk-coin-polyx/test/unit/transactionBuilder/tokenTransferBuilder.ts
Due: none

feat(sdk-coin-polyx): add HexTransferBuilder for NEW Polymesh memo encoding (CECHO-1370)
  modules/sdk-coin-polyx/src/lib/constants.ts
  modules/sdk-coin-polyx/src/lib/hexTransferBuilder.ts
  modules/sdk-coin-polyx/src/lib/index.ts
  modules/sdk-coin-polyx/src/lib/transactionBuilderFactory.ts
  modules/sdk-coin-polyx/src/lib/utils.ts
  modules/sdk-coin-polyx/src/polyx.ts
  modules/sdk-coin-polyx/test/unit/transactionBuilder/hexTransferBuilder.ts
Due: none

feat(sdk-coin-sol): add MPCv2 signed recovery to Sol.recover()
  modules/sdk-coin-sol/src/sol.ts
  modules/sdk-coin-sol/test/unit/sol.ts
  modules/sdk-core/src/bitgo/utils/tss/eddsa/eddsaMPCv2.ts
Due: none

fix(sdk-coin-sui): eliminate Number() precision loss on amounts > MAX_SAFE_INTEGER
  modules/sdk-coin-sui/src/lib/customTransaction.ts
  modules/sdk-coin-sui/src/lib/iface.ts
  modules/sdk-coin-sui/src/lib/stakingBuilder.ts
  modules/sdk-coin-sui/src/lib/stakingTransaction.ts
  modules/sdk-coin-sui/src/lib/unstakingBuilder.ts
  modules/sdk-coin-sui/src/lib/utils.ts
  modules/sdk-coin-sui/src/lib/walrusStakingBuilder.ts
  modules/sdk-coin-sui/src/lib/walrusStakingTransaction.ts
  modules/sdk-coin-sui/src/lib/walrusWithdrawStakeBuilder.ts
  modules/sdk-coin-sui/test/unit/transactionBuilder/stakingBuilder.ts
  modules/sdk-coin-sui/test/unit/transactionBuilder/unstakingBuilder.ts
  modules/sdk-coin-sui/test/unit/transactionBuilder/walrusStakingBuilder.ts
  modules/sdk-coin-sui/test/unit/transactionBuilder/walrusWithdrawBuilder.ts
Due: none

feat(sdk-coin-starknet): add requiresWalletInitializationTransaction override
  modules/sdk-coin-starknet/src/starknet.ts
Due: none

feat(abstract-eth): derive legacy multisig forwarder addresses (v1/v2/v4)
  modules/abstract-eth/src/abstractEthLikeNewCoins.ts
  modules/express/src/typedRoutes/api/v2/deriveAddress.ts
  modules/express/test/unit/typedRoutes/deriveAddress.ts
  modules/sdk-coin-eth/test/unit/eth.ts
  modules/sdk-core/src/bitgo/baseCoin/iBaseCoin.ts
Due: express

ci(root): add path filters to skip irrelevant jobs per PR
  .github/workflows/ci.yml
Due: none

ci(root): add all-checks umbrella job for branch protection
  .github/workflows/ci.yml
Due: none

feat(sdk-core): add PolyxSwitchValidatorOptions for multi-nomination switch
  modules/sdk-core/src/bitgo/staking/iStakingWallet.ts
  modules/sdk-core/src/bitgo/staking/stakingWallet.ts
Due: none

feat(sdk-coin-starknet): handle 0x-prefixed signableHex in verifyTransaction
  modules/sdk-coin-starknet/src/starknet.ts
  modules/sdk-coin-starknet/test/unit/starknet.ts
Due: none

feat(statics): onboard Canton testnet tokens Add 81 tcanton token definitions and UnderlyingAsset entries for Canton testnet onboarding. Ticket: CHALO-632
  modules/statics/src/base.ts
  modules/statics/src/coins/cantonTokens.ts
Due: statics

fix(abstract-eth): allow defi TSS tx verification
  modules/abstract-eth/src/abstractEthLikeNewCoins.ts
  modules/sdk-coin-eth/test/unit/eth.ts
Due: none

feat(sdk-coin-polyx): add HexTokenTransferBuilder for NEW token memo encoding (CECHO-1381)
  modules/sdk-coin-polyx/src/lib/hexTokenTransferBuilder.ts
  modules/sdk-coin-polyx/src/lib/index.ts
  modules/sdk-coin-polyx/src/lib/transactionBuilderFactory.ts
  modules/sdk-coin-polyx/test/unit/transactionBuilder/hexTokenTransferBuilder.ts
Due: none

feat(sdk-coin-sol): add MPCv2 signed recovery to Sol.recover()
  modules/sdk-coin-sol/src/sol.ts
  modules/sdk-coin-sol/test/unit/sol.ts
  modules/sdk-core/src/bitgo/utils/tss/eddsa/eddsaMPCv2.ts
  modules/sdk-core/test/unit/bitgo/utils/tss/eddsa/eddsaMPCv2.ts
Due: none

fix(sdk-core): enforce recipient verification in ECDSA TSS signing Ticket: WCN-151
  modules/abstract-eth/src/abstractEthLikeNewCoins.ts
  modules/sdk-coin-bsc/src/bsc.ts
  modules/sdk-coin-bsc/src/bscToken.ts
  modules/sdk-coin-evm/src/evmCoin.ts
  modules/sdk-coin-xdc/src/xdc.ts
  modules/sdk-coin-xdc/src/xdcToken.ts
  modules/sdk-core/src/bitgo/baseCoin/iBaseCoin.ts
  modules/sdk-core/src/bitgo/utils/tss/baseTypes.ts
  modules/sdk-core/src/bitgo/utils/tss/ecdsa/ecdsa.ts
  modules/sdk-core/src/bitgo/utils/tss/ecdsa/ecdsaMPCv2.ts
  modules/sdk-core/src/bitgo/utils/tss/index.ts
  modules/sdk-core/src/bitgo/utils/tss/recipientUtils.ts
  modules/sdk-core/src/bitgo/wallet/iWallet.ts
  modules/sdk-core/test/unit/bitgo/utils/tss/ecdsa/ecdsaMPCv2.ts
  modules/sdk-core/test/unit/bitgo/utils/tss/recipientUtils.ts
Due: none

feat(sdk-core): make GoStakeOptions.walletPassphrase optional
  modules/bitgo/test/v2/unit/staking/goStakingWalletCommon.ts
  modules/sdk-core/src/bitgo/staking/goStakingInterfaces.ts
Due: bitgo

feat(sdk-coin-sui): update walrus testnet config
  modules/sdk-coin-sui/src/lib/resources/walrusConfig.ts
Due: none

fix(sdk-core): read defi vault operationId from coinSpecific
  modules/sdk-core/src/bitgo/defi/defiVault.ts
  modules/sdk-core/test/unit/bitgo/defi/defiVault.ts
Due: none

fix(statics): use DTCC PSE registrar URL for Canton test tokens
  modules/statics/src/coins/cantonTokens.ts
Due: statics

feat(statics): onboard USDai and sUSDai
  modules/statics/src/allCoinsAndTokens.ts
  modules/statics/src/base.ts
  modules/statics/src/coins/ofcCoins.ts
  modules/statics/src/coins/ofcErc20Coins.ts
Due: statics

feat: recovery support for TRX MPC wallets
  modules/sdk-coin-trx/src/trx.ts
  modules/sdk-coin-trx/test/resources.ts
  modules/sdk-coin-trx/test/unit/trx.ts
Due: none

feat: added parseTransaction method implementation for canton Ticket: CHALO-671
  modules/sdk-coin-canton/src/canton.ts
Due: none

Path conditions:
  bitgo: any of: modules/bitgo
  account-lib: any of: modules/account-lib
  statics: any of: modules/statics
  express: any of: modules/express
