Repository BitGo/BitGoJS: changes, and which Codecov flags are due for each by the changed paths.
All: bitgo, account-lib, statics, express

feat(bitgo): wire Starknet into coin factory and account-lib CECHO-924
  CODEOWNERS
  Dockerfile
  modules/account-lib/package.json
  modules/account-lib/src/index.ts
  modules/account-lib/tsconfig.json
  modules/bitgo/package.json
  modules/bitgo/src/v2/coinFactory.ts
  modules/bitgo/src/v2/coins/index.ts
  modules/bitgo/tsconfig.json
  tsconfig.packages.json
  yarn.lock
Due: bitgo, account-lib

feat(utxo-descriptors): add methods to parse sbtc descriptor
  modules/abstract-utxo/package.json
  modules/utxo-bin/package.json
  modules/utxo-core/package.json
  modules/utxo-descriptors/package.json
  modules/utxo-descriptors/src/sbtc/index.ts
  modules/utxo-descriptors/src/sbtc/parseDescriptor.ts
  modules/utxo-descriptors/test/unit/sbtc/parseDescriptor.ts
  modules/utxo-ord/package.json
  modules/utxo-staking/package.json
  package.json
  yarn.lock
Due: none

test(abstract-utxo): reproduce BitGoPsbt rejection in descriptor sign
  modules/abstract-utxo/test/unit/transaction/descriptor/signTransactionGuard.ts
Due: none

refactor(abstract-utxo): decode descriptor PSBTs directly to wasm Psbt
  modules/abstract-utxo/src/abstractUtxoCoin.ts
  modules/abstract-utxo/src/transaction/decode.ts
  modules/abstract-utxo/src/transaction/descriptor/parse.ts
  modules/abstract-utxo/src/transaction/descriptor/verifyTransaction.ts
  modules/abstract-utxo/src/transaction/explainTransaction.ts
  modules/abstract-utxo/src/transaction/signTransaction.ts
Due: none

test(abstract-utxo): add E2E descriptor signTransaction test
  modules/abstract-utxo/test/unit/transaction/descriptor/signTransactionE2E.ts
Due: none

fix(abstract-eth): update abi encoding for zama tx TICKET: CHALO-472
  modules/abstract-eth/src/lib/zamaUtils.ts
Due: none

feat(abstract-eth): override getSignablePayload for ETH coin classes
  modules/abstract-eth/src/abstractEthLikeCoin.ts
  modules/abstract-eth/src/lib/iface.ts
  modules/abstract-eth/src/lib/transaction.ts
  modules/abstract-eth/src/lib/types.ts
  modules/abstract-eth/test/unit/transaction.ts
  modules/sdk-coin-eth/test/unit/eth.ts
  modules/sdk-coin-eth/test/unit/transaction.ts
Due: none

fix(sdk-coin-flrp): map stake intent type to add permissionless tx
  modules/sdk-coin-flrp/src/flrp.ts
  modules/sdk-coin-flrp/test/unit/flrp.ts
Due: none

feat(sdk-core): add v2 decryption support to password change
  modules/bitgo/test/v2/unit/keychains.ts
  modules/express/src/clientRoutes.ts
  modules/express/test/unit/clientRoutes/changeKeychainPassword.ts
  modules/sdk-core/src/bitgo/keychain/iKeychains.ts
  modules/sdk-core/src/bitgo/keychain/keychains.ts
Due: bitgo, express

feat: add v2 encrypt/decrypt support to WRW flows
  modules/abstract-eth/src/abstractEthLikeNewCoins.ts
  modules/abstract-eth/src/ethLikeToken.ts
  modules/abstract-substrate/src/abstractSubstrateCoin.ts
  modules/sdk-api/src/encryptV2.ts
  modules/sdk-coin-ada/src/ada.ts
  modules/sdk-coin-algo/src/algo.ts
  modules/sdk-coin-algo/test/unit/algo.ts
  modules/sdk-coin-avaxc/src/avaxc.ts
  modules/sdk-coin-dot/src/dot.ts
  modules/sdk-coin-etc/src/etc.ts
  modules/sdk-coin-eth/src/erc20Token.ts
  modules/sdk-coin-eth/src/erc721Token.ts
  modules/sdk-coin-eth/src/eth.ts
  modules/sdk-coin-ethlike/test/fixtures/ethlikeCoin.ts
  modules/sdk-coin-hbar/src/hbar.ts
  modules/sdk-coin-hbar/test/unit/hbar.ts
  modules/sdk-coin-iota/src/iota.ts
  modules/sdk-coin-near/src/near.ts
  modules/sdk-coin-polyx/src/polyx.ts
  modules/sdk-coin-sol/src/sol.ts
  modules/sdk-coin-sol/test/unit/sol.ts
  modules/sdk-coin-sui/src/sui.ts
  modules/sdk-coin-ton/src/ton.ts
  modules/sdk-coin-ton/test/unit/ton.ts
  modules/sdk-coin-xlm/src/getStellarKeys.ts
  modules/sdk-coin-xlm/src/xlm.ts
  modules/sdk-coin-xtz/src/xtz.ts
Due: none

fix(root): update dependency versions for new modules from master merge
  modules/sdk-coin-kaspa/package.json
  modules/sdk-coin-starknet/package.json
  modules/sdk-coin-tempo/package.json
Due: none

fix(sdk-coin-stx): remove incorrect hashbytes padding in sbtc withdraw
  modules/sdk-coin-stx/src/lib/sbtcWithdrawBuilder.ts
  modules/sdk-coin-stx/test/unit/transactionBuilder/sbtcWithdrawBuilder.ts
Due: none

feat(abstract-eth): override getSignablePayload for ETH coin classes
  modules/abstract-eth/src/abstractEthLikeCoin.ts
  modules/abstract-eth/src/ethLikeToken.ts
  modules/abstract-eth/src/lib/iface.ts
  modules/abstract-eth/src/lib/transaction.ts
  modules/abstract-eth/src/lib/types.ts
  modules/abstract-eth/test/unit/transaction.ts
  modules/sdk-coin-bsc/test/unit/bscToken.ts
  modules/sdk-coin-eth/test/unit/eth.ts
  modules/sdk-coin-eth/test/unit/transaction.ts
Due: none

feat(sdk-core): add externalSigner createOfflineRound1Share handler
  modules/sdk-core/src/bitgo/utils/tss/eddsa/eddsaMPCv2.ts
  modules/sdk-core/test/unit/bitgo/utils/tss/eddsa/eddsaMPCv2.ts
Due: none

feat(statics): add Katana Network EVM chain (katanaeth/tkatanaeth)
  modules/sdk-core/src/bitgo/environments.ts
  modules/statics/src/allCoinsAndTokens.ts
  modules/statics/src/base.ts
  modules/statics/src/coins/ofcCoins.ts
  modules/statics/src/networkFeatureMapForTokens.ts
  modules/statics/src/networks.ts
  modules/statics/test/unit/fixtures/expectedColdFeatures.ts
Due: statics

feat(abstract-utxo): restrict utxolib to BTC only
  modules/abstract-utxo/src/abstractUtxoCoin.ts
Due: none

fix(sdk-coin-trx): emit canonical AccountCreate raw_data_hex
  modules/sdk-coin-trx/src/lib/accountCreateTxBuilder.ts
  modules/sdk-coin-trx/test/unit/transactionBuilder/accountCreateTxBuilder.ts
Due: none

feat(sdk-coin-eth): implement enableToken flow for ERC-7984 confidential tokens TICKET: CHALO-472
  modules/abstract-eth/src/lib/zamaUtils.ts
  modules/sdk-coin-eth/src/erc7984Token.ts
  modules/sdk-coin-eth/test/unit/erc7984Token.ts
Due: none

fix(sdk-coin-flrp): handle missing txParams.type in verifyTransaction for MPC staking flow
  modules/sdk-coin-flrp/src/flrp.ts
  modules/sdk-coin-flrp/test/resources/transactionData/multisigDelegationTx.ts
  modules/sdk-coin-flrp/test/unit/flrp.ts
Due: none

feat(sdk-coin-starknet): add Poseidon V3 INVOKE transaction hash computation
  modules/sdk-coin-starknet/src/lib/constants.ts
  modules/sdk-coin-starknet/src/lib/iface.ts
  modules/sdk-coin-starknet/src/lib/transaction.ts
  modules/sdk-coin-starknet/src/lib/transactionBuilder.ts
  modules/sdk-coin-starknet/src/lib/utils.ts
  modules/sdk-coin-starknet/test/resources/starknet.ts
  modules/sdk-coin-starknet/test/unit/transferBuilder.ts
  modules/sdk-coin-starknet/test/unit/utils.ts
Due: none

chore: bump public types to v6.17.0
  modules/abstract-lightning/package.json
  modules/bitgo/package.json
  modules/express/package.json
  modules/sdk-coin-flrp/package.json
  modules/sdk-coin-sol/package.json
  modules/sdk-core/package.json
  yarn.lock
Due: bitgo, express

feat(sdk-coin-polyx): add NominateBuilder for standalone nominate txns
  modules/sdk-coin-polyx/src/lib/index.ts
  modules/sdk-coin-polyx/src/lib/nominateBuilder.ts
  modules/sdk-coin-polyx/src/lib/transactionBuilderFactory.ts
  modules/sdk-coin-polyx/src/lib/txnSchema.ts
  modules/sdk-coin-polyx/test/resources/index.ts
  modules/sdk-coin-polyx/test/unit/transactionBuilder/nominateBuilder.ts
Due: none

feat(statics): expose bech32 HRP via AccountNetwork.addressPrefix
  modules/statics/src/networks.ts
  modules/statics/test/unit/networks.ts
Due: statics

refactor(root): consume bech32 HRP from statics for Cosmos-family coins
  modules/sdk-coin-asi/src/lib/constants.ts
  modules/sdk-coin-asi/src/lib/keyPair.ts
  modules/sdk-coin-atom/src/lib/constants.ts
  modules/sdk-coin-atom/src/lib/keyPair.ts
  modules/sdk-coin-baby/src/lib/constants.ts
  modules/sdk-coin-baby/src/lib/keyPair.ts
  modules/sdk-coin-bld/src/lib/constants.ts
  modules/sdk-coin-bld/src/lib/keyPair.ts
  modules/sdk-coin-coreum/src/lib/constants.ts
  modules/sdk-coin-coreum/src/lib/keyPair.ts
  modules/sdk-coin-cronos/src/lib/constants.ts
  modules/sdk-coin-cronos/src/lib/keyPair.ts
  modules/sdk-coin-hash/src/lib/constants.ts
  modules/sdk-coin-hash/src/lib/keyPair.ts
  modules/sdk-coin-initia/src/lib/constants.ts
  modules/sdk-coin-initia/src/lib/keyPair.ts
  modules/sdk-coin-injective/src/lib/constants.ts
  modules/sdk-coin-injective/src/lib/keyPair.ts
  modules/sdk-coin-islm/src/lib/constants.ts
  modules/sdk-coin-islm/src/lib/keyPair.ts
  modules/sdk-coin-mantra/src/lib/constants.ts
  modules/sdk-coin-mantra/src/lib/keyPair.ts
  modules/sdk-coin-osmo/src/lib/constants.ts
  modules/sdk-coin-osmo/src/lib/keyPair.ts
  modules/sdk-coin-rune/src/lib/constants.ts
  modules/sdk-coin-rune/src/lib/keyPair.ts
  modules/sdk-coin-rune/src/lib/utils.ts
  modules/sdk-coin-rune/test/unit/utils.ts
  modules/sdk-coin-sei/src/lib/constants.ts
  modules/sdk-coin-sei/src/lib/keyPair.ts
  modules/sdk-coin-tia/src/lib/constants.ts
  modules/sdk-coin-tia/src/lib/keyPair.ts
  modules/sdk-coin-zeta/src/lib/constants.ts
  modules/sdk-coin-zeta/src/lib/keyPair.ts
Due: none

feat(sdk-coin-starknet): add tokenContractAddress setter to TransferBuilder
  modules/sdk-coin-starknet/src/lib/transferBuilder.ts
Due: none

feat(sdk-coin-canton): enabling merge functionality for Production canton wallets
  modules/statics/src/allCoinsAndTokens.ts
Due: statics

feat(sdk-coin-canton): add CantonCommand transaction support
  modules/sdk-coin-canton/src/canton.ts
  modules/sdk-coin-canton/src/lib/cantonCommandBuilder.ts
  modules/sdk-coin-canton/src/lib/iface.ts
  modules/sdk-coin-canton/src/lib/index.ts
  modules/sdk-coin-canton/src/lib/resourcesInterface.ts
  modules/sdk-coin-canton/src/lib/transaction/transaction.ts
  modules/sdk-coin-canton/src/lib/transactionBuilderFactory.ts
  modules/sdk-coin-canton/src/lib/utils.ts
  modules/sdk-coin-canton/test/resources.ts
  modules/sdk-coin-canton/test/unit/builder/cantonCommand/cantonCommandBuilder.ts
  modules/sdk-coin-canton/test/unit/canton.ts
  modules/sdk-coin-canton/test/unit/utils.ts
  modules/sdk-core/src/account-lib/baseCoin/enum.ts
  modules/sdk-core/src/bitgo/utils/mpcUtils.ts
  modules/sdk-core/src/bitgo/utils/tss/baseTypes.ts
Due: none

feat(abstract-wasm-coin): add pluggable WASM coin adapter module
  modules/abstract-wasm-coin/.eslintignore
  modules/abstract-wasm-coin/.mocharc.yml
  modules/abstract-wasm-coin/package.json
  modules/abstract-wasm-coin/src/abstractWasmCoin.ts
  modules/abstract-wasm-coin/src/adapters/dot.ts
  modules/abstract-wasm-coin/src/adapters/solana.ts
  modules/abstract-wasm-coin/src/adapters/ton.ts
  modules/abstract-wasm-coin/src/demo/dotDemo.ts
  modules/abstract-wasm-coin/src/demo/solanaDemo.ts
  modules/abstract-wasm-coin/src/demo/tonDemo.ts
  modules/abstract-wasm-coin/src/index.ts
  modules/abstract-wasm-coin/src/registry.ts
  modules/abstract-wasm-coin/src/types.ts
  modules/abstract-wasm-coin/test/unit/registry.ts
  modules/abstract-wasm-coin/tsconfig.json
Due: none

feat(sdk-coin-canton): added fanout utxos support for tcanton
  modules/statics/src/allCoinsAndTokens.ts
  modules/statics/src/base.ts
Due: statics

refactor(abstract-utxo): drop DescriptorMap/SignerKey/sumValues from wasmUtil
  modules/abstract-utxo/src/descriptor/descriptorWallet.ts
  modules/abstract-utxo/src/descriptor/index.ts
  modules/abstract-utxo/src/descriptor/validatePolicy.ts
  modules/abstract-utxo/src/transaction/descriptor/explainPsbt.ts
  modules/abstract-utxo/src/transaction/descriptor/index.ts
  modules/abstract-utxo/src/transaction/descriptor/signPsbt.ts
Due: none

refactor(abstract-utxo): narrow descriptor PSBT type unions to wasm-only
  modules/abstract-utxo/src/offlineVault/descriptor/transaction.ts
  modules/abstract-utxo/src/transaction/descriptor/parse.ts
  modules/abstract-utxo/src/transaction/descriptor/verifyTransaction.ts
Due: none

refactor(abstract-utxo): inline toWasmBIP32 in signPsbtWasm
  modules/abstract-utxo/src/transaction/fixedScript/signPsbtWasm.ts
Due: none

chore(scripts): remove utxo boilerplate from sdk-coin-generator
  scripts/sdk-coin-generator/index.js
  scripts/sdk-coin-generator/template/boilerplates/utxo/.mainnet.ts
  scripts/sdk-coin-generator/template/boilerplates/utxo/.testnet.ts
  scripts/sdk-coin-generator/template/boilerplates/utxo/.tsconfig.json
  scripts/sdk-coin-generator/template/boilerplates/utxo/index.ts
  scripts/sdk-coin-generator/template/boilerplates/utxo/transaction.ts
  scripts/sdk-coin-generator/template/boilerplates/utxo/transactionBuilder.ts
Due: none

refactor(abstract-utxo): inline deriveKeyWithSeed to drop toUtxolibBIP32 callers
  modules/abstract-utxo/src/deriveKeyWithSeed.ts
  modules/abstract-utxo/src/impl/btc/inscriptionBuilder.ts
  modules/abstract-utxo/src/offlineVault/OfflineVaultHalfSigned.ts
  modules/abstract-utxo/test/unit/deriveKeyWithSeed.ts
Due: none

feat(sdk-core): add externalSigner createOfflineRound3Share handler
  modules/sdk-core/src/bitgo/utils/tss/eddsa/eddsaMPCv2.ts
  modules/sdk-core/test/unit/bitgo/utils/tss/eddsa/eddsaMPCv2.ts
Due: none

Path conditions:
  bitgo: any of: modules/bitgo
  account-lib: any of: modules/account-lib
  statics: any of: modules/statics
  express: any of: modules/express
