Repository BitGo/BitGoJS: changes, and which Codecov flags are due for each by the changed paths.
All: bitgo, account-lib, statics, express

.codecov.yml:

coverage:
  status:
    project: off
    patch: off
comment:
  layout: "diff, flags, files"
  require_changes: true
flags:
  bitgo:
    paths:
      - modules/core
  account-lib:
    paths:
      - modules/account-lib
  statics:
    paths:
      - modules/statics
  express:
    paths:
      - modules/express

refactor(core): add deprecation notice to `hdPath()` helper
  modules/core/src/bitcoin.ts
Due: bitgo

refactor(core): deprecate hdPath, hash256 in baseCoin
  modules/core/src/v2/baseCoin.ts
Due: bitgo

refactor(core): deprecate hdPath in wallet(s).ts
  modules/core/src/wallet.ts
  modules/core/src/wallets.ts
Due: bitgo

refactor(core): deprecate hdPath in abstractUtxoCoin
  modules/core/src/v2/coins/abstractUtxoCoin.ts
Due: bitgo

refactor(core): deprecate hdPath in xtz.ts
  modules/core/src/v2/coins/xtz.ts
Due: bitgo

refactor(core): deprecate hdPath in v2/wallets
  modules/core/src/v2/wallets.ts
Due: bitgo

refactor(core): deprecate hdPath in src/bitgo.ts
  modules/core/src/bitgo.ts
Due: bitgo

refactor(core): deprecate hdPath in Keychains
  modules/core/src/keychains.ts
Due: bitgo

refactor(core): deprecate hdPath in src/travelRule.ts
  modules/core/src/travelRule.ts
Due: bitgo

refactor(core): deprecate hdPath in travelRule test
  modules/core/test/integration/travelRule.ts
Due: bitgo

fix(core): address verification should fail for uppercase bech32 addresses
  modules/core/src/v2/coins/abstractUtxoCoin.ts
  modules/core/test/v2/unit/coins/ltc.ts
Due: bitgo

style(core): implemented es lint fixes
  modules/core/src/v2/coins/ltc.ts
  modules/core/test/lib/test_bitgo.ts
  modules/core/test/v2/unit/coins/ltc.ts
Due: bitgo

chore(core): replaced mocha.opts with .mocharc.yml
  modules/core/.mocharc.yml
  modules/core/package.json
  modules/core/test/mocha.opts
Due: bitgo

test(core): changed description of tests to reflect non-lowercase address behavior
  modules/core/test/v2/unit/coins/ltc.ts
Due: bitgo

test(core): added more tests for completeness
  modules/core/test/v2/unit/coins/ltc.ts
Due: bitgo

style(core): fixed eslint error
  modules/core/src/v2/coins/abstractUtxoCoin.ts
Due: bitgo

feat(account-lib): unit test for non participation in keyRegistrationBuilder
  modules/account-lib/test/unit/coin/algo/transactionBuilder/keyRegistrationBuilder.ts
Due: account-lib

feat(algo): misc updates for platform migration to use account lib
  modules/account-lib/package-lock.json
  modules/account-lib/package.json
  modules/account-lib/src/coin/algo/assetTransferBuilder.ts
  modules/account-lib/src/coin/algo/ifaces.ts
  modules/account-lib/src/coin/algo/keyPair.ts
  modules/account-lib/src/coin/algo/keyRegistrationBuilder.ts
  modules/account-lib/src/coin/algo/transaction.ts
  modules/account-lib/src/coin/algo/transactionBuilder.ts
  modules/account-lib/src/coin/algo/transactionBuilderFactory.ts
  modules/account-lib/src/coin/algo/transferBuilder.ts
  modules/account-lib/src/coin/algo/txnSchema.ts
  modules/account-lib/src/coin/algo/utils.ts
  modules/account-lib/src/coin/baseCoin/ed25519KeyPair.ts
  modules/account-lib/src/utils/crypto.ts
  modules/account-lib/test/unit/coin/algo/keyPair.ts
  modules/account-lib/test/unit/coin/algo/transaction.ts
  modules/account-lib/test/unit/coin/algo/transactionBuilder/assetTransferBuilder.ts
  modules/account-lib/test/unit/coin/algo/utils.ts
Due: account-lib

chore(release): publish modules
  modules/account-lib/package.json
  modules/blake2b-wasm/package.json
  modules/blake2b/package-lock.json
  modules/blake2b/package.json
  modules/core/package.json
  modules/express/package-lock.json
  modules/express/package.json
  modules/statics/package.json
  modules/utxo-lib/package.json
Due: bitgo, account-lib, statics, express

fix(core): fix regression in `addAccessToken` when using v1 auth
  modules/core/src/bitgo.ts
Due: bitgo

feat(account-lib): transaction and transaction builder tests
  modules/account-lib/package.json
  modules/account-lib/src/coin/xrp/index.ts
  modules/account-lib/src/coin/xrp/transaction.ts
  modules/account-lib/src/coin/xrp/transactionBuilder.ts
  modules/account-lib/src/coin/xrp/utils.ts
  modules/account-lib/test/resources/xrp/xrp.ts
  modules/account-lib/test/unit/coin/xrp/transaction.ts
  modules/account-lib/test/unit/coin/xrp/transactionBuilder/base.ts
  modules/account-lib/test/unit/coin/xrp/transactionBuilder/transferBuilder.ts
  modules/account-lib/test/unit/coin/xrp/transactionBuilder/walletInitializationBuilder.ts
Due: account-lib

feat(account-lib): comment removals
  modules/account-lib/test/unit/coin/xrp/keyPair.ts
  modules/account-lib/test/unit/coin/xrp/transactionBuilder/transferBuilder.ts
  modules/account-lib/test/unit/coin/xrp/transactionBuilder/walletInitializationBuilder.ts
Due: account-lib

feat(account-lib): xrp transaction builder factory
  modules/account-lib/src/coin/xrp/transactionBuilderFactory.ts
Due: account-lib

refactor(core): use bip32 in transactionBuilder
  modules/core/src/transactionBuilder.ts
Due: bitgo

refactor(core): use bip32 in xtz
  modules/core/src/v2/coins/xtz.ts
Due: bitgo

refactor(core): use bip32 in src/bitgo.ts
  modules/core/src/bitgo.ts
Due: bitgo

refactor(core): use bip32 in keychains
  modules/core/src/keychains.ts
Due: bitgo

refactor(core): use bip32 in abstractEthLikeCoin
  modules/core/src/v2/coins/abstractEthLikeCoin.ts
Due: bitgo

refactor(core): use bip32 in trx
  modules/core/src/v2/coins/trx.ts
Due: bitgo

refactor(core): use bip32 in ofc
  modules/core/src/v2/coins/ofc.ts
Due: bitgo

refactor(core): use bip32 in baseCoin
  modules/core/src/v2/baseCoin.ts
Due: bitgo

refactor(core): use bip32 in erc20Token
  modules/core/src/v2/coins/erc20Token.ts
Due: bitgo

refactor(core): use bip32 in eth
  modules/core/src/v2/coins/eth.ts
  modules/core/test/v2/unit/coins/eth.ts
  modules/core/test/v2/unit/ethWallet.ts
Due: bitgo

fix(core): fix bip32-based `isValidPub`/`isValidPrv`
  modules/core/src/v2/coins/eos.ts
  modules/core/src/v2/coins/eth.ts
  modules/core/src/v2/coins/xrp.ts
Due: bitgo

feat(account-lib): skeleton code for avalanche c-chain in account-lib
  modules/account-lib/package.json
  modules/account-lib/src/coin/avaxc/index.ts
  modules/account-lib/src/coin/avaxc/keyPair.ts
  modules/account-lib/src/coin/avaxc/resources.ts
  modules/account-lib/src/coin/avaxc/transactionBuilder.ts
  modules/account-lib/src/coin/avaxc/transferBuilder.ts
  modules/account-lib/src/coin/avaxc/utils.ts
  modules/account-lib/src/index.ts
  modules/account-lib/test/unit/coin/avaxc/transaction.ts
  modules/account-lib/test/unit/coin/avaxc/transactionBuilder/send.ts
  modules/account-lib/test/unit/coin/avaxc/transactionBuilder/walletInitializationBuilder.ts
  modules/core/package.json
  modules/statics/package.json
Due: bitgo, account-lib, statics

refactor(core): use bip32 in src/wallet.ts
  modules/core/src/wallet.ts
Due: bitgo

chore(release): publish modules
  modules/core/package.json
  modules/express/package-lock.json
  modules/express/package.json
Due: bitgo, express

chore(core): apply prettier to xrp.ts
  modules/core/src/v2/coins/xrp.ts
Due: bitgo

chore(core): apply prettier to xlm
  modules/core/src/v2/coins/xlm.ts
Due: bitgo
